Repository prowler-cloud/prowler, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, provider/aws, provider/azure, provider/gcp, provider/kubernetes, github_actions, cli, mutelist, integration/s3, integration/slack, integration/security-hub, output/html, output/asff, output/ocsf, output/csv, component/api, component/ui

chore: update api spec
  api/src/backend/api/specs/v1.yaml
Labels: component/api

chore: apply v5 feedback changes (new endpoint implemented)
  ui/actions/findings/findings.ts
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/page.tsx
Labels: component/ui

feat(v5): tweaks UI (#5971)
  ui/actions/findings/findings.ts
  ui/actions/providers/providers.ts
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/page.tsx
  ui/app/(prowler)/providers/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/components/filters/custom-date-picker.tsx
  ui/components/filters/data-filters.ts
  ui/components/filters/filter-controls.tsx
  ui/components/findings/table/column-findings.tsx
  ui/components/findings/table/finding-detail.tsx
  ui/components/overview/findings-by-status-chart/findings-by-status-chart.tsx
  ui/components/overview/new-findings-table/link-to-findings/link-to-findings.tsx
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
  ui/components/overview/new-findings-table/table/finding-detail.tsx
  ui/components/providers/index.ts
  ui/components/providers/link-to-scans.tsx
  ui/components/providers/provider-info.tsx
  ui/components/providers/table/column-providers.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/providers/workflow/forms/via-credentials-form.tsx
  ui/components/providers/workflow/workflow-add-provider.tsx
  ui/components/scans/index.ts
  ui/components/scans/link-to-findings-from-scan.tsx
  ui/components/scans/table/scan-detail.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/scans/table/scans/data-table-row-actions.tsx
  ui/components/ui/custom/custom-button.tsx
  ui/components/ui/custom/custom-dropdown-filter.tsx
  ui/components/ui/entities/date-with-time.tsx
  ui/components/ui/entities/entity-info-short.tsx
  ui/components/ui/entities/get-provider-logo.tsx
  ui/components/ui/entities/index.ts
  ui/components/ui/sidebar/sidebar-items.tsx
  ui/components/ui/sidebar/sidebar-wrap.tsx
Labels: component/ui

fix(overview): retrieve aggregated findings from completed scans
  api/src/backend/api/v1/views.py
Labels: component/api

fix(overview): retrieve aggregated findings from completed scans (#5975)
  api/src/backend/api/v1/views.py
Labels: component/api

chore: apply v5 feedback changes (scans table)
  ui/actions/findings/findings.ts
  ui/app/(prowler)/scans/page.tsx
  ui/components/providers/table/data-table-row-actions.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/ui/entities/date-with-time.tsx
  ui/components/ui/entities/entity-info-short.tsx
  ui/components/ui/entities/snippet-id.tsx
  ui/components/ui/table/data-table-column-header.tsx
  ui/types/components.ts
Labels: component/ui

fix(tests): use datetime now in GCP
  tests/providers/gcp/services/kms/kms_key_rotation_enabled/kms_key_rotation_enabled_test.py
Labels: provider/gcp

fix(tests): use `datetime.datetime.now()` in GCP `kms_key_rotation_enabled` (#5976)
  tests/providers/gcp/services/kms/kms_key_rotation_enabled/kms_key_rotation_enabled_test.py
Labels: provider/gcp

feat(docker-compose): add Docker Compose YAMLs and `.env` (#5909)
  .env
  .gitignore
  docker-compose-dev.yml
  docker-compose.yml
Labels: none

fix(docs): Docker compose files download
  README.md
  docs/index.md
Labels: documentation

feat(scan): add next_scan_at field to model
  api/src/backend/api/migrations/0001_initial.py
  api/src/backend/api/models.py
Labels: component/api

feat(schedules): add /schedules/daily endpoint and logic
  api/src/backend/api/filters.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/beat.py
  api/src/backend/tasks/tasks.py
Labels: component/api

test(schedule,beat): add unit tests
  api/src/backend/api/tests/test_views.py
  api/src/backend/tasks/tests/test_beat.py
Labels: component/api

chore: update api spec
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Labels: component/api

fix(scan): next_scan_at date calculation
  api/src/backend/api/v1/serializers.py
  api/src/backend/tasks/tasks.py
Labels: component/api

feat(schedule): perform scan overview task after scheduled scan
  api/src/backend/tasks/tasks.py
Labels: component/api

chore: apply v5 feedback changes (rename action)
  ui/components/providers/table/data-table-row-actions.tsx
Labels: component/ui

feat(scan, schedule): add next_scan_at field to scans and POST /schedules/daily (#5978)
  api/src/backend/api/filters.py
  api/src/backend/api/migrations/0001_initial.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/beat.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_beat.py
Labels: component/api

chore: apply v5 feedback changes (scans workflow)
  ui/components/filters/data-filters.ts
  ui/components/scans/launch-workflow/launch-scan-workflow-form.tsx
  ui/components/scans/launch-workflow/select-scan-provider.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/ui/entities/entity-info-short.tsx
  ui/components/ui/entities/snippet-id.tsx
  ui/components/ui/table/status-badge.tsx
  ui/components/ui/table/table.tsx
Labels: component/ui

chore: apply v5 feedback changes (add no-providers-added component)
  ui/components/scans/index.ts
  ui/components/scans/no-providers-added.tsx
Labels: component/ui

chore: apply v5 feedback changes (handle no cloud accounts connected)
  ui/app/(prowler)/scans/page.tsx
  ui/components/scans/index.ts
  ui/components/scans/launch-workflow/launch-scan-workflow-form.tsx
  ui/components/scans/no-providers-connected.tsx
Labels: component/ui

fix(docs): Docker compose files download (#5977)
  README.md
  docs/index.md
Labels: documentation

chore: apply v5 feedback changes (tweaks findings table)
  ui/app/(prowler)/findings/page.tsx
  ui/components/findings/table/column-findings.tsx
  ui/components/scans/launch-workflow/launch-scan-workflow-form.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
Labels: component/ui

chore: apply v5 feedback changes (tweaks findings filters)
  ui/app/(prowler)/findings/page.tsx
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
  ui/components/overview/provider-overview/provider-overview.tsx
Labels: component/ui

chore: apply v5 feedback changes (sidebar items)
  ui/app/(prowler)/findings/page.tsx
  ui/components/ui/sidebar/sidebar-wrap.tsx
Labels: component/ui

feat(scan): add state filter
  api/src/backend/api/filters.py
  api/src/backend/api/tests/test_views.py
Labels: component/api

chore: update api spec
  api/src/backend/api/specs/v1.yaml
Labels: component/api

chore: apply v5 feedback changes (overview boxes)
  ui/app/(prowler)/page.tsx
  ui/components/overview/findings-by-severity-chart/findings-by-severity-chart.tsx
  ui/components/overview/findings-by-status-chart/findings-by-status-chart.tsx
  ui/components/overview/provider-overview/provider-overview.tsx
Labels: component/ui

chore: ruff styling
  api/src/backend/tasks/tasks.py
Labels: component/api

feat(scan): add state filter for scans endpoints (#5980)
  api/src/backend/api/filters.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/tasks/tasks.py
Labels: component/api

feat(v5): tweaks UI for v5 release - 2 (#5979)
  ui/actions/findings/findings.ts
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/components/filters/data-filters.ts
  ui/components/findings/table/column-findings.tsx
  ui/components/overview/findings-by-severity-chart/findings-by-severity-chart.tsx
  ui/components/overview/findings-by-status-chart/findings-by-status-chart.tsx
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
  ui/components/overview/provider-overview/provider-overview.tsx
  ui/components/providers/table/data-table-row-actions.tsx
  ui/components/scans/index.ts
  ui/components/scans/launch-workflow/launch-scan-workflow-form.tsx
  ui/components/scans/launch-workflow/select-scan-provider.tsx
  ui/components/scans/no-providers-added.tsx
  ui/components/scans/no-providers-connected.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/ui/entities/date-with-time.tsx
  ui/components/ui/entities/entity-info-short.tsx
  ui/components/ui/entities/snippet-id.tsx
  ui/components/ui/sidebar/sidebar-wrap.tsx
  ui/components/ui/table/data-table-column-header.tsx
  ui/components/ui/table/status-badge.tsx
  ui/components/ui/table/table.tsx
  ui/types/components.ts
Labels: component/ui

chore: apply v5 feedback changes (scan page)
  ui/app/(prowler)/scans/page.tsx
Labels: component/ui

chore: apply v5 feedback changes (scan page) (#5981)
  ui/app/(prowler)/scans/page.tsx
Labels: component/ui

chore: color tweaks
  ui/components/scans/no-providers-added.tsx
  ui/components/scans/no-providers-connected.tsx
Labels: component/ui

chore: apply v5 feedback changes (implement new endpoint)
  ui/actions/scans/scans.ts
  ui/components/providers/workflow/forms/test-connection-form.tsx
Labels: component/ui

chore: apply v5 feedback changes (tweak graphs)
  ui/components/overview/findings-by-status-chart/findings-by-status-chart.tsx
Labels: component/ui

Feature/v5 tweaks UI v4 (#5982)
  ui/actions/scans/scans.ts
  ui/components/overview/findings-by-status-chart/findings-by-status-chart.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/scans/no-providers-added.tsx
  ui/components/scans/no-providers-connected.tsx
Labels: component/ui

feat(provider): add include query parameter for provider_groups (#5974)
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
Labels: component/api

chore: apply v5 feedback changes (add link to the graph)
  ui/components/overview/findings-by-severity-chart/findings-by-severity-chart.tsx
Labels: component/ui

chore: apply v5 feedback changes (add link to the graph) (#5983)
  ui/components/overview/findings-by-severity-chart/findings-by-severity-chart.tsx
Labels: component/ui

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

provider/aws:
  - changed-files:
      - any-glob-to-any-file: "prowler/providers/aws/**"
      - any-glob-to-any-file: "tests/providers/aws/**"

provider/azure:
  - changed-files:
      - any-glob-to-any-file: "prowler/providers/azure/**"
      - any-glob-to-any-file: "tests/providers/azure/**"

provider/gcp:
  - changed-files:
      - any-glob-to-any-file: "prowler/providers/gcp/**"
      - any-glob-to-any-file: "tests/providers/gcp/**"

provider/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "prowler/providers/kubernetes/**"
      - any-glob-to-any-file: "tests/providers/kubernetes/**"

github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*"

cli:
  - changed-files:
      - any-glob-to-any-file: "cli/**"

mutelist:
  - changed-files:
      - any-glob-to-any-file: "prowler/lib/mutelist/**"
      - any-glob-to-any-file: "prowler/providers/aws/lib/mutelist/**"
      - any-glob-to-any-file: "prowler/providers/azure/lib/mutelist/**"
      - any-glob-to-any-file: "prowler/providers/gcp/lib/mutelist/**"
      - any-glob-to-any-file: "prowler/providers/kubernetes/lib/mutelist/**"
      - any-glob-to-any-file: "tests/lib/mutelist/**"
      - any-glob-to-any-file: "tests/providers/aws/lib/mutelist/**"
      - any-glob-to-any-file: "tests/providers/azure/lib/mutelist/**"
      - any-glob-to-any-file: "tests/providers/gcp/lib/mutelist/**"
      - any-glob-to-any-file: "tests/providers/kubernetes/lib/mutelist/**"

integration/s3:
  - changed-files:
      - any-glob-to-any-file: "prowler/providers/aws/lib/s3/**"
      - any-glob-to-any-file: "tests/providers/aws/lib/s3/**"

integration/slack:
  - changed-files:
      - any-glob-to-any-file: "prowler/lib/outputs/slack/**"
      - any-glob-to-any-file: "tests/lib/outputs/slack/**"

integration/security-hub:
  - changed-files:
      - any-glob-to-any-file: "prowler/providers/aws/lib/security_hub/**"
      - any-glob-to-any-file: "tests/providers/aws/lib/security_hub/**"
      - any-glob-to-any-file: "prowler/lib/outputs/asff/**"
      - any-glob-to-any-file: "tests/lib/outputs/asff/**"

output/html:
  - changed-files:
      - any-glob-to-any-file: "prowler/lib/outputs/html/**"
      - any-glob-to-any-file: "tests/lib/outputs/html/**"

output/asff:
  - changed-files:
      - any-glob-to-any-file: "prowler/lib/outputs/asff/**"
      - any-glob-to-any-file: "tests/lib/outputs/asff/**"

output/ocsf:
  - changed-files:
      - any-glob-to-any-file: "prowler/lib/outputs/ocsf/**"
      - any-glob-to-any-file: "tests/lib/outputs/ocsf/**"

output/csv:
  - changed-files:
      - any-glob-to-any-file: "prowler/lib/outputs/csv/**"
      - any-glob-to-any-file: "tests/lib/outputs/csv/**"

component/api:
  - changed-files:
      - any-glob-to-any-file: "api/**"

component/ui:
  - changed-files:
      - any-glob-to-any-file: "ui/**"
