Repository prowler-cloud/prowler, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, provider/aws, provider/azure, provider/gcp, provider/kubernetes, github_actions, cli, mutelist, integration/s3, integration/slack, integration/security-hub, output/html, output/asff, output/ocsf, output/csv, component/api, component/ui

chore: revision
  docs/index.md
Labels: documentation

chore: revision
  docs/index.md
Labels: documentation

fix: variable
  .env
Labels: none

docs(architecture): add Prowler App architecture diagram (#5914)
  docs/img/prowler-app-architecture.png
  docs/index.md
Labels: documentation

chore(version): update Prowler version
  prowler/config/config.py
  pyproject.toml
Labels: none

docs(installation): add documentation for Prowler App installation (#5883)
  docs/img/compliance-app.png
  docs/index.md
  mkdocs.yml
Labels: documentation

chore: apply v5 feedback changes (3.3 and 5.1 updates)
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/page.tsx
  ui/components/findings/table/column-findings.tsx
  ui/components/overview/new-findings-table/link-to-findings/link-to-findings.tsx
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
  ui/components/scans/table/scan-detail.tsx
  ui/components/ui/sidebar/sidebar-items.tsx
Labels: component/ui

chore: revision
  README.md
  docs/index.md
Labels: documentation

chore: revision
  README.md
Labels: none

chore: revision
  README.md
Labels: none

chore: revision
  README.md
Labels: none

chore: revision
  README.md
Labels: none

chore: revision
  README.md
Labels: none

chore: revision
  README.md
Labels: none

docs(readme): add Prowler App documentation (#5916)
  README.md
  docs/index.md
Labels: documentation

docs(readme): update readme with console instead of bash
  README.md
Labels: none

chore: apply v5 feedback changes (5.13 updates)
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/providers/page.tsx
  ui/components/providers/table/column-providers.tsx
  ui/components/ui/sidebar/sidebar-items.tsx
Labels: component/ui

docs(readme): update readme with console instead of bash (#5970)
  README.md
Labels: none

chore(version): update Prowler version (#5969)
  prowler/config/config.py
  pyproject.toml
Labels: none

docs(scan): change scan started workflow
  docs/img/go-to-scans.png
  docs/img/start-now.png
  docs/tutorials/prowler-app.md
Labels: documentation

Demoable PoC state with GitHub Scanner implimented
  prowler/lib/outputs/back2code/back2code.py
Labels: none

chore: apply v5 feedback changes (providers updates)
  ui/app/(prowler)/providers/page.tsx
  ui/components/overview/findings-by-status-chart/findings-by-status-chart.tsx
  ui/components/providers/index.ts
  ui/components/providers/link-to-scans.tsx
  ui/components/providers/table/column-providers.tsx
Labels: component/ui

chore: apply v5 feedback changes (finding updates)
  ui/actions/findings/findings.ts
  ui/app/(prowler)/findings/page.tsx
Labels: component/ui

chore: apply v5 feedback changes (improve set provider workflow)
  ui/actions/providers/providers.ts
  ui/app/(prowler)/providers/page.tsx
  ui/components/providers/provider-info.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
Labels: component/ui

chore: add get provider logo component
  ui/components/providers/provider-info.tsx
  ui/components/ui/entities/entity-info-short.tsx
  ui/components/ui/entities/get-provider-logo.tsx
  ui/components/ui/entities/index.ts
Labels: component/ui

chore: apply v5 feedback changes (improve set provider workflow)
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/ui/entities/get-provider-logo.tsx
Labels: component/ui

chore: apply v5 feedback changes (improve provider workflow)
  ui/components/providers/provider-info.tsx
  ui/components/providers/table/column-providers.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/providers/workflow/forms/via-credentials-form.tsx
  ui/components/providers/workflow/workflow-add-provider.tsx
Labels: component/ui

chore: remove unused console log
  ui/components/providers/workflow/forms/via-credentials-form.tsx
Labels: component/ui

chore: apply v5 feedback changes (finding changes)
  ui/components/findings/table/column-findings.tsx
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
Labels: component/ui

feat(dynamic_filters): add dynamic filters system
  api/src/backend/api/filters.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Labels: component/api

chore: apply v5 feedback changes (5.5 - filters)
  ui/actions/providers/providers.ts
  ui/components/filters/custom-date-picker.tsx
  ui/components/filters/filter-controls.tsx
  ui/components/ui/custom/custom-dropdown-filter.tsx
Labels: component/ui

chore: profile icon redirect to /users
  ui/components/ui/sidebar/sidebar-wrap.tsx
Labels: component/ui

chore: apply v5 feedback changes (providers changes)
  ui/app/(prowler)/providers/page.tsx
  ui/components/providers/link-to-scans.tsx
  ui/components/providers/table/column-providers.tsx
Labels: component/ui

feat(dynamic_filters): add some improvements
  api/src/backend/api/filters.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Labels: component/api

feat(dynamic_filters): add all finding filters
  api/src/backend/api/filters.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Labels: component/api

feat(dynamic_filters): add dynamic filters system (#5973)
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Labels: component/api

chore: apply v5 feedback changes (scan changes)
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/components/filters/data-filters.ts
  ui/components/scans/index.ts
  ui/components/scans/link-to-findings-from-scan.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/ui/entities/date-with-time.tsx
Labels: component/ui

chore: apply v5 feedback changes (scan twaks)
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/scans/table/scans/data-table-row-actions.tsx
Labels: component/ui

feat(provider): add include parameter for provider_groups
  api/src/backend/api/v1/serializers.py
Labels: component/api

test(provider): add new unit test for include
  api/src/backend/api/tests/test_views.py
Labels: component/api

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

provider/aws:
  - changed-files:
      - any-glob-to-any-file: "prowler/providers/aws/**"
      - any-glob-to-any-file: "tests/providers/aws/**"

provider/azure:
  - changed-files:
      - any-glob-to-any-file: "prowler/providers/azure/**"
      - any-glob-to-any-file: "tests/providers/azure/**"

provider/gcp:
  - changed-files:
      - any-glob-to-any-file: "prowler/providers/gcp/**"
      - any-glob-to-any-file: "tests/providers/gcp/**"

provider/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "prowler/providers/kubernetes/**"
      - any-glob-to-any-file: "tests/providers/kubernetes/**"

github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*"

cli:
  - changed-files:
      - any-glob-to-any-file: "cli/**"

mutelist:
  - changed-files:
      - any-glob-to-any-file: "prowler/lib/mutelist/**"
      - any-glob-to-any-file: "prowler/providers/aws/lib/mutelist/**"
      - any-glob-to-any-file: "prowler/providers/azure/lib/mutelist/**"
      - any-glob-to-any-file: "prowler/providers/gcp/lib/mutelist/**"
      - any-glob-to-any-file: "prowler/providers/kubernetes/lib/mutelist/**"
      - any-glob-to-any-file: "tests/lib/mutelist/**"
      - any-glob-to-any-file: "tests/providers/aws/lib/mutelist/**"
      - any-glob-to-any-file: "tests/providers/azure/lib/mutelist/**"
      - any-glob-to-any-file: "tests/providers/gcp/lib/mutelist/**"
      - any-glob-to-any-file: "tests/providers/kubernetes/lib/mutelist/**"

integration/s3:
  - changed-files:
      - any-glob-to-any-file: "prowler/providers/aws/lib/s3/**"
      - any-glob-to-any-file: "tests/providers/aws/lib/s3/**"

integration/slack:
  - changed-files:
      - any-glob-to-any-file: "prowler/lib/outputs/slack/**"
      - any-glob-to-any-file: "tests/lib/outputs/slack/**"

integration/security-hub:
  - changed-files:
      - any-glob-to-any-file: "prowler/providers/aws/lib/security_hub/**"
      - any-glob-to-any-file: "tests/providers/aws/lib/security_hub/**"
      - any-glob-to-any-file: "prowler/lib/outputs/asff/**"
      - any-glob-to-any-file: "tests/lib/outputs/asff/**"

output/html:
  - changed-files:
      - any-glob-to-any-file: "prowler/lib/outputs/html/**"
      - any-glob-to-any-file: "tests/lib/outputs/html/**"

output/asff:
  - changed-files:
      - any-glob-to-any-file: "prowler/lib/outputs/asff/**"
      - any-glob-to-any-file: "tests/lib/outputs/asff/**"

output/ocsf:
  - changed-files:
      - any-glob-to-any-file: "prowler/lib/outputs/ocsf/**"
      - any-glob-to-any-file: "tests/lib/outputs/ocsf/**"

output/csv:
  - changed-files:
      - any-glob-to-any-file: "prowler/lib/outputs/csv/**"
      - any-glob-to-any-file: "tests/lib/outputs/csv/**"

component/api:
  - changed-files:
      - any-glob-to-any-file: "api/**"

component/ui:
  - changed-files:
      - any-glob-to-any-file: "ui/**"
