Repository prowler-cloud/prowler, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, provider/aws, provider/azure, provider/gcp, provider/kubernetes, github_actions, cli, mutelist, integration/s3, integration/slack, integration/security-hub, output/html, output/asff, output/ocsf, output/csv, component/api, component/ui

chore(docs): update screenshots and docs of Prowler App
  .env
  .gitignore
  README.md
  docker-compose-dev.yml
  docs/img/add-provider.png
  docs/img/aws-role.png
  docs/img/azure-credentials.png
  docs/img/compliance-app.png
  docs/img/compliance.png
  docs/img/findings.png
  docs/img/gcp-credentials.png
  docs/img/issues.png
  docs/img/kubernetes-credentials.png
  docs/img/overview.png
  docs/img/provider-added.png
  docs/img/scan-progress.png
  docs/img/select-provider.png
  docs/img/start-now.png
  docs/img/test-connection-button.png
  docs/index.md
  docs/tutorials/prowler-app.md
Labels: documentation

chore(celery-beat): disable periodic cleanup
  api/src/backend/config/celery.py
Labels: component/api

chore: apply v5 feedback changes (temporarily hide recover password)
  ui/components/auth/oss/auth-form.tsx
Labels: component/ui

chore(teaks v5): apply v5 feedback changes (temporarily hide recover password) (#5985)
  ui/components/auth/oss/auth-form.tsx
Labels: component/ui

feat(tests): Fix some microsoft tests, still not working
  tests/providers/microsoft365/lib/mutelist/fixtures/microsoft365_mutelist.yaml
  tests/providers/microsoft365/lib/mutelist/microsoft365_mutelist_test.py
  tests/providers/microsoft365/microsoft365_provider_test.py
Labels: none

feat(microsoft365): Fix exceptions, make some changes in provider to test connection, not working
  prowler/lib/check/models.py
  prowler/lib/outputs/finding.py
  prowler/providers/microsoft365/exceptions/exceptions.py
  prowler/providers/microsoft365/lib/mutelist/mutelist.py
  prowler/providers/microsoft365/microsoft365_provider.py
  prowler/providers/microsoft365/models.py
Labels: none

chore(celery-beat): disable periodic cleanup (#5986)
  api/src/backend/config/celery.py
Labels: component/api

chore: remove log print
  prowler/providers/github/github_provider.py
Labels: none

chore(docs): update screenshots and docs of Prowler App (#5984)
  .env
  .gitignore
  README.md
  docker-compose-dev.yml
  docs/img/add-provider.png
  docs/img/aws-role.png
  docs/img/azure-credentials.png
  docs/img/compliance-app.png
  docs/img/compliance.png
  docs/img/findings.png
  docs/img/gcp-credentials.png
  docs/img/issues.png
  docs/img/kubernetes-credentials.png
  docs/img/overview.png
  docs/img/provider-added.png
  docs/img/scan-progress.png
  docs/img/select-provider.png
  docs/img/start-now.png
  docs/img/test-connection-button.png
  docs/index.md
  docs/tutorials/prowler-app.md
Labels: documentation

feat: added link from app guide to app installation
  docs/tutorials/prowler-app.md
Labels: documentation

fix: typo
  docs/tutorials/prowler-app.md
Labels: documentation

fix: typo
  docs/tutorials/prowler-app.md
Labels: documentation

feat: better link
  docs/tutorials/prowler-app.md
Labels: documentation

feat(docs): added link from app guide to app installation (#5987)
  docs/tutorials/prowler-app.md
Labels: documentation

feat(codeartifact): add first version code
  prowler/providers/aws/services/codeartifact/codeartifact_packages_external_public_publishing_disabled/codeartifact_packages_external_public_publishing_disabled_fixer.py
  tests/providers/aws/services/codeartifact/codeartifact_packages_external_public_publishing_disabled/codeartifact_packages_external_public_publishing_disabled_fixer_test.py
Labels: provider/aws

chore(codeartifact): change unit tests to botocore
  tests/providers/aws/services/codeartifact/codeartifact_packages_external_public_publishing_disabled/codeartifact_packages_external_public_publishing_disabled_fixer_test.py
Labels: provider/aws

feat: added check logic and metadata
  prowler/providers/github/services/repository/repository_code_changes_multi_approval_requirement/__init__.py
  prowler/providers/github/services/repository/repository_code_changes_multi_approval_requirement/repository_code_changes_multi_approval_requirement.metadata.json
  prowler/providers/github/services/repository/repository_code_changes_multi_approval_requirement/repository_code_changes_multi_approval_requirement.py
  prowler/providers/github/services/repository/repository_public_has_securitymd_file/repository_public_has_securitymd_file.metadata.json
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_code_changes_multi_approval_requirement/repository_code_changes_multi_approval_requirement_test.py
Labels: none

fix: log in providers authentication
  prowler/providers/github/github_provider.py
Labels: none

feat(cloudtrail): add fixer code for public s3 buckets and unit tests
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible_fixer.py
  tests/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible_fixer_test.py
Labels: provider/aws

fix(backup): modify list recovery points call
  prowler/providers/aws/services/backup/backup_service.py
Labels: provider/aws

feat: enhance service logic
  prowler/providers/github/services/repository/repository_code_changes_multi_approval_requirement/repository_code_changes_multi_approval_requirement.metadata.json
  prowler/providers/github/services/repository/repository_service.py
Labels: none

chore(backup): add new condition for empty vaults
  prowler/providers/aws/services/backup/backup_service.py
Labels: provider/aws

feat: enhance logic
  prowler/providers/github/services/repository/repository_service.py
Labels: none

feat(microsoft365): Finish provider and mutelist tests
  tests/providers/microsoft365/lib/mutelist/microsoft365_mutelist_test.py
  tests/providers/microsoft365/microsoft365_provider_test.py
Labels: none

fix: service tests
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_public_has_securitymd_file/repository_public_has_securitymd_file_test.py
  tests/providers/github/services/repository/repository_service_test.py
Labels: none

feat(microsoft365): Finish provider with test connection, finish exceptions, regions and mutelist
  prowler/providers/microsoft365/exceptions/exceptions.py
  prowler/providers/microsoft365/lib/arguments/arguments.py
  prowler/providers/microsoft365/lib/mutelist/mutelist.py
  prowler/providers/microsoft365/lib/regions/regions.py
  prowler/providers/microsoft365/microsoft365_provider.py
Labels: none

refactor: refactor aws set provider workflow
  ui/app/(prowler)/providers/(set-up-provider)/add-credentials/page.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/providers/workflow/forms/radio-group-aws-via-credentials-form.tsx
  ui/components/providers/workflow/forms/select-via-aws/index.ts
  ui/components/providers/workflow/forms/select-via-aws/select-via-aws.tsx
  ui/components/providers/workflow/forms/via-credentials-form.tsx
  ui/components/providers/workflow/forms/via-role-form.tsx
  ui/types/formSchemas.ts
Labels: component/ui

fix(provider): delete scan summaries when deleting provider
  api/src/backend/tasks/jobs/deletion.py
Labels: component/api

fix(beat): fix next_scan_at calculation
  api/src/backend/tasks/beat.py
  api/src/backend/tasks/tasks.py
Labels: component/api

fix(api): cascade deletion and next scan at time (#5999)
  api/src/backend/tasks/beat.py
  api/src/backend/tasks/jobs/deletion.py
  api/src/backend/tasks/tasks.py
Labels: component/api

refactor: refactor set provider workflow
  ui/actions/providers/providers.ts
  ui/app/(prowler)/providers/(set-up-provider)/update-credentials/page.tsx
  ui/components/providers/table/data-table-row-actions.tsx
  ui/components/providers/workflow/forms/index.ts
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/providers/workflow/forms/update-via-credentials-form.tsx
  ui/components/providers/workflow/forms/update-via-role-form.tsx
Labels: component/ui

chore(pypi): release for v5
  .github/workflows/pypi-release.yml
Labels: github_actions

feat(app): add support for TLS 1.3 to Web Apps check
  prowler/providers/azure/services/app/app_minimum_tls_version_12/app_minimum_tls_version_12.py
Labels: provider/azure

chore(containers): release for v5
  .github/workflows/build-lint-push-containers.yml
Labels: github_actions

chore: add support for v4
  .github/workflows/build-lint-push-containers.yml
Labels: github_actions

chore: change link for support
  ui/components/ui/sidebar/sidebar-wrap.tsx
Labels: component/ui

chore(actions): prepare for v5 (#6003)
  .github/workflows/build-lint-push-containers.yml
  .github/workflows/pypi-release.yml
Labels: github_actions

feat(app): add TLS version to status_extended PASS
  prowler/providers/azure/services/app/app_minimum_tls_version_12/app_minimum_tls_version_12.py
Labels: provider/azure

test(app): add case TLS version 1.3
  tests/providers/azure/services/app/app_minimum_tls_version_12/app_minimum_tls_version_12_test.py
Labels: provider/azure

chore: update url when updating credentials
  ui/components/providers/workflow/forms/update-via-role-form.tsx
Labels: component/ui

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "docs/**"

provider/aws:
  - changed-files:
      - any-glob-to-any-file: "prowler/providers/aws/**"
      - any-glob-to-any-file: "tests/providers/aws/**"

provider/azure:
  - changed-files:
      - any-glob-to-any-file: "prowler/providers/azure/**"
      - any-glob-to-any-file: "tests/providers/azure/**"

provider/gcp:
  - changed-files:
      - any-glob-to-any-file: "prowler/providers/gcp/**"
      - any-glob-to-any-file: "tests/providers/gcp/**"

provider/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "prowler/providers/kubernetes/**"
      - any-glob-to-any-file: "tests/providers/kubernetes/**"

github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*"

cli:
  - changed-files:
      - any-glob-to-any-file: "cli/**"

mutelist:
  - changed-files:
      - any-glob-to-any-file: "prowler/lib/mutelist/**"
      - any-glob-to-any-file: "prowler/providers/aws/lib/mutelist/**"
      - any-glob-to-any-file: "prowler/providers/azure/lib/mutelist/**"
      - any-glob-to-any-file: "prowler/providers/gcp/lib/mutelist/**"
      - any-glob-to-any-file: "prowler/providers/kubernetes/lib/mutelist/**"
      - any-glob-to-any-file: "tests/lib/mutelist/**"
      - any-glob-to-any-file: "tests/providers/aws/lib/mutelist/**"
      - any-glob-to-any-file: "tests/providers/azure/lib/mutelist/**"
      - any-glob-to-any-file: "tests/providers/gcp/lib/mutelist/**"
      - any-glob-to-any-file: "tests/providers/kubernetes/lib/mutelist/**"

integration/s3:
  - changed-files:
      - any-glob-to-any-file: "prowler/providers/aws/lib/s3/**"
      - any-glob-to-any-file: "tests/providers/aws/lib/s3/**"

integration/slack:
  - changed-files:
      - any-glob-to-any-file: "prowler/lib/outputs/slack/**"
      - any-glob-to-any-file: "tests/lib/outputs/slack/**"

integration/security-hub:
  - changed-files:
      - any-glob-to-any-file: "prowler/providers/aws/lib/security_hub/**"
      - any-glob-to-any-file: "tests/providers/aws/lib/security_hub/**"
      - any-glob-to-any-file: "prowler/lib/outputs/asff/**"
      - any-glob-to-any-file: "tests/lib/outputs/asff/**"

output/html:
  - changed-files:
      - any-glob-to-any-file: "prowler/lib/outputs/html/**"
      - any-glob-to-any-file: "tests/lib/outputs/html/**"

output/asff:
  - changed-files:
      - any-glob-to-any-file: "prowler/lib/outputs/asff/**"
      - any-glob-to-any-file: "tests/lib/outputs/asff/**"

output/ocsf:
  - changed-files:
      - any-glob-to-any-file: "prowler/lib/outputs/ocsf/**"
      - any-glob-to-any-file: "tests/lib/outputs/ocsf/**"

output/csv:
  - changed-files:
      - any-glob-to-any-file: "prowler/lib/outputs/csv/**"
      - any-glob-to-any-file: "tests/lib/outputs/csv/**"

component/api:
  - changed-files:
      - any-glob-to-any-file: "api/**"

component/ui:
  - changed-files:
      - any-glob-to-any-file: "ui/**"
