Repository prowler-cloud/prowler, pull requests merged in 2022-08, with the labels that each got.

#1289 feat(checks): Adding commands for checks 117 and 118
  checks/check117
  checks/check118
  iam/create_role_to_assume_cfn.yaml
  iam/prowler-additions-policy.json
Labels: severity/high

#1278 fix(permissions): Include missing appstream:DescribeFleets permission
  iam/create_role_to_assume_cfn.yaml
  iam/prowler-additions-policy.json
Labels: status/waiting-for-revision, severity/high

#1291 feat(extra780): Check for Cognito or SAML authentication on OpenSearch
  checks/check_extra780
Labels: severity/medium

#1296 fix(appstream): Handle timeout errors
  checks/check_extra7190
  checks/check_extra7191
  checks/check_extra7192
  checks/check_extra7193
Labels: status/waiting-for-revision, severity/medium

#1283 fix(inventory): Variable assigning syntax in inventory mode
  include/quick_inventory
Labels: severity/medium

#1328 fix(check120): correct AWS support policy name
  checks/check120
Labels: status/waiting-for-revision, status/needs-triage

#1329 feat(extra7195): Added check for dependency confusion in codeartifact
  checks/check_extra7195
  groups/group7_extras
Labels: status/waiting-for-revision, severity/low

#1347 feat(group): CIS Critical Security Controls v8
  groups/group27_cisig2
Labels: severity/medium
