Repository prowler-cloud/prowler, pull requests merged in 2022-06, with the labels that each got.

#1193 fix(pre-commit): Recover shellcheck
  .pre-commit-config.yaml
Labels: status/waiting-for-revision

#1198 Remove false positive for check_extra767
  checks/check_extra767
Labels: status/waiting-for-revision, severity/medium

#1195 fix(session_duration): Use jq with TZ=UTC
  include/assume_role
  include/default_variables
  include/execute_check
Labels: status/waiting-for-revision

#1197 feat(checks): Select checks to run from provider using `-c/--checks`
  lib/check.py
  lib/check_test.py
  providers/aws/services/iam/iam_disable_30_days_credentials/iam_disable_30_days_credentials.py
  prowler.py
Labels: testing-pending

#1203 feat(check): Directory Service - Ensure Radius server is using the recommended security protocol
  checks/check_extra7188
  checks/check_extra7189
  groups/group7_extras
Labels: status/waiting-for-revision, severity/medium

#1213 feat(list-groups): List available groups
  groups.json
  lib/check/check.py
  lib/check/check_test.py
  lib/check/fixtures/groupsA.json
  prowler.py
Labels: status/waiting-for-revision

#1221 feat(refresh_aws_regions): Auto refresh of AWS regions for services.
  .github/workflows/refresh_aws_services_regions.yml
  config/config.py
  lib/check/check.py
  providers/aws/aws_regions_services.json
  providers/aws/services/ec2/ec2_service.py
  util/update_aws_services_regions.py
Labels: no-merge, work-in-progress

#1232 fix(extra7162): Query AWS log groups using LOG_GROUP_RETENTION_PERIOD_DAYS
  checks/check_extra7162
Labels: status/waiting-for-revision

#1216 feat(checks): Amazon AppStream checks
  checks/check_extra7190
  checks/check_extra7191
  checks/check_extra7192
  groups/group7_extras
Labels: status/waiting-for-revision, severity/low

#1233 feat(check): Ensure default internet access from Amazon AppStream fleet should be disabled.
  checks/check_extra7193
  groups/group7_extras
Labels: status/waiting-for-revision, severity/low

#1238 feat(dockerfile): Include psql client in the Prowler scanner image
  .dockerignore
  .pre-commit-config.yaml
  Dockerfile
Labels: status/waiting-for-revision

#1236 feat(db-connector): Include env variables
  README.md
  include/db_connector
  include/validate_options
  prowler
Labels: status/waiting-for-revision
