Repository prowler-cloud/prowler, pull requests merged in 2022-10, with the labels that each got.

#1402 fix(check_extra77): Add missing check_resource_id to the report
  checks/check_extra77
Labels: status/waiting-for-revision, severity/informational

#1360 feat(securityhub_check): add check and service for shub
  providers/aws/services/accessanalyzer/accessanalyzer_service.py
  providers/aws/services/securityhub/__init__.py
  providers/aws/services/securityhub/check_extra799
  providers/aws/services/securityhub/securityhub_client.py
  providers/aws/services/securityhub/securityhub_enabled/__init__.py
  providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled.metadata.json
  providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled.py
  providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled_test.py
  providers/aws/services/securityhub/securityhub_service.py
  providers/aws/services/securityhub/securityhub_service_test.py
Labels: status/waiting-for-revision

#1394 docs(spelling): Typo corrections
  README.md
  util/html/generate-html-from-csv.sh
  util/terraform-kickstarter/readme.md
Labels: status/awaiting-reponse, severity/informational

#1440 fix(extra7195): Update title
  checks/check_extra7195
Labels: status/needs-triage
