Repository prowler-cloud/prowler, pull requests merged in 2022-03, with the labels that each got.

#1032 Fix(ES): Improve AWS CLI query and add error handling for ElasticSearch/OpenSearch checks
  checks/check_extra7101
  checks/check_extra715
  checks/check_extra716
  checks/check_extra780
  checks/check_extra781
  checks/check_extra782
  checks/check_extra783
  checks/check_extra784
  checks/check_extra785
  checks/check_extra788
Labels: status/waiting-for-revision, severity/high

#1031 Fix(extra771): jq fail when policy action is an array
  checks/check_extra771
Labels: status/waiting-for-revision, severity/medium

#1041 Added timestamp to temp folders for secrets related checks
  checks/check_extra7141
  checks/check_extra759
  checks/check_extra760
  checks/check_extra768
  checks/check_extra775
Labels: status/waiting-for-revision, severity/medium

#1043 Make python3 default in Dockerfile
  util/Dockerfile
Labels: status/waiting-for-revision, severity/low

#1045 fix(extra765/776): Add right region to CSV if access is denied
  checks/check_extra765
  checks/check_extra776
Labels: status/waiting-for-revision, severity/low

#1057 fix(extra758): Reduce API calls. Print correct instance state.
  checks/check_extra758
Labels: status/awaiting-reponse, severity/medium

#1062 fix: extra7167 Advanced Shield and CloudFront bug parsing None output without distributions
  checks/check_extra7167
Labels: status/waiting-for-revision, severity/medium

#1064 fix: Change lower case from bash variable expansion to tr
  checks/check_extra7101
  checks/check_extra715
  checks/check_extra780
  checks/check_extra785
  checks/check_sample
Labels: status/waiting-for-revision, severity/high

#1055 fix(extra760): Improve error handling
  checks/check_extra760
Labels: severity/medium

#1067 Fix(check122): Error when policy name contains commas
  checks/check122
Labels: status/awaiting-reponse, severity/high

#1049 feat(metadata): Include account metadata in Prowler assessments
  README.md
  include/assume_role
  include/csv_header
  include/organizations_metadata
  include/outputs
  prowler
Labels: feature, severity/medium

#1084 Update check_extra736, is missing $PROFILE_OPT
  checks/check_extra736
Labels: severity/medium

#1081 New Extra Check - Detect SGs created by the EC2 Launch Wizard
  checks/check_extra7173
  groups/group7_extras
Labels: enhancement, severity/high
