Repository prowler-cloud/prowler, pull requests merged in 2022-05, with the labels that each got.

#1114 Update CloudFormation template for CodeBuild
  util/codebuild/codebuild-prowler-audit-account-cfn.yaml
Labels: status/awaiting-reponse, severity/low

#1128 feat(assume-role): Properly handle External ID variable
  include/assume_role
Labels: severity/medium

#1140 feat(util): K8s cronjob sample files
  util/k8s/README.md
  util/k8s/cronjob.yml
  util/k8s/secret.yml
Labels: status/needs-triage

#1153 docs(k8s-integration): Beautify README
  util/k8s/README.md
Labels: documentation, severity/low

#1103 feat(new): New custom check extra9999 to build a custom check on the fly
  README.md
  checks/check_extra9999
  prowler
Labels: feature

#1164 [New Checks] Directory Service
  checks/check_extra7181
  checks/check_extra7182
  checks/check_extra7183
  checks/check_extra7184
  groups/group26_ds
  groups/group7_extras
  iam/prowler-additions-policy.json
Labels: severity/medium
