Repository prowler-cloud/prowler, pull requests merged in 2023-12, with the labels that each got.

#3081 fix(vpc_different_regions): Handle if there are no VPC
  prowler/providers/aws/services/vpc/vpc_different_regions/vpc_different_regions.py
  tests/providers/aws/services/vpc/vpc_different_regions/vpc_different_regions_test.py
Labels: provider/aws

#3091 docs(parallel-execution): How to execute it in parallel
  docs/tutorials/parallel-execution.md
  mkdocs.yml
Labels: documentation

#3103 test(audit_info): refactor awslambda
  tests/providers/aws/audit_info_utils.py
  tests/providers/aws/services/awslambda/awslambda_service_test.py
Labels: provider/aws

#3112 test(audit_info): refactor workspaces
  tests/providers/aws/services/workspaces/workspaces_service_test.py
  tests/providers/aws/services/workspaces/workspaces_volume_encryption_enabled/workspaces_volume_encryption_enabled_test.py
  tests/providers/aws/services/workspaces/workspaces_vpc_2private_1public_subnets_nat/workspaces_vpc_2private_1public_subnets_nat_test.py
Labels: provider/aws

#3098 test(audit_info): refactor apigateway
  tests/providers/aws/services/apigateway/apigateway_authorizers_enabled/apigateway_authorizers_enabled_test.py
  tests/providers/aws/services/apigateway/apigateway_client_certificate_enabled/apigateway_client_certificate_enabled_test.py
  tests/providers/aws/services/apigateway/apigateway_endpoint_public/apigateway_endpoint_public_test.py
  tests/providers/aws/services/apigateway/apigateway_endpoint_public_without_authorizer/apigateway_endpoint_public_without_authorizer_test.py
  tests/providers/aws/services/apigateway/apigateway_logging_enabled/apigateway_logging_enabled_test.py
  tests/providers/aws/services/apigateway/apigateway_service_test.py
  tests/providers/aws/services/apigateway/apigateway_waf_acl_attached/apigateway_waf_acl_attached_test.py
Labels: provider/aws

#3100 test(audit_info): refactor appstream
  tests/providers/aws/services/appstream/appstream_service_test.py
Labels: provider/aws

#3113 test(audit_info): refactor wellarchitected
  tests/providers/aws/services/wellarchitected/wellarchitected_service_test.py
  tests/providers/aws/services/wellarchitected/wellarchitected_workload_no_high_or_medium_risks/wellarchitected_workload_no_high_or_medium_risks_test.py
Labels: provider/aws

#3115 test(audit_info): refactor waf
  tests/providers/aws/services/waf/waf_service_test.py
Labels: provider/aws

#3102 test(audit_info): refactor autoscaling
  tests/providers/aws/services/autoscaling/autoscaling_find_secrets_ec2_launch_configuration/autoscaling_find_secrets_ec2_launch_configuration_test.py
  tests/providers/aws/services/autoscaling/autoscaling_group_multiple_az/autoscaling_group_multiple_az_test.py
  tests/providers/aws/services/autoscaling/autoscaling_service_test.py
Labels: provider/aws

#3101 test(audit_info): refactor athena
  tests/providers/aws/services/athena/athena_service_test.py
  tests/providers/aws/services/athena/athena_workgroup_encryption/athena_workgroup_encryption_test.py
  tests/providers/aws/services/athena/athena_workgroup_enforce_configuration/athena_workgroup_enforce_configuration_test.py
Labels: provider/aws

#3104 test(audit_info): refactor backup
  tests/providers/aws/services/backup/backup_service_test.py
Labels: provider/aws

#3105 test(audit_info): refactor cloudformation
  tests/providers/aws/services/cloudformation/cloudformation_service_test.py
Labels: provider/aws

#3110 test(audit_info): refactor cloudfront
  tests/providers/aws/services/cloudfront/cloudfront_service_test.py
Labels: provider/aws

#3116 test(audit_info): refactor cloudwatch
  tests/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_acls_alarm_configured/cloudwatch_changes_to_network_acls_alarm_configured_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_gateways_alarm_configured/cloudwatch_changes_to_network_gateways_alarm_configured_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_route_tables_alarm_configured/cloudwatch_changes_to_network_route_tables_alarm_configured_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_changes_to_vpcs_alarm_configured/cloudwatch_changes_to_vpcs_alarm_configured_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_cross_account_sharing_disabled/cloudwatch_cross_account_sharing_disabled_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_group_kms_encryption_enabled/cloudwatch_log_group_kms_encryption_enabled_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_group_no_secrets_in_logs/cloudwatch_log_group_no_secrets_in_logs_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_group_retention_policy_specific_days_enabled/cloudwatch_log_group_retention_policy_specific_days_enabled_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_and_alarm_for_aws_config_configuration_changes_enabled/cloudwatch_log_metric_filter_and_alarm_for_aws_config_configuration_changes_enabled_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_and_alarm_for_cloudtrail_configuration_changes_enabled/cloudwatch_log_metric_filter_and_alarm_for_cloudtrail_configuration_changes_enabled_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_authentication_failures/cloudwatch_log_metric_filter_authentication_failures_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_aws_organizations_changes/cloudwatch_log_metric_filter_aws_organizations_changes_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_disable_or_scheduled_deletion_of_kms_cmk/cloudwatch_log_metric_filter_disable_or_scheduled_deletion_of_kms_cmk_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_for_s3_bucket_policy_changes/cloudwatch_log_metric_filter_for_s3_bucket_policy_changes_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_policy_changes/cloudwatch_log_metric_filter_policy_changes_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_root_usage/cloudwatch_log_metric_filter_root_usage_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_security_group_changes/cloudwatch_log_metric_filter_security_group_changes_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_sign_in_without_mfa/cloudwatch_log_metric_filter_sign_in_without_mfa_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_unauthorized_api_calls/cloudwatch_log_metric_filter_unauthorized_api_calls_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_service_test.py
Labels: provider/aws

#3119 tests(audit_info): refactor vpc
  tests/providers/aws/services/vpc/vpc_endpoint_connections_trust_boundaries/vpc_endpoint_connections_trust_boundaries_test.py
  tests/providers/aws/services/vpc/vpc_endpoint_services_allowed_principals_trust_boundaries/vpc_endpoint_services_allowed_principals_trust_boundaries_test.py
  tests/providers/aws/services/vpc/vpc_flow_logs_enabled/vpc_flow_logs_enabled_test.py
  tests/providers/aws/services/vpc/vpc_peering_routing_tables_with_least_privilege/vpc_peering_routing_tables_with_least_privilege_test.py
  tests/providers/aws/services/vpc/vpc_service_test.py
  tests/providers/aws/services/vpc/vpc_subnet_different_az/vpc_subnet_different_az_test.py
  tests/providers/aws/services/vpc/vpc_subnet_no_public_ip_by_default/vpc_subnet_no_public_ip_by_default_test.py
  tests/providers/aws/services/vpc/vpc_subnet_separate_private_public/vpc_subnet_separate_private_public_test.py
Labels: provider/aws

#3118 test(audit_info): refactor codebuild
  tests/providers/aws/services/codebuild/codebuild_service_test.py
Labels: provider/aws

#3117 test(audit_info): refactor codeartifact
  tests/providers/aws/services/codeartifact/codeartifact_service_test.py
Labels: provider/aws

#3121 test(audit_info): refactor config
  tests/providers/aws/audit_info_utils.py
  tests/providers/aws/services/config/config_recorder_all_regions_enabled/config_recorder_all_regions_enabled_test.py
  tests/providers/aws/services/config/config_service_test.py
Labels: provider/aws

#3120 tests(audit_info): refactor trustedadvisor
  tests/providers/aws/services/trustedadvisor/trustedadvisor_errors_and_warnings/trustedadvisor_errors_and_warnings_test.py
  tests/providers/aws/services/trustedadvisor/trustedadvisor_premium_support_plan_subscribed/trustedadvisor_premium_support_plan_subscribed_test.py
  tests/providers/aws/services/trustedadvisor/trustedadvisor_service_test.py
Labels: provider/aws

#3122 test(audit_info): refactor ssmincidents
  tests/providers/aws/services/ssmincidents/ssmincidents_enabled_with_plans/ssmincidents_enabled_with_plans_test.py
  tests/providers/aws/services/ssmincidents/ssmincidents_service_test.py
Labels: provider/aws

#3125 test(audit_info): refactor ssm
  tests/providers/aws/services/ssm/ssm_document_secrets/ssm_document_secrets_test.py
  tests/providers/aws/services/ssm/ssm_documents_set_as_public/ssm_documents_set_as_public_test.py
  tests/providers/aws/services/ssm/ssm_managed_compliant_patching/ssm_managed_compliant_patching_test.py
  tests/providers/aws/services/ssm/ssm_service_test.py
Labels: provider/aws

#3123 test(audit_info): refactor directoryservice
  tests/providers/aws/services/directoryservice/directoryservice_service_test.py
Labels: provider/aws

#3124 test(audit_info): refactor dlm
  tests/providers/aws/services/dlm/dlm_ebs_snapshot_lifecycle_policy_exists/dlm_ebs_snapshot_lifecycle_policy_exists_test.py
  tests/providers/aws/services/dlm/dlm_service_test.py
Labels: provider/aws

#3126 test(audit_info): refactor documentdb
  tests/providers/aws/services/documentdb/documentdb_service_test.py
Labels: provider/aws

#3127 test(audit_info): refactor drs
  tests/providers/aws/services/drs/drs_service_test.py
Labels: provider/aws

#3129 test(audit_info): refactor dynamodb
  tests/providers/aws/services/dynamodb/dynamodb_accelerator_cluster_encryption_enabled/dynamodb_accelerator_cluster_encryption_enabled_test.py
  tests/providers/aws/services/dynamodb/dynamodb_service_test.py
  tests/providers/aws/services/dynamodb/dynamodb_tables_kms_cmk_encryption_enabled/dynamodb_tables_kms_cmk_encryption_enabled_test.py
  tests/providers/aws/services/dynamodb/dynamodb_tables_pitr_enabled/dynamodb_tables_pitr_enabled_test.py
Labels: provider/aws

#3130 test(audit_info): refactor sqs
  tests/providers/aws/services/sqs/sqs_queues_not_publicly_accessible/sqs_queues_not_publicly_accessible_test.py
  tests/providers/aws/services/sqs/sqs_queues_server_side_encryption_enabled/sqs_queues_server_side_encryption_enabled_test.py
  tests/providers/aws/services/sqs/sqs_service_test.py
Labels: provider/aws

#3128 test(audit_info): refactor sns
  tests/providers/aws/services/sns/sns_service_test.py
  tests/providers/aws/services/sns/sns_topics_kms_encryption_at_rest_enabled/sns_topics_kms_encryption_at_rest_enabled_test.py
  tests/providers/aws/services/sns/sns_topics_not_publicly_accessible/sns_topics_not_publicly_accessible_test.py
Labels: provider/aws

#3133 test(audit_info): refactor shub
  tests/providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled_test.py
  tests/providers/aws/services/securityhub/securityhub_service_test.py
Labels: provider/aws

#3134 test(audit_info): refactor secretsmanager
  tests/providers/aws/services/secretsmanager/secretsmanager_automatic_rotation_enabled/secretsmanager_automatic_rotation_enabled_test.py
  tests/providers/aws/services/secretsmanager/secretsmanager_service_test.py
Labels: provider/aws

#3135 test(audit_info): refactor sagemaker
  tests/providers/aws/services/sagemaker/sagemaker_models_network_isolation_enabled/sagemaker_models_network_isolation_enabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_models_vpc_settings_configured/sagemaker_models_vpc_settings_configured_test.py
  tests/providers/aws/services/sagemaker/sagemaker_notebook_instance_encryption_enabled/sagemaker_notebook_instance_encryption_enabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_notebook_instance_root_access_disabled/sagemaker_notebook_instance_root_access_disabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_notebook_instance_vpc_settings_configured/sagemaker_notebook_instance_vpc_settings_configured_test.py
  tests/providers/aws/services/sagemaker/sagemaker_notebook_instance_without_direct_internet_access_configured/sagemaker_notebook_instance_without_direct_internet_access_configured_test.py
  tests/providers/aws/services/sagemaker/sagemaker_service_test.py
  tests/providers/aws/services/sagemaker/sagemaker_training_jobs_intercontainer_encryption_enabled/sagemaker_training_jobs_intercontainer_encryption_enabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_training_jobs_network_isolation_enabled/sagemaker_training_jobs_network_isolation_enabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_training_jobs_volume_and_output_encryption_enabled/sagemaker_training_jobs_volume_and_output_encryption_enabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_training_jobs_vpc_settings_configured/sagemaker_training_jobs_vpc_settings_configured_test.py
Labels: provider/aws

#3131 test(audit_info): refactor shield
  tests/providers/aws/services/shield/shield_advanced_protection_in_associated_elastic_ips/shield_advanced_protection_in_associated_elastic_ips_test.py
  tests/providers/aws/services/shield/shield_advanced_protection_in_classic_load_balancers/shield_advanced_protection_in_classic_load_balancers_test.py
  tests/providers/aws/services/shield/shield_advanced_protection_in_cloudfront_distributions/shield_advanced_protection_in_cloudfront_distributions_test.py
  tests/providers/aws/services/shield/shield_advanced_protection_in_global_accelerators/shield_advanced_protection_in_global_accelerators_test.py
  tests/providers/aws/services/shield/shield_advanced_protection_in_internet_facing_load_balancers/shield_advanced_protection_in_internet_facing_load_balancers_test.py
  tests/providers/aws/services/shield/shield_advanced_protection_in_route53_hosted_zones/shield_advanced_protection_in_route53_hosted_zones_test.py
  tests/providers/aws/services/shield/shield_service_test.py
Labels: provider/aws

#3136 test(audit_info): refactor ecr
  tests/providers/aws/services/ecr/ecr_registry_scan_images_on_push_enabled/ecr_registry_scan_images_on_push_enabled_test.py
  tests/providers/aws/services/ecr/ecr_repositories_lifecycle_policy_enabled/ecr_repositories_lifecycle_policy_enabled_test.py
  tests/providers/aws/services/ecr/ecr_repositories_not_publicly_accessible/ecr_repositories_not_publicly_accessible_test.py
  tests/providers/aws/services/ecr/ecr_repositories_scan_images_on_push_enabled/ecr_repositories_scan_images_on_push_enabled_test.py
  tests/providers/aws/services/ecr/ecr_repositories_scan_vulnerabilities_in_latest_image/ecr_repositories_scan_vulnerabilities_in_latest_image_test.py
  tests/providers/aws/services/ecr/ecr_service_test.py
Labels: provider/aws

#3137 test(audit_info): refactor ecs
  tests/providers/aws/services/ecs/ecs_service_test.py
Labels: provider/aws

#3138 test(audit_info): refactor efs
  tests/providers/aws/services/efs/efs_service_test.py
Labels: provider/aws

#3139 test(audit_info): refactor eks
  tests/providers/aws/services/eks/eks_service_test.py
Labels: provider/aws

#3140 test(audit_info): refactor s3
  tests/providers/aws/services/s3/s3_account_level_public_access_blocks/s3_account_level_public_access_blocks_test.py
  tests/providers/aws/services/s3/s3_bucket_acl_prohibited/s3_bucket_acl_prohibited_test.py
  tests/providers/aws/services/s3/s3_bucket_default_encryption/s3_bucket_default_encryption_test.py
  tests/providers/aws/services/s3/s3_bucket_kms_encryption/s3_bucket_kms_encryption_test.py
  tests/providers/aws/services/s3/s3_bucket_level_public_access_block/s3_bucket_level_public_access_block_test.py
  tests/providers/aws/services/s3/s3_bucket_no_mfa_delete/s3_bucket_no_mfa_delete_test.py
  tests/providers/aws/services/s3/s3_bucket_object_lock/s3_bucket_object_lock_test.py
  tests/providers/aws/services/s3/s3_bucket_object_versioning/s3_bucket_object_versioning_test.py
  tests/providers/aws/services/s3/s3_bucket_policy_public_write_access/s3_bucket_policy_public_write_access_test.py
  tests/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access_test.py
  tests/providers/aws/services/s3/s3_bucket_public_list_acl/s3_bucket_public_list_acl_test.py
  tests/providers/aws/services/s3/s3_bucket_public_write_acl/s3_bucket_public_write_acl_test.py
  tests/providers/aws/services/s3/s3_bucket_secure_transport_policy/s3_bucket_secure_transport_policy_test.py
  tests/providers/aws/services/s3/s3_bucket_server_access_logging_enabled/s3_bucket_server_access_logging_enabled_test.py
  tests/providers/aws/services/s3/s3_service_test.py
Labels: provider/aws

#3143 test(audit_info): refactor resourceexplorer2
  tests/providers/aws/services/resourceexplorer2/resourceexplorer2_indexes_found/resourceexplorer2_indexes_found_test.py
  tests/providers/aws/services/resourceexplorer2/resourceexplorer2_service_test.py
Labels: provider/aws

#3142 test(audit_info): refactor elasticache
  tests/providers/aws/audit_info_utils.py
  tests/providers/aws/services/elasticache/elasticache_cluster_uses_public_subnet/elasticache_cluster_uses_public_subnet_test.py
  tests/providers/aws/services/elasticache/elasticache_service_test.py
Labels: provider/aws

#3144 test(audit_info): refactor redshift
  tests/providers/aws/services/redshift/redshift_cluster_audit_logging/redshift_cluster_audit_logging_test.py
  tests/providers/aws/services/redshift/redshift_cluster_automated_snapshot/redshift_cluster_automated_snapshot_test.py
  tests/providers/aws/services/redshift/redshift_cluster_automatic_upgrades/redshift_cluster_automatic_upgrades_test.py
  tests/providers/aws/services/redshift/redshift_cluster_public_access/redshift_cluster_public_access_test.py
  tests/providers/aws/services/redshift/redshift_service_test.py
Labels: provider/aws

#3146 test(audit_info): refactor rds
  tests/providers/aws/services/rds/rds_instance_backup_enabled/rds_instance_backup_enabled_test.py
  tests/providers/aws/services/rds/rds_instance_deletion_protection/rds_instance_deletion_protection_test.py
  tests/providers/aws/services/rds/rds_instance_deprecated_engine_version/rds_instance_deprecated_engine_version_test.py
  tests/providers/aws/services/rds/rds_instance_enhanced_monitoring_enabled/rds_instance_enhanced_monitoring_enabled_test.py
  tests/providers/aws/services/rds/rds_instance_integration_cloudwatch_logs/rds_instance_integration_cloudwatch_logs_test.py
  tests/providers/aws/services/rds/rds_instance_minor_version_upgrade_enabled/rds_instance_minor_version_upgrade_enabled_test.py
  tests/providers/aws/services/rds/rds_instance_multi_az/rds_instance_multi_az_test.py
  tests/providers/aws/services/rds/rds_instance_no_public_access/rds_instance_no_public_access_test.py
  tests/providers/aws/services/rds/rds_instance_storage_encrypted/rds_instance_storage_encrypted_test.py
  tests/providers/aws/services/rds/rds_instance_transport_encrypted/rds_instance_transport_encrypted_test.py
  tests/providers/aws/services/rds/rds_service_test.py
  tests/providers/aws/services/rds/rds_snapshots_public_access/rds_snapshots_public_access_test.py
Labels: provider/aws

#3147 test(audit_info): refactor organizations
  tests/providers/aws/services/organizations/organizations_account_part_of_organizations/organizations_account_part_of_organizations_test.py
  tests/providers/aws/services/organizations/organizations_delegated_administrators/organizations_delegated_administrators_test.py
  tests/providers/aws/services/organizations/organizations_scp_check_deny_regions/organizations_scp_check_deny_regions_test.py
  tests/providers/aws/services/organizations/organizations_service_test.py
  tests/providers/aws/services/organizations/organizations_tags_policies_enabled_and_attached/organizations_tags_policies_enabled_and_attached_test.py
Labels: provider/aws

#3150 test(audit_info): refactor opensearch
  tests/providers/aws/services/opensearch/opensearch_service_domains_audit_logging_enabled/opensearch_service_domains_audit_logging_enabled_test.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_cloudwatch_logging_enabled/opensearch_service_domains_cloudwatch_logging_enabled_test.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_encryption_at_rest_enabled/opensearch_service_domains_encryption_at_rest_enabled_test.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_https_communications_enforced/opensearch_service_domains_https_communications_enforced_test.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_internal_user_database_enabled/opensearch_service_domains_internal_user_database_enabled_test.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_node_to_node_encryption_enabled/opensearch_service_domains_node_to_node_encryption_enabled_test.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_not_publicly_accessible/opensearch_service_domains_not_publicly_accessible_test.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_updated_to_the_latest_service_software_version/opensearch_service_domains_updated_to_the_latest_service_software_version_test.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_use_cognito_authentication_for_kibana/opensearch_service_domains_use_cognito_authentication_for_kibana_test.py
  tests/providers/aws/services/opensearch/opensearch_service_test.py
Labels: provider/aws

#3149 test(audit_info): refactor emr
  tests/providers/aws/services/emr/emr_cluster_account_public_block_enabled/emr_cluster_account_public_block_enabled_test.py
  tests/providers/aws/services/emr/emr_cluster_master_nodes_no_public_ip/emr_cluster_master_nodes_no_public_ip_test.py
  tests/providers/aws/services/emr/emr_cluster_publicly_accesible/emr_cluster_publicly_accesible_test.py
  tests/providers/aws/services/emr/emr_service_test.py
Labels: provider/aws

#3155 test(audit_info): refactor neptune
  tests/providers/aws/services/neptune/neptune_cluster_uses_public_subnet/neptune_cluster_uses_public_subnet_test.py
  tests/providers/aws/services/neptune/neptune_service_test.py
Labels: provider/aws

#3156 test(audit_info): refactor macie
  tests/providers/aws/services/macie/macie_is_enabled/macie_is_enabled_test.py
  tests/providers/aws/services/macie/macie_service_test.py
Labels: provider/aws

#3157 test(audit_info): refactor kms
  tests/providers/aws/services/kms/kms_cmk_are_used/kms_cmk_are_used_test.py
  tests/providers/aws/services/kms/kms_cmk_rotation_enabled/kms_cmk_rotation_enabled_test.py
  tests/providers/aws/services/kms/kms_key_not_publicly_accessible/kms_key_not_publicly_accessible_test.py
  tests/providers/aws/services/kms/kms_service_test.py
Labels: provider/aws

#3153 test(audit_info): refactor glacier
  tests/providers/aws/services/glacier/glacier_service_test.py
  tests/providers/aws/services/glacier/glacier_vaults_policy_public_access/glacier_vaults_policy_public_access_test.py
Labels: provider/aws

#3158 test(audit_info): refactor glue
  tests/providers/aws/services/glue/glue_data_catalogs_connection_passwords_encryption_enabled/glue_data_catalogs_connection_passwords_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_data_catalogs_metadata_encryption_enabled/glue_data_catalogs_metadata_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_database_connections_ssl_enabled/glue_database_connections_ssl_enabled_test.py
  tests/providers/aws/services/glue/glue_development_endpoints_cloudwatch_logs_encryption_enabled/glue_development_endpoints_cloudwatch_logs_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_development_endpoints_job_bookmark_encryption_enabled/glue_development_endpoints_job_bookmark_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_development_endpoints_s3_encryption_enabled/glue_development_endpoints_s3_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_etl_jobs_amazon_s3_encryption_enabled/glue_etl_jobs_amazon_s3_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_etl_jobs_cloudwatch_logs_encryption_enabled/glue_etl_jobs_cloudwatch_logs_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_etl_jobs_job_bookmark_encryption_enabled/glue_etl_jobs_job_bookmark_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_service_test.py
Labels: provider/aws

#3161 test(aws_account_id): refactor
  tests/providers/aws/services/apigateway/apigateway_authorizers_enabled/apigateway_authorizers_enabled_test.py
  tests/providers/aws/services/appstream/appstream_service_test.py
  tests/providers/aws/services/awslambda/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled_test.py
  tests/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code_test.py
  tests/providers/aws/services/awslambda/awslambda_function_no_secrets_in_variables/awslambda_function_no_secrets_in_variables_test.py
  tests/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible_test.py
  tests/providers/aws/services/awslambda/awslambda_function_url_cors_policy/awslambda_function_url_cors_policy_test.py
  tests/providers/aws/services/awslambda/awslambda_function_url_public/awslambda_function_url_public_test.py
  tests/providers/aws/services/awslambda/awslambda_function_using_supported_runtimes/awslambda_function_using_supported_runtimes_test.py
  tests/providers/aws/services/awslambda/awslambda_service_test.py
  tests/providers/aws/services/cloudformation/cloudformation_service_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_field_level_encryption_enabled/cloudfront_distributions_field_level_encryption_enabled_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_geo_restrictions_enabled/cloudfront_distributions_geo_restrictions_enabled_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_https_enabled/cloudfront_distributions_https_enabled_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_logging_enabled/cloudfront_distributions_logging_enabled_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_using_deprecated_ssl_protocols/cloudfront_distributions_using_deprecated_ssl_protocols_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_using_waf/cloudfront_distributions_using_waf_test.py
  tests/providers/aws/services/codeartifact/codeartifact_packages_external_public_publishing_disabled/codeartifact_packages_external_public_publishing_disabled_test.py
  tests/providers/aws/services/directoryservice/directoryservice_directory_monitor_notifications/directoryservice_directory_monitor_notifications_test.py
  tests/providers/aws/services/emr/emr_cluster_account_public_block_enabled/emr_cluster_account_public_block_enabled_test.py
  tests/providers/aws/services/emr/emr_cluster_master_nodes_no_public_ip/emr_cluster_master_nodes_no_public_ip_test.py
  tests/providers/aws/services/emr/emr_cluster_publicly_accesible/emr_cluster_publicly_accesible_test.py
  tests/providers/aws/services/emr/emr_service_test.py
  tests/providers/aws/services/route53/route53_public_hosted_zones_cloudwatch_logging_enabled/route53_public_hosted_zones_cloudwatch_logging_enabled_test.py
  tests/providers/aws/services/secretsmanager/secretsmanager_automatic_rotation_enabled/secretsmanager_automatic_rotation_enabled_test.py
  tests/providers/aws/services/shield/shield_advanced_protection_in_associated_elastic_ips/shield_advanced_protection_in_associated_elastic_ips_test.py
  tests/providers/aws/services/shield/shield_advanced_protection_in_classic_load_balancers/shield_advanced_protection_in_classic_load_balancers_test.py
  tests/providers/aws/services/shield/shield_advanced_protection_in_cloudfront_distributions/shield_advanced_protection_in_cloudfront_distributions_test.py
  tests/providers/aws/services/shield/shield_advanced_protection_in_global_accelerators/shield_advanced_protection_in_global_accelerators_test.py
  tests/providers/aws/services/shield/shield_service_test.py
  tests/providers/aws/services/ssm/ssm_document_secrets/ssm_document_secrets_test.py
  tests/providers/aws/services/ssm/ssm_documents_set_as_public/ssm_documents_set_as_public_test.py
  tests/providers/aws/services/ssm/ssm_managed_compliant_patching/ssm_managed_compliant_patching_test.py
  tests/providers/aws/services/ssm/ssm_service_test.py
Labels: provider/aws

#3111 test(audit_info): refactor cloudtrail
  tests/providers/aws/services/cloudtrail/cloudtrail_bucket_requires_mfa_delete/cloudtrail_bucket_requires_mfa_delete_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_cloudwatch_logging_enabled/cloudtrail_cloudwatch_logging_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_insights_exist/cloudtrail_insights_exist_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_kms_encryption_enabled/cloudtrail_kms_encryption_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_log_file_validation_enabled/cloudtrail_log_file_validation_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_access_logging_enabled/cloudtrail_logs_s3_bucket_access_logging_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled/cloudtrail_multi_region_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled_logging_management_events/cloudtrail_multi_region_enabled_logging_management_events_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_service_test.py
Labels: provider/aws

#3168 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3173 fix(s3): Handle NoSuchBucket in the service
  prowler/providers/aws/services/s3/s3_service.py
Labels: provider/aws

#3174 fix(elasticache): Handle CacheClusterNotFound
  prowler/providers/aws/services/elasticache/elasticache_service.py
Labels: provider/aws

#3166 fix(cloudtrail): Handle UnsupportedOperationException
  prowler/providers/aws/services/cloudtrail/cloudtrail_service.py
Labels: provider/aws

#3165 fix(access-analyzer): Handle ValidationException
  prowler/providers/aws/services/accessanalyzer/accessanalyzer_service.py
Labels: provider/aws

#3162 fix(generate_regional_clients): Global is not needed anymore
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/service/service.py
  prowler/providers/aws/services/eks/eks_service.py
  prowler/providers/aws/services/fms/fms_service.py
  tests/providers/aws/audit_info_utils.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/aws/lib/service/service_test.py
  tests/providers/aws/services/accessanalyzer/accessanalyzer_service_test.py
  tests/providers/aws/services/acm/acm_service_test.py
  tests/providers/aws/services/appstream/appstream_service_test.py
  tests/providers/aws/services/athena/athena_service_test.py
  tests/providers/aws/services/awslambda/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled_test.py
  tests/providers/aws/services/awslambda/awslambda_service_test.py
  tests/providers/aws/services/backup/backup_service_test.py
  tests/providers/aws/services/cloudformation/cloudformation_service_test.py
  tests/providers/aws/services/codeartifact/codeartifact_service_test.py
  tests/providers/aws/services/codebuild/codebuild_service_test.py
  tests/providers/aws/services/directoryservice/directoryservice_service_test.py
  tests/providers/aws/services/dlm/dlm_service_test.py
  tests/providers/aws/services/documentdb/documentdb_service_test.py
  tests/providers/aws/services/drs/drs_service_test.py
  tests/providers/aws/services/ec2/ec2_ebs_public_snapshot/ec2_ebs_public_snapshot_test.py
  tests/providers/aws/services/ec2/ec2_ebs_snapshots_encrypted/ec2_ebs_snapshots_encrypted_test.py
  tests/providers/aws/services/ec2/ec2_ebs_volume_snapshots_exists/ec2_ebs_volume_snapshots_exists_test.py
  tests/providers/aws/services/ecr/ecr_service_test.py
  tests/providers/aws/services/ecs/ecs_service_test.py
  tests/providers/aws/services/efs/efs_service_test.py
  tests/providers/aws/services/eks/eks_service_test.py
  tests/providers/aws/services/elasticache/elasticache_service_test.py
  tests/providers/aws/services/emr/emr_service_test.py
  tests/providers/aws/services/glacier/glacier_service_test.py
  tests/providers/aws/services/glue/glue_service_test.py
  tests/providers/aws/services/guardduty/guardduty_service_test.py
  tests/providers/aws/services/inspector2/inspector2_service_test.py
  tests/providers/aws/services/macie/macie_service_test.py
  tests/providers/aws/services/neptune/neptune_service_test.py
  tests/providers/aws/services/networkfirewall/networkfirewall_service_test.py
  tests/providers/aws/services/opensearch/opensearch_service_test.py
  tests/providers/aws/services/redshift/redshift_service_test.py
  tests/providers/aws/services/resourceexplorer2/resourceexplorer2_service_test.py
  tests/providers/aws/services/sagemaker/sagemaker_service_test.py
  tests/providers/aws/services/secretsmanager/secretsmanager_service_test.py
  tests/providers/aws/services/securityhub/securityhub_service_test.py
  tests/providers/aws/services/shield/shield_advanced_protection_in_associated_elastic_ips/shield_advanced_protection_in_associated_elastic_ips_test.py
  tests/providers/aws/services/shield/shield_advanced_protection_in_internet_facing_load_balancers/shield_advanced_protection_in_internet_facing_load_balancers_test.py
  tests/providers/aws/services/sns/sns_service_test.py
  tests/providers/aws/services/sqs/sqs_service_test.py
  tests/providers/aws/services/ssm/ssm_service_test.py
  tests/providers/aws/services/ssmincidents/ssmincidents_service_test.py
  tests/providers/aws/services/waf/waf_service_test.py
  tests/providers/aws/services/wellarchitected/wellarchitected_service_test.py
  tests/providers/aws/services/workspaces/workspaces_service_test.py
Labels: provider/aws

#3096 docs(parallel-execution): Combining the output files
  docs/tutorials/parallel-execution.md
Labels: documentation

#3172 refactor(cloudwatch): simplify logic
  prowler/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_acls_alarm_configured/cloudwatch_changes_to_network_acls_alarm_configured.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_gateways_alarm_configured/cloudwatch_changes_to_network_gateways_alarm_configured.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_route_tables_alarm_configured/cloudwatch_changes_to_network_route_tables_alarm_configured.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_changes_to_vpcs_alarm_configured/cloudwatch_changes_to_vpcs_alarm_configured.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_and_alarm_for_aws_config_configuration_changes_enabled/cloudwatch_log_metric_filter_and_alarm_for_aws_config_configuration_changes_enabled.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_and_alarm_for_cloudtrail_configuration_changes_enabled/cloudwatch_log_metric_filter_and_alarm_for_cloudtrail_configuration_changes_enabled.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_authentication_failures/cloudwatch_log_metric_filter_authentication_failures.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_aws_organizations_changes/cloudwatch_log_metric_filter_aws_organizations_changes.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_disable_or_scheduled_deletion_of_kms_cmk/cloudwatch_log_metric_filter_disable_or_scheduled_deletion_of_kms_cmk.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_for_s3_bucket_policy_changes/cloudwatch_log_metric_filter_for_s3_bucket_policy_changes.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_policy_changes/cloudwatch_log_metric_filter_policy_changes.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_root_usage/cloudwatch_log_metric_filter_root_usage.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_security_group_changes/cloudwatch_log_metric_filter_security_group_changes.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_sign_in_without_mfa/cloudwatch_log_metric_filter_sign_in_without_mfa.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_unauthorized_api_calls/cloudwatch_log_metric_filter_unauthorized_api_calls.py
  prowler/providers/aws/services/cloudwatch/lib/metric_filters.py
Labels: provider/aws

#3095 fix(aws_regions): Get enabled regions
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/audit_info/audit_info.py
  prowler/providers/aws/lib/audit_info/models.py
  prowler/providers/common/audit_info.py
  tests/providers/aws/audit_info_utils.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/common/audit_info_test.py
Labels: provider/aws

#3060 feat(cognito): add Amazon Cognito service
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/aws_regions_by_service.json
  prowler/providers/aws/services/cognito/__init__.py
  prowler/providers/aws/services/cognito/cognito_idp_client.py
  prowler/providers/aws/services/cognito/cognito_service.py
  tests/lib/check/check_test.py
  tests/providers/aws/services/cognito/cognito_service_test.py
  util/update_aws_services_regions.py
Labels: provider/aws

#3182 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3175 fix(threading): Improved threading for the AWS Service
  prowler/providers/aws/lib/service/service.py
  prowler/providers/aws/services/ec2/ec2_service.py
  prowler/providers/aws/services/s3/s3_service.py
Labels: provider/aws

#3186 docs(aws): Added debug information to inspect retries in API calls
  docs/tutorials/aws/boto3-configuration.md
Labels: documentation, provider/aws

#3039 feat(mute list): change allowlist to mute list
  .github/workflows/codeql.yml
  .github/workflows/pull-request.yml
  docs/tutorials/configuration_file.md
  docs/tutorials/img/mutelist-keys.png
  docs/tutorials/img/mutelist-row.png
  docs/tutorials/logging.md
  docs/tutorials/mutelist.md
  mkdocs.yml
  prowler/__main__.py
  prowler/config/aws_mutelist.yaml
  prowler/config/aws_mutelist_example.yaml
  prowler/config/config.yaml
  prowler/lib/banner.py
  prowler/lib/check/check.py
  prowler/lib/outputs/html.py
  prowler/lib/outputs/json.py
  prowler/lib/outputs/outputs.py
  prowler/providers/aws/lib/arguments/arguments.py
  prowler/providers/aws/lib/mutelist/__init__.py
  prowler/providers/aws/lib/mutelist/mutelist.py
  prowler/providers/aws/services/accessanalyzer/accessanalyzer_enabled/accessanalyzer_enabled.py
  prowler/providers/aws/services/config/config_recorder_all_regions_enabled/config_recorder_all_regions_enabled.py
  prowler/providers/aws/services/drs/drs_job_exist/drs_job_exist.py
  prowler/providers/aws/services/guardduty/guardduty_is_enabled/guardduty_is_enabled.py
  prowler/providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled.py
  prowler/providers/common/allowlist.py
  prowler/providers/common/mutelist.py
  prowler/providers/common/outputs.py
  tests/lib/cli/parser_test.py
  tests/lib/outputs/outputs_test.py
  tests/providers/aws/lib/mutelist/fixtures/mutelist.yaml
  tests/providers/aws/lib/mutelist/mutelist_test.py
  tests/providers/aws/services/accessanalyzer/accessanalyzer_enabled/accessanalyzer_enabled_test.py
  tests/providers/aws/services/config/config_recorder_all_regions_enabled/config_recorder_all_regions_enabled_test.py
  tests/providers/aws/services/drs/drs_job_exist/drs_job_exist_test.py
  tests/providers/aws/services/guardduty/guardduty_is_enabled/guardduty_is_enabled_test.py
  tests/providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled_test.py
  tests/providers/common/common_outputs_test.py
Labels: prowler-4.0

#3046 chore(sts-endpoint): deprecate `--sts-endpoint-region`
  docs/tutorials/aws/authentication.md
  docs/tutorials/aws/role-assumption.md
  prowler/providers/aws/lib/arguments/arguments.py
  prowler/providers/aws/lib/credentials/credentials.py
  tests/lib/cli/parser_test.py
Labels: prowler-4.0

#3189 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3167 fix(lambda): memory leakage with lambda function code
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code.py
  prowler/providers/aws/services/awslambda/awslambda_service.py
  tests/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code_test.py
  tests/providers/aws/services/awslambda/awslambda_service_test.py
Labels: provider/aws

#3190 docs(cloudshell): Add workaround to clone from github
  docs/tutorials/aws/cloudshell.md
Labels: documentation, provider/aws

#3003 feat(compliance): execute all compliance by default
  docs/tutorials/compliance.md
  docs/tutorials/img/compliance.png
  prowler/__main__.py
  prowler/config/config.py
  prowler/lib/outputs/compliance.py
  prowler/lib/outputs/compliance/__init__.py
  prowler/lib/outputs/compliance/aws_well_architected_framework.py
  prowler/lib/outputs/compliance/cis.py
  prowler/lib/outputs/compliance/cis_aws.py
  prowler/lib/outputs/compliance/cis_gcp.py
  prowler/lib/outputs/compliance/compliance.py
  prowler/lib/outputs/compliance/ens_rd2022_aws.py
  prowler/lib/outputs/compliance/generic.py
  prowler/lib/outputs/compliance/iso27001_2013_aws.py
  prowler/lib/outputs/compliance/mitre_attack_aws.py
  prowler/lib/outputs/csv.py
  prowler/lib/outputs/file_descriptors.py
  prowler/lib/outputs/models.py
  prowler/lib/outputs/outputs.py
  prowler/providers/common/outputs.py
  tests/lib/outputs/compliance/compliance_test.py
Labels: prowler-4.0

#3191 docs(cloudshell): Add missing steps to workaround
  docs/tutorials/aws/cloudshell.md
Labels: documentation

#3196 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3195 feat(securityhub): Send only FAILs but storing all in the output files
  prowler/providers/aws/lib/arguments/arguments.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  prowler/providers/common/outputs.py
  tests/lib/cli/parser_test.py
  tests/providers/aws/lib/security_hub/security_hub_test.py
  tests/providers/common/common_outputs_test.py
Labels: provider/aws

#3197 fix(iam): Handle NoSuchEntity in list_group_policies
  prowler/providers/aws/services/iam/iam_service.py
Labels: provider/aws

#3200 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3209 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3213 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
  tests/config/config_test.py
Labels: status/waiting-for-revision, severity/low

#3214 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3215 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3216 fix(trustedadvisor): solve trustedadvisor check metadata
  prowler/providers/aws/services/trustedadvisor/trustedadvisor_premium_support_plan_subscribed/trustedadvisor_premium_support_plan_subscribed.metadata.json
Labels: provider/aws

#3217 fix(s3): handle NoSuchBucketPolicy error
  prowler/providers/aws/services/s3/s3_service.py
Labels: provider/aws

#3219 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3210 fix(allowlist): Analyse single and multi account allowlist if present
  prowler/providers/aws/lib/allowlist/allowlist.py
  tests/providers/aws/audit_info_utils.py
  tests/providers/aws/lib/allowlist/allowlist_test.py
Labels: provider/aws

#3228 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3230 fix(fms): Handle PolicyComplianceStatusList key error
  prowler/providers/aws/services/fms/fms_policy_compliant/fms_policy_compliant.py
  prowler/providers/aws/services/fms/fms_service.py
  tests/providers/aws/services/fms/fms_policy_compliant/fms_policy_compliant_test.py
Labels: provider/aws

#3231 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low
