Repository prowler-cloud/prowler, pull requests merged in 2023-01, with the labels that each got.

#1658 feat(): update recommendation of ecs_task_definitions_no_environment_secrets
  prowler/providers/aws/services/ecs/ecs_task_definitions_no_environment_secrets/ecs_task_definitions_no_environment_secrets.metadata.json
Labels: severity/informational

#1657 feat(): add ECS task revision number
  prowler/providers/aws/services/ecs/ecs_service.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_no_environment_secrets/ecs_task_definitions_no_environment_secrets.py
  tests/providers/aws/services/ecs/ecs_task_definitions_no_environment_secrets/ecs_task_definitions_no_environment_secrets_test.py
Labels: status/awaiting-reponse, severity/informational

#1713 docs: Placed a comma in the Service Principal authentication paragraph #HSFDPMUW
  README.md
Labels: status/waiting-for-revision

#1714 fix(extra7131): exclude DocumentDB since AutoMinorVersionUpgrade is only for relational databases
  checks/check_extra7131
Labels: status/waiting-for-revision
