Repository prowler-cloud/prowler, pull requests merged in 2023-11, with the labels that each got.

#2993 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2996 fix(cloudtrail): handle HasInsightSelectors key
  prowler/providers/aws/services/cloudtrail/cloudtrail_service.py
Labels: provider/aws

#3000 fix(s3 race condition): catch error if a bucket does not exist any longer
  prowler/providers/aws/services/s3/s3_service.py
Labels: provider/aws

#2998 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3006 fix(aws): check all conditions in IAM policy parser
  prowler/providers/aws/lib/policy_condition_parser/policy_condition_parser.py
  tests/providers/aws/lib/policy_condition_parser/policy_condition_parser_test.py
Labels: status/waiting-for-revision, provider/aws

#3007 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3011 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3010 fix(iam-sqs): Handle exceptions for non-existent resources
  prowler/providers/aws/services/iam/iam_service.py
  prowler/providers/aws/services/sqs/sqs_service.py
Labels: provider/aws

#3019 refactor(allowlist): Simplify and handle corner cases
  prowler/providers/aws/lib/allowlist/allowlist.py
  tests/providers/aws/lib/allowlist/allowlist_test.py
Labels: provider/aws

#3016 fix(SQS): fix invalid SQS ARNs
  prowler/providers/aws/services/sqs/sqs_service.py
  tests/providers/aws/services/sqs/sqs_queues_not_publicly_accessible/sqs_queues_not_publicly_accessible_test.py
  tests/providers/aws/services/sqs/sqs_queues_server_side_encryption_enabled/sqs_queues_server_side_encryption_enabled_test.py
  tests/providers/aws/services/sqs/sqs_service_test.py
Labels: provider/aws

#3020 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3021 chore(release): update Prowler Version to 3.11.1
  prowler/config/config.py
  pyproject.toml
Labels: status/waiting-for-revision, severity/low

#3025 chore(accessanalyzer): include service in allowlist_non_default_regions
  prowler/config/config.yaml
  prowler/providers/aws/services/accessanalyzer/accessanalyzer_enabled/accessanalyzer_enabled.py
  tests/providers/aws/services/accessanalyzer/accessanalyzer_enabled/accessanalyzer_enabled_test.py
Labels: provider/aws

#3035 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3029 fix(securityhub): Use enabled_regions instead of audited_regions
  prowler/__main__.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  tests/providers/aws/audit_info_utils.py
  tests/providers/aws/lib/security_hub/security_hub_test.py
Labels: provider/aws

#3013 feat(azure regions): support non default azure region
  docs/tutorials/azure/use-non-default-cloud.md
  mkdocs.yml
  poetry.lock
  prowler/providers/azure/azure_provider.py
  prowler/providers/azure/lib/arguments/arguments.py
  prowler/providers/azure/lib/audit_info/audit_info.py
  prowler/providers/azure/lib/audit_info/models.py
  prowler/providers/azure/lib/regions/__init__.py
  prowler/providers/azure/lib/regions/regions.py
  prowler/providers/azure/lib/service/service.py
  prowler/providers/common/audit_info.py
  pyproject.toml
  tests/lib/cli/parser_test.py
  tests/lib/outputs/slack_test.py
  tests/providers/azure/lib/regions/regions_test.py
  tests/providers/common/audit_info_test.py
  tests/providers/common/common_outputs_test.py
Labels: provider/azure

#3028 fix(GuardDuty): only execute checks if GuardDuty enabled
  prowler/providers/aws/services/guardduty/guardduty_centrally_managed/guardduty_centrally_managed.py
  prowler/providers/aws/services/guardduty/guardduty_no_high_severity_findings/guardduty_no_high_severity_findings.py
  tests/providers/aws/services/guardduty/guardduty_centrally_managed/guardduty_centrally_managed_test.py
  tests/providers/aws/services/guardduty/guardduty_no_high_severity_findings/guardduty_no_high_severity_findings_test.py
Labels: provider/aws

#3037 chore(release): update Prowler Version to 3.11.2
  prowler/config/config.py
  pyproject.toml
Labels: status/waiting-for-revision, severity/low

#3042 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3040 fix(securityhub): findings not being imported or archived in non-aws partitions
  prowler/__main__.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  tests/providers/aws/audit_info_utils.py
  tests/providers/aws/lib/security_hub/security_hub_test.py
Labels: provider/aws

#3044 chore(release): update Prowler Version to 3.11.3
  prowler/config/config.py
  pyproject.toml
Labels: status/waiting-for-revision, severity/low

#3064 fix(gcp provider): move generate_client for consistency
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/gcp/lib/service/service.py
Labels: provider/gcp

#3074 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3079 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low
