Repository prowler-cloud/prowler, pull requests merged in 2023-08, with the labels that each got.

#2653 fix(s3_bucket_level_public_access_block): check s3 public access block at account level
  prowler/providers/aws/services/s3/s3_bucket_level_public_access_block/s3_bucket_level_public_access_block.py
  tests/providers/aws/services/s3/s3_bucket_level_public_access_block/s3_bucket_level_public_access_block_test.py
Labels: provider/aws

#2654 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
  tests/config/config_test.py
Labels: status/waiting-for-revision, severity/low

#2657 fix(outputs): Not use reserved keyword list as variable
  prowler/lib/outputs/models.py
  tests/lib/outputs/outputs_test.py
Labels: severity/high

#2659 fix(docs): Azure auth and Slack integration
  docs/index.md
  mkdocs.yml
  prowler/providers/common/audit_info.py
Labels: documentation

#2658 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2660 fix(sns): handle topic policy conditions
  prowler/providers/aws/services/sns/sns_topics_not_publicly_accessible/sns_topics_not_publicly_accessible.py
  tests/providers/aws/services/sns/sns_topics_not_publicly_accessible/sns_topics_not_publicly_accessible_test.py
Labels: provider/aws

#2661 fix(cryptography): Update to 41.0.3
  poetry.lock
Labels: dependencies, pip

#2663 feat(gcp): Add internet-exposed and encryption categories
  prowler/providers/gcp/services/bigquery/bigquery_dataset_cmk_encryption/bigquery_dataset_cmk_encryption.metadata.json
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_public_access/cloudsql_instance_public_access.metadata.json
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_public_ip/cloudsql_instance_public_ip.metadata.json
  prowler/providers/gcp/services/cloudstorage/cloudstorage_bucket_public_access/cloudstorage_bucket_public_access.metadata.json
  prowler/providers/gcp/services/compute/compute_firewall_rdp_access_from_the_internet_allowed/compute_firewall_rdp_access_from_the_internet_allowed.metadata.json
  prowler/providers/gcp/services/compute/compute_firewall_ssh_access_from_the_internet_allowed/compute_firewall_ssh_access_from_the_internet_allowed.metadata.json
  prowler/providers/gcp/services/compute/compute_instance_encryption_with_csek_enabled/compute_instance_encryption_with_csek_enabled.metadata.json
  prowler/providers/gcp/services/compute/compute_instance_public_ip/compute_instance_public_ip.metadata.json
  prowler/providers/gcp/services/dataproc/dataproc_encrypted_with_cmks_disabled/dataproc_encrypted_with_cmks_disabled.metadata.json
  prowler/providers/gcp/services/kms/kms_key_not_publicly_accessible/kms_key_not_publicly_accessible.metadata.json
Labels: provider/gcp

#2655 fix(iam_policy_allows_privilege_escalation): Handle permissions in groups
  prowler/providers/aws/services/iam/iam_policy_allows_privilege_escalation/iam_policy_allows_privilege_escalation.py
  tests/providers/aws/services/iam/iam_policy_allows_privilege_escalation/iam_policy_allows_privilege_escalation_test.py
Labels: no-merge, provider/aws

#2662 feat(gcp): Improve gcp performance
  poetry.lock
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/gcp/lib/service/service.py
  prowler/providers/gcp/services/cloudresourcemanager/cloudresourcemanager_service.py
  prowler/providers/gcp/services/compute/compute_service.py
  prowler/providers/gcp/services/dataproc/dataproc_service.py
  prowler/providers/gcp/services/kms/kms_service.py
  pyproject.toml
Labels: provider/gcp

#2669 test(azure): Defender service
  prowler/providers/azure/services/defender/defender_ensure_defender_for_arm_is_on/defender_ensure_defender_for_arm_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_azure_sql_databases_is_on/defender_ensure_defender_for_azure_sql_databases_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_databases_is_on/defender_ensure_defender_for_databases_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_keyvault_is_on/defender_ensure_defender_for_keyvault_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_os_relational_databases_is_on/defender_ensure_defender_for_os_relational_databases_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_server_is_on/defender_ensure_defender_for_server_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_sql_servers_is_on/defender_ensure_defender_for_sql_servers_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_storage_is_on/defender_ensure_defender_for_storage_is_on.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_app_services_is_on/defender_ensure_defender_for_app_services_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_arm_is_on/defender_ensure_defender_for_arm_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_azure_sql_databases_is_on/defender_ensure_defender_for_azure_sql_databases_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_containers_is_on/defender_ensure_defender_for_containers_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_cosmosdb_is_on/defender_ensure_defender_for_cosmosdb_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_databases_is_on/defender_ensure_defender_for_databases_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_dns_is_on/defender_ensure_defender_for_dns_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_keyvault_is_on/defender_ensure_defender_for_keyvault_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_os_relational_databases_is_on/defender_ensure_defender_for_os_relational_databases_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_server_is_on/defender_ensure_defender_for_server_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_sql_servers_is_on/defender_ensure_defender_for_sql_servers_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_storage_is_on/defender_ensure_defender_for_storage_is_on_test.py
Labels: provider/azure

#2670 test(azure): IAM service
  tests/providers/azure/services/iam/iam_subscription_roles_owner_custom_not_created/__init__.py
  tests/providers/azure/services/iam/iam_subscription_roles_owner_custom_not_created/iam_subscription_roles_owner_custom_not_created_test.py
Labels: provider/azure

#2671 test(azure): SQL Server Service
  tests/providers/azure/services/sqlserver/sqlserver_auditing_enabled/sqlserver_auditing_enabled_test.py
  tests/providers/azure/services/sqlserver/sqlserver_azuread_administrator_enabled/sqlserver_azuread_administrator_enabled_test.py
  tests/providers/azure/services/sqlserver/sqlserver_unrestricted_inbound_access/sqlserver_unrestricted_inbound_access_test.py
Labels: provider/azure

#2672 test(azure): Storage Service
  prowler/providers/azure/services/storage/storage_blob_public_access_level_is_disabled/storage_blob_public_access_level_is_disabled.py
  tests/providers/azure/services/storage/storage_blob_public_access_level_is_disabled/storage_blob_public_access_level_is_disabled_test.py
  tests/providers/azure/services/storage/storage_default_network_access_rule_is_denied/storage_default_network_access_rule_is_denied_test.py
  tests/providers/azure/services/storage/storage_ensure_azure_services_are_trusted_to_access_is_enabled/storage_ensure_azure_services_are_trusted_to_access_is_enabled_test.py
  tests/providers/azure/services/storage/storage_ensure_encryption_with_customer_managed_keys/storage_ensure_encryption_with_customer_managed_keys_test.py
  tests/providers/azure/services/storage/storage_ensure_minimum_tls_version_12/storage_ensure_minimum_tls_version_12_test.py
  tests/providers/azure/services/storage/storage_infrastructure_encryption_is_enabled/storage_infrastructure_encryption_is_enabled_test.py
  tests/providers/azure/services/storage/storage_secure_transfer_required_is_enabled/storage_secure_transfer_required_is_enabled_test.py
Labels: no-merge, provider/azure

#2674 chore(release): update Prowler Version to 3.8.0
  prowler/config/config.py
  pyproject.toml
Labels: status/waiting-for-revision, severity/low

#2677 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2676 chore(azure): Improve AzureService class with __set_clients__
  prowler/providers/azure/lib/service/service.py
  prowler/providers/azure/services/defender/defender_service.py
  prowler/providers/azure/services/iam/iam_service.py
  prowler/providers/azure/services/sqlserver/sqlserver_service.py
  prowler/providers/azure/services/storage/storage_service.py
Labels: provider/azure

#2680 fix(iam-dynamodb): Handle errors
  prowler/providers/aws/services/dynamodb/dynamodb_service.py
  prowler/providers/aws/services/iam/iam_service.py
Labels: provider/aws

#2690 fix(ec2-securitygroups): Handle IPv6 public
  prowler/providers/aws/services/ec2/lib/security_groups.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_postgres_5432/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_postgres_5432_test.py
  tests/providers/aws/services/ec2/lib/security_groups_test.py
Labels: provider/aws

#2692 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2694 fix(iam): password policy expiration
  prowler/providers/aws/services/iam/iam_service.py
Labels: provider/aws

#2696 feat(athena): New AWS Athena service + 2 workgroup checks
  prowler/providers/aws/services/athena/__init__.py
  prowler/providers/aws/services/athena/athena_client.py
  prowler/providers/aws/services/athena/athena_service.py
  prowler/providers/aws/services/athena/athena_workgroup_encryption/__init__.py
  prowler/providers/aws/services/athena/athena_workgroup_encryption/athena_workgroup_encryption.metadata.json
  prowler/providers/aws/services/athena/athena_workgroup_encryption/athena_workgroup_encryption.py
  prowler/providers/aws/services/athena/athena_workgroup_enforce_configuration/__init__.py
  prowler/providers/aws/services/athena/athena_workgroup_enforce_configuration/athena_workgroup_enforce_configuration.metadata.json
  prowler/providers/aws/services/athena/athena_workgroup_enforce_configuration/athena_workgroup_enforce_configuration.py
  tests/providers/aws/services/athena/athena_service_test.py
  tests/providers/aws/services/athena/athena_workgroup_encryption/athena_workgroup_encryption_test.py
  tests/providers/aws/services/athena/athena_workgroup_enforce_configuration/athena_workgroup_enforce_configuration_test.py
Labels: provider/aws

#2700 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2701 fix(cloudfront): fix ViewerProtocolPolicy and GeoRestrictionType
  prowler/providers/aws/services/cloudfront/cloudfront_service.py
  tests/providers/aws/services/cloudfront/cloudfront_service_test.py
Labels: provider/aws

#2698 fix(sns): allow default SNS policy with SourceOwner
  prowler/providers/aws/lib/policy_condition_parser/policy_condition_parser.py
  tests/providers/aws/lib/policy_condition_parser/policy_condition_parser_test.py
  tests/providers/aws/services/sns/sns_topics_not_publicly_accessible/sns_topics_not_publicly_accessible_test.py
Labels: provider/aws

#2703 docs(aws-orgs): Update syntax
  docs/tutorials/aws/organizations.md
Labels: documentation, provider/aws

#2702 fix(Enum): handle Enum classes correctly
  prowler/providers/aws/services/codeartifact/codeartifact_packages_external_public_publishing_disabled/codeartifact_packages_external_public_publishing_disabled.py
  prowler/providers/aws/services/directoryservice/directoryservice_service.py
  prowler/providers/aws/services/emr/emr_cluster_publicly_accesible/emr_cluster_publicly_accesible.py
Labels: provider/aws

#2704 fix(ds): Restore enums without optional
  prowler/providers/aws/services/directoryservice/directoryservice_service.py
Labels: provider/aws

#2706 chore(release): update Prowler Version to 3.8.1
  prowler/config/config.py
  pyproject.toml
Labels: status/waiting-for-revision, severity/low

#2710 docs(dev-guide): Fix a list and include some details to use the report
  docs/tutorials/developer-guide/checks.md
  docs/tutorials/developer-guide/unit-testing.md
Labels: documentation

#2712 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2717 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2721 chore(release): update Prowler Version to 3.8.2
  prowler/config/config.py
  pyproject.toml
Labels: status/waiting-for-revision, severity/low

#2722 test(s3): Mock S3Control when used
  prowler/providers/aws/services/s3/s3_account_level_public_access_blocks/s3_account_level_public_access_blocks.py
  tests/providers/aws/services/s3/s3_account_level_public_access_blocks/s3_account_level_public_access_blocks_test.py
  tests/providers/aws/services/s3/s3_bucket_level_public_access_block/s3_bucket_level_public_access_block_test.py
  tests/providers/aws/services/s3/s3_bucket_policy_public_write_access/s3_bucket_policy_public_write_access_test.py
Labels: provider/aws

#2725 fix(azure): Status extended ends with a dot
  prowler/providers/azure/services/defender/defender_ensure_defender_for_app_services_is_on/defender_ensure_defender_for_app_services_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_arm_is_on/defender_ensure_defender_for_arm_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_azure_sql_databases_is_on/defender_ensure_defender_for_azure_sql_databases_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_containers_is_on/defender_ensure_defender_for_containers_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_cosmosdb_is_on/defender_ensure_defender_for_cosmosdb_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_databases_is_on/defender_ensure_defender_for_databases_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_dns_is_on/defender_ensure_defender_for_dns_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_keyvault_is_on/defender_ensure_defender_for_keyvault_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_os_relational_databases_is_on/defender_ensure_defender_for_os_relational_databases_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_server_is_on/defender_ensure_defender_for_server_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_sql_servers_is_on/defender_ensure_defender_for_sql_servers_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_storage_is_on/defender_ensure_defender_for_storage_is_on.py
  prowler/providers/azure/services/iam/iam_subscription_roles_owner_custom_not_created/iam_subscription_roles_owner_custom_not_created.py
  prowler/providers/azure/services/sqlserver/sqlserver_auditing_enabled/sqlserver_auditing_enabled.py
  prowler/providers/azure/services/sqlserver/sqlserver_azuread_administrator_enabled/sqlserver_azuread_administrator_enabled.py
  prowler/providers/azure/services/sqlserver/sqlserver_unrestricted_inbound_access/sqlserver_unrestricted_inbound_access.py
  prowler/providers/azure/services/storage/storage_blob_public_access_level_is_disabled/storage_blob_public_access_level_is_disabled.py
  prowler/providers/azure/services/storage/storage_default_network_access_rule_is_denied/storage_default_network_access_rule_is_denied.py
  prowler/providers/azure/services/storage/storage_ensure_azure_services_are_trusted_to_access_is_enabled/storage_ensure_azure_services_are_trusted_to_access_is_enabled.py
  prowler/providers/azure/services/storage/storage_ensure_encryption_with_customer_managed_keys/storage_ensure_encryption_with_customer_managed_keys.py
  prowler/providers/azure/services/storage/storage_ensure_minimum_tls_version_12/storage_ensure_minimum_tls_version_12.py
  prowler/providers/azure/services/storage/storage_infrastructure_encryption_is_enabled/storage_infrastructure_encryption_is_enabled.py
  prowler/providers/azure/services/storage/storage_secure_transfer_required_is_enabled/storage_secure_transfer_required_is_enabled.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_app_services_is_on/defender_ensure_defender_for_app_services_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_arm_is_on/defender_ensure_defender_for_arm_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_azure_sql_databases_is_on/defender_ensure_defender_for_azure_sql_databases_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_containers_is_on/defender_ensure_defender_for_containers_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_cosmosdb_is_on/defender_ensure_defender_for_cosmosdb_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_databases_is_on/defender_ensure_defender_for_databases_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_dns_is_on/defender_ensure_defender_for_dns_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_keyvault_is_on/defender_ensure_defender_for_keyvault_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_os_relational_databases_is_on/defender_ensure_defender_for_os_relational_databases_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_server_is_on/defender_ensure_defender_for_server_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_sql_servers_is_on/defender_ensure_defender_for_sql_servers_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_storage_is_on/defender_ensure_defender_for_storage_is_on_test.py
  tests/providers/azure/services/iam/iam_subscription_roles_owner_custom_not_created/iam_subscription_roles_owner_custom_not_created_test.py
  tests/providers/azure/services/sqlserver/sqlserver_auditing_enabled/sqlserver_auditing_enabled_test.py
  tests/providers/azure/services/sqlserver/sqlserver_azuread_administrator_enabled/sqlserver_azuread_administrator_enabled_test.py
  tests/providers/azure/services/sqlserver/sqlserver_unrestricted_inbound_access/sqlserver_unrestricted_inbound_access_test.py
  tests/providers/azure/services/storage/storage_blob_public_access_level_is_disabled/storage_blob_public_access_level_is_disabled_test.py
  tests/providers/azure/services/storage/storage_default_network_access_rule_is_denied/storage_default_network_access_rule_is_denied_test.py
  tests/providers/azure/services/storage/storage_ensure_azure_services_are_trusted_to_access_is_enabled/storage_ensure_azure_services_are_trusted_to_access_is_enabled_test.py
  tests/providers/azure/services/storage/storage_ensure_encryption_with_customer_managed_keys/storage_ensure_encryption_with_customer_managed_keys_test.py
  tests/providers/azure/services/storage/storage_ensure_minimum_tls_version_12/storage_ensure_minimum_tls_version_12_test.py
  tests/providers/azure/services/storage/storage_infrastructure_encryption_is_enabled/storage_infrastructure_encryption_is_enabled_test.py
  tests/providers/azure/services/storage/storage_secure_transfer_required_is_enabled/storage_secure_transfer_required_is_enabled_test.py
Labels: provider/azure

#2724 docs(style): Add more details
  docs/developer-guide/audit-info.md
  docs/developer-guide/checks.md
  docs/developer-guide/documentation.md
  docs/developer-guide/integration-testing.md
  docs/developer-guide/integrations.md
  docs/developer-guide/introduction.md
  docs/developer-guide/outputs.md
  docs/developer-guide/security-compliance-framework.md
  docs/developer-guide/services.md
  docs/developer-guide/unit-testing.md
  docs/index.md
  docs/troubleshooting.md
  docs/tutorials/aws/v2_to_v3_checks_mapping.md
  docs/tutorials/azure/authentication.md
  docs/tutorials/misc.md
  mkdocs.yml
Labels: documentation

#2733 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2726 fix(is_account_only_allowed_in_condition): Context name on conditions are case-insensitive
  prowler/providers/aws/lib/policy_condition_parser/policy_condition_parser.py
  tests/providers/aws/lib/policy_condition_parser/policy_condition_parser_test.py
Labels: provider/aws

#2732 fix(test-vpc): use the right import paths
  tests/providers/aws/services/vpc/vpc_subnet_no_public_ip_by_default/vpc_subnet_no_public_ip_by_default_test.py
Labels: provider/aws

#2734 fix(gcp): Status extended ends with a dot
  prowler/providers/gcp/services/bigquery/bigquery_dataset_cmk_encryption/bigquery_dataset_cmk_encryption.py
  prowler/providers/gcp/services/bigquery/bigquery_dataset_public_access/bigquery_dataset_public_access.py
  prowler/providers/gcp/services/bigquery/bigquery_table_cmk_encryption/bigquery_table_cmk_encryption.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_automated_backups/cloudsql_instance_automated_backups.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_private_ip_assignment/cloudsql_instance_private_ip_assignment.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_public_access/cloudsql_instance_public_access.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_contained_database_authentication_flag/cloudsql_instance_sqlserver_contained_database_authentication_flag.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_trace_flag/cloudsql_instance_sqlserver_trace_flag.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_ssl_connections/cloudsql_instance_ssl_connections.py
  prowler/providers/gcp/services/cloudstorage/cloudstorage_bucket_log_retention_policy_lock/cloudstorage_bucket_log_retention_policy_lock.py
  prowler/providers/gcp/services/cloudstorage/cloudstorage_bucket_public_access/cloudstorage_bucket_public_access.py
  prowler/providers/gcp/services/cloudstorage/cloudstorage_bucket_uniform_bucket_level_access/cloudstorage_bucket_uniform_bucket_level_access.py
  prowler/providers/gcp/services/compute/compute_instance_confidential_computing_enabled/compute_instance_confidential_computing_enabled.py
  prowler/providers/gcp/services/compute/compute_instance_default_service_account_in_use/compute_instance_default_service_account_in_use.py
  prowler/providers/gcp/services/compute/compute_instance_default_service_account_in_use_with_full_api_access/compute_instance_default_service_account_in_use_with_full_api_access.py
  prowler/providers/gcp/services/compute/compute_instance_encryption_with_csek_enabled/compute_instance_encryption_with_csek_enabled.py
  prowler/providers/gcp/services/compute/compute_instance_ip_forwarding_is_enabled/compute_instance_ip_forwarding_is_enabled.py
  prowler/providers/gcp/services/compute/compute_instance_serial_ports_in_use/compute_instance_serial_ports_in_use.py
  prowler/providers/gcp/services/compute/compute_instance_shielded_vm_enabled/compute_instance_shielded_vm_enabled.py
  prowler/providers/gcp/services/compute/compute_loadbalancer_logging_enabled/compute_loadbalancer_logging_enabled.py
  prowler/providers/gcp/services/compute/compute_network_default_in_use/compute_network_default_in_use.py
  prowler/providers/gcp/services/compute/compute_network_dns_logging_enabled/compute_network_dns_logging_enabled.py
  prowler/providers/gcp/services/compute/compute_network_not_legacy/compute_network_not_legacy.py
  prowler/providers/gcp/services/compute/compute_project_os_login_enabled/compute_project_os_login_enabled.py
  prowler/providers/gcp/services/compute/compute_subnet_flow_logs_enabled/compute_subnet_flow_logs_enabled.py
  prowler/providers/gcp/services/iam/iam_account_access_approval_enabled/iam_account_access_approval_enabled.py
  prowler/providers/gcp/services/iam/iam_audit_logs_enabled/iam_audit_logs_enabled.py
  prowler/providers/gcp/services/iam/iam_organization_essential_contacts_configured/iam_organization_essential_contacts_configured.py
  prowler/providers/gcp/services/iam/iam_role_kms_enforce_separation_of_duties/iam_role_kms_enforce_separation_of_duties.py
  prowler/providers/gcp/services/iam/iam_role_sa_enforce_separation_of_duties/iam_role_sa_enforce_separation_of_duties.py
  prowler/providers/gcp/services/iam/iam_sa_no_administrative_privileges/iam_sa_no_administrative_privileges.py
  prowler/providers/gcp/services/iam/iam_sa_user_managed_key_rotate_90_days/iam_sa_user_managed_key_rotate_90_days.py
  prowler/providers/gcp/services/kms/kms_key_not_publicly_accessible/kms_key_not_publicly_accessible.py
  prowler/providers/gcp/services/logging/logging_sink_created/logging_sink_created.py
  prowler/providers/gcp/services/serviceusage/serviceusage_cloudasset_inventory_enabled/serviceusage_cloudasset_inventory_enabled.py
  tests/providers/gcp/services/bigquery/bigquery_dataset_public_access/bigquery_dataset_public_access_test.py
  tests/providers/gcp/services/compute/compute_default_service_account_in_use_with_full_api_access/compute_default_service_account_in_use_with_full_api_access_test.py
Labels: provider/gcp

#2737 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2741 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2740 tests(check_security_group)
  tests/providers/aws/services/ec2/lib/security_groups_test.py
Labels: provider/aws

#2736 feat(ecr_repositories_scan_vulnerabilities_in_latest_image): Minimum severity is configurable
  prowler/config/config.yaml
  prowler/providers/aws/services/ecr/ecr_repositories_scan_vulnerabilities_in_latest_image/ecr_repositories_scan_vulnerabilities_in_latest_image.py
  tests/providers/aws/services/ecr/ecr_repositories_scan_vulnerabilities_in_latest_image/ecr_repositories_scan_vulnerabilities_in_latest_image_test.py
Labels: provider/aws

#2744 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2748 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2743 fix(checks_to_execute): --checks and --resource_arn working together
  prowler/__main__.py
Labels: provider/aws

#2747 docs(testing): Mocking the service and the service client at the service client level
  docs/developer-guide/unit-testing.md
Labels: documentation

#2757 feat(s3): Add S3 KMS encryption check
  prowler/providers/aws/services/s3/s3_bucket_kms_encryption/__init__.py
  prowler/providers/aws/services/s3/s3_bucket_kms_encryption/s3_bucket_kms_encryption.metadata.json
  prowler/providers/aws/services/s3/s3_bucket_kms_encryption/s3_bucket_kms_encryption.py
  tests/providers/aws/services/s3/s3_bucket_kms_encryption/s3_bucket_kms_encryption_test.py
Labels: provider/aws

#2759 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2760 fix(nacls): Tests
  prowler/providers/aws/services/ec2/lib/network_acls.py
  tests/providers/aws/services/ec2/ec2_networkacl_allow_ingress_any_port/ec2_networkacl_allow_ingress_any_port_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_sql_server_1433_1434/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_sql_server_1433_1434_test.py
  tests/providers/aws/services/ec2/lib/network_acls_test.py
Labels: provider/aws

#2750 feat(iam): Check inline policies in IAM Users, Groups & Roles for admin priv's
  .pre-commit-config.yaml
  prowler/providers/aws/services/iam/iam_inline_policy_no_administrative_privileges/__init__.py
  prowler/providers/aws/services/iam/iam_inline_policy_no_administrative_privileges/iam_inline_policy_no_administrative_privileges.metadata.json
  prowler/providers/aws/services/iam/iam_inline_policy_no_administrative_privileges/iam_inline_policy_no_administrative_privileges.py
  prowler/providers/aws/services/iam/iam_service.py
  tests/providers/aws/services/iam/iam_inline_policy_no_administrative_privileges/iam_inline_policy_no_administrative_privileges_test.py
  tests/providers/aws/services/iam/iam_service_test.py
Labels: provider/aws

#2764 fix(get_checks_from_input_arn): fix logic and add tests
  prowler/providers/aws/aws_provider.py
  tests/lib/check/check_test.py
Labels: provider/aws

#2766 fix(get_regions_from_audit_resources): fix logic and add tests
  prowler/providers/aws/aws_provider.py
  tests/lib/check/check_test.py
Labels: provider/aws

#2763 fix(iam_policy_allows_privilege_escalation): Handle admin permission so *
  prowler/providers/aws/services/iam/iam_policy_allows_privilege_escalation/iam_policy_allows_privilege_escalation.py
  tests/providers/aws/services/iam/iam_policy_allows_privilege_escalation/iam_policy_allows_privilege_escalation_test.py
Labels: provider/aws

#2664 chore(s3): Move lib to the AWS provider and include tests
  docs/tutorials/aws/s3.md
  docs/tutorials/reporting.md
  mkdocs.yml
  prowler/__main__.py
  prowler/lib/outputs/outputs.py
  prowler/providers/aws/lib/quick_inventory/quick_inventory.py
  prowler/providers/aws/lib/s3/__init__.py
  prowler/providers/aws/lib/s3/s3.py
  tests/lib/outputs/outputs_test.py
  tests/providers/aws/lib/s3/fixtures/prowler-output-123456789012.csv
  tests/providers/aws/lib/s3/fixtures/prowler-output-123456789012_cis_1.4_aws.csv
  tests/providers/aws/lib/s3/s3_test.py
Labels: provider/aws

#2775 docs: Include new config ecr_repository_vulnerability_minimum_severity
  README.md
  docs/tutorials/configuration_file.md
  pyproject.toml
Labels: documentation

#2774 docs: explain output formats
  docs/tutorials/reporting.md
Labels: documentation

#2772 fix(iam_policy_allows_privilege_escalation): Not use search for checking API actions
  prowler/providers/aws/services/iam/iam_policy_allows_privilege_escalation/iam_policy_allows_privilege_escalation.py
  tests/providers/aws/services/iam/iam_policy_allows_privilege_escalation/iam_policy_allows_privilege_escalation_test.py
Labels: provider/aws

#2769 fix(test): Update moto to 4.1.15 and update tests
  poetry.lock
  pyproject.toml
  tests/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled/cloudtrail_multi_region_enabled_test.py
  tests/providers/aws/services/ec2/ec2_instance_detailed_monitoring_enabled/ec2_instance_detailed_monitoring_enabled_test.py
  tests/providers/aws/services/vpc/vpc_service_test.py
Labels: provider/aws

#2768 test(vpc_endpoint_services_allowed_principals_trust_boundaries)
  tests/providers/aws/services/vpc/vpc_endpoint_services_allowed_principals_trust_boundaries/vpc_endpoint_services_allowed_principals_trust_boundaries_test.py
Labels: provider/aws

#2779 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2787 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2791 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low
