Repository prowler-cloud/prowler, pull requests merged in 2023-09, with the labels that each got.

#2794 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2801 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2802 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2814 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2842 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2844 fix(cloudtrail_s3_dataevents_read/write_enabled): Handle S3 ARN
  prowler/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_read_enabled/cloudtrail_s3_dataevents_read_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_write_enabled/cloudtrail_s3_dataevents_write_enabled.py
  tests/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_read_enabled/cloudtrail_s3_dataevents_read_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_write_enabled/cloudtrail_s3_dataevents_write_enabled_test.py
Labels: provider/aws

#2845 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2846 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2852 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2853 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2825 fix(eks_endpoints_not_publicly_accessible): handle endpoint private access
  prowler/providers/aws/services/eks/eks_endpoints_not_publicly_accessible/eks_endpoints_not_publicly_accessible.py
  tests/providers/aws/services/eks/eks_endpoints_not_publicly_accessible/eks_endpoints_not_publicly_accessible_test.py
Labels: provider/aws

#2848 fix(sqs_queues_not_publicly_accessible): Improve status extended
  prowler/providers/aws/services/sqs/sqs_queues_not_publicly_accessible/sqs_queues_not_publicly_accessible.py
  tests/providers/aws/services/sqs/sqs_queues_not_publicly_accessible/sqs_queues_not_publicly_accessible_test.py
Labels: provider/aws

#2857 fix(iam): Handle NoSuchEntityException in ListRolePolicies
  prowler/providers/aws/services/iam/iam_service.py
Labels: provider/aws

#2859 fix(ds): GetSnapshotLimits for MicrosoftAD
  prowler/providers/aws/services/directoryservice/directoryservice_service.py
Labels: provider/aws

#2824 fix(eks_control_plane_endpoint_access_restricted): handle endpoint private access
  prowler/providers/aws/services/eks/eks_control_plane_endpoint_access_restricted/eks_control_plane_endpoint_access_restricted.py
  tests/providers/aws/services/eks/eks_control_plane_endpoint_access_restricted/eks_control_plane_endpoint_access_restricted_test.py
Labels: provider/aws

#2860 fix(elbv2): Handle LoadBalancerNotFound
  prowler/providers/aws/services/elbv2/elbv2_service.py
Labels: provider/aws

#2858 fix(apigw): KeyError name
  prowler/providers/aws/services/apigateway/apigateway_service.py
Labels: provider/aws

#2820 fix(iam_inline_policy_no_administrative_privileges): set resource id as the entity name
  prowler/providers/aws/services/iam/iam_inline_policy_no_administrative_privileges/iam_inline_policy_no_administrative_privileges.py
  prowler/providers/aws/services/iam/iam_service.py
  tests/providers/aws/services/iam/iam_inline_policy_no_administrative_privileges/iam_inline_policy_no_administrative_privileges_test.py
  tests/providers/aws/services/iam/iam_service_test.py
Labels: testing-pending, provider/aws

#2863 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2869 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2868 refactor(security_hub): Send findings in batches
  prowler/__main__.py
  prowler/lib/outputs/models.py
  prowler/lib/outputs/outputs.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  tests/lib/outputs/outputs_test.py
  tests/providers/aws/lib/security_hub/fixtures/metadata.json
  tests/providers/aws/lib/security_hub/security_hub_test.py
Labels: provider/aws

#2861 fix(outputs_unix_timestamp): Remove subsecond
  prowler/lib/utils/utils.py
  tests/lib/outputs/outputs_test.py
Labels: no-merge

#2871 fix(s3_bucket_policy_public_write_access): Handle S3 Policy without Principal
  prowler/providers/aws/services/s3/s3_bucket_policy_public_write_access/s3_bucket_policy_public_write_access.py
Labels: provider/aws

#2872 fix(iam): Handle NoSuchEntity when calling list_role_policies
  prowler/providers/aws/services/iam/iam_service.py
Labels: provider/aws

#2873 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2874 docs(aws): Move regions and profiles to AWS
  docs/tutorials/aws/authentication.md
  docs/tutorials/aws/regions-and-partitions.md
  docs/tutorials/misc.md
Labels: documentation

#2875 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2879 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2878 docs(developer-guide): fix typos
  docs/developer-guide/checks.md
Labels: documentation
