Repository prowler-cloud/prowler, pull requests merged in 2023-10, with the labels that each got.

#2880 fix(aws): Include missing ARNs
  prowler/providers/aws/services/guardduty/guardduty_is_enabled/guardduty_is_enabled.py
  prowler/providers/aws/services/guardduty/guardduty_service.py
  prowler/providers/aws/services/organizations/organizations_service.py
  prowler/providers/aws/services/redshift/redshift_service.py
  prowler/providers/aws/services/securityhub/securityhub_service.py
  prowler/providers/aws/services/workspaces/workspaces_service.py
  tests/providers/aws/services/guardduty/guardduty_is_enabled/guardduty_is_enabled_test.py
  tests/providers/aws/services/guardduty/guardduty_no_high_severity_findings/guardduty_no_high_severity_findings_test.py
  tests/providers/aws/services/organizations/organizations_account_part_of_organizations/organizations_account_part_of_organizations_test.py
  tests/providers/aws/services/organizations/organizations_scp_check_deny_regions/organizations_scp_check_deny_regions_test.py
  tests/providers/aws/services/organizations/organizations_tags_policies_enabled_and_attached/organizations_tags_policies_enabled_and_attached_test.py
  tests/providers/aws/services/redshift/redshift_cluster_audit_logging/redshift_cluster_audit_logging_test.py
  tests/providers/aws/services/redshift/redshift_cluster_automated_snapshot/redshift_cluster_automated_snapshot_test.py
  tests/providers/aws/services/redshift/redshift_cluster_automatic_upgrades/redshift_cluster_automatic_upgrades_test.py
  tests/providers/aws/services/redshift/redshift_cluster_public_access/redshift_cluster_public_access_test.py
  tests/providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled_test.py
  tests/providers/aws/services/workspaces/workspaces_volume_encryption_enabled/workspaces_volume_encryption_enabled_test.py
  tests/providers/aws/services/workspaces/workspaces_vpc_2private_1public_subnets_nat/workspaces_vpc_2private_1public_subnets_nat_test.py
Labels: provider/aws

#2883 fix(iam credentials checks): unify logic
  prowler/providers/aws/services/iam/iam_disable_30_days_credentials/iam_disable_30_days_credentials.py
  prowler/providers/aws/services/iam/iam_disable_45_days_credentials/iam_disable_45_days_credentials.py
  prowler/providers/aws/services/iam/iam_disable_90_days_credentials/iam_disable_90_days_credentials.py
  prowler/providers/aws/services/iam/iam_rotate_access_key_90_days/iam_rotate_access_key_90_days.py
Labels: provider/aws

#2786 feat(json-asff): adds AWS resource tags in json-asff and SecurityHub findings
  prowler/lib/outputs/json.py
  prowler/lib/outputs/models.py
  prowler/lib/outputs/outputs.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  tests/lib/outputs/outputs_test.py
Labels: provider/aws

#2897 fix(dockerfile): Use latest curl
  Dockerfile
Labels: severity/high

#2899 fix(iam creds tests): dont use search and negative indexes
  tests/providers/aws/services/iam/iam_disable_30_days_credentials/iam_disable_30_days_credentials_test.py
  tests/providers/aws/services/iam/iam_disable_45_days_credentials/iam_disable_45_days_credentials_test.py
  tests/providers/aws/services/iam/iam_disable_90_days_credentials/iam_disable_90_days_credentials_test.py
Labels: provider/aws

#2890 fix(findingID): remove duplicate finding IDs
  prowler/providers/aws/services/iam/iam_disable_30_days_credentials/iam_disable_30_days_credentials.py
  prowler/providers/aws/services/iam/iam_disable_45_days_credentials/iam_disable_45_days_credentials.py
  prowler/providers/aws/services/iam/iam_disable_90_days_credentials/iam_disable_90_days_credentials.py
  prowler/providers/aws/services/iam/iam_inline_policy_no_administrative_privileges/iam_inline_policy_no_administrative_privileges.py
  prowler/providers/aws/services/iam/iam_policy_attached_only_to_group_or_roles/iam_policy_attached_only_to_group_or_roles.py
  prowler/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover.py
  tests/providers/aws/services/iam/iam_disable_30_days_credentials/iam_disable_30_days_credentials_test.py
  tests/providers/aws/services/iam/iam_disable_45_days_credentials/iam_disable_45_days_credentials_test.py
  tests/providers/aws/services/iam/iam_disable_90_days_credentials/iam_disable_90_days_credentials_test.py
  tests/providers/aws/services/iam/iam_inline_policy_no_administrative_privileges/iam_inline_policy_no_administrative_privileges_test.py
  tests/providers/aws/services/iam/iam_policy_attached_only_to_group_or_roles/iam_policy_attached_only_to_group_or_roles_test.py
  tests/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover_test.py
Labels: provider/aws

#2902 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2903 fix(acm): add certificate id
  prowler/providers/aws/services/acm/acm_certificates_expiration_check/acm_certificates_expiration_check.py
  prowler/providers/aws/services/acm/acm_certificates_transparency_logs_enabled/acm_certificates_transparency_logs_enabled.py
  prowler/providers/aws/services/acm/acm_service.py
  tests/providers/aws/services/acm/acm_certificates_expiration_check/acm_certificates_expiration_check_test.py
  tests/providers/aws/services/acm/acm_certificates_transparency_logs_enabled/acm_certificates_transparency_logs_enabled_test.py
Labels: provider/aws

#2898 feat(wafv2): Add check wafv2_webacl_logging_enabled
  prowler/providers/aws/services/wafv2/wafv2_service.py
  prowler/providers/aws/services/wafv2/wafv2_webacl_logging_enabled/__init__.py
  prowler/providers/aws/services/wafv2/wafv2_webacl_logging_enabled/wafv2_webacl_logging_enabled.metadata.json
  prowler/providers/aws/services/wafv2/wafv2_webacl_logging_enabled/wafv2_webacl_logging_enabled.py
  tests/providers/aws/services/wafv2/wafv2_webacl_logging_enabled/wafv2_webacl_logging_enabled_test.py
Labels: provider/aws

#2907 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2908 fix(securityhub): archive SecurityHub findings in empty regions
  prowler/providers/aws/lib/security_hub/security_hub.py
  tests/providers/aws/lib/security_hub/security_hub_test.py
Labels: provider/aws

#2912 fix(cloudwatch): ignore new lines in filters
  prowler/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_acls_alarm_configured/cloudwatch_changes_to_network_acls_alarm_configured.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_gateways_alarm_configured/cloudwatch_changes_to_network_gateways_alarm_configured.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_route_tables_alarm_configured/cloudwatch_changes_to_network_route_tables_alarm_configured.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_changes_to_vpcs_alarm_configured/cloudwatch_changes_to_vpcs_alarm_configured.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_and_alarm_for_aws_config_configuration_changes_enabled/cloudwatch_log_metric_filter_and_alarm_for_aws_config_configuration_changes_enabled.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_and_alarm_for_cloudtrail_configuration_changes_enabled/cloudwatch_log_metric_filter_and_alarm_for_cloudtrail_configuration_changes_enabled.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_authentication_failures/cloudwatch_log_metric_filter_authentication_failures.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_aws_organizations_changes/cloudwatch_log_metric_filter_aws_organizations_changes.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_disable_or_scheduled_deletion_of_kms_cmk/cloudwatch_log_metric_filter_disable_or_scheduled_deletion_of_kms_cmk.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_for_s3_bucket_policy_changes/cloudwatch_log_metric_filter_for_s3_bucket_policy_changes.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_policy_changes/cloudwatch_log_metric_filter_policy_changes.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_root_usage/cloudwatch_log_metric_filter_root_usage.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_security_group_changes/cloudwatch_log_metric_filter_security_group_changes.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_sign_in_without_mfa/cloudwatch_log_metric_filter_sign_in_without_mfa.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_unauthorized_api_calls/cloudwatch_log_metric_filter_unauthorized_api_calls.py
  tests/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_acls_alarm_configured/cloudwatch_changes_to_network_acls_alarm_configured_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_gateways_alarm_configured/cloudwatch_changes_to_network_gateways_alarm_configured_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_route_tables_alarm_configured/cloudwatch_changes_to_network_route_tables_alarm_configured_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_changes_to_vpcs_alarm_configured/cloudwatch_changes_to_vpcs_alarm_configured_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_and_alarm_for_aws_config_configuration_changes_enabled/cloudwatch_log_metric_filter_and_alarm_for_aws_config_configuration_changes_enabled_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_and_alarm_for_cloudtrail_configuration_changes_enabled/cloudwatch_log_metric_filter_and_alarm_for_cloudtrail_configuration_changes_enabled_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_authentication_failures/cloudwatch_log_metric_filter_authentication_failures_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_aws_organizations_changes/cloudwatch_log_metric_filter_aws_organizations_changes_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_disable_or_scheduled_deletion_of_kms_cmk/cloudwatch_log_metric_filter_disable_or_scheduled_deletion_of_kms_cmk_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_for_s3_bucket_policy_changes/cloudwatch_log_metric_filter_for_s3_bucket_policy_changes_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_policy_changes/cloudwatch_log_metric_filter_policy_changes_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_root_usage/cloudwatch_log_metric_filter_root_usage_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_security_group_changes/cloudwatch_log_metric_filter_security_group_changes_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_sign_in_without_mfa/cloudwatch_log_metric_filter_sign_in_without_mfa_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_unauthorized_api_calls/cloudwatch_log_metric_filter_unauthorized_api_calls_test.py
Labels: provider/aws

#2913 docs(pull-request): Include check list to create/review PR
  docs/developer-guide/introduction.md
Labels: documentation

#2923 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2926 chore(release): update Prowler Version to 3.10.0
  prowler/config/config.py
  pyproject.toml
  tests/providers/aws/lib/security_hub/security_hub_test.py
Labels: status/waiting-for-revision, severity/low

#2927 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2930 chore(docs): Add report.region criteria
  docs/developer-guide/checks.md
Labels: documentation

#2929 fix(vpc): ignore com.amazonaws.vpce endpoints
  prowler/providers/aws/services/vpc/vpc_endpoint_connections_trust_boundaries/vpc_endpoint_connections_trust_boundaries.py
  prowler/providers/aws/services/vpc/vpc_service.py
  tests/providers/aws/services/vpc/vpc_endpoint_connections_trust_boundaries/vpc_endpoint_connections_trust_boundaries_test.py
Labels: provider/aws

#2937 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2675 feat(aws): New CloudTrail, DLM, DocumentDB, EC2, Account and Support checks
  prowler/config/config.yaml
  prowler/providers/aws/services/account/account_maintain_different_contact_details_to_security_billing_and_operations/__init__.py
  prowler/providers/aws/services/account/account_maintain_different_contact_details_to_security_billing_and_operations/account_maintain_different_contact_details_to_security_billing_and_operations.metadata.json
  prowler/providers/aws/services/account/account_maintain_different_contact_details_to_security_billing_and_operations/account_maintain_different_contact_details_to_security_billing_and_operations.py
  prowler/providers/aws/services/account/account_service.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled/cloudtrail_multi_region_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled_logging_management_events/__init__.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled_logging_management_events/cloudtrail_multi_region_enabled_logging_management_events.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled_logging_management_events/cloudtrail_multi_region_enabled_logging_management_events.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_write_enabled/cloudtrail_s3_dataevents_write_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_service.py
  prowler/providers/aws/services/dlm/__init__.py
  prowler/providers/aws/services/dlm/dlm_client.py
  prowler/providers/aws/services/dlm/dlm_ebs_snapshot_lifecycle_policy_exists/__init__.py
  prowler/providers/aws/services/dlm/dlm_ebs_snapshot_lifecycle_policy_exists/dlm_ebs_snapshot_lifecycle_policy_exists.metadata.json
  prowler/providers/aws/services/dlm/dlm_ebs_snapshot_lifecycle_policy_exists/dlm_ebs_snapshot_lifecycle_policy_exists.py
  prowler/providers/aws/services/dlm/dlm_service.py
  prowler/providers/aws/services/documentdb/__init__.py
  prowler/providers/aws/services/documentdb/documentdb_client.py
  prowler/providers/aws/services/documentdb/documentdb_instance_storage_encrypted/__init__.py
  prowler/providers/aws/services/documentdb/documentdb_instance_storage_encrypted/documentdb_instance_storage_encrypted.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_instance_storage_encrypted/documentdb_instance_storage_encrypted.py
  prowler/providers/aws/services/documentdb/documentdb_service.py
  prowler/providers/aws/services/ec2/ec2_ebs_volume_snapshots_exists/__init__.py
  prowler/providers/aws/services/ec2/ec2_ebs_volume_snapshots_exists/ec2_ebs_volume_snapshots_exists.metadata.json
  prowler/providers/aws/services/ec2/ec2_ebs_volume_snapshots_exists/ec2_ebs_volume_snapshots_exists.py
  prowler/providers/aws/services/ec2/ec2_service.py
  prowler/providers/aws/services/trustedadvisor/trustedadvisor_errors_and_warnings/trustedadvisor_errors_and_warnings.py
  prowler/providers/aws/services/trustedadvisor/trustedadvisor_premium_support_plan_subscribed/__init__.py
  prowler/providers/aws/services/trustedadvisor/trustedadvisor_premium_support_plan_subscribed/trustedadvisor_premium_support_plan_subscribed.metadata.json
  prowler/providers/aws/services/trustedadvisor/trustedadvisor_premium_support_plan_subscribed/trustedadvisor_premium_support_plan_subscribed.py
  prowler/providers/aws/services/trustedadvisor/trustedadvisor_service.py
  tests/providers/aws/services/account/account_maintain_different_contact_details_to_security_billing_and_operations/account_maintain_different_contact_details_to_security_billing_and_operations_test.py
  tests/providers/aws/services/account/account_service_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled_logging_management_events/cloudtrail_multi_region_enabled_logging_management_events_test.py
  tests/providers/aws/services/dlm/dlm_ebs_snapshot_lifecycle_policy_exists/dlm_ebs_snapshot_lifecycle_policy_exists_test.py
  tests/providers/aws/services/dlm/dlm_service_test.py
  tests/providers/aws/services/documentdb/documentdb_instance_storage_encrypted/documentdb_instance_storage_encrypted_test.py
  tests/providers/aws/services/documentdb/documentdb_service_test.py
  tests/providers/aws/services/ec2/ec2_ebs_volume_snapshots_exists/ec2_ebs_volume_snapshots_exists_test.py
  tests/providers/aws/services/ec2/ec2_service_test.py
  tests/providers/aws/services/trustedadvisor/trustedadvisor_errors_and_warnings/trustedadvisor_errors_and_warnings_test.py
  tests/providers/aws/services/trustedadvisor/trustedadvisor_premium_support_plan_subscribed/trustedadvisor_premium_support_plan_subscribed_test.py
  tests/providers/aws/services/trustedadvisor/trustedadvisor_service_test.py
Labels: provider/aws

#2939 fix(sqs): Handle AWS.SimpleQueueService.NonExistentQueue in list_queue_tags
  prowler/providers/aws/services/sqs/sqs_service.py
Labels: provider/aws

#2942 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2928 feat(vpc): add vpc, nacl or subnet names in findings
  prowler/providers/aws/services/ec2/ec2_networkacl_allow_ingress_any_port/ec2_networkacl_allow_ingress_any_port.py
  prowler/providers/aws/services/ec2/ec2_networkacl_allow_ingress_tcp_port_22/ec2_networkacl_allow_ingress_tcp_port_22.py
  prowler/providers/aws/services/ec2/ec2_networkacl_allow_ingress_tcp_port_3389/ec2_networkacl_allow_ingress_tcp_port_3389.py
  prowler/providers/aws/services/ec2/ec2_service.py
  prowler/providers/aws/services/networkfirewall/networkfirewall_in_all_vpc/networkfirewall_in_all_vpc.py
  prowler/providers/aws/services/vpc/vpc_flow_logs_enabled/vpc_flow_logs_enabled.py
  prowler/providers/aws/services/vpc/vpc_service.py
  prowler/providers/aws/services/vpc/vpc_subnet_different_az/vpc_subnet_different_az.py
  prowler/providers/aws/services/vpc/vpc_subnet_no_public_ip_by_default/vpc_subnet_no_public_ip_by_default.py
  prowler/providers/aws/services/vpc/vpc_subnet_separate_private_public/vpc_subnet_separate_private_public.py
  tests/providers/aws/services/networkfirewall/networkfirewall_in_all_vpc/networkfirewall_in_all_vpc_test.py
  tests/providers/aws/services/vpc/vpc_flow_logs_enabled/vpc_flow_logs_enabled_test.py
  tests/providers/aws/services/vpc/vpc_subnet_different_az/vpc_subnet_different_az_test.py
  tests/providers/aws/services/vpc/vpc_subnet_no_public_ip_by_default/vpc_subnet_no_public_ip_by_default_test.py
  tests/providers/aws/services/vpc/vpc_subnet_separate_private_public/vpc_subnet_separate_private_public_test.py
Labels: provider/aws

#2945 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2944 fix(security group): check if security groups are used by Lambda
  prowler/providers/aws/services/awslambda/awslambda_service.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_not_used/ec2_securitygroup_not_used.py
  tests/providers/aws/services/awslambda/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled_test.py
  tests/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code_test.py
  tests/providers/aws/services/awslambda/awslambda_function_no_secrets_in_variables/awslambda_function_no_secrets_in_variables_test.py
  tests/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible_test.py
  tests/providers/aws/services/awslambda/awslambda_function_url_cors_policy/awslambda_function_url_cors_policy_test.py
  tests/providers/aws/services/awslambda/awslambda_function_url_public/awslambda_function_url_public_test.py
  tests/providers/aws/services/awslambda/awslambda_function_using_supported_runtimes/awslambda_function_using_supported_runtimes_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_not_used/ec2_securitygroup_not_used_test.py
Labels: provider/aws

#2947 fix(ec2_securitygroup_not_used): Mock Lambda service
  tests/providers/aws/audit_info_utils.py
  tests/providers/aws/services/awslambda/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled_test.py
  tests/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code_test.py
  tests/providers/aws/services/awslambda/awslambda_function_no_secrets_in_variables/awslambda_function_no_secrets_in_variables_test.py
  tests/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible_test.py
  tests/providers/aws/services/awslambda/awslambda_function_url_cors_policy/awslambda_function_url_cors_policy_test.py
  tests/providers/aws/services/awslambda/awslambda_function_url_public/awslambda_function_url_public_test.py
  tests/providers/aws/services/awslambda/awslambda_function_using_supported_runtimes/awslambda_function_using_supported_runtimes_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_not_used/ec2_securitygroup_not_used_test.py
Labels: provider/aws

#2952 fix(APIGateway): Improve check naming
  docs/tutorials/aws/v2_to_v3_checks_mapping.md
  docs/tutorials/pentesting.md
  prowler/compliance/aws/aws_foundational_security_best_practices_aws.json
  prowler/compliance/aws/aws_well_architected_framework_reliability_pillar_aws.json
  prowler/compliance/aws/aws_well_architected_framework_security_pillar_aws.json
  prowler/compliance/aws/cisa_aws.json
  prowler/compliance/aws/ens_rd2022_aws.json
  prowler/compliance/aws/fedramp_low_revision_4_aws.json
  prowler/compliance/aws/fedramp_moderate_revision_4_aws.json
  prowler/compliance/aws/ffiec_aws.json
  prowler/compliance/aws/gxp_21_cfr_part_11_aws.json
  prowler/compliance/aws/hipaa_aws.json
  prowler/compliance/aws/nist_800_171_revision_2_aws.json
  prowler/compliance/aws/nist_800_53_revision_4_aws.json
  prowler/compliance/aws/nist_800_53_revision_5_aws.json
  prowler/compliance/aws/nist_csf_1.1_aws.json
  prowler/compliance/aws/rbi_cyber_security_framework_aws.json
  prowler/compliance/aws/soc2_aws.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_authorizers_enabled/__init__.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_authorizers_enabled/apigateway_restapi_authorizers_enabled.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_authorizers_enabled/apigateway_restapi_authorizers_enabled.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_client_certificate_enabled/__init__.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_client_certificate_enabled/apigateway_restapi_client_certificate_enabled.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_client_certificate_enabled/apigateway_restapi_client_certificate_enabled.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_logging_enabled/__init__.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_logging_enabled/apigateway_restapi_logging_enabled.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_logging_enabled/apigateway_restapi_logging_enabled.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_public/__init__.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_public/apigateway_restapi_public.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_public/apigateway_restapi_public.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_public_with_authorizer/__init__.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_public_with_authorizer/apigateway_restapi_public_with_authorizer.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_public_with_authorizer/apigateway_restapi_public_with_authorizer.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_waf_acl_attached/__init__.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_waf_acl_attached/apigateway_restapi_waf_acl_attached.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_waf_acl_attached/apigateway_restapi_waf_acl_attached.py
  tests/providers/aws/services/apigateway/apigateway_authorizers_enabled/apigateway_authorizers_enabled_test.py
  tests/providers/aws/services/apigateway/apigateway_client_certificate_enabled/apigateway_client_certificate_enabled_test.py
  tests/providers/aws/services/apigateway/apigateway_endpoint_public/apigateway_endpoint_public_test.py
  tests/providers/aws/services/apigateway/apigateway_endpoint_public_without_authorizer/apigateway_endpoint_public_without_authorizer_test.py
  tests/providers/aws/services/apigateway/apigateway_logging_enabled/apigateway_logging_enabled_test.py
  tests/providers/aws/services/apigateway/apigateway_waf_acl_attached/apigateway_waf_acl_attached_test.py
Labels: provider/aws

#2954 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2956 fix(sts): force v2 STS tokens
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/credentials/credentials.py
  tests/providers/aws/lib/credentials/credentials_test.py
Labels: provider/aws

#2961 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2963 chore(allowlist): prettify allowlist names
  prowler/config/aws_allowlist.yaml
  prowler/config/aws_allowlist_example.yaml
  prowler/config/aws_controltower_allowlist.yaml
Labels: provider/aws

#2965 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2973 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#2979 fix(GuardDuty): Add `enabled_in_account` parameter
  prowler/providers/aws/services/guardduty/guardduty_is_enabled/guardduty_is_enabled.py
  prowler/providers/aws/services/guardduty/guardduty_service.py
  tests/providers/aws/services/guardduty/guardduty_is_enabled/guardduty_is_enabled_test.py
  tests/providers/aws/services/guardduty/guardduty_service_test.py
Labels: provider/aws

#2978 fix(ec2_instance_imdsv2_enabled ): verify if metadata service is disabled
  prowler/providers/aws/services/ec2/ec2_instance_imdsv2_enabled/ec2_instance_imdsv2_enabled.py
  tests/providers/aws/services/ec2/ec2_instance_imdsv2_enabled/ec2_instance_imdsv2_enabled_test.py
  tests/providers/aws/services/guardduty/guardduty_is_enabled/guardduty_is_enabled_test.py
Labels: provider/aws

#2991 fix(vpc_endpoint_services_allowed_principals_trust_boundaries): Principal
  prowler/providers/aws/services/vpc/vpc_endpoint_services_allowed_principals_trust_boundaries/vpc_endpoint_services_allowed_principals_trust_boundaries.py
  tests/providers/aws/services/vpc/vpc_endpoint_services_allowed_principals_trust_boundaries/vpc_endpoint_services_allowed_principals_trust_boundaries_test.py
Labels: provider/aws

#2992 chore(release): update Prowler Version to 3.11.0
  prowler/config/config.py
  pyproject.toml
Labels: status/waiting-for-revision, severity/low
