Repository prowler-cloud/prowler, pull requests merged in 2023-02, with the labels that each got.

#1680 update(logging): fix plural grammar for checks execution message
  prowler/lib/check/check.py
Labels: severity/informational

#1937 chore(secrets): Improve the status_extended with more information
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code.py
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_variables/awslambda_function_no_secrets_in_variables.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_no_environment_secrets/ecs_task_definitions_no_environment_secrets.py
  prowler/providers/aws/services/ssm/ssm_document_secrets/ssm_document_secrets.py
  tests/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code_test.py
  tests/providers/aws/services/awslambda/awslambda_function_no_secrets_in_variables/awslambda_function_no_secrets_in_variables_test.py
  tests/providers/aws/services/ecs/ecs_task_definitions_no_environment_secrets/ecs_task_definitions_no_environment_secrets_test.py
  tests/providers/aws/services/ssm/ssm_document_secrets/ssm_document_secrets_test.py
Labels: status/waiting-for-revision, severity/medium

#1988 chore(release): update Prowler Version to 3.2.4
  prowler/config/config.py
  pyproject.toml
Labels: status/waiting-for-revision, severity/low
