Repository prowler-cloud/prowler, pull requests merged in 2024-07, with the labels that each got.

#4332 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4349 chore(python): update vulnerable anyio library
  poetry.lock
Labels: v3

#4350 chore(v3): include latest v4 changes
  docs/tutorials/configuration_file.md
  docs/tutorials/ignore-unused-services.md
  prowler/config/config.yaml
  prowler/lib/check/compliance.py
  prowler/lib/outputs/outputs.py
  prowler/providers/aws/aws_regions_by_service.json
  prowler/providers/aws/lib/policy_condition_parser/policy_condition_parser.py
  prowler/providers/aws/services/acm/acm_certificates_expiration_check/acm_certificates_expiration_check.py
  prowler/providers/aws/services/acm/acm_service.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_service.py
  prowler/providers/aws/services/codebuild/codebuild_project_older_90_days/codebuild_project_older_90_days.py
  prowler/providers/aws/services/codebuild/codebuild_project_user_controlled_buildspec/codebuild_project_user_controlled_buildspec.py
  prowler/providers/aws/services/codebuild/codebuild_service.py
  prowler/providers/aws/services/ec2/ec2_ebs_volume_snapshots_exists/ec2_ebs_volume_snapshots_exists.metadata.json
  prowler/providers/aws/services/ec2/ec2_instance_managed_by_ssm/ec2_instance_managed_by_ssm.py
  prowler/providers/aws/services/iam/lib/policy.py
  prowler/providers/aws/services/rds/rds_service.py
  prowler/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access.py
  prowler/providers/aws/services/s3/s3_bucket_secure_transport_policy/s3_bucket_secure_transport_policy.py
  prowler/providers/aws/services/sns/sns_topics_kms_encryption_at_rest_enabled/sns_topics_kms_encryption_at_rest_enabled.metadata.json
  prowler/providers/aws/services/sns/sns_topics_not_publicly_accessible/sns_topics_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/ssm/ssm_service.py
  prowler/providers/azure/services/network/network_service.py
  prowler/providers/azure/services/network/network_watcher_enabled/network_watcher_enabled.metadata.json
  prowler/providers/azure/services/network/network_watcher_enabled/network_watcher_enabled.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/config/fixtures/config_old.yaml
  tests/lib/check/compliance_check_test.py
  tests/providers/aws/lib/policy_condition_parser/policy_condition_parser_test.py
  tests/providers/aws/services/acm/acm_certificates_expiration_check/acm_certificates_expiration_check_test.py
  tests/providers/aws/services/acm/acm_certificates_transparency_logs_enabled/acm_certificates_transparency_logs_enabled_test.py
  tests/providers/aws/services/codebuild/codebuild_project_older_90_days/codebuild_project_older_90_days_test.py
  tests/providers/aws/services/codebuild/codebuild_project_user_controlled_buildspec/codebuild_project_user_controlled_buildspec_test.py
  tests/providers/aws/services/codebuild/codebuild_service_test.py
  tests/providers/aws/services/ec2/ec2_instance_managed_by_ssm/ec2_instance_managed_by_ssm_test.py
  tests/providers/aws/services/iam/lib/policy_test.py
  tests/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access_test.py
  tests/providers/aws/services/s3/s3_bucket_secure_transport_policy/s3_bucket_secure_transport_policy_test.py
  tests/providers/azure/azure_fixtures.py
  tests/providers/azure/services/network/network_watcher_enabled/network_watcher_enabled_test.py
Labels: documentation, provider/aws, provider/azure

#4359 chore(iam): Remove unnecesary attached policy in a inline policy
  prowler/providers/aws/services/iam/iam_inline_policy_no_administrative_privileges/iam_inline_policy_no_administrative_privileges.py
Labels: provider/aws

#4369 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4379 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4378 chore(iam): Improve status extended adding the resource type
  prowler/providers/aws/services/iam/iam_inline_policy_no_administrative_privileges/iam_inline_policy_no_administrative_privileges.py
  tests/providers/aws/services/iam/iam_inline_policy_no_administrative_privileges/iam_inline_policy_no_administrative_privileges_test.py
Labels: provider/aws

#4368 refactor(ASFF): create class
  prowler/__main__.py
  prowler/lib/outputs/asff/__init__.py
  prowler/lib/outputs/asff/asff.py
  prowler/lib/outputs/csv/models.py
  prowler/lib/outputs/file_descriptors.py
  prowler/lib/outputs/json_asff/json_asff.py
  prowler/lib/outputs/json_asff/models.py
  prowler/lib/outputs/ocsf/ocsf.py
  prowler/lib/outputs/output.py
  prowler/lib/outputs/outputs.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  tests/lib/outputs/asff/asff_test.py
  tests/lib/outputs/csv/csv_test.py
  tests/lib/outputs/fixtures/fixtures.py
  tests/lib/outputs/json_asff/json_asff_test.py
  tests/lib/outputs/ocsf/ocsf_test.py
  tests/lib/outputs/outputs_test.py
  tests/providers/aws/lib/security_hub/security_hub_test.py
Labels: provider/aws

#4371 chore(acm): add ignore unused services feature
  prowler/providers/aws/services/acm/acm_certificates_expiration_check/acm_certificates_expiration_check.py
  prowler/providers/aws/services/acm/acm_certificates_transparency_logs_enabled/acm_certificates_transparency_logs_enabled.py
  tests/providers/aws/services/acm/acm_certificates_expiration_check/acm_certificates_expiration_check_test.py
  tests/providers/aws/services/acm/acm_certificates_transparency_logs_enabled/acm_certificates_transparency_logs_enabled_test.py
Labels: provider/aws

#4360 chore(html): add HTML class
  prowler/__main__.py
  prowler/lib/outputs/asff/asff.py
  prowler/lib/outputs/csv/models.py
  prowler/lib/outputs/file_descriptors.py
  prowler/lib/outputs/html/html.py
  prowler/lib/outputs/ocsf/ocsf.py
  prowler/lib/outputs/output.py
  prowler/lib/outputs/outputs.py
  tests/lib/outputs/html/html_test.py
  tests/lib/outputs/outputs_test.py
  tests/providers/aws/services/autoscaling/autoscaling_service_test.py
  tests/providers/aws/services/iam/iam_inline_policy_allows_privilege_escalation/iam_inline_policy_allows_privilege_escalation_test.py
  tests/providers/aws/services/iam/iam_policy_allows_privilege_escalation/iam_policy_allows_privilege_escalation_test.py
  tests/providers/gcp/gcp_fixtures.py
  tests/providers/kubernetes/kubernetes_provider_test.py
Labels: provider/aws, provider/gcp, provider/kubernetes

#4387 fix(gcp): Not all gcp projects have name
  prowler/providers/gcp/gcp_provider.py
Labels: provider/gcp, backport-v3

#4396 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4401 fix(docs): update deprecated command
  docs/tutorials/aws/securityhub.md
Labels: documentation

#4412 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4397 refactor(SecurityHub): create class to handle integration
  prowler/__main__.py
  prowler/lib/outputs/asff/asff.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  tests/providers/aws/lib/security_hub/security_hub_test.py
Labels: provider/aws

#4400 chore(cis): add CIS output class
  prowler/__main__.py
  prowler/lib/check/compliance.py
  prowler/lib/check/compliance_models.py
  prowler/lib/outputs/compliance/cis/__init__.py
  prowler/lib/outputs/compliance/cis/cis.py
  prowler/lib/outputs/compliance/cis/cis_aws.py
  prowler/lib/outputs/compliance/cis/cis_azure.py
  prowler/lib/outputs/compliance/cis/cis_gcp.py
  prowler/lib/outputs/compliance/cis/cis_kubernetes.py
  prowler/lib/outputs/compliance/cis/models.py
  prowler/lib/outputs/compliance/cis_aws.py
  prowler/lib/outputs/compliance/cis_azure.py
  prowler/lib/outputs/compliance/cis_gcp.py
  prowler/lib/outputs/compliance/cis_kubernetes.py
  prowler/lib/outputs/compliance/compliance.py
  prowler/lib/outputs/compliance/compliance_output.py
  prowler/lib/outputs/compliance/models.py
  prowler/lib/outputs/file_descriptors.py
  tests/lib/check/compliance_check_test.py
  tests/lib/outputs/compliance/cis_aws_test.py
  tests/lib/outputs/compliance/cis_azure_test.py
  tests/lib/outputs/compliance/cis_gcp_test.py
  tests/lib/outputs/compliance/cis_kubernetes_test.py
  tests/lib/outputs/compliance/compliance_test.py
  tests/lib/outputs/compliance/fixtures.py
  tests/lib/outputs/fixtures/fixtures.py
  tests/lib/outputs/outputs_test.py
  tests/providers/kubernetes/kubernetes_fixtures.py
Labels: provider/kubernetes

#4434 docs(gcp): Fix typo in title
  docs/tutorials/gcp/authentication.md
Labels: documentation

#4433 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4444 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4440 chore(revert): PR #4067
  cli/__init__.py
  cli/cli.md
  cli/cli.py
  poetry.lock
  pyproject.toml
Labels: cli

#4446 fix(iam_avoid_root_usage): change timestamp format
  poetry.lock
  prowler/providers/aws/services/iam/iam_avoid_root_usage/iam_avoid_root_usage.py
  prowler/providers/aws/services/iam/iam_rotate_access_key_90_days/iam_rotate_access_key_90_days.py
  prowler/providers/aws/services/iam/iam_user_accesskey_unused/iam_user_accesskey_unused.py
  pyproject.toml
  tests/providers/aws/services/iam/iam_avoid_root_usage/iam_avoid_root_usage_test.py
  tests/providers/aws/services/iam/iam_rotate_access_key_90_days/iam_rotate_access_key_90_days_test.py
  tests/providers/aws/services/iam/iam_user_accesskey_unused/iam_user_accesskey_unused_test.py
Labels: provider/aws, backport-v3

#4455 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4454 fix(entra): Change to correct service in entra_user_with_vm_access_has_mfa metadata
  prowler/providers/azure/services/entra/entra_user_with_vm_access_has_mfa/entra_user_with_vm_access_has_mfa.metadata.json
Labels: provider/azure, backport-v3

#4459 chore(v3): update latest changes from v4
  poetry.lock
  prowler/providers/aws/aws_regions_by_service.json
  prowler/providers/aws/services/glue/glue_service.py
  prowler/providers/aws/services/iam/iam_avoid_root_usage/iam_avoid_root_usage.py
  prowler/providers/aws/services/iam/iam_rotate_access_key_90_days/iam_rotate_access_key_90_days.py
  prowler/providers/aws/services/iam/iam_user_accesskey_unused/iam_user_accesskey_unused.py
  prowler/providers/azure/services/entra/entra_user_with_vm_access_has_mfa/entra_user_with_vm_access_has_mfa.metadata.json
  pyproject.toml
  tests/providers/aws/services/iam/iam_avoid_root_usage/iam_avoid_root_usage_test.py
  tests/providers/aws/services/iam/iam_rotate_access_key_90_days/iam_rotate_access_key_90_days_test.py
  tests/providers/aws/services/iam/iam_user_accesskey_unused/iam_user_accesskey_unused_test.py
Labels: provider/aws, provider/azure

#4458 test(compute): Add remaining tests for Compute service in GCP provider
  prowler/providers/gcp/services/compute/compute_network_default_in_use/compute_network_default_in_use.py
  tests/providers/gcp/services/compute/compute_firewall_rdp_access_from_the_internet_allowed/compute_firewall_rdp_access_from_the_internet_allowed_test.py
  tests/providers/gcp/services/compute/compute_firewall_ssh_access_from_the_internet_allowed/compute_firewall_ssh_access_from_the_internet_allowed_test.py
  tests/providers/gcp/services/compute/compute_instance_block_project_wide_ssh_keys_disabled/compute_instance_block_project_wide_ssh_keys_disabled_test.py
  tests/providers/gcp/services/compute/compute_instance_default_service_account_in_use/compute_instance_default_service_account_in_use_test.py
  tests/providers/gcp/services/compute/compute_instance_default_service_account_in_use_with_full_api_access/compute_instance_default_service_account_in_use_with_full_api_access_test.py
  tests/providers/gcp/services/compute/compute_instance_encryption_with_csek_enabled/compute_instance_encryption_with_csek_enabled_test.py
  tests/providers/gcp/services/compute/compute_instance_ip_forwarding_is_enabled/compute_instance_ip_forwarding_is_enabled_test.py
  tests/providers/gcp/services/compute/compute_instance_public_ip/compute_instance_public_ip_test.py
  tests/providers/gcp/services/compute/compute_network_default_in_use/compute_network_default_in_use_test.py
Labels: provider/gcp

#4456 fix(network): solve network client locations KeyError
  prowler/providers/azure/services/network/network_watcher_enabled/network_watcher_enabled.py
  tests/providers/azure/services/network/network_watcher_enabled/network_watcher_enabled_test.py
Labels: provider/azure

#4413 chore(mutelist): create new class to encapsulate the logic
  prowler/lib/check/check.py
  prowler/lib/mutelist/mutelist.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/mutelist/mutelist.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/azure/lib/mutelist/__init__.py
  prowler/providers/azure/lib/mutelist/mutelist.py
  prowler/providers/common/provider.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/gcp/lib/mutelist/__init__.py
  prowler/providers/gcp/lib/mutelist/mutelist.py
  prowler/providers/kubernetes/kubernetes_provider.py
  prowler/providers/kubernetes/lib/mutelist/__init__.py
  prowler/providers/kubernetes/lib/mutelist/mutelist.py
  tests/lib/mutelist/mutelist_test.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/aws/lib/mutelist/aws_mutelist_test.py
  tests/providers/aws/lib/mutelist/fixtures/aws_mutelist.yaml
  tests/providers/azure/lib/mutelist/azure_mutelist_test.py
  tests/providers/azure/lib/mutelist/fixtures/azure_mutelist.yaml
  tests/providers/gcp/lib/mutelist/fixtures/gcp_mutelist.yaml
  tests/providers/gcp/lib/mutelist/gcp_mutelist_test.py
  tests/providers/kubernetes/lib/mutelist/fixtures/kubernetes_mutelist.yaml
  tests/providers/kubernetes/lib/mutelist/kubernetes_mutelist_test.py
Labels: provider/aws, provider/azure, provider/gcp, provider/kubernetes, mutelist

#4380 test(gcp): Add remaining CloudSQL tests
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_user_connections_flag/cloudsql_instance_sqlserver_user_connections_flag.py
  tests/providers/gcp/gcp_fixtures.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_public_access/cloudsql_instance_public_access_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_public_ip/cloudsql_instance_public_ip_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_contained_database_authentication_flag/cloudsql_instance_sqlserver_contained_database_authentication_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_cross_db_ownership_chaining_flag/cloudsql_instance_sqlserver_cross_db_ownership_chaining_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_external_scripts_enabled_flag/cloudsql_instance_sqlserver_external_scripts_enabled_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_remote_access_flag/cloudsql_instance_sqlserver_remote_access_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_trace_flag/cloudsql_instance_sqlserver_trace_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_user_connections_flag/cloudsql_instance_sqlserver_user_connections_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_user_options_flag/cloudsql_instance_sqlserver_user_options_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_ssl_connections/cloudsql_instance_ssl_connections_test.py
Labels: provider/gcp

#4463 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4468 feat(output): Add a setter for the file descriptor and include extension
  prowler/lib/outputs/output.py
  tests/lib/outputs/csv/csv_test.py
Labels: output/csv

#4470 chore(docs): update remediation of custom checks metadata
  docs/tutorials/custom-checks-metadata.md
Labels: documentation

#4469 chore(csv): remove old CSV functions
  prowler/lib/outputs/csv/csv.py
  prowler/lib/outputs/csv/models.py
  tests/lib/outputs/csv/csv_test.py
  tests/lib/outputs/outputs_test.py
Labels: output/csv

#4467 chore(compliance): simplify ComplianceOutput class
  prowler/lib/outputs/compliance/aws_well_architected/aws_well_architected.py
  prowler/lib/outputs/compliance/cis/cis_aws.py
  prowler/lib/outputs/compliance/cis/cis_azure.py
  prowler/lib/outputs/compliance/cis/cis_gcp.py
  prowler/lib/outputs/compliance/cis/cis_kubernetes.py
  prowler/lib/outputs/compliance/compliance_output.py
  prowler/lib/outputs/compliance/ens/ens_aws.py
  prowler/lib/outputs/compliance/generic/generic.py
  prowler/lib/outputs/compliance/iso27001/iso27001_aws.py
  prowler/lib/outputs/compliance/mitre_attack/mitre_attack_aws.py
  prowler/lib/outputs/compliance/mitre_attack/mitre_attack_azure.py
  prowler/lib/outputs/compliance/mitre_attack/mitre_attack_gcp.py
Labels: output/csv

#4478 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4479 docs(readme): update dashboard screenshot in README
  docs/img/dashboard.png
Labels: documentation

#4482 fix(ssm): add missing ResourceArn to SSM check
  prowler/providers/aws/services/ssm/ssm_managed_compliant_patching/ssm_managed_compliant_patching.py
  prowler/providers/aws/services/ssm/ssm_service.py
  tests/providers/aws/services/ssm/ssm_managed_compliant_patching/ssm_managed_compliant_patching_test.py
  tests/providers/aws/services/ssm/ssm_service_test.py
Labels: provider/aws, backport-v3

#4492 docs(readme): add Prowler animation gif to README
  README.md
  docs/img/prowler-cli-quick.gif
Labels: documentation

#4485 chore(test): add missing acm imported certificate test
  tests/providers/aws/services/acm/acm_certificates_transparency_logs_enabled/acm_certificates_transparency_logs_enabled_test.py
Labels: provider/aws

#4496 chore(dependencies): update vulnerable dependencies
  .github/workflows/pull-request.yml
  .pre-commit-config.yaml
  poetry.lock
Labels: github_actions

#4502 docs(developer): improve developers docs with Trufflehog and --no-verify
  docs/developer-guide/introduction.md
Labels: documentation

#4495 fix(inspector2): add more efficient way to check if any active findings
  prowler/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist.metadata.json
  prowler/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist.py
  prowler/providers/aws/services/inspector2/inspector2_service.py
  tests/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist_test.py
  tests/providers/aws/services/inspector2/inspector2_service_test.py
Labels: provider/aws

#4504 chore(release): update v3 with latest changes
  prowler/providers/aws/aws_regions_by_service.json
  prowler/providers/aws/services/ssm/ssm_managed_compliant_patching/ssm_managed_compliant_patching.py
  prowler/providers/aws/services/ssm/ssm_service.py
  tests/providers/aws/services/ssm/ssm_managed_compliant_patching/ssm_managed_compliant_patching_test.py
  tests/providers/aws/services/ssm/ssm_service_test.py
Labels: provider/aws

#4505 fix(inspector2): add more efficient way to check if any active findings
  prowler/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist.metadata.json
  prowler/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist.py
  prowler/providers/aws/services/inspector2/inspector2_service.py
  tests/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist_test.py
  tests/providers/aws/services/inspector2/inspector2_service_test.py
Labels: provider/aws

#4520 chore(dms): Change checks IDs to match with metadata
  prowler/providers/aws/services/dms/dms_instance_multi_az_enabled/__init__.py
  prowler/providers/aws/services/dms/dms_instance_multi_az_enabled/dms_instance_multi_az_enabled.metadata.json
  prowler/providers/aws/services/dms/dms_instance_multi_az_enabled/dms_instance_multi_az_enabled.py
  prowler/providers/aws/services/dms/dms_instance_no_public_access/dms_instance_no_public_access.metadata.json
  tests/providers/aws/services/dms/dms_instance_multi_az/dms_instance_multi_az_test.py
Labels: provider/aws

#4501 docs(azure): Review actual roles necessary to execute Prowler
  docs/getting-started/requirements.md
  docs/img/add-reader-role.gif
  docs/img/page-IAM.png
  docs/tutorials/azure/subscriptions.md
  permissions/prowler-azure-custom-role.json
Labels: documentation

#4331 test(gcp): Test GCP provider new auth and print credentials
  tests/providers/gcp/gcp_provider_test.py
Labels: provider/gcp

#4457 chore(s3): create class and refactor
  prowler/__main__.py
  prowler/lib/outputs/compliance/compliance_output.py
  prowler/lib/outputs/output.py
  prowler/providers/aws/lib/quick_inventory/quick_inventory.py
  prowler/providers/aws/lib/s3/s3.py
  tests/providers/aws/lib/s3/fixtures/compliance/prowler-output-123456789012_cis_1.4_aws.csv
  tests/providers/aws/lib/s3/fixtures/prowler-output-123456789012.asff.json
  tests/providers/aws/lib/s3/fixtures/prowler-output-123456789012.csv
  tests/providers/aws/lib/s3/fixtures/prowler-output-123456789012.html
  tests/providers/aws/lib/s3/fixtures/prowler-output-123456789012.ocsf.json
  tests/providers/aws/lib/s3/s3_test.py
Labels: provider/aws, integration/s3

#4522 fix(checks): ensure CheckID is correct in check's metadata
  README.md
  prowler/lib/check/models.py
  prowler/providers/aws/services/documentdb/documentdb_cluster_backup_enabled/documentdb_cluster_backup_enabled.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_cluster_deletion_protection/documentdb_cluster_deletion_protection.metadata.json
  prowler/providers/aws/services/ec2/ec2_instance_port_elasticsearch_kibana_exposed_to_internet/ec2_instance_port_elasticsearch_kibana_exposed_to_internet.metadata.json
  prowler/providers/aws/services/ec2/ec2_instance_port_memcached_exposed_to_internet/ec2_instance_port_memcached_exposed_to_internet.metadata.json
  prowler/providers/aws/services/ec2/ec2_instance_port_mysql_exposed_to_internet/ec2_instance_port_mysql_exposed_to_internet.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_backup_enabled/neptune_cluster_backup_enabled.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_deletion_protection/neptune_cluster_deletion_protection.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_multi_az/neptune_cluster_multi_az.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_storage_encrypted/neptune_cluster_storage_encrypted.metadata.json
  prowler/providers/azure/services/monitor/monitor_alert_create_update_nsg/monitor_alert_create_update_nsg.metadata.json
  prowler/providers/azure/services/monitor/monitor_storage_account_with_activity_logs_is_private/monitor_storage_account_with_activity_logs_is_private.metadata.json
  tests/lib/check/check_test.py
Labels: provider/aws, provider/azure

#4528 chore(CODEOWNERS): update team
  .github/CODEOWNERS
Labels: v3

#4536 docs(services): Fixed changed links
  docs/developer-guide/services.md
Labels: documentation

#4530 fix(s3): enhance threading in s3 service
  prowler/providers/aws/services/s3/s3_service.py
Labels: provider/aws, backport-v3

#4552 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4537 chore(cloudsql): Change default cases for CloudSQL checks and remaining tests
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_mysql_local_infile_flag/cloudsql_instance_mysql_local_infile_flag.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_mysql_skip_show_database_flag/cloudsql_instance_mysql_skip_show_database_flag.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_postgres_enable_pgaudit_flag/cloudsql_instance_postgres_enable_pgaudit_flag.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_connections_flag/cloudsql_instance_postgres_log_connections_flag.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_disconnections_flag/cloudsql_instance_postgres_log_disconnections_flag.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_error_verbosity_flag/cloudsql_instance_postgres_log_error_verbosity_flag.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_min_duration_statement_flag/cloudsql_instance_postgres_log_min_duration_statement_flag.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_min_error_statement_flag/cloudsql_instance_postgres_log_min_error_statement_flag.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_min_messages_flag/cloudsql_instance_postgres_log_min_messages_flag.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_statement_flag/cloudsql_instance_postgres_log_statement_flag.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_contained_database_authentication_flag/cloudsql_instance_sqlserver_contained_database_authentication_flag.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_cross_db_ownership_chaining_flag/cloudsql_instance_sqlserver_cross_db_ownership_chaining_flag.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_external_scripts_enabled_flag/cloudsql_instance_sqlserver_external_scripts_enabled_flag.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_remote_access_flag/cloudsql_instance_sqlserver_remote_access_flag.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_trace_flag/cloudsql_instance_sqlserver_trace_flag.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_user_connections_flag/cloudsql_instance_sqlserver_user_connections_flag.py
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_user_options_flag/cloudsql_instance_sqlserver_user_options_flag.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_error_verbosity_flag/cloudsql_instance_postgres_log_error_verbosity_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_min_duration_statement_flag/cloudsql_instance_postgres_log_min_duration_statement_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_min_error_statement_flag/cloudsql_instance_postgres_log_min_error_statement_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_contained_database_authentication_flag/cloudsql_instance_sqlserver_contained_database_authentication_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_cross_db_ownership_chaining_flag/cloudsql_instance_sqlserver_cross_db_ownership_chaining_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_external_scripts_enabled_flag/cloudsql_instance_sqlserver_external_scripts_enabled_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_remote_access_flag/cloudsql_instance_sqlserver_remote_access_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_trace_flag/cloudsql_instance_sqlserver_trace_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_user_connections_flag/cloudsql_instance_sqlserver_user_connections_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_user_options_flag/cloudsql_instance_sqlserver_user_options_flag_test.py
Labels: provider/gcp

#4500 fix(gcp): false positive for `iam_sa_no_administrative_privilege` check
  prowler/providers/gcp/services/iam/iam_sa_no_administrative_privileges/iam_sa_no_administrative_privileges.py
  tests/providers/gcp/services/iam/iam_sa_no_administrative_privileges/iam_sa_no_administrative_privileges_test.py
Labels: provider/gcp

#4553 feat(aws): make check `eks_control_plane_logging_all_types_enabled` configurable
  docs/tutorials/configuration_file.md
  prowler/config/config.yaml
  prowler/providers/aws/services/eks/eks_control_plane_logging_all_types_enabled/eks_control_plane_logging_all_types_enabled.metadata.json
  prowler/providers/aws/services/eks/eks_control_plane_logging_all_types_enabled/eks_control_plane_logging_all_types_enabled.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/config/fixtures/config_old.yaml
  tests/providers/aws/services/eks/eks_control_plane_logging_all_types_enabled/eks_control_plane_logging_all_types_enabled_test.py
Labels: documentation, provider/aws

#4554 fix(organizations): Fix types errors related to policies and `json.loads` function
  prowler/providers/aws/services/organizations/organizations_service.py
Labels: provider/aws, backport-v3

#4555 chore(backport): update v3 with latest changes
  prowler/providers/aws/aws_regions_by_service.json
  prowler/providers/aws/services/organizations/organizations_service.py
  prowler/providers/aws/services/s3/s3_service.py
Labels: provider/aws

#4560 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4562 fix(autoscaling): Add exception manage while decoding UserData
  prowler/config/config.py
  prowler/lib/utils/utils.py
  prowler/providers/aws/services/autoscaling/autoscaling_find_secrets_ec2_launch_configuration/autoscaling_find_secrets_ec2_launch_configuration.py
  prowler/providers/aws/services/ec2/ec2_instance_secrets_user_data/ec2_instance_secrets_user_data.py
  prowler/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets.py
  prowler/providers/aws/services/iam/iam_service.py
  tests/providers/aws/lib/mutelist/aws_mutelist_test.py
  tests/providers/aws/services/autoscaling/autoscaling_find_secrets_ec2_launch_configuration/autoscaling_find_secrets_ec2_launch_configuration_test.py
  tests/providers/aws/services/autoscaling/autoscaling_service_test.py
  tests/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets_test.py
  tests/providers/aws/services/ec2/ec2_service_test.py
Labels: provider/aws, backport-v3, mutelist

#4550 test(GCP): Add remaining GCP tests for KMS checks
  tests/providers/gcp/services/kms/kms_key_not_publicly_accessible/kms_key_not_publicly_accessible_gcp_test.py
  tests/providers/gcp/services/kms/kms_key_rotation_enabled/kms_key_rotation_enabled_test.py
Labels: provider/gcp

#4569 fix(autoscaling): change unexpected exception to error severity logger
  prowler/providers/aws/services/autoscaling/autoscaling_find_secrets_ec2_launch_configuration/autoscaling_find_secrets_ec2_launch_configuration.py
Labels: provider/aws

#4565 chore(version): update Prowler version
  prowler/config/config.py
  pyproject.toml
  tests/lib/outputs/asff/asff_test.py
  tests/lib/outputs/csv/csv_test.py
  tests/lib/outputs/html/html_test.py
  tests/lib/outputs/ocsf/ocsf_test.py
Labels: output/csv, output/ocsf, output/asff, output/html, integration/security-hub

#4574 fix(test): solve VPC import in tests
  tests/providers/aws/services/ec2/ec2_instance_port_cassandra_exposed_to_internet/ec2_instance_port_cassandra_exposed_to_internet_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_cifs_exposed_to_internet/ec2_instance_port_cifs_exposed_to_internet_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_elasticsearch_kibana_exposed_to_internet/ec2_instance_port_elasticsearch_kibana_exposed_to_internet_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_ftp_exposed_to_internet/ec2_instance_port_ftp_exposed_to_internet_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_kafka_exposed_to_internet/ec2_instance_port_kafka_exposed_to_internet_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_kerberos_exposed_to_internet/ec2_instance_port_kerberos_exposed_to_internet_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_ldap_exposed_to_internet/ec2_instance_port_ldap_exposed_to_internet_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_memcached_exposed_to_internet/ec2_instance_port_memcached_exposed_to_internet_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_mongodb_exposed_to_internet/ec2_instance_port_mongodb_exposed_to_internet_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_mysql_exposed_to_internet/ec2_instance_port_mysql_exposed_to_internet_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_oracle_exposed_to_internet/ec2_instance_port_oracle_exposed_to_internet_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_postgresql_exposed_to_internet/ec2_instance_port_postgresql_exposed_to_internet_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_rdp_exposed_to_internet/ec2_instance_port_rdp_exposed_to_internet_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_redis_exposed_to_internet/ec2_instance_port_redis_exposed_to_internet_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_sqlserver_exposed_to_internet/ec2_instance_port_sqlserver_exposed_to_internet_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_ssh_exposed_to_internet/ec2_instance_port_ssh_exposed_to_internet_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_telnet_exposed_to_internet/ec2_instance_port_telnet_exposed_to_internet_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_all_ports/ec2_securitygroup_allow_ingress_from_internet_to_all_ports_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_any_port/ec2_securitygroup_allow_ingress_from_internet_to_any_port_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_port_mongodb_27017_27018/ec2_securitygroup_allow_ingress_from_internet_to_port_mongodb_27017_27018_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_ftp_port_20_21/ec2_securitygroup_allow_ingress_from_internet_to_tcp_ftp_port_20_21_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_22/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_22_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_3389/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_3389_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_cassandra_7199_9160_8888/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_cassandra_7199_9160_8888_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_elasticsearch_kibana_9200_9300_5601/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_elasticsearch_kibana_9200_9300_5601_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_kafka_9092/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_kafka_9092_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_memcached_11211/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_memcached_11211_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_mysql_3306/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_mysql_3306_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_oracle_1521_2483/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_oracle_1521_2483_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_postgres_5432/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_postgres_5432_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_redis_6379/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_redis_6379_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_sql_server_1433_1434/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_sql_server_1433_1434_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_telnet_23/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_telnet_23_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_wide_open_public_ipv4/ec2_securitygroup_allow_wide_open_public_ipv4_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_default_restrict_traffic/ec2_securitygroup_default_restrict_traffic_test.py
  tests/providers/aws/services/vpc/vpc_service_test.py
  tests/providers/aws/services/workspaces/workspaces_vpc_2private_1public_subnets_nat/workspaces_vpc_2private_1public_subnets_nat_test.py
Labels: provider/aws

#4592 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4593 fix(aws): Pass backup retention check if retention period is equal to minimum
  prowler/providers/aws/services/documentdb/documentdb_cluster_backup_enabled/documentdb_cluster_backup_enabled.py
  prowler/providers/aws/services/neptune/neptune_cluster_backup_enabled/neptune_cluster_backup_enabled.py
  tests/providers/aws/services/documentdb/documentdb_cluster_backup_enabled/documentdb_cluster_backup_enabled_test.py
  tests/providers/aws/services/neptune/neptune_cluster_backup_enabled/neptune_cluster_backup_enabled_test.py
Labels: provider/aws

#4507 fix(aws): only check artifacts that can be scanned for vulnerabilities by `ecr_repositories_scan_vulnerabilities_in_latest_image`
  prowler/providers/aws/services/ecr/ecr_repositories_scan_vulnerabilities_in_latest_image/ecr_repositories_scan_vulnerabilities_in_latest_image.py
  prowler/providers/aws/services/ecr/ecr_service.py
  tests/providers/aws/services/ecr/ecr_repositories_scan_vulnerabilities_in_latest_image/ecr_repositories_scan_vulnerabilities_in_latest_image_test.py
  tests/providers/aws/services/ecr/ecr_service_test.py
Labels: documentation, provider/aws, backport-v3

#4572 fix(status): Recover status filtering
  docs/tutorials/misc.md
  prowler/__main__.py
  prowler/lib/check/check.py
  prowler/lib/outputs/outputs.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  tests/lib/check/check_test.py
  tests/providers/aws/lib/security_hub/security_hub_test.py
  tests/providers/aws/utils.py
Labels: documentation, provider/aws, integration/security-hub
