Repository prowler-cloud/prowler, pull requests merged in 2024-12, with the labels that each got.

#5978 feat(scan, schedule): add next_scan_at field to scans and POST /schedules/daily
  api/src/backend/api/filters.py
  api/src/backend/api/migrations/0001_initial.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/beat.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_beat.py
Labels: component/api

#5977 fix(docs): Docker compose files download
  README.md
  docs/index.md
Labels: documentation

#5980 feat(scan): add state filter for scans endpoints
  api/src/backend/api/filters.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/tasks/tasks.py
Labels: component/api

#5979 feat(v5): tweaks UI for v5 release - 2
  ui/actions/findings/findings.ts
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/components/filters/data-filters.ts
  ui/components/findings/table/column-findings.tsx
  ui/components/overview/findings-by-severity-chart/findings-by-severity-chart.tsx
  ui/components/overview/findings-by-status-chart/findings-by-status-chart.tsx
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
  ui/components/overview/provider-overview/provider-overview.tsx
  ui/components/providers/table/data-table-row-actions.tsx
  ui/components/scans/index.ts
  ui/components/scans/launch-workflow/launch-scan-workflow-form.tsx
  ui/components/scans/launch-workflow/select-scan-provider.tsx
  ui/components/scans/no-providers-added.tsx
  ui/components/scans/no-providers-connected.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/ui/entities/date-with-time.tsx
  ui/components/ui/entities/entity-info-short.tsx
  ui/components/ui/entities/snippet-id.tsx
  ui/components/ui/sidebar/sidebar-wrap.tsx
  ui/components/ui/table/data-table-column-header.tsx
  ui/components/ui/table/status-badge.tsx
  ui/components/ui/table/table.tsx
  ui/types/components.ts
Labels: component/ui

#5981 chore: apply v5 feedback changes (scan page)
  ui/app/(prowler)/scans/page.tsx
Labels: component/ui

#5982 Feature/v5 tweaks UI v4
  ui/actions/scans/scans.ts
  ui/components/overview/findings-by-status-chart/findings-by-status-chart.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/scans/no-providers-added.tsx
  ui/components/scans/no-providers-connected.tsx
Labels: component/ui

#5974 feat(provider): add include query parameter for provider_groups
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
Labels: component/api

#5983 chore: apply v5 feedback changes (add link to the graph)
  ui/components/overview/findings-by-severity-chart/findings-by-severity-chart.tsx
Labels: component/ui

#5985 chore(teaks v5): apply v5 feedback changes (temporarily hide recover password)
  ui/components/auth/oss/auth-form.tsx
Labels: component/ui

#5986 chore(celery-beat): disable periodic cleanup
  api/src/backend/config/celery.py
Labels: component/api

#5984 chore(docs): update screenshots and docs of Prowler App
  .env
  .gitignore
  README.md
  docker-compose-dev.yml
  docs/img/add-provider.png
  docs/img/aws-role.png
  docs/img/azure-credentials.png
  docs/img/compliance-app.png
  docs/img/compliance.png
  docs/img/findings.png
  docs/img/gcp-credentials.png
  docs/img/issues.png
  docs/img/kubernetes-credentials.png
  docs/img/overview.png
  docs/img/provider-added.png
  docs/img/scan-progress.png
  docs/img/select-provider.png
  docs/img/start-now.png
  docs/img/test-connection-button.png
  docs/index.md
  docs/tutorials/prowler-app.md
Labels: documentation

#5987 feat(docs): added link from app guide to app installation
  docs/tutorials/prowler-app.md
Labels: documentation

#5999 fix(api): cascade deletion and next scan at time
  api/src/backend/tasks/beat.py
  api/src/backend/tasks/jobs/deletion.py
  api/src/backend/tasks/tasks.py
Labels: component/api

#6003 chore(actions): release for v5
  .github/workflows/build-lint-push-containers.yml
  .github/workflows/pypi-release.yml
Labels: github_actions

#6005 fix(invitations): remove wrong url
  ui/components/invitations/invitation-details.tsx
  ui/components/invitations/table/data-table-row-actions.tsx
Labels: component/ui

#6013 fix(tenant): fix delete tenants behavior
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/api/base_views.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/deletion.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_deletion.py
Labels: component/api, backport-to-v5.0

#6015 docs(index): update index with images
  docs/img/compliance.png
  docs/index.md
Labels: documentation

#6016 docs(prowler-app): add link to https://api.prowler.com/api/v1/docs
  docs/tutorials/prowler-app.md
Labels: documentation

#6028 fix(codecov): create components
  .github/workflows/api-pull-request.yml
  .github/workflows/pull-request.yml
  codecov.yml
Labels: github_actions

#5996 fix(backup): modify list recovery points call
  prowler/providers/aws/services/backup/backup_service.py
Labels: provider/aws, backport-to-v5.0

#6056 chore: delete unneeded requirements file
  ui/requirements.txt
Labels: component/ui, backport-to-v5.0

#6049 docs(env): move warning about env files
  docs/index.md
Labels: documentation

#5270 fix(backport): Add action to detect labels
  .github/workflows/backport.yml
Labels: github_actions

#6061 docs: Prowler SaaS -> Cloud and add missing compliance
  README.md
  docs/index.md
  docs/security.md
  docs/tutorials/compliance.md
  mkdocs.yml
Labels: documentation

#6059 chore(actions): standardize names
  .github/codeql/api-codeql-config.yml
  .github/codeql/codeql-config.yml
  .github/codeql/sdk-codeql-config.yml
  .github/codeql/ui-codeql-config.yml
  .github/workflows/api-codeql.yml
  .github/workflows/api-pull-request.yml
  .github/workflows/backport.yml
  .github/workflows/build-documentation-on-pr.yml
  .github/workflows/find-secrets.yml
  .github/workflows/labeler.yml
  .github/workflows/sdk-build-lint-push-containers.yml
  .github/workflows/sdk-codeql.yml
  .github/workflows/sdk-pull-request.yml
  .github/workflows/sdk-pypi-release.yml
  .github/workflows/sdk-refresh-aws-services-regions.yml
  .github/workflows/ui-codeql.yml
  .github/workflows/ui-pull-request.yml
Labels: github_actions

#6063 chore(containers): support for v4.6 branch
  .github/dependabot.yml
  .github/workflows/sdk-build-lint-push-containers.yml
Labels: github_actions, backport-to-v4.6

#6081 fix(backport): remove v from branch prefix
  .github/workflows/backport.yml
Labels: github_actions

#6085 docs(api): add commands to run API scheduler
  README.md
  docs/index.md
Labels: documentation

#6090 fix(backport): more than one backport tag is allowed
  .github/workflows/backport.yml
Labels: github_actions

#5840 feat(awslambda): add new fixer `awslambda_function_not_publicly_accessible_fixer`
  prowler/providers/aws/services/awslambda/awslambda_function_inside_vpc/awslambda_function_inside_vpc.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_variables/awslambda_function_no_secrets_in_variables.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible_fixer.py
  prowler/providers/aws/services/awslambda/awslambda_function_url_cors_policy/awslambda_function_url_cors_policy.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_url_public/awslambda_function_url_public.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_using_supported_runtimes/awslambda_function_using_supported_runtimes.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_vpc_multi_az/awslambda_function_vpc_multi_az.metadata.json
  tests/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible_fixer_test.py
Labels: provider/aws

#6093 chore(container): upload v4 with correct tags
  .github/workflows/build-lint-push-containers.yml
Labels: github_actions

#6046 fix(aws): set same severity for EC2 IMDSv2 checks
  prowler/providers/aws/services/ec2/ec2_instance_account_imdsv2_enabled/ec2_instance_account_imdsv2_enabled.metadata.json
  prowler/providers/aws/services/ec2/ec2_instance_imdsv2_enabled/ec2_instance_imdsv2_enabled.metadata.json
Labels: provider/aws, backport-to-v4.6, backport-to-v5.0

#6097 fix(gcp): make sure default project is active
  prowler/providers/gcp/gcp_provider.py
  tests/providers/gcp/gcp_provider_test.py
Labels: provider/gcp, backport-to-v4.6, backport-to-v5.0

#6109 fix(deploy): temporal fix for the alpine-python segmentation fault
  Dockerfile
  docker-compose-dev.yml
  docker-compose.yml
Labels: backport-to-v5.0

#6048 fix(aws): set IAM identity as resource in threat detection
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_enumeration/cloudtrail_threat_detection_enumeration.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_llm_jacking/cloudtrail_threat_detection_llm_jacking.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_privilege_escalation/cloudtrail_threat_detection_privilege_escalation.py
  tests/providers/aws/services/cloudtrail/cloudtrail_threat_detection_enumeration/cloudtrail_threat_detection_enumeration_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_threat_detection_llm_jacking/cloudtrail_threat_detection_llm_jacking_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_threat_detection_privilege_escalation/cloudtrail_threat_detection_privilege_escalation_test.py
Labels: provider/aws, backport-to-v4.6, backport-to-v5.0

#5911 feat(sqs): add new fixer `sqs_queues_not_publicly_accessible_fixer`
  prowler/providers/aws/services/sqs/sqs_queues_not_publicly_accessible/sqs_queues_not_publicly_accessible_fixer.py
  tests/providers/aws/services/sqs/sqs_queues_not_publicly_accessible/sqs_queues_not_publicly_accessible_fixer_test.py
  tests/providers/aws/services/sqs/sqs_queues_not_publicly_accessible/sqs_queues_not_publicly_accessible_test.py
  tests/providers/aws/services/sqs/sqs_queues_server_side_encryption_enabled/sqs_queues_server_side_encryption_enabled_test.py
Labels: provider/aws

#6108 fix(aws): check AWS Owned keys in `firehose_stream_encrypted_at_rest`
  prowler/providers/aws/services/firehose/firehose_stream_encrypted_at_rest/firehose_stream_encrypted_at_rest.py
  tests/providers/aws/services/firehose/firehose_stream_encrypted_at_rest/firehose_stream_encrypted_at_rest_test.py
Labels: provider/aws, backport-to-v4.6, backport-to-v5.0

#6119 fix(aws): get firewall manager managed rule groups
  prowler/providers/aws/services/wafv2/wafv2_service.py
  tests/providers/aws/services/wafv2/wafv2_webacl_with_rules/wafv2_webacl_with_rules_test.py
Labels: provider/aws, backport-to-v4.6, backport-to-v5.0

#6128 fix(iam): set unique resource id for each user access key
  prowler/providers/aws/services/iam/iam_rotate_access_key_90_days/iam_rotate_access_key_90_days.py
  tests/providers/aws/services/iam/iam_rotate_access_key_90_days/iam_rotate_access_key_90_days_test.py
Labels: provider/aws, backport-to-v4.6, backport-to-v5.0

#6135 feat(users): user detail can be edited now properly
  ui/actions/users/users.ts
  ui/components/users/forms/edit-form.tsx
  ui/types/formSchemas.ts
Labels: component/ui, backport-to-v5.0

#6004 feat(app): add support for TLS 1.3 to Web Apps check
  prowler/providers/azure/services/app/app_minimum_tls_version_12/app_minimum_tls_version_12.py
  tests/providers/azure/services/app/app_minimum_tls_version_12/app_minimum_tls_version_12_test.py
Labels: provider/azure

#5923 feat(ecr): add new fixer `ecr_repositories_not_publicly_accessible_fixer`
  prowler/providers/aws/services/ecr/ecr_repositories_not_publicly_accessible/ecr_repositories_not_publicly_accessible_fixer.py
  tests/providers/aws/services/ecr/ecr_repositories_not_publicly_accessible/ecr_repositories_not_publicly_accessible_fixer_test.py
Labels: provider/aws

#6111 fix(autoscaling): `autoscaling_group_launch_configuration_requires_imdsv2` fails if Launch Template is used
  prowler/providers/aws/services/autoscaling/autoscaling_group_launch_configuration_no_public_ip/autoscaling_group_launch_configuration_no_public_ip.py
  prowler/providers/aws/services/autoscaling/autoscaling_group_launch_configuration_requires_imdsv2/autoscaling_group_launch_configuration_requires_imdsv2.py
  tests/providers/aws/services/autoscaling/autoscaling_group_launch_configuration_no_public_ip/autoscaling_group_launch_configuration_no_public_ip_test.py
  tests/providers/aws/services/autoscaling/autoscaling_group_launch_configuration_requires_imdsv2/autoscaling_group_launch_configuration_requires_imdsv2_test.py
Labels: provider/aws, backport-to-v4.6, backport-to-v5.0

#5926 feat(opensearch): add new fixer `opensearch_service_domains_not_publicly_accessible_fixer`
  prowler/providers/aws/services/opensearch/opensearch_service_domains_not_publicly_accessible/opensearch_service_domains_not_publicly_accessible_fixer.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_not_publicly_accessible/opensearch_service_domains_not_publicly_accessible_fixer_test.py
Labels: provider/aws

#5821 fix(aurora): Add default ports to the check of using non default ports
  prowler/providers/aws/services/rds/rds_cluster_non_default_port/rds_cluster_non_default_port.py
  prowler/providers/aws/services/rds/rds_instance_non_default_port/rds_instance_non_default_port.py
  tests/providers/aws/services/rds/rds_cluster_non_default_port/rds_cluster_non_default_port_test.py
  tests/providers/aws/services/rds/rds_instance_non_default_port/rds_instance_non_default_port_test.py
Labels: provider/aws, backport-to-v4.6, backport-to-v5.0

#6159 feat(ec2): add new fixer `ec2_instance_port_cifs_exposed_to_internet_fixer`
  prowler/providers/aws/services/ec2/ec2_instance_port_cifs_exposed_to_internet/ec2_instance_port_cifs_exposed_to_internet_fixer.py
  tests/providers/aws/services/ec2/ec2_instance_port_cifs_exposed_to_internet/ec2_instance_port_cifs_exposed_to_internet_fixer_test.py
Labels: provider/aws

#5855 feat(s3): add new fixer `s3_bucket_public_write_acl_fixer`
  prowler/providers/aws/services/s3/s3_bucket_public_write_acl/s3_bucket_public_write_acl_fixer.py
  tests/providers/aws/services/s3/s3_bucket_public_write_acl/s3_bucket_public_write_acl_fixer_test.py
Labels: provider/aws

#6166 feat(s3): add new fixer `s3_bucket_public_list_acl_fixer`
  prowler/providers/aws/services/s3/s3_bucket_public_list_acl/s3_bucket_public_list_acl_fixer.py
  tests/providers/aws/services/s3/s3_bucket_public_list_acl/s3_bucket_public_list_acl_fixer_test.py
Labels: provider/aws

#6139 feat(ec2): add new check `ec2_launch_template_imdsv2_required`
  prowler/providers/aws/services/ec2/ec2_launch_template_imdsv2_required/__init__.py
  prowler/providers/aws/services/ec2/ec2_launch_template_imdsv2_required/ec2_launch_template_imdsv2_required.metadata.json
  prowler/providers/aws/services/ec2/ec2_launch_template_imdsv2_required/ec2_launch_template_imdsv2_required.py
  prowler/providers/aws/services/ec2/ec2_service.py
  tests/providers/aws/services/ec2/ec2_launch_template_imdsv2_required/ec2_launch_template_imdsv2_required_test.py
  tests/providers/aws/services/ec2/ec2_service_test.py
Labels: provider/aws

#6157 fix(rds): add invalid SG to status_extended
  prowler/providers/aws/services/rds/rds_instance_no_public_access/rds_instance_no_public_access.py
Labels: provider/aws, backport-to-v4.6, backport-to-v5.0

#6164 feat(s3): add new fixer `s3_bucket_public_access_fixer`
  prowler/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access_fixer.py
  tests/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access_fixer_test.py
Labels: provider/aws

#6032 feat(GHA): add gha for API
  .github/workflows/api-build-lint-push-containers.yml
Labels: github_actions

#6168 chore(gha): build and push OSS UI
  .github/workflows/ui-build-lint-push-containers.yml
Labels: github_actions

#6066 fix(RLS): enforce config security
  api/src/backend/api/base_views.py
  api/src/backend/api/db_utils.py
  api/src/backend/api/decorators.py
  api/src/backend/api/tests/test_decorators.py
  api/src/backend/tasks/tests/test_scan.py
Labels: component/api, backport-to-v5.0

#6152 fix(aws): set unique resource IDs
  prowler/providers/aws/services/backup/backup_recovery_point_encrypted/backup_recovery_point_encrypted.py
  prowler/providers/aws/services/backup/backup_service.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled_logging_management_events/cloudtrail_multi_region_enabled_logging_management_events.py
  prowler/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover.py
  tests/providers/aws/services/backup/backup_recovery_point_encrypted/backup_recovery_point_encrypted_test.py
  tests/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover_test.py
Labels: provider/aws, backport-to-v4.6, backport-to-v5.0

#6114 feat(api-rbac): RBAC system
  api/Dockerfile
  api/pyproject.toml
  api/src/backend/api/base_views.py
  api/src/backend/api/filters.py
  api/src/backend/api/fixtures/dev/6_dev_rbac.json
  api/src/backend/api/migrations/0003_rbac.py
  api/src/backend/api/migrations/0004_rbac_missing_admin_roles.py
  api/src/backend/api/models.py
  api/src/backend/api/rbac/permissions.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/integration/test_authentication.py
  api/src/backend/api/tests/integration/test_tenants.py
  api/src/backend/api/tests/test_database.py
  api/src/backend/api/tests/test_rbac.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
  api/src/backend/config/django/testing.py
  api/src/backend/conftest.py
  api/src/backend/tasks/tests/test_deletion.py
Labels: component/api

#6149 fix(azure): custom Prowler Role for Azure assignableScopes
  docs/getting-started/requirements.md
  permissions/prowler-azure-custom-role.json
Labels: documentation

#6202 chore(rls): rename tenant_transaction to rls_transaction
  api/src/backend/api/base_views.py
  api/src/backend/api/db_utils.py
  api/src/backend/api/renderers.py
  api/src/backend/config/celery.py
  api/src/backend/conftest.py
  api/src/backend/tasks/jobs/deletion.py
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_scan.py
Labels: component/api, backport-to-v5.0

#6173 feat(s3): add new fixer `s3_bucket_policy_public_write_access_fixer`
  prowler/providers/aws/services/s3/s3_bucket_policy_public_write_access/s3_bucket_policy_public_write_access_fixer.py
  tests/providers/aws/services/s3/s3_bucket_policy_public_write_access/s3_bucket_policy_public_write_access_fixer_test.py
Labels: provider/aws

#6174 feat(cloudtrail): add new fixer `cloudtrail_logs_s3_bucket_is_not_publicly_accessible_fixer`
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible_fixer.py
  tests/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible_fixer_test.py
Labels: provider/aws

#6177 feat(ec2): add new fixer `ec2_ami_public_fixer`
  prowler/providers/aws/services/ec2/ec2_ami_public/ec2_ami_public_fixer.py
  tests/providers/aws/services/ec2/ec2_ami_public/ec2_ami_public_fixer_test.py
Labels: provider/aws

#6165 feat(gcp): add service account credentials
  prowler/providers/gcp/exceptions/exceptions.py
  prowler/providers/gcp/gcp_provider.py
  tests/providers/gcp/gcp_provider_test.py
Labels: provider/gcp

#5466 feat(stepfunctions): add stepfunctions service and check `stepfunctions_statemachine_logging_enabled`
  permissions/create_role_to_assume_cfn.yaml
  permissions/prowler-additions-policy.json
  prowler/providers/aws/aws_regions_by_service.json
  prowler/providers/aws/services/stepfunctions/__init__.py
  prowler/providers/aws/services/stepfunctions/stepfunctions_client.py
  prowler/providers/aws/services/stepfunctions/stepfunctions_service.py
  prowler/providers/aws/services/stepfunctions/stepfunctions_statemachine_logging_enabled/__init__.py
  prowler/providers/aws/services/stepfunctions/stepfunctions_statemachine_logging_enabled/stepfunctions_statemachine_logging_enabled.metadata.json
  prowler/providers/aws/services/stepfunctions/stepfunctions_statemachine_logging_enabled/stepfunctions_statemachine_logging_enabled.py
  tests/providers/aws/services/stepfunctions/stepfunctions_service_test.py
  tests/providers/aws/services/stepfunctions/stepfunctions_statemachine_logging_enabled/stepfunctions_statemachine_logging_enabled_test.py
Labels: documentation, provider/aws

#6206 refactor(gcp): use always <client>.region for checks
  prowler/providers/gcp/services/compute/compute_instance_block_project_wide_ssh_keys_disabled/compute_instance_block_project_wide_ssh_keys_disabled.py
  prowler/providers/gcp/services/compute/compute_instance_confidential_computing_enabled/compute_instance_confidential_computing_enabled.py
  prowler/providers/gcp/services/compute/compute_instance_default_service_account_in_use/compute_instance_default_service_account_in_use.py
  prowler/providers/gcp/services/compute/compute_instance_default_service_account_in_use_with_full_api_access/compute_instance_default_service_account_in_use_with_full_api_access.py
  prowler/providers/gcp/services/compute/compute_instance_encryption_with_csek_enabled/compute_instance_encryption_with_csek_enabled.py
  prowler/providers/gcp/services/compute/compute_instance_ip_forwarding_is_enabled/compute_instance_ip_forwarding_is_enabled.py
  prowler/providers/gcp/services/compute/compute_instance_public_ip/compute_instance_public_ip.py
  prowler/providers/gcp/services/compute/compute_instance_serial_ports_in_use/compute_instance_serial_ports_in_use.py
  prowler/providers/gcp/services/compute/compute_instance_shielded_vm_enabled/compute_instance_shielded_vm_enabled.py
  prowler/providers/gcp/services/compute/compute_network_default_in_use/compute_network_default_in_use.py
  prowler/providers/gcp/services/compute/compute_project_os_login_enabled/compute_project_os_login_enabled.py
  prowler/providers/gcp/services/compute/compute_service.py
  prowler/providers/gcp/services/dataproc/dataproc_encrypted_with_cmks_disabled/dataproc_encrypted_with_cmks_disabled.py
  prowler/providers/gcp/services/dns/dns_dnssec_disabled/dns_dnssec_disabled.py
  prowler/providers/gcp/services/dns/dns_rsasha1_in_use_to_key_sign_in_dnssec/dns_rsasha1_in_use_to_key_sign_in_dnssec.py
  prowler/providers/gcp/services/dns/dns_rsasha1_in_use_to_zone_sign_in_dnssec/dns_rsasha1_in_use_to_zone_sign_in_dnssec.py
  prowler/providers/gcp/services/gke/gke_cluster_no_default_service_account/gke_cluster_no_default_service_account.py
  prowler/providers/gcp/services/gke/gke_service.py
  tests/providers/gcp/services/compute/compute_instance_block_project_wide_ssh_keys_disabled/compute_instance_block_project_wide_ssh_keys_disabled_test.py
  tests/providers/gcp/services/compute/compute_instance_confidential_computing_enabled/compute_instance_confidential_computing_enabled_test.py
  tests/providers/gcp/services/compute/compute_instance_default_service_account_in_use/compute_instance_default_service_account_in_use_test.py
  tests/providers/gcp/services/compute/compute_instance_default_service_account_in_use_with_full_api_access/compute_instance_default_service_account_in_use_with_full_api_access_test.py
  tests/providers/gcp/services/compute/compute_instance_encryption_with_csek_enabled/compute_instance_encryption_with_csek_enabled_test.py
  tests/providers/gcp/services/compute/compute_instance_ip_forwarding_is_enabled/compute_instance_ip_forwarding_is_enabled_test.py
  tests/providers/gcp/services/compute/compute_instance_public_ip/compute_instance_public_ip_test.py
  tests/providers/gcp/services/compute/compute_network_default_in_use/compute_network_default_in_use_test.py
  tests/providers/gcp/services/compute/compute_project_os_login_enabled/compute_project_os_login_enabled_test.py
  tests/providers/gcp/services/compute/compute_serial_ports_in_use/compute_serial_ports_in_use_test.py
  tests/providers/gcp/services/compute/compute_service_test.py
  tests/providers/gcp/services/compute/compute_shielded_vm_enabled/compute_shielded_vm_enabled_test.py
  tests/providers/gcp/services/dataproc/dataproc_encrypted_with_cmks_disabled/dataproc_encrypted_with_cmks_disabled_test.py
  tests/providers/gcp/services/gke/gke_cluster_no_default_service_account/gke_cluster_no_default_service_account_test.py
Labels: provider/gcp

#6029 feat(services): Add GET /overviews/services to API
  api/src/backend/api/filters.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/conftest.py
Labels: component/api

#6221 feat(mutelist): add description field
  docs/tutorials/mutelist.md
  prowler/config/aws_mutelist.yaml
  prowler/config/aws_mutelist_example.yaml
  prowler/config/azure_mutelist_example.yaml
  prowler/config/gcp_mutelist_example.yaml
  prowler/config/kubernetes_mutelist_example.yaml
  prowler/lib/mutelist/models.py
  prowler/lib/mutelist/mutelist.py
Labels: documentation, mutelist

#6223 feat(ec2): add new fixers for internet exposed ports
  prowler/providers/aws/services/ec2/ec2_instance_port_cassandra_exposed_to_internet/ec2_instance_port_cassandra_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_elasticsearch_kibana_exposed_to_internet/ec2_instance_port_elasticsearch_kibana_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_ftp_exposed_to_internet/ec2_instance_port_ftp_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_kafka_exposed_to_internet/ec2_instance_port_kafka_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_kerberos_exposed_to_internet/ec2_instance_port_kerberos_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_ldap_exposed_to_internet/ec2_instance_port_ldap_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_memcached_exposed_to_internet/ec2_instance_port_memcached_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_mongodb_exposed_to_internet/ec2_instance_port_mongodb_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_mysql_exposed_to_internet/ec2_instance_port_mysql_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_oracle_exposed_to_internet/ec2_instance_port_oracle_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_postgresql_exposed_to_internet/ec2_instance_port_postgresql_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_rdp_exposed_to_internet/ec2_instance_port_rdp_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_redis_exposed_to_internet/ec2_instance_port_redis_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_sqlserver_exposed_to_internet/ec2_instance_port_sqlserver_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_ssh_exposed_to_internet/ec2_instance_port_ssh_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_port_telnet_exposed_to_internet/ec2_instance_port_telnet_exposed_to_internet_fixer.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports_fixer.py
  tests/providers/aws/services/ec2/ec2_instance_port_cassandra_exposed_to_internet/ec2_instance_port_cassandra_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_elasticsearch_kibana_exposed_to_internet/ec2_instance_port_elasticsearch_kibana_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_ftp_exposed_to_internet/ec2_instance_port_ftp_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_kafka_exposed_to_internet/ec2_instance_port_kafka_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_kerberos_exposed_to_internet/ec2_instance_port_kerberos_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_ldap_exposed_to_internet/ec2_instance_port_ldap_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_memcached_exposed_to_internet/ec2_instance_port_memcached_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_mongodb_exposed_to_internet/ec2_instance_port_mongodb_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_mysql_exposed_to_internet/ec2_instance_port_mysql_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_oracle_exposed_to_internet/ec2_instance_port_oracle_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_postgresql_exposed_to_internet/ec2_instance_port_postgresql_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_rdp_exposed_to_internet/ec2_instance_port_rdp_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_redis_exposed_to_internet/ec2_instance_port_redis_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_sqlserver_exposed_to_internet/ec2_instance_port_sqlserver_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_ssh_exposed_to_internet/ec2_instance_port_ssh_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_port_telnet_exposed_to_internet/ec2_instance_port_telnet_exposed_to_internet_fixer_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports_fixer_test.py
Labels: provider/aws

#6226 ref(rbac): improve rbac implementation for views
  api/src/backend/api/base_views.py
  api/src/backend/api/rbac/permissions.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Labels: component/api

#6239 fix(docs): change typo from provideruid in k8s
  docs/tutorials/prowler-app.md
Labels: documentation

#6225 chore(config): set default values for empty config fields
  prowler/config/config.yaml
  prowler/providers/aws/services/acm/acm_certificates_with_secure_key_algorithms/acm_certificates_with_secure_key_algorithms.py
  prowler/providers/aws/services/awslambda/awslambda_function_using_supported_runtimes/awslambda_function_using_supported_runtimes.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_enumeration/cloudtrail_threat_detection_enumeration.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_llm_jacking/cloudtrail_threat_detection_llm_jacking.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_privilege_escalation/cloudtrail_threat_detection_privilege_escalation.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_any_port/ec2_securitygroup_allow_ingress_from_internet_to_any_port.py
  prowler/providers/aws/services/eks/eks_control_plane_logging_all_types_enabled/eks_control_plane_logging_all_types_enabled.py
  prowler/providers/kubernetes/services/apiserver/apiserver_strong_ciphers_only/apiserver_strong_ciphers_only.py
  prowler/providers/kubernetes/services/kubelet/kubelet_strong_ciphers_only/kubelet_strong_ciphers_only.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
Labels: provider/aws, provider/kubernetes

#6230 fix(.env): remove comment
  .env
Labels: backport-to-v5.0

#6238 ref(rbac): enable relationship creation when objects is created
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/conftest.py
Labels: component/api

#6245 feat(celery): Add configurable broker visibility timeout setting
  .env
  api/.env.example
  api/src/backend/config/celery.py
Labels: component/api, backport-to-v5.0

#6257 chore: skip action on .env changes
  .github/workflows/sdk-pull-request.yml
Labels: github_actions, backport-to-v5.0

#6256 docs: add note about platform flag in docker
  README.md
  docs/index.md
Labels: documentation

#6255 fix(gha): make conditional job for checking the repo
  .github/workflows/api-build-lint-push-containers.yml
  .github/workflows/sdk-pypi-release.yml
  .github/workflows/ui-build-lint-push-containers.yml
Labels: github_actions, backport-to-v5.0

#6266 chore(api): Use prowler ^5.0
  api/poetry.lock
  api/pyproject.toml
Labels: component/api, backport-to-v5.0

#6263 feat(codeartifact): add new fixer `codeartifact_packages_external_public_publishing_disabled_fixer`
  prowler/providers/aws/services/codeartifact/codeartifact_packages_external_public_publishing_disabled/codeartifact_packages_external_public_publishing_disabled.py
  prowler/providers/aws/services/codeartifact/codeartifact_packages_external_public_publishing_disabled/codeartifact_packages_external_public_publishing_disabled_fixer.py
  tests/providers/aws/services/codeartifact/codeartifact_packages_external_public_publishing_disabled/codeartifact_packages_external_public_publishing_disabled_fixer_test.py
  tests/providers/aws/services/codeartifact/codeartifact_packages_external_public_publishing_disabled/codeartifact_packages_external_public_publishing_disabled_test.py
Labels: provider/aws

#6201 feat(roles): RBAC functionality
  ui/actions/invitations/invitation.ts
  ui/actions/manage-groups/index.ts
  ui/actions/manage-groups/manage-groups.ts
  ui/actions/providers/providers.ts
  ui/actions/roles/index.ts
  ui/actions/roles/roles.ts
  ui/actions/users/users.ts
  ui/app/(prowler)/invitations/(send-invite)/new/page.tsx
  ui/app/(prowler)/invitations/page.tsx
  ui/app/(prowler)/manage-groups/layout.tsx
  ui/app/(prowler)/manage-groups/page.tsx
  ui/app/(prowler)/providers/page.tsx
  ui/app/(prowler)/roles/(add-role)/edit/page.tsx
  ui/app/(prowler)/roles/(add-role)/layout.tsx
  ui/app/(prowler)/roles/(add-role)/new/page.tsx
  ui/app/(prowler)/roles/page.tsx
  ui/app/(prowler)/users/page.tsx
  ui/components/filters/data-filters.ts
  ui/components/invitations/forms/edit-form.tsx
  ui/components/invitations/table/column-invitations.tsx
  ui/components/invitations/table/data-table-row-actions.tsx
  ui/components/invitations/workflow/forms/send-invitation-form.tsx
  ui/components/manage-groups/forms/add-group-form.tsx
  ui/components/manage-groups/forms/delete-group-form.tsx
  ui/components/manage-groups/forms/edit-group-form.tsx
  ui/components/manage-groups/forms/index.ts
  ui/components/manage-groups/index.ts
  ui/components/manage-groups/manage-groups-button.tsx
  ui/components/manage-groups/skeleton-manage-groups.tsx
  ui/components/manage-groups/table/column-groups.tsx
  ui/components/manage-groups/table/data-table-row-actions.tsx
  ui/components/manage-groups/table/index.ts
  ui/components/manage-groups/table/skeleton-table-groups.tsx
  ui/components/providers/add-provider-button.tsx
  ui/components/providers/index.ts
  ui/components/providers/table/column-providers.tsx
  ui/components/roles/add-role-button.tsx
  ui/components/roles/index.ts
  ui/components/roles/table/column-roles.tsx
  ui/components/roles/table/data-table-row-actions.tsx
  ui/components/roles/table/index.ts
  ui/components/roles/table/skeleton-table-roles.tsx
  ui/components/roles/workflow/forms/add-role-form.tsx
  ui/components/roles/workflow/forms/delete-role-form.tsx
  ui/components/roles/workflow/forms/edit-role-form.tsx
  ui/components/roles/workflow/forms/index.ts
  ui/components/roles/workflow/index.ts
  ui/components/roles/workflow/skeleton-role-form.tsx
  ui/components/roles/workflow/vertical-steps.tsx
  ui/components/roles/workflow/workflow-add-edit-role.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/ui/custom/custom-dropdown-selection.tsx
  ui/components/ui/custom/index.ts
  ui/components/ui/sidebar/sidebar-items.tsx
  ui/components/ui/table/data-table-column-header.tsx
  ui/components/users/forms/edit-form.tsx
  ui/components/users/table/column-users.tsx
  ui/components/users/table/data-table-row-actions.tsx
  ui/types/components.ts
  ui/types/formSchemas.ts
Labels: component/ui

#6273 fix(aws): add missing region to Backup Recovery Point
  prowler/providers/aws/services/backup/backup_service.py
Labels: provider/aws, backport-to-v4.6, backport-to-v5.0

#6280 chore(findings): remove delta new as filter by default in findings
  ui/app/(prowler)/findings/page.tsx
Labels: component/ui, backport-to-v5.0

#6283 fix(db-utils): fix batch_delete function
  api/src/backend/api/db_utils.py
  api/src/backend/api/migrations/0005_update_provider_unique_constraint_with_is_deleted.py
  api/src/backend/api/models.py
  api/src/backend/api/tests/integration/test_providers.py
  api/src/backend/api/tests/test_db_utils.py
Labels: component/api, backport-to-v5.0

#6278 chore(gha): solve pypi release github action
  .github/workflows/sdk-pypi-release.yml
Labels: github_actions, backport-to-v5.0

#6284 fix(users): fix /users/me behavior when having more than 1 users in the same tenant
  api/src/backend/api/tests/integration/test_authentication.py
  api/src/backend/api/v1/views.py
Labels: component/api, backport-to-v5.0

#6287 chore(menu): add API reference link to the sidebar
  .env
  ui/components/invitations/invitation-details.tsx
  ui/components/ui/sidebar/sidebar-wrap.tsx
Labels: component/ui, backport-to-v5.0

#6229 fix(aws): disallow child-accounts to overwrite policy for `ai_services_opt_out`
  prowler/providers/aws/services/organizations/organizations_opt_out_ai_services_policy/organizations_opt_out_ai_services_policy.metadata.json
  prowler/providers/aws/services/organizations/organizations_opt_out_ai_services_policy/organizations_opt_out_ai_services_policy.py
  tests/providers/aws/services/organizations/organizations_opt_out_ai_services_policy/organizations_opt_out_ai_services_policy_test.py
Labels: provider/aws, backport-to-v4.6, backport-to-v5.0

#6294 fix(gha): run API and UI tests in correct versions
  .github/workflows/api-codeql.yml
  .github/workflows/api-pull-request.yml
  .github/workflows/sdk-codeql.yml
  .github/workflows/ui-codeql.yml
  .github/workflows/ui-pull-request.yml
Labels: github_actions, backport-to-v5.0

#6318 feat(compliance): generate compliance reports for GCP scans using API
  api/src/backend/tasks/jobs/scan.py
Labels: component/api
