Repository prowler-cloud/prowler, pull requests merged in 2024-06, with the labels that each got.

#4154 fix(dependencies): ignore jinja vulnerability
  .github/workflows/pull-request.yml
  .pre-commit-config.yaml
Labels: github_actions, backport-v3

#4151 chore(favicon): update favicon logo
  dashboard/assets/favicon.ico
  docs/favicon.ico
Labels: documentation

#4150 fix(rds): use correct API call for cluster parameters
  prowler/providers/aws/services/rds/rds_service.py
  tests/providers/aws/services/rds/rds_instance_transport_encrypted/rds_instance_transport_encrypted_test.py
  tests/providers/aws/services/rds/rds_service_test.py
Labels: provider/aws, backport-v3

#4153 fix(cloudtrail): trail.region must be home region
  prowler/providers/aws/services/cloudtrail/cloudtrail_bucket_requires_mfa_delete/cloudtrail_bucket_requires_mfa_delete.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_cloudwatch_logging_enabled/cloudtrail_cloudwatch_logging_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_insights_exist/cloudtrail_insights_exist.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_kms_encryption_enabled/cloudtrail_kms_encryption_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_log_file_validation_enabled/cloudtrail_log_file_validation_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_access_logging_enabled/cloudtrail_logs_s3_bucket_access_logging_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled_logging_management_events/cloudtrail_multi_region_enabled_logging_management_events.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_read_enabled/cloudtrail_s3_dataevents_read_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_write_enabled/cloudtrail_s3_dataevents_write_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_service.py
  tests/providers/aws/services/cloudtrail/cloudtrail_cloudwatch_logging_enabled/cloudtrail_cloudwatch_logging_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_access_logging_enabled/cloudtrail_logs_s3_bucket_access_logging_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled_logging_management_events/cloudtrail_multi_region_enabled_logging_management_events_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_service_test.py
Labels: provider/aws, backport-v3

#4158 fix(trustedadvisor): handle AccessDenied exception
  prowler/providers/aws/services/trustedadvisor/trustedadvisor_service.py
Labels: provider/aws, backport-v3

#4159 chore(backport): include latest changes of v4
  .github/workflows/pull-request.yml
  .pre-commit-config.yaml
  prowler/providers/aws/services/cloudtrail/cloudtrail_bucket_requires_mfa_delete/cloudtrail_bucket_requires_mfa_delete.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_cloudwatch_logging_enabled/cloudtrail_cloudwatch_logging_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_insights_exist/cloudtrail_insights_exist.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_kms_encryption_enabled/cloudtrail_kms_encryption_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_log_file_validation_enabled/cloudtrail_log_file_validation_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_access_logging_enabled/cloudtrail_logs_s3_bucket_access_logging_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled_logging_management_events/cloudtrail_multi_region_enabled_logging_management_events.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_read_enabled/cloudtrail_s3_dataevents_read_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_write_enabled/cloudtrail_s3_dataevents_write_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_service.py
  prowler/providers/aws/services/iam/iam_no_custom_policy_permissive_role_assumption/iam_no_custom_policy_permissive_role_assumption.metadata.json
  prowler/providers/aws/services/rds/rds_service.py
  prowler/providers/aws/services/trustedadvisor/trustedadvisor_service.py
  prowler/providers/azure/services/defender/defender_service.py
  tests/providers/aws/services/cloudtrail/cloudtrail_cloudwatch_logging_enabled/cloudtrail_cloudwatch_logging_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_access_logging_enabled/cloudtrail_logs_s3_bucket_access_logging_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled_logging_management_events/cloudtrail_multi_region_enabled_logging_management_events_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_service_test.py
  tests/providers/aws/services/rds/rds_instance_transport_encrypted/rds_instance_transport_encrypted_test.py
  tests/providers/aws/services/rds/rds_service_test.py
Labels: provider/aws, provider/azure, github_actions

#4162 fix(cloudtrail): check if trails exist in service
  prowler/providers/aws/services/cloudtrail/cloudtrail_service.py
Labels: provider/aws

#4161 fix(cloudtrail): check if trails exist in service
  prowler/providers/aws/services/cloudtrail/cloudtrail_service.py
Labels: provider/aws

#4178 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4186 docs(reporting): fix mapping of json-ocsf field cloud.account.type
  docs/tutorials/reporting.md
Labels: documentation

#4182 chore(CLI): run a Prowler scan
  cli/cli.py
  prowler/__main__.py
  prowler/lib/check/check.py
  prowler/lib/outputs/security_hub/__init__.py
  prowler/lib/outputs/security_hub/security_hub.py
  prowler/lib/outputs/slack.py
  prowler/lib/outputs/slack/__init__.py
  prowler/lib/outputs/slack/slack.py
  prowler/lib/scan/scan.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  prowler/providers/common/models.py
  tests/lib/outputs/security_hub/fixtures/metadata.json
  tests/lib/outputs/security_hub/security_hub_test.py
  tests/lib/outputs/slack/slack_test.py
  tests/providers/aws/utils.py
Labels: no-merge

#4190 chore(version): update prowler version
  docs/tutorials/reporting.md
  prowler/config/config.py
  pyproject.toml
Labels: documentation

#4187 docs(index): fix docu about output modes
  docs/index.md
Labels: documentation

#4191 fix(rds): handle not existing parameter values
  prowler/providers/aws/services/rds/rds_service.py
Labels: provider/aws, backport-v3

#4192 fix(elasticache): handle empty cluster subnets
  prowler/providers/aws/services/elasticache/elasticache_service.py
  tests/providers/aws/services/elasticache/elasticache_cluster_uses_public_subnet/elasticache_cluster_uses_public_subnet_test.py
Labels: provider/aws, backport-v3

#4193 fix(glue): check if get dev endpoints call is supported
  prowler/providers/aws/services/glue/glue_service.py
Labels: provider/aws, backport-v3

#4194 fix(s3): check if account is signed up
  prowler/providers/aws/services/s3/s3_service.py
Labels: provider/aws, backport-v3

#4130 feat(rds): Add security group event subscription check
  prowler/providers/aws/services/rds/rds_instance_event_subscription_security_groups/__init__.py
  prowler/providers/aws/services/rds/rds_instance_event_subscription_security_groups/rds_instance_event_subscription_security_groups.metadata.json
  prowler/providers/aws/services/rds/rds_instance_event_subscription_security_groups/rds_instance_event_subscription_security_groups.py
  prowler/providers/aws/services/rds/rds_service.py
  tests/providers/aws/services/rds/rds_instance_event_subscription_security_groups/rds_instance_event_subscription_security_groups_test.py
  tests/providers/aws/services/rds/rds_service_test.py
Labels: no-merge, provider/aws

#4198 chore(backport): update v3 with latest changes
  prowler/providers/aws/aws_regions_by_service.json
  prowler/providers/aws/services/elasticache/elasticache_service.py
  prowler/providers/aws/services/glue/glue_service.py
  prowler/providers/aws/services/rds/rds_service.py
  prowler/providers/aws/services/s3/s3_service.py
  tests/providers/aws/services/elasticache/elasticache_cluster_uses_public_subnet/elasticache_cluster_uses_public_subnet_test.py
Labels: provider/aws

#4201 chore(version): update Prowler version
  docs/tutorials/reporting.md
  prowler/config/config.py
  pyproject.toml
Labels: documentation

#4205 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4210 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4211 chore(iam): improve iam user console access check
  prowler/providers/aws/services/iam/iam_service.py
  prowler/providers/aws/services/iam/iam_user_console_access_unused/iam_user_console_access_unused.py
  tests/providers/aws/services/iam/iam_user_console_access_unused/iam_user_console_access_unused_test.py
Labels: provider/aws

#4236 chore(release): 4.2.4
  docs/tutorials/reporting.md
  prowler/config/config.py
  pyproject.toml
Labels: documentation

#4241 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4240 fix(s3): Send HTML also
  prowler/config/config.py
  prowler/lib/cli/parser.py
  prowler/providers/aws/lib/s3/s3.py
  tests/providers/aws/lib/s3/fixtures/prowler-output-123456789012.asff.json
  tests/providers/aws/lib/s3/fixtures/prowler-output-123456789012.html
  tests/providers/aws/lib/s3/fixtures/prowler-output-123456789012.ocsf.json
  tests/providers/aws/lib/s3/s3_test.py
Labels: provider/aws

#4238 docs(developer-guide): How to fork the repo
  docs/developer-guide/introduction.md
Labels: documentation

#4246 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4248 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4252 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4258 chore(docs): update checks reference link
  docs/developer-guide/checks.md
Labels: documentation

#4237 fix: Some minor fixes in several parts
  docs/tutorials/scan-unused-services.md
  prowler/config/config.py
  prowler/lib/outputs/html/html.py
  prowler/lib/utils/utils.py
  prowler/providers/aws/services/autoscaling/autoscaling_find_secrets_ec2_launch_configuration/autoscaling_find_secrets_ec2_launch_configuration.py
  prowler/providers/aws/services/ec2/ec2_instance_secrets_user_data/ec2_instance_secrets_user_data.py
  prowler/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets.py
  prowler/providers/aws/services/iam/iam_service.py
  prowler/providers/aws/services/rds/rds_instance_event_subscription_security_groups/rds_instance_event_subscription_security_groups.py
  prowler/providers/aws/services/rds/rds_service.py
  tests/config/config_test.py
  tests/providers/aws/lib/mutelist/aws_mutelist_test.py
  tests/providers/aws/services/acm/acm_certificates_expiration_check/acm_certificates_expiration_check_test.py
  tests/providers/aws/services/autoscaling/autoscaling_service_test.py
  tests/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets_test.py
  tests/providers/aws/services/ec2/ec2_service_test.py
  tests/providers/aws/services/rds/rds_instance_event_subscription_security_groups/rds_instance_event_subscription_security_groups_test.py
Labels: documentation, provider/aws, security

#4277 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4251 fix(aws): aws check and metadata fixes
  prowler/providers/aws/services/ec2/ec2_ebs_volume_snapshots_exists/ec2_ebs_volume_snapshots_exists.metadata.json
  prowler/providers/aws/services/ec2/ec2_instance_managed_by_ssm/ec2_instance_managed_by_ssm.py
  prowler/providers/aws/services/sns/sns_topics_kms_encryption_at_rest_enabled/sns_topics_kms_encryption_at_rest_enabled.metadata.json
  prowler/providers/aws/services/sns/sns_topics_not_publicly_accessible/sns_topics_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/ssm/ssm_service.py
  tests/providers/aws/services/ec2/ec2_instance_managed_by_ssm/ec2_instance_managed_by_ssm_test.py
Labels: provider/aws, backport-v3

#4279 doc(debugging): Improve actual VSCode debugging file
  docs/developer-guide/debugging.md
Labels: documentation

#4278 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4233 feat(RDS): Additional RDS checks
  prowler/providers/aws/services/rds/rds_cluster_backtrack_enabled/__init__.py
  prowler/providers/aws/services/rds/rds_cluster_backtrack_enabled/rds_cluster_backtrack_enabled.metadata.json
  prowler/providers/aws/services/rds/rds_cluster_backtrack_enabled/rds_cluster_backtrack_enabled.py
  prowler/providers/aws/services/rds/rds_instance_default_admin/__init__.py
  prowler/providers/aws/services/rds/rds_instance_default_admin/rds_instance_default_admin.metadata.json
  prowler/providers/aws/services/rds/rds_instance_default_admin/rds_instance_default_admin.py
  prowler/providers/aws/services/rds/rds_instance_iam_authentication_enabled/__init__.py
  prowler/providers/aws/services/rds/rds_instance_iam_authentication_enabled/rds_instance_iam_authentication_enabled.metadata.json
  prowler/providers/aws/services/rds/rds_instance_iam_authentication_enabled/rds_instance_iam_authentication_enabled.py
  prowler/providers/aws/services/rds/rds_service.py
  prowler/providers/aws/services/rds/rds_snapshots_encrypted/__init__.py
  prowler/providers/aws/services/rds/rds_snapshots_encrypted/rds_snapshots_encrypted.metadata.json
  prowler/providers/aws/services/rds/rds_snapshots_encrypted/rds_snapshots_encrypted.py
  tests/providers/aws/services/rds/rds_cluster_backtrack_enabled/rds_cluster_backtrack_enabled_test.py
  tests/providers/aws/services/rds/rds_instance_certificate_expiration/rds_instance_certificate_expiration_test.py
  tests/providers/aws/services/rds/rds_instance_default_admin/rds_instance_default_admin_test.py
  tests/providers/aws/services/rds/rds_instance_iam_authentication_enabled/rds_instance_iam_authentication_enabled_test.py
  tests/providers/aws/services/rds/rds_instance_multi_az/rds_instance_multi_az_test.py
  tests/providers/aws/services/rds/rds_snapshots_encrypted/rds_snapshots_encrypted_test.py
Labels: provider/aws

#4284 chore(safety): update vulnerable library version
  .github/workflows/pull-request.yml
  .pre-commit-config.yaml
  poetry.lock
Labels: github_actions

#4189 feat(app): Add new Azure functions checks
  prowler/providers/azure/config.py
  prowler/providers/azure/services/app/app_function_access_keys_configured/__init__.py
  prowler/providers/azure/services/app/app_function_access_keys_configured/app_function_access_keys_configured.metadata.json
  prowler/providers/azure/services/app/app_function_access_keys_configured/app_function_access_keys_configured.py
  prowler/providers/azure/services/app/app_function_application_insights_enabled/__init__.py
  prowler/providers/azure/services/app/app_function_application_insights_enabled/app_function_application_insights_enabled.metadata.json
  prowler/providers/azure/services/app/app_function_application_insights_enabled/app_function_application_insights_enabled.py
  prowler/providers/azure/services/app/app_function_ftps_deployment_disabled/__init__.py
  prowler/providers/azure/services/app/app_function_ftps_deployment_disabled/app_function_ftps_deployment_disabled.metadata.json
  prowler/providers/azure/services/app/app_function_ftps_deployment_disabled/app_function_ftps_deployment_disabled.py
  prowler/providers/azure/services/app/app_function_identity_is_configured/__init__.py
  prowler/providers/azure/services/app/app_function_identity_is_configured/app_function_identity_is_configured.metadata.json
  prowler/providers/azure/services/app/app_function_identity_is_configured/app_function_identity_is_configured.py
  prowler/providers/azure/services/app/app_function_identity_without_admin_privileges/__init__.py
  prowler/providers/azure/services/app/app_function_identity_without_admin_privileges/app_function_identity_without_admin_privileges.metadata.json
  prowler/providers/azure/services/app/app_function_identity_without_admin_privileges/app_function_identity_without_admin_privileges.py
  prowler/providers/azure/services/app/app_function_latest_runtime_version/__init__.py
  prowler/providers/azure/services/app/app_function_latest_runtime_version/app_function_latest_runtime_version.metadata.json
  prowler/providers/azure/services/app/app_function_latest_runtime_version/app_function_latest_runtime_version.py
  prowler/providers/azure/services/app/app_function_not_publicly_accessible/__init__.py
  prowler/providers/azure/services/app/app_function_not_publicly_accessible/app_function_not_publicly_accessible.metadata.json
  prowler/providers/azure/services/app/app_function_not_publicly_accessible/app_function_not_publicly_accessible.py
  prowler/providers/azure/services/app/app_function_vnet_integration_enabled/__init__.py
  prowler/providers/azure/services/app/app_function_vnet_integration_enabled/app_function_vnet_integration_enabled.metadata.json
  prowler/providers/azure/services/app/app_function_vnet_integration_enabled/app_function_vnet_integration_enabled.py
  prowler/providers/azure/services/app/app_service.py
  prowler/providers/azure/services/appinsights/appinsights_service.py
  tests/providers/azure/services/app/app_function_access_keys_configured/app_function_access_keys_configured_test.py
  tests/providers/azure/services/app/app_function_application_insights_enabled/app_function_application_insights_enabled_test.py
  tests/providers/azure/services/app/app_function_ftps_deployment_disabled/app_function_ftps_deployment_disabled_test.py
  tests/providers/azure/services/app/app_function_identity_is_configured/app_function_identity_is_configured_test.py
  tests/providers/azure/services/app/app_function_identity_without_admin_privileges/app_function_identity_without_admin_privileges_test.py
  tests/providers/azure/services/app/app_function_latest_runtime_version/app_function_latest_runtime_version_test.py
  tests/providers/azure/services/app/app_function_not_publicly_accessible/app_function_not_publicly_accessible_test.py
  tests/providers/azure/services/app/app_function_vnet_integration_enabled/app_function_vnet_integration_enabled_test.py
  tests/providers/azure/services/app/app_service_test.py
  tests/providers/azure/services/appinsights/appinsights_ensure_is_configured/appinsights_ensure_is_configured_test.py
  tests/providers/azure/services/appinsights/appinsights_service_test.py
Labels: provider/azure

#4286 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4243 feat(neptune): Additional Neptune checks
  prowler/providers/aws/services/neptune/neptune_cluster_backup_enabled/__init__.py
  prowler/providers/aws/services/neptune/neptune_cluster_backup_enabled/neptune_cluster_backup_enabled.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_backup_enabled/neptune_cluster_backup_enabled.py
  prowler/providers/aws/services/neptune/neptune_cluster_deletion_protection/__init__.py
  prowler/providers/aws/services/neptune/neptune_cluster_deletion_protection/neptune_cluster_deletion_protection.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_deletion_protection/neptune_cluster_deletion_protection.py
  prowler/providers/aws/services/neptune/neptune_cluster_iam_authentication_enabled/__init__.py
  prowler/providers/aws/services/neptune/neptune_cluster_iam_authentication_enabled/neptune_cluster_iam_authentication_enabled.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_iam_authentication_enabled/neptune_cluster_iam_authentication_enabled.py
  prowler/providers/aws/services/neptune/neptune_cluster_multi_az/__init__.py
  prowler/providers/aws/services/neptune/neptune_cluster_multi_az/neptune_cluster_multi_az.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_multi_az/neptune_cluster_multi_az.py
  prowler/providers/aws/services/neptune/neptune_cluster_storage_encrypted/__init__.py
  prowler/providers/aws/services/neptune/neptune_cluster_storage_encrypted/neptune_cluster_storage_encrypted.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_storage_encrypted/neptune_cluster_storage_encrypted.py
  prowler/providers/aws/services/neptune/neptune_service.py
  tests/providers/aws/services/neptune/neptune_cluster_backup_enabled/neptune_cluster_backup_enabled_test.py
  tests/providers/aws/services/neptune/neptune_cluster_deletion_protection/neptune_cluster_deletion_protection_test.py
  tests/providers/aws/services/neptune/neptune_cluster_iam_authentication_enabled/neptune_cluster_iam_authentication_enabled_test.py
  tests/providers/aws/services/neptune/neptune_cluster_multi_az/neptune_cluster_multi_az_test.py
  tests/providers/aws/services/neptune/neptune_cluster_storage_encrypted/neptune_cluster_storage_encrypted_test.py
  tests/providers/aws/services/neptune/neptune_service_test.py
Labels: provider/aws

#4247 feat(DocumentDB): New DocumentDB checks
  prowler/providers/aws/services/documentdb/documentdb_cluster_backup_enabled/__init__.py
  prowler/providers/aws/services/documentdb/documentdb_cluster_backup_enabled/documentdb_cluster_backup_enabled.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_cluster_backup_enabled/documentdb_cluster_backup_enabled.py
  prowler/providers/aws/services/documentdb/documentdb_cluster_cloudwatch_log_export/__init__.py
  prowler/providers/aws/services/documentdb/documentdb_cluster_cloudwatch_log_export/documentdb_cluster_cloudwatch_log_export.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_cluster_cloudwatch_log_export/documentdb_cluster_cloudwatch_log_export.py
  prowler/providers/aws/services/documentdb/documentdb_cluster_deletion_protection/__init__.py
  prowler/providers/aws/services/documentdb/documentdb_cluster_deletion_protection/documentdb_cluster_deletion_protection.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_cluster_deletion_protection/documentdb_cluster_deletion_protection.py
  prowler/providers/aws/services/documentdb/documentdb_cluster_storage_encrypted/__init__.py
  prowler/providers/aws/services/documentdb/documentdb_cluster_storage_encrypted/documentdb_cluster_storage_encrypted.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_cluster_storage_encrypted/documentdb_cluster_storage_encrypted.py
  prowler/providers/aws/services/documentdb/documentdb_instance_storage_encrypted/documentdb_instance_storage_encrypted.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_service.py
  tests/providers/aws/services/documentdb/documentdb_cluster_backup_enabled/documentdb_cluster_backup_enabled_test.py
  tests/providers/aws/services/documentdb/documentdb_cluster_cloudwatch_log_export/documentdb_cluster_cloudwatch_log_export_test.py
  tests/providers/aws/services/documentdb/documentdb_cluster_deletion_protection/documentdb_cluster_deletion_protection_test.py
  tests/providers/aws/services/documentdb/documentdb_cluster_storage_encrypted/documentdb_cluster_storage_encrypted_test.py
  tests/providers/aws/services/documentdb/documentdb_instance_storage_encrypted/documentdb_instance_storage_encrypted_test.py
  tests/providers/aws/services/documentdb/documentdb_service_test.py
Labels: provider/aws

#4249 feat(DMS): Add Database Migration Service (DMS)
  prowler/providers/aws/services/dms/__init__.py
  prowler/providers/aws/services/dms/dms_client.py
  prowler/providers/aws/services/dms/dms_instance_minor_version_upgrade_enabled/__init__.py
  prowler/providers/aws/services/dms/dms_instance_minor_version_upgrade_enabled/dms_instance_minor_version_upgrade_enabled.metadata.json
  prowler/providers/aws/services/dms/dms_instance_minor_version_upgrade_enabled/dms_instance_minor_version_upgrade_enabled.py
  prowler/providers/aws/services/dms/dms_instance_multi_az/__init__.py
  prowler/providers/aws/services/dms/dms_instance_multi_az/dms_instance_multi_az.metadata.json
  prowler/providers/aws/services/dms/dms_instance_multi_az/dms_instance_multi_az.py
  prowler/providers/aws/services/dms/dms_instance_no_public_access/__init__.py
  prowler/providers/aws/services/dms/dms_instance_no_public_access/dms_instance_no_public_access.metadata.json
  prowler/providers/aws/services/dms/dms_instance_no_public_access/dms_instance_no_public_access.py
  prowler/providers/aws/services/dms/dms_service.py
  tests/providers/aws/services/dms/dms_instance_minor_version_upgrade_enabled/dms_instance_minor_version_upgrade_enabled_test.py
  tests/providers/aws/services/dms/dms_instance_multi_az/dms_instance_multi_az_test.py
  tests/providers/aws/services/dms/dms_instance_no_public_access/dms_no_public_access_test.py
  tests/providers/aws/services/dms/dms_service_test.py
Labels: provider/aws

#4289 chore(aws): handle new permissions
  permissions/create_role_to_assume_cfn.yaml
  permissions/prowler-additions-policy.json
  prowler/providers/aws/services/eventbridge/eventbridge_service.py
  prowler/providers/aws/services/fms/fms_service.py
Labels: provider/aws

#4314 chore(deps): Upgrade requests to 2.32.2
  poetry.lock
  pyproject.toml
Labels: dependencies, python, v3

#4287 fix(csv-outputs): compliance outputs not showing consistents values
  prowler/compliance/kubernetes/cis_1.8_kubernetes.json
  prowler/lib/check/compliance.py
  prowler/lib/outputs/outputs.py
  tests/lib/check/compliance_check_test.py
Labels: backport-v3

#4281 chore(s3): reduce false positive in s3 public check
  prowler/providers/aws/lib/policy_condition_parser/policy_condition_parser.py
  prowler/providers/aws/services/iam/lib/policy.py
  prowler/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access.py
  tests/providers/aws/lib/policy_condition_parser/policy_condition_parser_test.py
  tests/providers/aws/services/iam/lib/policy_test.py
  tests/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access_test.py
Labels: provider/aws, backport-v3

#4288 docs(kubernetes): add docs about kubernetes in tutorials page
  docs/tutorials/kubernetes/in-cluster.md
  docs/tutorials/kubernetes/misc.md
  docs/tutorials/kubernetes/outside-cluster.md
  mkdocs.yml
Labels: documentation

#4320 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4291 feat(gcp): add service account impersonation
  docs/tutorials/gcp/authentication.md
  poetry.lock
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/gcp/lib/arguments/arguments.py
  tests/lib/cli/parser_test.py
  tests/providers/gcp/gcp_provider_test.py
Labels: documentation, provider/gcp

#4319 fix(codebuild): enhance service functions
  prowler/providers/aws/services/codebuild/codebuild_project_older_90_days/codebuild_project_older_90_days.py
  prowler/providers/aws/services/codebuild/codebuild_project_user_controlled_buildspec/codebuild_project_user_controlled_buildspec.py
  prowler/providers/aws/services/codebuild/codebuild_service.py
  tests/providers/aws/services/codebuild/codebuild_project_older_90_days/codebuild_project_older_90_days_test.py
  tests/providers/aws/services/codebuild/codebuild_project_user_controlled_buildspec/codebuild_project_user_controlled_buildspec_test.py
  tests/providers/aws/services/codebuild/codebuild_service_test.py
Labels: provider/aws, backport-v3

#4177 chore(tests): Improve CloudTrail tests checking for multiregional trails
  prowler/providers/aws/services/cloudtrail/cloudtrail_bucket_requires_mfa_delete/cloudtrail_bucket_requires_mfa_delete.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_cloudwatch_logging_enabled/cloudtrail_cloudwatch_logging_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_log_file_validation_enabled/cloudtrail_log_file_validation_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_access_logging_enabled/cloudtrail_logs_s3_bucket_access_logging_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled/cloudtrail_multi_region_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled_logging_management_events/cloudtrail_multi_region_enabled_logging_management_events.py
  prowler/providers/aws/services/s3/s3_service.py
  tests/providers/aws/services/cloudtrail/cloudtrail_bucket_requires_mfa_delete/cloudtrail_bucket_requires_mfa_delete_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_cloudwatch_logging_enabled/cloudtrail_cloudwatch_logging_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_insights_exist/cloudtrail_insights_exist_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_kms_encryption_enabled/cloudtrail_kms_encryption_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_log_file_validation_enabled/cloudtrail_log_file_validation_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_access_logging_enabled/cloudtrail_logs_s3_bucket_access_logging_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled/cloudtrail_multi_region_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled_logging_management_events/cloudtrail_multi_region_enabled_logging_management_events_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_read_enabled/cloudtrail_s3_dataevents_read_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_write_enabled/cloudtrail_s3_dataevents_write_enabled_test.py
Labels: provider/aws

#4326 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4327 fix(docs): Rewrite dashboard docs
  dashboard/__main__.py
  docs/tutorials/dashboard.md
  docs/tutorials/img/dashboard/dashboard-banner.png
Labels: documentation

#4318 feat(NetworkFirewall): Add Deletion Protection Check
  prowler/providers/aws/services/networkfirewall/networkfirewall_deletion_protection/__init__.py
  prowler/providers/aws/services/networkfirewall/networkfirewall_deletion_protection/networkfirewall_deletion_protection.metadata.json
  prowler/providers/aws/services/networkfirewall/networkfirewall_deletion_protection/networkfirewall_deletion_protection.py
  prowler/providers/aws/services/networkfirewall/networkfirewall_service.py
  tests/providers/aws/services/networkfirewall/networkfirewall_deletion_protection/networkfirewall_deletion_protection_test.py
  tests/providers/aws/services/networkfirewall/networkfirewall_in_all_vpc/networkfirewall_in_all_vpc_test.py
  tests/providers/aws/services/networkfirewall/networkfirewall_service_test.py
Labels: provider/aws

#4317 feat(Elasticache): Additional Elasticache checks
  prowler/providers/aws/services/elasticache/elasticache_cluster_backup_enabled/__init__.py
  prowler/providers/aws/services/elasticache/elasticache_cluster_backup_enabled/elasticache_cluster_backup_enabled.metadata.json
  prowler/providers/aws/services/elasticache/elasticache_cluster_backup_enabled/elasticache_cluster_backup_enabled.py
  prowler/providers/aws/services/elasticache/elasticache_cluster_multi_az_enabled/elasticache_cluster_multi_az_enabled.metadata.json
  prowler/providers/aws/services/elasticache/elasticache_cluster_multi_az_enabled/elasticache_cluster_multi_az_enabled.py
  prowler/providers/aws/services/elasticache/elasticache_replication_group_encrypted_at_rest/__init__.py
  prowler/providers/aws/services/elasticache/elasticache_replication_group_encrypted_at_rest/elasticache_replication_group_encrypted_at_rest.metadata.json
  prowler/providers/aws/services/elasticache/elasticache_replication_group_encrypted_at_rest/elasticache_replication_group_encrypted_at_rest.py
  prowler/providers/aws/services/elasticache/elasticache_replication_group_encrypted_in_transit/__init__.py
  prowler/providers/aws/services/elasticache/elasticache_replication_group_encrypted_in_transit/elasticache_replication_group_encrypted_in_transit.metadata.json
  prowler/providers/aws/services/elasticache/elasticache_replication_group_encrypted_in_transit/elasticache_replication_group_encrypted_in_transit.py
  prowler/providers/aws/services/elasticache/elasticache_service.py
  tests/providers/aws/services/elasticache/elasticache_cluster_backup_enabled/elasticache_cluster_backup_enabled_test.py
  tests/providers/aws/services/elasticache/elasticache_cluster_multi_az_enabled/elasticache_cluster_multi_az_enabled_test.py
  tests/providers/aws/services/elasticache/elasticache_replication_group_encrypted_at_rest/elasticache_replication_group_encrypted_at_rest_test.py
  tests/providers/aws/services/elasticache/elasticache_replication_group_encrypted_in_transit/elasticache_replication_group_encrypted_in_transit_test.py
  tests/providers/aws/services/elasticache/elasticache_service_test.py
Labels: provider/aws

#4328 fix(s3): handle empty Action in bucket policy
  prowler/providers/aws/services/s3/s3_bucket_secure_transport_policy/s3_bucket_secure_transport_policy.py
  tests/providers/aws/services/s3/s3_bucket_secure_transport_policy/s3_bucket_secure_transport_policy_test.py
Labels: provider/aws, backport-v3

#4330 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4323 fix(aws): parallelize functions per resource
  prowler/providers/aws/services/cloudwatch/cloudwatch_service.py
  prowler/providers/aws/services/codebuild/codebuild_service.py
Labels: provider/aws, backport-v3
