Repository prowler-cloud/prowler, pull requests merged in 2024-09, with the labels that each got.

#4909 fix(metadata): change description from documentdb_cluster_deletion_protection
  prowler/providers/aws/services/documentdb/documentdb_cluster_deletion_protection/documentdb_cluster_deletion_protection.metadata.json
Labels: provider/aws, backport-to-v4.3

#4921 fix(aws): raise ArgumentTypeError for parser
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/exceptions/exceptions.py
  prowler/providers/aws/lib/arguments/arguments.py
  tests/lib/cli/parser_test.py
  tests/providers/aws/aws_provider_test.py
Labels: provider/aws

#4908 feat(gcp): add custom exceptions clas
  prowler/providers/gcp/exceptions/__init__.py
  prowler/providers/gcp/exceptions/exceptions.py
  prowler/providers/gcp/gcp_provider.py
Labels: provider/gcp

#4915 feat(secrets): improve detect secrets checks and add config
  docs/tutorials/configuration_file.md
  prowler/config/config.yaml
  prowler/lib/utils/utils.py
  prowler/providers/aws/services/autoscaling/autoscaling_find_secrets_ec2_launch_configuration/autoscaling_find_secrets_ec2_launch_configuration.py
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code.py
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_variables/awslambda_function_no_secrets_in_variables.py
  prowler/providers/aws/services/cloudformation/cloudformation_stack_outputs_find_secrets/cloudformation_stack_outputs_find_secrets.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_no_secrets_in_logs/cloudwatch_log_group_no_secrets_in_logs.py
  prowler/providers/aws/services/codebuild/codebuild_project_no_secrets_in_variables/codebuild_project_no_secrets_in_variables.py
  prowler/providers/aws/services/ec2/ec2_instance_secrets_user_data/ec2_instance_secrets_user_data.py
  prowler/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_no_environment_secrets/ecs_task_definitions_no_environment_secrets.py
  prowler/providers/aws/services/ssm/ssm_document_secrets/ssm_document_secrets.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/lib/utils/utils_test.py
  tests/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code_test.py
  tests/providers/aws/services/awslambda/awslambda_function_no_secrets_in_variables/awslambda_function_no_secrets_in_variables_test.py
  tests/providers/aws/services/cloudformation/cloudformation_stack_outputs_find_secrets/cloudformation_stack_outputs_find_secrets_test.py
  tests/providers/aws/services/ec2/ec2_instance_secrets_user_data/ec2_instance_secrets_user_data_test.py
Labels: documentation, provider/aws

#4912 feat(kubernetes): add custom exception class
  prowler/providers/kubernetes/exceptions/exceptions.py
  prowler/providers/kubernetes/kubernetes_provider.py
Labels: provider/kubernetes

#4934 refactor(check_metadata): move bulk_load_checks_metadata inside class
  prowler/__main__.py
  prowler/lib/check/check.py
  prowler/lib/check/checks_loader.py
  prowler/lib/check/compliance_models.py
  prowler/lib/check/models.py
  prowler/lib/check/utils.py
  prowler/providers/aws/aws_provider.py
  tests/lib/check/check_test.py
  tests/lib/check/compliance_check_test.py
  tests/lib/check/models_test.py
  tests/providers/aws/aws_provider_test.py
Labels: provider/aws

#4946 fix(aws): change check metadata ec2_securitygroup_allow_wide_open_public_ipv4
  docs/tutorials/scan-unused-services.md
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_wide_open_public_ipv4/ec2_securitygroup_allow_wide_open_public_ipv4.metadata.json
Labels: documentation, provider/aws, backport-to-v3, backport-to-v4.3

#4951 fix(security-groups): remove RFC1918 from ec2_securitygroup_allow_wide_open_public_ipv4
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_wide_open_public_ipv4/ec2_securitygroup_allow_wide_open_public_ipv4.metadata.json
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_wide_open_public_ipv4/ec2_securitygroup_allow_wide_open_public_ipv4.py
Labels: provider/aws, backport-to-v3, backport-to-v4.3

#4871 feat(azure): add custom exception class
  prowler/exceptions/exceptions.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/azure/exceptions/__init__.py
  prowler/providers/azure/exceptions/exceptions.py
  prowler/providers/azure/lib/arguments/arguments.py
  tests/lib/cli/parser_test.py
  tests/providers/azure/azure_provider_test.py
Labels: provider/azure

#4848 feat(EC2): Change service to adjust the data saved in template_data in LaunchTemplateVersion
  prowler/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets.py
  prowler/providers/aws/services/ec2/ec2_service.py
  prowler/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover.py
  tests/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_any_port/ec2_securitygroup_allow_ingress_from_internet_to_any_port_test.py
  tests/providers/aws/services/ec2/ec2_service_test.py
Labels: provider/aws

#4960 refactor(provider): move audit and fixer config inside the provider
  prowler/providers/aws/aws_provider.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/common/provider.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/kubernetes/kubernetes_provider.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/azure/azure_provider_test.py
  tests/providers/gcp/gcp_provider_test.py
  tests/providers/kubernetes/kubernetes_provider_test.py
Labels: provider/aws, provider/azure, provider/gcp, provider/kubernetes

#4970 fix(aws): make intersection to retrieve checks to execute
  prowler/__main__.py
Labels: backport-to-v4.3

#4969 fix(rds): Modify RDS Event Notification Subscriptions for Security Groups Events check
  prowler/providers/aws/services/rds/rds_instance_event_subscription_security_groups/rds_instance_event_subscription_security_groups.py
  tests/providers/aws/services/rds/rds_instance_event_subscription_security_groups/rds_instance_event_subscription_security_groups_test.py
Labels: provider/aws, backport-to-v4.3

#4887 feat(aws): Add new check to ensure RDS event notification subscriptions are configured for critical cluster events
  prowler/providers/aws/services/rds/rds_cluster_critical_event_subscription/__init__.py
  prowler/providers/aws/services/rds/rds_cluster_critical_event_subscription/rds_cluster_critical_event_subscription.metadata.json
  prowler/providers/aws/services/rds/rds_cluster_critical_event_subscription/rds_cluster_critical_event_subscription.py
  tests/providers/aws/services/rds/rds_cluster_critical_event_subscription/rds_cluster_critical_event_subscription_test.py
Labels: provider/aws

#4891 feat(aws): Add new check to ensure RDS event notification subscriptions are configured for critical database instance events
  prowler/providers/aws/services/rds/rds_instance_critical_event_subscription/__init__.py
  prowler/providers/aws/services/rds/rds_instance_critical_event_subscription/rds_instance_critical_event_subscription.metadata.json
  prowler/providers/aws/services/rds/rds_instance_critical_event_subscription/rds_instance_critical_event_subscription.py
  tests/providers/aws/services/rds/rds_instance_critical_event_subscription/rds_instance_critical_event_subscription_test.py
Labels: provider/aws

#4879 feat(aws): Add new RDS check to ensure db instances are protected by a backup plan
  prowler/providers/aws/services/backup/backup_service.py
  prowler/providers/aws/services/rds/rds_instance_protected_by_backup_plan/__init__.py
  prowler/providers/aws/services/rds/rds_instance_protected_by_backup_plan/rds_instance_protected_by_backup_plan.metadata.json
  prowler/providers/aws/services/rds/rds_instance_protected_by_backup_plan/rds_instance_protected_by_backup_plan.py
  tests/providers/aws/services/backup/backup_plans_exist/backup_plans_exist_test.py
  tests/providers/aws/services/backup/backup_reportplans_exist/backup_reportplans_exist_test.py
  tests/providers/aws/services/backup/backup_service_test.py
  tests/providers/aws/services/backup/backup_vaults_encrypted/backup_vaults_encrypted_test.py
  tests/providers/aws/services/backup/backup_vaults_exist/backup_vaults_exist_test.py
  tests/providers/aws/services/rds/rds_instance_protected_by_backup_plan/rds_instance_protected_by_backup_plan_test.py
Labels: provider/aws

#4980 fix(rds): handle new rds arn template function syntax
  prowler/providers/aws/services/rds/rds_cluster_critical_event_subscription/rds_cluster_critical_event_subscription.py
  prowler/providers/aws/services/rds/rds_instance_critical_event_subscription/rds_instance_critical_event_subscription.py
  prowler/providers/aws/services/rds/rds_instance_event_subscription_parameter_groups/rds_instance_event_subscription_parameter_groups.py
Labels: provider/aws

#4931 feat(aws): Add new check to ensure RDS DB clusters are encrypted at rest
  prowler/providers/aws/services/rds/rds_cluster_storage_encrypted/__init__.py
  prowler/providers/aws/services/rds/rds_cluster_storage_encrypted/rds_cluster_storage_encrypted.metadata.json
  prowler/providers/aws/services/rds/rds_cluster_storage_encrypted/rds_cluster_storage_encrypted.py
  tests/providers/aws/services/rds/rds_cluster_storage_encrypted/rds_cluster_storage_encrypted_test.py
Labels: provider/aws

#4979 fix(main): logic for resource_tag and resource_arn usage
  prowler/__main__.py
Labels: backport-to-v4.3

#4976 chore(dependencies): update boto3 and botocore packages
  poetry.lock
  pyproject.toml
  tests/providers/aws/services/eventbridge/eventbridge_service_test.py
Labels: provider/aws, backport-to-v3, backport-to-v4.3

#4983 fix(audit): solve resources audit
  prowler/__main__.py
Labels: backport-to-v4.3

#4981 refactor(cloudfront): replace origins dictionary with custom Origin class
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_using_deprecated_ssl_protocols/cloudfront_distributions_using_deprecated_ssl_protocols.py
  prowler/providers/aws/services/cloudfront/cloudfront_service.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_using_deprecated_ssl_protocols/cloudfront_distributions_using_deprecated_ssl_protocols_test.py
  tests/providers/aws/services/cloudfront/cloudfront_service_test.py
Labels: provider/aws

#4985 refactor(azure): remove validate_arguments for CLI
  prowler/providers/azure/lib/arguments/arguments.py
  tests/lib/cli/parser_test.py
Labels: provider/azure

#4872 feat(vpc): Ensure Amazon EC2 Is Configured to Use VPC Endpoints Created for the Amazon EC2 Service
  prowler/providers/aws/services/vpc/vpc_endpoint_for_ec2_enabled/__init__.py
  prowler/providers/aws/services/vpc/vpc_endpoint_for_ec2_enabled/vpc_endpoint_for_ec2_enabled.metadata.json
  prowler/providers/aws/services/vpc/vpc_endpoint_for_ec2_enabled/vpc_endpoint_for_ec2_enabled.py
  prowler/providers/aws/services/vpc/vpc_service.py
  tests/providers/aws/services/vpc/vpc_endpoint_for_ec2_enabled/vpc_endpoint_for_ec2_enabled_test.py
  tests/providers/aws/services/vpc/vpc_service_test.py
Labels: provider/aws

#4917 feat(ec2): Ensure not default Network Access Control Lists are used
  prowler/providers/aws/services/ec2/ec2_networkacl_allow_ingress_any_port/ec2_networkacl_allow_ingress_any_port.py
  prowler/providers/aws/services/ec2/ec2_networkacl_allow_ingress_tcp_port_22/ec2_networkacl_allow_ingress_tcp_port_22.py
  prowler/providers/aws/services/ec2/ec2_networkacl_allow_ingress_tcp_port_3389/ec2_networkacl_allow_ingress_tcp_port_3389.py
  prowler/providers/aws/services/ec2/ec2_networkacl_unused/__init__.py
  prowler/providers/aws/services/ec2/ec2_networkacl_unused/ec2_networkacl_unused.metadata.json
  prowler/providers/aws/services/ec2/ec2_networkacl_unused/ec2_networkacl_unused.py
  prowler/providers/aws/services/ec2/ec2_service.py
  tests/providers/aws/services/ec2/ec2_networkacl_unused/ec2_networkacl_unused_test.py
  tests/providers/aws/services/ec2/ec2_service_test.py
Labels: provider/aws

#4998 fix(iam-gcp): add getters in iam_service for gcp
  prowler/providers/gcp/services/iam/iam_service.py
Labels: provider/gcp, backport-to-v4.3, was-backported

#4999 fix(awslamba): add audit config to lambda_client in tests
  tests/providers/aws/services/awslambda/awslambda_function_no_secrets_in_variables/awslambda_function_no_secrets_in_variables_test.py
Labels: provider/aws

#4922 feat(ec2): Amazon EC2 Paravirtual Instance Types Should Not Be Used
  prowler/providers/aws/services/ec2/ec2_instance_paravirtual_type/__init__.py
  prowler/providers/aws/services/ec2/ec2_instance_paravirtual_type/ec2_instance_paravirtual_type.metadata.json
  prowler/providers/aws/services/ec2/ec2_instance_paravirtual_type/ec2_instance_paravirtual_type.py
  prowler/providers/aws/services/ec2/ec2_service.py
  tests/providers/aws/services/ec2/ec2_instance_paravirtual_type/ec2_instance_paravirtual_type_test.py
  tests/providers/aws/services/ec2/ec2_service_test.py
Labels: provider/aws

#4948 feat(ec2): Ensure both VPN tunnels for an AWS Site-to-Site VPN connection are UP
  prowler/providers/aws/services/vpc/vpc_service.py
  prowler/providers/aws/services/vpc/vpc_vpn_connection_tunnels_up/__init__.py
  prowler/providers/aws/services/vpc/vpc_vpn_connection_tunnels_up/vpc_vpn_connection_tunnels_up.metadata.json
  prowler/providers/aws/services/vpc/vpc_vpn_connection_tunnels_up/vpc_vpn_connection_tunnels_up.py
  tests/providers/aws/services/vpc/vpc_service_test.py
  tests/providers/aws/services/vpc/vpc_vpn_connection_tunnels_up/vpc_vpn_connection_tunnels_up_test.py
Labels: provider/aws

#4888 feat(cloudfront): Ensure distributions use SNI to serve HTTPS requests
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_https_sni_enabled/__init__.py
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_https_sni_enabled/cloudfront_distributions_https_sni_enabled.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_https_sni_enabled/cloudfront_distributions_https_sni_enabled.py
  prowler/providers/aws/services/cloudfront/cloudfront_service.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_https_sni_enabled/cloudfront_distributions_https_sni_enabled_test.py
  tests/providers/aws/services/cloudfront/cloudfront_service_test.py
Labels: provider/aws

#4938 feat(cloudfront): Add new check `cloudfront_distributions_default_root_object`
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_default_root_object/__init__.py
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_default_root_object/cloudfront_distributions_default_root_object.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_default_root_object/cloudfront_distributions_default_root_object.py
  prowler/providers/aws/services/cloudfront/cloudfront_service.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_default_root_object/cloudfront_distributions_default_root_object_test.py
Labels: provider/aws

#4935 feat(ec2): Amazon EC2 Instances Should Not Use Multiple ENIs
  prowler/providers/aws/services/ec2/ec2_instance_uses_single_eni/__init__.py
  prowler/providers/aws/services/ec2/ec2_instance_uses_single_eni/ec2_instance_uses_single_eni.metadata.json
  prowler/providers/aws/services/ec2/ec2_instance_uses_single_eni/ec2_instance_uses_single_eni.py
  prowler/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets.py
  prowler/providers/aws/services/ec2/ec2_service.py
  tests/providers/aws/services/ec2/ec2_instance_uses_single_eni/ec2_instance_uses_single_eni_test.py
  tests/providers/aws/services/ec2/ec2_service_test.py
Labels: provider/aws

#4959 feat(cloudfront): add new check `cloudfront_distributions_custom_ssl_certificate`
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_custom_ssl_certificate/__init__.py
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_custom_ssl_certificate/cloudfront_distributions_custom_ssl_certificate.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_custom_ssl_certificate/cloudfront_distributions_custom_ssl_certificate.py
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_https_sni_enabled/cloudfront_distributions_https_sni_enabled.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_service.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_custom_ssl_certificate/cloudfront_distributions_custom_ssl_certificate_test.py
Labels: provider/aws

#4877 chore(aws): add mixed regions test for `s3_access_point_public_access_block`
  tests/providers/aws/services/s3/s3_access_point_public_access_block/s3_access_point_public_access_block_test.py
Labels: provider/aws

#5031 docs(dev-guide): refer poetry docs for installation
  docs/developer-guide/introduction.md
Labels: documentation

#5030 docs(check): change where extract ResourceTypes
  docs/developer-guide/checks.md
Labels: documentation

#4939 feat(cloudfront): Add new `cloudfront_distributions_s3_origin_access_control` check to ensure OAC is configured in distributions
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_s3_origin_access_control/__init__.py
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_s3_origin_access_control/cloudfront_distributions_s3_origin_access_control.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_s3_origin_access_control/cloudfront_distributions_s3_origin_access_control.py
  prowler/providers/aws/services/cloudfront/cloudfront_service.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_s3_origin_access_control/cloudfront_distributions_s3_origin_access_control_test.py
  tests/providers/aws/services/cloudfront/cloudfront_service_test.py
Labels: provider/aws

#4958 feat(cloudfront): add `cloudfront_distributions_origin_traffic_encrypted` check to ensure traffic encryption to custom origins
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_origin_traffic_encrypted/__init__.py
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_origin_traffic_encrypted/cloudfront_distributions_origin_traffic_encrypted.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_origin_traffic_encrypted/cloudfront_distributions_origin_traffic_encrypted.py
  prowler/providers/aws/services/cloudfront/cloudfront_service.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_origin_traffic_encrypted/cloudfront_distributions_origin_traffic_encrypted_test.py
Labels: provider/aws

#5028 feat(ec2): EBS Volumes Should Be Covered by a Backup Plan
  prowler/providers/aws/services/ec2/ec2_ebs_volume_protected_by_backup_plan/__init__.py
  prowler/providers/aws/services/ec2/ec2_ebs_volume_protected_by_backup_plan/ec2_ebs_volume_protected_by_backup_plan.metadata.json
  prowler/providers/aws/services/ec2/ec2_ebs_volume_protected_by_backup_plan/ec2_ebs_volume_protected_by_backup_plan.py
  tests/providers/aws/services/ec2/ec2_ebs_volume_protected_by_backup_plan/ec2_ebs_volume_protected_by_backup_plan_test.py
Labels: provider/aws

#4852 feat(ec2): Ensure EC2 launch templates do not assign public IPs
  prowler/providers/aws/services/ec2/ec2_launch_template_no_public_ip/__init__.py
  prowler/providers/aws/services/ec2/ec2_launch_template_no_public_ip/ec2_launch_template_no_public_ip.metadata.json
  prowler/providers/aws/services/ec2/ec2_launch_template_no_public_ip/ec2_launch_template_no_public_ip.py
  prowler/providers/aws/services/ec2/ec2_service.py
  tests/providers/aws/services/ec2/ec2_launch_template_no_public_ip/ec2_launch_template_no_public_ip_test.py
Labels: provider/aws

#5047 fix(cloudfront): duplicated link in `cloudfront_distributions_https_sni_enabled` check
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_https_sni_enabled/cloudfront_distributions_https_sni_enabled.metadata.json
Labels: provider/aws

#5048 feat(neptune): add new check `neptune_cluster_integration_cloudwatch_logs`
  prowler/providers/aws/services/neptune/neptune_cluster_integration_cloudwatch_logs/__init__.py
  prowler/providers/aws/services/neptune/neptune_cluster_integration_cloudwatch_logs/neptune_cluster_integration_cloudwatch_logs.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_integration_cloudwatch_logs/neptune_cluster_integration_cloudwatch_logs.py
  prowler/providers/aws/services/neptune/neptune_service.py
  tests/providers/aws/services/neptune/neptune_cluster_integration_cloudwatch_logs/neptune_cluster_integration_cloudwatch_logs_test.py
  tests/providers/aws/services/neptune/neptune_service_test.py
Labels: provider/aws

#5058 feat(neptune): add new check `neptune_cluster_snapshot_encrypted`
  prowler/providers/aws/services/neptune/neptune_cluster_snapshot_encrypted/__init__.py
  prowler/providers/aws/services/neptune/neptune_cluster_snapshot_encrypted/neptune_cluster_snapshot_encrypted.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_snapshot_encrypted/neptune_cluster_snapshot_encrypted.py
  tests/providers/aws/services/neptune/neptune_cluster_snapshot_encrypted/neptune_cluster_snapshot_encrypted_test.py
Labels: provider/aws

#5061 fix(inspector2): Ensure Inspector2 is enabled for ECR, EC2, Lambda and Lambda Code
  prowler/providers/aws/services/inspector2/inspector2_is_enabled/inspector2_is_enabled.metadata.json
  prowler/providers/aws/services/inspector2/inspector2_is_enabled/inspector2_is_enabled.py
  prowler/providers/aws/services/inspector2/inspector2_service.py
  tests/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist_test.py
  tests/providers/aws/services/inspector2/inspector2_is_enabled/inspector2_is_enabled_test.py
  tests/providers/aws/services/inspector2/inspector2_service_test.py
Labels: provider/aws, backport-to-v3

#5062 feat(neptune): add new check `neptune_cluster_copy_tags_to_snapshots`
  prowler/providers/aws/services/neptune/neptune_cluster_copy_tags_to_snapshots/__init__.py
  prowler/providers/aws/services/neptune/neptune_cluster_copy_tags_to_snapshots/neptune_cluster_copy_tags_to_snapshots.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_copy_tags_to_snapshots/neptune_cluster_copy_tags_to_snapshots.py
  prowler/providers/aws/services/neptune/neptune_service.py
  tests/providers/aws/services/neptune/neptune_cluster_copy_tags_to_snapshots/neptune_cluster_copy_tags_to_snapshots_test.py
  tests/providers/aws/services/neptune/neptune_service_test.py
Labels: provider/aws

#5014 feat(elb): add new check `elb_connection_draining_enabled`
  prowler/providers/aws/services/elb/elb_connection_draining_enabled/__init__.py
  prowler/providers/aws/services/elb/elb_connection_draining_enabled/elb_connection_draining_enabled.metadata.json
  prowler/providers/aws/services/elb/elb_connection_draining_enabled/elb_connection_draining_enabled.py
  prowler/providers/aws/services/elb/elb_service.py
  tests/providers/aws/services/elb/elb_connection_draining_enabled/elb_connection_draining_enabled_test.py
  tests/providers/aws/services/elb/elb_service_test.py
Labels: provider/aws

#4968 feat(dms): new check `dms_endpoint_ssl_enabled`
  prowler/providers/aws/services/dms/dms_endpoint_ssl_enabled/__init__.py
  prowler/providers/aws/services/dms/dms_endpoint_ssl_enabled/dms_endpoint_ssl_enabled.metadata.json
  prowler/providers/aws/services/dms/dms_endpoint_ssl_enabled/dms_endpoint_ssl_enabled.py
  prowler/providers/aws/services/dms/dms_service.py
  tests/providers/aws/services/dms/dms_endpoint_ssl_enabled_test/dms_endpoint_ssl_enabled_test.py
Labels: provider/aws

#5088 feat(ecs): add new check `ecs_task_definitions_host_networking_mode_users`
  prowler/providers/aws/services/ecs/ecs_service.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_host_networking_mode_users/__init__.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_host_networking_mode_users/ecs_task_definitions_host_networking_mode_users.metadata.json
  prowler/providers/aws/services/ecs/ecs_task_definitions_host_networking_mode_users/ecs_task_definitions_host_networking_mode_users.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_no_environment_secrets/ecs_task_definitions_no_environment_secrets.py
  tests/providers/aws/services/ecs/ecs_service_test.py
  tests/providers/aws/services/ecs/ecs_task_definitions_no_environment_secrets/ecs_task_definitions_no_environment_secrets_test.py
  tests/providers/aws/services/ecs/ecs_task_definitions_user_and_container_for_host_mode/ecs_task_definitions_user_and_container_for_host_mode_test.py
Labels: provider/aws

#5084 fix(elasticache): get correct automatic failover attribute
  prowler/providers/aws/services/elasticache/elasticache_service.py
Labels: provider/aws

#5063 chore(docs): change ResourceType link of Security Hub
  docs/developer-guide/checks.md
Labels: documentation, backport-to-v3

#4816 feat(awslambda): add new check `awslambda_function_vpc_multi_az`
  docs/tutorials/configuration_file.md
  prowler/config/config.yaml
  prowler/providers/aws/services/awslambda/awslambda_function_inside_vpc/awslambda_function_inside_vpc.py
  prowler/providers/aws/services/awslambda/awslambda_function_vpc_multi_az/__init__.py
  prowler/providers/aws/services/awslambda/awslambda_function_vpc_multi_az/awslambda_function_vpc_multi_az.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_vpc_multi_az/awslambda_function_vpc_multi_az.py
  prowler/providers/aws/services/awslambda/awslambda_service.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/providers/aws/services/awslambda/awslambda_function_vpc_multi_az/awslambda_function_vpc_multi_az_test.py
  tests/providers/aws/services/awslambda/awslambda_service_test.py
Labels: documentation, provider/aws

#5087 feat(guardduty): add new check `guardduty_s3_protection_enabled`
  prowler/providers/aws/services/guardduty/guardduty_s3_protection_enabled/__init__.py
  prowler/providers/aws/services/guardduty/guardduty_s3_protection_enabled/guardduty_s3_protection_enabled.metadata.json
  prowler/providers/aws/services/guardduty/guardduty_s3_protection_enabled/guardduty_s3_protection_enabled.py
  prowler/providers/aws/services/guardduty/guardduty_service.py
  tests/providers/aws/services/guardduty/guardduty_s3_protection_enabled/guardduty_s3_protection_enabled_test.py
Labels: provider/aws

#4973 feat(aws): Add new check to ensure RDS instances are not using default database engine ports
  prowler/providers/aws/services/rds/rds_instance_non_default_port/__init__.py
  prowler/providers/aws/services/rds/rds_instance_non_default_port/rds_instance_non_default_port.metadata.json
  prowler/providers/aws/services/rds/rds_instance_non_default_port/rds_instance_non_default_port.py
  prowler/providers/aws/services/rds/rds_service.py
  tests/providers/aws/services/rds/rds_instance_non_default_port/rds_instance_non_default_port_test.py
  tests/providers/aws/services/rds/rds_service_test.py
Labels: provider/aws

#5026 fix(accessanalyzer): refactor accessanalyzer enabled fixer test
  tests/providers/aws/services/accessanalyzer/accessanalyzer_enabled/accessanalyzer_enabled_fixer_test.py
Labels: no-merge, provider/aws

#5100 feat(guardduty): add new check `guardduty_rds_protection_enabled`
  prowler/providers/aws/services/guardduty/guardduty_rds_protection_enabled/__init__.py
  prowler/providers/aws/services/guardduty/guardduty_rds_protection_enabled/guardduty_rds_protection_enabled.metadata.json
  prowler/providers/aws/services/guardduty/guardduty_rds_protection_enabled/guardduty_rds_protection_enabled.py
  prowler/providers/aws/services/guardduty/guardduty_service.py
  tests/providers/aws/services/guardduty/guardduty_rds_protection_enabled/guardduty_rds_protection_enabled_test.py
  tests/providers/aws/services/guardduty/guardduty_service_test.py
Labels: provider/aws

#5042 feat(slack): add more information about critical findings
  prowler/lib/outputs/outputs.py
  prowler/lib/outputs/slack/slack.py
  tests/lib/outputs/outputs_test.py
  tests/lib/outputs/slack/slack_test.py
Labels: integration/slack

#5045 feat(sagemaker): Ensure SageMaker Endpoint Production Variants have Initial Instance Count greater than one
  prowler/providers/aws/services/sagemaker/sagemaker_endpoint_config_prod_variant_instances/__init__.py
  prowler/providers/aws/services/sagemaker/sagemaker_endpoint_config_prod_variant_instances/sagemaker_endpoint_config_prod_variant_instances.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_endpoint_config_prod_variant_instances/sagemaker_endpoint_config_prod_variant_instances.py
  prowler/providers/aws/services/sagemaker/sagemaker_service.py
  tests/providers/aws/services/sagemaker/sagemaker_endpoint_config_prod_variant_instances/sagemaker_endpoint_config_prod_variant_instances_test.py
  tests/providers/aws/services/sagemaker/sagemaker_models_network_isolation_enabled/sagemaker_models_network_isolation_enabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_models_vpc_settings_configured/sagemaker_models_vpc_settings_configured_test.py
  tests/providers/aws/services/sagemaker/sagemaker_notebook_instance_encryption_enabled/sagemaker_notebook_instance_encryption_enabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_notebook_instance_root_access_disabled/sagemaker_notebook_instance_root_access_disabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_notebook_instance_vpc_settings_configured/sagemaker_notebook_instance_vpc_settings_configured_test.py
  tests/providers/aws/services/sagemaker/sagemaker_notebook_instance_without_direct_internet_access_configured/sagemaker_notebook_instance_without_direct_internet_access_configured_test.py
  tests/providers/aws/services/sagemaker/sagemaker_service_test.py
  tests/providers/aws/services/sagemaker/sagemaker_training_jobs_intercontainer_encryption_enabled/sagemaker_training_jobs_intercontainer_encryption_enabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_training_jobs_network_isolation_enabled/sagemaker_training_jobs_network_isolation_enabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_training_jobs_volume_and_output_encryption_enabled/sagemaker_training_jobs_volume_and_output_encryption_enabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_training_jobs_vpc_settings_configured/sagemaker_training_jobs_vpc_settings_configured_test.py
Labels: provider/aws

#5097 fix(asff): include status extended in ASFF output
  prowler/lib/outputs/asff/asff.py
  tests/lib/outputs/asff/asff_test.py
Labels: output/asff, integration/security-hub, backport-to-v4.3

#5005 chore(ssm): add trusted accounts variable to ssm check
  docs/tutorials/configuration_file.md
  prowler/config/config.yaml
  prowler/providers/aws/services/ssm/ssm_documents_set_as_public/ssm_documents_set_as_public.py
  tests/config/fixtures/config.yaml
  tests/config/fixtures/config_old.yaml
  tests/providers/aws/services/ssm/ssm_documents_set_as_public/ssm_documents_set_as_public_test.py
Labels: documentation, provider/aws, backport-to-v3, backport-to-v4.3

#5098 chore(deps): update docs dependencies
  poetry.lock
  pyproject.toml
Labels: dependencies, pip

#5081 fix(vpc): check all routes tables in subnet
  prowler/providers/aws/services/vpc/vpc_service.py
  tests/providers/aws/services/vpc/vpc_service_test.py
Labels: provider/aws, backport-to-v3, backport-to-v4.3

#5016 fix(gcp): solve errors in GCP services
  prowler/providers/gcp/services/apikeys/apikeys_api_restrictions_configured/apikeys_api_restrictions_configured.py
  prowler/providers/gcp/services/compute/compute_service.py
  prowler/providers/gcp/services/dns/dns_service.py
  prowler/providers/gcp/services/kms/kms_key_rotation_enabled/kms_key_rotation_enabled.py
  tests/providers/gcp/services/apikeys/apikeys_api_restrictions_configured/apikeys_api_restrictions_configured_test.py
  tests/providers/gcp/services/kms/kms_key_rotation_enabled/kms_key_rotation_enabled_test.py
Labels: provider/gcp, backport-to-v3, backport-to-v4.3

#5044 fix(lightsail): Remove second call to `is_resource_filtered`
  prowler/providers/aws/services/lightsail/lightsail_service.py
Labels: provider/aws, backport-to-v4.3

#4830 feat(elasticache): add check `elasticache_redis_cluster_auth_enabled `
  prowler/providers/aws/services/elasticache/elasticache_redis_cluster_multi_az_enabled/elasticache_redis_cluster_multi_az_enabled.metadata.json
  prowler/providers/aws/services/elasticache/elasticache_redis_replication_group_auth_enabled/__init__.py
  prowler/providers/aws/services/elasticache/elasticache_redis_replication_group_auth_enabled/elasticache_redis_replication_group_auth_enabled.metadata.json
  prowler/providers/aws/services/elasticache/elasticache_redis_replication_group_auth_enabled/elasticache_redis_replication_group_auth_enabled.py
  prowler/providers/aws/services/elasticache/elasticache_service.py
  tests/providers/aws/services/elasticache/elasticache_redis_cluster_auto_minor_version_upgrades/elasticache_redis_cluster_auto_minor_version_upgrades_test.py
  tests/providers/aws/services/elasticache/elasticache_redis_cluster_automatic_failover_enabled/elasticache_redis_cluster_automatic_failover_enabled_test.py
  tests/providers/aws/services/elasticache/elasticache_redis_cluster_backup_enabled/elasticache_redis_cluster_backup_enabled_test.py
  tests/providers/aws/services/elasticache/elasticache_redis_cluster_in_transit_encryption_enabled/elasticache_redis_cluster_in_transit_encryption_enabled_test.py
  tests/providers/aws/services/elasticache/elasticache_redis_cluster_multi_az_enabled/elasticache_redis_cluster_multi_az_enabled_test.py
  tests/providers/aws/services/elasticache/elasticache_redis_cluster_rest_encryption_enabled/elasticache_redis_cluster_rest_encryption_enabled_test.py
  tests/providers/aws/services/elasticache/elasticache_redis_replication_group_auth_enabled/elasticache_redis_replication_group_auth_enabled_test.py
  tests/providers/aws/services/elasticache/elasticache_service_test.py
Labels: provider/aws

#5126 fix(v3): remove not supported checks
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_custom_ssl_certificate/cloudfront_distributions_custom_ssl_certificate.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_default_root_object/cloudfront_distributions_default_root_object.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_https_sni_enabled/cloudfront_distributions_https_sni_enabled.metadata.json
  prowler/providers/aws/services/cognito/cognito_identity_pool_guest_access_disabled/cognito_identity_pool_guest_access_disabled.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_cluster_cloudwatch_log_export/documentdb_cluster_cloudwatch_log_export.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_cluster_deletion_protection/documentdb_cluster_deletion_protection.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_cluster_public_snapshot/documentdb_cluster_public_snapshot.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_cluster_storage_encrypted/documentdb_cluster_storage_encrypted.metadata.json
  prowler/providers/aws/services/dynamodb/dynamodb_table_cross_account_access/dynamodb_table_cross_account_access.metadata.json
  prowler/providers/aws/services/ec2/ec2_ebs_snapshot_account_block_public_access/ec2_ebs_snapshot_account_block_public_access.metadata.json
  prowler/providers/aws/services/ec2/ec2_instance_port_memcached_exposed_to_internet/ec2_instance_port_memcached_exposed_to_internet.metadata.json
  prowler/providers/aws/services/elasticache/elasticache_redis_cluster_auto_minor_version_upgrades/elasticache_redis_cluster_auto_minor_version_upgrades.metadata.json
  prowler/providers/aws/services/elasticache/elasticache_redis_cluster_automatic_failover_enabled/elasticache_redis_cluster_automatic_failover_enabled.metadata.json
  prowler/providers/aws/services/elasticache/elasticache_redis_cluster_backup_enabled/elasticache_redis_cluster_backup_enabled.metadata.json
  prowler/providers/aws/services/elasticache/elasticache_redis_cluster_in_transit_encryption_enabled/elasticache_redis_cluster_in_transit_encryption_enabled.metadata.json
  prowler/providers/aws/services/elasticache/elasticache_redis_cluster_multi_az_enabled/elasticache_redis_cluster_multi_az_enabled.metadata.json
  prowler/providers/aws/services/elasticache/elasticache_redis_cluster_rest_encryption_enabled/elasticache_redis_cluster_rest_encryption_enabled.metadata.json
  prowler/providers/aws/services/elb/elb_cross_zone_load_balancing_enabled/elb_cross_zone_load_balancing_enabled.metadata.json
  prowler/providers/aws/services/elbv2/elbv2_is_in_multiple_az/elbv2_is_in_multiple_az.metadata.json
  prowler/providers/aws/services/iam/iam_inline_policy_allows_privilege_escalation/iam_inline_policy_allows_privilege_escalation.metadata.json
  prowler/providers/aws/services/kafka/kafka_cluster_encryption_at_rest_uses_cmk/kafka_cluster_encryption_at_rest_uses_cmk.metadata.json
  prowler/providers/aws/services/kafka/kafka_cluster_enhanced_monitoring_enabled/kafka_cluster_enhanced_monitoring_enabled.metadata.json
  prowler/providers/aws/services/kafka/kafka_cluster_in_transit_encryption_enabled/kafka_cluster_in_transit_encryption_enabled.metadata.json
  prowler/providers/aws/services/kafka/kafka_cluster_is_public/kafka_cluster_is_public.metadata.json
  prowler/providers/aws/services/kafka/kafka_cluster_mutual_tls_authentication_enabled/kafka_cluster_mutual_tls_authentication_enabled.metadata.json
  prowler/providers/aws/services/kafka/kafka_cluster_unrestricted_access_disabled/kafka_cluster_unrestricted_access_disabled.metadata.json
  prowler/providers/aws/services/kafka/kafka_cluster_uses_latest_version/kafka_cluster_uses_latest_version.metadata.json
  prowler/providers/aws/services/lightsail/lightsail_database_public/lightsail_database_public.metadata.json
  prowler/providers/aws/services/lightsail/lightsail_instance_automated_snapshots/lightsail_instance_automated_snapshots.metadata.json
  prowler/providers/aws/services/lightsail/lightsail_instance_public/lightsail_instance_public.metadata.json
  prowler/providers/aws/services/lightsail/lightsail_static_ip_unused/lightsail_static_ip_unused.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_public_snapshot/neptune_cluster_public_snapshot.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_storage_encrypted/neptune_cluster_storage_encrypted.metadata.json
  prowler/providers/aws/services/networkfirewall/networkfirewall_deletion_protection/networkfirewall_deletion_protection.metadata.json
  prowler/providers/aws/services/rds/rds_cluster_backtrack_enabled/rds_cluster_backtrack_enabled.metadata.json
  prowler/providers/aws/services/rds/rds_cluster_critical_event_subscription/rds_cluster_critical_event_subscription.metadata.json
  prowler/providers/aws/services/sns/sns_subscription_not_using_http_endpoints/sns_subscription_not_using_http_endpoints.metadata.json
  prowler/providers/aws/services/storagegateway/storagegateway_fileshare_encryption_enabled/storagegateway_fileshare_encryption_enabled.metadata.json
  prowler/providers/aws/services/vpc/vpc_endpoint_for_ec2_enabled/vpc_endpoint_for_ec2_enabled.metadata.json
  prowler/providers/aws/services/vpc/vpc_vpn_connection_tunnels_up/vpc_vpn_connection_tunnels_up.metadata.json
Labels: provider/aws

#5003 fix(gcp): add default project for org level checks
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/gcp/lib/service/service.py
  prowler/providers/gcp/services/iam/iam_organization_essential_contacts_configured/iam_organization_essential_contacts_configured.py
  tests/providers/gcp/gcp_fixtures.py
  tests/providers/gcp/gcp_provider_test.py
  tests/providers/gcp/services/iam/iam_organization_essential_contacts_configured/iam_organization_essential_contacts_configured_test.py
Labels: provider/gcp, backport-to-v4.3

#5130 fix(v3): solve `pypi-release` action
  .github/workflows/pypi-release.yml
Labels: github_actions

#5120 fix(iam): fill resource id with inline policy entity
  prowler/providers/aws/services/iam/iam_inline_policy_allows_privilege_escalation/iam_inline_policy_allows_privilege_escalation.py
  prowler/providers/aws/services/iam/iam_inline_policy_no_administrative_privileges/iam_inline_policy_no_administrative_privileges.py
  prowler/providers/aws/services/iam/iam_inline_policy_no_full_access_to_cloudtrail/iam_inline_policy_no_full_access_to_cloudtrail.py
  prowler/providers/aws/services/iam/iam_inline_policy_no_full_access_to_kms/iam_inline_policy_no_full_access_to_kms.py
  tests/providers/aws/services/iam/iam_inline_policy_allows_privilege_escalation/iam_inline_policy_allows_privilege_escalation_test.py
  tests/providers/aws/services/iam/iam_inline_policy_no_administrative_privileges/iam_inline_policy_no_administrative_privileges_test.py
  tests/providers/aws/services/iam/iam_inline_policy_no_full_access_to_cloudtrail/iam_inline_policy_no_full_access_to_cloudtrail_test.py
  tests/providers/aws/services/iam/iam_inline_policy_no_full_access_to_kms/iam_inline_policy_no_full_access_to_kms_test.py
Labels: provider/aws, backport-to-v4.3

#4996 feat(cloudfront): add new check `cloudfront_distributions_s3_origin_non_existing_bucket`
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_s3_origin_non_existent_bucket/__init__.py
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_s3_origin_non_existent_bucket/cloudfront_distributions_s3_origin_non_existent_bucket.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_s3_origin_non_existent_bucket/cloudfront_distributions_s3_origin_non_existent_bucket.py
  prowler/providers/aws/services/cloudfront/cloudfront_service.py
  prowler/providers/aws/services/s3/s3_service.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_custom_ssl_certificate/cloudfront_distributions_custom_ssl_certificate_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_default_root_object/cloudfront_distributions_default_root_object_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_field_level_encryption_enabled/cloudfront_distributions_field_level_encryption_enabled_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_geo_restrictions_enabled/cloudfront_distributions_geo_restrictions_enabled_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_https_enabled/cloudfront_distributions_https_enabled_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_https_sni_enabled/cloudfront_distributions_https_sni_enabled_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_logging_enabled/cloudfront_distributions_logging_enabled_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_multiple_origin_failover_configured/cloudfront_distributions_multiple_origin_failover_configured_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_origin_traffic_encrypted/cloudfront_distributions_origin_traffic_encrypted_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_s3_origin_access_control/cloudfront_distributions_s3_origin_access_control_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_s3_origin_non_existent_bucket/cloudfront_distributions_s3_origin_non_existent_bucket_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_using_deprecated_ssl_protocols/cloudfront_distributions_using_deprecated_ssl_protocols_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_using_waf/cloudfront_distributions_using_waf_test.py
  tests/providers/aws/services/s3/s3_service_test.py
Labels: provider/aws

#5150 feat(inspector2): Add more tests to inspector2_is_enabled check
  tests/providers/aws/services/inspector2/inspector2_is_enabled/inspector2_is_enabled_test.py
Labels: provider/aws

#5163 chore(bot): Use bot Token
  .github/workflows/build-lint-push-containers.yml
Labels: github_actions, backport-to-v3, backport-to-v4.3

#5151 chore(organizations): improve AWS Organizations service
  prowler/providers/aws/services/organizations/organizations_scp_check_deny_regions/organizations_scp_check_deny_regions.py
  prowler/providers/aws/services/organizations/organizations_service.py
  prowler/providers/aws/services/organizations/organizations_tags_policies_enabled_and_attached/organizations_tags_policies_enabled_and_attached.py
  tests/providers/aws/services/organizations/organizations_service_test.py
  tests/providers/aws/services/organizations/organizations_tags_policies_enabled_and_attached/organizations_tags_policies_enabled_and_attached_test.py
Labels: provider/aws

#5035 chore(aws): handle NotAction cases in IAM policies
  prowler/providers/aws/services/iam/iam_aws_attached_policy_no_administrative_privileges/iam_aws_attached_policy_no_administrative_privileges.py
  prowler/providers/aws/services/iam/iam_customer_attached_policy_no_administrative_privileges/iam_customer_attached_policy_no_administrative_privileges.py
  prowler/providers/aws/services/iam/iam_customer_unattached_policy_no_administrative_privileges/iam_customer_unattached_policy_no_administrative_privileges.py
  prowler/providers/aws/services/iam/iam_inline_policy_no_administrative_privileges/iam_inline_policy_no_administrative_privileges.py
  prowler/providers/aws/services/iam/lib/policy.py
  prowler/providers/aws/services/iam/lib/privilege_escalation.py
  tests/providers/aws/services/iam/iam_inline_policy_allows_privilege_escalation/iam_inline_policy_allows_privilege_escalation_test.py
  tests/providers/aws/services/iam/iam_policy_allows_privilege_escalation/iam_policy_allows_privilege_escalation_test.py
  tests/providers/aws/services/iam/lib/policy_test.py
  tests/providers/aws/services/iam/lib/privilege_escalation_test.py
Labels: provider/aws

#5174 fix(aws): always use audited partition
  prowler/providers/aws/services/awslambda/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled.py
  prowler/providers/aws/services/ec2/ec2_service.py
  prowler/providers/aws/services/elasticache/elasticache_service.py
  prowler/providers/aws/services/eventbridge/eventbridge_service.py
  prowler/providers/aws/services/iam/iam_administrator_access_with_mfa/iam_administrator_access_with_mfa.py
  prowler/providers/aws/services/iam/iam_securityaudit_role_created/iam_securityaudit_role_created.py
  prowler/providers/aws/services/iam/iam_service.py
  prowler/providers/aws/services/iam/iam_support_role_created/iam_support_role_created.py
Labels: provider/aws, backport-to-v3, backport-to-v4.3

#5086 feat(compliance): add KISA ISMS-P compliance framework
  dashboard/common_methods.py
  dashboard/compliance/kisa_isms_p_2023_aws.py
  dashboard/compliance/kisa_isms_p_2023_korean_aws.py
  prowler/__main__.py
  prowler/compliance/aws/kisa_isms_p_2023_aws.json
  prowler/compliance/aws/kisa_isms_p_2023_korean_aws.json
  prowler/lib/check/compliance_models.py
  prowler/lib/outputs/compliance/compliance.py
  prowler/lib/outputs/compliance/kisa_ismsp/__init__.py
  prowler/lib/outputs/compliance/kisa_ismsp/kisa_ismsp.py
  prowler/lib/outputs/compliance/kisa_ismsp/kisa_ismsp_aws.py
  prowler/lib/outputs/compliance/kisa_ismsp/models.py
  tests/config/config_test.py
  tests/lib/outputs/asff/asff_test.py
  tests/lib/outputs/compliance/fixtures.py
  tests/lib/outputs/compliance/kisa_ismsp/kisa_ismsp_aws_test.py
  tests/lib/outputs/outputs_test.py
Labels: output/asff, integration/security-hub

#5149 refactor(output_options): remove output options from provider
  prowler/__main__.py
  prowler/lib/check/check.py
  prowler/lib/outputs/finding.py
  prowler/lib/outputs/outputs.py
  prowler/lib/scan/scan.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/common/provider.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/kubernetes/kubernetes_provider.py
  tests/lib/check/check_test.py
  tests/lib/outputs/finding_test.py
  tests/lib/outputs/output_options/output_options_test.py
  tests/lib/outputs/outputs_test.py
  tests/lib/scan/scan_test.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/aws/utils.py
  tests/providers/azure/azure_provider_test.py
  tests/providers/gcp/gcp_provider_test.py
  tests/providers/kubernetes/kubernetes_provider_test.py
Labels: provider/aws, provider/azure, provider/gcp, provider/kubernetes

#4975 refactor(execute_check): refactor execute method
  prowler/__main__.py
  prowler/lib/check/check.py
  prowler/lib/scan/scan.py
  tests/lib/check/check_test.py
  tests/lib/outputs/output_options/output_options_test.py
  tests/lib/scan/scan_test.py
Labels: provider/aws, provider/azure, provider/gcp, provider/kubernetes

#5067 chore(aws): improve IAM Resource Policy public logic
  prowler/providers/aws/lib/policy_condition_parser/__init__.py
  prowler/providers/aws/lib/policy_condition_parser/policy_condition_parser.py
  prowler/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible.py
  prowler/providers/aws/services/dynamodb/dynamodb_table_cross_account_access/dynamodb_table_cross_account_access.py
  prowler/providers/aws/services/ecr/ecr_repositories_not_publicly_accessible/ecr_repositories_not_publicly_accessible.py
  prowler/providers/aws/services/efs/efs_not_publicly_accessible/efs_not_publicly_accessible.py
  prowler/providers/aws/services/efs/lib/__init__.py
  prowler/providers/aws/services/efs/lib/lib.py
  prowler/providers/aws/services/iam/iam_role_cross_service_confused_deputy_prevention/iam_role_cross_service_confused_deputy_prevention.py
  prowler/providers/aws/services/iam/lib/policy.py
  prowler/providers/aws/services/kms/kms_key_not_publicly_accessible/kms_key_not_publicly_accessible.py
  prowler/providers/aws/services/s3/s3_bucket_policy_public_write_access/s3_bucket_policy_public_write_access.py
  prowler/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access.py
  prowler/providers/aws/services/sns/sns_topics_not_publicly_accessible/sns_topics_not_publicly_accessible.py
  prowler/providers/aws/services/sqs/sqs_queues_not_publicly_accessible/sqs_queues_not_publicly_accessible.py
  prowler/providers/aws/services/vpc/vpc_endpoint_connections_trust_boundaries/vpc_endpoint_connections_trust_boundaries.py
  tests/providers/aws/lib/policy_condition_parser/policy_condition_parser_test.py
  tests/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible_test.py
  tests/providers/aws/services/efs/lib/lib_test.py
  tests/providers/aws/services/iam/lib/policy_test.py
Labels: provider/aws

#5082 feat(s3): Add new check `s3_bucket_cross_account_access`
  prowler/providers/aws/services/s3/s3_bucket_cross_account_access/__init__.py
  prowler/providers/aws/services/s3/s3_bucket_cross_account_access/s3_bucket_cross_account_access.metadata.json
  prowler/providers/aws/services/s3/s3_bucket_cross_account_access/s3_bucket_cross_account_access.py
  tests/providers/aws/services/s3/s3_bucket_cross_account_access/s3_bucket_cross_account_access_test.py
Labels: provider/aws

#5207 feat(codebuild): add tags support to projects
  prowler/providers/aws/services/codebuild/codebuild_project_no_secrets_in_variables/codebuild_project_no_secrets_in_variables.py
  prowler/providers/aws/services/codebuild/codebuild_project_older_90_days/codebuild_project_older_90_days.py
  prowler/providers/aws/services/codebuild/codebuild_project_source_repo_url_no_sensitive_credentials/codebuild_project_source_repo_url_no_sensitive_credentials.py
  prowler/providers/aws/services/codebuild/codebuild_project_user_controlled_buildspec/codebuild_project_user_controlled_buildspec.py
  prowler/providers/aws/services/codebuild/codebuild_service.py
  tests/providers/aws/services/codebuild/codebuild_project_no_secrets_in_variables/codebuild_project_no_secrets_in_variables_test.py
  tests/providers/aws/services/codebuild/codebuild_project_older_90_days/codebuild_project_older_90_days_test.py
  tests/providers/aws/services/codebuild/codebuild_project_source_repo_url_no_sensitive_credentials/codebuild_project_source_repo_url_no_sensitive_credentials_test.py
  tests/providers/aws/services/codebuild/codebuild_project_user_controlled_buildspec/codebuild_project_user_controlled_buildspec_test.py
  tests/providers/aws/services/codebuild/codebuild_service_test.py
Labels: provider/aws

#5204 fix(aws): change `protected_by_backup_plan` checks
  prowler/providers/aws/services/backup/backup_service.py
  prowler/providers/aws/services/dynamodb/dynamodb_table_protected_by_backup_plan/dynamodb_table_protected_by_backup_plan.py
  prowler/providers/aws/services/ec2/ec2_ebs_volume_protected_by_backup_plan/ec2_ebs_volume_protected_by_backup_plan.py
  prowler/providers/aws/services/rds/rds_instance_protected_by_backup_plan/rds_instance_protected_by_backup_plan.py
  tests/providers/aws/services/backup/backup_service_test.py
  tests/providers/aws/services/dynamodb/dynamodb_table_protected_by_backup_plan/dynamodb_table_protected_by_backup_plan_test.py
  tests/providers/aws/services/ec2/ec2_ebs_volume_protected_by_backup_plan/ec2_ebs_volume_protected_by_backup_plan_test.py
  tests/providers/aws/services/rds/rds_instance_protected_by_backup_plan/rds_instance_protected_by_backup_plan_test.py
Labels: provider/aws

#5210 chore(ec2): add tags to report of EC2 launch templates
  prowler/providers/aws/services/ec2/ec2_launch_template_no_public_ip/ec2_launch_template_no_public_ip.py
  prowler/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets.py
  tests/providers/aws/services/ec2/ec2_launch_template_no_public_ip/ec2_launch_template_no_public_ip_test.py
  tests/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets_test.py
  tests/providers/aws/services/ec2/ec2_service_test.py
Labels: provider/aws

#5148 feat(dynamodb): add new check `dynamodb_table_deletion_protection_enabled`
  prowler/providers/aws/services/dynamodb/dynamodb_service.py
  prowler/providers/aws/services/dynamodb/dynamodb_table_deletion_protection_enabled/__init__.py
  prowler/providers/aws/services/dynamodb/dynamodb_table_deletion_protection_enabled/dynamodb_table_deletion_protection_enabled.metadata.json
  prowler/providers/aws/services/dynamodb/dynamodb_table_deletion_protection_enabled/dynamodb_table_deletion_protection_enabled.py
  tests/providers/aws/services/dynamodb/dynamodb_service_test.py
  tests/providers/aws/services/dynamodb/dynamodb_table_deletion_protection_enabled/dynamodb_table_deletion_protection_enabled_test.py
Labels: provider/aws

#5213 feat(glue): add tags to Glue checks
  prowler/providers/aws/services/glue/glue_database_connections_ssl_enabled/glue_database_connections_ssl_enabled.py
  prowler/providers/aws/services/glue/glue_development_endpoints_cloudwatch_logs_encryption_enabled/glue_development_endpoints_cloudwatch_logs_encryption_enabled.py
  prowler/providers/aws/services/glue/glue_development_endpoints_job_bookmark_encryption_enabled/glue_development_endpoints_job_bookmark_encryption_enabled.py
  prowler/providers/aws/services/glue/glue_development_endpoints_s3_encryption_enabled/glue_development_endpoints_s3_encryption_enabled.py
  prowler/providers/aws/services/glue/glue_etl_jobs_amazon_s3_encryption_enabled/glue_etl_jobs_amazon_s3_encryption_enabled.py
  prowler/providers/aws/services/glue/glue_etl_jobs_cloudwatch_logs_encryption_enabled/glue_etl_jobs_cloudwatch_logs_encryption_enabled.py
  prowler/providers/aws/services/glue/glue_etl_jobs_job_bookmark_encryption_enabled/glue_etl_jobs_job_bookmark_encryption_enabled.py
  prowler/providers/aws/services/glue/glue_service.py
  tests/providers/aws/services/glue/glue_database_connections_ssl_enabled/glue_database_connections_ssl_enabled_test.py
  tests/providers/aws/services/glue/glue_development_endpoints_cloudwatch_logs_encryption_enabled/glue_development_endpoints_cloudwatch_logs_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_development_endpoints_job_bookmark_encryption_enabled/glue_development_endpoints_job_bookmark_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_development_endpoints_s3_encryption_enabled/glue_development_endpoints_s3_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_etl_jobs_amazon_s3_encryption_enabled/glue_etl_jobs_amazon_s3_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_etl_jobs_cloudwatch_logs_encryption_enabled/glue_etl_jobs_cloudwatch_logs_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_etl_jobs_job_bookmark_encryption_enabled/glue_etl_jobs_job_bookmark_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_service_test.py
Labels: provider/aws

#5209 feat(dms): add tags to DMS checks
  prowler/providers/aws/services/dms/dms_endpoint_ssl_enabled/dms_endpoint_ssl_enabled.py
  prowler/providers/aws/services/dms/dms_instance_minor_version_upgrade_enabled/dms_instance_minor_version_upgrade_enabled.py
  prowler/providers/aws/services/dms/dms_instance_multi_az_enabled/dms_instance_multi_az_enabled.py
  prowler/providers/aws/services/dms/dms_instance_no_public_access/dms_instance_no_public_access.py
  prowler/providers/aws/services/dms/dms_service.py
  tests/providers/aws/services/dms/dms_endpoint_ssl_enabled_test/dms_endpoint_ssl_enabled_test.py
  tests/providers/aws/services/dms/dms_instance_minor_version_upgrade_enabled/dms_instance_minor_version_upgrade_enabled_test.py
  tests/providers/aws/services/dms/dms_instance_multi_az/dms_instance_multi_az_test.py
  tests/providers/aws/services/dms/dms_instance_no_public_access/dms_no_public_access_test.py
  tests/providers/aws/services/dms/dms_service_test.py
Labels: provider/aws

#5144 feat(ecr): Ensure ECR repositories have tag immutability configured
  prowler/providers/aws/services/ecr/ecr_repositories_tag_immutability/__init__.py
  prowler/providers/aws/services/ecr/ecr_repositories_tag_immutability/ecr_repositories_tag_immutability.metadata.json
  prowler/providers/aws/services/ecr/ecr_repositories_tag_immutability/ecr_repositories_tag_immutability.py
  prowler/providers/aws/services/ecr/ecr_service.py
  tests/providers/aws/services/ecr/ecr_repositories_tag_immutability/ecr_repositories_tag_immutability_test.py
  tests/providers/aws/services/ecr/ecr_service_test.py
Labels: provider/aws

#5214 feat(ecs): Ensure ECS containers run as non-privileged
  prowler/providers/aws/services/ecs/ecs_task_definitions_no_privileged_containers/__init__.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_no_privileged_containers/ecs_task_definitions_no_privileged_containers.metadata.json
  prowler/providers/aws/services/ecs/ecs_task_definitions_no_privileged_containers/ecs_task_definitions_no_privileged_containers.py
  tests/providers/aws/services/ecs/ecs_task_definitions_no_privileged_containers/ecs_task_definitions_no_privileged_containers_test.py
Labels: provider/aws

#5168 feat(ecs): Ensure ECS containers have read-only access to root filesystems
  prowler/providers/aws/services/ecs/ecs_service.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_containers_readonly_access/__init__.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_containers_readonly_access/ecs_task_definitions_containers_readonly_access.metadata.json
  prowler/providers/aws/services/ecs/ecs_task_definitions_containers_readonly_access/ecs_task_definitions_containers_readonly_access.py
  tests/providers/aws/services/ecs/ecs_service_test.py
  tests/providers/aws/services/ecs/ecs_task_definitions_containers_readonly_access/ecs_task_definitions_containers_readonly_access_test.py
  tests/providers/aws/services/ecs/ecs_task_definitions_host_networking_mode_users/ecs_task_definitions_host_networking_mode_users_test.py
Labels: provider/aws

#5146 feat(ecs): Ensure ECS task definitions host's process namespace is not shared
  prowler/providers/aws/services/ecs/ecs_service.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_host_namespace_not_shared/__init__.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_host_namespace_not_shared/ecs_task_definitions_host_namespace_not_shared.metadata.json
  prowler/providers/aws/services/ecs/ecs_task_definitions_host_namespace_not_shared/ecs_task_definitions_host_namespace_not_shared.py
  tests/providers/aws/services/ecs/ecs_service_test.py
  tests/providers/aws/services/ecs/ecs_task_definitions_host_namespace_not_shared/ecs_task_definitions_host_namespace_not_shared_test.py
Labels: provider/aws

#5230 feat(rds): add missing tags to RDS checks
  prowler/providers/aws/services/rds/rds_cluster_critical_event_subscription/rds_cluster_critical_event_subscription.py
  prowler/providers/aws/services/rds/rds_instance_critical_event_subscription/rds_instance_critical_event_subscription.py
  prowler/providers/aws/services/rds/rds_instance_event_subscription_parameter_groups/rds_instance_event_subscription_parameter_groups.py
  prowler/providers/aws/services/rds/rds_instance_event_subscription_security_groups/rds_instance_event_subscription_security_groups.py
  prowler/providers/aws/services/rds/rds_service.py
  tests/providers/aws/services/rds/rds_cluster_critical_event_subscription/rds_cluster_critical_event_subscription_test.py
  tests/providers/aws/services/rds/rds_instance_critical_event_subscription/rds_instance_critical_event_subscription_test.py
  tests/providers/aws/services/rds/rds_instance_event_subscription_parameter_groups/rds_instance_event_subscription_parameter_groups_test.py
  tests/providers/aws/services/rds/rds_instance_event_subscription_security_groups/rds_instance_event_subscription_security_groups_test.py
  tests/providers/aws/services/rds/rds_service_test.py
Labels: provider/aws

#5203 feat(aws): Add new check `opensearch_service_domains_access_control_enabled `
  prowler/providers/aws/services/opensearch/opensearch_service.py
  prowler/providers/aws/services/opensearch/opensearch_service_domains_access_control_enabled/opensearch_service_domains_access_control_enabled.metadata.json
  prowler/providers/aws/services/opensearch/opensearch_service_domains_access_control_enabled/opensearch_service_domains_access_control_enabled.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_access_control_enabled/opensearch_service_domains_access_control_enabled_test.py
Labels: provider/aws

#5192 docs: change installation methods
  docs/developer-guide/introduction.md
  docs/index.md
Labels: documentation

#5233 feat(aws): add tags to Global Accelerator
  prowler/providers/aws/services/globalaccelerator/globalaccelerator_service.py
  prowler/providers/aws/services/shield/shield_advanced_protection_in_global_accelerators/shield_advanced_protection_in_global_accelerators.py
  tests/providers/aws/services/globalaccelerator/globalaccelerator_service_test.py
  tests/providers/aws/services/shield/shield_advanced_protection_in_global_accelerators/shield_advanced_protection_in_global_accelerators_test.py
Labels: provider/aws

#5243 feat(wafv2): add tags to `wafv2_webacl_logging_enabled`
  prowler/providers/aws/services/wafv2/wafv2_service.py
  prowler/providers/aws/services/wafv2/wafv2_webacl_logging_enabled/wafv2_webacl_logging_enabled.py
  tests/providers/aws/services/wafv2/wafv2_service_test.py
  tests/providers/aws/services/wafv2/wafv2_webacl_logging_enabled/wafv2_webacl_logging_enabled_test.py
Labels: provider/aws

#5231 feat(securityhub): add tags `securityhub_enabled`
  prowler/providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled.py
  prowler/providers/aws/services/securityhub/securityhub_service.py
  tests/providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled_test.py
  tests/providers/aws/services/securityhub/securityhub_service_test.py
Labels: provider/aws

#5246 fix(tests): patch `head_bucket` function correctly
  tests/providers/aws/services/cloudfront/cloudfront_distributions_s3_origin_non_existent_bucket/cloudfront_distributions_s3_origin_non_existent_bucket_test.py
Labels: provider/aws

#5191 feat(azure containerregistry): gather service infos and checks disabled admin user
  poetry.lock
  prowler/providers/azure/services/containerregistry/__init__.py
  prowler/providers/azure/services/containerregistry/containerregistry_admin_user_disabled/__init__.py
  prowler/providers/azure/services/containerregistry/containerregistry_admin_user_disabled/containerregistry_admin_user_disabled.metadata.json
  prowler/providers/azure/services/containerregistry/containerregistry_admin_user_disabled/containerregistry_admin_user_disabled.py
  prowler/providers/azure/services/containerregistry/containerregistry_client.py
  prowler/providers/azure/services/containerregistry/containerregistry_service.py
  pyproject.toml
  tests/providers/azure/services/containerregistry/containerregistry_admin_user_disabled/containerregistry_admin_user_disabled_test.py
  tests/providers/azure/services/containerregistry/containerregistry_service_test.py
Labels: provider/azure

#5245 chore(ssm): add tags to `ssm_managed_compliant_patching`
  prowler/providers/aws/services/ssm/ssm_managed_compliant_patching/ssm_managed_compliant_patching.py
  tests/providers/aws/services/ssm/ssm_managed_compliant_patching/ssm_managed_compliant_patching_test.py
Labels: provider/aws

#5216 fix(aws): handle none type attributes
  prowler/providers/aws/services/apigateway/apigateway_restapi_public/apigateway_restapi_public.py
  prowler/providers/aws/services/ecr/ecr_repositories_not_publicly_accessible/ecr_repositories_not_publicly_accessible.py
  prowler/providers/aws/services/organizations/organizations_scp_check_deny_regions/organizations_scp_check_deny_regions.py
  prowler/providers/aws/services/organizations/organizations_service.py
  prowler/providers/aws/services/sns/sns_topics_not_publicly_accessible/sns_topics_not_publicly_accessible.py
  tests/providers/aws/services/apigateway/apigateway_endpoint_public/apigateway_endpoint_public_test.py
  tests/providers/aws/services/ecr/ecr_repositories_not_publicly_accessible/ecr_repositories_not_publicly_accessible_test.py
  tests/providers/aws/services/organizations/organizations_scp_check_deny_regions/organizations_scp_check_deny_regions_test.py
  tests/providers/aws/services/sns/sns_topics_not_publicly_accessible/sns_topics_not_publicly_accessible_test.py
Labels: provider/aws

#5225 feat(networkfirewall): add new check `networkfirewall_policy_rule_group_associated`
  prowler/providers/aws/services/networkfirewall/networkfirewall_policy_rule_group_associated/__init__.py
  prowler/providers/aws/services/networkfirewall/networkfirewall_policy_rule_group_associated/networkfirewall_policy_rule_group_associated.metadata.json
  prowler/providers/aws/services/networkfirewall/networkfirewall_policy_rule_group_associated/networkfirewall_policy_rule_group_associated.py
  prowler/providers/aws/services/networkfirewall/networkfirewall_service.py
  tests/providers/aws/services/networkfirewall/networkfirewall_deletion_protection/networkfirewall_deletion_protection_test.py
  tests/providers/aws/services/networkfirewall/networkfirewall_in_all_vpc/networkfirewall_in_all_vpc_test.py
  tests/providers/aws/services/networkfirewall/networkfirewall_policy_rule_group_associated/networkfirewall_policy_rule_group_associated_test.py
Labels: provider/aws

#5249 fix(rds): add comprobations before list tags
  prowler/providers/aws/services/rds/rds_service.py
Labels: provider/aws
