Repository prowler-cloud/prowler, pull requests merged in 2024-05, with the labels that each got.

#3911 docs(compliance): Add notes about compliance output
  docs/tutorials/compliance.md
Labels: documentation

#3908 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#3904 chore(mutelist): improve default AWS mutelist with ControlTower
  docs/tutorials/mutelist.md
  prowler/config/aws_mutelist.yaml
Labels: documentation, provider/aws

#3906 fix(ec2): handle non-existing private ip
  prowler/providers/aws/services/ec2/ec2_service.py
Labels: provider/aws

#3915 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#3927 docs(mutelist): update reference to `aws_mutelist.yaml`
  docs/tutorials/mutelist.md
Labels: documentation

#3917 fix(efs): change public EFS check metadata
  prowler/providers/aws/services/efs/efs_not_publicly_accessible/efs_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/efs/efs_not_publicly_accessible/efs_not_publicly_accessible.py
  tests/providers/aws/services/efs/efs_not_publicly_accessible/efs_not_publicly_accessible_test.py
Labels: provider/aws, backport-v3

#3925 fix(security-hub): Send only Fails if muted and send-only-fails
  prowler/providers/aws/lib/security_hub/security_hub.py
  tests/providers/aws/lib/security_hub/security_hub_test.py
Labels: provider/aws

#3926 docs(fixer): add alias to prowler fixer -> remediations
  docs/tutorials/fixer.md
  mkdocs.yml
  prowler/lib/cli/parser.py
  tests/lib/cli/parser_test.py
Labels: documentation

#3899 chore(mitre gcp): add mitre mapping for gcp
  dashboard/compliance/mitre_attack_gcp.py
  dashboard/pages/compliance.py
  prowler/__main__.py
  prowler/compliance/gcp/cis_2.0_gcp.json
  prowler/compliance/gcp/mitre_attack_gcp.json
  prowler/lib/check/compliance_models.py
  prowler/lib/outputs/compliance/mitre_attack/mitre_attack.py
  prowler/lib/outputs/compliance/mitre_attack/models.py
  prowler/lib/outputs/file_descriptors.py
  prowler/providers/gcp/services/artifacts/__init__.py
Labels: provider/gcp

#3929 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#3928 fix(k8s): enhance Kubernetes deployment
  docs/index.md
  kubernetes/job.yaml
  kubernetes/prowler-rolebinding.yaml
Labels: documentation

#3914 fix(output): Handle case for None organizations metadata
  prowler/lib/outputs/utils.py
  prowler/providers/aws/aws_provider.py
  tests/lib/outputs/outputs_test.py
  tests/providers/aws/aws_provider_test.py
Labels: provider/aws

#3931 fix(k8s): handle Kubernetes Audit Config
  prowler/providers/kubernetes/lib/service/service.py
Labels: provider/kubernetes

#3933 chore(docs): remove unnecessary line
  docs/developer-guide/unit-testing.md
Labels: documentation

#3957 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#3932 feat(aws): new `dynamodb_table_cross_account_access` check
  prowler/providers/aws/services/dynamodb/dynamodb_accelerator_cluster_encryption_enabled/dynamodb_accelerator_cluster_encryption_enabled.metadata.json
  prowler/providers/aws/services/dynamodb/dynamodb_service.py
  prowler/providers/aws/services/dynamodb/dynamodb_table_cross_account_access/__init__.py
  prowler/providers/aws/services/dynamodb/dynamodb_table_cross_account_access/dynamodb_table_cross_account_access.metadata.json
  prowler/providers/aws/services/dynamodb/dynamodb_table_cross_account_access/dynamodb_table_cross_account_access.py
  prowler/providers/aws/services/dynamodb/dynamodb_tables_pitr_enabled/dynamodb_tables_pitr_enabled.metadata.json
  tests/providers/aws/services/dynamodb/dynamodb_table_cross_account_access/dynamodb_table_cross_account_access_test.py
Labels: provider/aws

#3847 fix(dashboard): Handle encoding errors
  dashboard/config.py
  dashboard/pages/compliance.py
  dashboard/pages/overview.py
Labels: no-merge

#3960 chore(backport): Add latest changes
  prowler/providers/aws/aws_regions_by_service.json
  prowler/providers/aws/services/s3/s3_service.py
Labels: provider/aws

#3912 fix(rds): add ReadReplicaSourceDBInstanceIdentifier to db_instance
  .pre-commit-config.yaml
  docs/tutorials/configuration_file.md
  prowler/config/config.yaml
  prowler/providers/aws/services/rds/rds_instance_backup_enabled/rds_instance_backup_enabled.py
  prowler/providers/aws/services/rds/rds_service.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/config/fixtures/config_old.yaml
  tests/providers/aws/services/rds/rds_instance_backup_enabled/rds_instance_backup_enabled_test.py
Labels: documentation, provider/aws, backport-v3

#3965 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#3970 docs(longpaths): add info about longpaths in windows
  README.md
  docs/index.md
Labels: documentation

#3968 chore(rds): support more AWS RDS DB Instance engines in encryption check
  prowler/providers/aws/services/rds/rds_instance_transport_encrypted/rds_instance_transport_encrypted.metadata.json
  prowler/providers/aws/services/rds/rds_instance_transport_encrypted/rds_instance_transport_encrypted.py
  tests/providers/aws/services/rds/rds_instance_transport_encrypted/rds_instance_transport_encrypted_test.py
  tests/providers/aws/services/rds/rds_service_test.py
Labels: provider/aws, backport-v3

#3971 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#3969 fix(aws): Handle TZ while refreshing boto3 credentials
  .pre-commit-config.yaml
  poetry.lock
  prowler/providers/aws/aws_provider.py
  pyproject.toml
  tests/providers/aws/aws_provider_test.py
  tests/providers/aws/utils.py
Labels: provider/aws, backport-v3

#4007 chore(safety): ignore pip vulnerability
  .github/workflows/pull-request.yml
  .pre-commit-config.yaml
Labels: github_actions

#4009 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4014 fix(elasticache): make previous comprobations for subnet
  prowler/providers/aws/services/elasticache/elasticache_cluster_uses_public_subnet/elasticache_cluster_uses_public_subnet.py
Labels: provider/aws, backport-v3

#4016 fix(docs): Fix option name in gcp tutorial
  docs/tutorials/gcp/projects.md
Labels: documentation

#4017 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4001 feat(aws): Add new kafka service
  prowler/providers/aws/services/kafka/__init__.py
  prowler/providers/aws/services/kafka/kafka_client.py
  prowler/providers/aws/services/kafka/kafka_cluster_uses_latest_version/__init__.py
  prowler/providers/aws/services/kafka/kafka_cluster_uses_latest_version/kafka_cluster_uses_latest_version.metadata.json
  prowler/providers/aws/services/kafka/kafka_cluster_uses_latest_version/kafka_cluster_uses_latest_version.py
  prowler/providers/aws/services/kafka/kafka_service.py
  tests/providers/aws/services/kafka/kafka_cluster_uses_latest_version/kafka_cluster_uses_latest_version_test.py
  tests/providers/aws/services/kafka/kafka_service_test.py
Labels: provider/aws

#3919 feat(AWS): Lightsail new service and checks
  README.md
  prowler/providers/aws/services/lightsail/__init__.py
  prowler/providers/aws/services/lightsail/lightsail_client.py
  prowler/providers/aws/services/lightsail/lightsail_database_public/__init__.py
  prowler/providers/aws/services/lightsail/lightsail_database_public/lightsail_database_public.metadata.json
  prowler/providers/aws/services/lightsail/lightsail_database_public/lightsail_database_public.py
  prowler/providers/aws/services/lightsail/lightsail_instance_automated_snapshots/__init__.py
  prowler/providers/aws/services/lightsail/lightsail_instance_automated_snapshots/lightsail_instance_automated_snapshots.metadata.json
  prowler/providers/aws/services/lightsail/lightsail_instance_automated_snapshots/lightsail_instance_automated_snapshots.py
  prowler/providers/aws/services/lightsail/lightsail_instance_public/__init__.py
  prowler/providers/aws/services/lightsail/lightsail_instance_public/lightsail_instance_public.metadata.json
  prowler/providers/aws/services/lightsail/lightsail_instance_public/lightsail_instance_public.py
  prowler/providers/aws/services/lightsail/lightsail_service.py
  prowler/providers/aws/services/lightsail/lightsail_static_ip_unused/__init__.py
  prowler/providers/aws/services/lightsail/lightsail_static_ip_unused/lightsail_static_ip_unused.metadata.json
  prowler/providers/aws/services/lightsail/lightsail_static_ip_unused/lightsail_static_ip_unused.py
  tests/providers/aws/services/lightsail/lightsail_database_public/lightsail_database_public_test.py
  tests/providers/aws/services/lightsail/lightsail_instance_automated_snapshots/lightsail_instance_automated_snapshots_test.py
  tests/providers/aws/services/lightsail/lightsail_instance_public/lightsail_instance_public_test.py
  tests/providers/aws/services/lightsail/lightsail_service_test.py
  tests/providers/aws/services/lightsail/lightsail_static_ip_unused/lightsail_static_ip_unused_test.py
  tests/providers/aws/utils.py
Labels: provider/aws, github_actions

#4019 chore(compliance): change security group any port check
  prowler/compliance/aws/aws_foundational_technical_review_aws.json
  prowler/compliance/aws/aws_well_architected_framework_security_pillar_aws.json
  prowler/compliance/aws/cis_1.4_aws.json
  prowler/compliance/aws/cis_1.5_aws.json
  prowler/compliance/aws/cis_2.0_aws.json
  prowler/compliance/aws/cis_3.0_aws.json
  prowler/compliance/aws/cisa_aws.json
  prowler/compliance/aws/ens_rd2022_aws.json
  prowler/compliance/aws/mitre_attack_aws.json
Labels: backport-v3

#4023 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4024 fix(mutelist): Handle exceptions before match
  prowler/lib/mutelist/mutelist.py
  tests/lib/mutelist/mutelist_test.py
Labels: backport-v3

#4002 feat(rds): Add RDS certificate expiration check
  prowler/providers/aws/services/rds/rds_instance_certificate_expiration/__init__.py
  prowler/providers/aws/services/rds/rds_instance_certificate_expiration/rds_instance_certificate_expiration.metadata.json
  prowler/providers/aws/services/rds/rds_instance_certificate_expiration/rds_instance_certificate_expiration.py
  prowler/providers/aws/services/rds/rds_service.py
  tests/providers/aws/services/rds/rds_instance_certificate_expiration/rds_instance_certificate_expiration_test.py
  tests/providers/aws/services/rds/rds_service_test.py
Labels: provider/aws

#4049 chore(aws): cleanup aws test cases
  prowler/providers/aws/services/sns/sns_topics_kms_encryption_at_rest_enabled/sns_topics_kms_encryption_at_rest_enabled.py
  prowler/providers/aws/services/workspaces/workspaces_volume_encryption_enabled/workspaces_volume_encryption_enabled.py
  tests/providers/aws/services/sagemaker/sagemaker_models_network_isolation_enabled/sagemaker_models_network_isolation_enabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_models_vpc_settings_configured/sagemaker_models_vpc_settings_configured_test.py
  tests/providers/aws/services/sagemaker/sagemaker_notebook_instance_encryption_enabled/sagemaker_notebook_instance_encryption_enabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_notebook_instance_root_access_disabled/sagemaker_notebook_instance_root_access_disabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_notebook_instance_vpc_settings_configured/sagemaker_notebook_instance_vpc_settings_configured_test.py
  tests/providers/aws/services/sagemaker/sagemaker_notebook_instance_without_direct_internet_access_configured/sagemaker_notebook_instance_without_direct_internet_access_configured_test.py
  tests/providers/aws/services/sagemaker/sagemaker_training_jobs_intercontainer_encryption_enabled/sagemaker_training_jobs_intercontainer_encryption_enabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_training_jobs_network_isolation_enabled/sagemaker_training_jobs_network_isolation_enabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_training_jobs_volume_and_output_encryption_enabled/sagemaker_training_jobs_volume_and_output_encryption_enabled_test.py
  tests/providers/aws/services/sagemaker/sagemaker_training_jobs_vpc_settings_configured/sagemaker_training_jobs_vpc_settings_configured_test.py
  tests/providers/aws/services/sns/sns_topics_kms_encryption_at_rest_enabled/sns_topics_kms_encryption_at_rest_enabled_test.py
  tests/providers/aws/services/sqs/sqs_queues_not_publicly_accessible/sqs_queues_not_publicly_accessible_test.py
  tests/providers/aws/services/sqs/sqs_queues_server_side_encryption_enabled/sqs_queues_server_side_encryption_enabled_test.py
  tests/providers/aws/services/wellarchitected/wellarchitected_workload_no_high_or_medium_risks/wellarchitected_workload_no_high_or_medium_risks_test.py
  tests/providers/aws/services/workspaces/workspaces_volume_encryption_enabled/workspaces_volume_encryption_enabled_test.py
Labels: provider/aws

#4028 feat(rds): Add AWS RDS clusters to transport encryption check
  prowler/providers/aws/services/rds/rds_instance_transport_encrypted/rds_instance_transport_encrypted.py
  prowler/providers/aws/services/rds/rds_service.py
  tests/providers/aws/services/rds/rds_instance_deletion_protection/rds_instance_deletion_protection_test.py
  tests/providers/aws/services/rds/rds_instance_transport_encrypted/rds_instance_transport_encrypted_test.py
Labels: provider/aws

#4053 chore(aws): cleanup aws test cases and standardize checks
  prowler/providers/aws/services/organizations/organizations_account_part_of_organizations/organizations_account_part_of_organizations.py
  prowler/providers/aws/services/organizations/organizations_delegated_administrators/organizations_delegated_administrators.py
  prowler/providers/aws/services/organizations/organizations_scp_check_deny_regions/organizations_scp_check_deny_regions.py
  prowler/providers/aws/services/redshift/redshift_cluster_audit_logging/redshift_cluster_audit_logging.py
  prowler/providers/aws/services/redshift/redshift_cluster_automated_snapshot/redshift_cluster_automated_snapshot.py
  prowler/providers/aws/services/redshift/redshift_cluster_automatic_upgrades/redshift_cluster_automatic_upgrades.py
  prowler/providers/aws/services/redshift/redshift_cluster_public_access/redshift_cluster_public_access.py
  prowler/providers/aws/services/s3/s3_bucket_default_encryption/s3_bucket_default_encryption.py
  tests/providers/aws/services/organizations/organizations_account_part_of_organizations/organizations_account_part_of_organizations_test.py
  tests/providers/aws/services/organizations/organizations_delegated_administrators/organizations_delegated_administrators_test.py
  tests/providers/aws/services/organizations/organizations_scp_check_deny_regions/organizations_scp_check_deny_regions_test.py
  tests/providers/aws/services/redshift/redshift_cluster_audit_logging/redshift_cluster_audit_logging_test.py
  tests/providers/aws/services/redshift/redshift_cluster_automated_snapshot/redshift_cluster_automated_snapshot_test.py
  tests/providers/aws/services/redshift/redshift_cluster_automatic_upgrades/redshift_cluster_automatic_upgrades_test.py
  tests/providers/aws/services/redshift/redshift_cluster_public_access/redshift_cluster_public_access_test.py
  tests/providers/aws/services/s3/s3_bucket_acl_prohibited/s3_bucket_acl_prohibited_test.py
  tests/providers/aws/services/s3/s3_bucket_default_encryption/s3_bucket_default_encryption_test.py
  tests/providers/aws/services/s3/s3_bucket_no_mfa_delete/s3_bucket_no_mfa_delete_test.py
  tests/providers/aws/services/s3/s3_bucket_object_versioning/s3_bucket_object_versioning_test.py
  tests/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access_test.py
  tests/providers/aws/services/s3/s3_bucket_secure_transport_policy/s3_bucket_secure_transport_policy_test.py
  tests/providers/aws/services/s3/s3_bucket_server_access_logging_enabled/s3_bucket_server_access_logging_enabled_test.py
Labels: provider/aws

#4054 fix(outputs): fill compliance field for outputs
  prowler/lib/outputs/compliance/compliance.py
  tests/lib/outputs/outputs_test.py
Labels: backport-v3

#4055 fix(gcp): handle projects API Call error
  prowler/providers/gcp/gcp_provider.py
Labels: provider/gcp

#4056 chore(docs): add check severity modification docs
  docs/developer-guide/checks.md
Labels: documentation

#4018 chore(aws): Add failed_checks to track
  prowler/providers/aws/lib/service/service.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_all_ports/ec2_securitygroup_allow_ingress_from_internet_to_all_ports.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_any_port/ec2_securitygroup_allow_ingress_from_internet_to_any_port.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_port_mongodb_27017_27018/ec2_securitygroup_allow_ingress_from_internet_to_port_mongodb_27017_27018.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_ftp_port_20_21/ec2_securitygroup_allow_ingress_from_internet_to_tcp_ftp_port_20_21.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_22/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_22.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_3389/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_3389.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_cassandra_7199_9160_8888/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_cassandra_7199_9160_8888.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_elasticsearch_kibana_9200_9300_5601/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_elasticsearch_kibana_9200_9300_5601.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_kafka_9092/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_kafka_9092.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_memcached_11211/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_memcached_11211.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_mysql_3306/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_mysql_3306.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_oracle_1521_2483/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_oracle_1521_2483.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_postgres_5432/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_postgres_5432.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_redis_6379/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_redis_6379.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_sql_server_1433_1434/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_sql_server_1433_1434.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_telnet_23/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_telnet_23.py
  prowler/providers/aws/services/ec2/ec2_service.py
  tests/providers/aws/lib/service/service_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_all_ports/ec2_securitygroup_allow_ingress_from_internet_to_all_ports_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_any_port/ec2_securitygroup_allow_ingress_from_internet_to_any_port_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_port_mongodb_27017_27018/ec2_securitygroup_allow_ingress_from_internet_to_port_mongodb_27017_27018_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_ftp_port_20_21/ec2_securitygroup_allow_ingress_from_internet_to_tcp_ftp_port_20_21_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_22/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_22_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_3389/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_3389_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_cassandra_7199_9160_8888/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_cassandra_7199_9160_8888_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_elasticsearch_kibana_9200_9300_5601/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_elasticsearch_kibana_9200_9300_5601_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_kafka_9092/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_kafka_9092_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_memcached_11211/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_memcached_11211_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_mysql_3306/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_mysql_3306_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_oracle_1521_2483/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_oracle_1521_2483_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_postgres_5432/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_postgres_5432_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_redis_6379/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_redis_6379_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_sql_server_1433_1434/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_sql_server_1433_1434_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_telnet_23/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_telnet_23_test.py
  tests/providers/aws/services/ec2/ec2_service_test.py
Labels: provider/aws

#4021 feat(Kafka): New Kafka AWS checks
  README.md
  prowler/providers/aws/services/kafka/kafka_cluster_encryption_at_rest_uses_cmk/__init__.py
  prowler/providers/aws/services/kafka/kafka_cluster_encryption_at_rest_uses_cmk/kafka_cluster_encryption_at_rest_uses_cmk.metadata.json
  prowler/providers/aws/services/kafka/kafka_cluster_encryption_at_rest_uses_cmk/kafka_cluster_encryption_at_rest_uses_cmk.py
  prowler/providers/aws/services/kafka/kafka_cluster_enhanced_monitoring_enabled/__init__.py
  prowler/providers/aws/services/kafka/kafka_cluster_enhanced_monitoring_enabled/kafka_cluster_enhanced_monitoring_enabled.metadata.json
  prowler/providers/aws/services/kafka/kafka_cluster_enhanced_monitoring_enabled/kafka_cluster_enhanced_monitoring_enabled.py
  prowler/providers/aws/services/kafka/kafka_cluster_in_transit_encryption_enabled/__init__.py
  prowler/providers/aws/services/kafka/kafka_cluster_in_transit_encryption_enabled/kafka_cluster_in_transit_encryption_enabled.metadata.json
  prowler/providers/aws/services/kafka/kafka_cluster_in_transit_encryption_enabled/kafka_cluster_in_transit_encryption_enabled.py
  prowler/providers/aws/services/kafka/kafka_cluster_is_public/__init__.py
  prowler/providers/aws/services/kafka/kafka_cluster_is_public/kafka_cluster_is_public.metadata.json
  prowler/providers/aws/services/kafka/kafka_cluster_is_public/kafka_cluster_is_public.py
  prowler/providers/aws/services/kafka/kafka_cluster_mutual_tls_authentication_enabled/__init__.py
  prowler/providers/aws/services/kafka/kafka_cluster_mutual_tls_authentication_enabled/kafka_cluster_mutual_tls_authentication_enabled.metadata.json
  prowler/providers/aws/services/kafka/kafka_cluster_mutual_tls_authentication_enabled/kafka_cluster_mutual_tls_authentication_enabled.py
  prowler/providers/aws/services/kafka/kafka_cluster_unrestricted_access_disabled/__init__.py
  prowler/providers/aws/services/kafka/kafka_cluster_unrestricted_access_disabled/kafka_cluster_unrestricted_access_disabled.metadata.json
  prowler/providers/aws/services/kafka/kafka_cluster_unrestricted_access_disabled/kafka_cluster_unrestricted_access_disabled.py
  prowler/providers/aws/services/kafka/kafka_service.py
  tests/providers/aws/services/kafka/kafka_cluster_encryption_at_rest_uses_cmk/kafka_cluster_encryption_at_rest_uses_cmk_test.py
  tests/providers/aws/services/kafka/kafka_cluster_enhanced_monitoring_enabled/kafka_cluster_enhanced_monitoring_enabled_test.py
  tests/providers/aws/services/kafka/kafka_cluster_in_transit_encryption_enabled/kafka_cluster_in_transit_encryption_enabled_test.py
  tests/providers/aws/services/kafka/kafka_cluster_is_public/kafka_cluster_is_public_test.py
  tests/providers/aws/services/kafka/kafka_cluster_mutual_tls_authentication_enabled/kafka_cluster_mutual_tls_authentication_enabled_test.py
  tests/providers/aws/services/kafka/kafka_cluster_unrestricted_access_disabled/kafka_cluster_unrestricted_access_disabled_test.py
Labels: provider/aws

#4059 fix(doc): mapping of extra748 and add extra74
  docs/tutorials/aws/v2_to_v3_checks_mapping.md
Labels: documentation, backport-v3

#4061 chore(IAM): Improve IAM checks for Azure
  prowler/providers/azure/services/iam/iam_custom_role_has_permissions_to_administer_resource_locks/iam_custom_role_has_permissions_to_administer_resource_locks.py
  prowler/providers/azure/services/iam/iam_subscription_roles_owner_custom_not_created/iam_subscription_roles_owner_custom_not_created.py
  tests/providers/azure/services/iam/iam_custom_role_has_permissions_to_administer_resource_locks/iam_custom_role_has_permissions_to_administer_resource_locks_test.py
Labels: provider/azure

#4057 chore(version): update Prowler version
  prowler/config/config.py
  pyproject.toml
Labels: v3

#4063 fix(kubernetes): solve errors in RBAC and Core services
  prowler/providers/kubernetes/services/core/core_minimize_net_raw_capability_admission/core_minimize_net_raw_capability_admission.py
  prowler/providers/kubernetes/services/core/core_service.py
  prowler/providers/kubernetes/services/rbac/rbac_service.py
Labels: provider/kubernetes

#4070 docs(reporting): add HTML to reporting docs
  docs/tutorials/reporting.md
Labels: documentation

#4072 docs(dashboard): update and improve docs
  docs/tutorials/dashboard.md
  docs/tutorials/img/dashboard/dashboard-overview.png
  docs/tutorials/img/dashboard/dropdown.png
Labels: documentation

#4071 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4075 fix(kubernetes): solve TypeError in Core NetRaw check
  prowler/providers/kubernetes/services/core/core_minimize_net_raw_capability_admission/core_minimize_net_raw_capability_admission.py
Labels: provider/kubernetes

#4078 fix(kubernetes): solve TypeError in Core NetRaw check
  prowler/providers/kubernetes/services/core/core_minimize_net_raw_capability_admission/core_minimize_net_raw_capability_admission.py
Labels: provider/kubernetes

#4067 chore(CLI): start working on CLI
  cli/__init__.py
  cli/cli.md
  cli/cli.py
  poetry.lock
  pyproject.toml
Labels: cli

#4082 feat(AWS): New Storage Gateway FileShare KMS CMK Check
  prowler/providers/aws/services/storagegateway/__init__.py
  prowler/providers/aws/services/storagegateway/storagegateway_client.py
  prowler/providers/aws/services/storagegateway/storagegateway_fileshare_encryption_enabled/__init__.py
  prowler/providers/aws/services/storagegateway/storagegateway_fileshare_encryption_enabled/storagegateway_fileshare_encryption_enabled.metadata.json
  prowler/providers/aws/services/storagegateway/storagegateway_fileshare_encryption_enabled/storagegateway_fileshare_encryption_enabled.py
  prowler/providers/aws/services/storagegateway/storagegateway_service.py
  tests/providers/aws/services/storagegateway/__init__.py
  tests/providers/aws/services/storagegateway/storagegateway_fileshare_encryption_enabled/storagegateway_fileshare_encryption_enabled_test.py
  tests/providers/aws/services/storagegateway/storagegateway_service_test.py
Labels: provider/aws

#4085 fix(rds): solve ParameterValue KeyError
  prowler/providers/aws/services/rds/rds_instance_transport_encrypted/rds_instance_transport_encrypted.py
  tests/providers/aws/services/rds/rds_instance_transport_encrypted/rds_instance_transport_encrypted_test.py
Labels: provider/aws, backport-v3

#4076 feat(EC2): New EC2 AWS check (#852)
  docs/tutorials/pentesting.md
  prowler/compliance/aws/aws_well_architected_framework_security_pillar_aws.json
  prowler/compliance/aws/mitre_attack_aws.json
  prowler/providers/aws/services/ec2/ec2_launch_template_no_secrets/__init__.py
  prowler/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets.metadata.json
  prowler/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets.py
  prowler/providers/aws/services/ec2/ec2_service.py
  tests/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets_test.py
  tests/providers/aws/services/ec2/ec2_launch_template_no_secrets/fixtures/fixture
  tests/providers/aws/services/ec2/ec2_launch_template_no_secrets/fixtures/fixture.gz
  tests/providers/aws/services/ec2/ec2_service_test.py
Labels: documentation, provider/aws

#4090 feat(logo): add new Prowler logo!
  docs/img/ProwlerPro-icon.svg
  docs/img/ProwlerPro-logo.svg
  docs/img/prowler-icon.svg
  docs/img/prowler-logo-black.png
  docs/img/prowler-logo-white.png
  docs/img/prowler-logo.png
  docs/img/prowler-logo.svg
  docs/img/prowler-pro-dark.png
  docs/img/prowler-pro-light.png
Labels: documentation

#4092 chore(logo): resize logo in README and update favicon and architecture
  README.md
  docs/favicon.ico
  docs/img/architecture.png
Labels: documentation

#4113 docs(dashboard): Update docs related with the Prowler Dashboard
  docs/index.md
  docs/tutorials/img/dashboard/dashboard-compliance.png
  docs/tutorials/img/dashboard/dashboard-overview.png
Labels: documentation

#4115 chore(dependency): add TruffleHog dependency to docs
  docs/developer-guide/introduction.md
Labels: documentation

#4116 fix(rds): ParameterValue MySQL and MariaDB RDS Instances
  prowler/providers/aws/services/rds/rds_instance_transport_encrypted/rds_instance_transport_encrypted.py
  tests/providers/aws/services/rds/rds_instance_transport_encrypted/rds_instance_transport_encrypted_test.py
Labels: provider/aws

#4118 chore(docs): add mapping of CSV headers with providers
  docs/tutorials/reporting.md
Labels: documentation

#4095 feat(sns): sns topics no http subscriptions
  prowler/providers/aws/services/sns/sns_service.py
  prowler/providers/aws/services/sns/sns_subscription_not_using_http_endpoints/__init__.py
  prowler/providers/aws/services/sns/sns_subscription_not_using_http_endpoints/sns_subscription_not_using_http_endpoints.metadata.json
  prowler/providers/aws/services/sns/sns_subscription_not_using_http_endpoints/sns_subscription_not_using_http_endpoints.py
  tests/providers/aws/services/sns/sns_service_test.py
  tests/providers/aws/services/sns/sns_subscription_not_using_http_endpoints/sns_subscription_not_using_http_endpoints_test.py
Labels: provider/aws

#4117 chore(gcp): add script to enable APIs in GCP projects
  contrib/aws/cloud9/cloud9-installation.sh
  contrib/aws/cloudshell/cloudshell-installation.sh
  contrib/aws/codebuild/codebuild-prowlerv2-audit-account-cfn.yaml
  contrib/aws/codebuild/codebuild-prowlerv3-audit-account-cfn.yaml
  contrib/aws/multi-account-securityhub/.awsvariables
  contrib/aws/multi-account-securityhub/Dockerfile
  contrib/aws/multi-account-securityhub/README.md
  contrib/aws/multi-account-securityhub/run-prowler-securityhub.sh
  contrib/aws/multi-account-securityhub/templates/CF-Prowler-CrossAccountRole.yml
  contrib/aws/multi-account-securityhub/templates/CF-Prowler-ECS.yml
  contrib/aws/multi-account-securityhub/templates/CF-Prowler-IAM.yml
  contrib/aws/org-multi-account/ProwlerEC2.yaml
  contrib/aws/org-multi-account/ProwlerRole.yaml
  contrib/aws/org-multi-account/ProwlerS3.yaml
  contrib/aws/org-multi-account/README.md
  contrib/aws/org-multi-account/serverless_codebuild/README.md
  contrib/aws/org-multi-account/serverless_codebuild/README_kr.md
  contrib/aws/org-multi-account/serverless_codebuild/docs/images/prowler_org_architecture.png
  contrib/aws/org-multi-account/serverless_codebuild/docs/images/s3_screenshot.png
  contrib/aws/org-multi-account/serverless_codebuild/src/run-prowler-reports.sh
  contrib/aws/org-multi-account/serverless_codebuild/src/run-prowler-reports.sh.zip
  contrib/aws/org-multi-account/serverless_codebuild/templates/ProwlerCodeBuildStack.yaml
  contrib/aws/org-multi-account/serverless_codebuild/templates/ProwlerRole.yaml
  contrib/aws/org-multi-account/serverless_codebuild/templates/ProwlerS3.yaml
  contrib/aws/org-multi-account/src/run-prowler-reports.sh
  contrib/gcp/enable_apis_in_projects.sh
  docs/tutorials/gcp/authentication.md
Labels: documentation

#4120 chore(version): update Prowler version
  docs/tutorials/reporting.md
  prowler/config/config.py
  pyproject.toml
Labels: documentation

#4122 fix(rds): solve TypeError and make Certificate class
  prowler/providers/aws/services/rds/rds_instance_certificate_expiration/rds_instance_certificate_expiration.py
  prowler/providers/aws/services/rds/rds_service.py
  tests/providers/aws/services/rds/rds_instance_certificate_expiration/rds_instance_certificate_expiration_test.py
Labels: provider/aws

#4126 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4121 fix(eventbridge): solve import function in check
  prowler/providers/aws/services/eventbridge/eventbridge_schema_registry_cross_account_access/eventbridge_schema_registry_cross_account_access.py
  prowler/providers/aws/services/eventbridge/eventbridge_service.py
  tests/providers/aws/services/eventbridge/eventbridge_schema_registry_cross_account_access/eventbridge_schema_registry_cross_account_access_test.py
Labels: testing-pending, provider/aws

#4135 fix(allowlist): Handle items starting by *
  prowler/providers/aws/lib/allowlist/allowlist.py
  tests/providers/aws/lib/allowlist/allowlist_test.py
Labels: provider/aws, v3

#4134 chore(cloudformation): Update related URL
  prowler/providers/aws/services/cloudformation/cloudformation_stack_outputs_find_secrets/cloudformation_stack_outputs_find_secrets.metadata.json
Labels: provider/aws, backport-v3

#4131 chore(version): update Prowler version
  docs/tutorials/reporting.md
  prowler/config/config.py
  pyproject.toml
Labels: documentation

#4137 chore(vpc): add scan unused services logic to VPC checks
  docs/tutorials/scan-unused-services.md
  prowler/providers/aws/services/vpc/vpc_service.py
  prowler/providers/aws/services/vpc/vpc_subnet_different_az/vpc_subnet_different_az.py
  prowler/providers/aws/services/vpc/vpc_subnet_no_public_ip_by_default/vpc_subnet_no_public_ip_by_default.py
  prowler/providers/aws/services/vpc/vpc_subnet_separate_private_public/vpc_subnet_separate_private_public.py
  tests/providers/aws/services/vpc/vpc_subnet_different_az/vpc_subnet_different_az_test.py
  tests/providers/aws/services/vpc/vpc_subnet_no_public_ip_by_default/vpc_subnet_no_public_ip_by_default_test.py
  tests/providers/aws/services/vpc/vpc_subnet_separate_private_public/vpc_subnet_separate_private_public_test.py
Labels: documentation, provider/aws, backport-v3

#4140 fix(allowlist): return False if something fails
  prowler/providers/aws/lib/allowlist/allowlist.py
Labels: provider/aws, v3

#4138 chore(ec2): add scan unused services logic to SG check
  docs/tutorials/scan-unused-services.md
  prowler/providers/aws/services/ec2/ec2_securitygroup_default_restrict_traffic/ec2_securitygroup_default_restrict_traffic.py
  tests/providers/aws/services/ec2/ec2_securitygroup_default_restrict_traffic/ec2_securitygroup_default_restrict_traffic_test.py
Labels: documentation, provider/aws, backport-v3

#4147 fix(defender): Add new parameter required by new API version
  prowler/providers/azure/services/defender/defender_service.py
Labels: provider/azure, backport-v3

#4149 chore(iam): Downgrade AWS IAM check severity
  prowler/providers/aws/services/iam/iam_no_custom_policy_permissive_role_assumption/iam_no_custom_policy_permissive_role_assumption.metadata.json
Labels: provider/aws, backport-v3

#4143 fix(mutelist): Split code for AWS and the rest of providers
  prowler/lib/mutelist/models.py
  prowler/lib/mutelist/mutelist.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/mutelist/__init__.py
  prowler/providers/aws/lib/mutelist/mutelist.py
  prowler/providers/common/provider.py
  tests/lib/mutelist/mutelist_test.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/aws/lib/mutelist/aws_mutelist_test.py
Labels: provider/aws

#4094 chore(AWS): allow ingress to any port for user defined network interface types
  docs/tutorials/configuration_file.md
  prowler/config/config.yaml
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_any_port/ec2_securitygroup_allow_ingress_from_internet_to_any_port.py
  prowler/providers/aws/services/ec2/ec2_service.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/config/fixtures/config_old.yaml
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_any_port/ec2_securitygroup_allow_ingress_from_internet_to_any_port_test.py
Labels: documentation, provider/aws, backport-v3
