Repository prowler-cloud/prowler, pull requests merged in 2024-11, with the labels that each got.

#5563 feat(mutelist): add mute_finding method
  prowler/lib/cli/parser.py
  prowler/lib/mutelist/mutelist.py
  prowler/lib/outputs/common.py
  prowler/lib/outputs/finding.py
  prowler/lib/scan/scan.py
  tests/lib/outputs/finding_test.py
  tests/providers/aws/lib/mutelist/aws_mutelist_test.py
  tests/providers/azure/lib/mutelist/azure_mutelist_test.py
  tests/providers/gcp/lib/mutelist/gcp_mutelist_test.py
  tests/providers/kubernetes/lib/mutelist/kubernetes_mutelist_test.py
Labels: provider/aws, provider/azure, provider/gcp, provider/kubernetes, mutelist

#5585 feat(aws): add new service `transfer`
  prowler/providers/aws/services/transfer/__init__.py
  prowler/providers/aws/services/transfer/transfer_client.py
  prowler/providers/aws/services/transfer/transfer_service.py
  tests/providers/aws/services/transfer/transfer_service_test.py
Labels: provider/aws

#5593 fix(aws): do not flag cross-service confused deputy as public
  prowler/providers/aws/services/iam/iam_role_cross_service_confused_deputy_prevention/iam_role_cross_service_confused_deputy_prevention.py
  prowler/providers/aws/services/iam/lib/policy.py
  tests/providers/aws/services/iam/lib/policy_test.py
Labels: provider/aws

#5494 feat(aws): add new check `cloudwatch_log_group_no_critical_pii_in_logs`
  docs/tutorials/configuration_file.md
  poetry.lock
  prowler/config/config.yaml
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_no_critical_pii_in_logs/__init__.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_no_critical_pii_in_logs/cloudwatch_log_group_no_critical_pii_in_logs.metadata.json
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_no_critical_pii_in_logs/cloudwatch_log_group_no_critical_pii_in_logs.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_service.py
  pyproject.toml
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/config/fixtures/config_old.yaml
  tests/providers/aws/services/cloudwatch/cloudwatch_log_group_no_critical_pii_in_logs/cloudwatch_log_group_no_critical_pii_in_logs_test.py
Labels: documentation, provider/aws

#5607 feat(aws): Update check metadata with category
  prowler/providers/aws/services/awslambda/awslambda_function_url_public/awslambda_function_url_public.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/codeartifact/codeartifact_packages_external_public_publishing_disabled/codeartifact_packages_external_public_publishing_disabled.metadata.json
  prowler/providers/aws/services/dms/dms_instance_no_public_access/dms_instance_no_public_access.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_cluster_public_snapshot/documentdb_cluster_public_snapshot.metadata.json
  prowler/providers/aws/services/efs/efs_not_publicly_accessible/efs_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/emr/emr_cluster_account_public_block_enabled/emr_cluster_account_public_block_enabled.metadata.json
  prowler/providers/aws/services/emr/emr_cluster_publicly_accesible/emr_cluster_publicly_accesible.metadata.json
  prowler/providers/aws/services/eventbridge/eventbridge_bus_exposed/eventbridge_bus_exposed.metadata.json
  prowler/providers/aws/services/glacier/glacier_vaults_policy_public_access/glacier_vaults_policy_public_access.metadata.json
  prowler/providers/aws/services/kafka/kafka_cluster_is_public/kafka_cluster_is_public.metadata.json
  prowler/providers/aws/services/lightsail/lightsail_instance_public/lightsail_instance_public.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_public_snapshot/neptune_cluster_public_snapshot.metadata.json
  prowler/providers/aws/services/redshift/redshift_cluster_public_access/redshift_cluster_public_access.metadata.json
  prowler/providers/aws/services/ssm/ssm_documents_set_as_public/ssm_documents_set_as_public.metadata.json
Labels: provider/aws

#5624 chore: add dependabot labels
  .github/dependabot.yml
Labels: backport-to-v3

#5590 feat(transfer): add new check `transfer_server_encryption_in_transit`
  prowler/providers/aws/services/transfer/transfer_server_in_transit_encryption_enabled/__init__.py
  prowler/providers/aws/services/transfer/transfer_server_in_transit_encryption_enabled/transfer_server_in_transit_encryption_enabled.metadata.json
  prowler/providers/aws/services/transfer/transfer_server_in_transit_encryption_enabled/transfer_server_in_transit_encryption_enabled.py
  prowler/providers/aws/services/transfer/transfer_service.py
  tests/providers/aws/services/transfer/transfer_server_in_transit_encryption_enabled/transfer_server_in_transit_encryption_enabled_test.py
  tests/providers/aws/services/transfer/transfer_service_test.py
Labels: provider/aws

#5603 feat(ecs): add new check `ecs_task_set_no_assign_public_ip`
  prowler/providers/aws/services/ecs/ecs_service.py
  prowler/providers/aws/services/ecs/ecs_task_set_no_assign_public_ip/__init__.py
  prowler/providers/aws/services/ecs/ecs_task_set_no_assign_public_ip/ecs_task_set_no_assign_public_ip.metadata.json
  prowler/providers/aws/services/ecs/ecs_task_set_no_assign_public_ip/ecs_task_set_no_assign_public_ip.py
  tests/providers/aws/services/ecs/ecs_service_test.py
  tests/providers/aws/services/ecs/ecs_task_sets_no_assign_public_ip/ecs_task_sets_no_assign_public_ip_test.py
Labels: provider/aws

#5577 feat(kafka): add new check `kafka_connector_in_transit_encryption_enabled`
  prowler/providers/aws/services/kafka/kafka_connector_in_transit_encryption_enabled/__init__.py
  prowler/providers/aws/services/kafka/kafka_connector_in_transit_encryption_enabled/kafka_connector_in_transit_encryption_enabled.metadata.json
  prowler/providers/aws/services/kafka/kafka_connector_in_transit_encryption_enabled/kafka_connector_in_transit_encryption_enabled.py
  prowler/providers/aws/services/kafka/kafka_service.py
  prowler/providers/aws/services/kafka/kafkaconnect_client.py
  tests/providers/aws/services/kafka/kafka_connector_in_transit_encryption_enabled/kafka_connector_in_transit_encryption_enabled_test.py
  tests/providers/aws/services/kafka/kafka_service_test.py
Labels: provider/aws

#5594 fix(rds): Check Aurora clusters properly for backup plan
  prowler/providers/aws/services/rds/rds_instance_protected_by_backup_plan/rds_instance_protected_by_backup_plan.py
Labels: provider/aws

#5630 fix(k8s): do not raise error when unable to list roles
  prowler/providers/kubernetes/kubernetes_provider.py
Labels: provider/kubernetes

#5628 fix(aws): handle global WAFv2 ACLs in service
  prowler/providers/aws/services/autoscaling/autoscaling_group_capacity_rebalance_enabled/autoscaling_group_capacity_rebalance_enabled.metadata.json
  prowler/providers/aws/services/ecs/ecs_task_definitions_logging_block_mode/ecs_task_definitions_logging_block_mode.metadata.json
  prowler/providers/aws/services/wafv2/wafv2_service.py
Labels: provider/aws

#5549 feat(dms): add new check `dms_endpoint_neptune_iam_authorization_enabled`
  prowler/providers/aws/services/dms/dms_endpoint_neptune_iam_authorization_enabled/__init__.py
  prowler/providers/aws/services/dms/dms_endpoint_neptune_iam_authorization_enabled/dms_endpoint_neptune_iam_authorization_enabled.metadata.json
  prowler/providers/aws/services/dms/dms_endpoint_neptune_iam_authorization_enabled/dms_endpoint_neptune_iam_authorization_enabled.py
  prowler/providers/aws/services/dms/dms_service.py
  tests/providers/aws/services/dms/dms_endpoint_neptune_iam_authorization_enabled/dms_endpoint_neptune_iam_authorization_enabled_test.py
  tests/providers/aws/services/dms/dms_endpoint_ssl_enabled_test/dms_endpoint_ssl_enabled_test.py
  tests/providers/aws/services/dms/dms_instance_minor_version_upgrade_enabled/dms_instance_minor_version_upgrade_enabled_test.py
  tests/providers/aws/services/dms/dms_instance_multi_az/dms_instance_multi_az_test.py
  tests/providers/aws/services/dms/dms_instance_no_public_access/dms_no_public_access_test.py
  tests/providers/aws/services/dms/dms_service_test.py
Labels: provider/aws

#5578 feat(dms): add new check `dms_endpoint_mongodb_authentication_enabled`
  prowler/providers/aws/services/dms/dms_endpoint_mongodb_authentication_enabled/__init__.py
  prowler/providers/aws/services/dms/dms_endpoint_mongodb_authentication_enabled/dms_endpoint_mongodb_authentication_enabled.metadata.json
  prowler/providers/aws/services/dms/dms_endpoint_mongodb_authentication_enabled/dms_endpoint_mongodb_authentication_enabled.py
  prowler/providers/aws/services/dms/dms_service.py
  tests/providers/aws/services/dms/dms_endpoint_mongodb_authentication_enabled/dms_endpoint_mongodb_authentication_enabled_test.py
  tests/providers/aws/services/dms/dms_endpoint_ssl_enabled_test/dms_endpoint_ssl_enabled_test.py
  tests/providers/aws/services/dms/dms_service_test.py
Labels: provider/aws

#5640 feat(aws): Update check metadata with `redudancy` category
  prowler/providers/aws/services/autoscaling/autoscaling_group_multiple_az/autoscaling_group_multiple_az.metadata.json
  prowler/providers/aws/services/dms/dms_instance_multi_az_enabled/dms_instance_multi_az_enabled.metadata.json
  prowler/providers/aws/services/elasticache/elasticache_redis_cluster_automatic_failover_enabled/elasticache_redis_cluster_automatic_failover_enabled.metadata.json
  prowler/providers/aws/services/elasticache/elasticache_redis_cluster_multi_az_enabled/elasticache_redis_cluster_multi_az_enabled.metadata.json
  prowler/providers/aws/services/elb/elb_is_in_multiple_az/elb_is_in_multiple_az.metadata.json
  prowler/providers/aws/services/elbv2/elbv2_is_in_multiple_az/elbv2_is_in_multiple_az.metadata.json
  prowler/providers/aws/services/mq/mq_broker_cluster_deployment_mode/mq_broker_cluster_deployment_mode.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_multi_az/neptune_cluster_multi_az.metadata.json
  prowler/providers/aws/services/networkfirewall/networkfirewall_multi_az/networkfirewall_multi_az.metadata.json
  prowler/providers/aws/services/rds/rds_cluster_multi_az/rds_cluster_multi_az.metadata.json
  prowler/providers/aws/services/rds/rds_instance_multi_az/rds_instance_multi_az.metadata.json
  prowler/providers/aws/services/vpc/vpc_subnet_different_az/vpc_subnet_different_az.metadata.json
Labels: provider/aws

#5638 feat(rds): add `rds_cluster_protected_by_backup_plan` check
  prowler/providers/aws/services/rds/rds_cluster_protected_by_backup_plan/__init__.py
  prowler/providers/aws/services/rds/rds_cluster_protected_by_backup_plan/rds_cluster_protected_by_backup_plan.metadata.json
  prowler/providers/aws/services/rds/rds_cluster_protected_by_backup_plan/rds_cluster_protected_by_backup_plan.py
  tests/providers/aws/services/rds/rds_cluster_protected_by_backup_plan/rds_cluster_protected_by_backup_plan_test.py
Labels: provider/aws

#5637 fix(gcp): do not require organization id to get projects
  prowler/providers/gcp/gcp_provider.py
Labels: provider/gcp

#5636 fix(connection): return Connection on generic exception
  prowler/providers/aws/aws_provider.py
  tests/providers/aws/aws_provider_test.py
Labels: provider/aws

#5641 chore(backport): master changes to v4.5 branch
  README.md
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/services/autoscaling/autoscaling_group_multiple_az/autoscaling_group_multiple_az.metadata.json
  prowler/providers/aws/services/dms/dms_instance_multi_az_enabled/dms_instance_multi_az_enabled.metadata.json
  prowler/providers/aws/services/elasticache/elasticache_redis_cluster_automatic_failover_enabled/elasticache_redis_cluster_automatic_failover_enabled.metadata.json
  prowler/providers/aws/services/elasticache/elasticache_redis_cluster_multi_az_enabled/elasticache_redis_cluster_multi_az_enabled.metadata.json
  prowler/providers/aws/services/elb/elb_is_in_multiple_az/elb_is_in_multiple_az.metadata.json
  prowler/providers/aws/services/elbv2/elbv2_is_in_multiple_az/elbv2_is_in_multiple_az.metadata.json
  prowler/providers/aws/services/mq/mq_broker_cluster_deployment_mode/mq_broker_cluster_deployment_mode.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_multi_az/neptune_cluster_multi_az.metadata.json
  prowler/providers/aws/services/networkfirewall/networkfirewall_multi_az/networkfirewall_multi_az.metadata.json
  prowler/providers/aws/services/rds/rds_cluster_multi_az/rds_cluster_multi_az.metadata.json
  prowler/providers/aws/services/rds/rds_cluster_protected_by_backup_plan/__init__.py
  prowler/providers/aws/services/rds/rds_cluster_protected_by_backup_plan/rds_cluster_protected_by_backup_plan.metadata.json
  prowler/providers/aws/services/rds/rds_cluster_protected_by_backup_plan/rds_cluster_protected_by_backup_plan.py
  prowler/providers/aws/services/rds/rds_instance_multi_az/rds_instance_multi_az.metadata.json
  prowler/providers/aws/services/vpc/vpc_subnet_different_az/vpc_subnet_different_az.metadata.json
  prowler/providers/gcp/gcp_provider.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/aws/services/rds/rds_cluster_protected_by_backup_plan/rds_cluster_protected_by_backup_plan_test.py
Labels: provider/aws, provider/gcp

#5644 fix(docs): Update misc tutorial categories example
  docs/tutorials/misc.md
Labels: documentation

#5583 feat(dms): add new check `dms_endpoint_redis_tls_enabled`
  prowler/providers/aws/services/dms/dms_endpoint_redis_in_transit_encryption_enabled/__init__.py
  prowler/providers/aws/services/dms/dms_endpoint_redis_in_transit_encryption_enabled/dms_endpoint_redis_in_transit_encryption_enabled.metadata.json
  prowler/providers/aws/services/dms/dms_endpoint_redis_in_transit_encryption_enabled/dms_endpoint_redis_in_transit_encryption_enabled.py
  prowler/providers/aws/services/dms/dms_service.py
  tests/providers/aws/services/dms/dms_endpoint_redis_in_transit_encryption_enabled/dms_endpoint_redis_in_transit_encryption_enabled_test.py
  tests/providers/aws/services/dms/dms_endpoint_ssl_enabled_test/dms_endpoint_ssl_enabled_test.py
  tests/providers/aws/services/dms/dms_service_test.py
Labels: provider/aws

#5589 feat(appsync): Add new service AppSync
  prowler/providers/aws/services/appsync/__init__.py
  prowler/providers/aws/services/appsync/appsync_client.py
  prowler/providers/aws/services/appsync/appsync_service.py
  tests/providers/aws/services/appsync/appsync_service_test.py
Labels: provider/aws

#5618 feat(servicecatalog): Add new service servicecatalog
  prowler/providers/aws/services/servicecatalog/__init__.py
  prowler/providers/aws/services/servicecatalog/servicecatalog_client.py
  prowler/providers/aws/services/servicecatalog/servicecatalog_service.py
  tests/providers/aws/services/servicecatalog/servicecatalog_service_test.py
Labels: provider/aws

#5627 feat(dms): add new check `dms_replication_task_source_logging_enabled`
  prowler/providers/aws/services/dms/dms_replication_task_source_logging_enabled/__init__.py
  prowler/providers/aws/services/dms/dms_replication_task_source_logging_enabled/dms_replication_task_source_logging_enabled.metadata.json
  prowler/providers/aws/services/dms/dms_replication_task_source_logging_enabled/dms_replication_task_source_logging_enabled.py
  prowler/providers/aws/services/dms/dms_service.py
  tests/providers/aws/services/dms/dms_replication_task_source_logging_enabled/dms_replication_task_source_logging_enabled_test.py
  tests/providers/aws/services/dms/dms_service_test.py
Labels: provider/aws

#5668 fix(guardduty): fix `guardduty_is_enabled_fixer` test
  tests/providers/aws/services/guardduty/guardduty_is_enabled/guardduty_is_enabled_fixer_test.py
Labels: provider/aws

#5672 fix(aws): update EKS check in compliance frameworks
  prowler/compliance/aws/aws_well_architected_framework_security_pillar_aws.json
  prowler/compliance/aws/kisa_isms_p_2023_aws.json
  prowler/compliance/aws/kisa_isms_p_2023_korean_aws.json
  prowler/compliance/aws/nist_800_171_revision_2_aws.json
  prowler/compliance/aws/nist_csf_1.1_aws.json
  prowler/compliance/azure/cis_2.1_azure.json
Labels: backport-to-v4.5

#5670 chore(aws): deprecate `glue_etl_jobs_logging_enabled` check
  prowler/providers/aws/services/glue/glue_etl_jobs_logging_enabled/glue_etl_jobs_logging_enabled.metadata.json
Labels: provider/aws, backport-to-v4.5

#5591 feat(appsync): add new check `appsync_graphql_apis_no_api_key_authentication`
  prowler/providers/aws/services/appsync/appsync_graphql_api_no_api_key_authentication/__init__.py
  prowler/providers/aws/services/appsync/appsync_graphql_api_no_api_key_authentication/appsync_graphql_api_no_api_key_authentication.metadata.json
  prowler/providers/aws/services/appsync/appsync_graphql_api_no_api_key_authentication/appsync_graphql_api_no_api_key_authentication.py
  prowler/providers/aws/services/appsync/appsync_service.py
  tests/providers/aws/services/appsync/appsync_graphql_api_no_api_key_authentication/appsync_graphql_api_no_api_key_authentication_test.py
Labels: provider/aws

#5632 feat(servicecatalog): Add new check `servicecatalog_portfolio_shared_within_organization_only`
  prowler/providers/aws/services/servicecatalog/servicecatalog_portfolio_shared_within_organization_only/__init__.py
  prowler/providers/aws/services/servicecatalog/servicecatalog_portfolio_shared_within_organization_only/servicecatalog_portfolio_shared_within_organization_only.metadata.json
  prowler/providers/aws/services/servicecatalog/servicecatalog_portfolio_shared_within_organization_only/servicecatalog_portfolio_shared_within_organization_only.py
  prowler/providers/aws/services/servicecatalog/servicecatalog_service.py
  tests/providers/aws/services/servicecatalog/servicecatalog_portfolio_shared_within_organization_only/servicecatalog_portfolio_shared_within_organization_only_test.py
Labels: provider/aws

#5697 fix(ec2): unique finding per Security Group in high risk ports check
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports_test.py
Labels: provider/aws, backport-to-v4.5

#5671 docs: Update `contact.md` with new Slack join URL
  README.md
  docs/contact.md
  docs/developer-guide/introduction.md
  prowler/lib/outputs/slack/slack.py
  tests/lib/outputs/slack/slack_test.py
Labels: documentation, integration/slack

#5713 fix(docs): provider typo
  docs/developer-guide/provider.md
Labels: documentation

#5602 feat(appsync): add new check `appsync_field_level_logging_enabled`
  prowler/providers/aws/services/appsync/appsync_field_level_logging_enabled/__init__.py
  prowler/providers/aws/services/appsync/appsync_field_level_logging_enabled/appsync_field_level_logging_enabled.metadata.json
  prowler/providers/aws/services/appsync/appsync_field_level_logging_enabled/appsync_field_level_logging_enabled.py
  tests/providers/aws/services/appsync/appsync_field_level_logging_enabled/appsync_field_level_logging_enabled_test.py
Labels: provider/aws

#5604 feat(mq): add `mq_broker_not_publicly_accessible` check
  prowler/providers/aws/services/mq/mq_broker_not_publicly_accessible/__init__.py
  prowler/providers/aws/services/mq/mq_broker_not_publicly_accessible/mq_broker_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/mq/mq_broker_not_publicly_accessible/mq_broker_not_publicly_accessible.py
  prowler/providers/aws/services/mq/mq_service.py
  tests/providers/aws/services/mq/mq_broker_not_publicly_accessible/mq_broker_not_publicly_accessible_test.py
  tests/providers/aws/services/mq/mq_service_test.py
Labels: provider/aws

#5639 feat(aws): Update check metadata with `logging` category
  prowler/providers/aws/services/acm/acm_certificates_transparency_logs_enabled/acm_certificates_transparency_logs_enabled.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_logging_enabled/apigateway_restapi_logging_enabled.metadata.json
  prowler/providers/aws/services/apigatewayv2/apigatewayv2_api_access_logging_enabled/apigatewayv2_api_access_logging_enabled.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled.metadata.json
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_logging_enabled/cloudfront_distributions_logging_enabled.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_cloudwatch_logging_enabled/cloudtrail_cloudwatch_logging_enabled.metadata.json
  prowler/providers/aws/services/directoryservice/directoryservice_directory_log_forwarding_enabled/directoryservice_directory_log_forwarding_enabled.metadata.json
  prowler/providers/aws/services/eks/eks_control_plane_logging_all_types_enabled/eks_control_plane_logging_all_types_enabled.metadata.json
  prowler/providers/aws/services/elb/elb_logging_enabled/elb_logging_enabled.metadata.json
  prowler/providers/aws/services/elbv2/elbv2_logging_enabled/elbv2_logging_enabled.metadata.json
  prowler/providers/aws/services/glue/glue_etl_jobs_logging_enabled/glue_etl_jobs_logging_enabled.metadata.json
  prowler/providers/aws/services/mq/mq_broker_logging_enabled/mq_broker_logging_enabled.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_integration_cloudwatch_logs/neptune_cluster_integration_cloudwatch_logs.metadata.json
  prowler/providers/aws/services/opensearch/opensearch_service_domains_audit_logging_enabled/opensearch_service_domains_audit_logging_enabled.metadata.json
  prowler/providers/aws/services/opensearch/opensearch_service_domains_cloudwatch_logging_enabled/opensearch_service_domains_cloudwatch_logging_enabled.metadata.json
  prowler/providers/aws/services/rds/rds_cluster_integration_cloudwatch_logs/rds_cluster_integration_cloudwatch_logs.metadata.json
  prowler/providers/aws/services/rds/rds_instance_integration_cloudwatch_logs/rds_instance_integration_cloudwatch_logs.metadata.json
  prowler/providers/aws/services/redshift/redshift_cluster_audit_logging/redshift_cluster_audit_logging.metadata.json
  prowler/providers/aws/services/vpc/vpc_flow_logs_enabled/vpc_flow_logs_enabled.metadata.json
Labels: provider/aws

#5736 fix(aws): remove `cloudwatch_log_group_no_critical_pii_in_logs` check
  Dockerfile
  docs/tutorials/configuration_file.md
  poetry.lock
  prowler/config/config.yaml
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_no_critical_pii_in_logs/__init__.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_no_critical_pii_in_logs/cloudwatch_log_group_no_critical_pii_in_logs.metadata.json
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_no_critical_pii_in_logs/cloudwatch_log_group_no_critical_pii_in_logs.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_service.py
  pyproject.toml
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/config/fixtures/config_old.yaml
  tests/providers/aws/services/cloudwatch/cloudwatch_log_group_no_critical_pii_in_logs/cloudwatch_log_group_no_critical_pii_in_logs_test.py
Labels: documentation, provider/aws

#5620 feat(aws): add new service `firehose`
  prowler/providers/aws/services/firehose/__init__.py
  prowler/providers/aws/services/firehose/firehose_client.py
  prowler/providers/aws/services/firehose/firehose_service.py
  prowler/providers/aws/services/mq/mq_service.py
  tests/providers/aws/services/firehose/firehose_service_test.py
Labels: provider/aws

#5743 fix(gcp): scan only ACTIVE projects
  prowler/providers/gcp/exceptions/exceptions.py
  prowler/providers/gcp/gcp_provider.py
  tests/providers/gcp/gcp_provider_test.py
Labels: provider/gcp, backport-to-v4.5

#5748 feat(aws): get regions by partition
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/exceptions/exceptions.py
  prowler/providers/aws/lib/arguments/arguments.py
  tests/config/config_test.py
  tests/providers/aws/aws_provider_test.py
Labels: provider/aws

#5751 refactor(azure): get locations with self session
  prowler/providers/azure/azure_provider.py
  prowler/providers/azure/services/network/network_watcher_enabled/network_watcher_enabled.py
  tests/providers/azure/services/network/network_watcher_enabled/network_watcher_enabled_test.py
Labels: provider/azure

#5756 feat(gcp): add get regions method
  prowler/providers/gcp/gcp_provider.py
Labels: provider/gcp

#5755 chore(ec2): add name from image information to status_extended
  prowler/providers/aws/services/ec2/ec2_ami_public/ec2_ami_public.py
  prowler/providers/aws/services/ec2/ec2_service.py
  tests/providers/aws/services/ec2/ec2_ami_public/ec2_ami_public_test.py
Labels: provider/aws, backport-to-v3, backport-to-v4.5

#5772 refactor(aws): Rename get_regions and validate partition
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/arguments/arguments.py
  prowler/providers/aws/models.py
  tests/config/config_test.py
  tests/providers/aws/aws_provider_test.py
Labels: provider/aws

#5774 feat(azure): Add get_regions method for provider
  prowler/providers/azure/azure_provider.py
  tests/providers/azure/azure_provider_test.py
Labels: provider/azure

#5635 feat(firehose): add new check `firehose_stream_encrypted_at_rest`
  prowler/providers/aws/services/firehose/firehose_service.py
  prowler/providers/aws/services/firehose/firehose_stream_encrypted_at_rest/__init__.py
  prowler/providers/aws/services/firehose/firehose_stream_encrypted_at_rest/firehose_stream_encrypted_at_rest.metadata.json
  prowler/providers/aws/services/firehose/firehose_stream_encrypted_at_rest/firehose_stream_encrypted_at_rest.py
  tests/providers/aws/services/firehose/firehose_service_test.py
  tests/providers/aws/services/firehose/firehose_stream_encrypted_at_rest/firehose_stream_encrypted_at_rest_test.py
Labels: provider/aws

#5773 feat(rds): add new fixer `rds_snapshots_public_access_fixer`
  prowler/providers/aws/services/rds/rds_snapshots_public_access/rds_snapshots_public_access_fixer.py
  tests/providers/aws/services/rds/rds_snapshots_public_access/rds_snapshots_public_access_fixer_test.py
Labels: provider/aws

#5547 feat(kinesis): add new check `kinesis_stream_data_retention_period`
  prowler/config/config.yaml
  prowler/providers/aws/services/kinesis/kinesis_service.py
  prowler/providers/aws/services/kinesis/kinesis_stream_data_retention_period/__init__.py
  prowler/providers/aws/services/kinesis/kinesis_stream_data_retention_period/kinesis_stream_data_retention_period.metadata.json
  prowler/providers/aws/services/kinesis/kinesis_stream_data_retention_period/kinesis_stream_data_retention_period.py
  tests/providers/aws/services/kinesis/kinesis_service_test.py
  tests/providers/aws/services/kinesis/kinesis_stream_data_retention_period/kinesis_stream_data_retention_period_test.py
Labels: provider/aws

#5785 fix(iam): use `get` to get the key
  prowler/providers/gcp/services/iam/iam_service.py
Labels: provider/gcp, backport-to-v4.5

#5786 fix(compliance): use subscriptionid instead of name for azure cis
  prowler/lib/outputs/compliance/cis/cis_azure.py
  prowler/lib/outputs/compliance/cis/models.py
  tests/lib/outputs/compliance/cis/cis_azure_test.py
Labels: compliance, backport-to-v4.5

#5715 docs(azure): improve docstrings
  prowler/providers/azure/azure_provider.py
Labels: provider/azure

#5714 docs(aws): improve docstrings
  prowler/providers/aws/aws_provider.py
Labels: provider/aws

#5717 docs(kubernetes): improve docstrings for methods
  prowler/providers/kubernetes/kubernetes_provider.py
Labels: provider/kubernetes

#5716 docs(gcp): improve docstrings
  prowler/providers/gcp/gcp_provider.py
Labels: provider/gcp

#5801 feat(aws): add new check `iam_root_credentials_management_enabled`
  prowler/providers/aws/services/iam/iam_no_root_access_key/iam_no_root_access_key.py
  prowler/providers/aws/services/iam/iam_root_credentials_management_enabled/__init__.py
  prowler/providers/aws/services/iam/iam_root_credentials_management_enabled/iam_root_credentials_management_enabled.metadata.json
  prowler/providers/aws/services/iam/iam_root_credentials_management_enabled/iam_root_credentials_management_enabled.py
  prowler/providers/aws/services/iam/iam_root_hardware_mfa_enabled/iam_root_hardware_mfa_enabled.py
  prowler/providers/aws/services/iam/iam_root_mfa_enabled/iam_root_mfa_enabled.py
  prowler/providers/aws/services/iam/iam_service.py
  prowler/providers/aws/services/organizations/organizations_account_part_of_organizations/organizations_account_part_of_organizations.py
  prowler/providers/aws/services/organizations/organizations_delegated_administrators/organizations_delegated_administrators.py
  prowler/providers/aws/services/organizations/organizations_opt_out_ai_services_policy/organizations_opt_out_ai_services_policy.py
  prowler/providers/aws/services/organizations/organizations_scp_check_deny_regions/organizations_scp_check_deny_regions.py
  prowler/providers/aws/services/organizations/organizations_service.py
  prowler/providers/aws/services/organizations/organizations_tags_policies_enabled_and_attached/organizations_tags_policies_enabled_and_attached.py
  prowler/providers/aws/services/servicecatalog/servicecatalog_portfolio_shared_within_organization_only/servicecatalog_portfolio_shared_within_organization_only.py
  tests/providers/aws/services/iam/iam_no_root_access_key/iam_no_root_access_key_test.py
  tests/providers/aws/services/iam/iam_root_credentials_management_enabled/iam_root_credentials_management_enabled_test.py
  tests/providers/aws/services/iam/iam_root_hardware_mfa_enabled/iam_root_hardware_mfa_enabled_test.py
  tests/providers/aws/services/organizations/organizations_opt_out_ai_services_policy/organizations_opt_out_ai_services_policy_test.py
  tests/providers/aws/services/organizations/organizations_scp_check_deny_regions/organizations_scp_check_deny_regions_test.py
  tests/providers/aws/services/organizations/organizations_service_test.py
  tests/providers/aws/services/organizations/organizations_tags_policies_enabled_and_attached/organizations_tags_policies_enabled_and_attached_test.py
Labels: provider/aws

#5811 fix(wafv2): only list resources for regional Web ACLs
  prowler/providers/aws/services/wafv2/wafv2_service.py
Labels: provider/aws, backport-to-v4.5

#5816 chore(iam): add missing service catalog permissions
  permissions/create_role_to_assume_cfn.yaml
  permissions/prowler-additions-policy.json
Labels: backport-to-v4.5

#5826 fix(rds): fix typo error in `rds_snapshots_public_access_fixer` test
  tests/providers/aws/services/rds/rds_snapshots_public_access/rds_snapshots_public_access_fixer_test.py
Labels: provider/aws

#4759 chore(iam): add exception for public policy in EKS service
  prowler/providers/aws/services/iam/iam_role_cross_service_confused_deputy_prevention/iam_role_cross_service_confused_deputy_prevention.metadata.json
  prowler/providers/aws/services/iam/lib/policy.py
  tests/providers/aws/services/iam/lib/policy_test.py
Labels: provider/aws

#5814 fix(kubernetes): validate seccomp profile at pod and container levels
  prowler/providers/kubernetes/services/core/core_seccomp_profile_docker_default/core_seccomp_profile_docker_default.py
Labels: provider/kubernetes

#5712 refactor(arn): refactor arn for unknown resources
  docs/developer-guide/checks.md
  prowler/providers/aws/lib/service/service.py
  prowler/providers/aws/services/accessanalyzer/accessanalyzer_service.py
  prowler/providers/aws/services/bedrock/bedrock_model_invocation_logging_enabled/bedrock_model_invocation_logging_enabled.py
  prowler/providers/aws/services/bedrock/bedrock_model_invocation_logs_encryption_enabled/bedrock_model_invocation_logs_encryption_enabled.py
  prowler/providers/aws/services/bedrock/bedrock_service.py
  prowler/providers/aws/services/directconnect/directconnect_connection_redundancy/directconnect_connection_redundancy.py
  prowler/providers/aws/services/directconnect/directconnect_service.py
  prowler/providers/aws/services/guardduty/guardduty_service.py
  prowler/providers/aws/services/organizations/organizations_service.py
  prowler/providers/aws/services/securityhub/securityhub_service.py
  tests/providers/aws/lib/service/service_test.py
  tests/providers/aws/services/accessanalyzer/accessanalyzer_enabled/accessanalyzer_enabled_test.py
  tests/providers/aws/services/bedrock/bedrock_model_invocation_logging_enabled/bedrock_model_invocation_logging_enabled_test.py
  tests/providers/aws/services/bedrock/bedrock_model_invocation_logs_encryption_enabled/bedrock_model_invocation_logs_encryption_enabled_test.py
  tests/providers/aws/services/directconnect/directconnect_connection_redundancy/directconnect_connection_redundancy_test.py
  tests/providers/aws/services/iam/iam_check_saml_providers_sts/iam_check_saml_providers_sts_test.py
  tests/providers/aws/services/organizations/organizations_account_part_of_organizations/organizations_account_part_of_organizations_test.py
  tests/providers/aws/services/organizations/organizations_opt_out_ai_services_policy/organizations_opt_out_ai_services_policy_test.py
  tests/providers/aws/services/organizations/organizations_scp_check_deny_regions/organizations_scp_check_deny_regions_test.py
  tests/providers/aws/services/organizations/organizations_tags_policies_enabled_and_attached/organizations_tags_policies_enabled_and_attached_test.py
  tests/providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled_test.py
Labels: documentation, provider/aws

#5841 refactor(arn): fine tune arn and resources id for unknown values
  docs/developer-guide/checks.md
  prowler/providers/aws/lib/service/service.py
  prowler/providers/aws/services/accessanalyzer/accessanalyzer_enabled/accessanalyzer_enabled.py
  prowler/providers/aws/services/accessanalyzer/accessanalyzer_service.py
  prowler/providers/aws/services/bedrock/bedrock_model_invocation_logging_enabled/bedrock_model_invocation_logging_enabled.py
  prowler/providers/aws/services/bedrock/bedrock_model_invocation_logs_encryption_enabled/bedrock_model_invocation_logs_encryption_enabled.py
  prowler/providers/aws/services/guardduty/guardduty_service.py
  prowler/providers/aws/services/securityhub/securityhub_service.py
  tests/providers/aws/lib/service/service_test.py
  tests/providers/aws/services/accessanalyzer/accessanalyzer_enabled/accessanalyzer_enabled_test.py
  tests/providers/aws/services/bedrock/bedrock_model_invocation_logging_enabled/bedrock_model_invocation_logging_enabled_test.py
  tests/providers/aws/services/bedrock/bedrock_model_invocation_logs_encryption_enabled/bedrock_model_invocation_logs_encryption_enabled_test.py
  tests/providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled_test.py
Labels: documentation, provider/aws

#5829 fix(kubernetes): filter apiGroup in permission checks
  prowler/providers/kubernetes/services/rbac/lib/role_permissions.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_csr_approval_access/rbac_minimize_csr_approval_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_node_proxy_subresource_access/rbac_minimize_node_proxy_subresource_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pod_creation_access/rbac_minimize_pod_creation_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pv_creation_access/rbac_minimize_pv_creation_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_secret_access/rbac_minimize_secret_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_service_account_token_creation/rbac_minimize_service_account_token_creation.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_webhook_config_access/rbac_minimize_webhook_config_access.py
  tests/providers/kubernetes/services/rbac/lib/role_permissions_test.py
Labels: provider/kubernetes

#5570 feat(sgw): add `storagegateway_fault_tolerance` check
  prowler/providers/aws/services/storagegateway/storagegateway_gateway_fault_tolerant/__init__.py
  prowler/providers/aws/services/storagegateway/storagegateway_gateway_fault_tolerant/storagegateway_gateway_fault_tolerant.metadata.json
  prowler/providers/aws/services/storagegateway/storagegateway_gateway_fault_tolerant/storagegateway_gateway_fault_tolerant.py
  prowler/providers/aws/services/storagegateway/storagegateway_service.py
  tests/providers/aws/services/storagegateway/storagegateway_gateway_fault_tolerant/storagegateway_gateway_fault_tolerant_test.py
  tests/providers/aws/services/storagegateway/storagegateway_service_test.py
Labels: provider/aws

#5746 feat(compliance): add ens for azure and gcp
  README.md
  dashboard/compliance/ens_rd2022_azure.py
  dashboard/compliance/ens_rd2022_gcp.py
  dashboard/pages/compliance.py
  prowler/__main__.py
  prowler/compliance/azure/ens_rd2022_azure.json
  prowler/compliance/gcp/ens_rd2022_gcp.json
  prowler/lib/outputs/compliance/ens/ens.py
  prowler/lib/outputs/compliance/ens/ens_azure.py
  prowler/lib/outputs/compliance/ens/ens_gcp.py
  prowler/lib/outputs/compliance/ens/models.py
  tests/lib/cli/parser_test.py
  tests/lib/outputs/compliance/ens/ens_azure_test.py
  tests/lib/outputs/compliance/ens/ens_gcp_test.py
  tests/lib/outputs/compliance/fixtures.py
Labels: compliance

#5842 feat(kms): add new fixer `kms_cmk_not_deleted_unintentionally_fixer`
  prowler/providers/aws/services/kms/kms_cmk_not_deleted_unintentionally/kms_cmk_not_deleted_unintentionally_fixer.py
  tests/providers/aws/services/kms/kms_cmk_not_deleted_unintentionally/kms_cmk_not_deleted_unintentionally_fixer_test.py
Labels: provider/aws

#5856 fix(severity): add enum for severity values
  prowler/providers/aws/services/ec2/lib/instance.py
Labels: provider/aws, backport-to-v4.5

#5825 feat(ec2): add new fixer `ec2_ebs_public_snapshot_fixer`
  prowler/providers/aws/services/ec2/ec2_ebs_public_snapshot/ec2_ebs_public_snapshot_fixer.py
  tests/providers/aws/services/ec2/ec2_ebs_public_snapshot/ec2_ebs_public_snapshot_fixer_test.py
Labels: provider/aws

#5858 Fix CIS details for new EFS Controls
  prowler/compliance/aws/cis_1.5_aws.json
  prowler/compliance/aws/cis_2.0_aws.json
  prowler/compliance/aws/cis_3.0_aws.json
Labels: compliance, backport-to-v4.5

#5749 feat(neptune): add new fixer `neptune_cluster_public_snapshot_fixer`
  prowler/providers/aws/services/neptune/neptune_cluster_public_snapshot/neptune_cluster_public_snapshot_fixer.py
  tests/providers/aws/services/neptune/neptune_cluster_public_snapshot/neptune_cluster_public_snapshot_fixer_test.py
Labels: provider/aws

#5759 feat(documentdb): add new fixer `documentdb_cluster_public_snapshot_fixer`
  prowler/providers/aws/services/documentdb/documentdb_cluster_public_snapshot/documentdb_cluster_public_snapshot_fixer.py
  tests/providers/aws/services/documentdb/documentdb_cluster_public_snapshot/documentdb_cluster_public_snapshot_fixer_test.py
Labels: provider/aws

#5846 feat(azure): AI Search service check not publicly accesible
  poetry.lock
  prowler/providers/azure/services/aisearch/__init__.py
  prowler/providers/azure/services/aisearch/aisearch_client.py
  prowler/providers/azure/services/aisearch/aisearch_service.py
  prowler/providers/azure/services/aisearch/aisearch_service_not_publicly_accessible/__init__.py
  prowler/providers/azure/services/aisearch/aisearch_service_not_publicly_accessible/aisearch_service_not_publicly_accessible.metadata.json
  prowler/providers/azure/services/aisearch/aisearch_service_not_publicly_accessible/aisearch_service_not_publicly_accessible.py
  pyproject.toml
  tests/providers/azure/services/aisearch/aisearch_service_public_access_level_is_disabled/aisearch_service_public_access_level_is_disabled_test.py
  tests/providers/azure/services/aisearch/aisearch_service_test.py
Labels: documentation, provider/azure

#5546 feat(aws): add MemoryDB service
  prowler/providers/aws/services/memorydb/__init__.py
  prowler/providers/aws/services/memorydb/memorydb_client.py
  prowler/providers/aws/services/memorydb/memorydb_cluster_auto_minor_version_upgrades/__init__.py
  prowler/providers/aws/services/memorydb/memorydb_cluster_auto_minor_version_upgrades/memorydb_cluster_auto_minor_version_upgrades.metadata.json
  prowler/providers/aws/services/memorydb/memorydb_cluster_auto_minor_version_upgrades/memorydb_cluster_auto_minor_version_upgrades.py
  prowler/providers/aws/services/memorydb/memorydb_service.py
  tests/providers/aws/services/memorydb/memorydb_cluster_auto_minor_version_upgrades/memorydb_cluster_auto_minor_version_upgrades_test.py
  tests/providers/aws/services/memorydb/memorydb_service_test.py
Labels: provider/aws

#5877 chore(gcp): update docstring of ADC credentials
  prowler/providers/gcp/gcp_provider.py
Labels: provider/gcp, backport-to-v4.6

#5903 feat(rbac): RBAC system
  .github/workflows/api-pull-request.yml
  api/src/backend/api/base_views.py
  api/src/backend/api/filters.py
  api/src/backend/api/fixtures/dev/6_dev_rbac.json
  api/src/backend/api/migrations/0001_initial.py
  api/src/backend/api/models.py
  api/src/backend/api/rbac/permissions.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/integration/test_tenants.py
  api/src/backend/api/tests/notest_rbac.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
  api/src/backend/config/django/base.py
  api/src/backend/conftest.py
Labels: github_actions, component/api

#5904 fix(ec2): Change `ec2_sg_high_risk_ports` configurable parameter name
  docs/tutorials/configuration_file.md
  prowler/config/config.yaml
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
Labels: documentation

#5912 feat: configure codeql for ui repository
  .github/codeql/ui-codeql-config.yml
  .github/workflows/ui-codeql.yml
Labels: github_actions

#5906 feat(ui:overview): add new fail findings to date table
  ui/app/(prowler)/page.tsx
  ui/components/overview/index.ts
  ui/components/overview/new-findings-table/link-to-findings/link-to-findings.tsx
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
  ui/components/overview/new-findings-table/table/finding-detail.tsx
  ui/components/overview/new-findings-table/table/index.ts
  ui/components/overview/new-findings-table/table/skeleton-table-new-findings.tsx
  ui/components/overview/provider-overview/provider-overview.tsx
  ui/components/users/table/data-table-row-actions.tsx
Labels: component/ui

#5925 feat(ui:overview) overview findings by status and severity
  ui/actions/overview/overview.ts
  ui/app/(prowler)/compliance/page.tsx
  ui/app/(prowler)/page.tsx
  ui/components/charts/SeverityChart.tsx
  ui/components/charts/StatusChart.tsx
  ui/components/charts/index.ts
  ui/components/filters/custom-date-picker.tsx
  ui/components/filters/custom-region-selection.tsx
  ui/components/filters/custom-search-input.tsx
  ui/components/filters/custom-select-provider.tsx
  ui/components/overview/findings-by-severity-chart/findings-by-severity-chart.tsx
  ui/components/overview/findings-by-severity-chart/skeleton-findings-severity-chart.tsx
  ui/components/overview/findings-by-status-chart/findings-by-status-chart.tsx
  ui/components/overview/findings-by-status-chart/skeleton-findings-status-chart.tsx
  ui/components/overview/index.ts
  ui/components/overview/new-findings-table/link-to-findings/link-to-findings.tsx
  ui/types/components.ts
Labels: component/ui

#5930 fix(list_by_service): get lambda if awslambda
  prowler/lib/check/models.py
  tests/lib/check/models_test.py
Labels: backport-to-v4.6

#5910 feat(overviews): Add API overview endpoints for findings and severity
  .github/workflows/api-pull-request.yml
  .gitignore
  .pre-commit-config.yaml
  api/poetry.lock
  api/src/backend/api/filters.py
  api/src/backend/api/migrations/0001_initial.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_scan.py
Labels: github_actions, component/api

#5933 fix(aws): exclude threat detection checks if category not present
  prowler/lib/check/checks_loader.py
  tests/lib/check/check_loader_test.py
Labels: backport-to-v4.6

#5935 fix(gcp): use session credentials to check if API is active
  prowler/providers/gcp/lib/service/service.py
Labels: provider/gcp, backport-to-v4.6

#5951 chore(auth): restore auth file and move the server action to user file
  ui/actions/auth/auth.ts
  ui/actions/users/users.ts
  ui/app/(prowler)/profile/page.tsx
Labels: component/ui

#5960 chore(codebase) Update/UI code base
  ui/actions/auth/auth.ts
  ui/app/(prowler)/compliance/page.tsx
  ui/auth.config.ts
  ui/components/auth/oss/auth-form.tsx
  ui/components/compliance/compliance-card.tsx
  ui/components/compliance/data-compliance/data-compliance.tsx
  ui/components/providers/workflow/forms/via-credentials/k8s-credentials-form.tsx
  ui/components/ui/custom/custom-textarea.tsx
  ui/components/ui/custom/index.ts
Labels: component/ui

#5963 fix(api): add EKS ARN to K8s validation
  api/src/backend/api/models.py
Labels: component/api

#5961 fix(rds): add default key value to RDS event
  prowler/providers/aws/services/rds/rds_service.py
Labels: provider/aws, backport-to-v3, backport-to-v4.6

#5938 fix(azure): containerregistry_not_publicly_accesible is not accurate
  prowler/providers/azure/services/containerregistry/containerregistry_not_publicly_accessible/containerregistry_not_publicly_accessible.py
  prowler/providers/azure/services/containerregistry/containerregistry_service.py
  tests/providers/azure/services/containerregistry/containerregistry_not_publicly_accessible/containerregistry_not_publicly_accessible_test.py
  tests/providers/azure/services/containerregistry/containerregistry_service_test.py
Labels: provider/azure, backport-to-v4.6

#5939 fix(k8s): handle Kubernetes kubeconfig content correctly
  prowler/providers/kubernetes/kubernetes_provider.py
Labels: provider/kubernetes, backport-to-v4.6

#5956 feat(Provider): add soft deletion for providers and related resources
  api/src/backend/api/db_utils.py
  api/src/backend/api/migrations/0001_initial.py
  api/src/backend/api/models.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/deletion.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_deletion.py
Labels: component/api

#5968 fix(scan): fix deadlock on resource transactions during concurrent scans
  api/.env.example
  api/src/backend/config/settings/celery.py
  api/src/backend/tasks/jobs/scan.py
Labels: component/api

#5885 docs(usage): add documentation for Prowler App usage
  docs/img/add-account.png
  docs/img/add-provider.png
  docs/img/aws-credentials.png
  docs/img/aws-role.png
  docs/img/azure-credentials.png
  docs/img/compliance.png
  docs/img/connect-aws-credentials.png
  docs/img/connect-aws-role.png
  docs/img/findings.png
  docs/img/gcp-credentials.png
  docs/img/kubernetes-credentials.png
  docs/img/log-in.png
  docs/img/scan-progress.png
  docs/img/services.png
  docs/img/sign-up-button.png
  docs/img/sign-up.png
  docs/img/start-now.png
  docs/img/test-connection-button.png
  docs/index.md
  docs/tutorials/azure/create-prowler-service-principal.md
  docs/tutorials/prowler-app.md
  mkdocs.yml
Labels: documentation

#5914 docs(architecture): add Prowler App architecture diagram
  docs/img/prowler-app-architecture.png
  docs/index.md
Labels: documentation

#5883 docs(installation): add documentation for Prowler App installation
  docs/img/compliance-app.png
  docs/index.md
  mkdocs.yml
Labels: documentation

#5916 docs(readme): add Prowler App documentation
  README.md
  docs/index.md
Labels: documentation

#5973 feat(dynamic_filters): add dynamic filters system
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Labels: component/api

#5971 feat(v5): tweaks UI
  ui/actions/findings/findings.ts
  ui/actions/providers/providers.ts
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/page.tsx
  ui/app/(prowler)/providers/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/components/filters/custom-date-picker.tsx
  ui/components/filters/data-filters.ts
  ui/components/filters/filter-controls.tsx
  ui/components/findings/table/column-findings.tsx
  ui/components/findings/table/finding-detail.tsx
  ui/components/overview/findings-by-status-chart/findings-by-status-chart.tsx
  ui/components/overview/new-findings-table/link-to-findings/link-to-findings.tsx
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
  ui/components/overview/new-findings-table/table/finding-detail.tsx
  ui/components/providers/index.ts
  ui/components/providers/link-to-scans.tsx
  ui/components/providers/provider-info.tsx
  ui/components/providers/table/column-providers.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/providers/workflow/forms/via-credentials-form.tsx
  ui/components/providers/workflow/workflow-add-provider.tsx
  ui/components/scans/index.ts
  ui/components/scans/link-to-findings-from-scan.tsx
  ui/components/scans/table/scan-detail.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/scans/table/scans/data-table-row-actions.tsx
  ui/components/ui/custom/custom-button.tsx
  ui/components/ui/custom/custom-dropdown-filter.tsx
  ui/components/ui/entities/date-with-time.tsx
  ui/components/ui/entities/entity-info-short.tsx
  ui/components/ui/entities/get-provider-logo.tsx
  ui/components/ui/entities/index.ts
  ui/components/ui/sidebar/sidebar-items.tsx
  ui/components/ui/sidebar/sidebar-wrap.tsx
Labels: component/ui

#5975 fix(overview): retrieve aggregated findings from completed scans
  api/src/backend/api/v1/views.py
Labels: component/api
