Repository prowler-cloud/prowler, pull requests merged in 2024-01, with the labels that each got.

#3236 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3234 feat(aws): Added AWS role session name parameter
  docs/tutorials/aws/role-assumption.md
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/arguments/arguments.py
  prowler/providers/aws/lib/audit_info/audit_info.py
  prowler/providers/aws/lib/audit_info/models.py
  prowler/providers/common/audit_info.py
  tests/lib/cli/parser_test.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/common/audit_info_test.py
Labels: provider/aws

#3240 chore(role arguments): enhance role arguments validation
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/config.py
  prowler/providers/aws/lib/arguments/arguments.py
  tests/lib/cli/parser_test.py
  tests/providers/common/audit_info_test.py
Labels: provider/aws

#3242 chore(release): update Prowler Version to 3.12.0
  prowler/config/config.py
  pyproject.toml
Labels: status/waiting-for-revision, severity/low

#3249 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3226 feat(kubernetes): add Kubernetes provider
  poetry.lock
  prowler/compliance/kubernetes/__init__.py
  prowler/config/config.yaml
  prowler/config/custom_checks_metadata_example.yaml
  prowler/lib/check/models.py
  prowler/lib/outputs/html.py
  prowler/lib/outputs/models.py
  prowler/lib/outputs/outputs.py
  prowler/lib/outputs/summary_table.py
  prowler/providers/common/audit_info.py
  prowler/providers/common/outputs.py
  prowler/providers/kubernetes/__init__.py
  prowler/providers/kubernetes/kubernetes_provider.py
  prowler/providers/kubernetes/kubernetes_provider_new.py
  prowler/providers/kubernetes/lib/__init__.py
  prowler/providers/kubernetes/lib/arguments/__init__.py
  prowler/providers/kubernetes/lib/arguments/arguments.py
  prowler/providers/kubernetes/lib/audit_info/__init__.py
  prowler/providers/kubernetes/lib/audit_info/audit_info.py
  prowler/providers/kubernetes/lib/audit_info/models.py
  prowler/providers/kubernetes/lib/service/__init__.py
  prowler/providers/kubernetes/lib/service/service.py
  prowler/providers/kubernetes/services/apiserver/__init__.py
  prowler/providers/kubernetes/services/apiserver/apiserver_anonymous_requests/__init__.py
  prowler/providers/kubernetes/services/apiserver/apiserver_anonymous_requests/apiserver_anonymous_requests.metadata.json
  prowler/providers/kubernetes/services/apiserver/apiserver_anonymous_requests/apiserver_anonymous_requests.py
  prowler/providers/kubernetes/services/apiserver/apiserver_client.py
  prowler/providers/kubernetes/services/apiserver/apiserver_service.py
  prowler/providers/kubernetes/services/core/__init__.py
  prowler/providers/kubernetes/services/core/core_client.py
  prowler/providers/kubernetes/services/core/core_service.py
  prowler/providers/kubernetes/services/scheduler/__init__.py
  prowler/providers/kubernetes/services/scheduler/scheduler_client.py
  prowler/providers/kubernetes/services/scheduler/scheduler_profiling/__init__.py
  prowler/providers/kubernetes/services/scheduler/scheduler_profiling/scheduler_profiling.metadata.json
  prowler/providers/kubernetes/services/scheduler/scheduler_profiling/scheduler_profiling.py
  prowler/providers/kubernetes/services/scheduler/scheduler_service.py
  pyproject.toml
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/lib/check/custom_checks_metadata_test.py
  tests/lib/check/fixtures/custom_checks_metadata_example.yaml
  tests/lib/cli/parser_test.py
  tests/providers/common/audit_info_test.py
  tests/providers/common/common_outputs_test.py
Labels: testing-pending, prowler-4.0, kubernetes

#3238 feat(status): add --status flag
  docs/tutorials/misc.md
  prowler/config/config.py
  prowler/lib/banner.py
  prowler/lib/cli/parser.py
  prowler/lib/outputs/outputs.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  prowler/providers/common/outputs.py
  tests/lib/cli/parser_test.py
Labels: prowler-4.0

#3256 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3258 fix(rds): handle api call error response
  prowler/providers/aws/services/rds/rds_service.py
Labels: provider/aws

#3263 fix(apigatewayv2_api_access_logging_enabled): Finding ID should be unique
  prowler/providers/aws/services/apigatewayv2/apigatewayv2_api_access_logging_enabled/apigatewayv2_api_access_logging_enabled.py
  tests/providers/aws/services/apigatewayv2/apigatewayv2_access_logging_enabled/apigatewayv2_access_logging_enabled_test.py
Labels: provider/aws

#3268 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3269 chore(release): update Prowler Version to 3.12.1
  prowler/config/config.py
  pyproject.toml
Labels: status/waiting-for-revision, severity/low

#3273 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3293 fix(acm): adding more details on remaining expiration days
  prowler/providers/aws/services/acm/acm_certificates_expiration_check/acm_certificates_expiration_check.py
  tests/providers/aws/services/acm/acm_certificates_expiration_check/acm_certificates_expiration_check_test.py
Labels: provider/aws

#3298 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3301 docs(security-hub): improve documentation and clarify steps
  docs/tutorials/aws/securityhub.md
Labels: documentation, provider/aws

#3304 docs(security-hub): Add integration steps and images
  docs/tutorials/aws/img/enable-2.png
  docs/tutorials/aws/img/enable-partner-integration-2.png
  docs/tutorials/aws/img/enable-partner-integration-3.png
  docs/tutorials/aws/img/enable-partner-integration-4.png
  docs/tutorials/aws/img/enable-partner-integration.png
  docs/tutorials/aws/img/enable.png
  docs/tutorials/aws/img/finding-details.png
  docs/tutorials/aws/img/findings.png
  docs/tutorials/aws/securityhub.md
Labels: documentation, provider/aws

#3303 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3316 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3318 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3317 feat(azure): Add new Azure check "iam_custom_role_permits_administering_resource_locks"
  prowler/providers/azure/services/iam/iam_custom_role_has_permissions_to_administer_resource_locks/__init__.py
  prowler/providers/azure/services/iam/iam_custom_role_has_permissions_to_administer_resource_locks/iam_custom_role_has_permissions_to_administer_resource_locks.metadata.json
  prowler/providers/azure/services/iam/iam_custom_role_has_permissions_to_administer_resource_locks/iam_custom_role_has_permissions_to_administer_resource_locks.py
  prowler/providers/azure/services/iam/iam_service.py
  prowler/providers/azure/services/iam/iam_subscription_roles_owner_custom_not_created/iam_subscription_roles_owner_custom_not_created.metadata.json
  prowler/providers/azure/services/iam/iam_subscription_roles_owner_custom_not_created/iam_subscription_roles_owner_custom_not_created.py
  tests/lib/check/check_test.py
  tests/providers/azure/azure_fixtures.py
  tests/providers/azure/services/iam/iam_custom_role_has_permissions_to_administer_resource_locks/iam_custom_role_has_permissions_to_administer_resource_locks_test.py
  tests/providers/azure/services/iam/iam_subscription_roles_owner_custom_not_created/iam_subscription_roles_owner_custom_not_created_test.py
Labels: provider/azure

#3320 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3324 chore(azure): Remove all unnecessary init methods in @dataclass
  prowler/providers/azure/services/iam/iam_service.py
  prowler/providers/azure/services/sqlserver/sqlserver_service.py
  prowler/providers/azure/services/storage/storage_service.py
Labels: provider/azure

#3322 feat(azure): Add check `defender_auto_provisioning_log_analytics_agent_vms_on`
  prowler/providers/azure/services/defender/defender_auto_provisioning_log_analytics_agent_vms_on/__init__.py
  prowler/providers/azure/services/defender/defender_auto_provisioning_log_analytics_agent_vms_on/defender_auto_provisioning_log_analytics_agent_vms_on.metadata.json
  prowler/providers/azure/services/defender/defender_auto_provisioning_log_analytics_agent_vms_on/defender_auto_provisioning_log_analytics_agent_vms_on.py
  prowler/providers/azure/services/defender/defender_service.py
  tests/providers/azure/services/defender/defender_auto_provisioning_log_analytics_agent_vms_on/defender_auto_provisioning_log_analytics_agent_vms_on_test.py
Labels: provider/azure

#3323 feat(azure): Add new check `storage_key_rotation_90_days`
  prowler/providers/azure/services/storage/storage_key_rotation_90_days/__init__.py
  prowler/providers/azure/services/storage/storage_key_rotation_90_days/storage_key_rotation_90_days.metadata.json
  prowler/providers/azure/services/storage/storage_key_rotation_90_days/storage_key_rotation_90_days.py
  prowler/providers/azure/services/storage/storage_service.py
  tests/lib/check/check_test.py
  tests/providers/azure/services/storage/storage_blob_public_access_level_is_disabled/storage_blob_public_access_level_is_disabled_test.py
  tests/providers/azure/services/storage/storage_default_network_access_rule_is_denied/storage_default_network_access_rule_is_denied_test.py
  tests/providers/azure/services/storage/storage_ensure_azure_services_are_trusted_to_access_is_enabled/storage_ensure_azure_services_are_trusted_to_access_is_enabled_test.py
  tests/providers/azure/services/storage/storage_ensure_encryption_with_customer_managed_keys/storage_ensure_encryption_with_customer_managed_keys_test.py
  tests/providers/azure/services/storage/storage_ensure_minimum_tls_version_12/storage_ensure_minimum_tls_version_12_test.py
  tests/providers/azure/services/storage/storage_infrastructure_encryption_is_enabled/storage_infrastructure_encryption_is_enabled_test.py
  tests/providers/azure/services/storage/storage_key_rotation_90_days/storage_key_rotation_90_days_test.py
  tests/providers/azure/services/storage/storage_secure_transfer_required_is_enabled/storage_secure_transfer_required_is_enabled_test.py
Labels: provider/azure

#3327 feat(azure): Add check `defender_ensure_system_updates_are_applied ` and `defender_auto_provisioning_vulnerabilty_assessments_machines_on`
  prowler/providers/azure/services/defender/defender_auto_provisioning_vulnerabilty_assessments_machines_on/__init__.py
  prowler/providers/azure/services/defender/defender_auto_provisioning_vulnerabilty_assessments_machines_on/defender_auto_provisioning_vulnerabilty_assessments_machines_on.metadata.json
  prowler/providers/azure/services/defender/defender_auto_provisioning_vulnerabilty_assessments_machines_on/defender_auto_provisioning_vulnerabilty_assessments_machines_on.py
  prowler/providers/azure/services/defender/defender_ensure_system_updates_are_applied/__init__.py
  prowler/providers/azure/services/defender/defender_ensure_system_updates_are_applied/defender_ensure_system_updates_are_applied.metadata.json
  prowler/providers/azure/services/defender/defender_ensure_system_updates_are_applied/defender_ensure_system_updates_are_applied.py
  prowler/providers/azure/services/defender/defender_service.py
  tests/providers/azure/azure_fixtures.py
  tests/providers/azure/services/defender/defender_auto_provisioning_vulnerabilty_assessments_machines_on/defender_auto_provisioning_vulnerabilty_assessments_machines_on_test.py
  tests/providers/azure/services/defender/defender_ensure_system_updates_are_applied/defender_ensure_system_updates_are_applied_test.py
  tests/providers/azure/services/defender/defender_service_test.py
Labels: provider/azure
