Repository prowler-cloud/prowler, pull requests merged in 2024-03, with the labels that each got.

#3473 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws

#3472 chore(azure): working version executing checks
  prowler/__main__.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/services/cognito/cognito_idp_client.py
  prowler/providers/aws/services/cognito/cognito_service.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/azure/azure_provider_new.py
  prowler/providers/azure/lib/service/service.py
  prowler/providers/azure/models.py
  prowler/providers/azure/services/app/app_client.py
  prowler/providers/azure/services/app/app_service.py
  prowler/providers/azure/services/appinsights/appinsights_client.py
  prowler/providers/azure/services/appinsights/appinsights_service.py
  prowler/providers/azure/services/cosmosdb/cosmosdb_client.py
  prowler/providers/azure/services/cosmosdb/cosmosdb_service.py
  prowler/providers/azure/services/defender/defender_service.py
  prowler/providers/azure/services/iam/iam_service.py
  prowler/providers/azure/services/keyvault/keyvault_client.py
  prowler/providers/azure/services/keyvault/keyvault_service.py
  prowler/providers/azure/services/monitor/monitor_client.py
  prowler/providers/azure/services/monitor/monitor_service.py
  prowler/providers/azure/services/mysql/mysql_client.py
  prowler/providers/azure/services/mysql/mysql_service.py
  prowler/providers/azure/services/network/network_client.py
  prowler/providers/azure/services/network/network_service.py
  prowler/providers/azure/services/policy/policy_client.py
  prowler/providers/azure/services/policy/policy_service.py
  prowler/providers/azure/services/postgresql/postgresql_client.py
  prowler/providers/azure/services/postgresql/postgresql_service.py
  prowler/providers/azure/services/sqlserver/sqlserver_service.py
  prowler/providers/azure/services/storage/storage_service.py
  prowler/providers/azure/services/vm/vm_client.py
  prowler/providers/azure/services/vm/vm_service.py
  prowler/providers/common/audit_info.py
  prowler/providers/common/outputs.py
  prowler/providers/common/provider.py
  prowler/providers/gcp/services/gke/gke_service.py
Labels: provider/aws, provider/azure, provider/gcp

#3474 chore(azure): working version executing checks
  prowler/__main__.py
  prowler/lib/check/check.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/common/outputs.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/gcp/gcp_provider_new.py
  prowler/providers/gcp/lib/service/service.py
  prowler/providers/gcp/services/apikeys/apikeys_service.py
  prowler/providers/gcp/services/bigquery/bigquery_service.py
  prowler/providers/gcp/services/cloudresourcemanager/cloudresourcemanager_service.py
  prowler/providers/gcp/services/cloudsql/cloudsql_service.py
  prowler/providers/gcp/services/cloudstorage/cloudstorage_service.py
  prowler/providers/gcp/services/compute/compute_service.py
  prowler/providers/gcp/services/dataproc/dataproc_service.py
  prowler/providers/gcp/services/dns/dns_service.py
  prowler/providers/gcp/services/gke/gke_service.py
  prowler/providers/gcp/services/iam/iam_service.py
  prowler/providers/gcp/services/kms/kms_service.py
  prowler/providers/gcp/services/logging/logging_service.py
  prowler/providers/gcp/services/monitoring/monitoring_service.py
  prowler/providers/gcp/services/serviceusage/serviceusage_service.py
Labels: provider/aws, provider/azure, provider/gcp

#3453 feat(azure): new monitoring check ensuring storage account with logs private
  prowler/providers/azure/services/monitor/monitor_service.py
  prowler/providers/azure/services/monitor/monitor_storage_account_with_activity_logs_is_private/__init__.py
  prowler/providers/azure/services/monitor/monitor_storage_account_with_activity_logs_is_private/monitor_storage_account_with_activity_logs_is_private.metadata.json
  prowler/providers/azure/services/monitor/monitor_storage_account_with_activity_logs_is_private/monitor_storage_account_with_activity_logs_is_private.py
  tests/providers/azure/services/monitor/monitor_diagnostic_setting_with_appropriate_categories/monitor_diagnostic_setting_with_appropriate_categories_test.py
  tests/providers/azure/services/monitor/monitor_service_test.py
  tests/providers/azure/services/monitor/monitor_storage_account_with_activity_logs_is_private/monitor_storage_account_with_activity_logs_is_private_test.py
Labels: provider/azure

#3475 chore(kubernetes): Working provider
  prowler/providers/common/outputs.py
  prowler/providers/kubernetes/kubernetes_provider.py
  prowler/providers/kubernetes/kubernetes_provider_new.py
  prowler/providers/kubernetes/lib/service/service.py
  prowler/providers/kubernetes/services/apiserver/apiserver_client.py
  prowler/providers/kubernetes/services/apiserver/apiserver_service.py
  prowler/providers/kubernetes/services/controllermanager/controllermanager_client.py
  prowler/providers/kubernetes/services/controllermanager/controllermanager_service.py
  prowler/providers/kubernetes/services/core/core_client.py
  prowler/providers/kubernetes/services/core/core_service.py
  prowler/providers/kubernetes/services/etcd/etcd_client.py
  prowler/providers/kubernetes/services/etcd/etcd_service.py
  prowler/providers/kubernetes/services/kubelet/kubelet_client.py
  prowler/providers/kubernetes/services/kubelet/kubelet_service.py
  prowler/providers/kubernetes/services/rbac/rbac_client.py
  prowler/providers/kubernetes/services/rbac/rbac_service.py
  prowler/providers/kubernetes/services/scheduler/scheduler_client.py
  prowler/providers/kubernetes/services/scheduler/scheduler_service.py
Labels: provider/kubernetes

#3479 fix(checks_loader): Handle exceptions and always load checks
  prowler/lib/check/checks_loader.py
  prowler/lib/check/models.py
  prowler/providers/azure/services/monitor/monitor_storage_account_with_activity_logs_cmk_encrypted/monitor_storage_account_with_activity_logs_cmk_encrypted.metadata.json
Labels: provider/azure

#3480 fix(check_loader): Add validation in 'Categories' field from metadata
  prowler/lib/check/models.py
  tests/lib/check/fixtures/bulk_checks_metadata.py
  tests/lib/check/fixtures/metadata.json
  tests/lib/outputs/fixtures/metadata.json
  tests/providers/aws/lib/security_hub/fixtures/metadata.json
Labels: provider/aws

#3481 chore(aws): Simplify provider
  prowler/__main__.py
  prowler/lib/check/check.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/arn/models.py
  prowler/providers/aws/lib/credentials/credentials.py
  prowler/providers/aws/lib/organizations/organizations.py
  prowler/providers/aws/lib/service/service.py
  prowler/providers/aws/models.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/common/audit_info.py
  prowler/providers/common/common.py
  prowler/providers/common/models.py
  prowler/providers/common/provider.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/kubernetes/kubernetes_provider.py
Labels: provider/aws, provider/azure, provider/gcp, provider/kubernetes

#3485 chore(fixme): Add fixme for credentials refresh
  prowler/providers/aws/aws_provider.py
Labels: provider/aws

#3488 chore(aws): Working outputs
  Makefile
  prowler/__main__.py
  prowler/lib/check/check.py
  prowler/lib/check/compliance_models.py
  prowler/lib/outputs/compliance/aws_well_architected_framework.py
  prowler/lib/outputs/compliance/cis.py
  prowler/lib/outputs/compliance/cis_aws.py
  prowler/lib/outputs/compliance/compliance.py
  prowler/lib/outputs/compliance/ens_rd2022_aws.py
  prowler/lib/outputs/compliance/generic.py
  prowler/lib/outputs/compliance/iso27001_2013_aws.py
  prowler/lib/outputs/compliance/mitre_attack_aws.py
  prowler/lib/outputs/file_descriptors.py
  prowler/lib/outputs/html.py
  prowler/lib/outputs/json.py
  prowler/lib/outputs/models.py
  prowler/lib/outputs/outputs.py
  prowler/lib/outputs/summary_table.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/audit_info/models.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  prowler/providers/common/arguments.py
  prowler/providers/common/clean.py
  prowler/providers/common/common.py
  prowler/providers/common/outputs.py
  tests/providers/common/clean_test.py
Labels: provider/aws

#3489 chore(k8s): Working outputs
  prowler/lib/outputs/html.py
  prowler/lib/outputs/summary_table.py
  prowler/providers/common/outputs.py
  prowler/providers/kubernetes/kubernetes_provider.py
  prowler/providers/kubernetes/lib/service/service.py
Labels: provider/kubernetes

#3490 chore(gcp): working outputs
  prowler/lib/outputs/html.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/gcp/lib/service/service.py
  prowler/providers/gcp/services/gcr/__init__.py
  prowler/providers/gcp/services/gke/gke_client.py
  prowler/providers/kubernetes/kubernetes_provider.py
Labels: provider/gcp, provider/kubernetes

#3497 chore(providers): Store output options and mutelist
  prowler/__main__.py
  prowler/lib/check/check.py
  prowler/lib/outputs/models.py
  prowler/lib/outputs/outputs.py
  prowler/lib/outputs/summary_table.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/mutelist/mutelist.py
  prowler/providers/aws/models.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/azure/models.py
  prowler/providers/common/models.py
  prowler/providers/common/outputs.py
  prowler/providers/common/provider.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/gcp/models.py
  prowler/providers/kubernetes/kubernetes_provider.py
  prowler/providers/kubernetes/models.py
Labels: provider/aws, provider/azure, provider/gcp, provider/kubernetes

#3498 chore(config): Store in provider
  prowler/providers/aws/aws_provider.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/kubernetes/kubernetes_provider.py
Labels: provider/aws, provider/azure, provider/gcp, provider/kubernetes

#3500 fix(shodan): Make it available for all the providers
  prowler/config/config.py
  prowler/config/config.yaml
  prowler/lib/cli/parser.py
  prowler/providers/aws/lib/arguments/arguments.py
  prowler/providers/aws/models.py
  prowler/providers/azure/lib/arguments/arguments.py
  prowler/providers/common/models.py
  prowler/providers/common/provider.py
  tests/lib/cli/parser_test.py
Labels: provider/aws, provider/azure

#3501 chore(html): deprecate output
  prowler/__main__.py
  prowler/config/config.py
  prowler/lib/cli/parser.py
  prowler/lib/outputs/file_descriptors.py
  prowler/lib/outputs/html.py
  prowler/lib/outputs/models.py
  prowler/lib/outputs/outputs.py
  prowler/lib/outputs/summary_table.py
  prowler/providers/aws/lib/s3/s3.py
  tests/lib/cli/parser_test.py
  tests/lib/outputs/outputs_test.py
  tests/providers/common/common_outputs_test.py
Labels: provider/aws

#3476 feat(azure): Azure new checks related with AKS
  poetry.lock
  prowler/providers/azure/services/aks/__init__.py
  prowler/providers/azure/services/aks/aks_client.py
  prowler/providers/azure/services/aks/aks_cluster_rbac_enabled/__init__.py
  prowler/providers/azure/services/aks/aks_cluster_rbac_enabled/aks_cluster_rbac_enabled.metadata.json
  prowler/providers/azure/services/aks/aks_cluster_rbac_enabled/aks_cluster_rbac_enabled.py
  prowler/providers/azure/services/aks/aks_clusters_created_with_private_nodes/__init__.py
  prowler/providers/azure/services/aks/aks_clusters_created_with_private_nodes/aks_clusters_created_with_private_nodes.metadata.json
  prowler/providers/azure/services/aks/aks_clusters_created_with_private_nodes/aks_clusters_created_with_private_nodes.py
  prowler/providers/azure/services/aks/aks_clusters_public_access_disabled/__init__.py
  prowler/providers/azure/services/aks/aks_clusters_public_access_disabled/aks_clusters_public_access_disabled.metadata.json
  prowler/providers/azure/services/aks/aks_clusters_public_access_disabled/aks_clusters_public_access_disabled.py
  prowler/providers/azure/services/aks/aks_network_policy_enabled/__init__.py
  prowler/providers/azure/services/aks/aks_network_policy_enabled/aks_network_policy_enabled.metadata.json
  prowler/providers/azure/services/aks/aks_network_policy_enabled/aks_network_policy_enabled.py
  prowler/providers/azure/services/aks/aks_service.py
  prowler/providers/azure/services/defender/defender_assessments_vm_endpoint_protection_installed/defender_assessments_vm_endpoint_protection_installed.py
  prowler/providers/azure/services/defender/defender_container_images_resolved_vulnerabilities/__init__.py
  prowler/providers/azure/services/defender/defender_container_images_resolved_vulnerabilities/defender_container_images_resolved_vulnerabilities.metadata.json
  prowler/providers/azure/services/defender/defender_container_images_resolved_vulnerabilities/defender_container_images_resolved_vulnerabilities.py
  prowler/providers/azure/services/defender/defender_container_images_scan_enabled/__init__.py
  prowler/providers/azure/services/defender/defender_container_images_scan_enabled/defender_container_images_scan_enabled.metadata.json
  prowler/providers/azure/services/defender/defender_container_images_scan_enabled/defender_container_images_scan_enabled.py
  prowler/providers/azure/services/defender/defender_service.py
  pyproject.toml
  tests/providers/azure/services/aks/aks_cluster_rbac_enabled/aks_cluster_rbac_enabled_test.py
  tests/providers/azure/services/aks/aks_clusters_created_with_private_nodes/aks_clusters_created_with_private_nodes_test.py
  tests/providers/azure/services/aks/aks_clusters_public_access_disabled/aks_clusters_public_access_disabled_test.py
  tests/providers/azure/services/aks/aks_network_policy_enabled/aks_network_policy_enabled_test.py
  tests/providers/azure/services/aks/aks_service_test.py
  tests/providers/azure/services/defender/defender_container_images_resolved_vulnerabilities/defender_container_images_resolved_vulnerabilities_test.py
  tests/providers/azure/services/defender/defender_container_images_scan_enabled/defender_container_images_scan_enabled_test.py
  tests/providers/azure/services/defender/defender_service_test.py
Labels: provider/azure

#3503 fix(compliance): set correct CSV Compliance model for CIS
  docs/developer-guide/security-compliance-framework.md
  prowler/lib/outputs/file_descriptors.py
Labels: documentation

#3504 fix(docs): Fix some typos in requirements page
  docs/getting-started/requirements.md
Labels: documentation

#3508 fix(LICENSE): update LICENSE copyright
  LICENSE
Labels: backport-v4

#3510 feat(Azure): Entra service with two checks
  prowler/providers/azure/azure_provider.py
  prowler/providers/azure/lib/service/service.py
  prowler/providers/azure/services/entra/__init__.py
  prowler/providers/azure/services/entra/entra_client.py
  prowler/providers/azure/services/entra/entra_policy_ensure_default_user_cannot_create_apps/__init__.py
  prowler/providers/azure/services/entra/entra_policy_ensure_default_user_cannot_create_apps/entra_policy_ensure_default_user_cannot_create_apps.metadata.json
  prowler/providers/azure/services/entra/entra_policy_ensure_default_user_cannot_create_apps/entra_policy_ensure_default_user_cannot_create_apps.py
  prowler/providers/azure/services/entra/entra_policy_ensure_default_user_cannot_create_tenants/__init__.py
  prowler/providers/azure/services/entra/entra_policy_ensure_default_user_cannot_create_tenants/entra_policy_ensure_default_user_cannot_create_tenants.metadata.json
  prowler/providers/azure/services/entra/entra_policy_ensure_default_user_cannot_create_tenants/entra_policy_ensure_default_user_cannot_create_tenants.py
  prowler/providers/azure/services/entra/entra_service.py
  tests/providers/azure/services/entra/entra_policy_ensure_default_user_cannot_create_apps/entra_policy_ensure_default_user_cannot_create_apps_test.py
  tests/providers/azure/services/entra/entra_policy_ensure_default_user_cannot_create_tenants/entra_policy_ensure_default_user_cannot_create_tenants_test.py
  tests/providers/azure/services/entra/entra_service_test.py
Labels: provider/azure, backport-v4

#3509 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v4

#3515 fix(glue): Add mocked ARN
  tests/providers/aws/services/glue/glue_data_catalogs_connection_passwords_encryption_enabled/glue_data_catalogs_connection_passwords_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_data_catalogs_metadata_encryption_enabled/glue_data_catalogs_metadata_encryption_enabled_test.py
Labels: provider/aws, backport-v4

#3518 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: severity/low, provider/aws, backport-v4

#3528 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v4

#3533 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v4

#3534 chore(azure): Manage new errors in the Defender service
  prowler/providers/azure/services/defender/defender_service.py
Labels: provider/azure, backport-v4

#3482 docs(kubernetes): add Kubernetes documentation
  README.md
  docs/index.md
  docs/tutorials/configuration_file.md
  docs/tutorials/custom-checks-metadata.md
  docs/tutorials/reporting.md
  job.yaml
Labels: documentation, prowler-4.0

#3507 chore(compliance): solve compliance issues
  prowler/__main__.py
  prowler/lib/outputs/compliance/compliance.py
  prowler/lib/outputs/file_descriptors.py
Labels: prowler-4.0

#3513 chore(csv): Common output for all the providers
  prowler/lib/outputs/compliance/aws_well_architected_framework.py
  prowler/lib/outputs/compliance/cis.py
  prowler/lib/outputs/compliance/cis_aws.py
  prowler/lib/outputs/compliance/cis_gcp.py
  prowler/lib/outputs/compliance/ens_rd2022_aws.py
  prowler/lib/outputs/compliance/generic.py
  prowler/lib/outputs/compliance/iso27001_2013_aws.py
  prowler/lib/outputs/compliance/mitre_attack_aws.py
  prowler/lib/outputs/csv.py
  prowler/lib/outputs/csv/__init__.py
  prowler/lib/outputs/csv/csv.py
  prowler/lib/outputs/csv/models.py
  prowler/lib/outputs/file_descriptors.py
  prowler/lib/outputs/json.py
  prowler/lib/outputs/models.py
  prowler/lib/outputs/outputs.py
  prowler/lib/outputs/summary_table.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/organizations/organizations.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/azure/models.py
  prowler/providers/common/outputs.py
  prowler/providers/common/provider.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/gcp/models.py
  prowler/providers/gcp/services/iam/iam_no_service_roles_at_project_level/iam_no_service_roles_at_project_level.py
  prowler/providers/kubernetes/kubernetes_provider.py
  tests/providers/common/common_outputs_test.py
Labels: no-merge, testing-pending, provider/aws, provider/azure, provider/gcp, prowler-4.0, provider/kubernetes

#3514 chore(json): deprecate native json
  prowler/__main__.py
  prowler/lib/cli/parser.py
  prowler/lib/outputs/file_descriptors.py
  prowler/lib/outputs/models.py
  prowler/lib/outputs/outputs.py
  prowler/lib/outputs/summary_table.py
  prowler/providers/aws/lib/audit_info/models.py
  prowler/providers/aws/lib/organizations/organizations.py
  prowler/providers/aws/lib/s3/s3.py
  tests/lib/cli/parser_test.py
  tests/lib/outputs/outputs_test.py
  tests/providers/common/common_outputs_test.py
Labels: provider/aws, prowler-4.0

#3535 feat(azure):New check related with network flow logs
  prowler/providers/azure/services/network/network_flow_log_captured_sent/__init__.py
  prowler/providers/azure/services/network/network_flow_log_captured_sent/network_flow_log_captured_sent.metadata.json
  prowler/providers/azure/services/network/network_flow_log_captured_sent/network_flow_log_captured_sent.py
  tests/providers/azure/services/network/network_flow_log_captured_sent/network_flow_log_captured_sent_test.py
Labels: provider/azure, backport-v4

#3537 fix(iam): ignore Root User in iam_user_mfa_enabled_console_access
  prowler/providers/aws/services/iam/iam_user_mfa_enabled_console_access/iam_user_mfa_enabled_console_access.py
  tests/providers/aws/services/iam/iam_user_mfa_enabled_console_access/iam_user_mfa_enabled_console_access_test.py
Labels: provider/aws, backport-v4

#3541 fix(azure): use subscriptions in get_locations
  prowler/providers/azure/azure_provider.py
Labels: provider/azure, prowler-4.0

#3486 feat(gcp): add Shodan check for GCP External Addresses
  docs/tutorials/configuration_file.md
  docs/tutorials/pentesting.md
  prowler/config/config.yaml
  prowler/providers/common/outputs.py
  prowler/providers/gcp/lib/arguments/arguments.py
  prowler/providers/gcp/lib/service/service.py
  prowler/providers/gcp/services/compute/compute_public_address_shodan/__init__.py
  prowler/providers/gcp/services/compute/compute_public_address_shodan/compute_public_address_shodan.metadata.json
  prowler/providers/gcp/services/compute/compute_public_address_shodan/compute_public_address_shodan.py
  prowler/providers/gcp/services/compute/compute_service.py
  tests/providers/common/common_outputs_test.py
  tests/providers/gcp/services/compute/compute_public_address_shodan/compute_public_address_shodan_test.py
Labels: documentation, provider/gcp, backport-v4

#3517 chore(ocsf): add OCSF 1.1 and organize code
  poetry.lock
  prowler/__main__.py
  prowler/lib/outputs/common.py
  prowler/lib/outputs/common_models.py
  prowler/lib/outputs/compliance/aws_well_architected_framework.py
  prowler/lib/outputs/compliance/cis_aws.py
  prowler/lib/outputs/compliance/cis_gcp.py
  prowler/lib/outputs/compliance/compliance.py
  prowler/lib/outputs/compliance/ens_rd2022_aws.py
  prowler/lib/outputs/compliance/generic.py
  prowler/lib/outputs/compliance/iso27001_2013_aws.py
  prowler/lib/outputs/compliance/mitre_attack_aws.py
  prowler/lib/outputs/compliance/models.py
  prowler/lib/outputs/csv/csv.py
  prowler/lib/outputs/file_descriptors.py
  prowler/lib/outputs/json.py
  prowler/lib/outputs/json/__init__.py
  prowler/lib/outputs/json/json.py
  prowler/lib/outputs/json_asff/__init__.py
  prowler/lib/outputs/json_asff/json_asff.py
  prowler/lib/outputs/json_asff/models.py
  prowler/lib/outputs/json_ocsf/__init__.py
  prowler/lib/outputs/json_ocsf/json_ocsf.py
  prowler/lib/outputs/models.py
  prowler/lib/outputs/outputs.py
  prowler/lib/outputs/utils.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/arn/error.py
  prowler/providers/aws/lib/mutelist/mutelist.py
  prowler/providers/aws/lib/organizations/organizations.py
  prowler/providers/aws/lib/quick_inventory/quick_inventory.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  prowler/providers/aws/models.py
  prowler/providers/azure/azure_provider.py
  pyproject.toml
  tests/lib/cli/parser_test.py
  tests/lib/outputs/outputs_test.py
Labels: provider/aws, provider/azure, prowler-4.0

#3511 feat(compliance): Add new compliance foundational_technical_review_aws
  docs/tutorials/compliance.md
  prowler/compliance/aws/foundational_technical_review_aws.json
Labels: documentation, backport-v4

#3547 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v4

#3548 feat(mutelist): add Mute List for all providers
  docs/tutorials/mutelist.md
  prowler/__main__.py
  prowler/config/azure_mutelist_example.yaml
  prowler/config/config.py
  prowler/config/gcp_mutelist_example.yaml
  prowler/config/kubernetes_mutelist_example.yaml
  prowler/lib/check/check.py
  prowler/lib/check/models.py
  prowler/lib/cli/parser.py
  prowler/lib/mutelist/__init__.py
  prowler/lib/mutelist/mutelist.py
  prowler/lib/outputs/common.py
  prowler/lib/outputs/outputs.py
  prowler/lib/outputs/summary_table.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/arguments/arguments.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/kubernetes/kubernetes_provider.py
  tests/lib/mutelist/fixtures/aws_mutelist.yaml
  tests/lib/mutelist/mutelist_test.py
Labels: documentation, provider/aws, provider/azure, provider/gcp, prowler-4.0, provider/kubernetes

#3539 feat(azure): New check related with diagnostics settings in subscriptions
  prowler/providers/azure/services/monitor/monitor_diagnostic_settings_exists/__init__.py
  prowler/providers/azure/services/monitor/monitor_diagnostic_settings_exists/monitor_diagnostic_settings_exists.metadata.json
  prowler/providers/azure/services/monitor/monitor_diagnostic_settings_exists/monitor_diagnostic_settings_exists.py
  tests/providers/azure/services/monitor/monitor_diagnostic_settings_exists/monitor_diagnostic_settings_exists_test.py
Labels: provider/azure, backport-v4

#3496 feat(azure): New check related with logging in Azure Key Vault
  prowler/providers/azure/services/keyvault/keyvault_logging_enabled/__init__.py
  prowler/providers/azure/services/keyvault/keyvault_logging_enabled/keyvault_logging_enabled.metadata.json
  prowler/providers/azure/services/keyvault/keyvault_logging_enabled/keyvault_logging_enabled.py
  prowler/providers/azure/services/keyvault/keyvault_service.py
  prowler/providers/azure/services/monitor/monitor_service.py
  tests/providers/azure/services/keyvault/keyvault_logging_enabled/keyvault_logging_enabled_test.py
  tests/providers/azure/services/keyvault/keyvault_service_test.py
  tests/providers/azure/services/monitor/monitor_diagnostic_setting_with_appropriate_categories/monitor_diagnostic_setting_with_appropriate_categories_test.py
  tests/providers/azure/services/monitor/monitor_diagnostic_settings_exists/monitor_diagnostic_settings_exists_test.py
  tests/providers/azure/services/monitor/monitor_service_test.py
  tests/providers/azure/services/monitor/monitor_storage_account_with_activity_logs_cmk_encrypted/monitor_storage_account_with_activity_logs_cmk_encrypted_test.py
  tests/providers/azure/services/monitor/monitor_storage_account_with_activity_logs_is_private/monitor_storage_account_with_activity_logs_is_private_test.py
Labels: provider/azure, backport-v4

#3550 chore(compliance): rename AWS FTR compliance
  docs/tutorials/compliance.md
  prowler/compliance/aws/aws_foundational_technical_review_aws.json
Labels: documentation, backport-v4

#3554 chore(mutelist): enforce for all providers
  prowler/providers/aws/aws_provider.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/common/mutelist.py
  prowler/providers/common/provider.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/kubernetes/kubernetes_provider.py
Labels: provider/aws, provider/azure, provider/gcp, prowler-4.0, provider/kubernetes

#3566 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v4

#3565 chore(slack): fix integration with provider
  prowler/__main__.py
  prowler/lib/outputs/slack.py
  tests/lib/outputs/slack_test.py
Labels: prowler-4.0

#3570 chore(muted): handle new Muted status
  prowler/lib/outputs/json_asff/json_asff.py
  prowler/lib/outputs/outputs.py
  prowler/providers/aws/services/accessanalyzer/accessanalyzer_enabled/accessanalyzer_enabled.py
  prowler/providers/aws/services/config/config_recorder_all_regions_enabled/config_recorder_all_regions_enabled.py
  prowler/providers/aws/services/drs/drs_job_exist/drs_job_exist.py
  prowler/providers/aws/services/guardduty/guardduty_is_enabled/guardduty_is_enabled.py
  prowler/providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled.py
  tests/lib/outputs/json_asff/json_asff_test.py
  tests/lib/outputs/outputs_test.py
  tests/providers/aws/services/accessanalyzer/accessanalyzer_enabled/accessanalyzer_enabled_test.py
  tests/providers/aws/services/config/config_recorder_all_regions_enabled/config_recorder_all_regions_enabled_test.py
  tests/providers/aws/services/drs/drs_job_exist/drs_job_exist_test.py
  tests/providers/aws/services/guardduty/guardduty_is_enabled/guardduty_is_enabled_test.py
  tests/providers/aws/services/securityhub/securityhub_enabled/securityhub_enabled_test.py
Labels: provider/aws, prowler-4.0

#3571 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v4

#3568 feat(azure):App check related with http logs
  prowler/providers/azure/services/app/app_http_logs_enabled/__init__.py
  prowler/providers/azure/services/app/app_http_logs_enabled/app_http_logs_enabled.metadata.json
  prowler/providers/azure/services/app/app_http_logs_enabled/app_http_logs_enabled.py
  prowler/providers/azure/services/app/app_service.py
  prowler/providers/azure/services/monitor/monitor_service.py
  tests/providers/azure/services/app/app_http_logs_enabled/app_http_logs_enabled_test.py
  tests/providers/azure/services/app/app_service_test.py
Labels: provider/azure, backport-v4

#3576 fix(action): Release on whatever branch
  .github/workflows/pypi-release.yml
Labels: github_actions

#3577 fix(actions): Remove indent
  .github/workflows/pypi-release.yml
Labels: github_actions, backport-v4

#3579 fix(cloudtrail): use dictionary instead of list
  prowler/providers/aws/services/awslambda/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_bucket_requires_mfa_delete/cloudtrail_bucket_requires_mfa_delete.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_cloudwatch_logging_enabled/cloudtrail_cloudwatch_logging_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_insights_exist/cloudtrail_insights_exist.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_kms_encryption_enabled/cloudtrail_kms_encryption_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_log_file_validation_enabled/cloudtrail_log_file_validation_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_access_logging_enabled/cloudtrail_logs_s3_bucket_access_logging_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled/cloudtrail_multi_region_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled_logging_management_events/cloudtrail_multi_region_enabled_logging_management_events.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_read_enabled/cloudtrail_s3_dataevents_read_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_write_enabled/cloudtrail_s3_dataevents_write_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_service.py
  prowler/providers/aws/services/cloudwatch/lib/metric_filters.py
  tests/providers/aws/services/cloudtrail/cloudtrail_cloudwatch_logging_enabled/cloudtrail_cloudwatch_logging_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_service_test.py
Labels: provider/aws, backport-v4

#3581 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v4

#3580 chore(actions): Set branch based on version
  .github/workflows/pypi-release.yml
Labels: no-merge, github_actions, backport-v4

#3574 fix(compliance): fix csv output for framework Mitre Attack
  prowler/lib/outputs/compliance/mitre_attack_aws.py
Labels: documentation, provider/aws, provider/azure, provider/gcp, github_actions

#3582 chore(merge): get latest changes from v3 to v4
  .github/workflows/pypi-release.yml
  prowler/providers/aws/aws_regions_by_service.json
  prowler/providers/aws/services/awslambda/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_bucket_requires_mfa_delete/cloudtrail_bucket_requires_mfa_delete.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_cloudwatch_logging_enabled/cloudtrail_cloudwatch_logging_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_insights_exist/cloudtrail_insights_exist.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_kms_encryption_enabled/cloudtrail_kms_encryption_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_log_file_validation_enabled/cloudtrail_log_file_validation_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_access_logging_enabled/cloudtrail_logs_s3_bucket_access_logging_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled/cloudtrail_multi_region_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled_logging_management_events/cloudtrail_multi_region_enabled_logging_management_events.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_read_enabled/cloudtrail_s3_dataevents_read_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_write_enabled/cloudtrail_s3_dataevents_write_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_service.py
  prowler/providers/aws/services/cloudwatch/lib/metric_filters.py
  prowler/providers/azure/services/app/app_http_logs_enabled/__init__.py
  prowler/providers/azure/services/app/app_http_logs_enabled/app_http_logs_enabled.metadata.json
  prowler/providers/azure/services/app/app_http_logs_enabled/app_http_logs_enabled.py
  prowler/providers/azure/services/app/app_service.py
  prowler/providers/azure/services/monitor/monitor_service.py
  tests/providers/aws/services/cloudtrail/cloudtrail_cloudwatch_logging_enabled/cloudtrail_cloudwatch_logging_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_service_test.py
  tests/providers/azure/services/app/app_client_certificates_on/app_client_certificates_on_test.py
  tests/providers/azure/services/app/app_ensure_auth_is_set_up/app_ensure_auth_is_set_up_test.py
  tests/providers/azure/services/app/app_ensure_http_is_redirected_to_https/app_ensure_http_is_redirected_to_https_test.py
  tests/providers/azure/services/app/app_ensure_java_version_is_latest/app_ensure_java_version_is_latest_test.py
  tests/providers/azure/services/app/app_ensure_php_version_is_latest/app_ensure_php_version_is_latest_test.py
  tests/providers/azure/services/app/app_ensure_python_version_is_latest/app_ensure_python_version_is_latest_test.py
  tests/providers/azure/services/app/app_ensure_using_http20/app_ensure_using_http20_test.py
  tests/providers/azure/services/app/app_ftp_deployment_disabled/app_ftp_deployment_disabled_test.py
  tests/providers/azure/services/app/app_http_logs_enabled/app_http_logs_enabled_test.py
  tests/providers/azure/services/app/app_minimum_tls_version_12/app_minimum_tls_version_12_test.py
  tests/providers/azure/services/app/app_register_with_identity/app_register_with_identity_test.py
  tests/providers/azure/services/app/app_service_test.py
Labels: provider/aws, provider/azure, prowler-4.0, github_actions

#3592 fix(apigatewayv2): handle empty names
  prowler/providers/aws/services/apigatewayv2/apigatewayv2_service.py
Labels: provider/aws

#3590 fix(securityhub): Add validation and handle errors
  prowler/lib/outputs/json_asff/json_asff.py
  prowler/lib/outputs/json_asff/models.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  tests/lib/outputs/json_asff/json_asff_test.py
Labels: provider/aws, prowler-4.0

#3593 fix(securityhub): Remove region from exception match
  prowler/providers/aws/lib/security_hub/security_hub.py
Labels: provider/aws

#3595 fix(providers): import modules also from outside of directory
  prowler/providers/common/common.py
Labels: prowler-4.0

#3598 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws

#3599 fix(metadata): change ResourceType Type for AWS Inline Policy Check
  prowler/providers/aws/services/iam/iam_inline_policy_no_administrative_privileges/iam_inline_policy_no_administrative_privileges.metadata.json
Labels: provider/aws

#3609 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws

#3600 feat(compliance): Add CIS 1.8 framework for Kubernetes
  docs/tutorials/compliance.md
  prowler/compliance/kubernetes/cis_1.8_kubernetes.json
  prowler/config/config.py
  prowler/lib/check/compliance_models.py
  prowler/lib/outputs/compliance/cis.py
  prowler/lib/outputs/compliance/cis_kubernetes.py
  prowler/lib/outputs/compliance/compliance.py
  prowler/lib/outputs/compliance/models.py
  prowler/lib/outputs/file_descriptors.py
  prowler/providers/kubernetes/services/controllermanager/controllermanager_disable_profiling/controllermanager_disable_profiling.metadata.json
  tests/config/config_test.py
Labels: documentation, provider/kubernetes

#3613 fix(sts): handle China STS regions
  prowler/providers/aws/lib/credentials/credentials.py
  tests/providers/aws/lib/credentials/credentials_test.py
Labels: provider/aws, backport-v4

#3615 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v4

#3616 feat(azure): New check related with trusted launch in vm
  prowler/providers/azure/services/vm/vm_service.py
  prowler/providers/azure/services/vm/vm_trusted_launch_enabled/__init__.py
  prowler/providers/azure/services/vm/vm_trusted_launch_enabled/vm_trusted_launch_enabled.metadata.json
  prowler/providers/azure/services/vm/vm_trusted_launch_enabled/vm_trusted_launch_enabled.py
  tests/providers/azure/services/vm/vm_ensure_using_managed_disks/vm_ensure_using_managed_disks_test.py
  tests/providers/azure/services/vm/vm_service_test.py
  tests/providers/azure/services/vm/vm_trusted_launch_enabled/vm_trusted_launch_enabled_test.py
Labels: provider/azure, backport-v4

#3617 fix(azure): fixed check `vm_ensure_using_managed_disks` metadata
  prowler/providers/azure/services/vm/vm_ensure_using_managed_disks/vm_ensure_using_managed_disks.metadata.json
Labels: provider/azure, backport-v4

#3587 chore(report): improve shown report in UI
  prowler/__main__.py
  prowler/lib/check/check.py
  prowler/lib/utils/utils.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/gcp/lib/service/service.py
  prowler/providers/gcp/models.py
  prowler/providers/kubernetes/kubernetes_provider.py
  tests/lib/outputs/slack_test.py
  tests/lib/utils/utils_test.py
  tests/providers/gcp/gcp_fixtures.py
  tests/providers/gcp/gcp_provider_test.py
Labels: provider/aws, provider/azure, provider/gcp, prowler-4.0, provider/kubernetes

#3618 fix(aws): break loop after FAIL in SQS and SNS checks
  prowler/providers/aws/services/sns/sns_topics_not_publicly_accessible/sns_topics_not_publicly_accessible.py
  prowler/providers/aws/services/sqs/sqs_queues_not_publicly_accessible/sqs_queues_not_publicly_accessible.py
Labels: provider/aws, backport-v4

#3611 chore(args): sanitize arguments
  prowler/__main__.py
  prowler/lib/cli/parser.py
  prowler/providers/aws/lib/arguments/arguments.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/azure/lib/arguments/arguments.py
  prowler/providers/common/models.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/gcp/lib/arguments/arguments.py
  prowler/providers/kubernetes/kubernetes_provider.py
  prowler/providers/kubernetes/lib/arguments/arguments.py
  tests/lib/cli/parser_test.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/aws/utils.py
  tests/providers/azure/azure_provider_test.py
  tests/providers/gcp/gcp_provider_test.py
  tests/providers/kubernetes/kubernetes_provider_test.py
Labels: provider/aws, provider/azure, provider/gcp, prowler-4.0, provider/kubernetes

#3610 feat(azure) New Microsoft Entra ID checks
  prowler/providers/azure/services/entra/entra_conditional_access_policy_require_mfa_for_management_api/__init__.py
  prowler/providers/azure/services/entra/entra_conditional_access_policy_require_mfa_for_management_api/entra_conditional_access_policy_require_mfa_for_management_api.metadata.json
  prowler/providers/azure/services/entra/entra_conditional_access_policy_require_mfa_for_management_api/entra_conditional_access_policy_require_mfa_for_management_api.py
  prowler/providers/azure/services/entra/entra_non_privileged_user_has_mfa/__init__.py
  prowler/providers/azure/services/entra/entra_non_privileged_user_has_mfa/entra_non_privileged_user_has_mfa.metadata.json
  prowler/providers/azure/services/entra/entra_non_privileged_user_has_mfa/entra_non_privileged_user_has_mfa.py
  prowler/providers/azure/services/entra/entra_privileged_user_has_mfa/__init__.py
  prowler/providers/azure/services/entra/entra_privileged_user_has_mfa/entra_privileged_user_has_mfa.metadata.json
  prowler/providers/azure/services/entra/entra_privileged_user_has_mfa/entra_privileged_user_has_mfa.py
  prowler/providers/azure/services/entra/entra_service.py
  prowler/providers/azure/services/entra/lib/__init__.py
  prowler/providers/azure/services/entra/lib/user_privileges.py
  tests/providers/azure/services/entra/entra_conditional_access_policy_require_mfa_for_management_api/entra_conditional_access_policy_require_mfa_for_management_api_test.py
  tests/providers/azure/services/entra/entra_non_privileged_user_has_mfa/entra_non_privileged_user_has_mfa_test.py
  tests/providers/azure/services/entra/entra_privileged_user_has_mfa/entra_privileged_user_has_mfa_test.py
  tests/providers/azure/services/entra/entra_service_test.py
  tests/providers/azure/services/entra/lib/user_privileges_test.py
Labels: provider/azure, backport-v4

#3601 chore(ulimit): handle low ulimit value on shell session for POSIX if max open files is below 4096
  prowler/lib/check/check.py
Labels: prowler-4.0

#3602 feat(cloudtrail): add threat detection checks for AWS (enum and priv escalation)
  docs/tutorials/configuration_file.md
  prowler/__main__.py
  prowler/config/config.py
  prowler/config/config.yaml
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_service.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_enumeration/__init__.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_enumeration/cloudtrail_threat_detection_enumeration.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_enumeration/cloudtrail_threat_detection_enumeration.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_privilege_escalation/__init__.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_privilege_escalation/cloudtrail_threat_detection_privilege_escalation.metadata.json
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_privilege_escalation/cloudtrail_threat_detection_privilege_escalation.py
Labels: documentation, provider/aws, prowler-4.0
