Repository prowler-cloud/prowler, pull requests merged in 2024-04, with the labels that each got.

#3621 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws

#3623 chore(apigateway): Handle NotFoundException
  prowler/providers/aws/services/apigateway/apigateway_service.py
Labels: provider/aws, backport-v4

#3624 feat(entra): Manage 403 error for getting user authentication methods
  prowler/providers/azure/services/entra/entra_service.py
Labels: provider/azure, backport-v4

#3622 chore(categories): Add threat detection checks in the loader
  prowler/__main__.py
  prowler/config/config.py
  prowler/lib/check/checks_loader.py
Labels: prowler-4.0

#3619 chore(slogan): update Prowler slogan
  prowler/lib/banner.py
  prowler/lib/outputs/slack.py
  tests/lib/outputs/slack_test.py
Labels: prowler-4.0

#3636 chore(args): add plural severity argument
  prowler/lib/cli/parser.py
Labels: prowler-4.0

#3635 chore(compliance): only execute all compliances in normal execution
  prowler/__main__.py
Labels: prowler-4.0

#3637 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws

#3597 chore(action): Prepare containers release for v4
  .github/workflows/build-lint-push-containers.yml
  .github/workflows/pypi-release.yml
Labels: github_actions, backport-v4

#3638 feat(azure):Check related with roles and vm access with mfa
  prowler/providers/azure/config.py
  prowler/providers/azure/services/entra/entra_global_admin_in_less_than_five_users/__init__.py
  prowler/providers/azure/services/entra/entra_global_admin_in_less_than_five_users/entra_global_admin_in_less_than_five_users.metadata.json
  prowler/providers/azure/services/entra/entra_global_admin_in_less_than_five_users/entra_global_admin_in_less_than_five_users.py
  prowler/providers/azure/services/entra/entra_non_privileged_user_has_mfa/entra_non_privileged_user_has_mfa.py
  prowler/providers/azure/services/entra/entra_privileged_user_has_mfa/entra_privileged_user_has_mfa.py
  prowler/providers/azure/services/entra/entra_user_with_vm_access_has_mfa/__init__.py
  prowler/providers/azure/services/entra/entra_user_with_vm_access_has_mfa/entra_user_with_vm_access_has_mfa.metadata.json
  prowler/providers/azure/services/entra/entra_user_with_vm_access_has_mfa/entra_user_with_vm_access_has_mfa.py
  prowler/providers/azure/services/iam/iam_service.py
  tests/providers/azure/services/entra/entra_global_admin_in_less_than_five_users/entra_global_admin_in_less_than_five_users_test.py
  tests/providers/azure/services/entra/entra_non_privileged_user_has_mfa/entra_non_privileged_user_has_mfa_test.py
  tests/providers/azure/services/entra/entra_privileged_user_has_mfa/entra_privileged_user_has_mfa_test.py
  tests/providers/azure/services/entra/entra_user_with_vm_access_has_mfa/entra_user_with_vm_access_has_mfa_test.py
Labels: provider/azure, backport-v4

#3626 feat(compliance): Add new CIS 2.0 / 2.1 compliance framework for Azure
  README.md
  docs/tutorials/compliance.md
  prowler/compliance/azure/cis_2.0_azure.json
  prowler/compliance/azure/cis_2.1_azure.json
  prowler/lib/check/compliance_models.py
  prowler/lib/outputs/compliance.py
  prowler/lib/outputs/file_descriptors.py
  prowler/lib/outputs/models.py
  prowler/providers/azure/services/monitor/monitor_alert_create_update_public_ip_address_rule/__init__.py
  prowler/providers/azure/services/monitor/monitor_alert_create_update_public_ip_address_rule/monitor_alert_create_update_public_ip_address_rule.py
Labels: documentation, provider/azure, backport-v4

#3641 fix(azure): normalize tenant domain set in checks
  output.zip
  prowler/providers/azure/services/entra/entra_global_admin_in_less_than_five_users/entra_global_admin_in_less_than_five_users.py
  prowler/providers/azure/services/entra/entra_policy_default_users_cannot_create_security_groups/entra_policy_default_users_cannot_create_security_groups.py
  prowler/providers/azure/services/entra/entra_policy_ensure_default_user_cannot_create_apps/entra_policy_ensure_default_user_cannot_create_apps.py
  prowler/providers/azure/services/entra/entra_policy_ensure_default_user_cannot_create_tenants/entra_policy_ensure_default_user_cannot_create_tenants.py
  prowler/providers/azure/services/entra/entra_policy_guest_invite_only_for_admin_roles/entra_policy_guest_invite_only_for_admin_roles.py
  prowler/providers/azure/services/entra/entra_policy_guest_users_access_restrictions/entra_policy_guest_users_access_restrictions.py
  prowler/providers/azure/services/entra/entra_policy_restricts_user_consent_for_apps/entra_policy_restricts_user_consent_for_apps.py
  prowler/providers/azure/services/entra/entra_policy_user_consent_for_verified_apps/entra_policy_user_consent_for_verified_apps.py
  prowler/providers/azure/services/entra/entra_security_defaults_enabled/entra_security_defaults_enabled.py
  prowler/providers/azure/services/entra/entra_trusted_named_locations_exists/entra_trusted_named_locations_exists.py
  prowler/providers/azure/services/entra/entra_users_cannot_create_microsoft_365_groups/entra_users_cannot_create_microsoft_365_groups.py
  tests/providers/azure/services/entra/entra_global_admin_in_less_than_five_users/entra_global_admin_in_less_than_five_users_test.py
  tests/providers/azure/services/entra/entra_policy_default_users_cannot_create_security_groups/entra_policy_default_users_cannot_create_security_groups_test.py
  tests/providers/azure/services/entra/entra_policy_ensure_default_user_cannot_create_apps/entra_policy_ensure_default_user_cannot_create_apps_test.py
  tests/providers/azure/services/entra/entra_policy_ensure_default_user_cannot_create_tenants/entra_policy_ensure_default_user_cannot_create_tenants_test.py
  tests/providers/azure/services/entra/entra_policy_guest_invite_only_for_admin_roles/entra_policy_guest_invite_only_for_admin_roles_test.py
  tests/providers/azure/services/entra/entra_policy_guest_users_access_restrictions/entra_policy_guest_users_access_restrictions_test.py
  tests/providers/azure/services/entra/entra_policy_restricts_user_consent_for_apps/entra_policy_restricts_user_consent_for_apps_test.py
  tests/providers/azure/services/entra/entra_policy_user_consent_for_verified_apps/entra_policy_user_consent_for_verified_apps_test.py
  tests/providers/azure/services/entra/entra_security_defaults_enabled/entra_security_defaults_enabled_test.py
  tests/providers/azure/services/entra/entra_trusted_named_locations_exists/entra_trusted_named_locations_exists_test.py
  tests/providers/azure/services/entra/entra_users_cannot_create_microsoft_365_groups/entra_users_cannot_create_microsoft_365_groups_test.py
Labels: provider/azure, backport-v4

#3634 feat(fixer): add Prowler Fixer feature!
  prowler/__main__.py
  prowler/lib/banner.py
  prowler/lib/check/check.py
  prowler/lib/check/checks_loader.py
  prowler/lib/cli/parser.py
  prowler/lib/outputs/outputs.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/arguments/arguments.py
  prowler/providers/aws/services/ec2/ec2_ebs_default_encryption/ec2_ebs_default_encryption_fixer.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/common/models.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/kubernetes/kubernetes_provider.py
  tests/lib/cli/parser_test.py
Labels: no-merge, provider/aws, provider/azure, provider/gcp, prowler-4.0, provider/kubernetes

#3646 fix(cis_2.0_azure): add remaining requirement with id 1.25
  prowler/compliance/azure/cis_2.0_azure.json
Labels: backport-v4

#3647 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v4

#3645 chore(entra): Moving constants from checks and services to config file
  prowler/providers/azure/config.py
  prowler/providers/azure/services/entra/entra_conditional_access_policy_require_mfa_for_management_api/entra_conditional_access_policy_require_mfa_for_management_api.py
  prowler/providers/azure/services/entra/entra_policy_guest_users_access_restrictions/entra_policy_guest_users_access_restrictions.py
  prowler/providers/azure/services/entra/entra_service.py
Labels: provider/azure, backport-v4

#3651 chore(azure): Fix AKS and App tests to new format
  tests/providers/azure/services/aks/aks_cluster_rbac_enabled/aks_cluster_rbac_enabled_test.py
  tests/providers/azure/services/aks/aks_clusters_created_with_private_nodes/aks_clusters_created_with_private_nodes_test.py
  tests/providers/azure/services/aks/aks_clusters_public_access_disabled/aks_clusters_public_access_disabled_test.py
  tests/providers/azure/services/aks/aks_network_policy_enabled/aks_network_policy_enabled_test.py
  tests/providers/azure/services/app/app_client_certificates_on/app_client_certificates_on_test.py
  tests/providers/azure/services/app/app_ensure_auth_is_set_up/app_ensure_auth_is_set_up_test.py
  tests/providers/azure/services/app/app_ensure_http_is_redirected_to_https/app_ensure_http_is_redirected_to_https_test.py
  tests/providers/azure/services/app/app_ensure_java_version_is_latest/app_ensure_java_version_is_latest_test.py
  tests/providers/azure/services/app/app_ensure_php_version_is_latest/app_ensure_php_version_is_latest_test.py
  tests/providers/azure/services/app/app_ensure_python_version_is_latest/app_ensure_python_version_is_latest_test.py
  tests/providers/azure/services/app/app_ensure_using_http20/app_ensure_using_http20_test.py
  tests/providers/azure/services/app/app_ftp_deployment_disabled/app_ftp_deployment_disabled_test.py
  tests/providers/azure/services/app/app_http_logs_enabled/app_http_logs_enabled_test.py
  tests/providers/azure/services/app/app_minimum_tls_version_12/app_minimum_tls_version_12_test.py
  tests/providers/azure/services/app/app_register_with_identity/app_register_with_identity_test.py
Labels: provider/azure

#3648 docs(azure): Add new permissions necessary from Microsoft Entra ID
  docs/getting-started/requirements.md
  docs/img/AAD-permissions.png
  poetry.lock
  pyproject.toml
Labels: documentation, backport-v4

#3653 chore(merge): update v4 with latest changes of v3
  .github/workflows/build-lint-push-containers.yml
  .github/workflows/find-secrets.yml
  .github/workflows/pull-request.yml
  .github/workflows/pypi-release.yml
  README.md
  docs/getting-started/requirements.md
  docs/img/AAD-permissions.png
  docs/tutorials/compliance.md
  poetry.lock
  prowler/compliance/azure/cis_2.0_azure.json
  prowler/compliance/azure/cis_2.1_azure.json
  prowler/lib/check/compliance_models.py
  prowler/lib/outputs/compliance/cis.py
  prowler/lib/outputs/compliance/cis_azure.py
  prowler/lib/outputs/compliance/compliance.py
  prowler/lib/outputs/compliance/models.py
  prowler/lib/outputs/file_descriptors.py
  prowler/providers/aws/aws_regions_by_service.json
  prowler/providers/azure/config.py
  prowler/providers/azure/services/entra/entra_conditional_access_policy_require_mfa_for_management_api/entra_conditional_access_policy_require_mfa_for_management_api.py
  prowler/providers/azure/services/entra/entra_global_admin_in_less_than_five_users/__init__.py
  prowler/providers/azure/services/entra/entra_global_admin_in_less_than_five_users/entra_global_admin_in_less_than_five_users.metadata.json
  prowler/providers/azure/services/entra/entra_global_admin_in_less_than_five_users/entra_global_admin_in_less_than_five_users.py
  prowler/providers/azure/services/entra/entra_non_privileged_user_has_mfa/entra_non_privileged_user_has_mfa.py
  prowler/providers/azure/services/entra/entra_policy_default_users_cannot_create_security_groups/entra_policy_default_users_cannot_create_security_groups.py
  prowler/providers/azure/services/entra/entra_policy_ensure_default_user_cannot_create_apps/entra_policy_ensure_default_user_cannot_create_apps.py
  prowler/providers/azure/services/entra/entra_policy_ensure_default_user_cannot_create_tenants/entra_policy_ensure_default_user_cannot_create_tenants.py
  prowler/providers/azure/services/entra/entra_policy_guest_invite_only_for_admin_roles/entra_policy_guest_invite_only_for_admin_roles.py
  prowler/providers/azure/services/entra/entra_policy_guest_users_access_restrictions/entra_policy_guest_users_access_restrictions.py
  prowler/providers/azure/services/entra/entra_policy_restricts_user_consent_for_apps/entra_policy_restricts_user_consent_for_apps.py
  prowler/providers/azure/services/entra/entra_policy_user_consent_for_verified_apps/entra_policy_user_consent_for_verified_apps.py
  prowler/providers/azure/services/entra/entra_privileged_user_has_mfa/entra_privileged_user_has_mfa.py
  prowler/providers/azure/services/entra/entra_security_defaults_enabled/entra_security_defaults_enabled.py
  prowler/providers/azure/services/entra/entra_service.py
  prowler/providers/azure/services/entra/entra_trusted_named_locations_exists/entra_trusted_named_locations_exists.py
  prowler/providers/azure/services/entra/entra_user_with_vm_access_has_mfa/__init__.py
  prowler/providers/azure/services/entra/entra_user_with_vm_access_has_mfa/entra_user_with_vm_access_has_mfa.metadata.json
  prowler/providers/azure/services/entra/entra_user_with_vm_access_has_mfa/entra_user_with_vm_access_has_mfa.py
  prowler/providers/azure/services/entra/entra_users_cannot_create_microsoft_365_groups/entra_users_cannot_create_microsoft_365_groups.py
  prowler/providers/azure/services/iam/iam_service.py
  prowler/providers/azure/services/monitor/monitor_alert_create_update_public_ip_address_rule/__init__.py
  prowler/providers/azure/services/monitor/monitor_alert_create_update_public_ip_address_rule/monitor_alert_create_update_public_ip_address_rule.py
  pyproject.toml
  tests/providers/aws/services/awslambda/awslambda_service_test.py
  tests/providers/azure/services/entra/entra_global_admin_in_less_than_five_users/entra_global_admin_in_less_than_five_users_test.py
  tests/providers/azure/services/entra/entra_non_privileged_user_has_mfa/entra_non_privileged_user_has_mfa_test.py
  tests/providers/azure/services/entra/entra_policy_default_users_cannot_create_security_groups/entra_policy_default_users_cannot_create_security_groups_test.py
  tests/providers/azure/services/entra/entra_policy_ensure_default_user_cannot_create_apps/entra_policy_ensure_default_user_cannot_create_apps_test.py
  tests/providers/azure/services/entra/entra_policy_ensure_default_user_cannot_create_tenants/entra_policy_ensure_default_user_cannot_create_tenants_test.py
  tests/providers/azure/services/entra/entra_policy_guest_invite_only_for_admin_roles/entra_policy_guest_invite_only_for_admin_roles_test.py
  tests/providers/azure/services/entra/entra_policy_guest_users_access_restrictions/entra_policy_guest_users_access_restrictions_test.py
  tests/providers/azure/services/entra/entra_policy_restricts_user_consent_for_apps/entra_policy_restricts_user_consent_for_apps_test.py
  tests/providers/azure/services/entra/entra_policy_user_consent_for_verified_apps/entra_policy_user_consent_for_verified_apps_test.py
  tests/providers/azure/services/entra/entra_privileged_user_has_mfa/entra_privileged_user_has_mfa_test.py
  tests/providers/azure/services/entra/entra_security_defaults_enabled/entra_security_defaults_enabled_test.py
  tests/providers/azure/services/entra/entra_trusted_named_locations_exists/entra_trusted_named_locations_exists_test.py
  tests/providers/azure/services/entra/entra_user_with_vm_access_has_mfa/entra_user_with_vm_access_has_mfa_test.py
  tests/providers/azure/services/entra/entra_users_cannot_create_microsoft_365_groups/entra_users_cannot_create_microsoft_365_groups_test.py
Labels: documentation, provider/aws, provider/azure, github_actions

#3656 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v4

#3659 fix: typo in action
  .github/workflows/build-lint-push-containers.yml
Labels: github_actions

#3663 fix: typo
  .github/workflows/build-lint-push-containers.yml
Labels: github_actions

#3657 fix(box): remove lines inside box
  prowler/lib/utils/utils.py
Labels: prowler-4.0

#3664 feat(docs): Add poetry command to install doc dependencies
  docs/developer-guide/documentation.md
Labels: documentation, backport-v4

#3662 fix(deps): solve dependencies
  poetry.lock
  pyproject.toml
Labels: prowler-4.0

#3654 fix(Dashboard): Multiple dashboard fixes
  dashboard/__main__.py
  dashboard/assets/styles/dist/output.css
  dashboard/pages/overview.py
Labels: documentation, provider/aws, provider/azure, prowler-4.0, github_actions

#3655 docs(Dashboard): Add docs for dashboards
  dashboard/lib/layouts.py
  docs/tutorials/compliance.md
  docs/tutorials/dashboard.md
  docs/tutorials/img/compliance/compliance-cis-sample1.png
  docs/tutorials/img/compliance/compliance.png
  docs/tutorials/img/dashboard/dashboard-banner.png
  docs/tutorials/img/dashboard/dashboard-compliance.png
  docs/tutorials/img/dashboard/dashboard-files-scanned.png
  docs/tutorials/img/dashboard/dashboard-overview.png
  mkdocs.yml
Labels: documentation, prowler-4.0

#3667 chore(readme): update azure count checks
  README.md
Labels: backport-v4

#3670 fix(merge): update v4 with latest changes
  prowler/lib/banner.py
  prowler/lib/check/check.py
  prowler/lib/utils/utils.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_enumeration/cloudtrail_threat_detection_enumeration.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_privilege_escalation/cloudtrail_threat_detection_privilege_escalation.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/kubernetes/kubernetes_provider.py
Labels: prowler-4.0

#3666 chore(action): Run for v4 branch
  .github/workflows/build-lint-push-containers.yml
Labels: no-merge, prowler-4.0

#3685 chore(actions): Run for master and v3
  .github/workflows/build-documentation-on-pr.yml
  .github/workflows/build-lint-push-containers.yml
  .github/workflows/codeql.yml
  .github/workflows/labeler.yml
  .github/workflows/pull-request.yml
Labels: github_actions

#3684 chore(regions): Add backport-v3 label
  .github/workflows/refresh_aws_services_regions.yml
Labels: github_actions

#3676 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws

#3690 chore(mutelist): remove space within mutelist name
  docs/tutorials/mutelist.md
  mkdocs.yml
  prowler/__main__.py
  prowler/config/aws_mutelist.yaml
  prowler/config/aws_mutelist_example.yaml
  prowler/config/azure_mutelist_example.yaml
  prowler/config/gcp_mutelist_example.yaml
  prowler/config/kubernetes_mutelist_example.yaml
  prowler/lib/check/check.py
  prowler/lib/cli/parser.py
  prowler/lib/mutelist/mutelist.py
  tests/lib/mutelist/fixtures/aws_mutelist.yaml
  tests/lib/mutelist/mutelist_test.py
  tests/providers/aws/aws_provider_test.py
Labels: documentation, provider/aws

#3689 fix(k8s): sanitize context syntax only for output file names
  prowler/providers/kubernetes/kubernetes_provider.py
  prowler/providers/kubernetes/models.py
Labels: provider/kubernetes

#3688 docs(dashboard): improve dashboard documentation
  docs/tutorials/dashboard.md
Labels: documentation

#3669 build(deps): Update boto3 to version 1.34.77
  poetry.lock
  pyproject.toml
  tests/providers/aws/aws_provider_test.py
Labels: provider/aws, backport-v3

#3693 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#3702 fix(actions): use LATEST_TAG
  .github/workflows/build-lint-push-containers.yml
Labels: github_actions

#3703 fix(actions): use LATEST_TAG for v4
  .github/workflows/build-lint-push-containers.yml
Labels: github_actions

#3699 chore(Dockerfile): update Python version to 3.12
  Dockerfile
Labels: backport-v3

#3704 chore: 3.16.0 version
  prowler/config/config.py
  pyproject.toml
Labels: v3

#3705 chore(action): update python version to 3.12 in GH action
  .github/workflows/build-lint-push-containers.yml
Labels: github_actions, backport-v3

#3687 chore(docs): update CloudShell scripts
  .pre-commit-config.yaml
  contrib/cloudshell/cloudshell-installation.sh
  docs/index.md
  docs/tutorials/aws/cloudshell.md
  docs/tutorials/reporting.md
Labels: documentation, no-merge

#3709 docs(images): fix images link in documentation
  docs/tutorials/compliance.md
  docs/tutorials/dashboard.md
Labels: documentation

#3708 chore(Dockerfile): remove deprecated dash dependencies
  Dockerfile
Labels: backport-v3

#3701 fix(ens): add dependencias field ENS rd2022 compliance
  prowler/compliance/aws/ens_rd2022_aws.json
  prowler/lib/check/compliance_models.py
  prowler/lib/outputs/compliance/ens_rd2022_aws.py
  prowler/lib/outputs/compliance/models.py
Labels: backport-v3

#3706 chore(Azure): Optimize Entra service to use async funcs
  prowler/providers/azure/services/entra/entra_service.py
Labels: provider/azure

#3724 fix(service_name): fix typo in ServiceName field for v3
  prowler/providers/aws/services/eks/eks_cluster_private_nodes_enabled/eks_cluster_private_nodes_enabled.metadata.json
  prowler/providers/gcp/services/artifacts/artifacts_container_analysis_enabled/artifacts_container_analysis_enabled.metadata.json
  prowler/providers/gcp/services/gcr/gcr_container_scanning_enabled/gcr_container_scanning_enabled.metadata.json
  prowler/providers/gcp/services/gke/gke_cluster_no_default_service_account/gke_cluster_no_default_service_account.metadata.json
Labels: provider/aws, provider/gcp

#3726 docs(mutelist): remove MUTED and explain new fields
  docs/tutorials/mutelist.md
Labels: documentation

#3712 chore(dispatch): just for v3
  .github/workflows/build-lint-push-containers.yml
Labels: github_actions, backport-v3

#3723 fix(service_name): fix typo in ServiceName field
  prowler/providers/aws/services/eks/eks_cluster_private_nodes_enabled/eks_cluster_private_nodes_enabled.metadata.json
  prowler/providers/gcp/services/artifacts/artifacts_container_analysis_enabled/artifacts_container_analysis_enabled.metadata.json
  prowler/providers/gcp/services/gcr/gcr_container_scanning_enabled/gcr_container_scanning_enabled.metadata.json
  prowler/providers/gcp/services/gke/gke_cluster_no_default_service_account/gke_cluster_no_default_service_account.metadata.json
Labels: provider/aws, provider/gcp

#3727 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#3649 docs(azure): test services in Azure added
  docs/developer-guide/documentation.md
  docs/developer-guide/unit-testing.md
Labels: documentation

#3728 chore(backport): include latest changes in v3
  .github/workflows/build-lint-push-containers.yml
  Dockerfile
  poetry.lock
  prowler/providers/aws/aws_regions_by_service.json
  pyproject.toml
Labels: provider/aws, github_actions

#3729 docs(dashboard): Indicate how to change port
  docs/tutorials/dashboard.md
Labels: documentation

#3731 chore(version): update Prowler v3 version
  prowler/config/config.py
  pyproject.toml
Labels: v3

#3732 docs(dashboard): format list
  docs/tutorials/dashboard.md
Labels: documentation

#3733 fix(actions): Don't need expressions within `if`
  .github/workflows/build-lint-push-containers.yml
Labels: github_actions, backport-v3

#3736 fix(aws_lambda): Update obsolete lambda runtimes for v3
  docs/tutorials/configuration_file.md
  prowler/config/config.yaml
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/config/fixtures/config_old.yaml
  tests/providers/aws/services/awslambda/awslambda_function_using_supported_runtimes/awslambda_function_using_supported_runtimes_test.py
Labels: documentation, provider/aws

#3707 docs: readme points to docs.prowler.com to learn everything
  README.md
  contrib/cloudshell/cloudshell-installation.sh
  docs/img/architecture.png
  docs/img/dashboard.png
  docs/img/short-display.png
  docs/index.md
  docs/tutorials/aws/cloudshell.md
  docs/tutorials/aws/v2_to_v3_checks_mapping.md
  mkdocs.yml
Labels: documentation

#3746 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#3734 docs(outputs): update docs for v4 outputs
  docs/img/output-html.png
  docs/tutorials/reporting.md
Labels: documentation

#3741 feat(gcp): improve Google Projects scan customization
  docs/tutorials/gcp/projects.md
  mkdocs.yml
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/gcp/lib/arguments/arguments.py
  tests/lib/cli/parser_test.py
  tests/providers/gcp/gcp_provider_test.py
Labels: documentation, provider/gcp

#3748 fix(ocsf): Include check_id as metadata.event_code
  docs/tutorials/reporting.md
  prowler/lib/outputs/json_ocsf/json_ocsf.py
  tests/lib/outputs/json_ocsf/json_ocsf_test.py
Labels: documentation

#3755 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#3757 docs(threat-detection): Add threat-detection docs
  docs/tutorials/aws/threat-detection.md
  mkdocs.yml
Labels: documentation

#3759 fix(json-ocsf): Remove risk field from unmapped
  docs/tutorials/reporting.md
  prowler/lib/outputs/json_ocsf/json_ocsf.py
  tests/lib/outputs/json_ocsf/json_ocsf_test.py
Labels: documentation

#3761 fix(wafv2): Handle WAFNonexistentItemException
  prowler/providers/aws/services/wafv2/wafv2_service.py
Labels: provider/aws

#3762 fix(wafv2): Handle WAFNonexistentItemException v3
  prowler/providers/aws/services/wafv2/wafv2_service.py
Labels: provider/aws

#3753 fix(ocsf): Add compliance
  docs/tutorials/reporting.md
  prowler/lib/outputs/common_models.py
  prowler/lib/outputs/json_ocsf/json_ocsf.py
  prowler/lib/outputs/outputs.py
  tests/lib/outputs/fixtures/fixtures.py
  tests/lib/outputs/json_ocsf/json_ocsf_test.py
Labels: documentation

#3749 docs(devel-guide): Adding some improves and clarifications to developer guide
  docs/developer-guide/checks.md
  docs/developer-guide/services.md
  docs/index.md
Labels: documentation

#3765 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#3768 fix(security-hub): MUTED -> WARNING
  prowler/lib/cli/parser.py
  prowler/lib/outputs/json_asff/json_asff.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  tests/lib/outputs/json_asff/json_asff_test.py
Labels: provider/aws

#3767 chore(backport): v4 -> v3
  .github/workflows/build-lint-push-containers.yml
  mkdocs.yml
  poetry.lock
  prowler/providers/aws/aws_regions_by_service.json
Labels: provider/aws, github_actions

#3756 docs(devel-guide): Add provider section and remove audit_info section
  docs/developer-guide/audit-info.md
  docs/developer-guide/provider.md
  docs/developer-guide/services.md
  mkdocs.yml
Labels: documentation

#3764 docs(unit-testing): Update the unit testing section
  docs/developer-guide/unit-testing.md
Labels: documentation

#3775 fix(trufflehog): fix GitHub action of TruffleHog
  .github/workflows/find-secrets.yml
Labels: github_actions, backport-v3

#3774 fix(trufflehog): fix GitHub action of TruffleHog
  .github/workflows/find-secrets.yml
Labels: github_actions

#3750 chore(fixer): improve fixer logic and include more
  docs/tutorials/fixer.md
  docs/tutorials/img/fixer.png
  mkdocs.yml
  prowler/__main__.py
  prowler/config/config.py
  prowler/config/fixer_config.yaml
  prowler/lib/check/check.py
  prowler/lib/cli/parser.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/service/service.py
  prowler/providers/aws/services/ec2/ec2_ebs_default_encryption/ec2_ebs_default_encryption_fixer.py
  prowler/providers/aws/services/iam/iam_password_policy_expires_passwords_within_90_days_or_less/iam_password_policy_expires_passwords_within_90_days_or_less_fixer.py
  prowler/providers/aws/services/iam/iam_password_policy_lowercase/iam_password_policy_lowercase_fixer.py
  prowler/providers/aws/services/iam/iam_password_policy_minimum_length_14/iam_password_policy_minimum_length_14_fixer.py
  prowler/providers/aws/services/iam/iam_password_policy_number/iam_password_policy_number_fixer.py
  prowler/providers/aws/services/iam/iam_password_policy_reuse_24/iam_password_policy_reuse_24_fixer.py
  prowler/providers/aws/services/iam/iam_password_policy_symbol/iam_password_policy_symbol_fixer.py
  prowler/providers/aws/services/iam/iam_password_policy_uppercase/iam_password_policy_uppercase_fixer.py
  prowler/providers/aws/services/s3/s3_account_level_public_access_blocks/s3_account_level_public_access_blocks_fixer.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/azure/lib/service/service.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/gcp/lib/service/service.py
  prowler/providers/kubernetes/kubernetes_provider.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/config/fixtures/fixer_config.yaml
  tests/providers/aws/services/ec2/ec2_ebs_default_encryption/ec2_ebs_default_encryption_fixer_test.py
  tests/providers/aws/services/iam/iam_password_policy_expires_passwords_within_90_days_or_less/iam_password_policy_expires_passwords_within_90_days_or_less_fixer_test.py
  tests/providers/aws/services/iam/iam_password_policy_lowercase/iam_password_policy_lowercase_fixer_test.py
  tests/providers/aws/services/iam/iam_password_policy_minimum_length_14/iam_password_policy_minimum_length_14_fixer_test.py
  tests/providers/aws/services/iam/iam_password_policy_number/iam_password_policy_number_fixer_test.py
  tests/providers/aws/services/iam/iam_password_policy_reuse_24/iam_password_policy_reuse_24_fixer_test.py
  tests/providers/aws/services/iam/iam_password_policy_symbol/iam_password_policy_symbol_fixer_test.py
  tests/providers/aws/services/iam/iam_password_policy_uppercase/iam_password_policy_uppercase_fixer_test.py
  tests/providers/aws/services/s3/s3_account_level_public_access_blocks/s3_account_level_public_access_blocks_fixer_test.py
  tests/providers/aws/services/s3/s3_account_level_public_access_blocks/s3_account_level_public_access_blocks_test.py
  tests/providers/aws/utils.py
  tests/providers/azure/azure_provider_test.py
  tests/providers/gcp/gcp_provider_test.py
  tests/providers/kubernetes/kubernetes_provider_test.py
Labels: documentation, provider/aws, provider/azure, provider/gcp, provider/kubernetes

#3799 docs(developer guide): fix broken link
  CONTRIBUTING.md
Labels: backport-v3

#3798 chore(ec2): improve handling of ENIs
  prowler/providers/aws/services/ec2/ec2_service.py
  prowler/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover.py
  tests/providers/aws/services/ec2/ec2_service_test.py
Labels: provider/aws, backport-v3

#3804 chore(aws): Add CloudTrail Threat Detection tests
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_enumeration/cloudtrail_threat_detection_enumeration.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_privilege_escalation/cloudtrail_threat_detection_privilege_escalation.py
  tests/providers/aws/services/cloudtrail/cloudtrail_service_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_threat_detection_enumeration/cloudtrail_threat_detection_enumeration_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_threat_detection_privilege_escalation/cloudtrail_threat_detection_privilege_escalation_test.py
Labels: provider/aws

#3808 fix(network_azure): handle capitalized protocols in security group rules
  prowler/providers/azure/services/network/network_http_internet_access_restricted/network_http_internet_access_restricted.py
  prowler/providers/azure/services/network/network_rdp_internet_access_restricted/network_rdp_internet_access_restricted.py
  prowler/providers/azure/services/network/network_ssh_internet_access_restricted/network_ssh_internet_access_restricted.py
  prowler/providers/azure/services/network/network_udp_internet_access_restricted/network_udp_internet_access_restricted.py
Labels: provider/azure, backport-v3

#3814 chore(vpc): improve public subnet logic
  prowler/providers/aws/services/vpc/vpc_service.py
  tests/providers/aws/services/vpc/vpc_subnet_separate_private_public/vpc_subnet_separate_private_public_test.py
  tests/providers/aws/services/workspaces/workspaces_vpc_2private_1public_subnets_nat/workspaces_vpc_2private_1public_subnets_nat_test.py
Labels: provider/aws

#3806 fix(dashboard): fix error in windows for csvreader
  dashboard/config.py
  dashboard/pages/compliance.py
  dashboard/pages/overview.py
Labels: status/awaiting-reponse

#3816 docs(ocsf): Add missing fields to the example
  docs/tutorials/reporting.md
Labels: documentation

#3822 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#3821 fix(aws): Include record names for dangling IPs
  prowler/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover.py
  tests/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover_test.py
Labels: provider/aws, backport-v3

#3823 fix(aws): Corrects privilege escalation vectors
  prowler/providers/aws/services/iam/iam_policy_allows_privilege_escalation/iam_policy_allows_privilege_escalation.py
  tests/providers/aws/services/iam/iam_policy_allows_privilege_escalation/iam_policy_allows_privilege_escalation_test.py
Labels: provider/aws, backport-v3

#3824 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#3826 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#3842 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#3846 chore(v3): include latest changes to version 3
  prowler/providers/aws/aws_regions_by_service.json
Labels: provider/aws

#3827 feat(ec2): Add 2 new checks + fixers related with EC2 service
  docs/tutorials/fixer.md
  prowler/config/fixer_config.yaml
  prowler/providers/aws/services/ec2/ec2_ebs_default_encryption/ec2_ebs_default_encryption.py
  prowler/providers/aws/services/ec2/ec2_ebs_snapshot_account_block_public_access/__init__.py
  prowler/providers/aws/services/ec2/ec2_ebs_snapshot_account_block_public_access/ec2_ebs_snapshot_account_block_public_access.metadata.json
  prowler/providers/aws/services/ec2/ec2_ebs_snapshot_account_block_public_access/ec2_ebs_snapshot_account_block_public_access.py
  prowler/providers/aws/services/ec2/ec2_ebs_snapshot_account_block_public_access/ec2_ebs_snapshot_account_block_public_access_fixer.py
  prowler/providers/aws/services/ec2/ec2_instance_account_imdsv2_enabled/__init__.py
  prowler/providers/aws/services/ec2/ec2_instance_account_imdsv2_enabled/ec2_instance_account_imdsv2_enabled.metadata.json
  prowler/providers/aws/services/ec2/ec2_instance_account_imdsv2_enabled/ec2_instance_account_imdsv2_enabled.py
  prowler/providers/aws/services/ec2/ec2_instance_account_imdsv2_enabled/ec2_instance_account_imdsv2_enabled_fixer.py
  prowler/providers/aws/services/ec2/ec2_service.py
  tests/providers/aws/services/ec2/ec2_ebs_snapshot_account_block_public_access/ec2_ebs_snapshot_account_block_public_access_fixer_test.py
  tests/providers/aws/services/ec2/ec2_ebs_snapshot_account_block_public_access/ec2_ebs_snapshot_account_block_public_access_test.py
  tests/providers/aws/services/ec2/ec2_instance_account_imdsv2_enabled/ec2_instance_account_imdsv2_enabled_fixer_test.py
  tests/providers/aws/services/ec2/ec2_instance_account_imdsv2_enabled/ec2_instance_account_imdsv2_enabled_test.py
  tests/providers/aws/services/ec2/ec2_service_test.py
Labels: documentation, provider/aws, provider/azure, provider/gcp, provider/kubernetes

#3855 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#3853 feat(json-ocsf): Add new fields for py-ocsf 0.1.0
  docs/tutorials/reporting.md
  poetry.lock
  prowler/lib/outputs/common_models.py
  prowler/lib/outputs/json_ocsf/json_ocsf.py
  prowler/lib/outputs/outputs.py
  prowler/lib/outputs/utils.py
  prowler/providers/aws/lib/organizations/organizations.py
  prowler/providers/aws/models.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/gcp/models.py
  pyproject.toml
  tests/lib/outputs/fixtures/fixtures.py
  tests/lib/outputs/json_ocsf/json_ocsf_test.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/aws/lib/organizations/organizations_test.py
  tests/providers/gcp/gcp_provider_test.py
Labels: documentation, provider/aws, provider/gcp

#3856 fix(KeyError): handle CacheSubnetGroupName keyError
  prowler/providers/aws/services/elasticache/elasticache_service.py
Labels: provider/aws, backport-v3

#3859 fix(s3-integration): Store compliance outputs in their folder
  prowler/providers/aws/lib/s3/s3.py
  tests/providers/aws/lib/s3/fixtures/compliance/prowler-output-123456789012_cis_1.4_aws.csv
  tests/providers/aws/lib/s3/s3_test.py
Labels: provider/aws

#3862 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#3860 chore(get_tagged_resources): Add return value type hint
  prowler/providers/aws/aws_provider.py
Labels: provider/aws

#3831 docs(audit_info): update docs about audit info and new testing
  docs/developer-guide/services.md
  docs/developer-guide/unit-testing.md
  tests/providers/gcp/services/compute/compute_public_address_shodan/compute_public_address_shodan_test.py
Labels: documentation, provider/gcp

#3868 chore(docs): solve some issues
  docs/index.md
  docs/tutorials/aws/authentication.md
  docs/tutorials/aws/s3.md
Labels: documentation

#3849 chore(gcp): handle list projects API call errors
  prowler/providers/gcp/gcp_provider.py
Labels: provider/gcp, backport-v3

#3796 test(gcp): Add new services tests to GCP
  prowler/providers/gcp/services/iam/iam_service.py
  tests/providers/gcp/gcp_fixtures.py
  tests/providers/gcp/services/apikeys/apikeys_service_test.py
  tests/providers/gcp/services/bigquery/bigquery_service_test.py
  tests/providers/gcp/services/cloudresourcemanager/cloudresourcemanager_service_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_service_test.py
  tests/providers/gcp/services/cloudstorage/cloudstorage_service_test.py
  tests/providers/gcp/services/compute/compute_service_test.py
  tests/providers/gcp/services/dataproc/dataproc_service_test.py
  tests/providers/gcp/services/dns/dns_service_test.py
  tests/providers/gcp/services/gke/gke_service_test.py
  tests/providers/gcp/services/iam/iam_organization_essential_contacts_configured/iam_organization_essential_contacts_configured_test.py
  tests/providers/gcp/services/iam/iamgcp_service_test.py
  tests/providers/gcp/services/kms/kmsgcp_service_test.py
  tests/providers/gcp/services/logging/logging_service_test.py
  tests/providers/gcp/services/monitoring/monitoring_service_test.py
  tests/providers/gcp/services/serviceusage/serviceusage_test.py
Labels: provider/gcp, backport-v3

#3901 docs(unit-testing): Add GCP services documentation
  docs/developer-guide/unit-testing.md
Labels: documentation

#3872 fix(efs): check all public conditions
  prowler/providers/aws/services/efs/efs_not_publicly_accessible/efs_not_publicly_accessible.py
  prowler/providers/aws/services/efs/lib/__init__.py
  prowler/providers/aws/services/efs/lib/lib.py
  tests/providers/aws/services/efs/efs_not_publicly_accessible/efs_not_publicly_accessible_test.py
  tests/providers/aws/services/efs/lib/lib_test.py
Labels: provider/aws, backport-v3

#3902 fix(vpc): solve subnet route key error
  prowler/providers/aws/services/vpc/vpc_service.py
Labels: provider/aws, backport-v3

#3903 fix(vpc): solve AWS principal key error
  prowler/providers/aws/services/vpc/vpc_endpoint_connections_trust_boundaries/vpc_endpoint_connections_trust_boundaries.py
Labels: provider/aws, backport-v3

#3900 chore: fix some comments
  dashboard/pages/overview.py
  docs/developer-guide/unit-testing.md
  prowler/providers/aws/lib/service/service.py
Labels: documentation, provider/aws

#3857 chore(mitre azure): add mapping to mitre for azure provider
  dashboard/compliance/mitre_attack_azure.py
  dashboard/pages/compliance.py
  prowler/compliance/azure/mitre_attack_azure.json
  prowler/lib/check/compliance_models.py
  prowler/lib/outputs/compliance/compliance.py
  prowler/lib/outputs/compliance/mitre_attack/__init__.py
  prowler/lib/outputs/compliance/mitre_attack/mitre_attack.py
  prowler/lib/outputs/compliance/mitre_attack/models.py
  prowler/lib/outputs/compliance/models.py
  prowler/lib/outputs/file_descriptors.py
  prowler/lib/outputs/outputs.py
Labels: provider/azure
