Repository prowler-cloud/prowler, pull requests merged in 2024-08, with the labels that each got.

#4607 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4606 fix(mutelist): Fix tags match
  prowler/lib/mutelist/mutelist.py
  tests/providers/aws/lib/mutelist/aws_mutelist_test.py
Labels: provider/aws, mutelist

#4498 fix(sns): add condition to sns topics
  prowler/providers/aws/lib/policy_condition_parser/policy_condition_parser.py
  prowler/providers/aws/services/sns/sns_topics_not_publicly_accessible/sns_topics_not_publicly_accessible.py
  tests/providers/aws/lib/policy_condition_parser/policy_condition_parser_test.py
  tests/providers/aws/services/sns/sns_topics_not_publicly_accessible/sns_topics_not_publicly_accessible_test.py
Labels: documentation, provider/aws

#4630 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-v3

#4610 fix(gcp): use KMS key id in checks
  prowler/providers/gcp/services/kms/kms_key_not_publicly_accessible/kms_key_not_publicly_accessible.py
  prowler/providers/gcp/services/kms/kms_key_rotation_enabled/kms_key_rotation_enabled.py
  prowler/providers/gcp/services/kms/kms_service.py
  tests/providers/gcp/services/kms/kms_key_not_publicly_accessible/kms_key_not_publicly_accessible_gcp_test.py
  tests/providers/gcp/services/kms/kms_key_rotation_enabled/kms_key_rotation_enabled_test.py
Labels: provider/gcp

#4575 chore(aws): Convert ELB and ELBv2 attributes to dictionaries
  prowler/providers/aws/services/elb/elb_insecure_ssl_ciphers/elb_insecure_ssl_ciphers.py
  prowler/providers/aws/services/elb/elb_internet_facing/elb_internet_facing.py
  prowler/providers/aws/services/elb/elb_logging_enabled/elb_logging_enabled.py
  prowler/providers/aws/services/elb/elb_service.py
  prowler/providers/aws/services/elb/elb_ssl_listeners/elb_ssl_listeners.py
  prowler/providers/aws/services/elbv2/elbv2_deletion_protection/elbv2_deletion_protection.py
  prowler/providers/aws/services/elbv2/elbv2_desync_mitigation_mode/elbv2_desync_mitigation_mode.py
  prowler/providers/aws/services/elbv2/elbv2_insecure_ssl_ciphers/elbv2_insecure_ssl_ciphers.py
  prowler/providers/aws/services/elbv2/elbv2_internet_facing/elbv2_internet_facing.py
  prowler/providers/aws/services/elbv2/elbv2_listeners_underneath/elbv2_listeners_underneath.py
  prowler/providers/aws/services/elbv2/elbv2_logging_enabled/elbv2_logging_enabled.py
  prowler/providers/aws/services/elbv2/elbv2_service.py
  prowler/providers/aws/services/elbv2/elbv2_ssl_listeners/elbv2_ssl_listeners.py
  prowler/providers/aws/services/elbv2/elbv2_waf_acl_attached/elbv2_waf_acl_attached.py
  prowler/providers/aws/services/shield/shield_advanced_protection_in_classic_load_balancers/shield_advanced_protection_in_classic_load_balancers.py
  prowler/providers/aws/services/shield/shield_advanced_protection_in_internet_facing_load_balancers/shield_advanced_protection_in_internet_facing_load_balancers.py
  tests/providers/aws/services/elb/elb_insecure_ssl_ciphers/elb_insecure_ssl_ciphers_test.py
  tests/providers/aws/services/elb/elb_internet_facing/elb_internet_facing_test.py
  tests/providers/aws/services/elb/elb_logging_enabled/elb_logging_enabled_test.py
  tests/providers/aws/services/elb/elb_service_test.py
  tests/providers/aws/services/elb/elb_ssl_listeners/elb_ssl_listeners_test.py
  tests/providers/aws/services/elbv2/elbv2_service_test.py
Labels: provider/aws

#4633 fix(gcp): check next rotation time in KMS keys
  prowler/providers/gcp/services/kms/kms_key_rotation_enabled/kms_key_rotation_enabled.py
  prowler/providers/gcp/services/kms/kms_service.py
  tests/providers/gcp/services/kms/kms_key_not_publicly_accessible/kms_key_not_publicly_accessible_gcp_test.py
  tests/providers/gcp/services/kms/kms_key_rotation_enabled/kms_key_rotation_enabled_test.py
Labels: provider/gcp

#4635 fix(gcp): check cloudsql sslMode
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_ssl_connections/cloudsql_instance_ssl_connections.py
  prowler/providers/gcp/services/cloudsql/cloudsql_service.py
  tests/providers/gcp/gcp_fixtures.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_automated_backups/cloudsql_instance_automated_backups_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_mysql_local_infile_flag/cloudsql_instance_mysql_local_infile_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_mysql_skip_show_database_flag/cloudsql_instance_mysql_skip_show_database_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_postgres_enable_pgaudit_flag/cloudsql_instance_postgres_enable_pgaudit_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_connections_flag/cloudsql_instance_postgres_log_connections_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_disconnections_flag/cloudsql_instance_postgres_log_disconnections_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_error_verbosity_flag/cloudsql_instance_postgres_log_error_verbosity_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_min_duration_statement_flag/cloudsql_instance_postgres_log_min_duration_statement_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_min_error_statement_flag/cloudsql_instance_postgres_log_min_error_statement_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_min_messages_flag/cloudsql_instance_postgres_log_min_messages_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_statement_flag/cloudsql_instance_postgres_log_statement_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_public_access/cloudsql_instance_public_access_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_public_ip/cloudsql_instance_public_ip_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_contained_database_authentication_flag/cloudsql_instance_sqlserver_contained_database_authentication_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_cross_db_ownership_chaining_flag/cloudsql_instance_sqlserver_cross_db_ownership_chaining_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_external_scripts_enabled_flag/cloudsql_instance_sqlserver_external_scripts_enabled_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_remote_access_flag/cloudsql_instance_sqlserver_remote_access_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_trace_flag/cloudsql_instance_sqlserver_trace_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_user_connections_flag/cloudsql_instance_sqlserver_user_connections_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_sqlserver_user_options_flag/cloudsql_instance_sqlserver_user_options_flag_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_ssl_connections/cloudsql_instance_ssl_connections_test.py
  tests/providers/gcp/services/cloudsql/cloudsql_service_test.py
Labels: provider/gcp

#4637 refactor(mutelist): Remove re.match and improve docs
  docs/tutorials/mutelist.md
  prowler/lib/mutelist/mutelist.py
  tests/providers/aws/lib/mutelist/aws_mutelist_test.py
  tests/providers/kubernetes/lib/mutelist/kubernetes_mutelist_test.py
Labels: documentation, provider/aws, provider/kubernetes, mutelist

#4570 feat(opensearch): Add domain inside VPC case for public domain check
  prowler/providers/aws/services/opensearch/opensearch_service.py
  prowler/providers/aws/services/opensearch/opensearch_service_domains_not_publicly_accessible/opensearch_service_domains_not_publicly_accessible.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_audit_logging_enabled/opensearch_service_domains_audit_logging_enabled_test.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_cloudwatch_logging_enabled/opensearch_service_domains_cloudwatch_logging_enabled_test.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_encryption_at_rest_enabled/opensearch_service_domains_encryption_at_rest_enabled_test.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_https_communications_enforced/opensearch_service_domains_https_communications_enforced_test.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_internal_user_database_enabled/opensearch_service_domains_internal_user_database_enabled_test.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_node_to_node_encryption_enabled/opensearch_service_domains_node_to_node_encryption_enabled_test.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_not_publicly_accessible/opensearch_service_domains_not_publicly_accessible_test.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_updated_to_the_latest_service_software_version/opensearch_service_domains_updated_to_the_latest_service_software_version_test.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_use_cognito_authentication_for_kibana/opensearch_service_domains_use_cognito_authentication_for_kibana_test.py
  tests/providers/aws/services/opensearch/opensearch_service_test.py
Labels: provider/aws

#4650 docs(mutelist): Add service_* documentation
  docs/tutorials/mutelist.md
Labels: documentation

#4651 chore: change SaaS for Prowler
  .github/workflows/build-documentation-on-pr.yml
Labels: github_actions

#4609 test(awslambda): Cover possible checks with moto instead MagicMock
  tests/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible_test.py
Labels: provider/aws

#4669 chore(backport): Automate all the things!
  .backportrc.json
  .github/workflows/backport.yml
Labels: github_actions

#4678 chore(regions): Update labels for backporting
  .github/workflows/refresh_aws_services_regions.yml
Labels: github_actions

#4551 feat(acm): Add new check for insecure algorithms in certificates
  prowler/config/config.yaml
  prowler/providers/aws/services/acm/acm_certificates_with_secure_key_algorithms/__init__.py
  prowler/providers/aws/services/acm/acm_certificates_with_secure_key_algorithms/acm_certificates_with_secure_key_algorithms.metadata.json
  prowler/providers/aws/services/acm/acm_certificates_with_secure_key_algorithms/acm_certificates_with_secure_key_algorithms.py
  prowler/providers/aws/services/acm/acm_service.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/providers/aws/services/acm/acm_certificates_expiration_check/acm_certificates_expiration_check_test.py
  tests/providers/aws/services/acm/acm_certificates_transparency_logs_enabled/acm_certificates_transparency_logs_enabled_test.py
  tests/providers/aws/services/acm/acm_certificates_with_secure_key_algorithms/acm_certificates_with_secure_key_algorithms_test.py
  tests/providers/aws/services/acm/acm_service_test.py
Labels: provider/aws

#4682 chore(actions): Run for v4.* branch
  .github/workflows/codeql.yml
  .github/workflows/pull-request.yml
Labels: github_actions

#4595 feat(aws): Add new KMS check to prevent unintentional key deletion
  prowler/providers/aws/services/kms/kms_cmk_not_deleted_unintentionally/__init__.py
  prowler/providers/aws/services/kms/kms_cmk_not_deleted_unintentionally/kms_cmk_not_deleted_unintentionally.metadata.json
  prowler/providers/aws/services/kms/kms_cmk_not_deleted_unintentionally/kms_cmk_not_deleted_unintentionally.py
  tests/providers/aws/services/kms/kms_cmk_not_deleted_unintentionally/kms_cmk_not_deleted_unintentionally_test.py
Labels: provider/aws

#4608 feat(aws): Add new S3 check for public access block configuration in access points
  prowler/providers/aws/services/s3/s3_access_point_public_access_block/__init__.py
  prowler/providers/aws/services/s3/s3_access_point_public_access_block/s3_access_point_public_access_block.metadata.json
  prowler/providers/aws/services/s3/s3_access_point_public_access_block/s3_access_point_public_access_block.py
  prowler/providers/aws/services/s3/s3_service.py
  tests/providers/aws/services/s3/s3_access_point_public_access_block/s3_access_point_public_access_block_test.py
  tests/providers/aws/services/s3/s3_service_test.py
Labels: provider/aws

#4687 chore(labeler): Run also for v4.*
  .github/workflows/labeler.yml
Labels: github_actions

#4686 chore(backport): update backport PR title
  .backportrc.json
  .github/workflows/pull-request.yml
Labels: github_actions

#4654 chore(version): update version logic in Prowler
  .github/workflows/build-lint-push-containers.yml
  .github/workflows/pypi-release.yml
Labels: github_actions

#4701 docs(developer-guide): add info about docstrings
  docs/developer-guide/introduction.md
Labels: documentation

#4707 fix(backport): Workaround not to fail if no backport is needed
  .github/workflows/backport.yml
Labels: github_actions

#4563 feat(aws): Add a test_connection method
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/arguments/arguments.py
  prowler/providers/aws/models.py
  prowler/providers/common/models.py
  prowler/providers/common/provider.py
  tests/providers/aws/aws_provider_test.py
Labels: provider/aws

#4697 fix(iam): handle no arn serial numbers for MFA devices
  prowler/providers/aws/services/iam/iam_service.py
  tests/providers/aws/services/iam/iam_service_test.py
Labels: provider/aws, backport-to-v3, backport-to-v4.3

#4700 chore(ec2): Change security groups to dict
  docs/developer-guide/checks.md
  prowler/providers/aws/services/dms/dms_instance_no_public_access/dms_instance_no_public_access.py
  prowler/providers/aws/services/ec2/ec2_instance_port_cassandra_exposed_to_internet/ec2_instance_port_cassandra_exposed_to_internet.py
  prowler/providers/aws/services/ec2/ec2_instance_port_cifs_exposed_to_internet/ec2_instance_port_cifs_exposed_to_internet.py
  prowler/providers/aws/services/ec2/ec2_instance_port_elasticsearch_kibana_exposed_to_internet/ec2_instance_port_elasticsearch_kibana_exposed_to_internet.py
  prowler/providers/aws/services/ec2/ec2_instance_port_ftp_exposed_to_internet/ec2_instance_port_ftp_exposed_to_internet.py
  prowler/providers/aws/services/ec2/ec2_instance_port_kafka_exposed_to_internet/ec2_instance_port_kafka_exposed_to_internet.py
  prowler/providers/aws/services/ec2/ec2_instance_port_kerberos_exposed_to_internet/ec2_instance_port_kerberos_exposed_to_internet.py
  prowler/providers/aws/services/ec2/ec2_instance_port_ldap_exposed_to_internet/ec2_instance_port_ldap_exposed_to_internet.py
  prowler/providers/aws/services/ec2/ec2_instance_port_memcached_exposed_to_internet/ec2_instance_port_memcached_exposed_to_internet.py
  prowler/providers/aws/services/ec2/ec2_instance_port_mongodb_exposed_to_internet/ec2_instance_port_mongodb_exposed_to_internet.py
  prowler/providers/aws/services/ec2/ec2_instance_port_mysql_exposed_to_internet/ec2_instance_port_mysql_exposed_to_internet.py
  prowler/providers/aws/services/ec2/ec2_instance_port_oracle_exposed_to_internet/ec2_instance_port_oracle_exposed_to_internet.py
  prowler/providers/aws/services/ec2/ec2_instance_port_postgresql_exposed_to_internet/ec2_instance_port_postgresql_exposed_to_internet.py
  prowler/providers/aws/services/ec2/ec2_instance_port_rdp_exposed_to_internet/ec2_instance_port_rdp_exposed_to_internet.py
  prowler/providers/aws/services/ec2/ec2_instance_port_redis_exposed_to_internet/ec2_instance_port_redis_exposed_to_internet.py
  prowler/providers/aws/services/ec2/ec2_instance_port_sqlserver_exposed_to_internet/ec2_instance_port_sqlserver_exposed_to_internet.py
  prowler/providers/aws/services/ec2/ec2_instance_port_ssh_exposed_to_internet/ec2_instance_port_ssh_exposed_to_internet.py
  prowler/providers/aws/services/ec2/ec2_instance_port_telnet_exposed_to_internet/ec2_instance_port_telnet_exposed_to_internet.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_all_ports/ec2_securitygroup_allow_ingress_from_internet_to_all_ports.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_any_port/ec2_securitygroup_allow_ingress_from_internet_to_any_port.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_port_mongodb_27017_27018/ec2_securitygroup_allow_ingress_from_internet_to_port_mongodb_27017_27018.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_ftp_port_20_21/ec2_securitygroup_allow_ingress_from_internet_to_tcp_ftp_port_20_21.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_22/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_22.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_3389/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_3389.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_cassandra_7199_9160_8888/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_cassandra_7199_9160_8888.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_elasticsearch_kibana_9200_9300_5601/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_elasticsearch_kibana_9200_9300_5601.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_kafka_9092/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_kafka_9092.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_memcached_11211/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_memcached_11211.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_mysql_3306/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_mysql_3306.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_oracle_1521_2483/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_oracle_1521_2483.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_postgres_5432/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_postgres_5432.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_redis_6379/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_redis_6379.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_sql_server_1433_1434/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_sql_server_1433_1434.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_telnet_23/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_telnet_23.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_wide_open_public_ipv4/ec2_securitygroup_allow_wide_open_public_ipv4.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_default_restrict_traffic/ec2_securitygroup_default_restrict_traffic.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_from_launch_wizard/ec2_securitygroup_from_launch_wizard.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_not_used/ec2_securitygroup_not_used.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_with_many_ingress_egress_rules/ec2_securitygroup_with_many_ingress_egress_rules.py
  prowler/providers/aws/services/ec2/ec2_service.py
  prowler/providers/aws/services/emr/emr_cluster_publicly_accesible/emr_cluster_publicly_accesible.py
  prowler/providers/aws/services/rds/rds_instance_no_public_access/rds_instance_no_public_access.py
  tests/providers/aws/services/ec2/ec2_service_test.py
Labels: documentation, provider/aws

#4702 feat(DocumentDB): Add new DocumentDB check for cluster snapshot visibility
  prowler/providers/aws/services/documentdb/documentdb_cluster_public_snapshot/__init__.py
  prowler/providers/aws/services/documentdb/documentdb_cluster_public_snapshot/documentdb_cluster_public_snapshot.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_cluster_public_snapshot/documentdb_cluster_public_snapshot.py
  prowler/providers/aws/services/documentdb/documentdb_service.py
  tests/providers/aws/services/documentdb/documentdb_cluster_public_snapshot/documentdb_cluster_public_snapshot_test.py
  tests/providers/aws/services/documentdb/documentdb_service_test.py
Labels: provider/aws

#4632 feat(aws): Add new CodeBuild check to validate environment variables
  docs/tutorials/configuration_file.md
  prowler/config/config.yaml
  prowler/providers/aws/services/codebuild/codebuild_project_no_secrets_in_variables/__init__.py
  prowler/providers/aws/services/codebuild/codebuild_project_no_secrets_in_variables/codebuild_project_no_secrets_in_variables.metadata.json
  prowler/providers/aws/services/codebuild/codebuild_project_no_secrets_in_variables/codebuild_project_no_secrets_in_variables.py
  prowler/providers/aws/services/codebuild/codebuild_service.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/providers/aws/services/codebuild/codebuild_project_no_secrets_in_variables/codebuild_project_no_secrets_in_variables_test.py
Labels: documentation, provider/aws

#4709 feat(aws): Add new Neptune check for cluster snapshot visibility
  prowler/providers/aws/services/neptune/neptune_cluster_public_snapshot/__init__.py
  prowler/providers/aws/services/neptune/neptune_cluster_public_snapshot/neptune_cluster_public_snapshot.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_public_snapshot/neptune_cluster_public_snapshot.py
  prowler/providers/aws/services/neptune/neptune_service.py
  tests/providers/aws/services/neptune/neptune_cluster_public_snapshot/neptune_cluster_public_snapshot_test.py
  tests/providers/aws/services/neptune/neptune_service_test.py
Labels: provider/aws

#4732 fix(ACM): Change check logic to scan only in use certificates
  prowler/providers/aws/services/acm/acm_certificates_transparency_logs_enabled/acm_certificates_transparency_logs_enabled.py
  tests/providers/aws/services/acm/acm_certificates_transparency_logs_enabled/acm_certificates_transparency_logs_enabled_test.py
Labels: provider/aws

#4733 fix(ecs): use threads for describing task definitions
  prowler/providers/aws/services/ecs/ecs_service.py
Labels: backport-to-v4.3

#4699 feat(elasticache): Ensure Redis Cache Clusters Automatically Install Minor Updates
  prowler/providers/aws/services/elasticache/elasticache_redis_cluster_auto_minor_version_upgrades/__init__.py
  prowler/providers/aws/services/elasticache/elasticache_redis_cluster_auto_minor_version_upgrades/elasticache_redis_cluster_auto_minor_version_upgrades.metadata.json
  prowler/providers/aws/services/elasticache/elasticache_redis_cluster_auto_minor_version_upgrades/elasticache_redis_cluster_auto_minor_version_upgrades.py
  prowler/providers/aws/services/elasticache/elasticache_service.py
  tests/providers/aws/services/elasticache/elasticache_redis_cluster_auto_minor_version_upgrades/elasticache_redis_cluster_auto_minor_version_upgrades_test.py
  tests/providers/aws/services/elasticache/elasticache_service_test.py
Labels: provider/aws

#4739 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-to-v3

#4725 feat(aws): Add new RDS check to verify that cluster minor version upgrade is enabled
  prowler/providers/aws/services/rds/rds_cluster_minor_version_upgrade_enabled/__init__.py
  prowler/providers/aws/services/rds/rds_cluster_minor_version_upgrade_enabled/rds_cluster_minor_version_upgrade_enabled.metadata.json
  prowler/providers/aws/services/rds/rds_cluster_minor_version_upgrade_enabled/rds_cluster_minor_version_upgrade_enabled.py
  tests/providers/aws/services/rds/rds_cluster_minor_version_upgrade_enabled/rds_cluster_minor_version_upgrade_enabled_test.py
Labels: provider/aws

#4742 refactor(s3): Changed buckets variable type form list to dict
  prowler/providers/aws/services/cloudtrail/cloudtrail_bucket_requires_mfa_delete/cloudtrail_bucket_requires_mfa_delete.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_access_logging_enabled/cloudtrail_logs_s3_bucket_access_logging_enabled.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible.py
  prowler/providers/aws/services/s3/s3_bucket_acl_prohibited/s3_bucket_acl_prohibited.py
  prowler/providers/aws/services/s3/s3_bucket_default_encryption/s3_bucket_default_encryption.py
  prowler/providers/aws/services/s3/s3_bucket_kms_encryption/s3_bucket_kms_encryption.py
  prowler/providers/aws/services/s3/s3_bucket_level_public_access_block/s3_bucket_level_public_access_block.py
  prowler/providers/aws/services/s3/s3_bucket_no_mfa_delete/s3_bucket_no_mfa_delete.py
  prowler/providers/aws/services/s3/s3_bucket_object_lock/s3_bucket_object_lock.py
  prowler/providers/aws/services/s3/s3_bucket_object_versioning/s3_bucket_object_versioning.py
  prowler/providers/aws/services/s3/s3_bucket_policy_public_write_access/s3_bucket_policy_public_write_access.py
  prowler/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access.py
  prowler/providers/aws/services/s3/s3_bucket_public_list_acl/s3_bucket_public_list_acl.py
  prowler/providers/aws/services/s3/s3_bucket_public_write_acl/s3_bucket_public_write_acl.py
  prowler/providers/aws/services/s3/s3_bucket_secure_transport_policy/s3_bucket_secure_transport_policy.py
  prowler/providers/aws/services/s3/s3_bucket_server_access_logging_enabled/s3_bucket_server_access_logging_enabled.py
  prowler/providers/aws/services/s3/s3_service.py
  tests/providers/aws/services/cloudtrail/cloudtrail_bucket_requires_mfa_delete/cloudtrail_bucket_requires_mfa_delete_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_access_logging_enabled/cloudtrail_logs_s3_bucket_access_logging_enabled_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_logs_s3_bucket_is_not_publicly_accessible/cloudtrail_logs_s3_bucket_is_not_publicly_accessible_test.py
  tests/providers/aws/services/macie/macie_is_enabled/macie_is_enabled_test.py
  tests/providers/aws/services/s3/s3_bucket_level_public_access_block/s3_bucket_level_public_access_block_test.py
  tests/providers/aws/services/s3/s3_bucket_no_mfa_delete/s3_bucket_no_mfa_delete_test.py
  tests/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access_test.py
  tests/providers/aws/services/s3/s3_service_test.py
Labels: provider/aws

#4762 chore(cloudtrail): add remediation link to check `cloudtrail_s3_dataevents_write_enabled`
  prowler/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_write_enabled/cloudtrail_s3_dataevents_write_enabled.metadata.json
Labels: provider/aws

#4764 chore(cloudtrail): add remediation link to check `cloudtrail_s3_dataevents_read_enabled`
  prowler/providers/aws/services/cloudtrail/cloudtrail_s3_dataevents_read_enabled/cloudtrail_s3_dataevents_read_enabled.metadata.json
Labels: provider/aws

#4594 feat(EC2): Add new check for security group port restrictions
  docs/tutorials/configuration_file.md
  prowler/config/config.yaml
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports/__init__.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports.metadata.json
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/config/fixtures/config_old.yaml
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports/ec2_securitygroup_allow_ingress_from_internet_to_high_risk_tcp_ports_test.py
Labels: documentation, provider/aws

#4746 fix(ecr): handle non-existing findingSeverityCounts key
  prowler/providers/aws/services/ecr/ecr_service.py
Labels: provider/aws, backport-to-v3, backport-to-v4.3

#4747 fix(ecr): change log level of non-scanned images
  prowler/providers/aws/services/ecr/ecr_service.py
Labels: provider/aws, backport-to-v3, backport-to-v4.3

#4753 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-to-v3

#4688 fix(version): update version flag logic
  prowler/config/config.py
  tests/config/config_test.py
Labels: backport-to-v4.3

#4712 fix(aws): run Prowler as IAM Root or Federated User
  prowler/providers/aws/lib/arn/arn.py
  tests/providers/aws/lib/arn/arn_test.py
Labels: provider/aws, backport-to-v3, backport-to-v4.3

#4760 chore(azure): Fix CIS 2.1 mapping
  prowler/compliance/azure/cis_2.1_azure.json
Labels: backport-to-v3

#4785 fix(ec2): Manage `UnicodeDecodeError` when reading user data
  prowler/providers/aws/services/ec2/ec2_instance_secrets_user_data/ec2_instance_secrets_user_data.py
  prowler/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets.py
  tests/providers/aws/services/ec2/ec2_instance_secrets_user_data/ec2_instance_secrets_user_data_test.py
  tests/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets_test.py
Labels: provider/aws, backport-to-v3, backport-to-v4.3

#4616 feat(gcp): add a `test_connection` method
  prowler/providers/gcp/gcp_provider.py
  tests/providers/gcp/gcp_provider_test.py
Labels: provider/gcp

#4684 feat(kubernetes): add a test_connection method
  prowler/providers/kubernetes/kubernetes_provider.py
Labels: provider/kubernetes

#4761 feat(s3): add `s3_bucket_cross_region_replication` check
  prowler/providers/aws/services/s3/s3_bucket_cross_region_replication/__init__.py
  prowler/providers/aws/services/s3/s3_bucket_cross_region_replication/s3_bucket_cross_region_replication.metadata.json
  prowler/providers/aws/services/s3/s3_bucket_cross_region_replication/s3_bucket_cross_region_replication.py
  prowler/providers/aws/services/s3/s3_service.py
  tests/providers/aws/services/s3/s3_bucket_cross_region_replication/s3_bucket_cross_region_replication_test.py
  tests/providers/aws/services/s3/s3_service_test.py
Labels: provider/aws

#4791 chore(elbv2): add SecurityHub link to `elbv2_desync_mitigation_mode` metadata
  prowler/providers/aws/services/elbv2/elbv2_desync_mitigation_mode/elbv2_desync_mitigation_mode.metadata.json
Labels: provider/aws

#4787 chore(elbv2): Add SecurityHub link to `elbv2_ssl_listeners` metadata
  prowler/providers/aws/services/elbv2/elbv2_ssl_listeners/elbv2_ssl_listeners.metadata.json
Labels: provider/aws

#4783 feat(awslambda): New check to ensure that a function is inside VPC
  prowler/providers/aws/services/awslambda/awslambda_function_inside_vpc/__init__.py
  prowler/providers/aws/services/awslambda/awslambda_function_inside_vpc/awslambda_function_inside_vpc.metadata.json
  prowler/providers/aws/services/awslambda/awslambda_function_inside_vpc/awslambda_function_inside_vpc.py
  prowler/providers/aws/services/awslambda/awslambda_service.py
  tests/providers/aws/services/awslambda/awslambda_function_inside_vpc/awslambda_function_inside_vpc_test.py
  tests/providers/aws/services/awslambda/awslambda_service_test.py
Labels: provider/aws

#4786 fix(mutelist): change logic for tags in aws mutelist
  docs/tutorials/mutelist.md
  prowler/lib/mutelist/mutelist.py
  tests/providers/aws/lib/mutelist/aws_mutelist_test.py
Labels: documentation, provider/aws, mutelist, backport-to-v4.3

#4738 feat(aws): Add new RDS check for deletion protection enabled on clusters
  prowler/providers/aws/services/rds/rds_cluster_deletion_protection/__init__.py
  prowler/providers/aws/services/rds/rds_cluster_deletion_protection/rds_cluster_deletion_protection.metadata.json
  prowler/providers/aws/services/rds/rds_cluster_deletion_protection/rds_cluster_deletion_protection.py
  tests/providers/aws/services/rds/rds_cluster_deletion_protection/rds_cluster_deletion_protection_test.py
Labels: provider/aws

#4731 feat(CodeBuild): Ensure source repository URLs do not contain sensitive credentials
  prowler/providers/aws/services/codebuild/codebuild_project_source_repo_url_no_sensitive_credentials/__init__.py
  prowler/providers/aws/services/codebuild/codebuild_project_source_repo_url_no_sensitive_credentials/codebuild_project_source_repo_url_no_sensitive_credentials.metadata.json
  prowler/providers/aws/services/codebuild/codebuild_project_source_repo_url_no_sensitive_credentials/codebuild_project_source_repo_url_no_sensitive_credentials.py
  prowler/providers/aws/services/codebuild/codebuild_service.py
  tests/providers/aws/services/codebuild/codebuild_project_source_repo_url_no_sensitive_credentials/codebuild_project_source_repo_url_no_sensitive_credentials_test.py
  tests/providers/aws/services/codebuild/codebuild_service_test.py
Labels: provider/aws

#4802 feat(iam): add new check to ensure user does not have policies with admin access
  prowler/providers/aws/services/iam/iam_user_administrator_access_policy/__init__.py
  prowler/providers/aws/services/iam/iam_user_administrator_access_policy/iam_user_administrator_access_policy.metadata.json
  prowler/providers/aws/services/iam/iam_user_administrator_access_policy/iam_user_administrator_access_policy.py
  tests/providers/aws/services/iam/iam_user_administrator_access_policy/iam_user_administrator_access_policy_test.py
Labels: provider/aws

#4814 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-to-v3

#4817 fix(outputs): refactor unroll_tags to use str as tags
  prowler/lib/outputs/utils.py
  tests/lib/outputs/outputs_test.py
Labels: backport-to-v4.3

#4826 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
  tests/config/config_test.py
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-to-v3

#4827 chore(rds): Revert changes on inherited instance checks
  prowler/providers/aws/services/rds/rds_cluster_default_admin/rds_cluster_default_admin.metadata.json
  prowler/providers/aws/services/rds/rds_cluster_iam_authentication_enabled/rds_cluster_iam_authentication_enabled.metadata.json
  prowler/providers/aws/services/rds/rds_instance_default_admin/rds_instance_default_admin.metadata.json
  prowler/providers/aws/services/rds/rds_instance_default_admin/rds_instance_default_admin.py
  prowler/providers/aws/services/rds/rds_instance_iam_authentication_enabled/rds_instance_iam_authentication_enabled.metadata.json
  prowler/providers/aws/services/rds/rds_instance_iam_authentication_enabled/rds_instance_iam_authentication_enabled.py
  tests/providers/aws/services/rds/rds_instance_default_admin/rds_instance_default_admin_test.py
  tests/providers/aws/services/rds/rds_instance_iam_authentication_enabled/rds_instance_iam_authentication_enabled_test.py
Labels: provider/aws

#4781 feat(aws): Add new RDS check to ensure db clusters are configured for multiple availability zones
  prowler/providers/aws/services/rds/rds_cluster_multi_az/__init__.py
  prowler/providers/aws/services/rds/rds_cluster_multi_az/rds_cluster_multi_az.metadata.json
  prowler/providers/aws/services/rds/rds_cluster_multi_az/rds_cluster_multi_az.py
  tests/providers/aws/services/rds/rds_cluster_multi_az/rds_cluster_multi_az_test.py
  tests/providers/aws/services/rds/rds_instance_multi_az/rds_instance_multi_az_test.py
Labels: provider/aws

#4833 chore(test): improve `iam_root_hardware_mfa_enabled` tests
  tests/providers/aws/services/iam/iam_root_hardware_mfa_enabled/iam_root_hardware_mfa_enabled_test.py
Labels: provider/aws, backport-to-v3, backport-to-v4.3

#4804 feat(ec2): Client VPN Endpoints Should Have Client Connection Logging Enabled
  prowler/providers/aws/services/ec2/ec2_client_vpn_endpoint_connection_logging_enabled/__init__.py
  prowler/providers/aws/services/ec2/ec2_client_vpn_endpoint_connection_logging_enabled/ec2_client_vpn_endpoint_connection_logging_enabled.metadata.json
  prowler/providers/aws/services/ec2/ec2_client_vpn_endpoint_connection_logging_enabled/ec2_client_vpn_endpoint_connection_logging_enabled.py
  prowler/providers/aws/services/ec2/ec2_service.py
  tests/providers/aws/services/ec2/ec2_client_vpn_endpoint_connection_logging_enabled/ec2_client_vpn_endpoint_connection_logging_enabled_test.py
  tests/providers/aws/services/ec2/ec2_service_test.py
Labels: provider/aws

#4831 feat(IAM): add new check `iam_group_administrator_access_policy`
  prowler/providers/aws/services/iam/iam_group_administrator_access_policy/__init__.py
  prowler/providers/aws/services/iam/iam_group_administrator_access_policy/iam_group_administrator_access_policy.metadata.json
  prowler/providers/aws/services/iam/iam_group_administrator_access_policy/iam_group_administrator_access_policy.py
  tests/providers/aws/services/iam/iam_group_administrator_access_policy/iam_group_administrator_access_policy_test.py
Labels: provider/aws

#4800 feat(elbv2): add new check `elbv2_is_in_multiple_az`
  docs/tutorials/configuration_file.md
  prowler/config/config.yaml
  prowler/providers/aws/services/elbv2/elbv2_is_in_multiple_az/__init__.py
  prowler/providers/aws/services/elbv2/elbv2_is_in_multiple_az/elbv2_is_in_multiple_az.metadata.json
  prowler/providers/aws/services/elbv2/elbv2_is_in_multiple_az/elbv2_is_in_multiple_az.py
  prowler/providers/aws/services/elbv2/elbv2_service.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/providers/aws/services/elbv2/elbv2_is_in_multiple_az/elbv2_is_in_multiple_az_test.py
  tests/providers/aws/services/elbv2/elbv2_service_test.py
Labels: documentation, provider/aws

#4801 feat(s3): add `s3_bucket_lifecycle_enabled` check
  prowler/providers/aws/services/s3/s3_bucket_lifecycle_enabled/__init__.py
  prowler/providers/aws/services/s3/s3_bucket_lifecycle_enabled/s3_bucket_lifecycle_enabled.metadata.json
  prowler/providers/aws/services/s3/s3_bucket_lifecycle_enabled/s3_bucket_lifecycle_enabled.py
  prowler/providers/aws/services/s3/s3_service.py
  tests/providers/aws/services/s3/s3_bucket_lifecycle_enabled/s3_bucket_lifecycle_enabled_test.py
  tests/providers/aws/services/s3/s3_service_test.py
Labels: provider/aws

#4841 fix: handle empty input regions
  prowler/providers/aws/aws_provider.py
  tests/providers/aws/aws_provider_test.py
Labels: provider/aws, backport-to-v4.3

#4836 docs(is_item_matched): update docstrings for method
  prowler/lib/mutelist/mutelist.py
Labels: mutelist

#4849 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws, backport-to-v3

#4845 fix(aws): handle AWS key-only tags
  prowler/lib/outputs/utils.py
  tests/lib/outputs/outputs_test.py
Labels: backport-to-v4.3

#4790 refactor(gcp): refactor GCP provider
  prowler/providers/common/provider.py
  prowler/providers/gcp/gcp_provider.py
  tests/providers/gcp/gcp_provider_test.py
Labels: provider/gcp

#4805 refactor(kubernetes): refactor Kubernetes provider
  prowler/providers/common/provider.py
  prowler/providers/kubernetes/kubernetes_provider.py
  tests/providers/kubernetes/kubernetes_provider_test.py
Labels: provider/kubernetes

#4846 feat(aws): Add new check to ensure RDS db clusters copy tags to snapshots
  prowler/providers/aws/services/rds/rds_cluster_copy_tags_to_snapshots/__init__.py
  prowler/providers/aws/services/rds/rds_cluster_copy_tags_to_snapshots/rds_cluster_copy_tags_to_snapshots.metadata.json
  prowler/providers/aws/services/rds/rds_cluster_copy_tags_to_snapshots/rds_cluster_copy_tags_to_snapshots.py
  tests/providers/aws/services/rds/rds_cluster_copy_tags_to_snapshots/rds_cluster_copy_tags_to_snapshots_test.py
Labels: provider/aws

#4855 chore(backport): Use Prowler-Bot PAT
  .github/workflows/backport.yml
Labels: github_actions

#4808 refactor(aws): Refactor provider
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/arguments/arguments.py
  prowler/providers/common/provider.py
  tests/lib/check/check_test.py
  tests/lib/cli/parser_test.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/aws/utils.py
Labels: provider/aws

#4851 chore(aws): Change RDS instance type from list to dict
  prowler/providers/aws/services/rds/rds_instance_backup_enabled/rds_instance_backup_enabled.py
  prowler/providers/aws/services/rds/rds_instance_certificate_expiration/rds_instance_certificate_expiration.py
  prowler/providers/aws/services/rds/rds_instance_copy_tags_to_snapshots/rds_instance_copy_tags_to_snapshots.py
  prowler/providers/aws/services/rds/rds_instance_default_admin/rds_instance_default_admin.py
  prowler/providers/aws/services/rds/rds_instance_deletion_protection/rds_instance_deletion_protection.py
  prowler/providers/aws/services/rds/rds_instance_deprecated_engine_version/rds_instance_deprecated_engine_version.py
  prowler/providers/aws/services/rds/rds_instance_enhanced_monitoring_enabled/rds_instance_enhanced_monitoring_enabled.py
  prowler/providers/aws/services/rds/rds_instance_iam_authentication_enabled/rds_instance_iam_authentication_enabled.py
  prowler/providers/aws/services/rds/rds_instance_integration_cloudwatch_logs/rds_instance_integration_cloudwatch_logs.py
  prowler/providers/aws/services/rds/rds_instance_minor_version_upgrade_enabled/rds_instance_minor_version_upgrade_enabled.py
  prowler/providers/aws/services/rds/rds_instance_multi_az/rds_instance_multi_az.py
  prowler/providers/aws/services/rds/rds_instance_no_public_access/rds_instance_no_public_access.py
  prowler/providers/aws/services/rds/rds_instance_storage_encrypted/rds_instance_storage_encrypted.py
  prowler/providers/aws/services/rds/rds_instance_transport_encrypted/rds_instance_transport_encrypted.py
  prowler/providers/aws/services/rds/rds_service.py
  tests/providers/aws/services/rds/rds_instance_backup_enabled/rds_instance_backup_enabled_test.py
  tests/providers/aws/services/rds/rds_instance_certificate_expiration/rds_instance_certificate_expiration_test.py
  tests/providers/aws/services/rds/rds_instance_enhanced_monitoring_enabled/rds_instance_enhanced_monitoring_enabled_test.py
  tests/providers/aws/services/rds/rds_instance_multi_az/rds_instance_multi_az_test.py
  tests/providers/aws/services/rds/rds_service_test.py
Labels: provider/aws

#4653 refactor(azure): refactor azure provider
  prowler/providers/azure/azure_provider.py
  prowler/providers/common/provider.py
  tests/providers/azure/azure_provider_test.py
Labels: provider/azure

#4818 feat(elb): add new check `elb_cross_zone_load_balancing_enabled`
  prowler/providers/aws/services/elb/elb_cross_zone_load_balancing_enabled/__init__.py
  prowler/providers/aws/services/elb/elb_cross_zone_load_balancing_enabled/elb_cross_zone_load_balancing_enabled.metadata.json
  prowler/providers/aws/services/elb/elb_cross_zone_load_balancing_enabled/elb_cross_zone_load_balancing_enabled.py
  prowler/providers/aws/services/elb/elb_service.py
  tests/providers/aws/services/elb/elb_cross_zone_load_balancing_enabled/elb_cross_zone_load_balancing_enabled_test.py
  tests/providers/aws/services/elb/elb_service_test.py
Labels: provider/aws

#4859 fix(aws): enchance check cloudformation_stack_outputs_find_secrets
  prowler/providers/aws/services/cloudformation/cloudformation_stack_outputs_find_secrets/cloudformation_stack_outputs_find_secrets.py
  tests/providers/aws/services/cloudformation/cloudformation_stack_outputs_find_secrets/cloudformation_stack_outputs_find_secrets_test.py
Labels: provider/aws, backport-to-v3, backport-to-v4.3

#4829 feat(elb): add new check `elb_is_in_multiple_az`
  docs/tutorials/configuration_file.md
  prowler/config/config.yaml
  prowler/providers/aws/services/elb/elb_is_in_multiple_az/__init__.py
  prowler/providers/aws/services/elb/elb_is_in_multiple_az/elb_is_in_multiple_az.metadata.json
  prowler/providers/aws/services/elb/elb_is_in_multiple_az/elb_is_in_multiple_az.py
  prowler/providers/aws/services/elb/elb_service.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/providers/aws/services/elb/elb_is_in_multiple_az/elb_is_in_multiple_az_test.py
  tests/providers/aws/services/elb/elb_service_test.py
Labels: documentation, provider/aws

#4866 fix(rds): get the db_instances values
  prowler/providers/aws/services/rds/rds_service.py
  tests/providers/aws/services/rds/rds_service_test.py
Labels: provider/aws

#4873 chore: remove not used variable
  .github/workflows/pypi-release.yml
Labels: github_actions

#4874 chore(release): Remove unused step
  .github/workflows/pypi-release.yml
Labels: github_actions

#4889 docs(fixers): improve docs about fixers
  docs/tutorials/fixer.md
Labels: documentation

#4847 feat(aws): add custom exceptions class
  prowler/exceptions/__init__.py
  prowler/exceptions/exceptions.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/exceptions/__init__.py
  prowler/providers/aws/exceptions/exceptions.py
  prowler/providers/aws/lib/arn/arn.py
  prowler/providers/aws/lib/arn/error.py
  prowler/providers/aws/lib/arn/models.py
  tests/lib/cli/parser_test.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/aws/lib/arn/arn_test.py
Labels: documentation, provider/aws

#4900 chore(aws_mutelist): Add more Control Tower resources and tests
  prowler/config/aws_mutelist.yaml
  tests/providers/aws/lib/mutelist/aws_mutelist_test.py
Labels: provider/aws, mutelist, backport-to-v4.3

#4903 chore(aws): Remove token from log line
  prowler/providers/aws/aws_provider.py
Labels: provider/aws, backport-to-v4.3

#4904 chore(aws): Remove token from log line
  prowler/providers/aws/aws_provider.py
Labels: provider/aws, v3
