Repository prowler-cloud/prowler, pull requests merged in 2024-10, with the labels that each got.

#5259 fix(ecs): Adjust code to the new ARN formats in the ECS service
  prowler/providers/aws/services/ecs/ecs_service.py
  tests/providers/aws/services/ecs/ecs_service_test.py
Labels: provider/aws

#5129 feat(dynamodb): add new check `dynamodb_table_autoscaling_enabled`
  prowler/providers/aws/services/autoscaling/applicationautoscaling_client.py
  prowler/providers/aws/services/autoscaling/autoscaling_service.py
  prowler/providers/aws/services/dynamodb/dynamodb_service.py
  prowler/providers/aws/services/dynamodb/dynamodb_table_autoscaling_enabled/__init__.py
  prowler/providers/aws/services/dynamodb/dynamodb_table_autoscaling_enabled/dynamodb_table_autoscaling_enabled.metadata.json
  prowler/providers/aws/services/dynamodb/dynamodb_table_autoscaling_enabled/dynamodb_table_autoscaling_enabled.py
  tests/providers/aws/services/autoscaling/autoscaling_service_test.py
  tests/providers/aws/services/dynamodb/dynamodb_service_test.py
  tests/providers/aws/services/dynamodb/dynamodb_table_autoscaling_enabled/dynamodb_table_autoscaling_enabled_test.py
Labels: provider/aws

#5241 feat(ecs): Ensure ECS clusters use Container Insights
  prowler/providers/aws/services/ecs/ecs_cluster_container_insights_enabled/__init__.py
  prowler/providers/aws/services/ecs/ecs_cluster_container_insights_enabled/ecs_cluster_container_insights_enabled.metadata.json
  prowler/providers/aws/services/ecs/ecs_cluster_container_insights_enabled/ecs_cluster_container_insights_enabled.py
  prowler/providers/aws/services/ecs/ecs_service.py
  tests/providers/aws/services/ecs/ecs_cluster_container_insights_enabled/ecs_cluster_container_insights_enabled_test.py
  tests/providers/aws/services/ecs/ecs_service_test.py
  tests/providers/azure/services/aks/aks_service_test.py
  tests/providers/azure/services/vm/vm_service_test.py
Labels: provider/aws, provider/azure

#5263 chore(contrib): update aws-multi-account-securityhub deployment
  contrib/aws/multi-account-securityhub/README.md
  contrib/aws/multi-account-securityhub/run-prowler-securityhub.sh
  contrib/aws/multi-account-securityhub/templates/CF-Prowler-CrossAccountRole.yml
  contrib/aws/multi-account-securityhub/templates/CF-Prowler-ECS.yml
  contrib/aws/multi-account-securityhub/templates/CF-Prowler-IAM.yml
Labels: provider/aws

#5228 feat(kinesis): add new service `Kinesis`
  prowler/providers/aws/services/kinesis/kinesis_service.py
  tests/providers/aws/services/kinesis/kinesis_service_test.py
Labels: provider/aws

#5145 feat(networkfirewall): add new check `networkfirewall_logging_enabled`
  prowler/providers/aws/services/networkfirewall/networkfirewall_logging_enabled/__init__.py
  prowler/providers/aws/services/networkfirewall/networkfirewall_logging_enabled/networkfirewall_logging_enabled.metadata.json
  prowler/providers/aws/services/networkfirewall/networkfirewall_logging_enabled/networkfirewall_logging_enabled.py
  prowler/providers/aws/services/networkfirewall/networkfirewall_service.py
  tests/providers/aws/services/networkfirewall/networkfirewall_logging_enabled/networkfirewall_logging_enabled_test.py
  tests/providers/aws/services/networkfirewall/networkfirewall_service_test.py
Labels: provider/aws

#5258 feat(ecs): add new check `ecs_service_fargate_latest_platform_version`
  prowler/config/config.yaml
  prowler/providers/aws/services/ecs/ecs_service.py
  prowler/providers/aws/services/ecs/ecs_service_fargate_latest_platform_version/__init__.py
  prowler/providers/aws/services/ecs/ecs_service_fargate_latest_platform_version/ecs_service_fargate_latest_platform_version.metadata.json
  prowler/providers/aws/services/ecs/ecs_service_fargate_latest_platform_version/ecs_service_fargate_latest_platform_version.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/providers/aws/services/ecs/ecs_service_fargate_latest_platform_version/ecs_service_fargate_latest_platform_version_test.py
  tests/providers/aws/services/ecs/ecs_service_test.py
Labels: provider/aws

#5283 feat(redshift): add new check `redshift_cluster_non_default_database_name`
  prowler/providers/aws/services/redshift/redshift_cluster_non_default_database_name/__init__.py
  prowler/providers/aws/services/redshift/redshift_cluster_non_default_database_name/redshift_cluster_non_default_database_name.metadata.json
  prowler/providers/aws/services/redshift/redshift_cluster_non_default_database_name/redshift_cluster_non_default_database_name.py
  prowler/providers/aws/services/redshift/redshift_service.py
  tests/providers/aws/services/redshift/redshift_cluster_non_default_database_name/redshift_cluster_non_default_database_name_test.py
  tests/providers/aws/services/redshift/redshift_service_test.py
Labels: provider/aws

#5247 feat(networkfirewall): add new check `networkfirewall_multi_az`
  prowler/providers/aws/services/networkfirewall/networkfirewall_multi_az/__init__.py
  prowler/providers/aws/services/networkfirewall/networkfirewall_multi_az/networkfirewall_multi_az.metadata.json
  prowler/providers/aws/services/networkfirewall/networkfirewall_multi_az/networkfirewall_multi_az.py
  prowler/providers/aws/services/networkfirewall/networkfirewall_service.py
  tests/providers/aws/services/networkfirewall/networkfirewall_multi_az/networkfirewall_multi_az_test.py
Labels: provider/aws

#5280 chore(iam): add tags to missing checks report
  prowler/providers/aws/services/iam/iam_check_saml_providers_sts/iam_check_saml_providers_sts.py
  prowler/providers/aws/services/iam/iam_no_expired_server_certificates_stored/iam_no_expired_server_certificates_stored.py
  prowler/providers/aws/services/iam/iam_policy_attached_only_to_group_or_roles/iam_policy_attached_only_to_group_or_roles.py
  prowler/providers/aws/services/iam/iam_rotate_access_key_90_days/iam_rotate_access_key_90_days.py
  prowler/providers/aws/services/iam/iam_service.py
  prowler/providers/aws/services/iam/iam_user_accesskey_unused/iam_user_accesskey_unused.py
  prowler/providers/aws/services/iam/iam_user_mfa_enabled_console_access/iam_user_mfa_enabled_console_access.py
  prowler/providers/aws/services/iam/iam_user_no_setup_initial_access_key/iam_user_no_setup_initial_access_key.py
  prowler/providers/aws/services/iam/iam_user_two_active_access_key/iam_user_two_active_access_key.py
  prowler/providers/aws/services/iam/iam_user_with_temporary_credentials/iam_user_with_temporary_credentials.py
  tests/providers/aws/services/iam/iam_check_saml_providers_sts/iam_check_saml_providers_sts_test.py
  tests/providers/aws/services/iam/iam_no_expired_server_certificates_stored/iam_no_expired_server_certificates_stored_test.py
  tests/providers/aws/services/iam/iam_policy_attached_only_to_group_or_roles/iam_policy_attached_only_to_group_or_roles_test.py
  tests/providers/aws/services/iam/iam_rotate_access_key_90_days/iam_rotate_access_key_90_days_test.py
  tests/providers/aws/services/iam/iam_service_test.py
  tests/providers/aws/services/iam/iam_user_accesskey_unused/iam_user_accesskey_unused_test.py
  tests/providers/aws/services/iam/iam_user_mfa_enabled_console_access/iam_user_mfa_enabled_console_access_test.py
  tests/providers/aws/services/iam/iam_user_no_setup_initial_access_key/iam_user_no_setup_initial_access_key_test.py
  tests/providers/aws/services/iam/iam_user_two_active_access_key/iam_user_two_active_access_key_test.py
  tests/providers/aws/services/iam/iam_user_with_temporary_credentials/iam_user_with_temporary_credentials_test.py
Labels: provider/aws

#5261 chore(cloudwatch): add tags to missing checks report
  prowler/providers/aws/services/cloudwatch/cloudwatch_cross_account_sharing_disabled/cloudwatch_cross_account_sharing_disabled.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_no_secrets_in_logs/cloudwatch_log_group_no_secrets_in_logs.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_service.py
  prowler/providers/aws/services/cloudwatch/lib/metric_filters.py
  tests/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_acls_alarm_configured/cloudwatch_changes_to_network_acls_alarm_configured_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_gateways_alarm_configured/cloudwatch_changes_to_network_gateways_alarm_configured_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_route_tables_alarm_configured/cloudwatch_changes_to_network_route_tables_alarm_configured_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_changes_to_vpcs_alarm_configured/cloudwatch_changes_to_vpcs_alarm_configured_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_cross_account_sharing_disabled/cloudwatch_cross_account_sharing_disabled_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_group_no_secrets_in_logs/cloudwatch_log_group_no_secrets_in_logs_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_and_alarm_for_aws_config_configuration_changes_enabled/cloudwatch_log_metric_filter_and_alarm_for_aws_config_configuration_changes_enabled_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_and_alarm_for_cloudtrail_configuration_changes_enabled/cloudwatch_log_metric_filter_and_alarm_for_cloudtrail_configuration_changes_enabled_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_authentication_failures/cloudwatch_log_metric_filter_authentication_failures_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_aws_organizations_changes/cloudwatch_log_metric_filter_aws_organizations_changes_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_disable_or_scheduled_deletion_of_kms_cmk/cloudwatch_log_metric_filter_disable_or_scheduled_deletion_of_kms_cmk_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_for_s3_bucket_policy_changes/cloudwatch_log_metric_filter_for_s3_bucket_policy_changes_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_policy_changes/cloudwatch_log_metric_filter_policy_changes_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_root_usage/cloudwatch_log_metric_filter_root_usage_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_security_group_changes/cloudwatch_log_metric_filter_security_group_changes_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_sign_in_without_mfa/cloudwatch_log_metric_filter_sign_in_without_mfa_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_unauthorized_api_calls/cloudwatch_log_metric_filter_unauthorized_api_calls_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_service_test.py
Labels: provider/aws

#5287 chore(ocsf): adapt mapping for version 1.3.0
  poetry.lock
  prowler/lib/outputs/ocsf/ocsf.py
  pyproject.toml
  tests/lib/outputs/ocsf/ocsf_test.py
Labels: output/ocsf

#5286 chore(cloudwatch): Improve checks related with function `check_cloudwatch_log_metric_filter`
  prowler/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_acls_alarm_configured/cloudwatch_changes_to_network_acls_alarm_configured.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_gateways_alarm_configured/cloudwatch_changes_to_network_gateways_alarm_configured.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_route_tables_alarm_configured/cloudwatch_changes_to_network_route_tables_alarm_configured.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_changes_to_vpcs_alarm_configured/cloudwatch_changes_to_vpcs_alarm_configured.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_and_alarm_for_aws_config_configuration_changes_enabled/cloudwatch_log_metric_filter_and_alarm_for_aws_config_configuration_changes_enabled.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_and_alarm_for_cloudtrail_configuration_changes_enabled/cloudwatch_log_metric_filter_and_alarm_for_cloudtrail_configuration_changes_enabled.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_authentication_failures/cloudwatch_log_metric_filter_authentication_failures.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_aws_organizations_changes/cloudwatch_log_metric_filter_aws_organizations_changes.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_disable_or_scheduled_deletion_of_kms_cmk/cloudwatch_log_metric_filter_disable_or_scheduled_deletion_of_kms_cmk.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_for_s3_bucket_policy_changes/cloudwatch_log_metric_filter_for_s3_bucket_policy_changes.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_policy_changes/cloudwatch_log_metric_filter_policy_changes.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_root_usage/cloudwatch_log_metric_filter_root_usage.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_security_group_changes/cloudwatch_log_metric_filter_security_group_changes.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_sign_in_without_mfa/cloudwatch_log_metric_filter_sign_in_without_mfa.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_metric_filter_unauthorized_api_calls/cloudwatch_log_metric_filter_unauthorized_api_calls.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_service.py
  prowler/providers/aws/services/cloudwatch/lib/metric_filters.py
Labels: provider/aws

#5244 feat(networkfirewall): add new check `networkfirewall_policy_default_action_fragmented_packets `
  prowler/providers/aws/services/networkfirewall/networkfirewall_policy_default_action_fragmented_packets/__init__.py
  prowler/providers/aws/services/networkfirewall/networkfirewall_policy_default_action_fragmented_packets/networkfirewall_policy_default_action_fragmented_packets.metadata.json
  prowler/providers/aws/services/networkfirewall/networkfirewall_policy_default_action_fragmented_packets/networkfirewall_policy_default_action_fragmented_packets.py
  prowler/providers/aws/services/networkfirewall/networkfirewall_service.py
  tests/providers/aws/services/networkfirewall/networkfirewall_policy_default_action_fragmented_packets/networkfirewall_policy_default_action_fragmented_packets_test.py
Labels: provider/aws

#5275 feat(efs): add new check `efs_mount_target_not_publicly_accesible`
  prowler/providers/aws/services/efs/efs_encryption_at_rest_enabled/efs_encryption_at_rest_enabled.py
  prowler/providers/aws/services/efs/efs_have_backup_enabled/efs_have_backup_enabled.py
  prowler/providers/aws/services/efs/efs_mount_target_not_publicly_accessible/__init__.py
  prowler/providers/aws/services/efs/efs_mount_target_not_publicly_accessible/efs_mount_target_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/efs/efs_mount_target_not_publicly_accessible/efs_mount_target_not_publicly_accessible.py
  prowler/providers/aws/services/efs/efs_not_publicly_accessible/efs_not_publicly_accessible.py
  prowler/providers/aws/services/efs/efs_service.py
  tests/providers/aws/services/efs/efs_encryption_at_rest_enabled/efs_encryption_at_rest_enabled_test.py
  tests/providers/aws/services/efs/efs_have_backup_enabled/efs_have_backup_enabled_test.py
  tests/providers/aws/services/efs/efs_mount_target_not_publicly_accessible/efs_mount_target_not_publicly_accessible_test.py
  tests/providers/aws/services/efs/efs_not_publicly_accessible/efs_not_publicly_accessible_test.py
  tests/providers/aws/services/efs/efs_service_test.py
Labels: provider/aws

#5277 feat(efs): add new check `efs_access_point_enforce_root_directory`
  prowler/providers/aws/services/efs/efs_access_point_enforce_root_directory/__init__.py
  prowler/providers/aws/services/efs/efs_access_point_enforce_root_directory/efs_access_point_enforce_root_directory.metadata.json
  prowler/providers/aws/services/efs/efs_access_point_enforce_root_directory/efs_access_point_enforce_root_directory.py
  prowler/providers/aws/services/efs/efs_service.py
  tests/providers/aws/services/efs/efs_access_point_enforce_root_directory/efs_access_point_enforce_root_directory_test.py
  tests/providers/aws/services/efs/efs_service_test.py
Labels: provider/aws

#5293 feat(guardduty): add new check `guardduty_eks_audit_log_enabled`
  prowler/providers/aws/services/guardduty/guardduty_eks_audit_log_enabled/__init__.py
  prowler/providers/aws/services/guardduty/guardduty_eks_audit_log_enabled/guardduty_eks_audit_log_enabled.metadata.json
  prowler/providers/aws/services/guardduty/guardduty_eks_audit_log_enabled/guardduty_eks_audit_log_enabled.py
  prowler/providers/aws/services/guardduty/guardduty_rds_protection_enabled/guardduty_rds_protection_enabled.metadata.json
  prowler/providers/aws/services/guardduty/guardduty_s3_protection_enabled/guardduty_s3_protection_enabled.metadata.json
  prowler/providers/aws/services/guardduty/guardduty_service.py
  tests/providers/aws/services/guardduty/guardduty_eks_audit_log_enabled/guardduty_eks_audit_log_enabled_test.py
  tests/providers/aws/services/guardduty/guardduty_service_test.py
Labels: provider/aws

#5292 feat(kinesis): add new check `kinesis_stream_encrypted_at_rest`
  prowler/providers/aws/services/kinesis/kinesis_client.py
  prowler/providers/aws/services/kinesis/kinesis_service.py
  prowler/providers/aws/services/kinesis/kinesis_stream_encrypted_at_rest/__init__.py
  prowler/providers/aws/services/kinesis/kinesis_stream_encrypted_at_rest/kinesis_stream_encrypted_at_rest.metadata.json
  prowler/providers/aws/services/kinesis/kinesis_stream_encrypted_at_rest/kinesis_stream_encrypted_at_rest.py
  tests/providers/aws/services/kinesis/kinesis_stream_encrypted_at_rest/kinesis_stream_encrypted_at_rest_test.py
Labels: provider/aws

#5284 feat(networkfirewall): add new check `networkfirewall_policy_default_action_full_packets`
  prowler/providers/aws/services/networkfirewall/networkfirewall_policy_default_action_full_packets/__init__.py
  prowler/providers/aws/services/networkfirewall/networkfirewall_policy_default_action_full_packets/networkfirewall_policy_default_action_full_packets.metadata.json
  prowler/providers/aws/services/networkfirewall/networkfirewall_policy_default_action_full_packets/networkfirewall_policy_default_action_full_packets.py
  prowler/providers/aws/services/networkfirewall/networkfirewall_service.py
  tests/providers/aws/services/networkfirewall/networkfirewall_policy_default_action_full_packets/networkfirewall_policy_default_action_full_packets_test.py
Labels: provider/aws

#5272 feat(glue): add check `glue_ml_transform_encrypted_at_rest`
  prowler/providers/aws/services/glue/glue_ml_transform_encrypted_at_rest/__init__.py
  prowler/providers/aws/services/glue/glue_ml_transform_encrypted_at_rest/glue_ml_transform_encrypted_at_rest.metadata.json
  prowler/providers/aws/services/glue/glue_ml_transform_encrypted_at_rest/glue_ml_transform_encrypted_at_rest.py
  prowler/providers/aws/services/glue/glue_service.py
  tests/providers/aws/services/glue/glue_data_catalogs_connection_passwords_encryption_enabled/glue_data_catalogs_connection_passwords_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_data_catalogs_metadata_encryption_enabled/glue_data_catalogs_metadata_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_database_connections_ssl_enabled/glue_database_connections_ssl_enabled_test.py
  tests/providers/aws/services/glue/glue_development_endpoints_cloudwatch_logs_encryption_enabled/glue_development_endpoints_cloudwatch_logs_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_development_endpoints_job_bookmark_encryption_enabled/glue_development_endpoints_job_bookmark_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_development_endpoints_s3_encryption_enabled/glue_development_endpoints_s3_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_etl_jobs_amazon_s3_encryption_enabled/glue_etl_jobs_amazon_s3_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_etl_jobs_cloudwatch_logs_encryption_enabled/glue_etl_jobs_cloudwatch_logs_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_etl_jobs_job_bookmark_encryption_enabled/glue_etl_jobs_job_bookmark_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_ml_transform_encrypted_at_rest/glue_ml_transform_encrypted_at_rest_test.py
  tests/providers/aws/services/glue/glue_service_test.py
Labels: provider/aws

#5285 feat(efs): add new check `efs_access_point_enforce_user_identity`
  prowler/providers/aws/services/efs/efs_access_point_enforce_user_identity/__init__.py
  prowler/providers/aws/services/efs/efs_access_point_enforce_user_identity/efs_access_point_enforce_user_identity.metadata.json
  prowler/providers/aws/services/efs/efs_access_point_enforce_user_identity/efs_access_point_enforce_user_identity.py
  prowler/providers/aws/services/efs/efs_service.py
  tests/providers/aws/services/efs/efs_access_point_enforce_user_identity/efs_access_point_enforce_user_identity_test.py
  tests/providers/aws/services/efs/efs_service_test.py
Labels: provider/aws

#5308 feat(wafv2): change `web_acls` from list to dict
  prowler/providers/aws/services/cognito/cognito_user_pool_waf_acl_attached/cognito_user_pool_waf_acl_attached.py
  prowler/providers/aws/services/elbv2/elbv2_waf_acl_attached/elbv2_waf_acl_attached.py
  prowler/providers/aws/services/wafv2/wafv2_service.py
  prowler/providers/aws/services/wafv2/wafv2_webacl_logging_enabled/wafv2_webacl_logging_enabled.py
  tests/providers/aws/services/cognito/cognito_user_pool_waf_acl_attached/cognito_user_pool_waf_acl_attached_test.py
  tests/providers/aws/services/elbv2/elbv2_waf_acl_attached/elbv2_waf_acl_attached_test.py
  tests/providers/aws/services/wafv2/wafv2_service_test.py
  tests/providers/aws/services/wafv2/wafv2_webacl_logging_enabled/wafv2_webacl_logging_enabled_test.py
Labels: provider/aws

#5297 feat(guardduty): add new check `guardduty_ec2_malware_protection_enabled `
  prowler/providers/aws/services/guardduty/guardduty_ec2_malware_protection_enabled/__init__.py
  prowler/providers/aws/services/guardduty/guardduty_ec2_malware_protection_enabled/guardduty_ec2_malware_protection_enabled.metadata.json
  prowler/providers/aws/services/guardduty/guardduty_ec2_malware_protection_enabled/guardduty_ec2_malware_protection_enabled.py
  prowler/providers/aws/services/guardduty/guardduty_service.py
  tests/providers/aws/services/guardduty/guardduty_ec2_malware_protection_enabled/guardduty_ec2_malware_protection_enabled_test.py
  tests/providers/aws/services/guardduty/guardduty_service_test.py
Labels: provider/aws

#5276 fix(threat detection): ignore AWS services events
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_enumeration/cloudtrail_threat_detection_enumeration.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_privilege_escalation/cloudtrail_threat_detection_privilege_escalation.py
  tests/providers/aws/services/cloudtrail/cloudtrail_threat_detection_enumeration/cloudtrail_threat_detection_enumeration_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_threat_detection_privilege_escalation/cloudtrail_threat_detection_privilege_escalation_test.py
Labels: provider/aws

#5321 chore(secrets): Add TelegramBotToken detector
  prowler/lib/utils/utils.py
Labels: backport-to-v4.4

#5299 feat(guardduty): add new check `guardduty_lambda_protection_enabled`
  prowler/providers/aws/services/guardduty/guardduty_lambda_protection_enabled/__init__.py
  prowler/providers/aws/services/guardduty/guardduty_lambda_protection_enabled/guardduty_lambda_protection_enabled.metadata.json
  prowler/providers/aws/services/guardduty/guardduty_lambda_protection_enabled/guardduty_lambda_protection_enabled.py
  prowler/providers/aws/services/guardduty/guardduty_service.py
  tests/providers/aws/services/guardduty/guardduty_lambda_protection_enabled/guardduty_lambda_protection_enabled_test.py
  tests/providers/aws/services/guardduty/guardduty_service_test.py
Labels: provider/aws

#5298 chore(secrets): use `master` branch of Yelp/detect-secrets
  poetry.lock
  prowler/config/config.yaml
  pyproject.toml
  tests/config/fixtures/config.yaml
  tests/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code_test.py
Labels: provider/aws, backport-to-v4.4

#5326 chore(ecs): mock all tests using moto
  prowler/providers/aws/services/ecs/ecs_service.py
  tests/providers/aws/services/ecs/ecs_service_fargate_latest_platform_version/ecs_service_fargate_latest_platform_version_test.py
  tests/providers/aws/services/ecs/ecs_service_no_assign_public_ip/ecs_service_no_assign_public_ip_test.py
  tests/providers/aws/services/ecs/ecs_task_definitions_containers_readonly_access/ecs_task_definitions_containers_readonly_access_test.py
  tests/providers/aws/services/ecs/ecs_task_definitions_host_namespace_not_shared/ecs_task_definitions_host_namespace_not_shared_test.py
  tests/providers/aws/services/ecs/ecs_task_definitions_host_networking_mode_users/ecs_task_definitions_host_networking_mode_users_test.py
  tests/providers/aws/services/ecs/ecs_task_definitions_logging_enabled/ecs_task_definitions_logging_enabled_test.py
  tests/providers/aws/services/ecs/ecs_task_definitions_no_environment_secrets/ecs_task_definitions_no_environment_secrets_test.py
  tests/providers/aws/services/ecs/ecs_task_definitions_no_privileged_containers/ecs_task_definitions_no_privileged_containers_test.py
Labels: provider/aws, backport-to-v4.4

#5334 chore(guardduty): mock failing tests using moto
  prowler/providers/aws/services/guardduty/guardduty_service.py
  tests/providers/aws/services/guardduty/guardduty_centrally_managed/guardduty_centrally_managed_test.py
  tests/providers/aws/services/guardduty/guardduty_is_enabled/guardduty_is_enabled_test.py
  tests/providers/aws/services/guardduty/guardduty_no_high_severity_findings/guardduty_no_high_severity_findings_test.py
Labels: provider/aws, backport-to-v4.4

#5271 feat(redshift): add new check `redshift_cluster_in_transit_encryption_enabled`
  prowler/providers/aws/services/redshift/redshift_cluster_in_transit_encryption_enabled/__init__.py
  prowler/providers/aws/services/redshift/redshift_cluster_in_transit_encryption_enabled/redshift_cluster_in_transit_encryption_enabled.metadata.json
  prowler/providers/aws/services/redshift/redshift_cluster_in_transit_encryption_enabled/redshift_cluster_in_transit_encryption_enabled.py
  prowler/providers/aws/services/redshift/redshift_service.py
  tests/providers/aws/services/redshift/redshift_cluster_in_transit_encryption_enabled/redshift_cluster_in_transit_encryption_enabled_test.py
  tests/providers/aws/services/redshift/redshift_service_test.py
Labels: provider/aws

#5339 fix(Dockerfile): install git dependency
  Dockerfile
Labels: backport-to-v4.4

#5345 chore(sns): manage `ResourceNotFoundException` and add paralelism
  prowler/providers/aws/services/sns/sns_service.py
Labels: provider/aws, backport-to-v4.4

#5322 feat(elasticbeanstalk): Add new service ElasticBeanstalk
  prowler/providers/aws/services/elasticbeanstalk/__init__.py
  prowler/providers/aws/services/elasticbeanstalk/elasticbeanstalk_client.py
  prowler/providers/aws/services/elasticbeanstalk/elasticbeanstalk_service.py
  tests/providers/aws/services/elasticbeanstalk/elasticbeanstalk_service_test.py
Labels: provider/aws

#5281 feat(redshift): add new check `redshift_cluster_enhanced_vpc_routing`
  prowler/providers/aws/services/redshift/redshift_cluster_enhanced_vpc_routing/__init__.py
  prowler/providers/aws/services/redshift/redshift_cluster_enhanced_vpc_routing/redshift_cluster_enhanced_vpc_routing.metadata.json
  prowler/providers/aws/services/redshift/redshift_cluster_enhanced_vpc_routing/redshift_cluster_enhanced_vpc_routing.py
  prowler/providers/aws/services/redshift/redshift_service.py
  tests/providers/aws/services/redshift/redshift_cluster_enhanced_vpc_routing/redshift_cluster_enhanced_vpc_routing_test.py
  tests/providers/aws/services/redshift/redshift_service_test.py
Labels: provider/aws

#5330 feat(autoscaling): add new check `autoscaling_group_elb_health_check_enabled`
  prowler/providers/aws/services/autoscaling/autoscaling_group_elb_health_check_enabled/__init__.py
  prowler/providers/aws/services/autoscaling/autoscaling_group_elb_health_check_enabled/autoscaling_group_elb_health_check_enabled.metadata.json
  prowler/providers/aws/services/autoscaling/autoscaling_group_elb_health_check_enabled/autoscaling_group_elb_health_check_enabled.py
  prowler/providers/aws/services/autoscaling/autoscaling_service.py
  tests/providers/aws/services/autoscaling/autoscaling_group_elb_health_check_enabled/autoscaling_group_elb_health_check_enabled_test.py
  tests/providers/aws/services/autoscaling/autoscaling_service_test.py
Labels: provider/aws

#5360 feat(aws): Add static credentials authentication
  .pre-commit-config.yaml
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/exceptions/exceptions.py
  tests/providers/aws/aws_provider_test.py
Labels: provider/aws

#5361 feat(test_connection): Add optional AWS Account ID validation
  prowler/exceptions/exceptions.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/exceptions/exceptions.py
  tests/providers/aws/aws_provider_test.py
Labels: provider/aws

#5324 feat(elasticbeanstalk): add new check `elasticbeanstalk_managed_platform_updates_enabled`
  prowler/providers/aws/services/elasticbeanstalk/elasticbeanstalk_environment_managed_updates_enabled/__init__.py
  prowler/providers/aws/services/elasticbeanstalk/elasticbeanstalk_environment_managed_updates_enabled/elasticbeanstalk_environment_managed_updates_enabled.metadata.json
  prowler/providers/aws/services/elasticbeanstalk/elasticbeanstalk_environment_managed_updates_enabled/elasticbeanstalk_environment_managed_updates_enabled.py
  tests/providers/aws/services/elasticbeanstalk/elasticbeanstalk_environment_managed_updates_enabled/elasticbeanstalk_environment_managed_updates_enabled_test.py
  tests/providers/aws/services/elasticbeanstalk/elasticbeanstalk_service_test.py
Labels: provider/aws

#5335 feat(elasticbeanstalk): add new check `elasticbeanstalk_cloudwatch_enabled`
  prowler/providers/aws/services/elasticbeanstalk/elasticbeanstalk_environment_cloudwatch_logging_enabled/__init__.py
  prowler/providers/aws/services/elasticbeanstalk/elasticbeanstalk_environment_cloudwatch_logging_enabled/elasticbeanstalk_environment_cloudwatch_logging_enabled.metadata.json
  prowler/providers/aws/services/elasticbeanstalk/elasticbeanstalk_environment_cloudwatch_logging_enabled/elasticbeanstalk_environment_cloudwatch_logging_enabled.py
  tests/providers/aws/services/elasticbeanstalk/elasticbeanstalk_environment_cloudwatch_logging_enabled/elasticbeanstalk_environment_cloudwatch_logging_enabled_test.py
Labels: provider/aws

#5364 feat(gcp): add static credentials for gcp provider
  prowler/providers/gcp/exceptions/exceptions.py
  prowler/providers/gcp/gcp_provider.py
  tests/providers/gcp/gcp_provider_test.py
Labels: provider/gcp

#5336 chore(aws): add more cases to public IAM resource policies
  prowler/providers/aws/services/iam/lib/policy.py
  tests/providers/aws/services/iam/lib/policy_test.py
Labels: provider/aws

#5348 feat(elasticbeanstalk): add new check `elasticbeanstalk_enhanced_health_reporting_enabled`
  prowler/providers/aws/services/elasticbeanstalk/elasticbeanstalk_environment_enhanced_health_reporting/__init__.py
  prowler/providers/aws/services/elasticbeanstalk/elasticbeanstalk_environment_enhanced_health_reporting/elasticbeanstalk_environment_enhanced_health_reporting.metadata.json
  prowler/providers/aws/services/elasticbeanstalk/elasticbeanstalk_environment_enhanced_health_reporting/elasticbeanstalk_environment_enhanced_health_reporting.py
  tests/providers/aws/services/elasticbeanstalk/elasticbeanstalk_environment_enhanced_health_reporting/elasticbeanstalk_environment_enhanced_health_reporting_test.py
Labels: provider/aws

#5380 feat(waf): change WAF Classic `web_acls` from `list` to `dict`
  prowler/providers/aws/services/elbv2/elbv2_waf_acl_attached/elbv2_waf_acl_attached.py
  prowler/providers/aws/services/waf/waf_service.py
  tests/providers/aws/services/waf/waf_service_test.py
Labels: provider/aws

#5385 feat(bedrock): add checks for guardrails configuration and log encryption
  prowler/providers/aws/services/bedrock/bedrock_guardrail_prompt_attack_filter_enabled/__init__.py
  prowler/providers/aws/services/bedrock/bedrock_guardrail_prompt_attack_filter_enabled/bedrock_guardrail_prompt_attack_filter_enabled.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_guardrail_prompt_attack_filter_enabled/bedrock_guardrail_prompt_attack_filter_enabled.py
  prowler/providers/aws/services/bedrock/bedrock_guardrail_sensitive_information_filter_enabled/__init__.py
  prowler/providers/aws/services/bedrock/bedrock_guardrail_sensitive_information_filter_enabled/bedrock_guardrail_sensitive_information_filter_enabled.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_guardrail_sensitive_information_filter_enabled/bedrock_guardrail_sensitive_information_filter_enabled.py
  prowler/providers/aws/services/bedrock/bedrock_model_invocation_logs_encryption_enabled/__init__.py
  prowler/providers/aws/services/bedrock/bedrock_model_invocation_logs_encryption_enabled/bedrock_model_invocation_logs_encryption_enabled.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_model_invocation_logs_encryption_enabled/bedrock_model_invocation_logs_encryption_enabled.py
  prowler/providers/aws/services/bedrock/bedrock_service.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_kms_encryption_enabled/cloudwatch_log_group_kms_encryption_enabled.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_no_secrets_in_logs/cloudwatch_log_group_no_secrets_in_logs.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_retention_policy_specific_days_enabled/cloudwatch_log_group_retention_policy_specific_days_enabled.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_service.py
  tests/providers/aws/services/bedrock/bedrock_guardrail_prompt_attack_filter_enabled/bedrock_guardrail_prompt_attack_filter_enabled_test.py
  tests/providers/aws/services/bedrock/bedrock_guardrail_sensitive_information_filter_enabled/bedrock_guardrail_sensitive_information_filter_enabled_test.py
  tests/providers/aws/services/bedrock/bedrock_model_invocation_logging_enabled/bedrock_model_invocation_logging_enabled_test.py
  tests/providers/aws/services/bedrock/bedrock_model_invocation_logs_encryption_enabled/bedrock_model_invocation_logs_encryption_enabled_test.py
  tests/providers/aws/services/bedrock/bedrock_service_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_service_test.py
Labels: provider/aws

#5346 feat(autoscaling): add new check `autoscaling_group_using_ec2_launch_template`
  prowler/providers/aws/services/autoscaling/autoscaling_group_using_ec2_launch_template/__init__.py
  prowler/providers/aws/services/autoscaling/autoscaling_group_using_ec2_launch_template/autoscaling_group_using_ec2_launch_template.metadata.json
  prowler/providers/aws/services/autoscaling/autoscaling_group_using_ec2_launch_template/autoscaling_group_using_ec2_launch_template.py
  prowler/providers/aws/services/autoscaling/autoscaling_service.py
  tests/providers/aws/services/autoscaling/autoscaling_group_using_ec2_launch_template/autoscaling_group_using_ec2_launch_template_test.py
  tests/providers/aws/services/autoscaling/autoscaling_service_test.py
Labels: provider/aws

#5359 feat(autoscaling): add new check `autoscaling_group_launch_configuration_no_public_ip`
  prowler/providers/aws/services/autoscaling/autoscaling_group_launch_configuration_no_public_ip/__init__.py
  prowler/providers/aws/services/autoscaling/autoscaling_group_launch_configuration_no_public_ip/autoscaling_group_launch_configuration_no_public_ip.metadata.json
  prowler/providers/aws/services/autoscaling/autoscaling_group_launch_configuration_no_public_ip/autoscaling_group_launch_configuration_no_public_ip.py
  prowler/providers/aws/services/autoscaling/autoscaling_service.py
  tests/providers/aws/services/autoscaling/autoscaling_group_launch_configuration_no_public_ip/autoscaling_group_launch_configuration_no_public_ip_test.py
  tests/providers/aws/services/autoscaling/autoscaling_service_test.py
Labels: provider/aws

#5357 feat(config): add new check `config_recorder_using_aws_service_role_config`
  prowler/providers/aws/services/config/config_recorder_all_regions_enabled/config_recorder_all_regions_enabled.py
  prowler/providers/aws/services/config/config_recorder_using_aws_service_role/__init__.py
  prowler/providers/aws/services/config/config_recorder_using_aws_service_role/config_recorder_using_aws_service_role.metadata.json
  prowler/providers/aws/services/config/config_recorder_using_aws_service_role/config_recorder_using_aws_service_role.py
  prowler/providers/aws/services/config/config_service.py
  tests/providers/aws/services/config/config_recorder_using_aws_service_role/config_recorder_using_aws_service_role_test.py
  tests/providers/aws/services/config/config_service_test.py
Labels: provider/aws

#5389 refactor(WAF): Rename `WAF` to `WAFRegional` and Add Global `WAF` Service
  prowler/providers/aws/services/elbv2/elbv2_waf_acl_attached/elbv2_waf_acl_attached.py
  prowler/providers/aws/services/waf/waf_service.py
  prowler/providers/aws/services/waf/wafregional_client.py
  tests/providers/aws/services/elbv2/elbv2_waf_acl_attached/elbv2_waf_acl_attached_test.py
  tests/providers/aws/services/waf/waf_service_test.py
Labels: provider/aws

#5356 feat(autoscaling): add new check `autoscaling_group_launch_configuration_requires_imdsv2`
  prowler/providers/aws/services/autoscaling/autoscaling_find_secrets_ec2_launch_configuration/autoscaling_find_secrets_ec2_launch_configuration.py
  prowler/providers/aws/services/autoscaling/autoscaling_group_launch_configuration_no_public_ip/autoscaling_group_launch_configuration_no_public_ip.py
  prowler/providers/aws/services/autoscaling/autoscaling_group_launch_configuration_requires_imdsv2/__init__.py
  prowler/providers/aws/services/autoscaling/autoscaling_group_launch_configuration_requires_imdsv2/autoscaling_group_launch_configuration_requires_imdsv2.metadata.json
  prowler/providers/aws/services/autoscaling/autoscaling_group_launch_configuration_requires_imdsv2/autoscaling_group_launch_configuration_requires_imdsv2.py
  prowler/providers/aws/services/autoscaling/autoscaling_service.py
  tests/providers/aws/services/autoscaling/autoscaling_group_launch_configuration_requires_imdsv2/autoscaling_group_launch_configuration_requires_imdsv2_test.py
  tests/providers/aws/services/autoscaling/autoscaling_service_test.py
Labels: provider/aws

#5400 fix(organizations): no finding for access denied in listing policies
  prowler/providers/aws/services/organizations/organizations_opt_out_ai_services_policy/organizations_opt_out_ai_services_policy.py
  prowler/providers/aws/services/organizations/organizations_tags_policies_enabled_and_attached/organizations_tags_policies_enabled_and_attached.py
Labels: provider/aws, backport-to-v4.4

#5399 fix(iam): update AWS Support policy
  prowler/providers/aws/services/iam/iam_service.py
  prowler/providers/aws/services/iam/iam_support_role_created/iam_support_role_created.py
  tests/providers/aws/services/iam/iam_service_test.py
  tests/providers/aws/services/iam/iam_support_role_created/iam_support_role_created_test.py
Labels: provider/aws, backport-to-v3, backport-to-v4.4

#5363 feat(codebuild): add new check `codebuild_project_s3_logs_encrypted`
  prowler/providers/aws/services/codebuild/codebuild_project_s3_logs_encrypted/__init__.py
  prowler/providers/aws/services/codebuild/codebuild_project_s3_logs_encrypted/codebuild_project_s3_logs_encrypted.metadata.json
  prowler/providers/aws/services/codebuild/codebuild_project_s3_logs_encrypted/codebuild_project_s3_logs_encrypted.py
  prowler/providers/aws/services/codebuild/codebuild_service.py
  tests/providers/aws/services/codebuild/codebuild_project_older_90_days/codebuild_project_older_90_days_test.py
  tests/providers/aws/services/codebuild/codebuild_project_s3_logs_encrypted/codebuild_project_s3_logs_encrypted_test.py
  tests/providers/aws/services/codebuild/codebuild_project_source_repo_url_no_sensitive_credentials/codebuild_project_source_repo_url_no_sensitive_credentials_test.py
  tests/providers/aws/services/codebuild/codebuild_project_user_controlled_buildspec/codebuild_project_user_controlled_buildspec_test.py
  tests/providers/aws/services/codebuild/codebuild_service_test.py
Labels: provider/aws

#5390 feat(macie): add new check `macie_automated_sensitive_data_discovery_enabled`
  permissions/create_role_to_assume_cfn.yaml
  permissions/prowler-additions-policy.json
  prowler/providers/aws/services/macie/macie_automated_sensitive_data_discovery_enabled/__init__.py
  prowler/providers/aws/services/macie/macie_automated_sensitive_data_discovery_enabled/macie_automated_sensitive_data_discovery_enabled.metadata.json
  prowler/providers/aws/services/macie/macie_automated_sensitive_data_discovery_enabled/macie_automated_sensitive_data_discovery_enabled.py
  prowler/providers/aws/services/macie/macie_service.py
  tests/providers/aws/services/macie/macie_automated_sensitive_data_discovery_enabled/macie_automated_sensitive_data_discovery_enabled_test.py
  tests/providers/aws/services/macie/macie_service_test.py
Labels: provider/aws

#5381 feat(gcp): add provider id validation inside test_connection
  prowler/providers/gcp/exceptions/exceptions.py
  prowler/providers/gcp/gcp_provider.py
  tests/providers/gcp/gcp_provider_test.py
Labels: provider/gcp

#5358 feat(azure): add authentication method from static credentials
  prowler/providers/azure/azure_provider.py
  prowler/providers/azure/exceptions/exceptions.py
  tests/providers/azure/azure_provider_test.py
Labels: provider/aws, provider/azure, provider/gcp

#5365 feat(codebuild): add new check `codebuild_project_logging_enabled`
  prowler/providers/aws/services/codebuild/codebuild_project_logging_enabled/__init__.py
  prowler/providers/aws/services/codebuild/codebuild_project_logging_enabled/codebuild_project_logging_enabled.metadata.json
  prowler/providers/aws/services/codebuild/codebuild_project_logging_enabled/codebuild_project_logging_enabled.py
  prowler/providers/aws/services/codebuild/codebuild_service.py
  tests/providers/aws/services/codebuild/codebuild_project_logging_enabled/codebuild_project_logging_enabled_test.py
  tests/providers/aws/services/codebuild/codebuild_service_test.py
Labels: provider/aws

#5384 feat(codebuild): add new check `codebuild_report_group_export_encrypted`
  permissions/create_role_to_assume_cfn.yaml
  permissions/prowler-additions-policy.json
  prowler/providers/aws/services/codebuild/codebuild_report_group_export_encrypted/__init__.py
  prowler/providers/aws/services/codebuild/codebuild_report_group_export_encrypted/codebuild_report_group_export_encrypted.metadata.json
  prowler/providers/aws/services/codebuild/codebuild_report_group_export_encrypted/codebuild_report_group_export_encrypted.py
  prowler/providers/aws/services/codebuild/codebuild_service.py
  tests/providers/aws/services/codebuild/codebuild_report_group_export_encrypted/codebuild_report_group_export_encrypted_test.py
  tests/providers/aws/services/codebuild/codebuild_service_test.py
Labels: provider/aws

#5412 feat(fsx): Add new service FSx
  prowler/providers/aws/services/fsx/__init__.py
  prowler/providers/aws/services/fsx/fsx_client.py
  prowler/providers/aws/services/fsx/fsx_service.py
  tests/providers/aws/services/fsx/fsx_service_test.py
Labels: provider/aws

#5416 feat(cloudwatch): add new check `cloudwatch_alarm_actions_enabled`
  prowler/providers/aws/services/cloudwatch/cloudwatch_alarm_actions_enabled/__init__.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_alarm_actions_enabled/cloudwatch_alarm_actions_enabled.metadata.json
  prowler/providers/aws/services/cloudwatch/cloudwatch_alarm_actions_enabled/cloudwatch_alarm_actions_enabled.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_service.py
  tests/providers/aws/services/cloudwatch/cloudwatch_alarm_actions_enabled/cloudwatch_alarm_actions_enabled_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_service_test.py
Labels: provider/aws

#5404 feat(cloudwatch): add new check `cloudwatch_alarm_actions_alarm_state_configured`
  prowler/providers/aws/services/cloudwatch/cloudwatch_alarm_actions_alarm_state_configured/__init__.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_alarm_actions_alarm_state_configured/cloudwatch_alarm_actions_alarm_state_configured.metadata.json
  prowler/providers/aws/services/cloudwatch/cloudwatch_alarm_actions_alarm_state_configured/cloudwatch_alarm_actions_alarm_state_configured.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_service.py
  tests/providers/aws/services/cloudwatch/cloudwatch_alarm_actions_alarm_state_configured/cloudwatch_alarm_actions_alarm_state_configured_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_service_test.py
Labels: provider/aws

#5419 feat(MQ): add new service `MQ`
  prowler/providers/aws/services/mq/__init__.py
  prowler/providers/aws/services/mq/mq_client.py
  prowler/providers/aws/services/mq/mq_service.py
  tests/providers/aws/services/mq/mq_service_test.py
Labels: provider/aws

#5325 feat(autoscaling): add new check `autoscaling_group_multiple_instance_types`
  prowler/providers/aws/services/autoscaling/autoscaling_group_multiple_instance_types/__init__.py
  prowler/providers/aws/services/autoscaling/autoscaling_group_multiple_instance_types/autoscaling_group_multiple_instance_types.metadata.json
  prowler/providers/aws/services/autoscaling/autoscaling_group_multiple_instance_types/autoscaling_group_multiple_instance_types.py
  prowler/providers/aws/services/autoscaling/autoscaling_service.py
  tests/providers/aws/services/autoscaling/autoscaling_group_multiple_instance_types/autoscaling_group_multiple_instance_types_test.py
  tests/providers/aws/services/autoscaling/autoscaling_service_test.py
Labels: provider/aws

#5391 feat(azure): add provider id validation inside test_connection
  prowler/providers/azure/azure_provider.py
  prowler/providers/azure/exceptions/exceptions.py
  tests/providers/azure/azure_provider_test.py
Labels: provider/azure

#5425 chore(aws): Set scan_unused_services False by default
  prowler/providers/aws/aws_provider.py
  tests/providers/aws/aws_provider_test.py
Labels: provider/aws

#5362 feat(wafv2): add new check `wafv2_cloudwatch_metrics_enabled`
  prowler/providers/aws/services/wafv2/wafv2_service.py
  prowler/providers/aws/services/wafv2/wafv2_webacl_logging_enabled/wafv2_webacl_logging_enabled.metadata.json
  prowler/providers/aws/services/wafv2/wafv2_webacl_logging_enabled/wafv2_webacl_logging_enabled.py
  prowler/providers/aws/services/wafv2/wafv2_webacl_rule_logging_enabled/__init__.py
  prowler/providers/aws/services/wafv2/wafv2_webacl_rule_logging_enabled/wafv2_webacl_rule_logging_enabled.metadata.json
  prowler/providers/aws/services/wafv2/wafv2_webacl_rule_logging_enabled/wafv2_webacl_rule_logging_enabled.py
  tests/providers/aws/services/wafv2/wafv2_service_test.py
  tests/providers/aws/services/wafv2/wafv2_webacl_logging_enabled/wafv2_webacl_logging_enabled_test.py
  tests/providers/aws/services/wafv2/wafv2_webacl_rule_logging_enabled/wafv2_webacl_rule_logging_enabled_test.py
Labels: provider/aws

#5392 feat(waf): add new check `waf_regional_webacl_with_rules`
  prowler/providers/aws/services/waf/waf_regional_webacl_with_rules/__init__.py
  prowler/providers/aws/services/waf/waf_regional_webacl_with_rules/waf_regional_webacl_with_rules.metadata.json
  prowler/providers/aws/services/waf/waf_regional_webacl_with_rules/waf_regional_webacl_with_rules.py
  prowler/providers/aws/services/waf/waf_service.py
  tests/providers/aws/services/waf/waf_regional_webacl_with_rules/waf_regional_webacl_with_rules_test.py
  tests/providers/aws/services/waf/waf_service_test.py
Labels: provider/aws

#5195 chore(aws): improve logic for determining if resources are publicly accessible
  prowler/providers/aws/services/dynamodb/dynamodb_table_cross_account_access/dynamodb_table_cross_account_access.py
  prowler/providers/aws/services/ecr/ecr_repositories_not_publicly_accessible/ecr_repositories_not_publicly_accessible.py
  prowler/providers/aws/services/efs/efs_not_publicly_accessible/efs_not_publicly_accessible.py
  prowler/providers/aws/services/eks/eks_cluster_not_publicly_accessible/__init__.py
  prowler/providers/aws/services/eks/eks_cluster_not_publicly_accessible/eks_cluster_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/eks/eks_cluster_not_publicly_accessible/eks_cluster_not_publicly_accessible.py
  prowler/providers/aws/services/eks/eks_control_plane_endpoint_access_restricted/eks_control_plane_endpoint_access_restricted.metadata.json
  prowler/providers/aws/services/eks/eks_endpoints_not_publicly_accessible/__init__.py
  prowler/providers/aws/services/eks/eks_endpoints_not_publicly_accessible/eks_endpoints_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/eks/eks_endpoints_not_publicly_accessible/eks_endpoints_not_publicly_accessible.py
  prowler/providers/aws/services/eks/eks_service.py
  prowler/providers/aws/services/elbv2/elbv2_internet_facing/elbv2_internet_facing.py
  prowler/providers/aws/services/elbv2/elbv2_service.py
  prowler/providers/aws/services/eventbridge/eventbridge_bus_cross_account_access/eventbridge_bus_cross_account_access.py
  prowler/providers/aws/services/eventbridge/eventbridge_bus_exposed/eventbridge_bus_exposed.py
  prowler/providers/aws/services/eventbridge/eventbridge_schema_registry_cross_account_access/eventbridge_schema_registry_cross_account_access.py
  prowler/providers/aws/services/iam/iam_role_cross_service_confused_deputy_prevention/iam_role_cross_service_confused_deputy_prevention.py
  prowler/providers/aws/services/iam/lib/policy.py
  prowler/providers/aws/services/kms/kms_key_not_publicly_accessible/kms_key_not_publicly_accessible.py
  prowler/providers/aws/services/opensearch/opensearch_service.py
  prowler/providers/aws/services/opensearch/opensearch_service_domains_not_publicly_accessible/opensearch_service_domains_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/opensearch/opensearch_service_domains_not_publicly_accessible/opensearch_service_domains_not_publicly_accessible.py
  prowler/providers/aws/services/rds/rds_instance_no_public_access/rds_instance_no_public_access.py
  prowler/providers/aws/services/rds/rds_service.py
  prowler/providers/aws/services/redshift/redshift_cluster_public_access/redshift_cluster_public_access.py
  prowler/providers/aws/services/redshift/redshift_service.py
  prowler/providers/aws/services/s3/s3_bucket_cross_account_access/s3_bucket_cross_account_access.py
  prowler/providers/aws/services/s3/s3_bucket_policy_public_write_access/s3_bucket_policy_public_write_access.py
  prowler/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access.py
  tests/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible_test.py
  tests/providers/aws/services/cloudfront/cloudfront_distributions_s3_origin_non_existent_bucket/cloudfront_distributions_s3_origin_non_existent_bucket_test.py
  tests/providers/aws/services/dynamodb/dynamodb_table_cross_account_access/dynamodb_table_cross_account_access_test.py
  tests/providers/aws/services/ecr/ecr_repositories_not_publicly_accessible/ecr_repositories_not_publicly_accessible_test.py
  tests/providers/aws/services/efs/efs_mount_target_not_publicly_accessible/efs_mount_target_not_publicly_accessible_test.py
  tests/providers/aws/services/eks/eks_cluster_not_publicly_accessible/eks_endpoints_not_publicly_accessible_test.py
  tests/providers/aws/services/eks/eks_control_plane_endpoint_access_restricted/eks_control_plane_endpoint_access_restricted_test.py
  tests/providers/aws/services/elbv2/elbv2_internet_facing/elbv2_internet_facing_test.py
  tests/providers/aws/services/elbv2/elbv2_service_test.py
  tests/providers/aws/services/iam/lib/policy_test.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_not_publicly_accessible/opensearch_service_domains_not_publicly_accessible_test.py
  tests/providers/aws/services/opensearch/opensearch_service_test.py
  tests/providers/aws/services/rds/rds_instance_no_public_access/rds_instance_no_public_access_test.py
  tests/providers/aws/services/rds/rds_service_test.py
  tests/providers/aws/services/redshift/redshift_cluster_public_access/redshift_cluster_public_access_test.py
  tests/providers/aws/services/redshift/redshift_service_test.py
  tests/providers/aws/services/vpc/vpc_service_test.py
  tests/providers/aws/services/workspaces/workspaces_vpc_2private_1public_subnets_nat/workspaces_vpc_2private_1public_subnets_nat_test.py
Labels: provider/aws, backport-to-v4.4

#5411 feat(waf): add new check `waf_regional_rule_with_conditions`
  prowler/providers/aws/services/waf/waf_regional_rule_with_conditions/__init__.py
  prowler/providers/aws/services/waf/waf_regional_rule_with_conditions/waf_regional_rule_with_conditions.metadata.json
  prowler/providers/aws/services/waf/waf_regional_rule_with_conditions/waf_regional_rule_with_conditions.py
  tests/providers/aws/services/waf/waf_regional_rule_with_conditions/waf_regional_rule_with_conditions_test.py
Labels: provider/aws

#5370 feat(k8s): Add kubeconfig content static authentication
  prowler/providers/kubernetes/exceptions/exceptions.py
  prowler/providers/kubernetes/kubernetes_provider.py
  tests/providers/kubernetes/kubernetes_provider_test.py
Labels: provider/kubernetes

#5427 feat(scan): add arguments
  prowler/exceptions/exceptions.py
  prowler/lib/check/checks_loader.py
  prowler/lib/scan/exceptions/exceptions.py
  prowler/lib/scan/scan.py
  prowler/providers/aws/exceptions/exceptions.py
  prowler/providers/azure/exceptions/exceptions.py
  prowler/providers/azure/lib/exception/__init__.py
  prowler/providers/azure/lib/exception/exception.py
  prowler/providers/gcp/exceptions/exceptions.py
  prowler/providers/kubernetes/exceptions/exceptions.py
  tests/lib/scan/scan_test.py
Labels: provider/aws, provider/azure, provider/gcp, provider/kubernetes

#5397 feat(k8s): Add kubeconfig content authentication
  prowler/providers/kubernetes/exceptions/exceptions.py
  prowler/providers/kubernetes/kubernetes_provider.py
  tests/providers/kubernetes/kubernetes_provider_test.py
Labels: provider/kubernetes

#5378 chore(aws): Add AWSSessionTokenExpired
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/exceptions/exceptions.py
Labels: provider/aws

#5417 feat(fsx): add new check `fsx_file_system_copy_tags_to_backups_enabled`
  prowler/providers/aws/services/fsx/fsx_file_system_copy_tags_to_backups_enabled/__init__.py
  prowler/providers/aws/services/fsx/fsx_file_system_copy_tags_to_backups_enabled/fsx_file_system_copy_tags_to_backups_enabled.metadata.json
  prowler/providers/aws/services/fsx/fsx_file_system_copy_tags_to_backups_enabled/fsx_file_system_copy_tags_to_backups_enabled.py
  tests/providers/aws/services/fsx/fsx_file_system_copy_tags_to_backups_enabled/fsx_file_system_copy_tags_to_backups_enabled_test.py
Labels: provider/aws

#5428 feat(secretsmanager): add new check `secretsmanager_secret_unused`
  docs/tutorials/configuration_file.md
  prowler/config/config.yaml
  prowler/providers/aws/services/secretsmanager/secretsmanager_secret_unused/__init__.py
  prowler/providers/aws/services/secretsmanager/secretsmanager_secret_unused/secretsmanager_secret_unused.metadata.json
  prowler/providers/aws/services/secretsmanager/secretsmanager_secret_unused/secretsmanager_secret_unused.py
  prowler/providers/aws/services/secretsmanager/secretsmanager_service.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/providers/aws/services/secretsmanager/secretsmanager_automatic_rotation_enabled/secretsmanager_automatic_rotation_enabled_test.py
  tests/providers/aws/services/secretsmanager/secretsmanager_secret_unused/secretsmanager_secret_unused_test.py
  tests/providers/aws/services/secretsmanager/secretsmanager_service_test.py
Labels: documentation, provider/aws

#5453 fix(bedrock): add filtering and handle different ARNs
  prowler/providers/aws/services/bedrock/bedrock_model_invocation_logs_encryption_enabled/bedrock_model_invocation_logs_encryption_enabled.py
  prowler/providers/aws/services/bedrock/bedrock_service.py
Labels: provider/aws

#5444 feat(datasync): add datasync service and check `datasync_task_logging_enabled`
  prowler/providers/aws/services/datasync/__init__.py
  prowler/providers/aws/services/datasync/datasync_client.py
  prowler/providers/aws/services/datasync/datasync_service.py
  prowler/providers/aws/services/datasync/datasync_task_logging_enabled/__init__.py
  prowler/providers/aws/services/datasync/datasync_task_logging_enabled/datasync_task_logging_enabled.metadata.json
  prowler/providers/aws/services/datasync/datasync_task_logging_enabled/datasync_task_logging_enabled.py
  tests/providers/aws/services/datasync/datasync_service_test.py
  tests/providers/aws/services/datasync/datasync_task_logging_enabled/datasync_task_logging_enabled_test.py
Labels: provider/aws

#5393 feat(opensearch): add new check `opensearch_domain_master_nodes_fault_tolerant`
  prowler/providers/aws/services/opensearch/opensearch_service.py
  prowler/providers/aws/services/opensearch/opensearch_service_domains_fault_tolerant_master_nodes/__init__.py
  prowler/providers/aws/services/opensearch/opensearch_service_domains_fault_tolerant_master_nodes/opensearch_service_domains_fault_tolerant_master_nodes.metadata.json
  prowler/providers/aws/services/opensearch/opensearch_service_domains_fault_tolerant_master_nodes/opensearch_service_domains_fault_tolerant_master_nodes.py
  tests/providers/aws/services/opensearch/opensearch_service_domains_fault_tolerant_master_nodes/opensearch_service_domains_fault_tolerant_master_nodes_test.py
  tests/providers/aws/services/opensearch/opensearch_service_test.py
Labels: provider/aws

#5431 feat(mq): add new check `mq_broker_auto_minor_version_upgrades`
  prowler/providers/aws/services/mq/mq_broker_auto_minor_version_upgrades/__init__.py
  prowler/providers/aws/services/mq/mq_broker_auto_minor_version_upgrades/mq_broker_auto_minor_version_upgrades.metadata.json
  prowler/providers/aws/services/mq/mq_broker_auto_minor_version_upgrades/mq_broker_auto_minor_version_upgrades.py
  prowler/providers/aws/services/mq/mq_service.py
  tests/providers/aws/services/mq/mq_broker_auto_minor_version_upgrades/mq_broker_auto_minor_version_upgrades_test.py
  tests/providers/aws/services/mq/mq_service_test.py
Labels: provider/aws

#5447 refactor(finding): Add metadata object
  docs/tutorials/reporting.md
  prowler/lib/check/models.py
  prowler/lib/outputs/asff/asff.py
  prowler/lib/outputs/common.py
  prowler/lib/outputs/csv/csv.py
  prowler/lib/outputs/finding.py
  prowler/lib/outputs/html/html.py
  prowler/lib/outputs/ocsf/ocsf.py
  prowler/lib/scan/scan.py
  prowler/lib/utils/utils.py
  tests/lib/outputs/asff/asff_test.py
  tests/lib/outputs/csv/csv_test.py
  tests/lib/outputs/finding_test.py
  tests/lib/outputs/fixtures/fixtures.py
  tests/lib/outputs/ocsf/ocsf_test.py
  tests/lib/scan/scan_test.py
  tests/providers/aws/lib/s3/s3_test.py
Labels: documentation, provider/aws, github_actions, output/csv, output/ocsf, output/asff, output/html, integration/security-hub, integration/s3

#5451 feat(exceptions): modify custom exceptions
  prowler/lib/scan/exceptions/exceptions.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/exceptions/exceptions.py
  prowler/providers/aws/lib/arn/arn.py
  prowler/providers/aws/lib/arn/models.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/azure/exceptions/exceptions.py
  prowler/providers/gcp/exceptions/exceptions.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/kubernetes/exceptions/exceptions.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/aws/lib/arn/arn_test.py
  tests/providers/azure/azure_provider_test.py
  tests/providers/gcp/gcp_provider_test.py
Labels: provider/aws, provider/azure, provider/gcp, provider/kubernetes

#5310 feat(scan): add mutelist and config file to scan
  prowler/__main__.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/common/provider.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/kubernetes/kubernetes_provider.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/aws/utils.py
  tests/providers/azure/azure_provider_test.py
  tests/providers/gcp/gcp_provider_test.py
  tests/providers/kubernetes/kubernetes_provider_test.py
Labels: provider/aws, provider/azure, provider/gcp, provider/kubernetes

#5464 chore(wafv2): migrated testing from magicmock to moto
  tests/providers/aws/services/wafv2/wafv2_webacl_logging_enabled/wafv2_webacl_logging_enabled_test.py
  tests/providers/aws/services/wafv2/wafv2_webacl_with_rules/wafv2_webacl_with_rules_test.py
Labels: provider/aws

#5396 feat(eventbridge): add new check `eventbridge_global_endpoint_event_replication_enabled`
  prowler/providers/aws/services/eventbridge/eventbridge_global_endpoint_event_replication_enabled/__init__.py
  prowler/providers/aws/services/eventbridge/eventbridge_global_endpoint_event_replication_enabled/eventbridge_global_endpoint_event_replication_enabled.metadata.json
  prowler/providers/aws/services/eventbridge/eventbridge_global_endpoint_event_replication_enabled/eventbridge_global_endpoint_event_replication_enabled.py
  prowler/providers/aws/services/eventbridge/eventbridge_service.py
  tests/providers/aws/services/eventbridge/eventbridge_global_endpoint_event_replication_enabled/eventbridge_global_endpoint_event_replication_enabled_test.py
  tests/providers/aws/services/eventbridge/eventbridge_service_test.py
Labels: provider/aws

#5471 feat(aws): Add new checks `ses_identities/glue_data_catalogs/secretsmanager _not_publicly_accessible`
  prowler/providers/aws/aws_regions_by_service.json
  prowler/providers/aws/services/glue/glue_data_catalogs_connection_passwords_encryption_enabled/glue_data_catalogs_connection_passwords_encryption_enabled.py
  prowler/providers/aws/services/glue/glue_data_catalogs_metadata_encryption_enabled/glue_data_catalogs_metadata_encryption_enabled.py
  prowler/providers/aws/services/glue/glue_data_catalogs_not_publicly_accessible/__init__.py
  prowler/providers/aws/services/glue/glue_data_catalogs_not_publicly_accessible/glue_data_catalogs_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/glue/glue_data_catalogs_not_publicly_accessible/glue_data_catalogs_not_publicly_accessible.py
  prowler/providers/aws/services/glue/glue_service.py
  prowler/providers/aws/services/secretsmanager/secretsmanager_not_publicly_accessible/__init__.py
  prowler/providers/aws/services/secretsmanager/secretsmanager_not_publicly_accessible/secretsmanager_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/secretsmanager/secretsmanager_not_publicly_accessible/secretsmanager_not_publicly_accessible.py
  prowler/providers/aws/services/secretsmanager/secretsmanager_service.py
  prowler/providers/aws/services/ses/__init__.py
  prowler/providers/aws/services/ses/ses_client.py
  prowler/providers/aws/services/ses/ses_identity_not_publicly_accessible/__init__.py
  prowler/providers/aws/services/ses/ses_identity_not_publicly_accessible/ses_identity_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/ses/ses_identity_not_publicly_accessible/ses_identity_not_publicly_accessible.py
  prowler/providers/aws/services/ses/ses_service.py
  tests/providers/aws/services/glue/glue_data_catalogs_connection_passwords_encryption_enabled/glue_data_catalogs_connection_passwords_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_data_catalogs_metadata_encryption_enabled/glue_data_catalogs_metadata_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_data_catalogs_not_publicly_accessible/glue_data_catalogs_not_publicly_accessible_test.py
  tests/providers/aws/services/glue/glue_service_test.py
  tests/providers/aws/services/secretsmanager/secretsmanager_not_publicly_accessible/secretsmanager_not_publicly_accessible_test.py
  tests/providers/aws/services/secretsmanager/secretsmanager_service_test.py
  tests/providers/aws/services/ses/ses_identity_not_publicly_accessible/ses_identity_not_publicly_accessible_test.py
  tests/providers/aws/services/ses/ses_service_test.py
  util/update_aws_services_regions.py
Labels: provider/aws

#5468 feat(athena): add new check `athena_workgroup_logging_enabled`
  prowler/providers/aws/services/athena/athena_service.py
  prowler/providers/aws/services/athena/athena_workgroup_logging_enabled/__init__.py
  prowler/providers/aws/services/athena/athena_workgroup_logging_enabled/athena_workgroup_logging_enabled.metadata.json
  prowler/providers/aws/services/athena/athena_workgroup_logging_enabled/athena_workgroup_logging_enabled.py
  tests/providers/aws/services/athena/athena_service_test.py
  tests/providers/aws/services/athena/athena_workgroup_logging_enabled/athena_workgroup_logging_enabled_test.py
Labels: provider/aws

#5448 feat(apigateway): add new check `apigateway_restapi_cache_encrypted`
  prowler/providers/aws/services/apigateway/apigateway_restapi_cache_encrypted/__init__.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_cache_encrypted/apigateway_restapi_cache_encrypted.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_cache_encrypted/apigateway_restapi_cache_encrypted.py
  prowler/providers/aws/services/apigateway/apigateway_service.py
  tests/providers/aws/services/apigateway/apigateway_restapi_cache_encrypted/apigateway_restapi_cache_encrypted_test.py
  tests/providers/aws/services/apigateway/apigateway_service_test.py
Labels: provider/aws

#5437 feat(iam): add new check `iam_policy_cloudshell_admin_not_attached`
  prowler/providers/aws/services/iam/iam_policy_cloudshell_admin_not_attached/__init__.py
  prowler/providers/aws/services/iam/iam_policy_cloudshell_admin_not_attached/iam_policy_cloudshell_admin_not_attached.metadata.json
  prowler/providers/aws/services/iam/iam_policy_cloudshell_admin_not_attached/iam_policy_cloudshell_admin_not_attached.py
  prowler/providers/aws/services/iam/iam_service.py
  tests/providers/aws/services/iam/iam_policy_cloudshell_admin_not_attached/iam_policy_cloudshell_admin_not_attached_test.py
  tests/providers/aws/services/iam/iam_service_test.py
Labels: provider/aws

#5465 feat(waf): add new check `waf_global_rule_with_conditions`
  prowler/providers/aws/services/waf/waf_global_rule_with_conditions/__init__.py
  prowler/providers/aws/services/waf/waf_global_rule_with_conditions/waf_global_rule_with_conditions.metadata.json
  prowler/providers/aws/services/waf/waf_global_rule_with_conditions/waf_global_rule_with_conditions.py
  prowler/providers/aws/services/waf/waf_service.py
  tests/providers/aws/services/waf/waf_global_rule_with_conditions/waf_global_rule_with_conditions_test.py
  tests/providers/aws/services/waf/waf_service_test.py
Labels: provider/aws

#5470 feat(apigateway): add new check `apigateway_restapi_tracing_enabled`
  prowler/providers/aws/services/apigateway/apigateway_restapi_tracing_enabled/__init__.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_tracing_enabled/apigateway_restapi_tracing_enabled.metadata.json
  prowler/providers/aws/services/apigateway/apigateway_restapi_tracing_enabled/apigateway_restapi_tracing_enabled.py
  prowler/providers/aws/services/apigateway/apigateway_service.py
  tests/providers/aws/services/apigateway/apigateway_restapi_tracing_enabled/apigateway_restapi_tracing_enabled_test.py
  tests/providers/aws/services/apigateway/apigateway_service_test.py
Labels: provider/aws

#5424 feat(elb): add new check `elb_ssl_listeners_use_acm_certificate`
  prowler/providers/aws/services/elb/elb_service.py
  prowler/providers/aws/services/elb/elb_ssl_listeners_use_acm_certificate/__init__.py
  prowler/providers/aws/services/elb/elb_ssl_listeners_use_acm_certificate/elb_ssl_listeners_use_acm_certificate.metadata.json
  prowler/providers/aws/services/elb/elb_ssl_listeners_use_acm_certificate/elb_ssl_listeners_use_acm_certificate.py
  tests/providers/aws/services/acm/acm_certificates_expiration_check/acm_certificates_expiration_check_test.py
  tests/providers/aws/services/acm/acm_certificates_transparency_logs_enabled/acm_certificates_transparency_logs_enabled_test.py
  tests/providers/aws/services/acm/acm_certificates_with_secure_key_algorithms/acm_certificates_with_secure_key_algorithms_test.py
  tests/providers/aws/services/elb/elb_service_test.py
  tests/providers/aws/services/elb/elb_ssl_listeners_use_acm_certificate/elb_ssl_listeners_use_acm_certificate_test.py
Labels: provider/aws

#5490 fix(kinesis): add missing init file
  prowler/providers/aws/services/kinesis/__init__.py
Labels: provider/aws

#5467 feat(waf): add new check `waf_global_rulegroup_not_empty`
  prowler/providers/aws/services/waf/waf_global_rulegroup_not_empty/__init__.py
  prowler/providers/aws/services/waf/waf_global_rulegroup_not_empty/waf_global_rulegroup_not_empty.metadata.json
  prowler/providers/aws/services/waf/waf_global_rulegroup_not_empty/waf_global_rulegroup_not_empty.py
  tests/providers/aws/services/waf/waf_global_rulegroup_not_empty/waf_global_rulegroup_not_empty_test.py
Labels: provider/aws

#5479 feat(waf): add new check `waf_global_webacl_logging_enabled`
  prowler/providers/aws/services/waf/waf_global_webacl_logging_enabled/__init__.py
  prowler/providers/aws/services/waf/waf_global_webacl_logging_enabled/waf_global_webacl_logging_enabled.metadata.json
  prowler/providers/aws/services/waf/waf_global_webacl_logging_enabled/waf_global_webacl_logging_enabled.py
  prowler/providers/aws/services/waf/waf_service.py
  tests/providers/aws/services/waf/waf_global_webacl_logging_enabled/waf_global_webacl_logging_enabled_test.py
  tests/providers/aws/services/waf/waf_service_test.py
Labels: provider/aws

#5469 feat(waf): add new check `waf_global_webacl_with_rules`
  prowler/providers/aws/services/waf/waf_global_webacl_with_rules/__init__.py
  prowler/providers/aws/services/waf/waf_global_webacl_with_rules/waf_global_webacl_with_rules.metadata.json
  prowler/providers/aws/services/waf/waf_global_webacl_with_rules/waf_global_webacl_with_rules.py
  tests/providers/aws/services/waf/waf_global_webacl_with_rules/waf_global_webacl_with_rules_test.py
Labels: provider/aws

#5492 feat(aws): add new check `redshift_cluster_multi_az_enabled`
  prowler/providers/aws/services/redshift/redshift_cluster_multi_az_enabled/__init__.py
  prowler/providers/aws/services/redshift/redshift_cluster_multi_az_enabled/redshift_cluster_multi_az_enabled.metadata.json
  prowler/providers/aws/services/redshift/redshift_cluster_multi_az_enabled/redshift_cluster_multi_az_enabled.py
  prowler/providers/aws/services/redshift/redshift_service.py
  tests/providers/aws/services/redshift/redshift_cluster_multi_az_enabled/redshift_cluster_multi_az_enabled_test.py
  tests/providers/aws/services/redshift/redshift_service_test.py
Labels: provider/aws

#5426 feat(backup): add new check `backup_recovery_point_encrypted`
  prowler/providers/aws/services/backup/backup_recovery_point_encrypted/__init__.py
  prowler/providers/aws/services/backup/backup_recovery_point_encrypted/backup_recovery_point_encrypted.metadata.json
  prowler/providers/aws/services/backup/backup_recovery_point_encrypted/backup_recovery_point_encrypted.py
  prowler/providers/aws/services/backup/backup_service.py
  prowler/providers/aws/services/backup/backup_vaults_encrypted/backup_vaults_encrypted.metadata.json
  prowler/providers/aws/services/backup/backup_vaults_encrypted/backup_vaults_encrypted.py
  tests/providers/aws/services/backup/backup_recovery_point_encrypted/backup_recovery_point_encrypted_test.py
  tests/providers/aws/services/backup/backup_service_test.py
  tests/providers/aws/services/backup/backup_vaults_encrypted/backup_vaults_encrypted_test.py
Labels: provider/aws

#5488 feat(aws): Add Fault Tolerance Checks
  prowler/providers/aws/services/documentdb/documentdb_cluster_multi_az_enabled/__init__.py
  prowler/providers/aws/services/documentdb/documentdb_cluster_multi_az_enabled/documentdb_cluster_multi_az_enabled.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_cluster_multi_az_enabled/documentdb_cluster_multi_az_enabled.py
  prowler/providers/aws/services/dynamodb/dynamodb_accelerator_cluster_multi_az/dynamodb_accelerator_cluster_multi_az.metadata.json
  prowler/providers/aws/services/efs/efs_multi_az_enabled/__int__.py
  prowler/providers/aws/services/efs/efs_multi_az_enabled/efs_multi_az_enabled.metadata.json
  prowler/providers/aws/services/efs/efs_multi_az_enabled/efs_multi_az_enabled.py
  prowler/providers/aws/services/efs/efs_service.py
  prowler/providers/aws/services/redshift/redshift_cluster_multi_az_enabled/redshift_cluster_multi_az_enabled.metadata.json
  prowler/providers/aws/services/vpc/vpc_endpoint_multi_az_enabled/__init__.py
  prowler/providers/aws/services/vpc/vpc_endpoint_multi_az_enabled/vpc_endpoint_multi_az_enabled.metadata.json
  prowler/providers/aws/services/vpc/vpc_endpoint_multi_az_enabled/vpc_endpoint_multi_az_enabled.py
  prowler/providers/aws/services/vpc/vpc_service.py
  tests/providers/aws/services/documentdb/documentdb_cluster_multi_az_enabled/documentdb_cluster_multi_az_enabled_test.py
  tests/providers/aws/services/efs/efs_multi_az_enabled/efs_multi_az_enabled_test.py
  tests/providers/aws/services/efs/efs_service_test.py
  tests/providers/aws/services/vpc/vpc_endpoint_multi_az_enabled/vpc_endpoint_multi_az_enabled_test.py
Labels: provider/aws

#5491 feat(aws): add new check `fsx_windows_file_system_multi_az`
  prowler/providers/aws/services/fsx/fsx_service.py
  prowler/providers/aws/services/fsx/fsx_windows_file_system_multi_az_enabled/__init__.py
  prowler/providers/aws/services/fsx/fsx_windows_file_system_multi_az_enabled/fsx_windows_file_system_multi_az_enabled.metadata.json
  prowler/providers/aws/services/fsx/fsx_windows_file_system_multi_az_enabled/fsx_windows_file_system_multi_az_enabled.py
  tests/providers/aws/services/fsx/fsx_file_system_multi_az_enabled/fsx_file_system_multi_az_enabled_test.py
  tests/providers/aws/services/fsx/fsx_service_test.py
Labels: provider/aws

#5481 feat(mq): add new check `mq_broker_cluster_deployment_mode`
  prowler/providers/aws/services/mq/mq_broker_cluster_deployment_mode/__init__.py
  prowler/providers/aws/services/mq/mq_broker_cluster_deployment_mode/mq_broker_cluster_deployment_mode.metadata.json
  prowler/providers/aws/services/mq/mq_broker_cluster_deployment_mode/mq_broker_cluster_deployment_mode.py
  prowler/providers/aws/services/mq/mq_service.py
  tests/providers/aws/services/mq/mq_broker_cluster_deployment_mode/mq_broker_cluster_deployment_mode_test.py
  tests/providers/aws/services/mq/mq_service_test.py
Labels: provider/aws

#5433 feat(mq): add new check `mq_broker_active_deployment_mode`
  prowler/providers/aws/services/mq/mq_broker_active_deployment_mode/__init__.py
  prowler/providers/aws/services/mq/mq_broker_active_deployment_mode/mq_broker_active_deployment_mode.metadata.json
  prowler/providers/aws/services/mq/mq_broker_active_deployment_mode/mq_broker_active_deployment_mode.py
  prowler/providers/aws/services/mq/mq_service.py
  tests/providers/aws/services/mq/mq_broker_active_deployment_mode/mq_broker_active_deployment_mode_test.py
  tests/providers/aws/services/mq/mq_service_test.py
Labels: provider/aws

#5483 feat(mq): add new check `mq_broker_logging_enabled`
  prowler/providers/aws/services/mq/mq_broker_active_deployment_mode/mq_broker_active_deployment_mode.py
  prowler/providers/aws/services/mq/mq_broker_logging_enabled/__init__.py
  prowler/providers/aws/services/mq/mq_broker_logging_enabled/mq_broker_logging_enabled.metadata.json
  prowler/providers/aws/services/mq/mq_broker_logging_enabled/mq_broker_logging_enabled.py
  prowler/providers/aws/services/mq/mq_service.py
  tests/providers/aws/services/mq/mq_broker_active_deployment_mode/mq_broker_active_deployment_mode_test.py
  tests/providers/aws/services/mq/mq_broker_logging_enabled/mq_broker_logging_enabled_test.py
  tests/providers/aws/services/mq/mq_service_test.py
Labels: provider/aws

#5503 fix(aws): review checks with wrong attributes
  prowler/providers/aws/services/acm/acm_certificates_expiration_check/acm_certificates_expiration_check.py
  prowler/providers/aws/services/codebuild/codebuild_project_no_secrets_in_variables/codebuild_project_no_secrets_in_variables.metadata.json
  prowler/providers/aws/services/documentdb/documentdb_cluster_backup_enabled/documentdb_cluster_backup_enabled.py
  prowler/providers/aws/services/documentdb/documentdb_cluster_cloudwatch_log_export/documentdb_cluster_cloudwatch_log_export.py
  prowler/providers/aws/services/ecr/ecr_registry_scan_images_on_push_enabled/ecr_registry_scan_images_on_push_enabled.py
  prowler/providers/aws/services/ecr/ecr_service.py
  prowler/providers/aws/services/elasticache/elasticache_redis_cluster_backup_enabled/elasticache_redis_cluster_backup_enabled.py
  prowler/providers/aws/services/guardduty/guardduty_lambda_protection_enabled/guardduty_lambda_protection_enabled.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_backup_enabled/neptune_cluster_backup_enabled.py
  prowler/providers/aws/services/organizations/organizations_service.py
  prowler/providers/aws/services/rds/rds_instance_certificate_expiration/rds_instance_certificate_expiration.py
  prowler/providers/aws/services/rds/rds_instance_protected_by_backup_plan/rds_instance_protected_by_backup_plan.metadata.json
  prowler/providers/aws/services/route53/route53_domains_privacy_protection_enabled/route53_domains_privacy_protection_enabled.py
  prowler/providers/aws/services/route53/route53_domains_transferlock_enabled/route53_domains_transferlock_enabled.py
  prowler/providers/aws/services/route53/route53_service.py
  prowler/providers/aws/services/waf/waf_service.py
  tests/providers/aws/services/ecr/ecr_registry_scan_images_on_push_enabled/ecr_registry_scan_images_on_push_enabled_test.py
  tests/providers/aws/services/ecr/ecr_repositories_lifecycle_policy_enabled/ecr_repositories_lifecycle_policy_enabled_test.py
  tests/providers/aws/services/ecr/ecr_repositories_not_publicly_accessible/ecr_repositories_not_publicly_accessible_test.py
  tests/providers/aws/services/ecr/ecr_repositories_scan_images_on_push_enabled/ecr_repositories_scan_images_on_push_enabled_test.py
  tests/providers/aws/services/ecr/ecr_repositories_scan_vulnerabilities_in_latest_image/ecr_repositories_scan_vulnerabilities_in_latest_image_test.py
  tests/providers/aws/services/ecr/ecr_repositories_tag_immutability/ecr_repositories_tag_immutability_test.py
  tests/providers/aws/services/rds/rds_instance_certificate_expiration/rds_instance_certificate_expiration_test.py
  tests/providers/aws/services/route53/route53_domains_privacy_protection_enabled/route53_domains_privacy_protection_enabled_test.py
  tests/providers/aws/services/route53/route53_domains_transferlock_enabled/route53_domains_transferlock_enabled_test.py
Labels: provider/aws

#5502 fix(kubernetes): handle input kube config file
  prowler/providers/kubernetes/kubernetes_provider.py
Labels: provider/kubernetes

#5484 chore(providers): Remove `get_output_mapping`
  docs/developer-guide/provider.md
  prowler/lib/outputs/common.py
  prowler/lib/outputs/finding.py
  prowler/lib/utils/utils.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/azure/azure_provider.py
  prowler/providers/common/provider.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/kubernetes/kubernetes_provider.py
  tests/lib/outputs/finding_test.py
  tests/providers/aws/aws_provider_test.py
Labels: documentation, provider/aws, provider/azure, provider/gcp, provider/kubernetes

#5462 feat(check): add check methods
  prowler/config/config.py
  prowler/lib/check/check.py
  prowler/lib/check/checks_loader.py
  prowler/lib/check/models.py
  tests/lib/check/check_loader_test.py
  tests/lib/check/compliance_check_test.py
  tests/lib/check/models_test.py
  tests/lib/scan/scan_test.py
Labels: provider/aws

#5541 chore(slack): add text argument by best practice
  prowler/lib/outputs/slack/slack.py
Labels: integration/slack

#5553 chore(elbv2): cleanup tests
  tests/providers/aws/services/elbv2/elbv2_deletion_protection/elbv2_deletion_protection_test.py
  tests/providers/aws/services/elbv2/elbv2_desync_mitigation_mode/elbv2_desync_mitigation_mode_test.py
  tests/providers/aws/services/elbv2/elbv2_insecure_ssl_ciphers/elbv2_insecure_ssl_ciphers_test.py
  tests/providers/aws/services/elbv2/elbv2_listeners_underneath/elbv2_listeners_underneath_test.py
  tests/providers/aws/services/elbv2/elbv2_logging_enabled/elbv2_logging_enabled_test.py
  tests/providers/aws/services/elbv2/elbv2_ssl_listeners/elbv2_ssl_listeners_test.py
  tests/providers/aws/services/elbv2/elbv2_waf_acl_attached/elbv2_waf_acl_attached_test.py
Labels: provider/aws

#5522 feat(aws): add DirectConnect service and checks
  prowler/providers/aws/services/directconnect/__init__.py
  prowler/providers/aws/services/directconnect/directconnect_client.py
  prowler/providers/aws/services/directconnect/directconnect_connection_redundancy/__init__.py
  prowler/providers/aws/services/directconnect/directconnect_connection_redundancy/directconnect_connection_redundancy.metadata.json
  prowler/providers/aws/services/directconnect/directconnect_connection_redundancy/directconnect_connection_redundancy.py
  prowler/providers/aws/services/directconnect/directconnect_service.py
  prowler/providers/aws/services/directconnect/directconnect_virtual_interface_redundancy/__init__.py
  prowler/providers/aws/services/directconnect/directconnect_virtual_interface_redundancy/directconnect_virtual_interface_redundancy.metadata.json
  prowler/providers/aws/services/directconnect/directconnect_virtual_interface_redundancy/directconnect_virtual_interface_redundancy.py
  tests/providers/aws/services/directconnect/directconnect_connection_redundancy/directconnect_connection_redundancy_test.py
  tests/providers/aws/services/directconnect/directconnect_service_test.py
  tests/providers/aws/services/directconnect/directconnect_virtual_interface_redundancy/directconnect_virtual_interface_redundancy_test.py
Labels: provider/aws

#5561 chore(azure): deprecate `AzureGermanCloud`
  docs/tutorials/azure/use-non-default-cloud.md
  poetry.lock
  prowler/providers/azure/lib/arguments/arguments.py
  prowler/providers/azure/lib/regions/regions.py
  pyproject.toml
  tests/lib/cli/parser_test.py
  tests/providers/azure/lib/regions/regions_test.py
Labels: documentation, provider/azure, backport-to-v3, backport-to-v4.4

#5567 chore(codebuild): Cleanup tests
  tests/providers/aws/services/codebuild/codebuild_project_older_90_days/codebuild_project_older_90_days_test.py
  tests/providers/aws/services/codebuild/codebuild_project_user_controlled_buildspec/codebuild_project_user_controlled_buildspec_test.py
Labels: provider/aws

#5568 chore(glue): Cleanup tests
  tests/providers/aws/services/glue/glue_database_connections_ssl_enabled/glue_database_connections_ssl_enabled_test.py
  tests/providers/aws/services/glue/glue_development_endpoints_cloudwatch_logs_encryption_enabled/glue_development_endpoints_cloudwatch_logs_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_development_endpoints_job_bookmark_encryption_enabled/glue_development_endpoints_job_bookmark_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_development_endpoints_s3_encryption_enabled/glue_development_endpoints_s3_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_etl_jobs_amazon_s3_encryption_enabled/glue_etl_jobs_amazon_s3_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_etl_jobs_cloudwatch_logs_encryption_enabled/glue_etl_jobs_cloudwatch_logs_encryption_enabled_test.py
  tests/providers/aws/services/glue/glue_etl_jobs_job_bookmark_encryption_enabled/glue_etl_jobs_job_bookmark_encryption_enabled_test.py
Labels: provider/aws

#5569 chore(aws): Cleanup RDS and S3 tests
  tests/providers/aws/services/rds/rds_instance_storage_encrypted/rds_instance_storage_encrypted_test.py
  tests/providers/aws/services/s3/s3_bucket_object_lock/s3_bucket_object_lock_test.py
Labels: provider/aws

#5524 feat(gcp): add `--organization-id` flag
  docs/tutorials/gcp/organization.md
  mkdocs.yml
  prowler/providers/common/provider.py
  prowler/providers/gcp/exceptions/exceptions.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/gcp/lib/arguments/arguments.py
  tests/lib/cli/parser_test.py
  tests/providers/gcp/gcp_provider_test.py
Labels: documentation, provider/gcp

#5340 feat(slack): add test_connection method
  prowler/lib/outputs/slack/exceptions/__init__.py
  prowler/lib/outputs/slack/exceptions/exceptions.py
  prowler/lib/outputs/slack/slack.py
  tests/lib/outputs/slack/slack_test.py
Labels: integration/slack

#5560 fix(aws): findings in IAM policies were not reported
  prowler/providers/aws/services/iam/iam_aws_attached_policy_no_administrative_privileges/iam_aws_attached_policy_no_administrative_privileges.py
  prowler/providers/aws/services/iam/iam_customer_attached_policy_no_administrative_privileges/iam_customer_attached_policy_no_administrative_privileges.py
  prowler/providers/aws/services/iam/iam_customer_unattached_policy_no_administrative_privileges/iam_customer_unattached_policy_no_administrative_privileges.py
  tests/providers/aws/services/iam/iam_aws_attached_policy_no_administrative_privileges/iam_aws_attached_policy_no_administrative_privileges_test.py
  tests/providers/aws/services/iam/iam_customer_attached_policy_no_administrative_privileges/iam_customer_attached_policy_no_administrative_privileges_test.py
  tests/providers/aws/services/iam/iam_customer_unattached_policy_no_administrative_privileges/iam_customer_unattached_policy_no_administrative_privileges_test.py
Labels: provider/aws

#5523 feat(autoscaling): Add `autoscaling_group_capacity_rebalance_enabled` check
  prowler/providers/aws/services/autoscaling/autoscaling_group_capacity_rebalance_enabled/__init__.py
  prowler/providers/aws/services/autoscaling/autoscaling_group_capacity_rebalance_enabled/autoscaling_group_capacity_rebalance_enabled.metadata.json
  prowler/providers/aws/services/autoscaling/autoscaling_group_capacity_rebalance_enabled/autoscaling_group_capacity_rebalance_enabled.py
  prowler/providers/aws/services/autoscaling/autoscaling_service.py
  tests/providers/aws/services/autoscaling/autoscaling_group_capacity_rebalance_enabled/autoscaling_group_capacity_rebalance_enabled_test.py
  tests/providers/aws/services/autoscaling/autoscaling_service_test.py
Labels: provider/aws

#5552 feat(s3): add new check `s3_multi_region_access_point_public_access_block`
  prowler/providers/aws/services/s3/s3_multi_region_access_point_public_access_block/__init__.py
  prowler/providers/aws/services/s3/s3_multi_region_access_point_public_access_block/s3_multi_region_access_point_public_access_block.metadata.json
  prowler/providers/aws/services/s3/s3_multi_region_access_point_public_access_block/s3_multi_region_access_point_public_access_block.py
  prowler/providers/aws/services/s3/s3_service.py
  tests/providers/aws/services/s3/s3_access_point_public_access_block/s3_access_point_public_access_block_test.py
  tests/providers/aws/services/s3/s3_multi_region_access_point_public_access_block/s3_multi_region_access_point_public_access_block_test.py
Labels: provider/aws

#5562 feat(s3): add new check `s3_bucket_event_notifications_enabled`
  prowler/providers/aws/services/s3/s3_bucket_cross_region_replication/s3_bucket_cross_region_replication.metadata.json
  prowler/providers/aws/services/s3/s3_bucket_event_notifications_enabled/__init__.py
  prowler/providers/aws/services/s3/s3_bucket_event_notifications_enabled/s3_bucket_event_notifications_enabled.metadata.json
  prowler/providers/aws/services/s3/s3_bucket_event_notifications_enabled/s3_bucket_event_notifications_enabled.py
  prowler/providers/aws/services/s3/s3_service.py
  tests/providers/aws/services/s3/s3_bucket_event_notifications_enabled/s3_bucket_event_notifications_enabled_test.py
  tests/providers/aws/services/s3/s3_service_test.py
Labels: provider/aws

#5350 feat(SecurityHub): add `test_connection` method
  prowler/__main__.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/security_hub/exceptions/exceptions.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/aws/lib/security_hub/security_hub_test.py
Labels: provider/aws, integration/security-hub

#5495 feat(aws): add new check `cloudwatch_log_group_not_publicly_accessible`
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_not_publicly_accessible/__init__.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_not_publicly_accessible/cloudwatch_log_group_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_not_publicly_accessible/cloudwatch_log_group_not_publicly_accessible.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_service.py
  tests/providers/aws/services/cloudwatch/cloudwatch_log_group_not_publicly_accessible/cloudwatch_log_group_not_publicly_accessible_test.py
Labels: provider/aws

#5584 chore(rds): improve metadata title and description for check `rds_instance_transport_encrypted`
  prowler/providers/aws/services/rds/rds_instance_transport_encrypted/rds_instance_transport_encrypted.metadata.json
Labels: provider/aws

#5571 fix(gcp): enforce correct severity levels in CloudSQL PostgreSQL `log_min_messages`
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_min_messages_flag/cloudsql_instance_postgres_log_min_messages_flag.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_postgres_log_min_messages_flag/cloudsql_instance_postgres_log_min_messages_flag_test.py
Labels: provider/gcp, backport-to-v3

#5509 feat(aws): add new check `bedrock_agent_guardrail_enabled`
  permissions/create_role_to_assume_cfn.yaml
  permissions/prowler-additions-policy.json
  prowler/providers/aws/aws_regions_by_service.json
  prowler/providers/aws/services/bedrock/bedrock_agent_client.py
  prowler/providers/aws/services/bedrock/bedrock_agent_guardrail_enabled/__init__.py
  prowler/providers/aws/services/bedrock/bedrock_agent_guardrail_enabled/bedrock_agent_guardrail_enabled.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_agent_guardrail_enabled/bedrock_agent_guardrail_enabled.py
  prowler/providers/aws/services/bedrock/bedrock_guardrail_prompt_attack_filter_enabled/bedrock_guardrail_prompt_attack_filter_enabled.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_guardrail_sensitive_information_filter_enabled/bedrock_guardrail_sensitive_information_filter_enabled.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_model_invocation_logs_encryption_enabled/bedrock_model_invocation_logs_encryption_enabled.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_service.py
  tests/providers/aws/services/bedrock/bedrock_agent_guardrail_enabled/bedrock_agent_guardrail_enabled_test.py
  tests/providers/aws/services/bedrock/bedrock_service_test.py
  util/update_aws_services_regions.py
Labels: provider/aws

#5581 feat(glue): add new check `glue_etl_jobs_logging_enabled`
  prowler/providers/aws/services/glue/glue_etl_jobs_logging_enabled/__init__.py
  prowler/providers/aws/services/glue/glue_etl_jobs_logging_enabled/glue_etl_jobs_logging_enabled.metadata.json
  prowler/providers/aws/services/glue/glue_etl_jobs_logging_enabled/glue_etl_jobs_logging_enabled.py
  prowler/providers/aws/services/glue/glue_service.py
  tests/providers/aws/services/glue/glue_etl_jobs_logging_enabled/glue_etl_jobs_logging_enabled_test.py
Labels: provider/aws

#5526 feat(ecs): Add `ecs_task_definitions_logging_block_mode` check
  prowler/providers/aws/services/ecs/ecs_service.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_logging_block_mode/__init__.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_logging_block_mode/ecs_task_definitions_logging_block_mode.metadata.json
  prowler/providers/aws/services/ecs/ecs_task_definitions_logging_block_mode/ecs_task_definitions_logging_block_mode.py
  tests/providers/aws/services/ecs/ecs_service_test.py
  tests/providers/aws/services/ecs/ecs_task_definitions_logging_block_mode/ecs_task_definitions_logging_block_mode_test.py
Labels: provider/aws

#5592 chore(aws): cleanup tests
  tests/providers/aws/services/ecr/ecr_registry_scan_images_on_push_enabled/ecr_registry_scan_images_on_push_enabled_test.py
  tests/providers/aws/services/efs/efs_have_backup_enabled/efs_have_backup_enabled_test.py
  tests/providers/aws/services/eks/eks_cluster_kms_cmk_encryption_in_secrets_enabled/eks_cluster_kms_cmk_encryption_in_secrets_enabled_test.py
  tests/providers/aws/services/eks/eks_control_plane_logging_all_types_enabled/eks_control_plane_logging_all_types_enabled_test.py
Labels: provider/aws

#5548 feat(elbv2): add `elbv2_cross_zone_load_balancing_enabled` check
  prowler/providers/aws/services/elbv2/elbv2_cross_zone_load_balancing_enabled/__init__.py
  prowler/providers/aws/services/elbv2/elbv2_cross_zone_load_balancing_enabled/elbv2_cross_zone_load_balancing_enabled.metadata.json
  prowler/providers/aws/services/elbv2/elbv2_cross_zone_load_balancing_enabled/elbv2_cross_zone_load_balancing_enabled.py
  prowler/providers/aws/services/elbv2/elbv2_service.py
  tests/providers/aws/services/elbv2/elbv2_cross_zone_load_balancing_enabled/elbv2_cross_zone_load_balancing_enabled_test.py
  tests/providers/aws/services/elbv2/elbv2_service_test.py
Labels: provider/aws

#5550 feat(elbv2): add `elbv2_nlb_tls_termination_enabled` check
  prowler/providers/aws/services/elbv2/elbv2_nlb_tls_termination_enabled/__init__.py
  prowler/providers/aws/services/elbv2/elbv2_nlb_tls_termination_enabled/elbv2_nlb_tls_termination_enabled.metadata.json
  prowler/providers/aws/services/elbv2/elbv2_nlb_tls_termination_enabled/elbv2_nlb_tls_termination_enabled.py
  tests/providers/aws/services/elbv2/elbv2_nlb_tls_termination_enabled/elbv2_nlb_tls_termination_enabled_test.py
Labels: provider/aws

#5582 feat(guardduty): add new check `guardduty_eks_runtime_monitoring_enabled`
  prowler/providers/aws/services/guardduty/guardduty_eks_runtime_monitoring_enabled/__init__.py
  prowler/providers/aws/services/guardduty/guardduty_eks_runtime_monitoring_enabled/guardduty_eks_runtime_monitoring_enabled.metadata.json
  prowler/providers/aws/services/guardduty/guardduty_eks_runtime_monitoring_enabled/guardduty_eks_runtime_monitoring_enabled.py
  prowler/providers/aws/services/guardduty/guardduty_service.py
  tests/providers/aws/services/guardduty/guardduty_eks_runtime_monitoring_enabled/guardduty_eks_runtime_monitoring_enabled_test.py
  tests/providers/aws/services/guardduty/guardduty_service_test.py
Labels: provider/aws

#5588 chore(aws): cleanup tests
  tests/providers/aws/services/cloudwatch/cloudwatch_log_group_no_secrets_in_logs/cloudwatch_log_group_no_secrets_in_logs_test.py
  tests/providers/aws/services/dynamodb/dynamodb_tables_pitr_enabled/dynamodb_tables_pitr_enabled_test.py
Labels: provider/aws
