Repository prowler-cloud/prowler, pull requests merged in 2024-02, with the labels that each got.

#3343 feat(azure): SQLServer checks related to TDE encryption
  prowler/providers/azure/services/sqlserver/sqlserver_service.py
  prowler/providers/azure/services/sqlserver/sqlserver_tde_encrypted_with_cmk/__init__.py
  prowler/providers/azure/services/sqlserver/sqlserver_tde_encrypted_with_cmk/sqlserver_tde_encrypted_with_cmk.metadata.json
  prowler/providers/azure/services/sqlserver/sqlserver_tde_encrypted_with_cmk/sqlserver_tde_encrypted_with_cmk.py
  prowler/providers/azure/services/sqlserver/sqlserver_tde_encryption_enabled/__init__.py
  prowler/providers/azure/services/sqlserver/sqlserver_tde_encryption_enabled/sqlserver_tde_encryption_enabled.metadata.json
  prowler/providers/azure/services/sqlserver/sqlserver_tde_encryption_enabled/sqlserver_tde_encryption_enabled.py
  tests/lib/check/check_test.py
  tests/providers/azure/services/sqlserver/sqlserver_auditing_enabled/sqlserver_auditing_enabled_test.py
  tests/providers/azure/services/sqlserver/sqlserver_azuread_administrator_enabled/sqlserver_azuread_administrator_enabled_test.py
  tests/providers/azure/services/sqlserver/sqlserver_service_test.py
  tests/providers/azure/services/sqlserver/sqlserver_tde_encrypted_with_cmk/sqlserver_tde_encrypted_with_cmk_test.py
  tests/providers/azure/services/sqlserver/sqlserver_tde_encryption_enabled/sqlserver_tde_encryption_enabled_test.py
  tests/providers/azure/services/sqlserver/sqlserver_unrestricted_inbound_access/sqlserver_unrestricted_inbound_access_test.py
Labels: provider/azure

#3325 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low

#3339 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws

#3348 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws

#3345 feat(azure): New Azure SQLServer related check `sqlserver_auditing_retention_90_days`
  prowler/providers/azure/services/sqlserver/sqlserver_auditing_retention_90_days/__init__.py
  prowler/providers/azure/services/sqlserver/sqlserver_auditing_retention_90_days/sqlserver_auditing_retention_90_days.metadata.json
  prowler/providers/azure/services/sqlserver/sqlserver_auditing_retention_90_days/sqlserver_auditing_retention_90_days.py
  tests/lib/check/check_test.py
  tests/providers/azure/services/sqlserver/sqlserver_auditing_retention_90_days/sqlserver_auditing_retention_90_days_test.py
Labels: provider/azure

#3319 fix(organizations): Handle non existent policy
  prowler/providers/aws/services/organizations/organizations_service.py
Labels: provider/aws

#3344 feat(azure): Defender checks related to security contacts and notifications
  prowler/providers/azure/services/defender/defender_additional_email_configured_with_a_security_contact/__init__.py
  prowler/providers/azure/services/defender/defender_additional_email_configured_with_a_security_contact/defender_additional_email_configured_with_a_security_contact.metadata.json
  prowler/providers/azure/services/defender/defender_additional_email_configured_with_a_security_contact/defender_additional_email_configured_with_a_security_contact.py
  prowler/providers/azure/services/defender/defender_ensure_notify_alerts_severity_is_high/__init__.py
  prowler/providers/azure/services/defender/defender_ensure_notify_alerts_severity_is_high/defender_ensure_notify_alerts_severity_is_high.metadata.json
  prowler/providers/azure/services/defender/defender_ensure_notify_alerts_severity_is_high/defender_ensure_notify_alerts_severity_is_high.py
  prowler/providers/azure/services/defender/defender_ensure_notify_emails_to_owners/__init__.py
  prowler/providers/azure/services/defender/defender_ensure_notify_emails_to_owners/defender_ensure_notify_emails_to_owners.metadata.json
  prowler/providers/azure/services/defender/defender_ensure_notify_emails_to_owners/defender_ensure_notify_emails_to_owners.py
  prowler/providers/azure/services/defender/defender_service.py
  tests/providers/azure/services/defender/defender_additional_email_configured_with_a_security_contact/defender_additional_email_configured_with_a_security_contact_test.py
  tests/providers/azure/services/defender/defender_ensure_notify_alerts_severity_is_high/defender_ensure_notify_alerts_severity_is_high_test.py
  tests/providers/azure/services/defender/defender_ensure_notify_emails_to_owners/defender_ensure_notify_emails_to_owners_test.py
  tests/providers/azure/services/defender/defender_service_test.py
Labels: provider/azure

#3350 refactor(azure): Change class names from azure services and fix typing error
  prowler/providers/azure/services/defender/defender_service.py
  prowler/providers/azure/services/sqlserver/sqlserver_service.py
  prowler/providers/azure/services/storage/storage_service.py
  tests/providers/azure/azure_fixtures.py
  tests/providers/azure/services/defender/defender_additional_email_configured_with_a_security_contact/defender_additional_email_configured_with_a_security_contact_test.py
  tests/providers/azure/services/defender/defender_auto_provisioning_log_analytics_agent_vms_on/defender_auto_provisioning_log_analytics_agent_vms_on_test.py
  tests/providers/azure/services/defender/defender_auto_provisioning_vulnerabilty_assessments_machines_on/defender_auto_provisioning_vulnerabilty_assessments_machines_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_app_services_is_on/defender_ensure_defender_for_app_services_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_arm_is_on/defender_ensure_defender_for_arm_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_azure_sql_databases_is_on/defender_ensure_defender_for_azure_sql_databases_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_containers_is_on/defender_ensure_defender_for_containers_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_cosmosdb_is_on/defender_ensure_defender_for_cosmosdb_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_databases_is_on/defender_ensure_defender_for_databases_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_dns_is_on/defender_ensure_defender_for_dns_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_keyvault_is_on/defender_ensure_defender_for_keyvault_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_os_relational_databases_is_on/defender_ensure_defender_for_os_relational_databases_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_server_is_on/defender_ensure_defender_for_server_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_sql_servers_is_on/defender_ensure_defender_for_sql_servers_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_storage_is_on/defender_ensure_defender_for_storage_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_notify_alerts_severity_is_high/defender_ensure_notify_alerts_severity_is_high_test.py
  tests/providers/azure/services/defender/defender_ensure_notify_emails_to_owners/defender_ensure_notify_emails_to_owners_test.py
  tests/providers/azure/services/defender/defender_ensure_system_updates_are_applied/defender_ensure_system_updates_are_applied_test.py
  tests/providers/azure/services/defender/defender_service_test.py
  tests/providers/azure/services/iam/iam_custom_role_has_permissions_to_administer_resource_locks/iam_custom_role_has_permissions_to_administer_resource_locks_test.py
  tests/providers/azure/services/iam/iam_subscription_roles_owner_custom_not_created/iam_subscription_roles_owner_custom_not_created_test.py
  tests/providers/azure/services/sqlserver/sqlserver_auditing_enabled/sqlserver_auditing_enabled_test.py
  tests/providers/azure/services/sqlserver/sqlserver_auditing_retention_90_days/sqlserver_auditing_retention_90_days_test.py
  tests/providers/azure/services/sqlserver/sqlserver_azuread_administrator_enabled/sqlserver_azuread_administrator_enabled_test.py
  tests/providers/azure/services/sqlserver/sqlserver_service_test.py
  tests/providers/azure/services/sqlserver/sqlserver_tde_encrypted_with_cmk/sqlserver_tde_encrypted_with_cmk_test.py
  tests/providers/azure/services/sqlserver/sqlserver_tde_encryption_enabled/sqlserver_tde_encryption_enabled_test.py
  tests/providers/azure/services/sqlserver/sqlserver_unrestricted_inbound_access/sqlserver_unrestricted_inbound_access_test.py
  tests/providers/azure/services/sqlserver/sqlserver_vulnerability_assessment_enabled/sqlserver_vulnerability_assessment_enabled_test.py
  tests/providers/azure/services/storage/storage_blob_public_access_level_is_disabled/storage_blob_public_access_level_is_disabled_test.py
  tests/providers/azure/services/storage/storage_default_network_access_rule_is_denied/storage_default_network_access_rule_is_denied_test.py
  tests/providers/azure/services/storage/storage_ensure_azure_services_are_trusted_to_access_is_enabled/storage_ensure_azure_services_are_trusted_to_access_is_enabled_test.py
  tests/providers/azure/services/storage/storage_ensure_encryption_with_customer_managed_keys/storage_ensure_encryption_with_customer_managed_keys_test.py
  tests/providers/azure/services/storage/storage_ensure_minimum_tls_version_12/storage_ensure_minimum_tls_version_12_test.py
  tests/providers/azure/services/storage/storage_ensure_private_endpoints_in_storage_accounts/storage_ensure_private_endpoints_in_storage_accounts_test.py
  tests/providers/azure/services/storage/storage_ensure_soft_delete_is_enabled/storage_ensure_soft_delete_is_enabled_test.py
  tests/providers/azure/services/storage/storage_infrastructure_encryption_is_enabled/storage_infrastructure_encryption_is_enabled_test.py
  tests/providers/azure/services/storage/storage_key_rotation_90_days/storage_key_rotation_90_days_test.py
  tests/providers/azure/services/storage/storage_secure_transfer_required_is_enabled/storage_secure_transfer_required_is_enabled_test.py
  tests/providers/azure/services/storage/storage_service_test.py
Labels: provider/azure

#3338 chore(inspector): refactor `inspector2_findings_exist` check into two
  docs/tutorials/ignore-unused-services.md
  prowler/compliance/aws/ens_rd2022_aws.json
  prowler/compliance/aws/mitre_attack_aws.json
  prowler/providers/aws/services/inspector2/inspector2_active_findings_exist/__init__.py
  prowler/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist.metadata.json
  prowler/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist.py
  prowler/providers/aws/services/inspector2/inspector2_is_enabled/__init__.py
  prowler/providers/aws/services/inspector2/inspector2_is_enabled/inspector2_is_enabled.metadata.json
  prowler/providers/aws/services/inspector2/inspector2_is_enabled/inspector2_is_enabled.py
  prowler/providers/aws/services/inspector2/inspector2_service.py
  tests/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist_test.py
  tests/providers/aws/services/inspector2/inspector2_findings_exist/inspector2_findings_exist_test.py
  tests/providers/aws/services/inspector2/inspector2_is_enabled/inspector2_is_enabled_test.py
  tests/providers/aws/services/inspector2/inspector2_service_test.py
Labels: provider/aws

#3341 fix(rds): verify SGs in `rds_instance_no_public_access`
  prowler/providers/aws/services/rds/rds_instance_no_public_access/rds_instance_no_public_access.py
  prowler/providers/aws/services/rds/rds_service.py
  tests/providers/aws/services/rds/rds_instance_no_public_access/rds_instance_no_public_access_test.py
Labels: provider/aws

#3347 feat(azure): Defender checks related to defender settings
  docs/developer-guide/unit-testing.md
  prowler/providers/azure/services/defender/defender_ensure_mcas_is_enabled/__init__.py
  prowler/providers/azure/services/defender/defender_ensure_mcas_is_enabled/defender_ensure_mcas_is_enabled.metadata.json
  prowler/providers/azure/services/defender/defender_ensure_mcas_is_enabled/defender_ensure_mcas_is_enabled.py
  prowler/providers/azure/services/defender/defender_ensure_wdatp_is_enabled/__init__.py
  prowler/providers/azure/services/defender/defender_ensure_wdatp_is_enabled/defender_ensure_wdatp_is_enabled.metadata.json
  prowler/providers/azure/services/defender/defender_ensure_wdatp_is_enabled/defender_ensure_wdatp_is_enabled.py
  prowler/providers/azure/services/defender/defender_service.py
  tests/providers/azure/services/defender/defender_ensure_mcas_is_enabled/defender_ensure_mcas_is_enabled_test.py
  tests/providers/azure/services/defender/defender_ensure_wdatp_is_enabled/defender_ensure_wdatp_is_enabled_test.py
  tests/providers/azure/services/defender/defender_service_test.py
Labels: provider/azure

#3364 fix(s3): add `s3:Get*` case to `s3_bucket_policy_public_write_access`
  prowler/providers/aws/services/s3/s3_bucket_policy_public_write_access/s3_bucket_policy_public_write_access.py
  tests/providers/aws/services/s3/s3_bucket_policy_public_write_access/s3_bucket_policy_public_write_access_test.py
Labels: provider/aws

#3370 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws

#3376 fix(allowlist): Handle tags and resources
  prowler/providers/aws/lib/allowlist/allowlist.py
  tests/providers/aws/lib/allowlist/allowlist_test.py
Labels: provider/aws

#3377 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws

#3379 feat(cis): add new CIS AWS v3.0.0
  README.md
  prowler/compliance/aws/cis_3.0_aws.json
  prowler/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_route_tables_alarm_configured/cloudwatch_changes_to_network_route_tables_alarm_configured.metadata.json
  prowler/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_route_tables_alarm_configured/cloudwatch_changes_to_network_route_tables_alarm_configured.py
  tests/providers/aws/services/cloudwatch/cloudwatch_changes_to_network_route_tables_alarm_configured/cloudwatch_changes_to_network_route_tables_alarm_configured_test.py
Labels: provider/aws

#3380 chore(release): update Prowler Version to 3.13.0
  prowler/config/config.py
  pyproject.toml
Labels: status/waiting-for-revision, severity/low

#3384 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws

#3394 fix(backup): handle if `last_attempted_execution_date` is None
  prowler/providers/aws/services/backup/backup_service.py
Labels: provider/aws

#3387 fix(storage): update metadata with CIS 2.0 in `storage_default_network_access_rule_is_denied`
  prowler/providers/azure/services/storage/storage_default_network_access_rule_is_denied/storage_default_network_access_rule_is_denied.metadata.json
Labels: provider/azure

#3395 feat(azure): check related with App Insights service
  poetry.lock
  prowler/providers/azure/services/appinsights/__init__.py
  prowler/providers/azure/services/appinsights/appinsights_client.py
  prowler/providers/azure/services/appinsights/appinsights_ensure_is_configured/__init__.py
  prowler/providers/azure/services/appinsights/appinsights_ensure_is_configured/appinsights_ensure_is_configured.metadata.json
  prowler/providers/azure/services/appinsights/appinsights_ensure_is_configured/appinsights_ensure_is_configured.py
  prowler/providers/azure/services/appinsights/appinsights_service.py
  pyproject.toml
  tests/providers/azure/services/appinsights/appinsights_ensure_is_configured/appinsights_ensure_is_configured_test.py
  tests/providers/azure/services/appinsights/appinsights_service_test.py
Labels: provider/azure

#3401 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws

#3398 chore(pull-request): Add automatic labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: github_actions

#3385 feat(azure): checks related with MySQL service
  poetry.lock
  prowler/providers/azure/services/mysql/__init__.py
  prowler/providers/azure/services/mysql/mysql_client.py
  prowler/providers/azure/services/mysql/mysql_flexible_server_audit_log_connection_activated/__init__.py
  prowler/providers/azure/services/mysql/mysql_flexible_server_audit_log_connection_activated/mysql_flexible_server_audit_log_connection_activated.metadata.json
  prowler/providers/azure/services/mysql/mysql_flexible_server_audit_log_connection_activated/mysql_flexible_server_audit_log_connection_activated.py
  prowler/providers/azure/services/mysql/mysql_flexible_server_audit_log_enabled/__init__.py
  prowler/providers/azure/services/mysql/mysql_flexible_server_audit_log_enabled/mysql_flexible_server_audit_log_enabled.metadata.json
  prowler/providers/azure/services/mysql/mysql_flexible_server_audit_log_enabled/mysql_flexible_server_audit_log_enabled.py
  prowler/providers/azure/services/mysql/mysql_flexible_server_minimum_tls_version_12/__init__.py
  prowler/providers/azure/services/mysql/mysql_flexible_server_minimum_tls_version_12/mysql_flexible_server_minimum_tls_version_12.metadata.json
  prowler/providers/azure/services/mysql/mysql_flexible_server_minimum_tls_version_12/mysql_flexible_server_minimum_tls_version_12.py
  prowler/providers/azure/services/mysql/mysql_flexible_server_ssl_connection_enabled/__init__.py
  prowler/providers/azure/services/mysql/mysql_flexible_server_ssl_connection_enabled/mysql_flexible_server_ssl_connection_enabled.metadata.json
  prowler/providers/azure/services/mysql/mysql_flexible_server_ssl_connection_enabled/mysql_flexible_server_ssl_connection_enabled.py
  prowler/providers/azure/services/mysql/mysql_service.py
  pyproject.toml
  tests/providers/azure/services/mysql/mysql_flexible_server_audit_log_connection_activated/mysql_flexible_server_audit_log_connection_activated_test.py
  tests/providers/azure/services/mysql/mysql_flexible_server_audit_log_enabled/mysql_flexible_server_audit_log_enabled_test.py
  tests/providers/azure/services/mysql/mysql_flexible_server_minimum_tls_version_12/mysql_flexible_server_minimum_tls_version_12_test.py
  tests/providers/azure/services/mysql/mysql_flexible_server_ssl_connection_enabled/mysql_flexible_server_ssl_connection_enabled_test.py
  tests/providers/azure/services/mysql/mysql_service_test.py
Labels: provider/azure

#3406 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws

#3265 chore(tests): add kubernetes provider tests
  prowler/providers/kubernetes/kubernetes_provider_new.py
  tests/providers/kubernetes/audit_info_utils.py
  tests/providers/kubernetes/kubernetes_provider_test.py
  tests/providers/kubernetes/lib/service/service_test.py
Labels: prowler-4.0, provider/kubernetes

#3419 fix(inspector2): Report must have status field
  prowler/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist.py
  prowler/providers/aws/services/inspector2/inspector2_is_enabled/inspector2_is_enabled.py
  tests/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist_test.py
Labels: provider/aws

#3408 feat(azure): new checks related with VMs service.
  poetry.lock
  prowler/providers/azure/services/defender/defender_assessments_vm_endpoint_protection_installed/__init__.py
  prowler/providers/azure/services/defender/defender_assessments_vm_endpoint_protection_installed/defender_assessments_vm_endpoint_protection_installed.metadata.json
  prowler/providers/azure/services/defender/defender_assessments_vm_endpoint_protection_installed/defender_assessments_vm_endpoint_protection_installed.py
  prowler/providers/azure/services/vm/__init__.py
  prowler/providers/azure/services/vm/vm_client.py
  prowler/providers/azure/services/vm/vm_ensure_attached_disks_encrypted_with_cmk/__init__.py
  prowler/providers/azure/services/vm/vm_ensure_attached_disks_encrypted_with_cmk/vm_ensure_attached_disks_encrypted_with_cmk.metadata.json
  prowler/providers/azure/services/vm/vm_ensure_attached_disks_encrypted_with_cmk/vm_ensure_attached_disks_encrypted_with_cmk.py
  prowler/providers/azure/services/vm/vm_ensure_unattached_disks_encrypted_with_cmk/__init__.py
  prowler/providers/azure/services/vm/vm_ensure_unattached_disks_encrypted_with_cmk/vm_ensure_unattached_disks_encrypted_with_cmk.metadata.json
  prowler/providers/azure/services/vm/vm_ensure_unattached_disks_encrypted_with_cmk/vm_ensure_unattached_disks_encrypted_with_cmk.py
  prowler/providers/azure/services/vm/vm_ensure_using_managed_disks/__init__.py
  prowler/providers/azure/services/vm/vm_ensure_using_managed_disks/vm_ensure_using_managed_disks.metadata.json
  prowler/providers/azure/services/vm/vm_ensure_using_managed_disks/vm_ensure_using_managed_disks.py
  prowler/providers/azure/services/vm/vm_service.py
  pyproject.toml
  tests/providers/azure/services/defender/defender_assessments_vm_endpoint_protection_installed/defender_assessments_vm_endpoint_protection_installed_test.py
  tests/providers/azure/services/vm/vm_ensure_attached_disks_encrypted_with_cmk/vm_ensure_attached_disks_encrypted_with_cmk_test.py
  tests/providers/azure/services/vm/vm_ensure_unattached_disks_encrypted_with_cmk/vm_ensure_unattached_disks_encrypted_with_cmk_test.py
  tests/providers/azure/services/vm/vm_ensure_using_managed_disks/vm_ensure_using_managed_disks_test.py
  tests/providers/azure/services/vm/vm_service_test.py
Labels: provider/azure

#3422 chore(release): update Prowler Version to 3.14.0
  prowler/config/config.py
  pyproject.toml
Labels: status/waiting-for-revision, severity/low

#3411 chore(docs): improve documentation for Azure debugging
  docs/developer-guide/checks.md
  docs/developer-guide/debugging.md
  docs/getting-started/requirements.md
  docs/img/page-IAM.png
  docs/img/register-application.png
  mkdocs.yml
Labels: documentation

#3427 docs: New overview page
  docs/developer-guide/introduction.md
  docs/index.md
  docs/security.md
  mkdocs.yml
Labels: documentation

#3429 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws

#3291 feat(controllermanager): add checks for Kubernetes Controller Manager
  prowler/providers/kubernetes/services/controllermanager/controllermanager_bind_address/__init__.py
  prowler/providers/kubernetes/services/controllermanager/controllermanager_bind_address/controllermanager_bind_address.metadata.json
  prowler/providers/kubernetes/services/controllermanager/controllermanager_bind_address/controllermanager_bind_address.py
  prowler/providers/kubernetes/services/controllermanager/controllermanager_disable_profiling/__init__.py
  prowler/providers/kubernetes/services/controllermanager/controllermanager_disable_profiling/controllermanager_disable_profiling.metadata.json
  prowler/providers/kubernetes/services/controllermanager/controllermanager_disable_profiling/controllermanager_disable_profiling.py
  prowler/providers/kubernetes/services/controllermanager/controllermanager_root_ca_file_set/__init__.py
  prowler/providers/kubernetes/services/controllermanager/controllermanager_root_ca_file_set/controllermanager_root_ca_file_set.metadata.json
  prowler/providers/kubernetes/services/controllermanager/controllermanager_root_ca_file_set/controllermanager_root_ca_file_set.py
  prowler/providers/kubernetes/services/controllermanager/controllermanager_rotate_kubelet_server_cert/__init__.py
  prowler/providers/kubernetes/services/controllermanager/controllermanager_rotate_kubelet_server_cert/controllermanager_rotate_kubelet_server_cert.metadata.json
  prowler/providers/kubernetes/services/controllermanager/controllermanager_rotate_kubelet_server_cert/controllermanager_rotate_kubelet_server_cert.py
  prowler/providers/kubernetes/services/controllermanager/controllermanager_service_account_credentials/__init__.py
  prowler/providers/kubernetes/services/controllermanager/controllermanager_service_account_credentials/controllermanager_service_account_credentials.metadata.json
  prowler/providers/kubernetes/services/controllermanager/controllermanager_service_account_credentials/controllermanager_service_account_credentials.py
  prowler/providers/kubernetes/services/controllermanager/controllermanager_service_account_private_key_file/__init__.py
  prowler/providers/kubernetes/services/controllermanager/controllermanager_service_account_private_key_file/controllermanager_service_account_private_key_file.metadata.json
  prowler/providers/kubernetes/services/controllermanager/controllermanager_service_account_private_key_file/controllermanager_service_account_private_key_file.py
Labels: prowler-4.0, provider/kubernetes

#3294 feat(etcd): add checks for Kubernetes etcd
  prowler/providers/kubernetes/services/etcd/etcd_client_cert_auth/__init__.py
  prowler/providers/kubernetes/services/etcd/etcd_client_cert_auth/etcd_client_cert_auth.metadata.json
  prowler/providers/kubernetes/services/etcd/etcd_client_cert_auth/etcd_client_cert_auth.py
  prowler/providers/kubernetes/services/etcd/etcd_no_auto_tls/__init__.py
  prowler/providers/kubernetes/services/etcd/etcd_no_auto_tls/etcd_no_auto_tls.metadata.json
  prowler/providers/kubernetes/services/etcd/etcd_no_auto_tls/etcd_no_auto_tls.py
  prowler/providers/kubernetes/services/etcd/etcd_no_peer_auto_tls/__init__.py
  prowler/providers/kubernetes/services/etcd/etcd_no_peer_auto_tls/etcd_no_peer_auto_tls.metadata.json
  prowler/providers/kubernetes/services/etcd/etcd_no_peer_auto_tls/etcd_no_peer_auto_tls.py
  prowler/providers/kubernetes/services/etcd/etcd_peer_client_cert_auth/__init__.py
  prowler/providers/kubernetes/services/etcd/etcd_peer_client_cert_auth/etcd_peer_client_cert_auth.metadata.json
  prowler/providers/kubernetes/services/etcd/etcd_peer_client_cert_auth/etcd_peer_client_cert_auth.py
  prowler/providers/kubernetes/services/etcd/etcd_peer_tls_config/__init__.py
  prowler/providers/kubernetes/services/etcd/etcd_peer_tls_config/etcd_peer_tls_config.metadata.json
  prowler/providers/kubernetes/services/etcd/etcd_peer_tls_config/etcd_peer_tls_config.py
  prowler/providers/kubernetes/services/etcd/etcd_tls_encryption/etcd_tls_encryption.metadata.json
  prowler/providers/kubernetes/services/etcd/etcd_unique_ca/__init__.py
  prowler/providers/kubernetes/services/etcd/etcd_unique_ca/etcd_unique_ca.metadata.json
  prowler/providers/kubernetes/services/etcd/etcd_unique_ca/etcd_unique_ca.py
  prowler/providers/kubernetes/services/scheduler/scheduler_bind_address/__init__.py
  prowler/providers/kubernetes/services/scheduler/scheduler_bind_address/scheduler_bind_address.metadata.json
  prowler/providers/kubernetes/services/scheduler/scheduler_bind_address/scheduler_bind_address.py
Labels: prowler-4.0, provider/kubernetes

#3434 chore(docs): Prettify notes and add dates
  docs/developer-guide/checks.md
  docs/developer-guide/unit-testing.md
  docs/getting-started/requirements.md
  docs/index.md
  docs/tutorials/allowlist.md
  docs/tutorials/aws/authentication.md
  docs/tutorials/aws/organizations.md
  docs/tutorials/aws/regions-and-partitions.md
  docs/tutorials/aws/role-assumption.md
  docs/tutorials/aws/s3.md
  docs/tutorials/aws/securityhub.md
  docs/tutorials/check-aliases.md
  docs/tutorials/configuration_file.md
  docs/tutorials/gcp/authentication.md
  docs/tutorials/ignore-unused-services.md
  docs/tutorials/integrations.md
  docs/tutorials/logging.md
  docs/tutorials/misc.md
  docs/tutorials/parallel-execution.md
  docs/tutorials/quick-inventory.md
  docs/tutorials/reporting.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Labels: documentation

#3436 fix(docs): Add docs group to install
  .readthedocs.yaml
  docs/tutorials/aws/securityhub.md
  poetry.lock
  pyproject.toml
Labels: documentation

#3438 fix(docs): Fix typo and change info about mocking
  docs/developer-guide/unit-testing.md
Labels: documentation

#3302 feat(kubelet): add 10 checks of Kubernetes Kubelet service
  prowler/providers/kubernetes/services/core/core_service.py
  prowler/providers/kubernetes/services/kubelet/__init__.py
  prowler/providers/kubernetes/services/kubelet/kubelet_authorization_mode/__init__.py
  prowler/providers/kubernetes/services/kubelet/kubelet_authorization_mode/kubelet_authorization_mode.metadata.json
  prowler/providers/kubernetes/services/kubelet/kubelet_authorization_mode/kubelet_authorization_mode.py
  prowler/providers/kubernetes/services/kubelet/kubelet_client.py
  prowler/providers/kubernetes/services/kubelet/kubelet_client_ca_file_set/__init__.py
  prowler/providers/kubernetes/services/kubelet/kubelet_client_ca_file_set/kubelet_client_ca_file_set.metadata.json
  prowler/providers/kubernetes/services/kubelet/kubelet_client_ca_file_set/kubelet_client_ca_file_set.py
  prowler/providers/kubernetes/services/kubelet/kubelet_disable_anonymous_auth/__init__.py
  prowler/providers/kubernetes/services/kubelet/kubelet_disable_anonymous_auth/kubelet_disable_anonymous_auth.metadata.json
  prowler/providers/kubernetes/services/kubelet/kubelet_disable_anonymous_auth/kubelet_disable_anonymous_auth.py
  prowler/providers/kubernetes/services/kubelet/kubelet_disable_read_only_port/__init__.py
  prowler/providers/kubernetes/services/kubelet/kubelet_disable_read_only_port/kubelet_disable_read_only_port.metadata.json
  prowler/providers/kubernetes/services/kubelet/kubelet_disable_read_only_port/kubelet_disable_read_only_port.py
  prowler/providers/kubernetes/services/kubelet/kubelet_event_record_qps/__init__.py
  prowler/providers/kubernetes/services/kubelet/kubelet_event_record_qps/kubelet_event_record_qps.metadata.json
  prowler/providers/kubernetes/services/kubelet/kubelet_event_record_qps/kubelet_event_record_qps.py
  prowler/providers/kubernetes/services/kubelet/kubelet_manage_iptables/__init__.py
  prowler/providers/kubernetes/services/kubelet/kubelet_manage_iptables/kubelet_manage_iptables.metadata.json
  prowler/providers/kubernetes/services/kubelet/kubelet_manage_iptables/kubelet_manage_iptables.py
  prowler/providers/kubernetes/services/kubelet/kubelet_rotate_certificates/__init__.py
  prowler/providers/kubernetes/services/kubelet/kubelet_rotate_certificates/kubelet_rotate_certificates.metadata.json
  prowler/providers/kubernetes/services/kubelet/kubelet_rotate_certificates/kubelet_rotate_certificates.py
  prowler/providers/kubernetes/services/kubelet/kubelet_service.py
  prowler/providers/kubernetes/services/kubelet/kubelet_streaming_connection_timeout/__init__.py
  prowler/providers/kubernetes/services/kubelet/kubelet_streaming_connection_timeout/kubelet_streaming_connection_timeout.metadata.json
  prowler/providers/kubernetes/services/kubelet/kubelet_streaming_connection_timeout/kubelet_streaming_connection_timeout.py
  prowler/providers/kubernetes/services/kubelet/kubelet_strong_ciphers_only/__init__.py
  prowler/providers/kubernetes/services/kubelet/kubelet_strong_ciphers_only/kubelet_strong_ciphers_only.metadata.json
  prowler/providers/kubernetes/services/kubelet/kubelet_strong_ciphers_only/kubelet_strong_ciphers_only.py
  prowler/providers/kubernetes/services/kubelet/kubelet_tls_cert_and_key/__init__.py
  prowler/providers/kubernetes/services/kubelet/kubelet_tls_cert_and_key/kubelet_tls_cert_and_key.metadata.json
  prowler/providers/kubernetes/services/kubelet/kubelet_tls_cert_and_key/kubelet_tls_cert_and_key.py
Labels: prowler-4.0, provider/kubernetes

#3421 feat(azure): New azure monitor check `monitor_ensure_diagnostic_setting_appropriate`
  poetry.lock
  prowler/providers/azure/services/monitor/__init__.py
  prowler/providers/azure/services/monitor/monitor_client.py
  prowler/providers/azure/services/monitor/monitor_diagnostic_setting_with_appropriate_categories/__init__.py
  prowler/providers/azure/services/monitor/monitor_diagnostic_setting_with_appropriate_categories/monitor_diagnostic_setting_with_appropriate_categories.metadata.json
  prowler/providers/azure/services/monitor/monitor_diagnostic_setting_with_appropriate_categories/monitor_diagnostic_setting_with_appropriate_categories.py
  prowler/providers/azure/services/monitor/monitor_service.py
  pyproject.toml
  tests/providers/azure/services/monitor/monitor_diagnostic_setting_with_appropriate_categories/monitor_diagnostic_setting_with_appropriate_categories_test.py
  tests/providers/azure/services/monitor/monitor_service_test.py
Labels: provider/azure

#3448 chore(action): Link docs in PR
  .github/workflows/build-documentation-on-pr.yml
Labels: github_actions

#3432 feat(azure): Azure new checks related with App Service
  docs/tutorials/configuration_file.md
  poetry.lock
  prowler/config/config.yaml
  prowler/providers/azure/lib/service/service.py
  prowler/providers/azure/services/app/__init__.py
  prowler/providers/azure/services/app/app_client.py
  prowler/providers/azure/services/app/app_client_certificates_on/__init__.py
  prowler/providers/azure/services/app/app_client_certificates_on/app_client_certificates_on.metadata.json
  prowler/providers/azure/services/app/app_client_certificates_on/app_client_certificates_on.py
  prowler/providers/azure/services/app/app_ensure_auth_is_set_up/__init__.py
  prowler/providers/azure/services/app/app_ensure_auth_is_set_up/app_ensure_auth_is_set_up.metadata.json
  prowler/providers/azure/services/app/app_ensure_auth_is_set_up/app_ensure_auth_is_set_up.py
  prowler/providers/azure/services/app/app_ensure_http_is_redirected_to_https/__init__.py
  prowler/providers/azure/services/app/app_ensure_http_is_redirected_to_https/app_ensure_http_is_redirected_to_https.metadata.json
  prowler/providers/azure/services/app/app_ensure_http_is_redirected_to_https/app_ensure_http_is_redirected_to_https.py
  prowler/providers/azure/services/app/app_ensure_java_version_is_latest/__init__.py
  prowler/providers/azure/services/app/app_ensure_java_version_is_latest/app_ensure_java_version_is_latest.metadata.json
  prowler/providers/azure/services/app/app_ensure_java_version_is_latest/app_ensure_java_version_is_latest.py
  prowler/providers/azure/services/app/app_ensure_php_version_is_latest/__init__.py
  prowler/providers/azure/services/app/app_ensure_php_version_is_latest/app_ensure_php_version_is_latest.metadata.json
  prowler/providers/azure/services/app/app_ensure_php_version_is_latest/app_ensure_php_version_is_latest.py
  prowler/providers/azure/services/app/app_ensure_python_version_is_latest/__init__.py
  prowler/providers/azure/services/app/app_ensure_python_version_is_latest/app_ensure_python_version_is_latest.metadata.json
  prowler/providers/azure/services/app/app_ensure_python_version_is_latest/app_ensure_python_version_is_latest.py
  prowler/providers/azure/services/app/app_ensure_using_http20/__init__.py
  prowler/providers/azure/services/app/app_ensure_using_http20/app_ensure_using_http20.metadata.json
  prowler/providers/azure/services/app/app_ensure_using_http20/app_ensure_using_http20.py
  prowler/providers/azure/services/app/app_ftp_deployment_disabled/__init__.py
  prowler/providers/azure/services/app/app_ftp_deployment_disabled/app_ftp_deployment_disabled.metadata.json
  prowler/providers/azure/services/app/app_ftp_deployment_disabled/app_ftp_deployment_disabled.py
  prowler/providers/azure/services/app/app_minimum_tls_version_12/__init__.py
  prowler/providers/azure/services/app/app_minimum_tls_version_12/app_minimum_tls_version_12.metadata.json
  prowler/providers/azure/services/app/app_minimum_tls_version_12/app_minimum_tls_version_12.py
  prowler/providers/azure/services/app/app_register_with_identity/__init__.py
  prowler/providers/azure/services/app/app_register_with_identity/app_register_with_identity.metadata.json
  prowler/providers/azure/services/app/app_register_with_identity/app_register_with_identity.py
  prowler/providers/azure/services/app/app_service.py
  pyproject.toml
  tests/providers/azure/services/app/app_client_certificates_on/app_client_certificates_on_test.py
  tests/providers/azure/services/app/app_ensure_auth_is_set_up/app_ensure_auth_is_set_up_test.py
  tests/providers/azure/services/app/app_ensure_http_is_redirected_to_https/app_ensure_http_is_redirected_to_https_test.py
  tests/providers/azure/services/app/app_ensure_java_version_is_latest/app_ensure_java_version_is_latest_test.py
  tests/providers/azure/services/app/app_ensure_php_version_is_latest/app_ensure_php_version_is_latest_test.py
  tests/providers/azure/services/app/app_ensure_python_version_is_latest/app_ensure_python_version_is_latest_test.py
  tests/providers/azure/services/app/app_ensure_using_http20/app_ensure_using_http20_test.py
  tests/providers/azure/services/app/app_ftp_deployment_disabled/app_ftp_deployment_disabled_test.py
  tests/providers/azure/services/app/app_minimum_tls_version_12/app_minimum_tls_version_12_test.py
  tests/providers/azure/services/app/app_register_with_identity/app_register_with_identity_test.py
  tests/providers/azure/services/app/app_service_test.py
Labels: documentation, provider/azure

#3314 feat(rbac): add 9 checks of Kubernetes RBAC service
  prowler/providers/kubernetes/services/rbac/lib/role_permissions.py
  prowler/providers/kubernetes/services/rbac/rbac_cluster_admin_usage/rbac_cluster_admin_usage.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_csr_approval_access/__init__.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_csr_approval_access/rbac_minimize_csr_approval_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_csr_approval_access/rbac_minimize_csr_approval_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_node_proxy_subresource_access/__init__.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_node_proxy_subresource_access/rbac_minimize_node_proxy_subresource_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_node_proxy_subresource_access/rbac_minimize_node_proxy_subresource_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pod_creation_access/__init__.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pod_creation_access/rbac_minimize_pod_creation_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pod_creation_access/rbac_minimize_pod_creation_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pv_creation_access/__init__.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pv_creation_access/rbac_minimize_pv_creation_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pv_creation_access/rbac_minimize_pv_creation_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_secret_access/__init__.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_secret_access/rbac_minimize_secret_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_secret_access/rbac_minimize_secret_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_service_account_token_creation/__init__.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_service_account_token_creation/rbac_minimize_service_account_token_creation.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_service_account_token_creation/rbac_minimize_service_account_token_creation.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_webhook_config_access/__init__.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_webhook_config_access/rbac_minimize_webhook_config_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_webhook_config_access/rbac_minimize_webhook_config_access.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_wildcard_use_roles/__init__.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_wildcard_use_roles/rbac_minimize_wildcard_use_roles.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_wildcard_use_roles/rbac_minimize_wildcard_use_roles.py
  prowler/providers/kubernetes/services/rbac/rbac_service.py
  tests/providers/kubernetes/services/rbac/lib/role_permissions_test.py
Labels: prowler-4.0, provider/kubernetes

#3454 fix(error_handling): delete unnecessary error in logger.error
  prowler/providers/aws/services/ec2/ec2_elastic_ip_shodan/ec2_elastic_ip_shodan.py
  prowler/providers/azure/services/network/network_public_ip_shodan/network_public_ip_shodan.py
Labels: provider/aws, provider/azure

#3435 feat(aws): Get organizations metadata if delegated admin
  docs/tutorials/aws/organizations.md
  prowler/providers/aws/lib/organizations/organizations.py
  prowler/providers/common/audit_info.py
  tests/providers/aws/lib/organizations/organizations_test.py
Labels: documentation, provider/aws

#3440 feat(gcp): add 3 new checks for GKE CIS
  prowler/providers/gcp/services/artifacts/artifacts_container_analysis_enabled/__init__.py
  prowler/providers/gcp/services/artifacts/artifacts_container_analysis_enabled/artifacts_container_analysis_enabled.metadata.json
  prowler/providers/gcp/services/artifacts/artifacts_container_analysis_enabled/artifacts_container_analysis_enabled.py
  prowler/providers/gcp/services/gcr/gcr_container_scanning_enabled/__init__.py
  prowler/providers/gcp/services/gcr/gcr_container_scanning_enabled/gcr_container_scanning_enabled.metadata.json
  prowler/providers/gcp/services/gcr/gcr_container_scanning_enabled/gcr_container_scanning_enabled.py
  prowler/providers/gcp/services/gke/__init__.py
  prowler/providers/gcp/services/gke/gke_client.py
  prowler/providers/gcp/services/gke/gke_cluster_no_default_service_account/__init__.py
  prowler/providers/gcp/services/gke/gke_cluster_no_default_service_account/gke_cluster_no_default_service_account.metadata.json
  prowler/providers/gcp/services/gke/gke_cluster_no_default_service_account/gke_cluster_no_default_service_account.py
  prowler/providers/gcp/services/gke/gke_service.py
  prowler/providers/gcp/services/iam/iam_cloud_asset_inventory_enabled/__init__.py
  prowler/providers/gcp/services/iam/iam_cloud_asset_inventory_enabled/iam_cloud_asset_inventory_enabled.metadata.json
  prowler/providers/gcp/services/iam/iam_cloud_asset_inventory_enabled/iam_cloud_asset_inventory_enabled.py
  tests/providers/gcp/lib/audit_info_utils.py
  tests/providers/gcp/services/apikeys/apikeys_api_restrictions_configured/apikeys_api_restrictions_configured_test.py
  tests/providers/gcp/services/apikeys/apikeys_key_exists/apikeys_key_exists_test.py
  tests/providers/gcp/services/apikeys/apikeys_key_rotated_in_90_days/apikeys_key_rotated_in_90_days_test.py
  tests/providers/gcp/services/artifacts/artifacts_container_analysis_enabled/artifacts_container_analysis_enabled_test.py
  tests/providers/gcp/services/bigquery/bigquery_dataset_public_access/bigquery_dataset_public_access_test.py
  tests/providers/gcp/services/compute/compute_block_project_wide_ssh_keys_disabled/compute_block_project_wide_ssh_keys_disabled_test.py
  tests/providers/gcp/services/compute/compute_default_service_account_in_use/compute_default_service_account_in_use_test.py
  tests/providers/gcp/services/compute/compute_default_service_account_in_use_with_full_api_access/compute_default_service_account_in_use_with_full_api_access_test.py
  tests/providers/gcp/services/compute/compute_encryption_with_csek_is_disabled/compute_encryption_with_csek_is_disabled_test.py
  tests/providers/gcp/services/compute/compute_instance_confidential_computing_enabled/compute_instance_confidential_computing_enabled_test.py
  tests/providers/gcp/services/compute/compute_ip_forwarding_is_enabled/compute_ip_forwarding_is_enabled_test.py
  tests/providers/gcp/services/compute/compute_loadbalancer_logging_enabled/compute_loadbalancer_logging_enabled_test.py
  tests/providers/gcp/services/compute/compute_network_dns_logging_enabled/compute_network_dns_logging_enabled_test.py
  tests/providers/gcp/services/compute/compute_network_not_legacy/compute_network_not_legacy_test.py
  tests/providers/gcp/services/compute/compute_project_os_login_enabled/compute_project_os_login_enabled_test.py
  tests/providers/gcp/services/compute/compute_rdp_access_from_the_internet_allowed/compute_rdp_access_from_the_internet_allowed_test.py
  tests/providers/gcp/services/compute/compute_serial_ports_in_use/compute_serial_ports_in_use_test.py
  tests/providers/gcp/services/compute/compute_shielded_vm_enabled/compute_shielded_vm_enabled_test.py
  tests/providers/gcp/services/compute/compute_ssh_access_from_the_internet_allowed/compute_ssh_access_from_the_internet_allowed_test.py
  tests/providers/gcp/services/compute/compute_subnet_flow_logs_enabled/compute_subnet_flow_logs_enabled_test.py
  tests/providers/gcp/services/dataproc/dataproc_encrypted_with_cmks_disabled/dataproc_encrypted_with_cmks_disabled_test.py
  tests/providers/gcp/services/dns/dns_dnssec_disabled/dns_dnssec_disabled_test.py
  tests/providers/gcp/services/dns/dns_rsasha1_in_use_to_key_sign_in_dnssec/dns_rsasha1_in_use_to_key_sign_in_dnssec_test.py
  tests/providers/gcp/services/dns/dns_rsasha1_in_use_to_zone_sign_in_dnssec/dns_rsasha1_in_use_to_zone_sign_in_dnssec_test.py
  tests/providers/gcp/services/gcr/gcr_container_scanning_enabled/gcr_container_scanning_enabled_test.py
  tests/providers/gcp/services/gke/gke_cluster_no_default_service_account/gke_cluster_no_default_service_account_test.py
  tests/providers/gcp/services/iam/iam_account_access_approval_enabled/iam_account_access_approval_enabled_test.py
  tests/providers/gcp/services/iam/iam_audit_logs_enabled/iam_audit_logs_enabled_test.py
  tests/providers/gcp/services/iam/iam_cloud_asset_inventory_enabled/iam_cloud_asset_inventory_enabled_test.py
  tests/providers/gcp/services/iam/iam_no_service_roles_at_project_level/iam_no_service_roles_at_project_level_test.py
  tests/providers/gcp/services/iam/iam_organization_essential_contacts_configured/iam_organization_essential_contacts_configured_test.py
  tests/providers/gcp/services/iam/iam_role_kms_enforce_separation_of_duties/iam_role_kms_enforce_separation_of_duties_test.py
  tests/providers/gcp/services/iam/iam_role_sa_enforce_separation_of_duties/iam_role_sa_enforce_separation_of_duties_test.py
Labels: provider/gcp

#3455 docs(compliance): Add newline to format list
  docs/tutorials/compliance.md
Labels: documentation

#3456 fix(security_hub): Handle user facing errors
  prowler/providers/aws/lib/security_hub/security_hub.py
  tests/providers/aws/lib/security_hub/security_hub_test.py
Labels: provider/aws

#3457 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws

#3459 fix(gcp): remove Default Project ID requirement
  prowler/providers/common/audit_info.py
  prowler/providers/gcp/gcp_provider.py
Labels: provider/gcp

#3315 feat(core): add 13 checks of Kubernetes Core service
  prowler/providers/kubernetes/services/core/core_minimize_admission_hostport_containers/__init__.py
  prowler/providers/kubernetes/services/core/core_minimize_admission_hostport_containers/core_minimize_admission_hostport_containers.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_admission_hostport_containers/core_minimize_admission_hostport_containers.py
  prowler/providers/kubernetes/services/core/core_minimize_admission_windows_hostprocess_containers/__init__.py
  prowler/providers/kubernetes/services/core/core_minimize_admission_windows_hostprocess_containers/core_minimize_admission_windows_hostprocess_containers.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_admission_windows_hostprocess_containers/core_minimize_admission_windows_hostprocess_containers.py
  prowler/providers/kubernetes/services/core/core_minimize_allowPrivilegeEscalation_containers/__init__.py
  prowler/providers/kubernetes/services/core/core_minimize_allowPrivilegeEscalation_containers/core_minimize_allowPrivilegeEscalation_containers.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_allowPrivilegeEscalation_containers/core_minimize_allowPrivilegeEscalation_containers.py
  prowler/providers/kubernetes/services/core/core_minimize_containers_added_capabilities/__init__.py
  prowler/providers/kubernetes/services/core/core_minimize_containers_added_capabilities/core_minimize_containers_added_capabilities.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_containers_added_capabilities/core_minimize_containers_added_capabilities.py
  prowler/providers/kubernetes/services/core/core_minimize_containers_capabilities_assigned/__init__.py
  prowler/providers/kubernetes/services/core/core_minimize_containers_capabilities_assigned/core_minimize_containers_capabilities_assigned.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_containers_capabilities_assigned/core_minimize_containers_capabilities_assigned.py
  prowler/providers/kubernetes/services/core/core_minimize_hostIPC_containers/__init__.py
  prowler/providers/kubernetes/services/core/core_minimize_hostIPC_containers/core_minimize_hostIPC_containers.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_hostIPC_containers/core_minimize_hostIPC_containers.py
  prowler/providers/kubernetes/services/core/core_minimize_hostNetwork_containers/__init__.py
  prowler/providers/kubernetes/services/core/core_minimize_hostNetwork_containers/core_minimize_hostNetwork_containers.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_hostNetwork_containers/core_minimize_hostNetwork_containers.py
  prowler/providers/kubernetes/services/core/core_minimize_hostPID_containers/__init__.py
  prowler/providers/kubernetes/services/core/core_minimize_hostPID_containers/core_minimize_hostPID_containers.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_hostPID_containers/core_minimize_hostPID_containers.py
  prowler/providers/kubernetes/services/core/core_minimize_net_raw_capability_admission/__init__.py
  prowler/providers/kubernetes/services/core/core_minimize_net_raw_capability_admission/core_minimize_net_raw_capability_admission.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_net_raw_capability_admission/core_minimize_net_raw_capability_admission.py
  prowler/providers/kubernetes/services/core/core_minimize_privileged_containers/__init__.py
  prowler/providers/kubernetes/services/core/core_minimize_privileged_containers/core_minimize_privileged_containers.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_privileged_containers/core_minimize_privileged_containers.py
  prowler/providers/kubernetes/services/core/core_minimize_root_containers_admission/__init__.py
  prowler/providers/kubernetes/services/core/core_minimize_root_containers_admission/core_minimize_root_containers_admission.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_root_containers_admission/core_minimize_root_containers_admission.py
  prowler/providers/kubernetes/services/core/core_no_secrets_envs/__init__.py
  prowler/providers/kubernetes/services/core/core_no_secrets_envs/core_no_secrets_envs.metadata.json
  prowler/providers/kubernetes/services/core/core_no_secrets_envs/core_no_secrets_envs.py
  prowler/providers/kubernetes/services/core/core_seccomp_profile_docker_default/__init__.py
  prowler/providers/kubernetes/services/core/core_seccomp_profile_docker_default/core_seccomp_profile_docker_default.metadata.json
  prowler/providers/kubernetes/services/core/core_seccomp_profile_docker_default/core_seccomp_profile_docker_default.py
  prowler/providers/kubernetes/services/core/core_service.py
Labels: prowler-4.0, provider/kubernetes

#3461 chore(gcp): set GCP account in output file name
  prowler/providers/common/outputs.py
  prowler/providers/gcp/gcp_provider.py
Labels: provider/gcp

#3335 feat(kubelet): add 6 checks of Kubelet configuration files on the worker nodes
  prowler/lib/utils/utils.py
  prowler/providers/kubernetes/services/core/core_minimize_admission_windows_hostprocess_containers/core_minimize_admission_windows_hostprocess_containers.py
  prowler/providers/kubernetes/services/core/core_service.py
  prowler/providers/kubernetes/services/kubelet/kubelet_conf_file_ownership/__init__.py
  prowler/providers/kubernetes/services/kubelet/kubelet_conf_file_ownership/kubelet_conf_file_ownership.metadata.json
  prowler/providers/kubernetes/services/kubelet/kubelet_conf_file_ownership/kubelet_conf_file_ownership.py
  prowler/providers/kubernetes/services/kubelet/kubelet_conf_file_permissions/__init__.py
  prowler/providers/kubernetes/services/kubelet/kubelet_conf_file_permissions/kubelet_conf_file_permissions.metadata.json
  prowler/providers/kubernetes/services/kubelet/kubelet_conf_file_permissions/kubelet_conf_file_permissions.py
  prowler/providers/kubernetes/services/kubelet/kubelet_config_yaml_ownership/__init__.py
  prowler/providers/kubernetes/services/kubelet/kubelet_config_yaml_ownership/kubelet_config_yaml_ownership.metadata.json
  prowler/providers/kubernetes/services/kubelet/kubelet_config_yaml_ownership/kubelet_config_yaml_ownership.py
  prowler/providers/kubernetes/services/kubelet/kubelet_config_yaml_permissions/__init__.py
  prowler/providers/kubernetes/services/kubelet/kubelet_config_yaml_permissions/kubelet_config_yaml_permissions.metadata.json
  prowler/providers/kubernetes/services/kubelet/kubelet_config_yaml_permissions/kubelet_config_yaml_permissions.py
  prowler/providers/kubernetes/services/kubelet/kubelet_service_file_ownership_root/__init__.py
  prowler/providers/kubernetes/services/kubelet/kubelet_service_file_ownership_root/kubelet_service_file_ownership_root.metadata.json
  prowler/providers/kubernetes/services/kubelet/kubelet_service_file_ownership_root/kubelet_service_file_ownership_root.py
  prowler/providers/kubernetes/services/kubelet/kubelet_service_file_permissions/__init__.py
  prowler/providers/kubernetes/services/kubelet/kubelet_service_file_permissions/kubelet_service_file_permissions.metadata.json
  prowler/providers/kubernetes/services/kubelet/kubelet_service_file_permissions/kubelet_service_file_permissions.py
  tests/lib/utils/utils_test.py
Labels: prowler-4.0, provider/kubernetes

#3431 feat(namespace): add `--namespaces` argument and solve bugs
  prowler/providers/common/audit_info.py
  prowler/providers/common/outputs.py
  prowler/providers/kubernetes/kubernetes_provider.py
  prowler/providers/kubernetes/kubernetes_provider_new.py
  prowler/providers/kubernetes/lib/arguments/arguments.py
  prowler/providers/kubernetes/services/controllermanager/controllermanager_garbage_collection/controllermanager_garbage_collection.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_admission_hostport_containers/core_minimize_admission_hostport_containers.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_admission_windows_hostprocess_containers/core_minimize_admission_windows_hostprocess_containers.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_allowPrivilegeEscalation_containers/core_minimize_allowPrivilegeEscalation_containers.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_containers_added_capabilities/core_minimize_containers_added_capabilities.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_containers_capabilities_assigned/core_minimize_containers_capabilities_assigned.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_hostIPC_containers/core_minimize_hostIPC_containers.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_hostNetwork_containers/core_minimize_hostNetwork_containers.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_hostPID_containers/core_minimize_hostPID_containers.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_net_raw_capability_admission/core_minimize_net_raw_capability_admission.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_privileged_containers/core_minimize_privileged_containers.metadata.json
  prowler/providers/kubernetes/services/core/core_minimize_root_containers_admission/core_minimize_root_containers_admission.metadata.json
  prowler/providers/kubernetes/services/core/core_no_secrets_envs/core_no_secrets_envs.metadata.json
  prowler/providers/kubernetes/services/core/core_seccomp_profile_docker_default/core_seccomp_profile_docker_default.metadata.json
  prowler/providers/kubernetes/services/core/core_service.py
  prowler/providers/kubernetes/services/rbac/rbac_minimize_secret_access/rbac_minimize_secret_access.metadata.json
  prowler/providers/kubernetes/services/scheduler/scheduler_profiling/scheduler_profiling.metadata.json
  tests/lib/cli/parser_test.py
Labels: prowler-4.0, provider/kubernetes

#3465 chore(regions_update): Changes in regions for AWS services.
  prowler/providers/aws/aws_regions_by_service.json
Labels: status/waiting-for-revision, severity/low, provider/aws

#3468 chore(aws): Remove old provider
  prowler/__main__.py
  prowler/lib/check/check.py
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/aws_provider_new.py
  prowler/providers/aws/lib/mutelist/mutelist.py
  prowler/providers/aws/lib/service/service.py
  prowler/providers/aws/models.py
  prowler/providers/common/audit_info.py
  prowler/providers/common/common.py
  prowler/providers/common/mutelist.py
  prowler/providers/common/outputs.py
Labels: provider/aws

#3471 fix(gcp): handle KeyError in Compute service
  prowler/providers/gcp/services/compute/compute_service.py
Labels: provider/gcp
