Repository prowler-cloud/prowler, pull requests merged in 2025-02, with the labels that each got.

#6782 fix(findings): order findings by inserted_at DESC
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/page.tsx
Labels: component/ui, backport-to-v5.2

#6784 fix(findings): remove default status filtering
  ui/app/(prowler)/findings/page.tsx
Labels: component/ui, backport-to-v5.2

#6694 fix(cis_2.0_aws): add checks to needed reqs
  prowler/compliance/aws/cis_2.0_aws.json
Labels: backport-to-v4.6, backport-to-v5.2

#6691 fix(gcp): fix wrong provider value in check
  prowler/providers/gcp/services/compute/compute_public_address_shodan/compute_public_address_shodan.metadata.json
Labels: provider/gcp, backport-to-v4.6, backport-to-v5.2

#6791 feat(scans): show scan details right after launch
  ui/app/(prowler)/scans/page.tsx
  ui/components/scans/index.ts
  ui/components/scans/scan-warning-bar.tsx
  ui/components/scans/table/scan-detail.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
Labels: component/ui

#6696 fix(cis_1.4_aws): add checks to needed reqs
  prowler/compliance/aws/cis_1.4_aws.json
Labels: backport-to-v4.6, backport-to-v5.2

#6695 fix(cis_1.5_aws): add checks to needed reqs
  prowler/compliance/aws/cis_1.5_aws.json
Labels: backport-to-v4.6, backport-to-v5.2

#6801 docs(): add description of changed and new delta values to prowler app tutorial
  docs/tutorials/prowler-app.md
Labels: documentation

#6813 chore(forms): improvements to the sign-in and sign-up forms
  ui/components/auth/oss/auth-form.tsx
  ui/components/ui/custom/custom-input.tsx
  ui/types/authFormSchema.ts
Labels: component/ui

#6814 style(forms): improve spacing consistency
  ui/components/auth/oss/auth-form.tsx
Labels: component/ui

#6815 fix(elasticache): InvalidReplicationGroupStateFault error
  prowler/providers/aws/services/elasticache/elasticache_service.py
Labels: provider/aws, backport-to-v3, backport-to-v4.6, backport-to-v5.2

#6781 fix(directoryservice): handle ClientException
  prowler/providers/aws/services/directoryservice/directoryservice_service.py
Labels: provider/aws, backport-to-v3, backport-to-v4.6, backport-to-v5.2

#6824 fix(aws) wording of report.status_extended in awslambda_function_not_publicly_accessible
  prowler/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible.py
  tests/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible_test.py
Labels: provider/aws, backport-to-v3, backport-to-v4.6, backport-to-v5.2

#6822 fix(findings) Spelling mistakes correction
  prowler/providers/azure/services/entra/entra_security_defaults_enabled/entra_security_defaults_enabled.py
  tests/providers/azure/services/entra/entra_security_defaults_enabled/entra_security_defaults_enabled_test.py
Labels: provider/azure, backport-to-v3, backport-to-v4.6, backport-to-v5.2

#6794 feat(kms): add `kms_cmk_not_multi_region` AWS check
  prowler/providers/aws/services/kms/kms_cmk_not_multi_region/__init__.py
  prowler/providers/aws/services/kms/kms_cmk_not_multi_region/kms_cmk_not_multi_region.metadata.json
  prowler/providers/aws/services/kms/kms_cmk_not_multi_region/kms_cmk_not_multi_region.py
  prowler/providers/aws/services/kms/kms_service.py
  tests/providers/aws/services/kms/kms_cmk_not_multi_region/__init__.py
  tests/providers/aws/services/kms/kms_cmk_not_multi_region/kms_cmk_not_multi_region_test.py
  tests/providers/aws/services/kms/kms_service_test.py
Labels: provider/aws

#6839 fix(kms): handle error in DescribeKey function
  prowler/providers/aws/services/kms/kms_service.py
Labels: provider/aws, backport-to-v3, backport-to-v4.6, backport-to-v5.2

#6847 fix(typo): typos in Dashboard and Report in HTML
  dashboard/pages/overview.py
  prowler/lib/outputs/html/html.py
  tests/lib/outputs/html/html_test.py
Labels: output/html

#6800 feat(findings): Require date filters for findings endpoints
  api/src/backend/api/CHANGELOG.md
  api/src/backend/api/filters.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  api/src/backend/config/django/base.py
Labels: component/api

#6862 docs: Add details about user creation in Prowler app
  docs/index.md
Labels: documentation

#6710 fix(aws): key error for detect-secrets
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_variables/awslambda_function_no_secrets_in_variables.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_no_environment_secrets/ecs_task_definitions_no_environment_secrets.py
  tests/providers/aws/services/awslambda/awslambda_function_no_secrets_in_variables/awslambda_function_no_secrets_in_variables_test.py
  tests/providers/aws/services/ecs/ecs_task_definitions_no_environment_secrets/ecs_task_definitions_no_environment_secrets_test.py
Labels: provider/aws, backport-to-v5.2

#6690 fix(dashboard): adjust the bar chart display
  dashboard/pages/compliance.py
Labels: backport-to-v4.6, backport-to-v5.2

#6853 docs(eks): add documentation about EKS onboarding
  docs/index.md
  docs/tutorials/kubernetes/in-cluster.md
  docs/tutorials/prowler-app.md
  kubernetes/job.yaml
  kubernetes/prowler-sa.yaml
  prowler/providers/kubernetes/services/rbac/rbac_service.py
Labels: documentation, provider/kubernetes

#6873 chore: Rename dashboard table latest findings
  ui/app/(prowler)/page.tsx
Labels: component/ui

#6869 fix(kubernetes): Change UID validation
  api/src/backend/api/migrations/0009_increase_provider_uid_maximum_length.py
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_views.py
Labels: component/api

#6875 chore: Add needed steps for API in PR template
  .github/pull_request_template.md
  api/CHANGELOG.md
Labels: component/api

#6876 chore(api): Update changelog and specs
  api/CHANGELOG.md
  api/src/backend/api/specs/v1.yaml
Labels: component/api

#6195 feat(microsof365): Add documentation and compliance file
  README.md
  docs/developer-guide/provider.md
  docs/developer-guide/services.md
  docs/getting-started/requirements.md
  docs/index.md
  docs/tutorials/azure/create-prowler-service-principal.md
  docs/tutorials/microsoft365/authentication.md
  mkdocs.yml
  prowler/config/config.py
  prowler/lib/outputs/compliance/cis/cis_microsoft365.py
  prowler/lib/outputs/compliance/cis/models.py
  util/generate_compliance_json_from_csv_for_cis40_microsoft365.py
Labels: documentation

#6850 chore(api): test build container image on pull request
  .github/workflows/api-pull-request.yml
Labels: github_actions

#6909 fix(gha): fix test build containers on pull requests actions
  .github/workflows/api-pull-request.yml
  .github/workflows/ui-pull-request.yml
Labels: github_actions

#6908 fix(aws): handle `AccessDenied` when retrieving resource policy
  prowler/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible.py
  prowler/providers/aws/services/dynamodb/dynamodb_table_cross_account_access/dynamodb_table_cross_account_access.py
  prowler/providers/aws/services/ecr/ecr_repositories_not_publicly_accessible/ecr_repositories_not_publicly_accessible.py
  prowler/providers/aws/services/ecr/ecr_service.py
  prowler/providers/aws/services/efs/efs_not_publicly_accessible/efs_not_publicly_accessible.py
  prowler/providers/aws/services/efs/efs_service.py
  prowler/providers/aws/services/eventbridge/eventbridge_bus_cross_account_access/eventbridge_bus_cross_account_access.py
  prowler/providers/aws/services/eventbridge/eventbridge_bus_exposed/eventbridge_bus_exposed.py
  prowler/providers/aws/services/eventbridge/eventbridge_schema_registry_cross_account_access/eventbridge_schema_registry_cross_account_access.py
  prowler/providers/aws/services/glue/glue_data_catalogs_not_publicly_accessible/glue_data_catalogs_not_publicly_accessible.py
  prowler/providers/aws/services/opensearch/opensearch_service_domains_not_publicly_accessible/opensearch_service_domains_not_publicly_accessible.py
  prowler/providers/aws/services/s3/s3_bucket_cross_account_access/s3_bucket_cross_account_access.py
  prowler/providers/aws/services/s3/s3_bucket_policy_public_write_access/s3_bucket_policy_public_write_access.py
  prowler/providers/aws/services/s3/s3_bucket_public_access/s3_bucket_public_access.py
  prowler/providers/aws/services/s3/s3_service.py
  prowler/providers/aws/services/secretsmanager/secretsmanager_not_publicly_accessible/secretsmanager_not_publicly_accessible.py
  prowler/providers/aws/services/ses/ses_identity_not_publicly_accessible/ses_identity_not_publicly_accessible.py
  tests/providers/aws/services/dynamodb/dynamodb_table_cross_account_access/dynamodb_table_cross_account_access_test.py
  tests/providers/aws/services/ecr/ecr_repositories_not_publicly_accessible/ecr_repositories_not_publicly_accessible_test.py
Labels: provider/aws, backport-to-v4.6, backport-to-v5.3

#6921 chore(docs): external K8s cluster Prowler App credentials
  docs/tutorials/kubernetes/in-cluster.md
  docs/tutorials/prowler-app.md
Labels: documentation

#6906 feat(social-login): Add social login integration for Google and Github OAuth providers
  api/.env.example
  api/CHANGELOG.md
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/api/adapters.py
  api/src/backend/api/db_router.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/integration/test_authentication.py
  api/src/backend/api/utils.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
  api/src/backend/config/django/base.py
  api/src/backend/config/settings/social_login.py
Labels: component/api

#6924 fix(gcp): handle DNS Managed Zone with no DNSSEC
  prowler/providers/gcp/services/dns/dns_service.py
Labels: provider/gcp, backport-to-v4.6, backport-to-v5.3

#6939 fix(gha): fix short sha step
  .github/workflows/api-build-lint-push-containers.yml
  .github/workflows/ui-build-lint-push-containers.yml
Labels: github_actions

#6936 fix(gcp): Correct false positive when `sslMode=ENCRYPTED_ONLY` in CloudSQL
  prowler/providers/gcp/services/cloudsql/cloudsql_instance_ssl_connections/cloudsql_instance_ssl_connections.py
  tests/providers/gcp/services/cloudsql/cloudsql_instance_ssl_connections/cloudsql_instance_ssl_connections_test.py
Labels: provider/gcp, backport-to-v4.6, backport-to-v5.3

#6947 fix(cloudfront): Incorrect bucket name retrievement
  prowler/providers/aws/services/cloudfront/cloudfront_distributions_s3_origin_non_existent_bucket/cloudfront_distributions_s3_origin_non_existent_bucket.py
  prowler/providers/aws/services/s3/s3_service.py
Labels: provider/aws, backport-to-v4.6, backport-to-v5.2

#6971 fix(ocsf): Adapt for 1.4.0
  prowler/lib/outputs/ocsf/ocsf.py
  tests/lib/outputs/ocsf/ocsf_test.py
Labels: output/ocsf, backport-to-v5.3

#6969 test(cloudfront): add name retrieval test for cloudfront bucket domains
  tests/providers/aws/services/cloudfront/cloudfront_distributions_s3_origin_non_existent_bucket/cloudfront_distributions_s3_origin_non_existent_bucket_test.py
Labels: provider/aws, backport-to-v4.6, backport-to-v5.3

#6976 fix(roles): handle empty response in deleteRole and ensure revalidation
  ui/actions/invitations/invitation.ts
  ui/actions/manage-groups/manage-groups.ts
  ui/actions/providers/providers.ts
  ui/actions/roles/roles.ts
  ui/actions/users/users.ts
Labels: component/ui, backport-to-v5.3

#6946 chore(gha): trigger API or UI deployment when push to master
  .github/workflows/api-build-lint-push-containers.yml
  .github/workflows/ui-build-lint-push-containers.yml
Labels: github_actions

#6972 feat(scans): update the progress for executing scans
  ui/actions/scans/scans.ts
  ui/app/(prowler)/scans/page.tsx
  ui/components/findings/table/finding-detail.tsx
  ui/components/icons/Icons.tsx
  ui/components/invitations/invitation-details.tsx
  ui/components/overview/new-findings-table/table/finding-detail.tsx
  ui/components/providers/workflow/credentials-role-helper.tsx
  ui/components/scans/auto-refresh.tsx
  ui/components/scans/button-refresh-data.tsx
  ui/components/scans/index.ts
  ui/components/scans/table/scan-detail.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/ui/table/status-badge.tsx
Labels: component/ui

#6852 fix(report): remove invalid resources in report
  prowler/providers/aws/services/account/account_maintain_current_contact_details/account_maintain_current_contact_details.py
  prowler/providers/aws/services/account/account_maintain_different_contact_details_to_security_billing_and_operations/account_maintain_different_contact_details_to_security_billing_and_operations.py
  prowler/providers/aws/services/account/account_security_contact_information_is_registered/account_security_contact_information_is_registered.py
  prowler/providers/aws/services/account/account_security_questions_are_registered_in_the_aws_account/account_security_questions_are_registered_in_the_aws_account.py
  prowler/providers/aws/services/iam/iam_root_credentials_management_enabled/iam_root_credentials_management_enabled.py
  tests/providers/aws/services/account/account_maintain_different_contact_details_to_security_billing_and_operations/account_maintain_different_contact_details_to_security_billing_and_operations_test.py
  tests/providers/aws/services/iam/iam_root_credentials_management_enabled/iam_root_credentials_management_enabled_test.py
Labels: provider/aws, backport-to-v5.3

#6993 fix(deps): update vulnerable cryptography dependency
  README.md
  poetry.lock
  pyproject.toml
Labels: backport-to-v5.3

#6997 chore(findings): add 'Status Extended' attribute to finding details
  ui/actions/users/users.ts
  ui/components/findings/table/finding-detail.tsx
  ui/components/overview/new-findings-table/table/finding-detail.tsx
Labels: component/ui

#6995 fix(soc2_aws): remove duplicated checks
  prowler/compliance/aws/soc2_aws.json
Labels: backport-to-v5.3

#7002 docs(tutorials): update all deprecated `poetry shell` references
  README.md
  docs/developer-guide/introduction.md
  docs/index.md
  docs/tutorials/aws/cloudshell.md
Labels: documentation

#7005 chore(users): renaming the account now triggers a re-render in the sidebar
  ui/app/(prowler)/layout.tsx
  ui/components/auth/oss/auth-form.tsx
  ui/components/findings/table/finding-detail.tsx
  ui/components/ui/sidebar/index.ts
  ui/components/ui/sidebar/sidebar-wrap.tsx
  ui/components/ui/sidebar/skeleton-profile.tsx
  ui/components/users/table/column-users.tsx
Labels: component/ui

#6874 feat(api): setup sentry for OSS API
  .env
  api/.env.example
  api/CHANGELOG.md
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/config/django/base.py
  api/src/backend/config/settings/sentry.py
  poetry.lock
Labels: component/api

#7009 fix(typo): solve typo in `dashboard.md`
  docs/tutorials/dashboard.md
Labels: documentation

#7010 feat(gcp): add PCI DSS 4.0
  dashboard/compliance/pci_4_0_gcp.py
  prowler/compliance/gcp/pci_4.0_gcp.json
  prowler/lib/outputs/compliance/generic/generic_table.py
Labels: compliance

#7022 feat(tasks): add deletion queue for deletion tasks
  api/docker-entrypoint.sh
  api/src/backend/tasks/tasks.py
Labels: component/api

#6945 feat(outputs): add sample outputs
  .github/workflows/sdk-pull-request.yml
  .gitignore
  examples/output/example_output_aws.csv
  examples/output/example_output_aws.ocsf.json
  examples/output/example_output_azure.csv
  examples/output/example_output_azure.ocsf.json
  examples/output/example_output_gcp.csv
  examples/output/example_output_gcp.ocsf.json
  examples/output/example_output_kubernetes.csv
  examples/output/example_output_kubernetes.ocsf.json
Labels: github_actions

#7033 chore(action): Conventional Commit Check
  .github/workflows/conventional-commit.yml
Labels: github_actions

#7019 feat(findings): Optimize findings endpoint
  api/CHANGELOG.md
  api/src/backend/api/filters.py
  api/src/backend/api/migrations/0010_findings_performance_indexes_partitions.py
  api/src/backend/api/migrations/0011_findings_performance_indexes_parent.py
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/uuid_utils.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  ui/actions/findings/findings.ts
  ui/app/(prowler)/findings/page.tsx
Labels: component/ui, component/api

#7023 chore(iam): enhance `iam_role_cross_service_confused_deputy_prevention` recommendation
  prowler/providers/aws/services/iam/iam_role_cross_service_confused_deputy_prevention/iam_role_cross_service_confused_deputy_prevention.metadata.json
Labels: provider/aws, backport-to-v4.6, backport-to-v5.3

#7035 feat(aws): add ISO 27001 2022 compliance framework
  README.md
  dashboard/compliance/iso27001_2022_aws.py
  prowler/compliance/aws/iso27001_2022_aws.json
Labels: compliance

#6880 fix(azure): migrate resource models to avoid using SDK defaults
  prowler/providers/azure/services/aks/aks_service.py
  prowler/providers/azure/services/app/app_service.py
  prowler/providers/azure/services/containerregistry/containerregistry_service.py
  prowler/providers/azure/services/cosmosdb/cosmosdb_service.py
  prowler/providers/azure/services/entra/entra_service.py
  prowler/providers/azure/services/iam/iam_service.py
  prowler/providers/azure/services/keyvault/keyvault_key_expiration_set_in_non_rbac/keyvault_key_expiration_set_in_non_rbac.py
  prowler/providers/azure/services/keyvault/keyvault_non_rbac_secret_expiration_set/keyvault_non_rbac_secret_expiration_set.py
  prowler/providers/azure/services/keyvault/keyvault_rbac_key_expiration_set/keyvault_rbac_key_expiration_set.py
  prowler/providers/azure/services/keyvault/keyvault_rbac_secret_expiration_set/keyvault_rbac_secret_expiration_set.py
  prowler/providers/azure/services/keyvault/keyvault_service.py
  prowler/providers/azure/services/monitor/monitor_service.py
  prowler/providers/azure/services/network/network_service.py
  prowler/providers/azure/services/sqlserver/sqlserver_service.py
  prowler/providers/azure/services/storage/storage_service.py
  prowler/providers/azure/services/vm/vm_service.py
  tests/providers/azure/services/containerregistry/containerregistry_admin_user_disabled/containerregistry_admin_user_disabled_test.py
  tests/providers/azure/services/containerregistry/containerregistry_not_publicly_accessible/containerregistry_not_publicly_accessible_test.py
  tests/providers/azure/services/containerregistry/containerregistry_service_test.py
  tests/providers/azure/services/containerregistry/containerregistry_uses_private_link/containerregistry_uses_private_link_test.py
  tests/providers/azure/services/cosmosdb/cosmosdb_account_firewall_use_selected_networks/cosmosdb_account_firewall_use_selected_networks_test.py
  tests/providers/azure/services/cosmosdb/cosmosdb_service_test.py
  tests/providers/azure/services/vm/vm_ensure_using_managed_disks/vm_ensure_using_managed_disks_test.py
  tests/providers/azure/services/vm/vm_service_test.py
  tests/providers/azure/services/vm/vm_trusted_launch_enabled/vm_trusted_launch_enabled_test.py
Labels: provider/azure, backport-to-v5.3

#7042 fix(elasticache): improve logic in `elasticache_redis_cluster_backup_enabled`
  docs/tutorials/configuration_file.md
  prowler/config/config.yaml
  prowler/providers/aws/services/elasticache/elasticache_redis_cluster_backup_enabled/elasticache_redis_cluster_backup_enabled.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/providers/aws/services/elasticache/elasticache_redis_cluster_backup_enabled/elasticache_redis_cluster_backup_enabled_test.py
Labels: documentation, provider/aws, backport-to-v4.6, backport-to-v5.3

#6878 feat(export): add API export system
  .env
  api/CHANGELOG.md
  api/docker-entrypoint.sh
  api/src/backend/api/decorators.py
  api/src/backend/api/migrations/0012_scan_report_output.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_utils.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/config/django/base.py
  api/src/backend/conftest.py
  api/src/backend/tasks/jobs/export.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_utils.py
  api/src/backend/tasks/utils.py
  docker-compose-dev.yml
  docker-compose.yml
  prowler/__main__.py
  prowler/lib/outputs/compliance/compliance_output.py
  prowler/lib/outputs/csv/csv.py
  prowler/lib/outputs/finding.py
  prowler/lib/outputs/html/html.py
  prowler/lib/outputs/ocsf/ocsf.py
  prowler/lib/outputs/output.py
  prowler/providers/aws/lib/s3/s3.py
  prowler/providers/azure/azure_provider.py
  tests/lib/outputs/asff/asff_test.py
  tests/lib/outputs/csv/csv_test.py
  tests/lib/outputs/finding_test.py
  tests/lib/outputs/html/html_test.py
  tests/lib/outputs/ocsf/ocsf_test.py
  tests/providers/aws/lib/s3/s3_test.py
Labels: provider/aws, provider/azure, output/csv, output/ocsf, output/asff, output/html, integration/security-hub, integration/s3, compliance, component/api

#7049 feat(findings): Add Django management command to populate database with dummy data
  api/README.md
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/api/management/commands/findings.py
Labels: component/api

#7048 fix(findings): change `uid` from varchar to text
  api/CHANGELOG.md
  api/src/backend/api/migrations/0012_alter_finding_uid.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
Labels: component/api

#7052 feat(labeler): apply label on migration changes
  .github/labeler.yml
Labels: component/api

#7006 feat(exports): download scan exports
  ui/actions/scans/scans.ts
  ui/components/scans/table/scans/data-table-row-actions.tsx
  ui/components/ui/toast/Toast.tsx
Labels: component/ui

#7059 fix(ecs): ensure unique finding id in ECS checks
  prowler/providers/aws/services/ecs/ecs_service.py
  tests/providers/aws/services/ecs/ecs_service_fargate_latest_platform_version/ecs_service_fargate_latest_platform_version_test.py
  tests/providers/aws/services/ecs/ecs_service_no_assign_public_ip/ecs_service_no_assign_public_ip_test.py
Labels: provider/aws

#7062 chore(docs): add info related with sts assume role and regions
  docs/img/sts-configuration.png
  docs/tutorials/prowler-app.md
Labels: documentation

#7046 chore(gcp): enhance GCP APIs logic
  docs/tutorials/gcp/authentication.md
  prowler/providers/gcp/exceptions/exceptions.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/gcp/lib/service/service.py
  prowler/providers/gcp/services/cloudresourcemanager/cloudresourcemanager_service.py
Labels: documentation, provider/gcp
