Repository prowler-cloud/prowler, pull requests merged in 2025-08, with the labels that each got.

#8421 feat: add new provider GitHub and update enum source of truth
  ui/components/filters/custom-provider-inputs.tsx
  ui/components/filters/custom-select-provider.tsx
  ui/components/filters/data-filters.ts
  ui/components/overview/provider-overview/provider-overview.tsx
Labels: component/ui, no-changelog

#8417 fix: add default values for S3 class
  prowler/CHANGELOG.md
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/s3/s3.py
  prowler/providers/aws/lib/session/aws_set_up_session.py
  tests/providers/aws/aws_provider_test.py
  tests/providers/aws/lib/s3/s3_test.py
  tests/providers/aws/lib/security_hub/security_hub_test.py
Labels: documentation, provider/aws, integration/security-hub, integration/s3

#8431 fix: clear only last message on error
  ui/components/lighthouse/chat.tsx
Labels: component/ui, no-changelog, backport-to-v5.9

#8391 feat(ui): S3 integration
  ui/CHANGELOG.md
  ui/actions/integrations/index.ts
  ui/actions/integrations/integrations.ts
  ui/actions/providers/providers.ts
  ui/app/(prowler)/integrations/page.tsx
  ui/app/(prowler)/integrations/s3/page.tsx
  ui/app/(prowler)/profile/page.tsx
  ui/components/integrations/forms/index.ts
  ui/components/integrations/index.ts
  ui/components/integrations/s3/s3-integration-card.tsx
  ui/components/integrations/s3/s3-integration-form.tsx
  ui/components/integrations/s3/s3-integrations-manager.tsx
  ui/components/integrations/s3/skeleton-s3-integration-card.tsx
  ui/components/integrations/saml/saml-config-form.tsx
  ui/components/integrations/saml/saml-integration-card.tsx
  ui/components/providers/provider-selector.tsx
  ui/components/providers/workflow/credentials-role-helper.tsx
  ui/components/providers/workflow/forms/base-credentials-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/aws/credentials-type/aws-role-credentials-form.tsx
  ui/components/ui/breadcrumbs/breadcrumb-navigation.tsx
  ui/components/ui/content-layout/content-layout.tsx
  ui/components/ui/form/form-buttons.tsx
  ui/components/ui/toast/Toast.tsx
  ui/lib/external-urls.ts
  ui/lib/helper.ts
  ui/lib/menu-list.ts
  ui/lib/provider-credentials/build-crendentials.ts
  ui/types/components.ts
  ui/types/integrations.ts
Labels: no-merge, component/ui

#8397 docs(mutelist): improve mutelist docs across all the providers
  docs/tutorials/prowler-app-mute-findings.md
  ui/components/providers/forms/muted-findings-config-form.tsx
Labels: documentation, component/ui, no-changelog

#8443 fix: Don't invoke tools if no providers or completed scans
  ui/lib/lighthouse/data.ts
  ui/lib/lighthouse/prompts.ts
Labels: component/ui, no-changelog

#8439 feat(integrations): integrations enabled by default
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Labels: component/api, no-changelog

#8445 feat: output_directory default value added
  ui/components/integrations/s3/s3-integration-form.tsx
Labels: component/ui, no-changelog

#8446 feat(integrations): add enabled attribute to S3 integration
  ui/actions/integrations/integrations.ts
  ui/components/integrations/s3/s3-integration-form.tsx
  ui/types/integrations.ts
Labels: component/ui, no-changelog

#8450 feat(ui): S3 integrations pagination added
  ui/app/(prowler)/integrations/page.tsx
  ui/app/(prowler)/integrations/s3/page.tsx
  ui/components/integrations/s3/s3-integration-card.tsx
  ui/components/integrations/s3/s3-integration-form.tsx
  ui/components/integrations/s3/s3-integrations-manager.tsx
Labels: component/ui, no-changelog

#8451 fix(templates): only one cloudformation template
  permissions/templates/cloudformation/prowler-scan-role-with-s3-integration.yml
  permissions/templates/cloudformation/prowler-scan-role.yml
Labels: no-changelog

#8435 docs(saml): IdP initiated flow
  docs/img/saml/saml-step-5.png
  docs/tutorials/img/saml/app-catalog-browse-prowler-add.png
  docs/tutorials/img/saml/app-catalog-browse-prowler-configure.png
  docs/tutorials/img/saml/app-catalog-browse-prowler.png
  docs/tutorials/img/saml/app-catalog-browse.png
  docs/tutorials/img/saml/idp_config.png
  docs/tutorials/img/saml/saml-signin-1.png
  docs/tutorials/img/saml/saml-signin-2.png
  docs/tutorials/img/saml/saml-sso-azure-1.png
  docs/tutorials/img/saml/saml-sso-azure-2.png
  docs/tutorials/img/saml/saml-sso-azure-3.png
  docs/tutorials/img/saml/saml-sso-azure-4.png
  docs/tutorials/img/saml/saml-sso-azure-5.png
  docs/tutorials/img/saml/saml-sso-azure-6.png
  docs/tutorials/img/saml/saml-sso-azure-7.png
  docs/tutorials/img/saml/saml-sso-azure-8.png
  docs/tutorials/img/saml/saml-sso-azure-9.png
  docs/tutorials/img/saml/saml-step-1.png
  docs/tutorials/img/saml/saml-step-2.png
  docs/tutorials/img/saml/saml-step-3.png
  docs/tutorials/img/saml/saml-step-4.png
  docs/tutorials/img/saml/saml-step-remove.png
  docs/tutorials/img/saml/saml_attribute_statements.png
  docs/tutorials/prowler-app-sso-entra.md
  docs/tutorials/prowler-app-sso.md
Labels: documentation, no-changelog

#8423 fix(github): handle GithubAppIdentityInfo in output generation
  prowler/CHANGELOG.md
  prowler/lib/outputs/finding.py
  prowler/lib/outputs/html/html.py
  tests/lib/outputs/finding_test.py
  tests/lib/outputs/html/html_test.py
Labels: output/html, provider/github

#8412 feat(gcp): add retry to avoid quota limit errors
  docs/developer-guide/gcp-details.md
  docs/index.md
  docs/tutorials/gcp/retry-configuration.md
  mkdocs.yml
  prowler/CHANGELOG.md
  prowler/providers/common/provider.py
  prowler/providers/gcp/config.py
  prowler/providers/gcp/gcp_provider.py
  prowler/providers/gcp/lib/arguments/arguments.py
  prowler/providers/gcp/lib/service/service.py
  prowler/providers/gcp/services/apikeys/apikeys_service.py
  prowler/providers/gcp/services/bigquery/bigquery_service.py
  prowler/providers/gcp/services/cloudresourcemanager/cloudresourcemanager_service.py
  prowler/providers/gcp/services/cloudsql/cloudsql_service.py
  prowler/providers/gcp/services/cloudstorage/cloudstorage_service.py
  prowler/providers/gcp/services/compute/compute_service.py
  prowler/providers/gcp/services/dataproc/dataproc_service.py
  prowler/providers/gcp/services/dns/dns_service.py
  prowler/providers/gcp/services/gke/gke_service.py
  prowler/providers/gcp/services/iam/iam_service.py
  prowler/providers/gcp/services/kms/kms_service.py
  prowler/providers/gcp/services/logging/logging_service.py
  prowler/providers/gcp/services/monitoring/monitoring_service.py
  prowler/providers/gcp/services/serviceusage/serviceusage_service.py
  tests/lib/cli/parser_test.py
  tests/providers/gcp/gcp_provider_test.py
Labels: documentation, provider/gcp

#8455 feat(ui): add a default Mutelist placeholder
  ui/CHANGELOG.md
  ui/components/providers/forms/muted-findings-config-form.tsx
  ui/lib/yaml.ts
Labels: component/ui

#8456 fix(s3): Use HeadBucket instead of GetBucketLocation
  permissions/templates/cloudformation/prowler-scan-role.yml
  permissions/templates/terraform/s3-integration/main.tf
  prowler/CHANGELOG.md
  prowler/providers/aws/lib/s3/exceptions/exceptions.py
  prowler/providers/aws/lib/s3/s3.py
  tests/providers/aws/lib/s3/s3_test.py
Labels: provider/aws, integration/s3

#8463 chore: update changelog
  api/CHANGELOG.md
  api/pyproject.toml
Labels: component/api

#8465 fix: changelog check update messages
  .github/workflows/pull-request-check-changelog.yml
Labels: github_actions

#8462 docs: update changelog
  ui/CHANGELOG.md
Labels: component/ui

#8459 feat: update AWS role credentials form to set default credentials typ…
  ui/components/providers/workflow/forms/select-credentials-type/aws/credentials-type/aws-role-credentials-form.tsx
Labels: component/ui, no-changelog

#8467 chore(gha): fix release preparation workflow
  .github/workflows/prowler-release-preparation.yml
Labels: github_actions

#8475 chore(api): open PR with API prowler version
  .github/workflows/prowler-release-preparation.yml
Labels: github_actions

#8472 fix(compliance): delete invalid requirements for GitHub CIS 1.0
  prowler/CHANGELOG.md
  prowler/compliance/github/cis_1.0_github.json
Labels: compliance, backport-to-v5.10

#8484 fix(ui): assume role fields shown
  ui/CHANGELOG.md
  ui/components/providers/workflow/forms/select-credentials-type/aws/credentials-type/aws-role-credentials-form.tsx
Labels: component/ui, backport-to-v5.10

#8404 feat(m365): add certificate auth method to cli
  prowler/CHANGELOG.md
  prowler/providers/common/provider.py
  prowler/providers/m365/exceptions/exceptions.py
  prowler/providers/m365/lib/arguments/arguments.py
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/m365_provider.py
  prowler/providers/m365/models.py
  tests/providers/m365/lib/arguments/m365_arguments_test.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
  tests/providers/m365/m365_fixtures.py
  tests/providers/m365/m365_provider_test.py
Labels: provider/m365

#8487 fix(ui): disable See Compliance button until scan completes
  ui/CHANGELOG.md
  ui/components/scans/table/scans/column-get-scans.tsx
Labels: component/ui

#8480 fix(ui): adjust table headers to be single-line and consistent
  ui/CHANGELOG.md
  ui/components/findings/table/column-findings.tsx
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/ui/table/data-table-column-header.tsx
Labels: component/ui

#8200 feat(azure/vm): add new check `vm_sufficient_daily_backup_retention_period`
  docs/tutorials/configuration_file.md
  prowler/CHANGELOG.md
  prowler/config/config.yaml
  prowler/providers/azure/services/recovery/recovery_service.py
  prowler/providers/azure/services/vm/vm_sufficient_daily_backup_retention_period/__init__.py
  prowler/providers/azure/services/vm/vm_sufficient_daily_backup_retention_period/vm_sufficient_daily_backup_retention_period.metadata.json
  prowler/providers/azure/services/vm/vm_sufficient_daily_backup_retention_period/vm_sufficient_daily_backup_retention_period.py
  tests/providers/azure/azure_provider_test.py
  tests/providers/azure/services/vm/vm_sufficient_daily_backup_retention_period/vm_sufficient_daily_backup_retention_period_test.py
Labels: documentation, provider/azure

#8202 feat(azure/vm): add new check `vm_jit_access_enabled`
  prowler/CHANGELOG.md
  prowler/providers/azure/services/defender/defender_service.py
  prowler/providers/azure/services/vm/vm_jit_access_enabled/__init__.py
  prowler/providers/azure/services/vm/vm_jit_access_enabled/vm_jit_access_enabled.metadata.json
  prowler/providers/azure/services/vm/vm_jit_access_enabled/vm_jit_access_enabled.py
  tests/providers/azure/services/defender/defender_service_test.py
  tests/providers/azure/services/vm/vm_jit_access_enabled/vm_jit_access_enabled_test.py
Labels: provider/azure

#8504 fix(storage): fall positives in `storage_geo_redundant_enabled`
  prowler/CHANGELOG.md
  prowler/providers/azure/services/storage/storage_geo_redundant_enabled/storage_geo_redundant_enabled.py
  prowler/providers/azure/services/storage/storage_service.py
  tests/providers/azure/services/storage/storage_geo_redundant_enabled/storage_geo_redundant_enabled_test.py
  tests/providers/azure/services/storage/storage_service_test.py
Labels: provider/azure, backport-to-v5.10

#8507 fix(app): fix false positives in `app_http_logs_enabled`
  prowler/CHANGELOG.md
  prowler/providers/azure/services/app/app_http_logs_enabled/app_http_logs_enabled.py
  tests/providers/azure/services/app/app_http_logs_enabled/app_http_logs_enabled_test.py
Labels: provider/azure, backport-to-v5.10

#8510 docs(github): add Github onboarding documentation
  docs/tutorials/github/getting-started-github.md
  docs/tutorials/img/github-app-credentials.png
  docs/tutorials/img/github-auth-methods.png
  docs/tutorials/img/github-oauth-credentials.png
  docs/tutorials/img/github-pat-credentials.png
  docs/tutorials/prowler-app.md
Labels: documentation

#8479 chore(aws): Refine kisa isms-p compliance mapping
  prowler/CHANGELOG.md
  prowler/compliance/aws/kisa_isms_p_2023_aws.json
  prowler/compliance/aws/kisa_isms_p_2023_korean_aws.json
Labels: compliance

#8518 fix: simplify error handling to use only error.message
  ui/app/api/lighthouse/analyst/route.ts
Labels: component/ui, no-changelog

#8519 fix(compliance): GitHub CIS 1.0
  prowler/CHANGELOG.md
  prowler/compliance/github/cis_1.0_github.json
  util/generate_compliance_json_from_csv_for_cis10_github.py
Labels: compliance, component/api, backport-to-v5.10

#8526 feat(iam): add Bedrock AgentCore privilege escalation combo
  prowler/CHANGELOG.md
  prowler/providers/aws/services/iam/lib/privilege_escalation.py
  tests/providers/aws/services/iam/iam_inline_policy_allows_privilege_escalation/iam_inline_policy_allows_privilege_escalation_test.py
  tests/providers/aws/services/iam/iam_policy_allows_privilege_escalation/iam_policy_allows_privilege_escalation_test.py
Labels: provider/aws

#8509 feat: Add resource agent to supervisor
  ui/CHANGELOG.md
  ui/actions/lighthouse/resources.ts
  ui/lib/lighthouse/prompts.ts
  ui/lib/lighthouse/tools/resources.ts
  ui/lib/lighthouse/workflow.ts
  ui/types/lighthouse/resources.ts
Labels: component/ui

#8536 feat(aws): new check `eks_cluster_deletion_protection_enabled`
  prowler/CHANGELOG.md
  prowler/providers/aws/services/eks/eks_cluster_deletion_protection_enabled/__init__.py
  prowler/providers/aws/services/eks/eks_cluster_deletion_protection_enabled/eks_cluster_deletion_protection_enabled.metadata.json
  prowler/providers/aws/services/eks/eks_cluster_deletion_protection_enabled/eks_cluster_deletion_protection_enabled.py
  prowler/providers/aws/services/eks/eks_service.py
  tests/providers/aws/services/eks/eks_cluster_deletion_protection_enabled/eks_cluster_deletion_protection_enabled_test.py
Labels: provider/aws

#8527 feat: gpt-5 and gpt-5-mini integration with lighthouse
  api/CHANGELOG.md
  api/src/backend/api/models.py
  ui/CHANGELOG.md
  ui/components/lighthouse/chatbot-config.tsx
Labels: component/ui, component/api

#8541 feat(iam): add ECS privilege escalation patterns to IAM checks
  prowler/CHANGELOG.md
  prowler/providers/aws/services/iam/lib/privilege_escalation.py
Labels: provider/aws

#8501 feat(github): add User Email and APP name/installations information
  prowler/CHANGELOG.md
  prowler/lib/outputs/finding.py
  prowler/lib/outputs/html/html.py
  prowler/providers/github/github_provider.py
  prowler/providers/github/models.py
  tests/lib/outputs/finding_test.py
  tests/lib/outputs/html/html_test.py
  tests/providers/github/github_fixtures.py
  tests/providers/github/github_provider_test.py
Labels: output/html, provider/github

#8448 chore(actions): update docs comment with link
  .github/workflows/build-documentation-on-pr.yml
Labels: github_actions

#8543 docs: refactor Overview into several files
  docs/basic-usage/prowler-app.md
  docs/basic-usage/prowler-cli.md
  docs/img/overview.png
  docs/index.md
  docs/installation/prowler-app.md
  docs/installation/prowler-cli.md
  docs/products/img/dashboard.png
  docs/products/img/overview.png
  docs/products/img/prowler-app-architecture.png
  docs/products/prowler-app.md
  docs/products/prowler-cli.md
  mkdocs.yml
Labels: documentation

#8546 fix: Refactor getting lighthouse config
  ui/CHANGELOG.md
  ui/actions/lighthouse/lighthouse.ts
  ui/app/(prowler)/lighthouse/config/page.tsx
  ui/app/(prowler)/lighthouse/page.tsx
  ui/app/api/lighthouse/analyst/route.ts
  ui/lib/lighthouse/workflow.ts
Labels: component/ui, backport-to-v5.10

#8550 fix: Remove temperature for GPT-5 models
  api/src/backend/api/migrations/0046_lighthouse_gpt5.py
  ui/lib/lighthouse/utils.ts
  ui/lib/lighthouse/workflow.ts
  ui/package-lock.json
  ui/package.json
  ui/types/lighthouse/index.ts
  ui/types/lighthouse/model-params.ts
Labels: component/ui, component/api, review-django-migrations, no-changelog

#8551 docs: add provider bulk provisioning
  docs/tutorials/bulk-provider-provisioning.md
  docs/tutorials/img/bulk-provider-provisioning.png
  mkdocs.yml
Labels: documentation

#8556 fix(ui): update authorization logic to match right paths
  ui/CHANGELOG.md
  ui/auth.config.ts
Labels: component/ui

#8558 fix(api): poetry lock up to date with the SDK
  api/poetry.lock
Labels: component/api, no-changelog

#8539 chore(securityhub): add static credentials and role assumption support
  prowler/CHANGELOG.md
  prowler/providers/aws/lib/security_hub/security_hub.py
  tests/providers/aws/lib/security_hub/security_hub_test.py
Labels: provider/aws, integration/security-hub

#8559 docs: remove "Requirements" page
  docs/getting-started/requirements.md
  docs/tutorials/aws/authentication.md
  docs/tutorials/azure/authentication.md
  docs/tutorials/gcp/authentication.md
  docs/tutorials/github/authentication.md
  docs/tutorials/iac/authentication.md
  docs/tutorials/microsoft365/authentication.md
  mkdocs.yml
Labels: documentation

#8561 feat(docs): remove old requirements links
  docs/basic-usage/prowler-cli.md
  docs/developer-guide/m365-details.md
  docs/developer-guide/services.md
  docs/tutorials/azure/subscriptions.md
  docs/tutorials/microsoft365/getting-started-m365.md
  docs/tutorials/microsoft365/use-of-powershell.md
  docs/tutorials/prowler-app.md
Labels: documentation

#8570 docs: refactor several sections
  SECURITY.md
  docs/about.md
  docs/developer-guide/aws-details.md
  docs/developer-guide/azure-details.md
  docs/developer-guide/checks.md
  docs/developer-guide/gcp-details.md
  docs/developer-guide/github-details.md
  docs/developer-guide/kubernetes-details.md
  docs/developer-guide/m365-details.md
  docs/developer-guide/unit-testing.md
  docs/security.md
  docs/tutorials/aws/getting-started-aws.md
  docs/tutorials/aws/securityhub.md
  docs/tutorials/azure/authentication.md
  docs/tutorials/azure/subscriptions.md
  docs/tutorials/misc.md
  docs/tutorials/prowler-app.md
  mkdocs.yml
Labels: documentation

#8572 fix(s3): resource metadata error in `s3_bucket_shadow_resource_vulnerability`
  prowler/CHANGELOG.md
  prowler/providers/aws/services/s3/s3_bucket_shadow_resource_vulnerability/s3_bucket_shadow_resource_vulnerability.metadata.json
  prowler/providers/aws/services/s3/s3_bucket_shadow_resource_vulnerability/s3_bucket_shadow_resource_vulnerability.py
  tests/providers/aws/services/s3/s3_bucket_shadow_resource_vulnerability/s3_bucket_shadow_resource_vulnerability_test.py
Labels: provider/aws

#8580 fix(github): GitHub Personal Access Token authentication fails without `user:email` scope
  docs/tutorials/github/getting-started-github.md
  prowler/CHANGELOG.md
  prowler/providers/github/github_provider.py
Labels: documentation, provider/github

#8375 feat(ui): show all provider UIDs in scan page filter regardless of co…
  ui/CHANGELOG.md
  ui/app/(prowler)/scans/page.tsx
Labels: component/ui

#8585 chore(docs): update CHANGELOG properly
  ui/CHANGELOG.md
Labels: component/ui

#8594 fix(security-hub): copy updated
  ui/components/integrations/security-hub/security-hub-integration-form.tsx
Labels: component/ui, no-changelog

#8598 fix(azure): query API management logs with not empty operations
  prowler/providers/azure/services/apim/apim_service.py
Labels: provider/azure, no-changelog

#8592 docs(api): fix API response samples
  api/src/backend/api/schema_hooks.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
  api/src/backend/config/django/base.py
Labels: component/api, no-changelog

#8600 fix(docs): remove empty sections
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Labels: component/api, no-changelog

#8612 chore(docs): review stats, imgs and update copy
  README.md
  docs/basic-usage/prowler-app.md
Labels: documentation
