Repository prowler-cloud/prowler, pull requests merged in 2025-03, with the labels that each got.

#7018 feat(sidebar): sidebar with new functionalities
  ui/app/(prowler)/categories/page.tsx
  ui/app/(prowler)/compliance/page.tsx
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/integrations/page.tsx
  ui/app/(prowler)/invitations/page.tsx
  ui/app/(prowler)/layout.tsx
  ui/app/(prowler)/manage-groups/layout.tsx
  ui/app/(prowler)/page.tsx
  ui/app/(prowler)/profile/page.tsx
  ui/app/(prowler)/providers/page.tsx
  ui/app/(prowler)/roles/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/app/(prowler)/services/page.tsx
  ui/app/(prowler)/settings/page.tsx
  ui/app/(prowler)/users/page.tsx
  ui/app/(prowler)/workloads/page.tsx
  ui/components/icons/Icons.tsx
  ui/components/icons/prowler/ProwlerIcons.tsx
  ui/components/scans/no-providers-added.tsx
  ui/components/ui/avatar/avatar.tsx
  ui/components/ui/button/button.tsx
  ui/components/ui/collapsible/collapsible.tsx
  ui/components/ui/content-layout/content-layout.tsx
  ui/components/ui/content-layout/skeleton-content-layout.tsx
  ui/components/ui/dropdown-menu/dropdown-menu.tsx
  ui/components/ui/headers/header.tsx
  ui/components/ui/index.ts
  ui/components/ui/main-layout/main-layout.tsx
  ui/components/ui/nav-bar/navbar.tsx
  ui/components/ui/scroll-area/scroll-area.tsx
  ui/components/ui/sidebar/collapse-menu-button.tsx
  ui/components/ui/sidebar/index.ts
  ui/components/ui/sidebar/menu.tsx
  ui/components/ui/sidebar/sheet-menu.tsx
  ui/components/ui/sidebar/sidebar-items.tsx
  ui/components/ui/sidebar/sidebar-toggle.tsx
  ui/components/ui/sidebar/sidebar-wrap.tsx
  ui/components/ui/sidebar/sidebar.tsx
  ui/components/ui/sidebar/skeleton-profile.tsx
  ui/components/ui/sidebar/team-avatar.tsx
  ui/components/ui/sidebar/user-avatar.tsx
  ui/components/ui/tooltip/tooltip.tsx
  ui/components/ui/user-nav/user-nav.tsx
  ui/hooks/index.ts
  ui/hooks/use-sidebar.ts
  ui/hooks/use-store.ts
  ui/lib/index.ts
  ui/lib/menu-list.ts
  ui/package-lock.json
  ui/package.json
  ui/tailwind.config.js
  ui/types/components.ts
Labels: component/ui

#7084 chore: Update the latest table findings with the most recent changes
  ui/app/(prowler)/page.tsx
Labels: component/ui

#7086 feat(version): add prowler version to the sidebar
  .env
  ui/components/ui/sidebar/menu.tsx
Labels: component/ui

#7085 feat(aws): add fixers for threat detection checks
  prowler/config/config.yaml
  prowler/lib/check/check.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_enumeration/cloudtrail_threat_detection_enumeration.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_enumeration/cloudtrail_threat_detection_enumeration_fixer.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_llm_jacking/cloudtrail_threat_detection_llm_jacking.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_llm_jacking/cloudtrail_threat_detection_llm_jacking_fixer.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_privilege_escalation/cloudtrail_threat_detection_privilege_escalation.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_threat_detection_privilege_escalation/cloudtrail_threat_detection_privilege_escalation_fixer.py
  tests/providers/aws/services/cloudtrail/cloudtrail_threat_detection_enumeration/cloudtrail_threat_detection_enumeration_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_threat_detection_llm_jacking/cloudtrail_threat_detection_llm_jacking_test.py
  tests/providers/aws/services/cloudtrail/cloudtrail_threat_detection_privilege_escalation/cloudtrail_threat_detection_privilege_escalation_test.py
Labels: provider/aws

#7088 fix: bug with create role and unlimited visibility checkbox
  ui/components/roles/workflow/forms/add-role-form.tsx
Labels: component/ui

#7089 fix(roles): show the correct error message
  ui/actions/users/users.ts
Labels: component/ui

#7107 chore(ui): update label from 'Select a scan job' to 'Select a cloud p…
  ui/components/scans/launch-workflow/select-scan-provider.tsx
Labels: component/ui

#7090 chore(api): Update changelog
  api/CHANGELOG.md
Labels: component/api

#7118 feat(compliance): new compliance selector
  api/src/backend/api/fixtures/dev/2_dev_providers.json
  api/src/backend/api/fixtures/dev/3_dev_scans.json
  ui/actions/compliances/compliances.ts
  ui/actions/findings/findings.ts
  ui/app/(prowler)/compliance/page.tsx
  ui/components/compliance/compliance-scan-info.tsx
  ui/components/compliance/data-compliance/data-compliance.tsx
  ui/components/compliance/data-compliance/select-scan-compliance-data.tsx
  ui/components/compliance/index.ts
  ui/components/compliance/no-scans-available.tsx
  ui/components/ui/entities/entity-info-short.tsx
  ui/components/ui/entities/snippet-id.tsx
  ui/types/components.ts
Labels: component/ui, component/api

#7120 chore(ui): add prowler version on build
  .github/workflows/ui-build-lint-push-containers.yml
  ui/Dockerfile
Labels: github_actions, component/ui

#7125 chore(ui-gha): add version prefix
  .github/workflows/ui-build-lint-push-containers.yml
Labels: github_actions

#7132 revert(findings): change `uid` from varchar to text
  api/CHANGELOG.md
  api/src/backend/api/migrations/0013_alter_finding_uid.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
Labels: component/api, review-django-migrations

#7133 fix(credentials): adjust helper links to fit width
  ui/components/providers/workflow/credentials-role-helper.tsx
Labels: backport-to-v5.4

#7137 fix(groups): display uid if alias is missing
  ui/app/(prowler)/manage-groups/page.tsx
  ui/components/manage-groups/forms/add-group-form.tsx
Labels: component/ui, backport-to-v5.4

#7139 chore(ui-gha): delete double quotes on prowler version
  .github/workflows/ui-build-lint-push-containers.yml
Labels: github_actions

#7140 fix(overviews): manage overview exceptions and use batch_size with bulk
  api/src/backend/tasks/jobs/scan.py
Labels: component/api

#7141 feat: add changelog
  ui/CHANGELOG.md
Labels: component/ui

#7147 fix: tweaks for compliance cards
  ui/components/compliance/compliance-card.tsx
Labels: component/ui

#7149 chore: update changelog
  ui/CHANGELOG.md
Labels: component/ui

#7135 fix(aws): ecs_task_definitions_no_environment_secrets.metadata.json
  prowler/providers/aws/services/ecs/ecs_task_definitions_no_environment_secrets/ecs_task_definitions_no_environment_secrets.metadata.json
Labels: provider/aws, backport-to-v4.6, backport-to-v5.4

#7111 fix(metadata): match type with check results
  prowler/providers/aws/services/account/account_maintain_current_contact_details/account_maintain_current_contact_details.metadata.json
  prowler/providers/aws/services/account/account_maintain_different_contact_details_to_security_billing_and_operations/account_maintain_different_contact_details_to_security_billing_and_operations.metadata.json
  prowler/providers/aws/services/account/account_security_contact_information_is_registered/account_security_contact_information_is_registered.metadata.json
  prowler/providers/aws/services/account/account_security_questions_are_registered_in_the_aws_account/account_security_questions_are_registered_in_the_aws_account.metadata.json
  prowler/providers/aws/services/ec2/ec2_ebs_snapshot_account_block_public_access/ec2_ebs_snapshot_account_block_public_access.metadata.json
  prowler/providers/aws/services/ec2/ec2_instance_account_imdsv2_enabled/ec2_instance_account_imdsv2_enabled.metadata.json
  prowler/providers/aws/services/ec2/ec2_instance_port_memcached_exposed_to_internet/ec2_instance_port_memcached_exposed_to_internet.metadata.json
  prowler/providers/aws/services/rds/rds_cluster_critical_event_subscription/rds_cluster_critical_event_subscription.metadata.json
  prowler/providers/aws/services/rds/rds_instance_event_subscription_parameter_groups/rds_instance_event_subscription_parameter_groups.metadata.json
Labels: provider/aws, backport-to-v4.6, backport-to-v5.4

#7136 fix(doc): event_time has been changed to time_dt but was not documented
  docs/tutorials/reporting.md
Labels: documentation

#7116 fix(metadata): typo in ec2_securitygroup_allow_wide_open_public_ipv4
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_wide_open_public_ipv4/ec2_securitygroup_allow_wide_open_public_ipv4.metadata.json
Labels: provider/aws, backport-to-v3, backport-to-v4.6, backport-to-v5.4

#7123 fix(azure): correct check title for SQL Server Unrestricted
  prowler/providers/azure/services/sqlserver/sqlserver_unrestricted_inbound_access/sqlserver_unrestricted_inbound_access.metadata.json
Labels: provider/azure, backport-to-v4.6, backport-to-v5.4

#7164 feat(scans): improve scan launch provider selection
  ui/components/scans/launch-workflow/launch-scan-workflow-form.tsx
  ui/components/scans/launch-workflow/select-scan-provider.tsx
  ui/components/ui/custom/custom-input.tsx
Labels: component/ui

#7166 fix: tweak z-index for custom inputs
  ui/components/scans/launch-workflow/select-scan-provider.tsx
  ui/components/ui/custom/custom-input.tsx
Labels: component/ui

#7017 feat(aws): AWS Found Sec Best Practices & PCI DSS v3.2.1 upgrade
  dashboard/common_methods.py
  dashboard/compliance/pci_3_2_1_aws.py
  prowler/compliance/aws/aws_foundational_security_best_practices_aws.json
  prowler/compliance/aws/pci_3.2.1_aws.json
Labels: compliance

#7165 fix(ens): remove and change duplicated ids
  prowler/compliance/aws/ens_rd2022_aws.json
Labels: compliance, backport-to-v4.6, backport-to-v5.4

#7122 docs: add generate_output documentation
  docs/img/download_output.png
  docs/img/output_folder.png
  docs/tutorials/prowler-app.md
Labels: documentation

#7182 fix(azure): add remaining checks for reqA.5.25
  prowler/compliance/azure/iso27001_2022_azure.json
Labels: compliance

#7184 chore(sentry): ignore expected errors in GCP API
  api/src/backend/config/settings/sentry.py
Labels: component/api, backport-to-v5.4

#7185 feat(gcp): add ISO 27001 2022 compliance framework
  dashboard/compliance/iso27001_2022_gcp.py
  prowler/__main__.py
  prowler/compliance/gcp/iso27001_2022_gcp.json
  prowler/lib/outputs/compliance/iso27001/iso27001_gcp.py
  prowler/lib/outputs/compliance/iso27001/models.py
Labels: compliance

#7109 docs: add users, invitations and RBAC
  docs/tutorials/img/rbac/invitation_details.png
  docs/tutorials/img/rbac/invitation_details_1.png
  docs/tutorials/img/rbac/invitation_edit.png
  docs/tutorials/img/rbac/invitation_edit_1.png
  docs/tutorials/img/rbac/invitation_info.png
  docs/tutorials/img/rbac/invitation_revoke.png
  docs/tutorials/img/rbac/invitation_sign-up.png
  docs/tutorials/img/rbac/invite.png
  docs/tutorials/img/rbac/membership.png
  docs/tutorials/img/rbac/provider_group.png
  docs/tutorials/img/rbac/provider_group_edit.png
  docs/tutorials/img/rbac/provider_group_edit_1.png
  docs/tutorials/img/rbac/provider_group_remove.png
  docs/tutorials/img/rbac/role_create.png
  docs/tutorials/img/rbac/role_create_1.png
  docs/tutorials/img/rbac/role_edit.png
  docs/tutorials/img/rbac/role_edit_details.png
  docs/tutorials/img/rbac/role_remove.png
  docs/tutorials/img/rbac/user_edit.png
  docs/tutorials/img/rbac/user_edit_details.png
  docs/tutorials/img/rbac/user_remove.png
  docs/tutorials/prowler-app-rbac.md
  mkdocs.yml
Labels: documentation

#7187 chore(sentry): ignore new exceptions in Sentry
  api/src/backend/config/settings/sentry.py
Labels: component/api, backport-to-v5.4

#7188 feat(scans): allow running a scan once
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/scans/launch-workflow/launch-scan-workflow-form.tsx
  ui/types/formSchemas.ts
Labels: component/ui

#7190 chore: update the changelog
  ui/CHANGELOG.md
Labels: component/ui

#7193 chore(launch-scan): update wording
  ui/components/providers/workflow/forms/test-connection-form.tsx
Labels: component/ui

#7194 styles: tweaks styles
  ui/components/filters/custom-search-input.tsx
  ui/components/scans/launch-workflow/select-scan-provider.tsx
  ui/components/ui/custom/custom-input.tsx
Labels: component/ui

#7195 chore: auto refresh if the state is also available
  ui/app/(prowler)/scans/page.tsx
Labels: component/ui

#7198 feat(invitations): Disable editing for accepted invites
  ui/components/invitations/table/data-table-row-actions.tsx
Labels: component/ui

#7200 feat(docs): add `microsoft365` configurable checks
  docs/tutorials/configuration_file.md
  tests/config/fixtures/config.yaml
Labels: documentation

#7113 refactor(check): add docstrings and improve report handling
  prowler/providers/aws/services/rds/rds_instance_event_subscription_parameter_groups/rds_instance_event_subscription_parameter_groups.py
  tests/providers/aws/services/rds/rds_instance_event_subscription_parameter_groups/rds_instance_event_subscription_parameter_groups_test.py
Labels: provider/aws

#7205 fix(cloudwatch): handle None metric alarms
  prowler/providers/aws/services/cloudwatch/cloudwatch_alarm_actions_alarm_state_configured/cloudwatch_alarm_actions_alarm_state_configured.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_alarm_actions_enabled/cloudwatch_alarm_actions_enabled.py
  tests/providers/aws/services/cloudwatch/cloudwatch_alarm_actions_alarm_state_configured/cloudwatch_alarm_actions_alarm_state_configured_test.py
  tests/providers/aws/services/cloudwatch/cloudwatch_alarm_actions_enabled/cloudwatch_alarm_actions_enabled_test.py
Labels: provider/aws, backport-to-v4.6, backport-to-v5.4

#7167 feat(integrations): Added new endpoints to allow configuring integrations
  api/CHANGELOG.md
  api/src/backend/api/db_utils.py
  api/src/backend/api/filters.py
  api/src/backend/api/migrations/0013_integrations_enum.py
  api/src/backend/api/migrations/0014_integrations.py
  api/src/backend/api/models.py
  api/src/backend/api/rls.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_rbac.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializer_utils/integrations.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
  api/src/backend/conftest.py
Labels: component/api, review-django-migrations

#7222 fix(migrations): add through parameter to integration.providers
  api/src/backend/api/migrations/0014_integrations.py
Labels: component/api, review-django-migrations

#7218 feat(social-login): social login with Google is working
  api/src/backend/api/adapters.py
  ui/app/api/auth/callback/github/route.ts
  ui/app/api/auth/callback/google/route.ts
  ui/auth.config.ts
  ui/components/auth/oss/auth-form.tsx
  ui/lib/helper.ts
  ui/types/authFormSchema.ts
Labels: component/ui, component/api

#7172 fix(exports): change the way to remove the local export files after s3 upload
  api/CHANGELOG.md
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/tasks/tasks.py
  poetry.lock
Labels: severity/critical, component/api, backport-to-v5.4

#7223 chore: update changelog
  ui/CHANGELOG.md
Labels: component/ui

#7183 fix: add a handled response in case local files are missing
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Labels: component/api, backport-to-v5.4

#7229 chore: remove unused regions
  ui/components/filters/custom-region-selection.tsx
  ui/lib/helper.ts
Labels: component/ui

#7231 chore: social auth is algo in sign-up page
  ui/components/auth/oss/auth-form.tsx
Labels: component/ui

#7242 chore: improve UX when social login is not enabled
  ui/components/auth/oss/auth-form.tsx
Labels: component/ui

#5649 fix(scan): add compliance info inside finding
  prowler/lib/scan/scan.py
  prowler/providers/common/models.py
Labels: documentation

#7251 chore: add env var for social login
  .env
  ui/app/api/auth/callback/github/route.ts
  ui/app/api/auth/callback/google/route.ts
  ui/lib/helper.ts
Labels: component/ui

#7252 fix(backport): Use container tagged version
  .github/workflows/backport.yml
Labels: github_actions

#7253 fix(prowler): change from prowler.py to prowler-cli.py
  README.md
  contrib/aws/org-multi-account/src/run-prowler-reports.sh
  contrib/k8s/cronjob.yml
  docs/developer-guide/debugging.md
  docs/index.md
  docs/tutorials/aws/cloudshell.md
Labels: documentation

#7243 chore: add api reference to download report section
  docs/tutorials/prowler-app.md
Labels: documentation

#7282 feat(providers): add component to render a link to the documentation
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/providers/workflow/forms/update-via-credentials-form.tsx
  ui/components/providers/workflow/forms/via-credentials-form.tsx
  ui/components/providers/workflow/forms/via-credentials/aws-credentials-form.tsx
  ui/components/providers/workflow/forms/via-credentials/azure-credentials-form.tsx
  ui/components/providers/workflow/forms/via-credentials/gcp-credentials-form.tsx
  ui/components/providers/workflow/forms/via-credentials/k8s-credentials-form.tsx
  ui/components/providers/workflow/forms/via-role/aws-role-form.tsx
  ui/components/providers/workflow/index.ts
  ui/components/providers/workflow/provider-title-docs.tsx
Labels: component/ui

#7257 chore: add env vars for social login
  .env
  ui/lib/helper.ts
Labels: component/ui

#7285 fix(aws-regions): Use @prowler-bot as author
  .github/workflows/sdk-refresh-aws-services-regions.yml
Labels: github_actions

#7283 fix(test-connection): Handle provider without secret
  api/src/backend/api/tests/test_utils.py
  api/src/backend/api/utils.py
Labels: component/api, backport-to-v5.4

#7280 chore(providers): change wording when adding a new provider
  ui/components/providers/workflow/workflow-add-provider.tsx
Labels: component/ui

#7288 fix: prevent SSR mismatch in OAuth URL generation
  ui/app/(auth)/sign-in/page.tsx
  ui/components/auth/oss/auth-form.tsx
Labels: component/ui

#7289 chore(security): Add HTTP Security Headers
  api/CHANGELOG.md
  api/src/backend/api/tests/test_views.py
  api/src/backend/config/django/base.py
Labels: component/api

#7295 chore(social-login): improve copy when not enabled
  ui/components/auth/oss/auth-form.tsx
Labels: component/ui

#7294 fix(k8s): remove typos from PCI 4.0
  prowler/compliance/kubernetes/pci_4.0_kubernetes.json
  tests/providers/aws/services/route53/route53_public_hosted_zones_cloudwatch_logging_enabled/route53_public_hosted_zones_cloudwatch_logging_enabled_test.py
Labels: provider/kubernetes, compliance

#7314 docs: add social login images and update documentation
  docs/tutorials/img/social-login/social_login_buttons.png
  docs/tutorials/img/social-login/social_login_buttons_disabled.png
  docs/tutorials/prowler-app-social-login.md
  docs/tutorials/prowler-app.md
  mkdocs.yml
Labels: documentation

#7296 fix(gcp): make provider id mandatory in test_connection
  prowler/providers/gcp/gcp_provider.py
  tests/providers/gcp/gcp_provider_test.py
Labels: provider/gcp, backport-to-v5.4

#7319 chore(aws-regions): remove backport to v3
  .github/workflows/sdk-refresh-aws-services-regions.yml
Labels: github_actions

#7324 fix(scan_id): Read the ID from the Scan object
  ui/components/scans/table/scan-detail.tsx
Labels: component/ui, backport-to-v5.4

#7325 chore(api): Update CHANGELOG
  api/CHANGELOG.md
Labels: component/api, backport-to-v5.4

#7329 fix(action): Use Poetry v2
  .github/workflows/sdk-pypi-release.yml
Labels: github_actions

#7341 docs: update changelog with Next.js security patch (#7339)
  ui/CHANGELOG.md
Labels: component/ui

#7333 feat(compliance): Add endpoint to retrieve compliance overviews metadata
  api/CHANGELOG.md
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  ui/actions/compliances/compliances.ts
  ui/app/(prowler)/compliance/page.tsx
Labels: component/ui, component/api

#7330 chore(awslambda): update obsolete lambda runtimes
  prowler/config/config.yaml
  prowler/providers/aws/services/awslambda/awslambda_function_using_supported_runtimes/awslambda_function_using_supported_runtimes.py
Labels: provider/aws, backport-to-v3, backport-to-v4.6, backport-to-v5.4

#7346 chore(next): Remove `x-powered-by` header
  ui/next.config.js
Labels: component/ui, backport-to-v5.4

#7349 ref(providers): Refactor provider deletion functions
  api/CHANGELOG.md
  api/src/backend/api/db_utils.py
  api/src/backend/api/signals.py
  api/src/backend/api/tests/test_db_utils.py
  api/src/backend/api/v1/views.py
  api/src/backend/config/celery.py
  api/src/backend/tasks/jobs/deletion.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_deletion.py
Labels: component/api, backport-to-v5.4

#7353 feat(scans): add download button column for completed scans in table
  ui/components/icons/Icons.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/scans/table/scans/data-table-row-actions.tsx
  ui/components/scans/trigger-icon.tsx
  ui/components/ui/entities/date-with-time.tsx
  ui/lib/helper.ts
Labels: component/ui

#7354 docs(changelog): document addition of download column in scans table …
  ui/CHANGELOG.md
Labels: component/ui

#7356 chore(findings): apply default filter to show failed findings
  ui/components/scans/link-to-findings-from-scan.tsx
Labels: component/ui

#7358 build(api): Force django-allauth==65.4.1
  api/poetry.lock
  api/pyproject.toml
Labels: component/api

#7368 chore(scans): properly enable link to findings when scan is completed
  ui/CHANGELOG.md
  ui/components/scans/link-to-findings-from-scan.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
Labels: component/ui

#7359 fix(iam): handle none SAML Providers
  prowler/providers/aws/services/iam/iam_check_saml_providers_sts/iam_check_saml_providers_sts.py
  tests/providers/aws/services/iam/iam_check_saml_providers_sts/iam_check_saml_providers_sts_test.py
Labels: provider/aws, backport-to-v5.4

#7208 fix(network): handle `Nonetype is not iterable` for security groups
  prowler/providers/azure/services/network/network_http_internet_access_restricted/network_http_internet_access_restricted.py
  prowler/providers/azure/services/network/network_rdp_internet_access_restricted/network_rdp_internet_access_restricted.py
  prowler/providers/azure/services/network/network_service.py
  prowler/providers/azure/services/network/network_ssh_internet_access_restricted/network_ssh_internet_access_restricted.py
  prowler/providers/azure/services/network/network_udp_internet_access_restricted/network_udp_internet_access_restricted.py
  tests/providers/azure/services/network/network_http_internet_access_restricted/network_http_internet_access_restricted_test.py
  tests/providers/azure/services/network/network_rdp_internet_access_restricted/network_rdp_internet_access_restricted_test.py
  tests/providers/azure/services/network/network_ssh_internet_access_restricted/network_ssh_internet_access_restricted_test.py
  tests/providers/azure/services/network/network_udp_internet_access_restricted/network_udp_internet_access_restricted_test.py
Labels: provider/azure, backport-to-v5.4

#7221 fix(vm): handle NoneType accessing security_profile
  prowler/providers/azure/services/vm/vm_service.py
  prowler/providers/azure/services/vm/vm_trusted_launch_enabled/vm_trusted_launch_enabled.py
  tests/providers/azure/services/vm/vm_trusted_launch_enabled/vm_trusted_launch_enabled_test.py
Labels: provider/azure, backport-to-v5.4

#7369 chore: tweak for button see findings
  ui/components/scans/link-to-findings-from-scan.tsx
Labels: component/ui

#7374 fix(storagegateway): describe smb/nfs share per region
  prowler/providers/aws/services/storagegateway/storagegateway_service.py
Labels: provider/aws, backport-to-v5.4

#7350 fix(s3): handle None S3 account public access block
  prowler/providers/aws/services/s3/s3_account_level_public_access_blocks/s3_account_level_public_access_blocks.py
  prowler/providers/aws/services/s3/s3_service.py
  tests/providers/aws/services/s3/s3_account_level_public_access_blocks/s3_account_level_public_access_blocks_test.py
Labels: provider/aws, backport-to-v5.4

#7360 fix(vm): handle `Nonetype is not iterable` for extensions
  prowler/providers/azure/services/vm/vm_service.py
  tests/providers/azure/services/vm/vm_service_test.py
Labels: provider/azure, backport-to-v5.4

#7379 fix(fms): resource metadata could not be converted to dict
  prowler/providers/aws/services/fms/fms_policy_compliant/fms_policy_compliant.py
  tests/providers/aws/services/fms/fms_policy_compliant/fms_policy_compliant_test.py
Labels: provider/aws, backport-to-v5.4

#7386 fix(stepfunctions): `Nonetype` object has no attribute `level`
  prowler/providers/aws/services/stepfunctions/stepfunctions_statemachine_logging_enabled/stepfunctions_statemachine_logging_enabled.py
  tests/providers/aws/services/stepfunctions/stepfunctions_statemachine_logging_enabled/stepfunctions_statemachine_logging_enabled_test.py
Labels: provider/aws, backport-to-v5.4

#7383 fix(rds): hundle Certificate `rds-ca-2019` not found
  prowler/providers/aws/services/rds/rds_service.py
  tests/providers/aws/services/rds/rds_service_test.py
Labels: provider/aws, backport-to-v5.4

#7352 chore(sentry): ignore exception when aws service not available in a region
  api/src/backend/config/settings/sentry.py
Labels: component/api, backport-to-v5.4

#7378 feat(findings): Handle muted findings in API and UI
  api/CHANGELOG.md
  api/src/backend/api/filters.py
  api/src/backend/api/migrations/0015_finding_muted.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/conftest.py
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tests/test_scan.py
  ui/CHANGELOG.md
  ui/components/filters/data-filters.ts
  ui/components/findings/index.ts
  ui/components/findings/muted.tsx
  ui/components/findings/table/column-findings.tsx
  ui/components/findings/table/finding-detail.tsx
  ui/components/icons/Icons.tsx
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
  ui/components/ui/table/severity-badge.tsx
  ui/components/ui/table/status-finding-badge.tsx
  ui/types/components.ts
Labels: no-merge, component/ui, component/api, review-django-migrations

#7381 fix(redshift): validation error for `Cluster.multi_az`
  prowler/providers/aws/services/redshift/redshift_cluster_multi_az_enabled/redshift_cluster_multi_az_enabled.py
  prowler/providers/aws/services/redshift/redshift_service.py
  tests/providers/aws/services/redshift/redshift_cluster_multi_az_enabled/redshift_cluster_multi_az_enabled_test.py
  tests/providers/aws/services/redshift/redshift_service_test.py
Labels: provider/aws, backport-to-v5.4

#7348 feat(gcp): add check for dormant (unused) SA keys
  README.md
  prowler/compliance/gcp/mitre_attack_gcp.json
  prowler/providers/gcp/services/iam/iam_sa_user_managed_key_unused/__init__.py
  prowler/providers/gcp/services/iam/iam_sa_user_managed_key_unused/iam_sa_user_managed_key_unused.metadata.json
  prowler/providers/gcp/services/iam/iam_sa_user_managed_key_unused/iam_sa_user_managed_key_unused.py
  prowler/providers/gcp/services/monitoring/monitoring_service.py
  tests/providers/gcp/gcp_fixtures.py
  tests/providers/gcp/services/iam/iam_sa_dormant_user_managed_keys/iam_sa_dormant_user_managed_keys_test.py
  tests/providers/gcp/services/monitoring/monitoring_service_test.py
Labels: provider/gcp, compliance

#7402 docs(python): add annotations about Python version
  docs/index.md
Labels: documentation
