Repository prowler-cloud/prowler, pull requests merged in 2025-10, with the labels that each got.

#8688 chore(aws): enhance metadata for `accessanalyzer` service
  prowler/CHANGELOG.md
  prowler/providers/aws/services/accessanalyzer/accessanalyzer_enabled/accessanalyzer_enabled.metadata.json
  prowler/providers/aws/services/accessanalyzer/accessanalyzer_enabled_without_findings/accessanalyzer_enabled_without_findings.metadata.json
Labels: provider/aws, metadata-review

#8803 fix(html): preserve markdown formatting in read-more functionality
  prowler/CHANGELOG.md
  prowler/lib/outputs/html/html.py
  tests/lib/outputs/html/html_test.py
Labels: output/html

#8802 fix: handle eks cluster version and listener certificate arn not in acm
  prowler/CHANGELOG.md
  prowler/providers/aws/services/eks/eks_cluster_uses_a_supported_version/eks_cluster_uses_a_supported_version.py
  prowler/providers/aws/services/elb/elb_ssl_listeners_use_acm_certificate/elb_ssl_listeners_use_acm_certificate.py
  tests/providers/aws/services/eks/eks_cluster_uses_a_supported_version/eks_cluster_uses_a_supported_version.py
  tests/providers/aws/services/elb/elb_ssl_listeners_use_acm_certificate/elb_ssl_listeners_use_acm_certificate_test.py
Labels: provider/aws, backport-to-v5.12

#8840 fix(conflict-checker): fail on conflict
  .github/workflows/pr-conflict-checker.yml
Labels: github_actions

#8801 chore(ui): upgrade zod v4, zustand v5, and ai sdk v5
  ui/CHANGELOG.md
  ui/actions/auth/auth.ts
  ui/app/api/lighthouse/analyst/route.ts
  ui/auth.config.ts
  ui/components/auth/oss/auth-divider.tsx
  ui/components/auth/oss/auth-footer-link.tsx
  ui/components/auth/oss/auth-form.tsx
  ui/components/auth/oss/auth-layout.tsx
  ui/components/auth/oss/sign-in-form.tsx
  ui/components/auth/oss/sign-up-form.tsx
  ui/components/integrations/security-hub/security-hub-integration-form.tsx
  ui/components/invitations/workflow/forms/send-invitation-form.tsx
  ui/components/lighthouse/actions.tsx
  ui/components/lighthouse/chat.tsx
  ui/components/lighthouse/chatbot-config.tsx
  ui/components/lighthouse/loader.tsx
  ui/components/manage-groups/forms/add-group-form.tsx
  ui/components/manage-groups/forms/edit-group-form.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/roles/workflow/forms/add-role-form.tsx
  ui/components/roles/workflow/forms/edit-role-form.tsx
  ui/dependency-log.json
  ui/hooks/use-credentials-form.ts
  ui/lib/lighthouse/tools/checks.ts
  ui/lib/lighthouse/tools/compliances.ts
  ui/lib/lighthouse/tools/findings.ts
  ui/lib/lighthouse/tools/overview.ts
  ui/lib/lighthouse/tools/providers.ts
  ui/lib/lighthouse/tools/resources.ts
  ui/lib/lighthouse/tools/roles.ts
  ui/lib/lighthouse/tools/scans.ts
  ui/lib/lighthouse/tools/users.ts
  ui/lib/lighthouse/utils.ts
  ui/package-lock.json
  ui/package.json
  ui/styles/globals.css
  ui/tests/auth-login.spec.ts
  ui/tests/helpers.ts
  ui/types/authFormSchema.ts
  ui/types/formSchemas.ts
  ui/types/integrations.ts
  ui/types/lighthouse/findings.ts
  ui/types/lighthouse/scans.ts
Labels: component/ui

#8849 fix(tests): Race condition on redundant API unit test
  api/src/backend/api/tests/test_views.py
Labels: component/api, no-changelog

#8852 fix(changelog): duplicated v5.12.4 in SDK changelog
  prowler/CHANGELOG.md
Labels: no-changelog

#8789 chore(aws): enhance metadata for `appstream` service
  prowler/CHANGELOG.md
  prowler/providers/aws/services/appstream/appstream_fleet_default_internet_access_disabled/appstream_fleet_default_internet_access_disabled.metadata.json
  prowler/providers/aws/services/appstream/appstream_fleet_maximum_session_duration/appstream_fleet_maximum_session_duration.metadata.json
  prowler/providers/aws/services/appstream/appstream_fleet_session_disconnect_timeout/appstream_fleet_session_disconnect_timeout.metadata.json
  prowler/providers/aws/services/appstream/appstream_fleet_session_idle_disconnect_timeout/appstream_fleet_session_idle_disconnect_timeout.metadata.json
Labels: provider/aws, metadata-review

#8715 chore(aws): enhance metadata for `account` service
  prowler/CHANGELOG.md
  prowler/providers/aws/services/account/account_maintain_current_contact_details/account_maintain_current_contact_details.metadata.json
  prowler/providers/aws/services/account/account_maintain_different_contact_details_to_security_billing_and_operations/account_maintain_different_contact_details_to_security_billing_and_operations.metadata.json
  prowler/providers/aws/services/account/account_security_contact_information_is_registered/account_security_contact_information_is_registered.metadata.json
  prowler/providers/aws/services/account/account_security_questions_are_registered_in_the_aws_account/account_security_questions_are_registered_in_the_aws_account.metadata.json
Labels: provider/aws, metadata-review

#8804 fix(doc): document about using the same .env as the code version
  api/README.md
  docs/installation/prowler-app.md
Labels: documentation, component/api, no-changelog

#8863 fix(migrations): API key RLS migration
  api/src/backend/api/migrations/0048_api_key.py
Labels: component/api, review-django-migrations, no-changelog

#8828 chore(aws): enhance metadata for `cloudformation` service
  prowler/CHANGELOG.md
  prowler/providers/aws/services/cloudformation/cloudformation_stack_cdktoolkit_bootstrap_version/cloudformation_stack_cdktoolkit_bootstrap_version.metadata.json
  prowler/providers/aws/services/cloudformation/cloudformation_stack_outputs_find_secrets/cloudformation_stack_outputs_find_secrets.metadata.json
  prowler/providers/aws/services/cloudformation/cloudformation_stacks_termination_protection_enabled/cloudformation_stacks_termination_protection_enabled.metadata.json
Labels: provider/aws, metadata-review

#8866 fix(mcp): accept string type for all parameter types in MCP server
  mcp_server/prowler_mcp_server/prowler_app/utils/server_generator.py
Labels: component/mcp-server

#8795 feat(mcp): add Prowler Documentation MCP server
  mcp_server/prowler_mcp_server/prowler_documentation/__init__.py
  mcp_server/prowler_mcp_server/prowler_documentation/search_engine.py
  mcp_server/prowler_mcp_server/prowler_documentation/server.py
  mcp_server/prowler_mcp_server/server.py
  mcp_server/pyproject.toml
  mcp_server/uv.lock
Labels: component/mcp-server
