Repository prowler-cloud/prowler, pull requests merged in 2025-09, with the labels that each got.

#8604 chore(ui): render attributes as markdown
  ui/CHANGELOG.md
  ui/components/findings/table/finding-detail.tsx
Labels: component/ui

#8623 chore(ui): update Next.js and ESLint dependencies to version 14.2.32
  ui/package-lock.json
  ui/package.json
Labels: component/ui, no-changelog

#8621 feat: 50X errors handler
  ui/CHANGELOG.md
  ui/actions/compliances/compliances.ts
  ui/actions/findings/findings.ts
  ui/actions/integrations/index.ts
  ui/actions/integrations/integrations.ts
  ui/actions/integrations/saml.ts
  ui/actions/invitations/invitation.ts
  ui/actions/manage-groups/manage-groups.ts
  ui/actions/overview/overview.ts
  ui/actions/providers/providers.ts
  ui/actions/resources/resources.ts
  ui/actions/roles/roles.ts
  ui/actions/scans/scans.ts
  ui/actions/task/tasks.ts
  ui/actions/users/tenants.ts
  ui/actions/users/users.ts
  ui/app/(prowler)/error.tsx
  ui/components/findings/table/finding-detail.tsx
  ui/components/users/forms/edit-tenant-form.tsx
  ui/lib/helper.ts
  ui/types/server-actions.ts
Labels: component/ui

#8627 chore(ui): eslint nextjs files
  ui/types/integrations.ts
Labels: component/ui, no-changelog

#8626 fix(ui): display NoProvidersAdded when no cloud providers are configured
  ui/CHANGELOG.md
  ui/app/(prowler)/scans/page.tsx
Labels: component/ui

#8629 fix: new errors detected through the app
  ui/actions/compliances/compliances.ts
  ui/app/(prowler)/compliance/page.tsx
  ui/app/(prowler)/lighthouse/page.tsx
Labels: component/ui, no-changelog

#8638 fix(saml): remove validation call on email domain change
  ui/CHANGELOG.md
  ui/components/integrations/saml/saml-config-form.tsx
Labels: component/ui

#8637 refactor(integrations-jira): Move domain to credentials and retrieve metadata during connection test
  api/CHANGELOG.md
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_utils.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/utils.py
  api/src/backend/api/v1/serializer_utils/integrations.py
  api/src/backend/api/v1/serializers.py
Labels: component/api

#8619 fix(securityhub): resolve TypeError from Python3.9
  prowler/CHANGELOG.md
  prowler/providers/aws/lib/security_hub/security_hub.py
  tests/providers/aws/lib/security_hub/security_hub_test.py
Labels: no-merge, provider/aws, integration/security-hub, backport-to-v5.11

#8640 feat: Jira UI integration - pages and server actions
  ui/CHANGELOG.md
  ui/actions/integrations/integrations.ts
  ui/app/(prowler)/integrations/jira/page.tsx
  ui/app/(prowler)/integrations/page.tsx
  ui/components/icons/services/IconServices.tsx
  ui/components/integrations/index.ts
  ui/components/integrations/jira/jira-integration-card.tsx
  ui/components/integrations/jira/jira-integration-form.tsx
  ui/components/integrations/jira/jira-integrations-manager.tsx
  ui/components/integrations/s3/s3-integration-form.tsx
  ui/components/integrations/shared/integration-action-buttons.tsx
  ui/types/integrations.ts
Labels: component/ui

#8652 docs: reorg tutorials
  docs/tutorials/compliance.md
  docs/tutorials/fixer.md
  docs/tutorials/prowler-app-rbac.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Labels: documentation

#8294 fix: typo `ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_*` CheckID
  prowler/CHANGELOG.md
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_ftp_20_21/__init__.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_ftp_20_21/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_ftp_20_21.metadata.json
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_ftp_20_21/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_ftp_20_21.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_mongodb_27017_27018/__init__.py
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_mongodb_27017_27018/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_mongodb_27017_27018.metadata.json
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_mongodb_27017_27018/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_mongodb_27017_27018.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_ftp_20_21/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_ftp_20_21_test.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_mongodb_27017_27018/ec2_securitygroup_allow_ingress_from_internet_to_tcp_port_mongodb_27017_27018_test.py
Labels: provider/aws

#8654 fix(entra): add metadata description for check `entra_admin_users_phishing_resistant_mfa_enabled`
  prowler/providers/m365/services/entra/entra_admin_users_phishing_resistant_mfa_enabled/entra_admin_users_phishing_resistant_mfa_enabled.metadata.json
Labels: provider/m365, no-changelog

#8649 feat(ui): send a finding to Jira
  ui/CHANGELOG.md
  ui/actions/integrations/integrations.ts
  ui/actions/integrations/jira-dispatch.ts
  ui/actions/overview/overview.ts
  ui/actions/task/poll.ts
  ui/app/(prowler)/page.tsx
  ui/components/findings/send-to-jira-modal.tsx
  ui/components/findings/table/column-findings.tsx
  ui/components/findings/table/data-table-row-actions.tsx
  ui/components/integrations/jira/jira-integration-form.tsx
  ui/components/integrations/jira/jira-integrations-manager.tsx
  ui/components/integrations/security-hub/security-hub-integration-card.tsx
  ui/components/integrations/security-hub/security-hub-integration-form.tsx
  ui/types/integrations.ts
  ui/types/tasks.ts
Labels: component/ui

#8673 fix: social auth buttons showed for sign-up
  ui/CHANGELOG.md
  ui/actions/integrations/integrations.ts
  ui/actions/integrations/jira-dispatch.ts
  ui/components/auth/oss/auth-form.tsx
  ui/components/auth/oss/index.ts
  ui/components/auth/oss/social-buttons.tsx
  ui/package.json
  ui/types/integrations.ts
Labels: component/ui

#8670 fix(aws): nonetype errors in opensearch, firehose and cognito
  prowler/CHANGELOG.md
  prowler/providers/aws/services/cognito/cognito_user_pool_self_registration_disabled/cognito_user_pool_self_registration_disabled.py
  prowler/providers/aws/services/firehose/firehose_stream_encrypted_at_rest/firehose_stream_encrypted_at_rest.py
  prowler/providers/aws/services/opensearch/opensearch_service.py
  tests/providers/aws/services/cognito/cognito_user_pool_self_registration_disabled/cognito_user_pool_self_registration_disabled_test.py
  tests/providers/aws/services/firehose/firehose_stream_encrypted_at_rest/firehose_stream_encrypted_at_rest_test.py
  tests/providers/aws/services/opensearch/opensearch_service_test.py
Labels: provider/aws

#8672 fix(login): add DRF throttle option for dj-rest-auth lib
  api/src/backend/config/django/base.py
Labels: component/api, no-changelog

#8677 chore: update api changelog
  api/CHANGELOG.md
Labels: component/api

#8678 chore(api): Use Prowler from v5.12
  api/poetry.lock
  api/pyproject.toml
Labels: no-changelog

#8411 docs(developer-guide): enhance check metadata format
  docs/developer-guide/check-metadata-guidelines.md
  docs/developer-guide/checks.md
  docs/developer-guide/outputs.md
  mkdocs.yml
Labels: documentation

#8694 feat(actions): support dashboard changes in changelog
  .github/workflows/pull-request-check-changelog.yml
Labels: github_actions

#8683 docs(aws): refactor getting started and auth
  docs/basic-usage/prowler-cli.md
  docs/tutorials/aws/authentication.md
  docs/tutorials/aws/getting-started-aws.md
  docs/tutorials/aws/role-assumption.md
  docs/tutorials/mongodbatlas/authentication.md
  docs/tutorials/prowler-app.md
  mkdocs.yml
Labels: documentation

#8692 feat(ui): Add Prowler Hub menu item with tooltip
  ui/CHANGELOG.md
  ui/components/ui/sidebar/menu.tsx
  ui/lib/menu-list.ts
  ui/types/components.ts
Labels: component/ui

#8494 chore(aws/neptune): adapt some metadata fields to new format
  prowler/CHANGELOG.md
  prowler/providers/aws/services/neptune/neptune_cluster_backup_enabled/neptune_cluster_backup_enabled.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_copy_tags_to_snapshots/neptune_cluster_copy_tags_to_snapshots.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_deletion_protection/neptune_cluster_deletion_protection.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_iam_authentication_enabled/neptune_cluster_iam_authentication_enabled.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_integration_cloudwatch_logs/neptune_cluster_integration_cloudwatch_logs.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_multi_az/neptune_cluster_multi_az.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_public_snapshot/neptune_cluster_public_snapshot.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_snapshot_encrypted/neptune_cluster_snapshot_encrypted.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_storage_encrypted/neptune_cluster_storage_encrypted.metadata.json
  prowler/providers/aws/services/neptune/neptune_cluster_uses_public_subnet/neptune_cluster_uses_public_subnet.metadata.json
Labels: provider/aws, metadata-review

#8669 fix(lighthouse): allow scrolling during AI response streaming
  ui/components/lighthouse/chat.tsx
Labels: component/ui, no-changelog

#8651 chore(outputs): adapt to new metadata specification
  docs/tutorials/reporting.md
  examples/output/example_output_aws.csv
  examples/output/example_output_aws.ocsf.json
  examples/output/example_output_azure.csv
  examples/output/example_output_azure.ocsf.json
  examples/output/example_output_gcp.csv
  examples/output/example_output_gcp.ocsf.json
  examples/output/example_output_kubernetes.csv
  examples/output/example_output_kubernetes.ocsf.json
  prowler/CHANGELOG.md
  prowler/lib/outputs/csv/csv.py
  prowler/lib/outputs/ocsf/ocsf.py
  tests/lib/outputs/asff/asff_test.py
  tests/lib/outputs/csv/csv_test.py
  tests/lib/outputs/fixtures/fixtures.py
  tests/lib/outputs/html/html_test.py
  tests/lib/outputs/ocsf/ocsf_test.py
Labels: documentation, output/csv, output/ocsf, output/asff, output/html, integration/security-hub

#8704 feat: add additional_urls to finding details and markdown
  ui/CHANGELOG.md
  ui/components/findings/table/finding-detail.tsx
  ui/types/components.ts
Labels: component/ui

#8722 fix: handle 4XX and 204 properly
  .gitignore
  ui/CHANGELOG.md
  ui/actions/roles/roles.ts
  ui/components/auth/oss/auth-form.tsx
  ui/components/invitations/workflow/forms/send-invitation-form.tsx
  ui/components/manage-groups/forms/add-group-form.tsx
  ui/components/manage-groups/forms/edit-group-form.tsx
  ui/components/roles/workflow/forms/add-role-form.tsx
  ui/components/roles/workflow/forms/edit-role-form.tsx
  ui/hooks/use-form-server-errors.ts
  ui/lib/helper.ts
Labels: component/ui, backport-to-v5.12

#8733 fix(iac): handle empty results
  prowler/providers/iac/iac_provider.py
Labels: provider/iac, no-changelog

#8281 fix(users): only list roles and memberships with manage_account
  api/CHANGELOG.md
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_rbac.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/conftest.py
  docs/tutorials/prowler-app-rbac.md
  ui/actions/integrations/saml.ts
  ui/actions/users/tenants.ts
  ui/actions/users/users.ts
  ui/app/(prowler)/profile/page.tsx
  ui/app/(prowler)/users/page.tsx
  ui/types/users.ts
Labels: documentation, component/ui, component/api, no-changelog

#8724 chore: set an appropiate User-Agent in requests
  mcp_server/prowler_mcp_server/prowler_hub/server.py
Labels: component/mcp-server

#8717 feat(docs): add renaming checks to developer guide
  docs/developer-guide/renaming-checks.md
  mkdocs.yml
  prowler/CHANGELOG.md
Labels: documentation

#8763 fix(aws): cover SNS ResourceID in Quick Inventory output
  prowler/CHANGELOG.md
  prowler/providers/aws/lib/quick_inventory/quick_inventory.py
Labels: provider/aws

#8774 docs(mcp): add preview feature disclaimer
  mcp_server/README.md
Labels: component/mcp-server

#8711 docs(threatscore): add info with Prowler ThreatScore
  docs/tutorials/compliance/threatscore.md
  mkdocs.yml
Labels: documentation

#8778 fix: update prowler package version in api
  api/poetry.lock
Labels: component/api, no-changelog

#8776 docs(mongodbatlas): refactor getting started and auth
  docs/tutorials/mongodbatlas/authentication.md
  docs/tutorials/mongodbatlas/getting-started-mongodbatlas.md
Labels: documentation

#8482 ref(actions): remove xmlsec step
  .github/workflows/api-pull-request.yml
Labels: github_actions, component/api, no-changelog
