Repository prowler-cloud/prowler, pull requests merged in 2025-07, with the labels that each got.

#8140 feat: enhance getScans API to support fields and include parameters; …
  ui/actions/scans/scans.ts
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/app/(prowler)/compliance/page.tsx
  ui/types/scans.ts
Labels: component/ui, no-changelog

#8146 fix: Minor changes detected while SAML E2E
  ui/components/integrations/forms/saml-config-form.tsx
Labels: component/ui, no-changelog

#8145 fix(saml): limit attributes length to satisfy the socialapp restriction
  api/src/backend/api/models.py
Labels: component/api, no-changelog

#8148 fix: HotFIX related with ACS SAML url
  ui/components/integrations/forms/saml-config-form.tsx
Labels: component/ui, no-changelog

#8151 fix(azure): use Pydantic models in VM service and fix managed disk logic
  prowler/CHANGELOG.md
  prowler/providers/azure/services/vm/vm_ensure_using_managed_disks/vm_ensure_using_managed_disks.py
  prowler/providers/azure/services/vm/vm_service.py
  tests/providers/azure/services/vm/vm_ensure_attached_disks_encrypted_with_cmk/vm_ensure_attached_disks_encrypted_with_cmk_test.py
  tests/providers/azure/services/vm/vm_ensure_unattached_disks_encrypted_with_cmk/vm_ensure_unattached_disks_encrypted_with_cmk_test.py
  tests/providers/azure/services/vm/vm_ensure_using_managed_disks/vm_ensure_using_managed_disks_test.py
  tests/providers/azure/services/vm/vm_service_test.py
  tests/providers/azure/services/vm/vm_trusted_launch_enabled/vm_trusted_launch_enabled_test.py
Labels: provider/azure

#8127 feat(aws): add new check for Codebuild projects visibility
  prowler/CHANGELOG.md
  prowler/providers/aws/services/codebuild/codebuild_project_not_publicly_accessible/__init__.py
  prowler/providers/aws/services/codebuild/codebuild_project_not_publicly_accessible/codebuild_project_not_publicly_accessible.metadata.json
  prowler/providers/aws/services/codebuild/codebuild_project_not_publicly_accessible/codebuild_project_not_publicly_accessible.py
  prowler/providers/aws/services/codebuild/codebuild_service.py
  tests/providers/aws/services/codebuild/codebuild_project_not_publicly_accessible/__init__.py
  tests/providers/aws/services/codebuild/codebuild_project_not_publicly_accessible/codebuild_project_not_publicly_accessible_test.py
  tests/providers/aws/services/codebuild/codebuild_service_test.py
Labels: provider/aws

#8158 feat: saml e2e improvements
  ui/actions/integrations/saml.ts
  ui/app/(prowler)/profile/page.tsx
  ui/components/integrations/forms/saml-config-form.tsx
  ui/components/integrations/saml-integration-card.tsx
  ui/types/formSchemas.ts
Labels: component/ui, no-changelog

#8159 chore: Hide all SAML config for v5.8
  ui/CHANGELOG.md
  ui/app/(prowler)/profile/page.tsx
  ui/components/auth/oss/auth-form.tsx
Labels: component/ui

#8160 chore: disable SAML endpoints
  api/CHANGELOG.md
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/urls.py
Labels: component/api

#8162 chore: update spec
  api/src/backend/api/specs/v1.yaml
Labels: component/api, no-changelog

#8161 feat: client side validation
  ui/components/integrations/forms/saml-config-form.tsx
Labels: component/ui, no-changelog

#8136 chore(ui): update capitalization of Sign In and Sign Up to match UI s…
  ui/CHANGELOG.md
  ui/components/auth/oss/auth-form.tsx
Labels: component/ui

#8164 fix(iam): detect wildcarded ARNs in sts:AssumeRole policy resources
  prowler/CHANGELOG.md
  prowler/providers/aws/services/iam/iam_no_custom_policy_permissive_role_assumption/iam_no_custom_policy_permissive_role_assumption.py
  tests/providers/aws/services/iam/iam_no_custom_policy_permissive_role_assumption/iam_no_custom_policy_permissive_role_assumption_test.py
Labels: provider/aws, component/api

#8123 feat(storage): add new check `storage_smb_channel_encryption_with_secure_algorithm `
  prowler/CHANGELOG.md
  prowler/providers/azure/services/storage/storage_service.py
  prowler/providers/azure/services/storage/storage_smb_channel_encryption_with_secure_algorithm/__init__.py
  prowler/providers/azure/services/storage/storage_smb_channel_encryption_with_secure_algorithm/storage_smb_channel_encryption_with_secure_algorithm.metadata.json
  prowler/providers/azure/services/storage/storage_smb_channel_encryption_with_secure_algorithm/storage_smb_channel_encryption_with_secure_algorithm.py
  tests/providers/azure/azure_provider_test.py
  tests/providers/azure/services/storage/storage_ensure_file_shares_soft_delete_is_enabled/storage_ensure_file_shares_soft_delete_is_enabled_test.py
  tests/providers/azure/services/storage/storage_service_test.py
  tests/providers/azure/services/storage/storage_smb_channel_encryption_with_secure_algorithm/storage_smb_channel_encryption_with_secure_algorithm_test.py
Labels: documentation, provider/azure

#8203 chore(saml): restore SAML button
  ui/CHANGELOG.md
  ui/app/(prowler)/profile/page.tsx
  ui/components/auth/oss/auth-form.tsx
Labels: component/ui

#8196 docs(lighthouse): Add Lighthouse Docs
  docs/developer-guide/lighthouse.md
  docs/tutorials/img/lighthouse-architecture.png
  docs/tutorials/img/lighthouse-config.png
  docs/tutorials/img/lighthouse-feature1.png
  docs/tutorials/img/lighthouse-feature2.png
  docs/tutorials/img/lighthouse-feature3.png
  docs/tutorials/img/lighthouse-intro.png
  docs/tutorials/prowler-app-lighthouse.md
  mkdocs.yml
Labels: documentation

#8197 fix: Remove type validation while updating provider credentials
  api/CHANGELOG.md
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  ui/CHANGELOG.md
  ui/actions/providers/providers.ts
  ui/components/providers/credentials-update-info.tsx
  ui/lib/provider-credentials/build-crendentials.ts
Labels: component/ui, component/api

#8219 fix(overview): use findings latest to get new
  ui/CHANGELOG.md
  ui/app/(prowler)/page.tsx
Labels: component/ui, backport-to-v5.8

#8221 fix: SAML 403 message
  ui/actions/integrations/saml.ts
Labels: component/ui, no-changelog

#8190 feat: Mutelist implementation
  ui/CHANGELOG.md
  ui/actions/processors/index.ts
  ui/actions/processors/processors.ts
  ui/app/(prowler)/providers/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/components/filters/custom-checkbox-muted-findings.tsx
  ui/components/findings/muted.tsx
  ui/components/findings/table/column-findings.tsx
  ui/components/findings/table/finding-detail.tsx
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
  ui/components/providers/forms/index.ts
  ui/components/providers/forms/muted-findings-config-form.tsx
  ui/components/providers/index.ts
  ui/components/providers/muted-findings-config-button.tsx
  ui/components/ui/custom/custom-alert-modal.tsx
  ui/components/ui/form/form-buttons.tsx
  ui/lib/yaml.ts
  ui/package-lock.json
  ui/package.json
  ui/types/components.ts
  ui/types/formSchemas.ts
  ui/types/index.ts
  ui/types/processors.ts
Labels: component/ui

#8225 feat(security): password strength
  api/CHANGELOG.md
  api/README.md
  api/src/backend/api/fixtures/dev/0_dev_users.json
  api/src/backend/api/tests/integration/test_authentication.py
  api/src/backend/api/tests/integration/test_providers.py
  api/src/backend/api/tests/test_rbac.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/validators.py
  api/src/backend/config/django/base.py
  ui/CHANGELOG.md
  ui/components/auth/oss/auth-form.tsx
  ui/components/auth/oss/password-validator.tsx
  ui/lib/utils.ts
  ui/types/authFormSchema.ts
Labels: component/ui, component/api

#8247 chore(saml): redirect to login page on fail
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Labels: component/api, no-changelog

#8253 fix: set lxml version
  .github/workflows/api-pull-request.yml
  api/CHANGELOG.md
  api/Dockerfile
  api/poetry.lock
  api/pyproject.toml
Labels: github_actions, component/api, backport-to-v5.8

#8260 fix(saml): remove user in case of error
  api/src/backend/api/adapters.py
  api/src/backend/api/tests/test_adapters.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Labels: component/api, no-changelog

#8267 feat: SAML toast error
  ui/components/auth/oss/auth-form.tsx
Labels: component/ui, no-changelog

#8270 fix(dashboard): security posture showing incomplete data
  dashboard/pages/overview.py
  prowler/CHANGELOG.md
Labels: backport-to-v5.7

#8233 fix: reword `iam_user_accesskey_unused` title & description
  prowler/CHANGELOG.md
  prowler/providers/aws/services/iam/iam_user_accesskey_unused/iam_user_accesskey_unused.metadata.json
Labels: provider/aws

#8257 fix(dashboard): count rows in the CSV more efficiently
  dashboard/pages/overview.py
  prowler/CHANGELOG.md
Labels: backport-to-v5.8

#8284 chore(hadolint): run only when necessary
  .github/workflows/sdk-pull-request.yml
Labels: github_actions

#8193 feat(iac): add support for remote repos
  docs/getting-started/requirements.md
  docs/index.md
  docs/tutorials/iac/getting-started-iac.md
  poetry.lock
  prowler/CHANGELOG.md
  prowler/lib/outputs/finding.py
  prowler/lib/outputs/html/html.py
  prowler/lib/outputs/summary_table.py
  prowler/providers/common/provider.py
  prowler/providers/iac/iac_provider.py
  prowler/providers/iac/lib/arguments/arguments.py
  pyproject.toml
  tests/lib/outputs/finding_test.py
  tests/providers/iac/iac_provider_test.py
  tests/providers/iac/lib/arguments_test.py
Labels: documentation, output/html, provider/iac

#8287 feat: allow to restrict routes based on permissions
  ui/CHANGELOG.md
  ui/actions/auth/auth.ts
  ui/auth.config.ts
  ui/components/ui/content-layout/content-layout.tsx
  ui/components/ui/nav-bar/navbar.tsx
  ui/components/ui/sidebar/menu.tsx
  ui/components/ui/user-nav/user-nav.tsx
  ui/components/users/profile/user-basic-info-card.tsx
  ui/hooks/index.ts
  ui/hooks/use-auth.ts
  ui/lib/index.ts
  ui/middleware.ts
  ui/nextauth.d.ts
  ui/types/users.ts
Labels: component/ui

#8292 feat: menu label hidden in side-menu if no items
  ui/components/ui/sidebar/menu.tsx
Labels: component/ui, no-changelog

#8244 feat(ui): add status column to findings table in compliance detail view
  ui/CHANGELOG.md
  ui/components/compliance/compliance-accordion/client-accordion-content.tsx
Labels: component/ui

#8251 feat(ui): add link in Scans view to navigate to Compliance overview
  ui/CHANGELOG.md
  ui/components/scans/index.ts
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/ui/custom/custom-table-link.tsx
  ui/components/ui/custom/index.ts
Labels: component/ui

#8290 fix(azure): use Subscription ID for mutelist
  prowler/CHANGELOG.md
  prowler/lib/check/check.py
  prowler/providers/azure/lib/mutelist/mutelist.py
  tests/providers/azure/lib/mutelist/azure_mutelist_test.py
Labels: provider/azure, mutelist

#8295 feat: Next.js middleware improved
  ui/middleware.ts
Labels: component/ui, no-changelog

#8268 chore(gha): prowler release preparation workflow
  .github/workflows/prowler-release-preparation.yml
Labels: github_actions, no-changelog, backport-to-v5.8

#8243 fix(outputs): identity type and id for prowler cloud
  prowler/CHANGELOG.md
  prowler/providers/m365/m365_provider.py
Labels: component/api

#8289 fix(check_metadata): add service name validator
  prowler/CHANGELOG.md
  prowler/lib/check/models.py
  prowler/providers/aws/services/apigatewayv2/apigatewayv2_api_access_logging_enabled/apigatewayv2_api_access_logging_enabled.metadata.json
  prowler/providers/aws/services/apigatewayv2/apigatewayv2_api_authorizers_enabled/apigatewayv2_api_authorizers_enabled.metadata.json
  prowler/providers/aws/services/ssmincidents/ssmincidents_enabled_with_plans/ssmincidents_enabled_with_plans.metadata.json
  prowler/providers/aws/services/trustedadvisor/trustedadvisor_premium_support_plan_subscribed/trustedadvisor_premium_support_plan_subscribed.metadata.json
  prowler/providers/gcp/services/compute/compute_firewall_rdp_access_from_the_internet_allowed/compute_firewall_rdp_access_from_the_internet_allowed.metadata.json
  prowler/providers/gcp/services/compute/compute_firewall_ssh_access_from_the_internet_allowed/compute_firewall_ssh_access_from_the_internet_allowed.metadata.json
  prowler/providers/kubernetes/services/controllermanager/controllermanager_bind_address/controllermanager_bind_address.metadata.json
  prowler/providers/kubernetes/services/controllermanager/controllermanager_disable_profiling/controllermanager_disable_profiling.metadata.json
  prowler/providers/kubernetes/services/controllermanager/controllermanager_garbage_collection/controllermanager_garbage_collection.metadata.json
  prowler/providers/kubernetes/services/controllermanager/controllermanager_root_ca_file_set/controllermanager_root_ca_file_set.metadata.json
  prowler/providers/kubernetes/services/controllermanager/controllermanager_rotate_kubelet_server_cert/controllermanager_rotate_kubelet_server_cert.metadata.json
  prowler/providers/kubernetes/services/controllermanager/controllermanager_service_account_credentials/controllermanager_service_account_credentials.metadata.json
  prowler/providers/kubernetes/services/controllermanager/controllermanager_service_account_private_key_file/controllermanager_service_account_private_key_file.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_cluster_admin_usage/rbac_cluster_admin_usage.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_csr_approval_access/rbac_minimize_csr_approval_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_node_proxy_subresource_access/rbac_minimize_node_proxy_subresource_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pod_creation_access/rbac_minimize_pod_creation_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_pv_creation_access/rbac_minimize_pv_creation_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_secret_access/rbac_minimize_secret_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_service_account_token_creation/rbac_minimize_service_account_token_creation.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_webhook_config_access/rbac_minimize_webhook_config_access.metadata.json
  prowler/providers/kubernetes/services/rbac/rbac_minimize_wildcard_use_roles/rbac_minimize_wildcard_use_roles.metadata.json
  tests/lib/check/compliance_check_test.py
  tests/lib/check/models_test.py
  tests/lib/outputs/asff/asff_test.py
  tests/lib/outputs/compliance/aws_well_architected/aws_well_architected_test.py
  tests/lib/outputs/compliance/cis/cis_aws_test.py
  tests/lib/outputs/compliance/cis/cis_azure_test.py
  tests/lib/outputs/compliance/cis/cis_gcp_test.py
  tests/lib/outputs/compliance/cis/cis_kubernetes_test.py
  tests/lib/outputs/compliance/cis/cis_m365_test.py
  tests/lib/outputs/compliance/ens/ens_aws_test.py
  tests/lib/outputs/compliance/ens/ens_azure_test.py
  tests/lib/outputs/compliance/ens/ens_gcp_test.py
  tests/lib/outputs/compliance/fixtures.py
  tests/lib/outputs/compliance/generic/generic_aws_test.py
  tests/lib/outputs/compliance/iso27001/iso27001_aws_test.py
  tests/lib/outputs/compliance/kisa_ismsp/kisa_ismsp_aws_test.py
  tests/lib/outputs/compliance/mitre_attack/mitre_attack_aws_test.py
  tests/lib/outputs/compliance/mitre_attack/mitre_attack_azure_test.py
  tests/lib/outputs/compliance/mitre_attack/mitre_attack_gcp_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_aws_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_azure_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_gcp_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_m365_test.py
  tests/lib/outputs/csv/csv_test.py
  tests/lib/outputs/finding_test.py
  tests/lib/outputs/fixtures/fixtures.py
  tests/lib/outputs/html/html_test.py
  tests/lib/outputs/ocsf/ocsf_test.py
  tests/providers/aws/lib/mutelist/aws_mutelist_test.py
  tests/providers/azure/lib/mutelist/azure_mutelist_test.py
  tests/providers/gcp/lib/mutelist/gcp_mutelist_test.py
  tests/providers/github/lib/mutelist/github_mutelist_test.py
  tests/providers/kubernetes/lib/mutelist/kubernetes_mutelist_test.py
  tests/providers/m365/lib/mutelist/m365_mutelist_test.py
  tests/providers/nhn/lib/mutelist/nhn_mutelist_test.py
Labels: provider/aws, provider/azure, provider/gcp, provider/kubernetes, output/csv, output/ocsf, output/asff, output/html, integration/security-hub, mutelist, compliance, provider/github

#8300 feat(tasks): Improve memory usage and performance in overview tasks
  api/CHANGELOG.md
  api/src/backend/api/db_utils.py
  api/src/backend/api/tests/test_db_utils.py
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tests/test_scan.py
Labels: component/api

#8305 fix: Middleware redirection to /profile
  ui/middleware.ts
Labels: component/ui, no-changelog

#8245 feat(azure/defender): add new check `defender_attack_path_notifications_properly_configured`
  docs/tutorials/configuration_file.md
  prowler/CHANGELOG.md
  prowler/config/config.yaml
  prowler/providers/azure/services/defender/defender_attack_path_notifications_properly_configured/__init__.py
  prowler/providers/azure/services/defender/defender_attack_path_notifications_properly_configured/defender_attack_path_notifications_properly_configured.metadata.json
  prowler/providers/azure/services/defender/defender_attack_path_notifications_properly_configured/defender_attack_path_notifications_properly_configured.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/providers/azure/azure_provider_test.py
  tests/providers/azure/services/defender/defender_attack_path_notifications_properly_configured/defender_attack_path_notifications_properly_configured_test.py
Labels: documentation, provider/azure

#8309 fix(actions): build API if the SDK changes
  .github/workflows/api-build-lint-push-containers.yml
Labels: github_actions, no-changelog

#8310 fix: muted filter removed from url when value is true
  ui/components/filters/custom-checkbox-muted-findings.tsx
  ui/components/overview/findings-by-status-chart/findings-by-status-chart.tsx
Labels: component/ui, no-changelog

#8313 chore: update changelogs for v5.9.0
  api/CHANGELOG.md
  prowler/CHANGELOG.md
  ui/CHANGELOG.md
Labels: component/ui, component/api

#8137 chore(docs): SAML documentation
  docs/img/saml/idp_config.png
  docs/img/saml/saml-sso-azure-1.png
  docs/img/saml/saml-sso-azure-2.png
  docs/img/saml/saml-sso-azure-3.png
  docs/img/saml/saml-sso-azure-4.png
  docs/img/saml/saml-sso-azure-5.png
  docs/img/saml/saml-sso-azure-6.png
  docs/img/saml/saml-sso-azure-7.png
  docs/img/saml/saml-sso-azure-8.png
  docs/img/saml/saml-sso-azure-9.png
  docs/img/saml/saml-step-1.png
  docs/img/saml/saml-step-2.png
  docs/img/saml/saml-step-3.png
  docs/img/saml/saml-step-4.png
  docs/img/saml/saml-step-5.png
  docs/img/saml/saml-step-remove.png
  docs/img/saml/saml_attribute_statements.png
  docs/tutorials/prowler-app-sso-entra.md
  docs/tutorials/prowler-app-sso.md
Labels: documentation, no-changelog

#8323 chore(gha): fix api prowler version
  .github/workflows/prowler-release-preparation.yml
Labels: github_actions

#8322 fix(tasks): calculate failed findings for resources during scan
  api/CHANGELOG.md
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tests/test_scan.py
Labels: component/api, backport-to-v5.9

#8320 feat(docs): add info about updating Prowler App
  docs/index.md
Labels: documentation

#8334 fix(defender): avoid duplicated findings in check `defender_domain_dkim_enabled`
  prowler/CHANGELOG.md
  prowler/providers/m365/services/defender/defender_domain_dkim_enabled/defender_domain_dkim_enabled.py
  tests/providers/m365/services/defender/defender_domain_dkim_enabled/defender_domain_dkim_enabled_test.py
Labels: backport-to-v5.9

#8336 feat(resources): Optimize findings prefetching during resource views
  api/CHANGELOG.md
  api/pyproject.toml
  api/src/backend/api/migrations/0040_rfm_tenant_resource_index_partitions.py
  api/src/backend/api/migrations/0041_rfm_tenant_resource_parent_partitions.py
  api/src/backend/api/migrations/0042_scan_scans_prov_ins_desc_idx.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Labels: component/api, review-django-migrations, backport-to-v5.9

#8338 chore(gha): e2e tests pipeline with API services
  .github/workflows/ui-pull-request.yml
  api/src/backend/api/fixtures/dev/0_dev_users.json
  api/src/backend/api/fixtures/dev/1_dev_tenants.json
  api/src/backend/api/fixtures/dev/6_dev_rbac.json
Labels: github_actions, component/api, no-changelog

#8337 test(e2e): Sign-in
  ui/next.config.js
  ui/playwright.config.ts
  ui/tests/auth-login.spec.ts
  ui/tests/example.spec.ts
  ui/tests/helpers.ts
Labels: component/ui, no-changelog

#8325 fix(azure/storage): handle when Azure API set values to None
  prowler/CHANGELOG.md
  prowler/providers/azure/services/storage/storage_service.py
Labels: provider/azure, backport-to-v5.9

#8350 docs(gcp): update GCP permissions
  docs/getting-started/requirements.md
  docs/tutorials/gcp/authentication.md
  docs/tutorials/gcp/organization.md
Labels: documentation

#8351 test: timeout updated for E2E
  ui/playwright.config.ts
  ui/tests/auth-login.spec.ts
Labels: component/ui, no-changelog

#8341 feat(ui): create CustomLink component and refactor links to use it
  ui/CHANGELOG.md
  ui/app/(prowler)/error.tsx
  ui/components/auth/oss/auth-form.tsx
  ui/components/compliance/compliance-custom-details/aws-well-architected-details.tsx
  ui/components/compliance/compliance-custom-details/cis-details.tsx
  ui/components/compliance/compliance-custom-details/mitre-details.tsx
  ui/components/compliance/compliance-custom-details/shared-components.tsx
  ui/components/findings/table/finding-detail.tsx
  ui/components/integrations/forms/saml-config-form.tsx
  ui/components/integrations/saml-integration-card.tsx
  ui/components/lighthouse/chat.tsx
  ui/components/providers/forms/muted-findings-config-form.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/providers/workflow/forms/via-credentials/m365-credentials-form.tsx
  ui/components/providers/workflow/provider-title-docs.tsx
  ui/components/ui/custom/custom-link.tsx
  ui/components/ui/user-nav/user-nav.tsx
Labels: component/ui

#8347 chore(aws): replace known errors with warnings
  prowler/CHANGELOG.md
  prowler/providers/aws/services/elasticbeanstalk/elasticbeanstalk_service.py
  prowler/providers/aws/services/iam/iam_service.py
  prowler/providers/aws/services/secretsmanager/secretsmanager_service.py
  prowler/providers/aws/services/ssm/ssm_service.py
Labels: provider/aws

#8340 fix(aws): `sns_topics_not_publicly_accessible` false positive with aws:SourceArn conditions
  prowler/CHANGELOG.md
  prowler/providers/aws/services/iam/lib/policy.py
  prowler/providers/aws/services/sns/sns_topics_not_publicly_accessible/sns_topics_not_publicly_accessible.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_all_ports/ec2_securitygroup_allow_ingress_from_internet_to_all_ports_test.py
  tests/providers/aws/services/iam/lib/policy_test.py
  tests/providers/aws/services/sns/sns_topics_not_publicly_accessible/sns_topics_not_publicly_accessible_test.py
Labels: provider/aws, backport-to-v5.9

#7782 feat(azure): add CIS 4.0
  README.md
  dashboard/compliance/cis_4_0_azure.py
  prowler/CHANGELOG.md
  prowler/compliance/azure/cis_4.0_azure.json
Labels: compliance

#8360 fix(docs): change `Exchange Administrator` role to `Global Reader` for M365
  docs/tutorials/microsoft365/getting-started-m365.md
  docs/tutorials/microsoft365/img/assign-exchange-administrator-role.png
  docs/tutorials/microsoft365/img/assign-global-reader-role.png
  docs/tutorials/microsoft365/img/exchange-administrator-role.png
  docs/tutorials/microsoft365/img/global-reader-role.png
Labels: documentation

#8191 feat(azure/vm): add new check `vm_desired_sku_size`
  docs/tutorials/configuration_file.md
  prowler/CHANGELOG.md
  prowler/config/config.yaml
  prowler/providers/azure/services/vm/vm_desired_sku_size/__init__.py
  prowler/providers/azure/services/vm/vm_desired_sku_size/vm_desired_sku_size.metadata.json
  prowler/providers/azure/services/vm/vm_desired_sku_size/vm_desired_sku_size.py
  prowler/providers/azure/services/vm/vm_service.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/providers/azure/azure_provider_test.py
  tests/providers/azure/services/vm/vm_desired_sku_size/vm_desired_sku_size_test.py
  tests/providers/azure/services/vm/vm_service_test.py
Labels: documentation, provider/azure

#8379 chore(gha): delete repo limitation for bump workflow
  .github/workflows/sdk-bump-version.yml
Labels: github_actions

#8374 fix(ec2): add check that protocol is matched in security group checks
  prowler/CHANGELOG.md
  prowler/providers/aws/services/ec2/lib/security_groups.py
  prowler/providers/aws/services/emr/emr_cluster_publicly_accesible/emr_cluster_publicly_accesible.py
  tests/providers/aws/services/ec2/lib/security_groups_test.py
Labels: provider/aws

#8380 fix(docs): remove typo from getting started - github
  docs/tutorials/github/getting-started-github.md
Labels: documentation

#8329 feat(github): add repository and organization scoping support
  prowler/CHANGELOG.md
  prowler/providers/common/provider.py
  prowler/providers/github/github_provider.py
  prowler/providers/github/lib/arguments/arguments.py
  prowler/providers/github/lib/service/service.py
  prowler/providers/github/services/organization/organization_service.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/github_provider_test.py
  tests/providers/github/lib/arguments/arguments_test.py
  tests/providers/github/services/organization/organization_service_test.py
  tests/providers/github/services/repository/repository_service_test.py
Labels: provider/github

#8382 fix(kisa): change the way of counting the PASS/FAILED reqs
  prowler/CHANGELOG.md
  prowler/lib/outputs/compliance/kisa_ismsp/kisa_ismsp.py
Labels: compliance, backport-to-v5.9

#8074 docs(dev-guide): add generic best practices for checks and services
  docs/developer-guide/checks.md
  docs/developer-guide/services.md
Labels: documentation

#8393 feat(docs): update m365 and azure docs
  docs/tutorials/azure/getting-started-azure.md
  docs/tutorials/microsoft365/getting-started-m365.md
Labels: documentation

#8353 fix(m365): enhance execution to avoid multiple error calls
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/jwt/jwt_decoder.py
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/admincenter/admincenter_service.py
  prowler/providers/m365/services/defender/defender_service.py
  prowler/providers/m365/services/exchange/exchange_service.py
  prowler/providers/m365/services/purview/purview_service.py
  prowler/providers/m365/services/teams/teams_service.py
  tests/providers/m365/lib/jwt/jwt_decoder_test.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
Labels: backport-to-v5.9

#8396 feat(aws): new check `bedrock_api_key_no_long_term_credentials`
  poetry.lock
  prowler/CHANGELOG.md
  prowler/providers/aws/services/bedrock/bedrock_api_key_no_long_term_credentials/__init__.py
  prowler/providers/aws/services/bedrock/bedrock_api_key_no_long_term_credentials/bedrock_api_key_no_long_term_credentials.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_api_key_no_long_term_credentials/bedrock_api_key_no_long_term_credentials.py
  pyproject.toml
  tests/providers/aws/aws_provider_test.py
  tests/providers/aws/services/bedrock/bedrock_api_key_no_long_term_credentials/bedrock_api_key_no_long_term_credentials_test.py
  tests/providers/aws/services/dynamodb/dynamodb_service_test.py
  tests/providers/aws/services/eventbridge/eventbridge_service_test.py
  tests/providers/aws/services/guardduty/guardduty_is_enabled/guardduty_is_enabled_test.py
Labels: provider/aws

#8056 feat(integrations): add s3 integration
  .github/workflows/api-pull-request.yml
  .pre-commit-config.yaml
  api/CHANGELOG.md
  api/Dockerfile
  api/docker-entrypoint.sh
  api/src/backend/api/migrations/0044_integration_unique_configuration_per_tenant.py
  api/src/backend/api/migrations/0045_alter_scan_output_location.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_serializers.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/utils.py
  api/src/backend/api/v1/serializer_utils/integrations.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/conftest.py
  api/src/backend/tasks/jobs/connection.py
  api/src/backend/tasks/jobs/export.py
  api/src/backend/tasks/jobs/integrations.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_integrations.py
  api/src/backend/tasks/tests/test_tasks.py
  docker-compose-dev.yml
  docker-compose.yml
  prowler/CHANGELOG.md
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/s3/s3.py
  prowler/providers/aws/lib/session/aws_set_up_session.py
Labels: provider/aws, github_actions, integration/s3, component/api, review-django-migrations

#8402 fix(azure,m365): use default tenant domain instead of first domain in list
  prowler/CHANGELOG.md
  prowler/providers/azure/azure_provider.py
  prowler/providers/m365/m365_provider.py
Labels: provider/azure

#8405 feat(providers): add GitHub provider support with credential types
  ui/CHANGELOG.md
  ui/app/(prowler)/providers/(set-up-provider)/add-credentials/page.tsx
  ui/app/(prowler)/providers/(set-up-provider)/update-credentials/page.tsx
  ui/components/icons/providers-badge/github-provider-badge.tsx
  ui/components/icons/providers-badge/index.ts
  ui/components/providers/credentials-update-info.tsx
  ui/components/providers/radio-group-provider.tsx
  ui/components/providers/workflow/forms/base-credentials-form.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/github/credentials-type/github-app-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/github/credentials-type/github-oauth-app-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/github/credentials-type/github-personal-access-token-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/github/credentials-type/index.ts
  ui/components/providers/workflow/forms/select-credentials-type/github/index.ts
  ui/components/providers/workflow/forms/select-credentials-type/github/radio-group-github-via-credentials-type-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/github/select-via-github.tsx
  ui/components/providers/workflow/forms/via-credentials/github-credentials-form.tsx
  ui/components/providers/workflow/forms/via-credentials/index.ts
  ui/components/ui/entities/get-provider-logo.tsx
  ui/hooks/use-credentials-form.ts
  ui/lib/external-urls.ts
  ui/lib/provider-credentials/build-crendentials.ts
  ui/lib/provider-credentials/provider-credential-fields.ts
  ui/lib/provider-helpers.ts
  ui/types/formSchemas.ts
  ui/types/providers.ts
Labels: component/ui

#8410 chore(ui): remove changelog entry
  ui/CHANGELOG.md
Labels: component/ui, no-changelog

#8409 fix(s3): use enabled to filter
  api/src/backend/tasks/jobs/connection.py
  api/src/backend/tasks/jobs/integrations.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_connection.py
  api/src/backend/tasks/tests/test_integrations.py
  api/src/backend/tasks/tests/test_tasks.py
Labels: component/api, no-changelog

#8419 fix(s3): make setup_assumed_session static
  docs/developer-guide/checks.md
  prowler/CHANGELOG.md
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/session/aws_set_up_session.py
Labels: provider/aws

#8418 chore(ui): remove browse all resources from the sidebar
  ui/CHANGELOG.md
  ui/lib/menu-list.ts
Labels: component/ui
