Repository prowler-cloud/prowler, pull requests merged in 2025-06, with the labels that each got.

#7901 docs: update the changelog
  ui/CHANGELOG.md
Labels: component/ui, backport-to-v5.7

#7909 fix: Fix named export for addCredentialsServiceAccountFormSchema
  ui/types/formSchemas.ts
Labels: component/ui

#7916 fix(rls): Apply persistent RLS transactions
  api/CHANGELOG.md
  api/src/backend/api/base_views.py
Labels: component/api, backport-to-v5.7

#7925 feat: aws-well-architected compliance detailed view
  ui/CHANGELOG.md
  ui/components/compliance/compliance-card.tsx
  ui/components/compliance/compliance-custom-details/aws-well-architected-details.tsx
  ui/components/compliance/compliance-custom-details/cis-details.tsx
  ui/lib/compliance/aws-well-architected.tsx
  ui/lib/compliance/commons.ts
  ui/types/compliance.ts
Labels: component/ui

#7928 fix: clear filters sync
  ui/CHANGELOG.md
  ui/components/ui/custom/custom-dropdown-filter.tsx
  ui/hooks/use-url-filters.ts
Labels: component/ui

#7931 docs: update changelog
  ui/CHANGELOG.md
Labels: component/ui

#7932 revert: remove get_with_retry
  api/CHANGELOG.md
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_models.py
  api/src/backend/api/v1/views.py
Labels: component/api, backport-to-v5.7

#7935 feat(database): handle already closed connections
  api/CHANGELOG.md
  api/src/backend/config/django/base.py
  api/src/backend/database_backend/__init__.py
  api/src/backend/database_backend/base.py
Labels: component/api, backport-to-v5.7

#7924 fix(docs): add mfa warning for users
  docs/getting-started/requirements.md
Labels: documentation

#7943 fix(docs): add final permission assignments example
  docs/tutorials/microsoft365/getting-started-m365.md
  docs/tutorials/microsoft365/img/final-permissions-m365.png
Labels: documentation

#7948 chore: update API changelog for v5.7.3
  api/CHANGELOG.md
Labels: component/api, backport-to-v5.7

#7956 feat(docs): add information about tenants and read-only roles
  docs/tutorials/prowler-app-rbac.md
Labels: documentation

#7949 feat: scan id filter drowpdown
  ui/app/(prowler)/findings/page.tsx
  ui/components/compliance/compliance-header/compliance-header.tsx
  ui/components/compliance/compliance-header/compliance-scan-info.tsx
  ui/components/compliance/compliance-header/data-compliance.tsx
  ui/components/compliance/compliance-header/index.ts
  ui/components/compliance/compliance-header/scan-selector.tsx
  ui/components/compliance/index.ts
  ui/components/ui/custom/custom-dropdown-filter.tsx
  ui/components/ui/entities/date-with-time.tsx
  ui/components/ui/entities/entity-info-short.tsx
  ui/components/ui/entities/snippet-chip.tsx
  ui/lib/helper-filters.ts
  ui/lib/provider-helpers.ts
  ui/types/filters.ts
  ui/types/providers.ts
  ui/types/scans.ts
Labels: component/ui

#7962 chore: align Next.js version to 14.2.29 across Prowler and Cloud
  ui/CHANGELOG.md
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#7965 feat: KISA detailed view
  ui/CHANGELOG.md
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/components/compliance/compliance-accordion/client-accordion-content.tsx
  ui/components/compliance/compliance-card.tsx
  ui/components/compliance/compliance-charts/bar-chart.tsx
  ui/components/compliance/compliance-charts/heatmap-chart.tsx
  ui/components/compliance/compliance-custom-details/iso-details.tsx
  ui/components/compliance/compliance-custom-details/kisa-details.tsx
  ui/components/compliance/skeletons/bar-chart-skeleton.tsx
  ui/lib/compliance/commons.ts
  ui/lib/compliance/kisa.tsx
  ui/types/compliance.ts
Labels: component/ui

#7982 chore(api): Delete old docker compose file
  api/docker-compose.yml
Labels: component/api

#7984 chore: update django version
  api/poetry.lock
  api/pyproject.toml
Labels: component/api

#7969 chore(changelog): move entry for their version
  api/CHANGELOG.md
Labels: component/api

#7966 feat(storage): add new check `storage_ensure_file_shares_soft_delete_is_enabled`
  prowler/CHANGELOG.md
  prowler/providers/azure/services/storage/storage_ensure_file_shares_soft_delete_is_enabled/__init__.py
  prowler/providers/azure/services/storage/storage_ensure_file_shares_soft_delete_is_enabled/storage_ensure_file_shares_soft_delete_is_enabled.metadata.json
  prowler/providers/azure/services/storage/storage_ensure_file_shares_soft_delete_is_enabled/storage_ensure_file_shares_soft_delete_is_enabled.py
  prowler/providers/azure/services/storage/storage_service.py
  tests/providers/azure/services/storage/storage_ensure_file_shares_soft_delete_is_enabled/storage_ensure_file_shares_soft_delete_is_enabled_test.py
  tests/providers/azure/services/storage/storage_service_test.py
Labels: provider/azure

#7822 feat(sso): add sso with saml to API
  .env
  .github/workflows/api-pull-request.yml
  api/CHANGELOG.md
  api/Dockerfile
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/api/adapters.py
  api/src/backend/api/migrations/0030_samlconfigurations.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_adapters.py
  api/src/backend/api/tests/test_models.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
  api/src/backend/config/django/base.py
  api/src/backend/config/settings/social_login.py
  api/src/backend/conftest.py
  docs/tutorials/prowler-app-sso.md
  mkdocs.yml
Labels: documentation, github_actions, component/api, review-django-migrations

#7979 feat: ThreatScore compliance detailed view
  ui/CHANGELOG.md
  ui/components/compliance/compliance-accordion/client-accordion-content.tsx
  ui/components/compliance/compliance-card.tsx
  ui/components/compliance/compliance-custom-details/aws-well-architected-details.tsx
  ui/components/compliance/compliance-custom-details/cis-details.tsx
  ui/components/compliance/compliance-custom-details/ens-details.tsx
  ui/components/compliance/compliance-custom-details/iso-details.tsx
  ui/components/compliance/compliance-custom-details/kisa-details.tsx
  ui/components/compliance/compliance-custom-details/shared-components.tsx
  ui/components/compliance/compliance-custom-details/threat-details.tsx
  ui/lib/compliance/commons.ts
  ui/lib/compliance/threat.tsx
  ui/types/compliance.ts
Labels: component/ui

#7811 feat(mutelist): make validate_mutelist method static
  prowler/CHANGELOG.md
  prowler/lib/mutelist/mutelist.py
  prowler/providers/aws/lib/mutelist/mutelist.py
  tests/providers/aws/lib/mutelist/aws_mutelist_test.py
  tests/providers/azure/lib/mutelist/azure_mutelist_test.py
  tests/providers/gcp/lib/mutelist/gcp_mutelist_test.py
  tests/providers/github/lib/mutelist/github_mutelist_test.py
  tests/providers/kubernetes/lib/mutelist/kubernetes_mutelist_test.py
  tests/providers/m365/lib/mutelist/m365_mutelist_test.py
  tests/providers/nhn/lib/mutelist/nhn_mutelist_test.py
Labels: provider/aws, provider/azure, provider/gcp, provider/kubernetes, mutelist, provider/github

#7994 revert: RLS transactions handling and DB custom backend
  api/CHANGELOG.md
  api/src/backend/api/base_views.py
  api/src/backend/config/django/base.py
  api/src/backend/database_backend/__init__.py
  api/src/backend/database_backend/base.py
Labels: component/api, backport-to-v5.7

#7999 fix(migration): create site stuff before socialaccount
  api/docker-entrypoint.sh
  api/src/backend/api/management/commands/check_and_fix_socialaccount_sites_migration.py
  api/src/backend/config/celery.py
  api/src/backend/manage.py
Labels: component/api

#8001 fix(gcp): remove azure video from gcp docs
  docs/tutorials/gcp/getting-started-gcp.md
Labels: documentation

#7971 fix(k8s): remove typo for PCI 4.0 compliance framework
  prowler/CHANGELOG.md
  prowler/compliance/kubernetes/pci_4.0_kubernetes.json
Labels: compliance, backport-to-v5.7

#7952 fix(kubernetes): change object type to set for apiserver check
  prowler/CHANGELOG.md
  prowler/providers/kubernetes/services/apiserver/apiserver_strong_ciphers_only/apiserver_strong_ciphers_only.py
Labels: provider/kubernetes, backport-to-v5.7

#7955 fix(dashboard): handle account uids with 0 at start and end
  dashboard/pages/overview.py
  prowler/CHANGELOG.md
Labels: backport-to-v5.7

#7988 fix: improve error handling in UpdateViaCredentialsForm with early re…
  ui/CHANGELOG.md
  ui/actions/providers/providers.ts
  ui/app/(prowler)/providers/(set-up-provider)/add-credentials/page.tsx
  ui/components/providers/forms/delete-form.tsx
  ui/components/providers/forms/edit-form.tsx
  ui/components/providers/workflow/forms/add-via-credentials-form.tsx
  ui/components/providers/workflow/forms/add-via-role-form.tsx
  ui/components/providers/workflow/forms/base-credentials-form.tsx
  ui/components/providers/workflow/forms/index.ts
  ui/components/providers/workflow/forms/select-credentials-type/aws/credentials-type/aws-role-credentials-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/aws/credentials-type/aws-static-credentials-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/gcp/add-via-service-account-form.tsx
  ui/components/providers/workflow/forms/select-credentials-type/gcp/index.ts
  ui/components/providers/workflow/forms/select-credentials-type/gcp/via-service-account-form.tsx
  ui/components/providers/workflow/forms/update-via-credentials-form.tsx
  ui/components/providers/workflow/forms/update-via-role-form.tsx
  ui/components/providers/workflow/forms/update-via-service-account-key-form.tsx
  ui/components/providers/workflow/forms/via-credentials-form.tsx
  ui/components/providers/workflow/forms/via-role-form.tsx
  ui/hooks/index.ts
  ui/hooks/use-credentials-form.ts
  ui/hooks/use-form-server-errors.ts
  ui/hooks/use-local-storage.ts
  ui/lib/error-mappings.ts
  ui/lib/helper.ts
  ui/lib/index.ts
  ui/lib/provider-credentials/build-crendentials.ts
  ui/lib/provider-credentials/provider-credential-fields.ts
  ui/types/components.ts
  ui/types/formSchemas.ts
Labels: component/ui

#7878 feat(lighthouse): Add chat interface
  .env
  ui/CHANGELOG.md
  ui/actions/lighthouse/checks.ts
  ui/actions/lighthouse/complianceframeworks.ts
  ui/actions/lighthouse/compliances.ts
  ui/actions/lighthouse/index.ts
  ui/actions/lighthouse/lighthouse.ts
  ui/actions/lighthouse/resources.ts
  ui/app/(prowler)/lighthouse/config/page.tsx
  ui/app/(prowler)/lighthouse/page.tsx
  ui/app/api/lighthouse/analyst/route.ts
  ui/components/lighthouse/chat.tsx
  ui/components/lighthouse/chatbot-config.tsx
  ui/components/lighthouse/index.ts
  ui/components/lighthouse/memoized-markdown.tsx
  ui/lib/lighthouse/data.ts
  ui/lib/lighthouse/prompts.ts
  ui/lib/lighthouse/tools/checks.ts
  ui/lib/lighthouse/tools/compliances.ts
  ui/lib/lighthouse/tools/findings.ts
  ui/lib/lighthouse/tools/overview.ts
  ui/lib/lighthouse/tools/providers.ts
  ui/lib/lighthouse/tools/resources.ts
  ui/lib/lighthouse/tools/roles.ts
  ui/lib/lighthouse/tools/scans.ts
  ui/lib/lighthouse/tools/users.ts
  ui/lib/lighthouse/utils.ts
  ui/lib/lighthouse/workflow.ts
  ui/lib/menu-list.ts
  ui/package.json
  ui/types/lighthouse/checks.ts
  ui/types/lighthouse/compliances.ts
  ui/types/lighthouse/findings.ts
  ui/types/lighthouse/index.ts
  ui/types/lighthouse/overviews.ts
  ui/types/lighthouse/providers.ts
  ui/types/lighthouse/resources.ts
  ui/types/lighthouse/roles.ts
  ui/types/lighthouse/scans.ts
  ui/types/lighthouse/users.ts
Labels: component/ui

#8011 chore: update package-lock after lighthouse was merged
  ui/package-lock.json
Labels: component/ui

#8010 chore(changelog): make all consistent
  .github/workflows/api-pull-request.yml
  api/CHANGELOG.md
  prowler/CHANGELOG.md
  ui/CHANGELOG.md
Labels: github_actions, component/ui, component/api

#7967 fix(iam): check always if root credentials are present
  prowler/providers/aws/services/iam/iam_no_root_access_key/iam_no_root_access_key.metadata.json
  prowler/providers/aws/services/iam/iam_no_root_access_key/iam_no_root_access_key.py
  prowler/providers/aws/services/iam/iam_root_hardware_mfa_enabled/iam_root_hardware_mfa_enabled.metadata.json
  prowler/providers/aws/services/iam/iam_root_hardware_mfa_enabled/iam_root_hardware_mfa_enabled.py
  prowler/providers/aws/services/iam/iam_root_mfa_enabled/iam_root_mfa_enabled.metadata.json
  prowler/providers/aws/services/iam/iam_root_mfa_enabled/iam_root_mfa_enabled.py
  prowler/providers/aws/services/iam/iam_service.py
  tests/providers/aws/services/iam/iam_no_root_access_key/iam_no_root_access_key_test.py
  tests/providers/aws/services/iam/iam_root_hardware_mfa_enabled/iam_root_hardware_mfa_enabled_test.py
  tests/providers/aws/services/iam/iam_root_mfa_enabled/iam_root_mfa_enabled_test.py
Labels: provider/aws, backport-to-v5.7

#8015 chore: update CHANGELOG
  prowler/CHANGELOG.md
Labels: backport-to-v5.7

#7826 feat(contrib): add PowerBI integration
  contrib/PowerBI/Multicloud CIS Benchmarks/Prowler Multicloud CIS Benchmarks.pbit
  contrib/PowerBI/Multicloud CIS Benchmarks/readme.md
  docs/integrations/PowerBI.md
Labels: documentation

#7968 feat(UI): Add Provider detail component in Findings, Scan details
  ui/CHANGELOG.md
  ui/components/findings/table/finding-detail.tsx
  ui/components/scans/table/scan-detail.tsx
  ui/components/ui/entities/entity-info-short.tsx
Labels: component/ui

#7923 fix(app): change api call for `ftps_state`
  prowler/CHANGELOG.md
  prowler/providers/azure/services/app/app_service.py
  tests/providers/azure/services/app/app_service_test.py
Labels: provider/azure, backport-to-v5.7

#7926 fix(network): allow `0` as compliant value
  prowler/CHANGELOG.md
  prowler/providers/azure/services/network/network_flow_log_more_than_90_days/network_flow_log_more_than_90_days.metadata.json
  prowler/providers/azure/services/network/network_flow_log_more_than_90_days/network_flow_log_more_than_90_days.py
  tests/providers/azure/services/network/network_flow_log_more_than_90_days/network_flow_log_more_than_90_days_test.py
Labels: provider/azure, backport-to-v5.7

#7708 feat(aws): avoid bypassing IAM check using wildcards
  poetry.lock
  prowler/CHANGELOG.md
  prowler/providers/aws/services/iam/iam_policy_no_full_access_to_kms/iam_policy_no_full_access_to_kms.py
  prowler/providers/aws/services/iam/lib/policy.py
  prowler/providers/aws/services/iam/lib/privilege_escalation.py
  pyproject.toml
  tests/providers/aws/services/iam/iam_policy_allows_privilege_escalation/iam_policy_allows_privilege_escalation_test.py
  tests/providers/aws/services/iam/iam_policy_no_full_access_to_kms/iam_policy_no_full_access_to_kms_test.py
  tests/providers/aws/services/iam/lib/policy_test.py
  tests/providers/aws/services/iam/lib/privilege_escalation_test.py
Labels: provider/aws

#8028 fix(metadata): add missing `ResourceType` values
  prowler/CHANGELOG.md
  prowler/providers/aws/services/directconnect/directconnect_connection_redundancy/directconnect_connection_redundancy.metadata.json
  prowler/providers/aws/services/directconnect/directconnect_virtual_interface_redundancy/directconnect_virtual_interface_redundancy.metadata.json
  prowler/providers/azure/services/aisearch/aisearch_service_not_publicly_accessible/aisearch_service_not_publicly_accessible.metadata.json
  prowler/providers/azure/services/storage/storage_ensure_file_shares_soft_delete_is_enabled/storage_ensure_file_shares_soft_delete_is_enabled.metadata.json
  prowler/providers/gcp/services/compute/compute_project_os_login_enabled/compute_project_os_login_enabled.metadata.json
  prowler/providers/gcp/services/iam/iam_audit_logs_enabled/iam_audit_logs_enabled.metadata.json
Labels: provider/aws, provider/azure, provider/gcp, backport-to-v5.7

#8029 chore: add missing init file to check `repository_secret_scanning_enabled`
  prowler/providers/github/services/repository/repository_secret_scanning_enabled/__init__.py
Labels: provider/github, backport-to-v5.7

#7985 feat(m365): add ISO 27001 2022 compliance framework
  README.md
  dashboard/compliance/iso27001_2022_m365.py
  prowler/CHANGELOG.md
  prowler/__main__.py
  prowler/compliance/m365/iso27001_2022_m365.json
  prowler/lib/outputs/compliance/iso27001/iso27001_m365.py
  prowler/lib/outputs/compliance/iso27001/models.py
Labels: compliance

#8022 feat: touching up compliances views
  ui/CHANGELOG.md
  ui/app/(prowler)/compliance/[compliancetitle]/page.tsx
  ui/app/(prowler)/compliance/page.tsx
  ui/components/compliance/compliance-accordion/client-accordion-content.tsx
  ui/components/compliance/compliance-accordion/client-accordion-wrapper.tsx
  ui/components/compliance/compliance-card.tsx
  ui/components/compliance/compliance-charts/bar-chart.tsx
  ui/components/compliance/compliance-charts/heatmap-chart.tsx
  ui/components/compliance/compliance-header/compliance-header.tsx
  ui/components/compliance/compliance-header/compliance-scan-info.tsx
  ui/components/compliance/compliance-header/data-compliance.tsx
  ui/components/compliance/compliance-header/scan-selector.tsx
  ui/components/ui/nav-bar/navbar.tsx
  ui/lib/compliance/aws-well-architected.tsx
  ui/lib/compliance/cis.tsx
  ui/lib/compliance/commons.tsx
  ui/lib/compliance/compliance-mapper.ts
  ui/lib/compliance/ens.tsx
  ui/lib/compliance/generic.tsx
  ui/lib/compliance/iso.tsx
  ui/lib/compliance/kisa.tsx
  ui/lib/compliance/mitre.tsx
  ui/lib/compliance/threat.tsx
  ui/lib/helper-filters.ts
  ui/types/compliance.ts
  ui/types/scans.ts
Labels: component/ui

#8041 fix: correct parenthesis around the render condition
  ui/components/compliance/compliance-header/compliance-header.tsx
Labels: component/ui

#7595 feat(aws): add check to ensure Codebuild Github projects are only use allowed Github orgs
  docs/tutorials/configuration_file.md
  prowler/CHANGELOG.md
  prowler/config/config.yaml
  prowler/providers/aws/services/codebuild/codebuild_project_uses_allowed_github_organizations/codebuild_project_uses_allowed_github_organizations.metadata.json
  prowler/providers/aws/services/codebuild/codebuild_project_uses_allowed_github_organizations/codebuild_project_uses_allowed_github_organizations.py
  prowler/providers/aws/services/codebuild/codebuild_service.py
  prowler/providers/aws/services/iam/lib/policy.py
  tests/providers/aws/services/codebuild/codebuild_project_uses_allowed_github_organizations/codebuild_project_uses_allowed_github_organizations_test.py
  tests/providers/aws/services/iam/lib/policy_test.py
Labels: documentation, provider/aws

#7927 feat(azure): add new check `storage_blob_versioning_is_enabled `
  prowler/CHANGELOG.md
  prowler/providers/azure/services/storage/storage_blob_versioning_is_enabled/__init__.py
  prowler/providers/azure/services/storage/storage_blob_versioning_is_enabled/storage_blob_versioning_is_enabled.metadata.json
  prowler/providers/azure/services/storage/storage_blob_versioning_is_enabled/storage_blob_versioning_is_enabled.py
  prowler/providers/azure/services/storage/storage_service.py
  tests/providers/azure/services/storage/storage_blob_versioning_is_enabled/storage_blob_versioning_is_enabled_test.py
Labels: provider/azure

#7977 feat(storage): add new check `storage_cross_tenant_replication_disabled`
  prowler/CHANGELOG.md
  prowler/providers/azure/services/storage/storage_cross_tenant_replication_disabled/__init__.py
  prowler/providers/azure/services/storage/storage_cross_tenant_replication_disabled/storage_cross_tenant_replication_disabled.metadata.json
  prowler/providers/azure/services/storage/storage_cross_tenant_replication_disabled/storage_cross_tenant_replication_disabled.py
  prowler/providers/azure/services/storage/storage_service.py
  tests/providers/azure/services/storage/storage_cross_tenant_replication_disabled/storage_cross_tenant_replication_disabled_test.py
  tests/providers/azure/services/storage/storage_service_test.py
Labels: provider/azure

#8043 fix(m365): avoid user requests in `setup_identity` app context and user auth log enhancement
  docs/getting-started/requirements.md
  docs/tutorials/microsoft365/getting-started-m365.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/m365_provider.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
Labels: documentation, component/api

#8008 feat(azure): add Databricks service and check for workspace VNet injection
  poetry.lock
  prowler/CHANGELOG.md
  prowler/providers/azure/services/databricks/__init__.py
  prowler/providers/azure/services/databricks/databricks_client.py
  prowler/providers/azure/services/databricks/databricks_service.py
  prowler/providers/azure/services/databricks/databricks_workspace_vnet_injection_enabled/__init__.py
  prowler/providers/azure/services/databricks/databricks_workspace_vnet_injection_enabled/databricks_workspace_vnet_injection_enabled.metadata.json
  prowler/providers/azure/services/databricks/databricks_workspace_vnet_injection_enabled/databricks_workspace_vnet_injection_enabled.py
  pyproject.toml
  tests/providers/azure/services/databricks/databricks_service_test.py
  tests/providers/azure/services/databricks/databricks_workspace_vnet_injection_enabled/databricks_workspace_vnet_injection_enabled_test.py
Labels: provider/azure

#7980 feat(azure): add new check `storage_geo_redundant_enabled`
  prowler/CHANGELOG.md
  prowler/providers/azure/services/storage/storage_geo_redundant_enabled/__init__.py
  prowler/providers/azure/services/storage/storage_geo_redundant_enabled/storage_geo_redundant_enabled.metadata.json
  prowler/providers/azure/services/storage/storage_geo_redundant_enabled/storage_geo_redundant_enabled.py
  prowler/providers/azure/services/storage/storage_service.py
  tests/providers/azure/services/storage/storage_geo_redundant_enabled/storage_geo_redundant_enabled_test.py
  tests/providers/azure/services/storage/storage_service_test.py
Labels: provider/azure

#8017 feat(azure): add new check `databricks_workspace_cmk_encryption_enabled`
  prowler/CHANGELOG.md
  prowler/providers/azure/services/databricks/databricks_service.py
  prowler/providers/azure/services/databricks/databricks_workspace_cmk_encryption_enabled/__init__.py
  prowler/providers/azure/services/databricks/databricks_workspace_cmk_encryption_enabled/databricks_workspace_cmk_encryption_enabled.metadata.json
  prowler/providers/azure/services/databricks/databricks_workspace_cmk_encryption_enabled/databricks_workspace_cmk_encryption_enabled.py
  tests/providers/azure/services/databricks/databricks_service_test.py
  tests/providers/azure/services/databricks/databricks_workspace_cmk_encryption_enabled/databricks_workspace_cmk_encryption_enabled_test.py
Labels: provider/azure

#7981 feat(storage): add new check `storage_default_to_entra_authorization_enabled`
  prowler/CHANGELOG.md
  prowler/providers/azure/services/storage/storage_default_to_entra_authorization_enabled/__init__.py
  prowler/providers/azure/services/storage/storage_default_to_entra_authorization_enabled/storage_default_to_entra_authorization_enabled.metadata.json
  prowler/providers/azure/services/storage/storage_default_to_entra_authorization_enabled/storage_default_to_entra_authorization_enabled.py
  prowler/providers/azure/services/storage/storage_service.py
  tests/providers/azure/services/storage/storage_default_to_entra_authorization_enabled/storage_default_to_entra_authorization_enabled_test.py
  tests/providers/azure/services/storage/storage_service_test.py
Labels: provider/azure

#8040 feat(azure): add new check `iam_role_user_access_admin_restricted`
  prowler/providers/azure/services/app/app_function_identity_without_admin_privileges/app_function_identity_without_admin_privileges.py
  prowler/providers/azure/services/entra/entra_user_with_vm_access_has_mfa/entra_user_with_vm_access_has_mfa.py
  prowler/providers/azure/services/iam/iam_custom_role_has_permissions_to_administer_resource_locks/iam_custom_role_has_permissions_to_administer_resource_locks.py
  prowler/providers/azure/services/iam/iam_role_user_access_admin_restricted/__init__.py
  prowler/providers/azure/services/iam/iam_role_user_access_admin_restricted/iam_role_user_access_admin_restricted.metadata.json
  prowler/providers/azure/services/iam/iam_role_user_access_admin_restricted/iam_role_user_access_admin_restricted.py
  prowler/providers/azure/services/iam/iam_service.py
  prowler/providers/azure/services/iam/iam_subscription_roles_owner_custom_not_created/iam_subscription_roles_owner_custom_not_created.py
  tests/providers/azure/services/app/app_function_identity_without_admin_privileges/app_function_identity_without_admin_privileges_test.py
  tests/providers/azure/services/entra/entra_user_with_vm_access_has_mfa/entra_user_with_vm_access_has_mfa_test.py
  tests/providers/azure/services/iam/iam_custom_role_has_permissions_to_administer_resource_locks/iam_custom_role_has_permissions_to_administer_resource_locks_test.py
  tests/providers/azure/services/iam/iam_role_user_access_admin_restricted/iam_role_user_access_admin_restricted_test.py
  tests/providers/azure/services/iam/iam_subscription_roles_owner_custom_not_created/iam_subscription_roles_owner_custom_not_created_test.py
Labels: provider/azure

#8058 feat: add Google Tag Manager integration
  .env
  ui/CHANGELOG.md
  ui/app/(auth)/layout.tsx
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#8051 chore(api): clean up old files
  api/.gitignore
  api/.pre-commit-config.yaml
Labels: component/api

#8066 fix(changelog): Add missing entries
  ui/CHANGELOG.md
Labels: component/ui

#8070 feat: integrate Google Tag Manager manually to avoid ORB blocking
  .env
  ui/next.config.js
Labels: component/ui, no-changelog

#8075 feat(docs): update Azure and M365 docs with needed permissions
  docs/getting-started/requirements.md
  docs/tutorials/azure/getting-started-azure.md
  docs/tutorials/azure/img/domain-permission.png
  docs/tutorials/microsoft365/getting-started-m365.md
  docs/tutorials/microsoft365/img/app-permissions.png
  docs/tutorials/microsoft365/img/final-permissions-m365.png
  docs/tutorials/microsoft365/img/grant-admin-consent.png
  prowler/CHANGELOG.md
  prowler/providers/azure/services/entra/entra_service.py
Labels: documentation, provider/azure

#8084 chore(gha): avoid comment on PRs for check-changelog workflow
  .github/workflows/pull-request-check-changelog.yml
Labels: github_actions

#8019 fix(ui): resolve accessibility warnings for Sheet and SVG elements
  ui/CHANGELOG.md
  ui/components/icons/Icons.tsx
  ui/components/ui/sidebar/sheet-menu.tsx
Labels: component/ui

#8091 fix(organizations): `Key Error: Statement` in check `organizations_scp_deny_regions`
  prowler/CHANGELOG.md
  prowler/providers/aws/services/organizations/organizations_scp_check_deny_regions/organizations_scp_check_deny_regions.py
  tests/providers/aws/services/organizations/organizations_scp_check_deny_regions/organizations_scp_check_deny_regions_test.py
Labels: provider/aws, backport-to-v5.7

#8097 fix(aws): retrieve correctly ECS Container insights settings
  prowler/CHANGELOG.md
  prowler/providers/aws/services/ecs/ecs_cluster_container_insights_enabled/ecs_cluster_container_insights_enabled.py
  prowler/providers/aws/services/ecs/ecs_service.py
  tests/providers/aws/services/ecs/ecs_cluster_container_insights_enabled/ecs_cluster_container_insights_enabled_test.py
Labels: provider/aws, backport-to-v5.7

#8106 fix: update lighthouse chat page name
  ui/app/(prowler)/lighthouse/page.tsx
  ui/components/lighthouse/chat.tsx
Labels: component/ui, no-changelog

#8114 chore: ignore Flask Safety alert in API
  .github/workflows/api-pull-request.yml
Labels: github_actions

#8107 feat: Playright setup
  .github/workflows/ui-pull-request.yml
  ui/package-lock.json
  ui/package.json
  ui/playwright.config.ts
  ui/tests/example.spec.ts
Labels: github_actions, component/ui, no-changelog

#8115 fix(gcp): handle case sensitivity in `block-project-ssh-keys`
  prowler/CHANGELOG.md
  prowler/providers/gcp/services/compute/compute_instance_block_project_wide_ssh_keys_disabled/compute_instance_block_project_wide_ssh_keys_disabled.py
  tests/providers/gcp/services/compute/compute_instance_block_project_wide_ssh_keys_disabled/compute_instance_block_project_wide_ssh_keys_disabled_test.py
Labels: provider/gcp, backport-to-v5.7

#8125 docs: update changelog
  ui/CHANGELOG.md
Labels: component/ui

#8129 docs(prowler-app): add new auth method for GCP
  docs/tutorials/img/gcp-auth-methods.png
  docs/tutorials/img/gcp-service-account-creds.png
  docs/tutorials/prowler-app.md
Labels: documentation

#8122 docs(developer-guide): add configurable checks documentation
  docs/developer-guide/checks.md
  docs/developer-guide/configurable-checks.md
  mkdocs.yml
Labels: documentation

#8133 fix(compliance): Avoid initializing Prowler provider
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tests/test_scan.py
Labels: component/api, no-changelog

#7850 fix(version): only for master branch
  .env
  api/poetry.lock
  poetry.lock
Labels: component/api, no-changelog

#8138 restore: change api redirect
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
  api/src/backend/config/django/base.py
Labels: component/api, no-changelog

#8139 docs: update changelog
  ui/CHANGELOG.md
Labels: component/ui
