Repository prowler-cloud/prowler, pull requests merged in 2025-04, with the labels that each got.

#7401 fix(scans): Handle duplicated scan tasks
  api/CHANGELOG.md
  api/src/backend/tasks/tasks.py
Labels: component/api, backport-to-v5.4

#7411 fix(report): log as error when Resource ID or Name do not exist
  prowler/lib/outputs/finding.py
Labels: backport-to-v5.4

#7410 fix(resources): add the correct id and names for resources
  prowler/providers/azure/services/defender/defender_container_images_scan_enabled/defender_container_images_scan_enabled.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_azure_sql_databases_is_on/defender_ensure_defender_for_azure_sql_databases_is_on.py
  prowler/providers/azure/services/defender/defender_ensure_defender_for_containers_is_on/defender_ensure_defender_for_containers_is_on.py
  prowler/providers/azure/services/defender/defender_service.py
  prowler/providers/gcp/services/compute/compute_project_os_login_enabled/compute_project_os_login_enabled.py
  prowler/providers/gcp/services/iam/iam_audit_logs_enabled/iam_audit_logs_enabled.py
  tests/providers/azure/services/defender/defender_container_images_scan_enabled/defender_container_images_scan_enabled_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_app_services_is_on/defender_ensure_defender_for_app_services_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_arm_is_on/defender_ensure_defender_for_arm_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_azure_sql_databases_is_on/defender_ensure_defender_for_azure_sql_databases_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_containers_is_on/defender_ensure_defender_for_containers_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_cosmosdb_is_on/defender_ensure_defender_for_cosmosdb_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_databases_is_on/defender_ensure_defender_for_databases_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_dns_is_on/defender_ensure_defender_for_dns_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_keyvault_is_on/defender_ensure_defender_for_keyvault_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_os_relational_databases_is_on/defender_ensure_defender_for_os_relational_databases_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_server_is_on/defender_ensure_defender_for_server_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_sql_servers_is_on/defender_ensure_defender_for_sql_servers_is_on_test.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_storage_is_on/defender_ensure_defender_for_storage_is_on_test.py
  tests/providers/azure/services/defender/defender_service_test.py
  tests/providers/gcp/services/compute/compute_project_os_login_enabled/compute_project_os_login_enabled_test.py
  tests/providers/gcp/services/iam/iam_audit_logs_enabled/iam_audit_logs_enabled_test.py
Labels: provider/azure, provider/gcp, backport-to-v4.6, backport-to-v5.4

#7423 chore(deletion): Add environment variable for batch size
  api/.env.example
  api/CHANGELOG.md
  api/src/backend/api/db_utils.py
  api/src/backend/config/django/base.py
Labels: component/api, backport-to-v5.4

#7421 fix(gcp): make logging sink check at project level
  prowler/providers/gcp/services/logging/logging_sink_created/logging_sink_created.py
  tests/providers/gcp/services/logging/logging_sink_created/logging_sink_created_test.py
Labels: provider/gcp, backport-to-v5.4

#7420 fix(azure): remove `reource_name` inside the `Check_Report`
  prowler/providers/azure/services/defender/defender_ensure_defender_for_databases_is_on/defender_ensure_defender_for_databases_is_on.py
  prowler/providers/gcp/services/compute/compute_project_os_login_enabled/compute_project_os_login_enabled.py
  prowler/providers/gcp/services/iam/iam_audit_logs_enabled/iam_audit_logs_enabled.py
  tests/providers/azure/services/defender/defender_ensure_defender_for_databases_is_on/defender_ensure_defender_for_databases_is_on_test.py
  tests/providers/gcp/services/compute/compute_project_os_login_enabled/compute_project_os_login_enabled_test.py
  tests/providers/gcp/services/iam/iam_audit_logs_enabled/iam_audit_logs_enabled_test.py
Labels: provider/azure, provider/gcp, backport-to-v4.6, backport-to-v5.4

#7437 fix: correct fetch variable name from invitations to roles
  ui/actions/roles/roles.ts
Labels: component/ui

#7318 feat: add missing SDK fields to API findings and resources
  api/CHANGELOG.md
  api/src/backend/api/migrations/0016_finding_compliance_resource_details_and_more.py
  api/src/backend/api/models.py
  api/src/backend/tasks/jobs/scan.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_scan.py
  api/src/backend/tasks/utils.py
  examples/output/example_output_azure.ocsf.json
  prowler/lib/outputs/finding.py
  tests/lib/outputs/finding_test.py
Labels: component/api, review-django-migrations

#7432 fix(docs): solve broken links
  docs/getting-started/requirements.md
  mkdocs.yml
Labels: documentation

#7431 fix(aws): solve multiple errors
  prowler/providers/aws/services/awslambda/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled.py
  prowler/providers/aws/services/cloudformation/cloudformation_stack_cdktoolkit_bootstrap_version/cloudformation_stack_cdktoolkit_bootstrap_version.py
  prowler/providers/aws/services/codebuild/codebuild_project_logging_enabled/codebuild_project_logging_enabled.py
  prowler/providers/aws/services/codebuild/codebuild_project_s3_logs_encrypted/codebuild_project_s3_logs_encrypted.py
  prowler/providers/aws/services/ec2/ec2_service.py
  prowler/providers/aws/services/ec2/lib/instance.py
  prowler/providers/aws/services/s3/s3_service.py
  prowler/providers/aws/services/sagemaker/sagemaker_service.py
  tests/providers/aws/services/codebuild/codebuild_project_logging_enabled/codebuild_project_logging_enabled_test.py
Labels: provider/aws, backport-to-v5.4

#7438 fix(defender): add default resource name in contacts
  prowler/providers/azure/services/defender/defender_service.py
Labels: provider/azure, backport-to-v5.4

#7439 refactor: extract common auth headers into reusable helper
  ui/actions/compliances/compliances.ts
  ui/actions/findings/findings.ts
  ui/actions/invitations/invitation.ts
  ui/actions/manage-groups/manage-groups.ts
  ui/actions/overview/overview.ts
  ui/actions/providers/providers.ts
  ui/actions/roles/roles.ts
  ui/actions/scans/scans.ts
  ui/actions/task/tasks.ts
  ui/actions/users/users.ts
  ui/lib/helper.ts
Labels: component/ui

#7442 fix(gcp): ignore redirect balancers and add regional ones
  prowler/providers/gcp/services/compute/compute_loadbalancer_logging_enabled/compute_loadbalancer_logging_enabled.py
  prowler/providers/gcp/services/compute/compute_service.py
  tests/providers/gcp/gcp_fixtures.py
  tests/providers/gcp/services/compute/compute_loadbalancer_logging_enabled/compute_loadbalancer_logging_enabled_test.py
  tests/providers/gcp/services/compute/compute_service_test.py
Labels: provider/gcp, backport-to-v5.4

#7436 fix(gcp): handle logic for empty project names
  prowler/providers/gcp/gcp_provider.py
Labels: provider/gcp, backport-to-v5.4

#7466 fix(provider): disable periodic task on views before deleting
  api/CHANGELOG.md
  api/src/backend/api/v1/views.py
Labels: component/api, backport-to-v5.4

#7468 feat: add link with the service status using static icon
  ui/CHANGELOG.md
  ui/components/ui/sidebar/menu.tsx
Labels: component/ui

#7456 fix: handle errors in AWS, Azure, and GCP
  api/src/backend/config/settings/sentry.py
  prowler/providers/aws/services/redshift/redshift_cluster_public_access/redshift_cluster_public_access.py
  prowler/providers/azure/services/containerregistry/containerregistry_service.py
  prowler/providers/azure/services/keyvault/keyvault_service.py
  prowler/providers/azure/services/monitor/monitor_service.py
  prowler/providers/azure/services/network/network_service.py
  prowler/providers/gcp/services/cloudstorage/cloudstorage_bucket_log_retention_policy_lock/cloudstorage_bucket_log_retention_policy_lock.py
  tests/providers/aws/services/redshift/redshift_cluster_public_access/redshift_cluster_public_access_test.py
Labels: provider/aws, provider/azure, provider/gcp, component/api, backport-to-v5.4

#7473 feat: update the NextJS version to the latest
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#7474 fix(ui): Remove UTC from timestamps in app
  ui/components/ui/entities/date-with-time.tsx
Labels: component/ui

#7481 fix: fix TS type for session duration
  ui/types/formSchemas.ts
Labels: component/ui

#7482 fix: handle errors in AWS and Azure
  api/src/backend/config/settings/sentry.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled/cloudtrail_multi_region_enabled.py
  prowler/providers/aws/services/cognito/cognito_user_pool_blocks_compromised_credentials_sign_in_attempts/cognito_user_pool_blocks_compromised_credentials_sign_in_attempts.py
  prowler/providers/aws/services/cognito/cognito_user_pool_blocks_potential_malicious_sign_in_attempts/cognito_user_pool_blocks_potential_malicious_sign_in_attempts.py
  prowler/providers/aws/services/rds/rds_cluster_critical_event_subscription/rds_cluster_critical_event_subscription.py
  prowler/providers/aws/services/redshift/redshift_service.py
  prowler/providers/azure/services/network/network_service.py
Labels: provider/aws, provider/azure, component/api

#7484 chore(changelog): Prepare for v5.5.0
  api/CHANGELOG.md
  ui/CHANGELOG.md
Labels: component/ui, component/api

#7493 fix: update redirect URL for SSO
  ui/app/api/auth/callback/github/route.ts
  ui/app/api/auth/callback/google/route.ts
Labels: component/ui

#7498 fix(findings): increase uid max length to 600
  api/CHANGELOG.md
  api/pyproject.toml
  api/src/backend/api/migrations/0017_alter_finding_uid.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_models.py
  api/src/backend/api/v1/views.py
Labels: component/api, review-django-migrations, backport-to-v5.5

#7483 fix(defender): add default name to contacts
  prowler/lib/outputs/finding.py
  prowler/providers/azure/services/defender/defender_service.py
Labels: provider/azure, backport-to-v5.5

#7489 feat(azure): add SOC2 compliance framework
  README.md
  dashboard/compliance/soc2_azure.py
  prowler/compliance/azure/soc2_azure.json
Labels: compliance

#7496 fix(gcp): handle projects without ID
  prowler/providers/gcp/gcp_provider.py
Labels: provider/gcp, backport-to-v5.5

#7419 feat(gcp): add check for unused Service Accounts
  README.md
  prowler/compliance/gcp/mitre_attack_gcp.json
  prowler/config/config.yaml
  prowler/providers/gcp/services/iam/iam_sa_user_managed_key_unused/iam_sa_user_managed_key_unused.metadata.json
  prowler/providers/gcp/services/iam/iam_sa_user_managed_key_unused/iam_sa_user_managed_key_unused.py
  prowler/providers/gcp/services/iam/iam_service.py
  prowler/providers/gcp/services/iam/iam_service_account_unused/__init__.py
  prowler/providers/gcp/services/iam/iam_service_account_unused/iam_service_account_unused.metadata.json
  prowler/providers/gcp/services/iam/iam_service_account_unused/iam_service_account_unused.py
  prowler/providers/gcp/services/monitoring/monitoring_service.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
  tests/providers/gcp/gcp_fixtures.py
  tests/providers/gcp/gcp_provider_test.py
  tests/providers/gcp/services/iam/iam_sa_dormant_user_managed_keys/iam_sa_dormant_user_managed_keys_test.py
  tests/providers/gcp/services/iam/iam_sa_no_administrative_privileges/iam_sa_no_administrative_privileges_test.py
  tests/providers/gcp/services/iam/iam_sa_no_user_managed_keys/iam_sa_no_user_managed_keys_test.py
  tests/providers/gcp/services/iam/iam_sa_user_managed_key_rotate_90_days/iam_sa_user_managed_key_rotate_90_days_test.py
  tests/providers/gcp/services/iam/iam_service_account_unused/iam_service_account_unused_test.py
  tests/providers/gcp/services/iam/iamgcp_service_test.py
  tests/providers/gcp/services/monitoring/monitoring_service_test.py
Labels: documentation, provider/gcp, compliance

#7523 chore(changelog): prepare for 5.5.1
  .github/workflows/sdk-pull-request.yml
  api/CHANGELOG.md
  prowler/CHANGELOG.md
Labels: github_actions, component/api, backport-to-v5.5

#7528 revert: fix(findings): increase uid max length to 600
  api/CHANGELOG.md
  api/pyproject.toml
  api/src/backend/api/migrations/0017_alter_finding_uid.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_models.py
  api/src/backend/api/v1/views.py
Labels: component/api, review-django-migrations, backport-to-v5.5

#7532 chore(action): Remove cache in PyPI release
  .github/workflows/sdk-pypi-release.yml
  prowler/CHANGELOG.md
Labels: github_actions

#7531 fix(pypi): package name location in pyproject.toml while replicating for prowler-cloud
  prowler/CHANGELOG.md
  util/replicate_pypi_package.py
Labels: was-backported, backport-to-v5.5

#7488 docs(gcp): update required permissions for GCP
  docs/getting-started/requirements.md
  docs/tutorials/gcp/authentication.md
Labels: documentation

#7526 fix(iam): change some logger.info values
  prowler/CHANGELOG.md
  prowler/providers/aws/services/iam/iam_service.py
Labels: provider/aws, github_actions, component/api, backport-to-v5.5

#7539 chore(regions): change interval to weekly
  .github/workflows/sdk-refresh-aws-services-regions.yml
Labels: github_actions

#7495 feat(gcp): support CLOUDSDK_AUTH_ACCESS_TOKEN
  docs/tutorials/gcp/authentication.md
  prowler/CHANGELOG.md
  prowler/providers/gcp/gcp_provider.py
  tests/providers/gcp/gcp_provider_test.py
Labels: documentation, provider/gcp

#7533 feat(teams): add new check `teams_email_sending_to_channel_disabled`
  prowler/CHANGELOG.md
  prowler/providers/m365/services/teams/teams_email_sending_to_channel_disabled/__init__.py
  prowler/providers/m365/services/teams/teams_email_sending_to_channel_disabled/teams_email_sending_to_channel_disabled.metadata.json
  prowler/providers/m365/services/teams/teams_email_sending_to_channel_disabled/teams_email_sending_to_channel_disabled.py
  prowler/providers/m365/services/teams/teams_service.py
  tests/providers/m365/services/teams/teams_email_sending_to_channel_disabled/teams_email_sending_to_channel_disabled_test.py
Labels: documentation

#7408 feat(exchange): add service and new check `exchange_organization_mailbox_auditing_enabled`
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/__init__.py
  prowler/providers/m365/services/exchange/exchange_client.py
  prowler/providers/m365/services/exchange/exchange_organization_mailbox_auditing_enabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_organization_mailbox_auditing_enabled/exchange_organization_mailbox_auditing_enabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_organization_mailbox_auditing_enabled/exchange_organization_mailbox_auditing_enabled.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_organization_mailbox_auditing_enabled/exchange_organization_mailbox_auditing_enabled_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Labels: provider/m365

#7418 feat(exchange): add new check `exchange_mailbox_audit_bypass_disabled`
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/admincenter/admincenter_service.py
  prowler/providers/m365/services/exchange/exchange_mailbox_audit_bypass_disabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_mailbox_audit_bypass_disabled/exchange_mailbox_audit_bypass_disabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_mailbox_audit_bypass_disabled/exchange_mailbox_audit_bypass_disabled.py
  prowler/providers/m365/services/exchange/exchange_service.py
  prowler/providers/m365/services/purview/purview_audit_log_search_enabled/purview_audit_log_search_enabled.py
  prowler/providers/m365/services/purview/purview_service.py
  prowler/providers/m365/services/teams/teams_email_sending_to_channel_disabled/teams_email_sending_to_channel_disabled.py
  prowler/providers/m365/services/teams/teams_external_file_sharing_restricted/teams_external_file_sharing_restricted.py
  prowler/providers/m365/services/teams/teams_service.py
  tests/providers/m365/services/exchange/exchange_mailbox_audit_bypass_disabled/exchange_mailbox_audit_bypass_disabled_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Labels: provider/m365

#7425 feat(defender): add service and new check `defender_malware_policy_common_attachments_filter_enabled`
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/defender/__init__.py
  prowler/providers/m365/services/defender/defender_client.py
  prowler/providers/m365/services/defender/defender_malware_policy_common_attachments_filter_enabled/__init__.py
  prowler/providers/m365/services/defender/defender_malware_policy_common_attachments_filter_enabled/defender_malware_policy_common_attachments_filter_enabled.metadata.json
  prowler/providers/m365/services/defender/defender_malware_policy_common_attachments_filter_enabled/defender_malware_policy_common_attachments_filter_enabled.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/defender_malware_policy_common_attachments_filter_enabled/defender_malware_policy_common_attachments_filter_enabled_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
Labels: provider/m365

#7453 feat(defender): add new check `defender_antiphishing_policy_configured`
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/defender/defender_antiphishing_policy_configured/__init__.py
  prowler/providers/m365/services/defender/defender_antiphishing_policy_configured/defender_antiphishing_policy_configured.metadata.json
  prowler/providers/m365/services/defender/defender_antiphishing_policy_configured/defender_antiphishing_policy_configured.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/defender_antiphishing_policy_configured/defender_antiphishing_policy_configured_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
Labels: provider/m365

#7547 fix(aws): remove `SHA-1` from ACM insecure key algorithms
  contrib/k8s/helm/prowler-api/values.yaml
  prowler/config/config.yaml
  prowler/providers/aws/services/acm/acm_certificates_with_secure_key_algorithms/acm_certificates_with_secure_key_algorithms.py
  tests/config/config_test.py
  tests/config/fixtures/config.yaml
Labels: provider/aws, backport-to-v5.5

#7551 chore: fix trigger
  .github/workflows/pull-request-merged.yml
Labels: github_actions

#7552 chore: fix json body
  .github/workflows/pull-request-merged.yml
Labels: github_actions

#7553 chore: pass labels
  .github/workflows/pull-request-merged.yml
Labels: github_actions

#7555 chore: pass labels as json is required
  .github/workflows/pull-request-merged.yml
Labels: github_actions

#7558 chore: pass labels on PR merge trigger
  .github/workflows/pull-request-merged.yml
Labels: testing-pending, github_actions

#7564 chore(tests): Split by provider in the SDK
  .github/workflows/sdk-pull-request.yml
Labels: github_actions

#7546 fix(azure): handle new FlowLog properties
  prowler/CHANGELOG.md
  prowler/providers/azure/services/network/network_service.py
Labels: provider/azure, backport-to-v5.5

#7570 fix(k8s): Remove command as it is not needed
  contrib/k8s/helm/prowler-cli/templates/job.yaml
  kubernetes/job.yaml
Labels: backport-to-v5.5

#7480 feat(defender): add new check `defender_antispam_outbound_policy_configured`
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/defender/defender_antispam_outbound_policy_configured/__init__.py
  prowler/providers/m365/services/defender/defender_antispam_outbound_policy_configured/defender_antispam_outbound_policy_configured.metadata.json
  prowler/providers/m365/services/defender/defender_antispam_outbound_policy_configured/defender_antispam_outbound_policy_configured.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/defender_antispam_outbound_policy_configured/defender_antispam_outbound_policy_configured_test.py
  tests/providers/m365/services/defender/defender_malware_policy_common_attachments_filter_enabled/defender_malware_policy_common_attachments_filter_enabled_test.py
  tests/providers/m365/services/defender/defender_malware_policy_notifications_internal_users_malware_enabled/defender_malware_policy_notifications_internal_users_malware_enabled_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
Labels: provider/m365

#7545 fix(aws): update bucket naming validation to accept dots
  prowler/CHANGELOG.md
  prowler/providers/aws/lib/arguments/arguments.py
  tests/lib/cli/parser_test.py
Labels: provider/aws, backport-to-v5.5

#7577 fix(actions): Include files within providers for SDK tests
  .github/workflows/sdk-pull-request.yml
Labels: github_actions, backport-to-v5.5

#7574 fix(aws): use correct ports in `ec2_instance_port_cifs_exposed_to_internet` recommendation
  prowler/providers/aws/services/ec2/ec2_instance_port_cifs_exposed_to_internet/ec2_instance_port_cifs_exposed_to_internet.metadata.json
Labels: provider/aws, backport-to-v5.5

#7492 feat(defender): add new check `defender_antispam_connection_filter_policy_empty_ip_allowlist`
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_empty_ip_allowlist/__init__.py
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_empty_ip_allowlist/defender_antispam_connection_filter_policy_empty_ip_allowlist.metadata.json
  prowler/providers/m365/services/defender/defender_antispam_connection_filter_policy_empty_ip_allowlist/defender_antispam_connection_filter_policy_empty_ip_allowlist.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/defender_antispam_connection_filter_policy_empty_ip_allowlist/defender_antispam_connection_filter_policy_empty_ip_allowlist_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
Labels: provider/m365

#7591 feat(m365): add the new provider m365 - UI part
  ui/actions/providers/providers.ts
  ui/components/icons/providers-badge/aws-provider-badge.tsx
  ui/components/icons/providers-badge/azure-provider-badge.tsx
  ui/components/icons/providers-badge/gcp-provider-badge.tsx
  ui/components/icons/providers-badge/index.ts
  ui/components/icons/providers-badge/ks8-provider-badge.tsx
  ui/components/icons/providers-badge/m365-provider-badge.tsx
  ui/components/providers/provider-info.tsx
  ui/components/providers/radio-group-provider.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/providers/workflow/forms/via-credentials-form.tsx
  ui/components/providers/workflow/forms/via-credentials/index.ts
  ui/components/providers/workflow/forms/via-credentials/m365-credentials-form.tsx
  ui/components/ui/entities/get-provider-logo.tsx
  ui/types/components.ts
  ui/types/formSchemas.ts
Labels: component/ui

#7592 chore: remove deprecated launch scan page from old 4-step workflow
  ui/app/(prowler)/providers/(set-up-provider)/launch-scan/page.tsx
  ui/components/providers/workflow/forms/index.ts
  ui/components/providers/workflow/forms/launch-scan-form.tsx
Labels: component/ui

#7582 fix(scan): handle cloud provider errors and ignore expected sentry noise
  api/src/backend/config/settings/sentry.py
  prowler/providers/aws/services/cloudtrail/cloudtrail_multi_region_enabled/cloudtrail_multi_region_enabled.py
  prowler/providers/aws/services/iam/iam_service.py
  prowler/providers/azure/services/defender/defender_service.py
  prowler/providers/gcp/services/cloudsql/cloudsql_service.py
Labels: provider/aws, provider/azure, provider/gcp, component/api, backport-to-v5.5

#7588 fix(docs): overview m365 auth
  docs/getting-started/requirements.md
  docs/index.md
Labels: documentation

#7500 feat(defender): Add new check `defender_antispam_policy_inbound_no_allowed_domains`
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/defender/defender_antispam_policy_inbound_no_allowed_domains/__init__.py
  prowler/providers/m365/services/defender/defender_antispam_policy_inbound_no_allowed_domains/defender_antispam_policy_inbound_no_allowed_domains.metadata.json
  prowler/providers/m365/services/defender/defender_antispam_policy_inbound_no_allowed_domains/defender_antispam_policy_inbound_no_allowed_domains.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/defender_antispam_policy_inbound_no_allowed_domains/defender_antispam_policy_inbound_no_allowed_domains_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
Labels: provider/m365

#7580 feat(exchange): add new check `exchange_external_email_tagging_enabled`
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/exchange_external_email_tagging_enabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_external_email_tagging_enabled/exchange_external_email_tagging_enabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_external_email_tagging_enabled/exchange_external_email_tagging_enabled.py
  prowler/providers/m365/services/exchange/exchange_service.py
  prowler/providers/m365/services/exchange/exchange_transport_rules_whitelist_disabled/exchange_transport_rules_whitelist_disabled.py
  tests/providers/m365/services/exchange/exchange_external_email_tagging_enabled/exchange_external_email_tagging_enabled_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
  tests/providers/m365/services/exchange/exchange_transport_rules_whitelist_disabled/exchange_transport_rules_whitelist_disabled_test.py
Labels: provider/m365

#7600 fix(nhn): remove unneeded parameter
  prowler/CHANGELOG.md
  prowler/__main__.py
Labels: backport-to-v5.5

#7560 chore(actions): Bump Prowler version on release
  .github/workflows/sdk-bump-version.yml
Labels: github_actions

#7596 fix(compliance): improve compliance and dashboard
  dashboard/common_methods.py
  dashboard/compliance/aws_well_architected_framework_reliability_pillar_aws.py
  dashboard/compliance/aws_well_architected_framework_security_pillar_aws.py
  dashboard/compliance/kisa_isms_p_2023_aws.py
  dashboard/compliance/kisa_isms_p_2023_korean_aws.py
  prowler/CHANGELOG.md
  prowler/compliance/aws/kisa_isms_p_2023_aws.json
  prowler/compliance/azure/cis_2.0_azure.json
  prowler/compliance/azure/cis_2.1_azure.json
  prowler/compliance/azure/cis_3.0_azure.json
Labels: compliance, backport-to-v5.5

#7615 feat: add new M365 to the provider overview table
  ui/components/overview/provider-overview/provider-overview.tsx
Labels: component/ui

#7603 feat(compliance): add new Prowler Threat Score Compliance Framework
  dashboard/compliance/prowler_threatscore_aws.py
  dashboard/compliance/prowler_threatscore_azure.py
  dashboard/compliance/prowler_threatscore_gcp.py
  dashboard/pages/compliance.py
  prowler/CHANGELOG.md
  prowler/__main__.py
  prowler/compliance/aws/prowler_threatscore_aws.json
  prowler/compliance/azure/prowler_threatscore_azure.json
  prowler/compliance/gcp/prowler_threatscore_gcp.json
  prowler/lib/check/compliance_models.py
  prowler/lib/outputs/compliance/compliance.py
  prowler/lib/outputs/compliance/prowler_threatscore/__init__.py
  prowler/lib/outputs/compliance/prowler_threatscore/models.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_aws.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_azure.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_gcp.py
  prowler_threatscore_aws
  prowler_threatscore_azure
  prowler_threatscore_gcp
  tests/lib/outputs/compliance/fixtures.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_aws_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_azure_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_gcp_test.py
  util/generate_compliance_json_from_csv_threatscope.py
  util/get_prowler_threatscore_from_generic_output.py
Labels: compliance

#7621 fix(run-sh): Use poetry's env
  contrib/aws/multi-account-securityhub/run-prowler-securityhub.sh
Labels: backport-to-v5.5

#7638 feat(exchange): add new check `exchange_mailbox_policy_additional_storage_restricted`
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/exchange_mailbox_policy_additional_storage_restricted/__init__.py
  prowler/providers/m365/services/exchange/exchange_mailbox_policy_additional_storage_restricted/exchange_mailbox_policy_additional_storage_restricted.metadata.json
  prowler/providers/m365/services/exchange/exchange_mailbox_policy_additional_storage_restricted/exchange_mailbox_policy_additional_storage_restricted.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_mailbox_policy_additional_storage_restricted/exchange_mailbox_policy_additional_storage_restricted_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Labels: provider/m365

#7632 test(performance): Add base framework for API performance tests
  api/tests/performance/__init__.py
  api/tests/performance/benchmark.py
  api/tests/performance/requirements.txt
  api/tests/performance/scenarios/__init__.py
  api/tests/performance/scenarios/findings.py
  api/tests/performance/utils/__init__.py
  api/tests/performance/utils/config.py
  api/tests/performance/utils/helpers.py
Labels: component/api

#7639 fix: set correct default value for session duration
  ui/components/providers/workflow/forms/update-via-role-form.tsx
  ui/components/providers/workflow/forms/via-role-form.tsx
Labels: component/ui

#7635 fix(s3): add ContentType in upload_file
  prowler/CHANGELOG.md
  prowler/providers/aws/lib/s3/s3.py
  tests/providers/aws/lib/s3/s3_test.py
Labels: provider/aws, integration/s3, backport-to-v5.5
