Repository prowler-cloud/prowler, pull requests merged in 2025-05, with the labels that each got.

#7640 feat(exchange): add new check `exchange_transport_config_smtp_auth_disabled`
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/exchange_service.py
  prowler/providers/m365/services/exchange/exchange_transport_config_smtp_auth_disabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_transport_config_smtp_auth_disabled/exchange_transport_config_smtp_auth_disabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_transport_config_smtp_auth_disabled/exchange_transport_config_smtp_auth_disabled.py
  tests/providers/m365/services/exchange/exchange_service_test.py
  tests/providers/m365/services/exchange/exchange_transport_config_smtp_auth_disabled/exchange_transport_config_smtp_auth_disabled_test.py
Labels: provider/m365

#7642 feat(exchange): add new check `exchange_mailbox_properties_auditing_e3_enabled`
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/exchange_mailbox_properties_auditing_e3_enabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_mailbox_properties_auditing_e3_enabled/exchange_mailbox_properties_auditing_e3_enabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_mailbox_properties_auditing_e3_enabled/exchange_mailbox_properties_auditing_e3_enabled.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_mailbox_properties_auditing_e3_enabled/exchange_mailbox_properties_auditing_e3_enabled_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Labels: provider/m365

#7644 feat(exchange): add new check `exchange_roles_assignment_policy_addins_disabled`
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/__init__.py
  prowler/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/exchange_roles_assignment_policy_addins_disabled.metadata.json
  prowler/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/exchange_roles_assignment_policy_addins_disabled.py
  prowler/providers/m365/services/exchange/exchange_service.py
  tests/providers/m365/services/exchange/exchange_roles_assignment_policy_addins_disabled/exchange_roles_assignment_policy_addins_disabled_test.py
  tests/providers/m365/services/exchange/exchange_service_test.py
Labels: provider/m365

#7598 chore(sentry): attach stacktrace to logging events
  api/README.md
  api/src/backend/config/settings/sentry.py
  docs/index.md
Labels: documentation, github_actions, component/api

#7655 fix: error about page number persistence when filters change
  ui/components/filters/custom-date-picker.tsx
  ui/components/filters/custom-search-input.tsx
  ui/components/filters/filter-controls.tsx
  ui/components/ui/custom/custom-dropdown-filter.tsx
  ui/components/ui/table/data-table-filter-custom.tsx
  ui/hooks/use-url-filters.ts
Labels: component/ui

#7656 fix(azure): CIS v2.0 4.4.1 Uses Wrong Check
  prowler/CHANGELOG.md
  prowler/compliance/azure/cis_2.0_azure.json
Labels: compliance

#7633 feat(dashboard): support m365 provider
  dashboard/assets/images/providers/m365_provider.png
  dashboard/assets/styles/dist/output.css
  dashboard/compliance/cis_4_0_m365.py
  dashboard/lib/layouts.py
  dashboard/pages/compliance.py
  dashboard/pages/overview.py
  docs/img/dashboard.png
  prowler/CHANGELOG.md
Labels: documentation

#7622 docs(m365): add documentation for `m365`
  docs/getting-started/requirements.md
  docs/index.md
  docs/tutorials/microsoft365/getting-started-m365.md
  docs/tutorials/microsoft365/img/add-app-api-permission.png
  docs/tutorials/microsoft365/img/add-delegated-api-permission.png
  docs/tutorials/microsoft365/img/api-permissions-page.png
  docs/tutorials/microsoft365/img/app-overview.png
  docs/tutorials/microsoft365/img/app-registration-menu.png
  docs/tutorials/microsoft365/img/certificates-and-secrets.png
  docs/tutorials/microsoft365/img/custom-domain-names.png
  docs/tutorials/microsoft365/img/directory-permission-delegated.png
  docs/tutorials/microsoft365/img/directory-permission.png
  docs/tutorials/microsoft365/img/global-reader.png
  docs/tutorials/microsoft365/img/grant-admin-consent-delegated.png
  docs/tutorials/microsoft365/img/grant-admin-consent-for-role.png
  docs/tutorials/microsoft365/img/grant-admin-consent.png
  docs/tutorials/microsoft365/img/microsoft-entra-id.png
  docs/tutorials/microsoft365/img/new-client-secret.png
  docs/tutorials/microsoft365/img/new-registration.png
  docs/tutorials/microsoft365/img/search-default-domain.png
  docs/tutorials/microsoft365/img/search-domain-names.png
  docs/tutorials/microsoft365/img/user-domains.png
  docs/tutorials/microsoft365/img/user-info-page.png
  docs/tutorials/microsoft365/img/user-role-page.png
  docs/tutorials/microsoft365/use-of-powershell.md
  docs/tutorials/prowler-app.md
  mkdocs.yml
  prowler/CHANGELOG.md
Labels: documentation, provider/m365

#7665 feat(compliance): add a button to download the report in compliance card
  ui/actions/scans/scans.ts
  ui/app/(prowler)/compliance/page.tsx
  ui/components/compliance/compliance-card.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/ui/download-icon-button/download-icon-button.tsx
  ui/components/ui/index.ts
  ui/lib/helper.ts
Labels: component/ui

#7654 feat: add delta attribute in findings detail view with and finding id to the url
  .gitignore
  ui/components/findings/table/column-findings.tsx
  ui/components/findings/table/data-table-row-details.tsx
  ui/components/findings/table/delta-indicator.tsx
  ui/components/findings/table/finding-detail.tsx
  ui/components/ui/code-snippet/code-snippet.tsx
  ui/components/ui/entities/info-field.tsx
  ui/components/ui/sheet/trigger-sheet.tsx
Labels: component/ui

#7668 chore: tweaks for m365 provider
  ui/components/filters/custom-provider-inputs.tsx
  ui/components/filters/custom-select-provider.tsx
  ui/components/filters/data-filters.ts
  ui/components/icons/Icons.tsx
  ui/components/providers/workflow/forms/update-via-credentials-form.tsx
  ui/components/providers/workflow/provider-title-docs.tsx
  ui/lib/menu-list.ts
  ui/types/components.ts
Labels: component/ui

#7322 feat(aws): add static credentials for S3 and SH
  prowler/CHANGELOG.md
  prowler/providers/aws/aws_provider.py
  prowler/providers/aws/lib/s3/s3.py
  prowler/providers/aws/lib/security_hub/security_hub.py
  prowler/providers/aws/lib/session/__init__.py
  prowler/providers/aws/lib/session/aws_set_up_session.py
  tests/providers/aws/lib/s3/s3_test.py
  tests/providers/aws/lib/security_hub/security_hub_test.py
Labels: provider/aws, integration/security-hub, integration/s3

#7671 chore(actions): run tests in dependabot updates
  .github/workflows/sdk-pull-request.yml
Labels: github_actions

#7669 feat: diff between providers actions depending on their secrets
  ui/components/providers/provider-info.tsx
  ui/components/providers/table/data-table-row-actions.tsx
Labels: component/ui

#7672 docs: update changelog
  ui/CHANGELOG.md
Labels: component/ui

#7674 refactor(finding-detail): remove "Next Scan" field
  ui/components/findings/table/finding-detail.tsx
Labels: component/ui

#7673 feat(docs): add snapshots to M365 docs
  docs/img/m365-credentials.png
  docs/tutorials/aws/getting-started-aws.md
  docs/tutorials/azure/getting-started-azure.md
  docs/tutorials/gcp/getting-started-gcp.md
  docs/tutorials/microsoft365/getting-started-m365.md
  docs/tutorials/microsoft365/img/add-domain-id.png
  docs/tutorials/microsoft365/img/click-next-m365.png
  docs/tutorials/microsoft365/img/launch-scan.png
  docs/tutorials/microsoft365/img/m365-credentials.png
  docs/tutorials/microsoft365/img/select-m365-prowler-cloud.png
  docs/tutorials/prowler-app.md
  prowler/CHANGELOG.md
Labels: documentation

#7676 feat: add DeltaIndicator in new findings
  ui/CHANGELOG.md
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
Labels: component/ui

#7670 fix(inspector2): handle error when getting active findings
  prowler/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist.py
  prowler/providers/aws/services/inspector2/inspector2_service.py
  tests/providers/aws/services/inspector2/inspector2_active_findings_exist/inspector2_active_findings_exist_test.py
Labels: provider/aws, backport-to-v5.5

#7653 feat: add compliance to API report files and its endpoint
  .github/workflows/api-pull-request.yml
  api/CHANGELOG.md
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/api/compliance.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/tasks/jobs/export.py
  api/src/backend/tasks/tasks.py
  api/src/backend/tasks/tests/test_export.py
  api/src/backend/tasks/tests/test_tasks.py
  prowler/lib/outputs/compliance/compliance_output.py
  tests/lib/outputs/compliance/aws_well_architected/aws_well_architected_test.py
Labels: github_actions, compliance, component/api

#7685 fix(mutelist): properly handle wildcards and regex
  prowler/lib/mutelist/mutelist.py
  tests/providers/aws/lib/mutelist/aws_mutelist_test.py
Labels: provider/aws, mutelist

#7667 fix(prowler_threatscore): fine-tune LevelOfRisk
  prowler/CHANGELOG.md
  prowler/compliance/aws/prowler_threatscore_aws.json
  prowler/compliance/azure/prowler_threatscore_azure.json
  prowler/compliance/gcp/prowler_threatscore_gcp.json
Labels: compliance

#7688 chore(changelog): prepare for v5.6.0
  api/CHANGELOG.md
  prowler/CHANGELOG.md
Labels: component/api

#7677 fix(m365): invalid user credentials exception
  prowler/providers/m365/exceptions/exceptions.py
  prowler/providers/m365/m365_provider.py
  tests/providers/m365/m365_provider_test.py
Labels: backport-to-v5.6

#7680 feat: Horizontal bar chart
  ui/CHANGELOG.md
  ui/components/ui/chart/horizontal-split-chart.tsx
Labels: component/ui

#7710 fix: move ProviderType to shared types and update usages
  ui/CHANGELOG.md
  ui/app/(prowler)/findings/page.tsx
  ui/components/compliance/compliance-scan-info.tsx
  ui/components/findings/table/column-findings.tsx
  ui/components/findings/table/finding-detail.tsx
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
  ui/components/providers/provider-info.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/providers/workflow/forms/update-via-credentials-form.tsx
  ui/components/providers/workflow/forms/via-credentials-form.tsx
  ui/components/providers/workflow/provider-title-docs.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/ui/entities/entity-info-short.tsx
  ui/components/ui/entities/get-provider-logo.tsx
  ui/types/components.ts
  ui/types/index.ts
  ui/types/providers.ts
Labels: component/ui

#7711 chore: add pass PR url
  .github/workflows/pull-request-merged.yml
Labels: github_actions

#7695 feat(kubernetes): allow setting cluster name in in-cluster mode
  docs/tutorials/kubernetes/in-cluster.md
  prowler/providers/common/provider.py
  prowler/providers/kubernetes/kubernetes_provider.py
  prowler/providers/kubernetes/lib/arguments/arguments.py
  tests/providers/kubernetes/kubernetes_provider_test.py
Labels: documentation, provider/kubernetes

#7692 feat(m365): add Prowler Threatscore
  README.md
  dashboard/compliance/prowler_threatscore_m365.py
  prowler/CHANGELOG.md
  prowler/__main__.py
  prowler/compliance/m365/prowler_threatscore_m365.json
  prowler/lib/outputs/compliance/prowler_threatscore/models.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_m365.py
  prowler/providers/m365/services/entra/entra_legacy_authentication_blocked/entra_legacy_authentication_blocked.metadata.json
Labels: compliance

#7713 chore(api): Set tab name for API reference
  api/src/backend/config/django/base.py
Labels: component/api

#7694 docs(compliance): update compliance page with latest changes
  docs/tutorials/compliance.md
  prowler/CHANGELOG.md
Labels: documentation

#7712 fix(bump-version): bump for fix also in minors
  .github/workflows/sdk-bump-version.yml
Labels: github_actions, backport-to-v5.6

#7699 chore(compliance): update `CIS 4.0` for `M365`
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_4.0_m365.json
  util/generate_compliance_json_from_csv_for_cis40_microsoft365.py
Labels: compliance, backport-to-v5.6

#7681 chore(findings): enhance m365 authentication method information
  prowler/CHANGELOG.md
  prowler/lib/outputs/html/html.py
  prowler/providers/m365/m365_provider.py
  prowler/providers/m365/models.py
  tests/lib/outputs/html/html_test.py
  tests/providers/m365/m365_fixtures.py
Labels: output/html

#7693 feat: scan label validation
  ui/components/scans/launch-workflow/launch-scan-workflow-form.tsx
  ui/components/ui/custom/custom-input.tsx
Labels: component/ui

#7717 chore(deps): upgrade recharts from 2.13.0-alpha.4 to 2.15.2
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#7704 chore: add M365 to scan page filters
  ui/components/filters/data-filters.ts
Labels: component/ui

#7666 fix(defender): enhance policies checks logic
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/defender/defender_antiphishing_policy_configured/defender_antiphishing_policy_configured.py
  prowler/providers/m365/services/defender/defender_antispam_outbound_policy_configured/defender_antispam_outbound_policy_configured.py
  prowler/providers/m365/services/defender/defender_antispam_outbound_policy_forwarding_disabled/defender_antispam_outbound_policy_forwarding_disabled.py
  prowler/providers/m365/services/defender/defender_antispam_policy_inbound_no_allowed_domains/defender_antispam_policy_inbound_no_allowed_domains.py
  prowler/providers/m365/services/defender/defender_malware_policy_common_attachments_filter_enabled/defender_malware_policy_common_attachments_filter_enabled.py
  prowler/providers/m365/services/defender/defender_malware_policy_comprehensive_attachments_filter_applied/defender_malware_policy_comprehensive_attachments_filter_applied.py
  prowler/providers/m365/services/defender/defender_malware_policy_notifications_internal_users_malware_enabled/defender_malware_policy_notifications_internal_users_malware_enabled.py
  prowler/providers/m365/services/defender/defender_service.py
  tests/providers/m365/services/defender/defender_antiphishing_policy_configured/defender_antiphishing_policy_configured_test.py
  tests/providers/m365/services/defender/defender_antispam_outbound_policy_configured/defender_antispam_outbound_policy_configured_test.py
  tests/providers/m365/services/defender/defender_antispam_outbound_policy_forwarding_disabled/defender_antispam_outbound_policy_forwarding_disabled_test.py
  tests/providers/m365/services/defender/defender_antispam_policy_inbound_no_allowed_domains/defender_antispam_policy_inbound_no_allowed_domains_test.py
  tests/providers/m365/services/defender/defender_malware_policy_common_attachments_filter_enabled/defender_malware_policy_common_attachments_filter_enabled_test.py
  tests/providers/m365/services/defender/defender_malware_policy_comprehensive_attachments_filter_applied/defender_malware_policy_comprehensive_attachments_filter_applied_test.py
  tests/providers/m365/services/defender/defender_malware_policy_notifications_internal_users_malware_enabled/defender_malware_policy_notifications_internal_users_malware_enabled_test.py
  tests/providers/m365/services/defender/m365_defender_service_test.py
Labels: backport-to-v5.6

#7722 chore: bump tailwind-merge from 2.5.3 to 3.2.0
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#7725 fix(overviews): Split in n queries to use database indexes for providers
  api/src/backend/api/v1/views.py
Labels: component/api

#7723 fix: Added filter to get connected providers only for banner to show
  ui/app/(prowler)/scans/page.tsx
Labels: component/ui

#7728 fix(deps): solve h11 package vulnerability
  api/poetry.lock
  poetry.lock
Labels: component/api, backport-to-v5.6

#7731 docs: update changelog
  ui/CHANGELOG.md
Labels: component/ui

#5787 feat(github): add GitHub provider
  .github/workflows/sdk-pull-request.yml
  README.md
  poetry.lock
  prowler/CHANGELOG.md
  prowler/__main__.py
  prowler/compliance/github/__init__.py
  prowler/compliance/github/cis_1.0_github.json
  prowler/config/config.py
  prowler/config/github_mutelist_example.yaml
  prowler/lib/check/check.py
  prowler/lib/check/models.py
  prowler/lib/outputs/finding.py
  prowler/lib/outputs/html/html.py
  prowler/lib/outputs/outputs.py
  prowler/lib/outputs/slack/slack.py
  prowler/lib/outputs/summary_table.py
  prowler/providers/common/provider.py
  prowler/providers/github/__init__.py
  prowler/providers/github/exceptions/__init__.py
  prowler/providers/github/exceptions/exceptions.py
  prowler/providers/github/github_provider.py
  prowler/providers/github/lib/arguments/__init__.py
  prowler/providers/github/lib/arguments/arguments.py
  prowler/providers/github/lib/mutelist/__init__.py
  prowler/providers/github/lib/mutelist/mutelist.py
  prowler/providers/github/lib/service/__init__.py
  prowler/providers/github/lib/service/service.py
  prowler/providers/github/models.py
  prowler/providers/github/services/repository/__init__.py
  prowler/providers/github/services/repository/repository_client.py
  prowler/providers/github/services/repository/repository_public_has_securitymd_file/__init__.py
  prowler/providers/github/services/repository/repository_public_has_securitymd_file/repository_public_has_securitymd_file.metadata.json
  prowler/providers/github/services/repository/repository_public_has_securitymd_file/repository_public_has_securitymd_file.py
  prowler/providers/github/services/repository/repository_service.py
  pyproject.toml
  tests/lib/outputs/ocsf/ocsf_test.py
  tests/providers/github/github_fixtures.py
  tests/providers/github/github_provider_test.py
  tests/providers/github/lib/mutelist/fixtures/github_mutelist.yaml
  tests/providers/github/lib/mutelist/github_mutelist_test.py
  tests/providers/github/services/repository/repository_public_has_securitymd_file/repository_public_has_securitymd_file_test.py
  tests/providers/github/services/repository/repository_service_test.py
Labels: github_actions, output/ocsf, output/html, integration/slack, compliance, provider/github

#7740 chore: add ref on checkout step
  .github/workflows/pull-request-merged.yml
Labels: github_actions

#7735 feat(ui): Add AWS CloudFormation Quick Link to deploy the IAM Role
  ui/CHANGELOG.md
  ui/components/providers/workflow/credentials-role-helper.tsx
  ui/components/providers/workflow/forms/via-role/aws-role-form.tsx
  ui/components/providers/workflow/provider-title-docs.tsx
  ui/lib/external-urls.ts
  ui/lib/index.ts
Labels: no-merge, github_actions, component/ui

#7729 fix: ensure proper folder creation
  api/src/backend/api/tests/test_views.py
  api/src/backend/tasks/tests/test_export.py
Labels: component/api

#6160 feat(github): add new check `repository_code_changes_multi_approval_requirement`
  README.md
  prowler/CHANGELOG.md
  prowler/providers/github/services/repository/repository_code_changes_multi_approval_requirement/__init__.py
  prowler/providers/github/services/repository/repository_code_changes_multi_approval_requirement/repository_code_changes_multi_approval_requirement.metadata.json
  prowler/providers/github/services/repository/repository_code_changes_multi_approval_requirement/repository_code_changes_multi_approval_requirement.py
  prowler/providers/github/services/repository/repository_public_has_securitymd_file/repository_public_has_securitymd_file.metadata.json
  prowler/providers/github/services/repository/repository_public_has_securitymd_file/repository_public_has_securitymd_file.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_code_changes_multi_approval_requirement/repository_code_changes_multi_approval_requirement_test.py
  tests/providers/github/services/repository/repository_public_has_securitymd_file/repository_public_has_securitymd_file_test.py
  tests/providers/github/services/repository/repository_service_test.py
Labels: provider/github

#6116 feat: add GitHub provider documentation and CIS v1.0.0 compliance
  docs/getting-started/requirements.md
  docs/index.md
  docs/tutorials/github/authentication.md
  prowler/CHANGELOG.md
  prowler/__main__.py
  prowler/compliance/github/cis_1.0_github.json
  prowler/lib/cli/parser.py
  prowler/lib/outputs/compliance/cis/cis_github.py
  prowler/lib/outputs/compliance/cis/models.py
  tests/lib/outputs/compliance/compliance_test.py
  util/generate_compliance_json_from_csv_for_cis10_github.py
Labels: documentation, compliance, component/api

#7741 fix: UID Filter Improvement
  ui/CHANGELOG.md
  ui/app/(prowler)/findings/page.tsx
  ui/components/ui/custom/custom-dropdown-filter.tsx
  ui/types/filters.ts
  ui/types/providers.ts
Labels: component/ui

#6304 feat(organization): add new check `organization_members_mfa_required`
  README.md
  poetry.lock
  prowler/CHANGELOG.md
  prowler/__main__.py
  prowler/providers/github/services/organization/organization_members_mfa_required/__init__.py
  prowler/providers/github/services/organization/organization_members_mfa_required/organization_members_mfa_required.metadata.json
  prowler/providers/github/services/organization/organization_members_mfa_required/organization_members_mfa_required.py
  prowler/providers/github/services/organization/organization_service.py
  tests/providers/github/services/organization/organization_members_mfa_required/organization_members_mfa_required_test.py
  tests/providers/github/services/organization/organization_service_test.py
Labels: provider/github

#6162 feat(repository): add new check `repository_default_branch_requires_linear_history`
  prowler/CHANGELOG.md
  prowler/providers/github/services/repository/repository_default_branch_requires_linear_history/__init__.py
  prowler/providers/github/services/repository/repository_default_branch_requires_linear_history/repository_default_branch_requires_linear_history.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_requires_linear_history/repository_default_branch_requires_linear_history.py
  prowler/providers/github/services/repository/repository_default_branch_requires_multiple_approvals/__init__.py
  prowler/providers/github/services/repository/repository_default_branch_requires_multiple_approvals/repository_default_branch_requires_multiple_approvals.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_requires_multiple_approvals/repository_default_branch_requires_multiple_approvals.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_default_branch_requires_linear_history/repository_default_branch_requires_linear_history_test.py
  tests/providers/github/services/repository/repository_default_branch_requires_multiple_approvals/repository_default_branch_requires_multiple_approvals_test.py
  tests/providers/github/services/repository/repository_service_test.py
Labels: provider/github

#7744 fix: force z-index componet select provider
  ui/components/filters/custom-select-provider.tsx
Labels: component/ui

#6197 feat(repository): add new check `repository_default_branch_disallows_force_push`
  prowler/CHANGELOG.md
  prowler/providers/github/services/repository/repository_default_branch_disallows_force_push/__init__.py
  prowler/providers/github/services/repository/repository_default_branch_disallows_force_push/repository_default_branch_disallows_force_push.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_disallows_force_push/repository_default_branch_disallows_force_push.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_default_branch_disallows_force_push/repository_default_branch_disallows_force_push_test.py
  tests/providers/github/services/repository/repository_service_test.py
Labels: provider/github

#6204 feat(repository): add new check `repository_default_branch_status_checks_required`
  prowler/CHANGELOG.md
  prowler/providers/github/services/repository/repository_default_branch_status_checks_required/__init__.py
  prowler/providers/github/services/repository/repository_default_branch_status_checks_required/repository_default_branch_status_checks_required.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_status_checks_required/repository_default_branch_status_checks_required.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_default_branch_status_checks_required/repository_default_branch_status_checks_required_test.py
  tests/providers/github/services/repository/repository_service_test.py
Labels: provider/github

#7750 fix(check): Add support for condition with restriction on SNS endpoint
  prowler/CHANGELOG.md
  prowler/providers/aws/services/iam/lib/policy.py
  prowler/providers/aws/services/sns/sns_topics_not_publicly_accessible/sns_topics_not_publicly_accessible.py
  tests/providers/aws/services/iam/lib/policy_test.py
  tests/providers/aws/services/sns/sns_topics_not_publicly_accessible/sns_topics_not_publicly_accessible_test.py
Labels: provider/aws, was-backported, backport-to-v5.6

#7743 feat(findings): Add /findings/latest and /findings/metadata/latest endpoints
  api/CHANGELOG.md
  api/src/backend/api/filters.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/mixins.py
  api/src/backend/api/v1/views.py
  api/src/backend/conftest.py
Labels: no-merge, component/api

#7756 feat: use getFindingsLatest when no scan or date filters are applied
  ui/CHANGELOG.md
  ui/actions/findings/findings.ts
  ui/app/(prowler)/findings/page.tsx
  ui/lib/helper-filters.ts
  ui/lib/index.ts
Labels: component/ui

#6205 feat(repository): add new check `repository_default_branch_protection_applies_to_admins`
  prowler/CHANGELOG.md
  prowler/providers/github/services/repository/repository_default_branch_protection_applies_to_admins/__init__.py
  prowler/providers/github/services/repository/repository_default_branch_protection_applies_to_admins/repository_default_branch_protection_applies_to_admins.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_protection_applies_to_admins/repository_default_branch_protection_applies_to_admins.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_default_branch_protection_applies_to_admins/repository_default_branch_protection_applies_to_admins_test.py
  tests/providers/github/services/repository/repository_service_test.py
Labels: provider/github

#7706 fix: Updated the high risk section provider icons to make it consistent
  ui/components/icons/Icons.tsx
  ui/lib/menu-list.ts
Labels: component/ui

#7762 fix(findings): Fix latest metadata backfill condition
  api/src/backend/api/v1/views.py
Labels: component/api

#6209 feat(repository): add new check `repository_branch_delete_on_merge_enabled`
  prowler/CHANGELOG.md
  prowler/providers/github/github_provider.py
  prowler/providers/github/services/repository/repository_branch_delete_on_merge_enabled/__init__.py
  prowler/providers/github/services/repository/repository_branch_delete_on_merge_enabled/repository_branch_delete_on_merge_enabled.metadata.json
  prowler/providers/github/services/repository/repository_branch_delete_on_merge_enabled/repository_branch_delete_on_merge_enabled.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_branch_delete_on_merge_enabled/repository_branch_delete_on_merge_enabled_test.py
  tests/providers/github/services/repository/repository_service_test.py
Labels: provider/github

#7764 chore(ec2): improve severity logic in SG all ports open check
  prowler/CHANGELOG.md
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_all_ports/ec2_securitygroup_allow_ingress_from_internet_to_all_ports.metadata.json
  prowler/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_all_ports/ec2_securitygroup_allow_ingress_from_internet_to_all_ports.py
  tests/providers/aws/services/ec2/ec2_securitygroup_allow_ingress_from_internet_to_all_ports/ec2_securitygroup_allow_ingress_from_internet_to_all_ports_test.py
Labels: provider/aws, backport-to-v5.6

#7766 feat(aws): add CIS 5.0 compliance framework
  README.md
  dashboard/compliance/cis_5_0_aws.py
  prowler/CHANGELOG.md
  prowler/compliance/aws/cis_5.0_aws.json
Labels: compliance

#7738 fix(cis): rename and add sections and subsections
  prowler/CHANGELOG.md
  prowler/compliance/aws/cis_1.4_aws.json
  prowler/compliance/aws/cis_1.5_aws.json
  prowler/compliance/aws/cis_2.0_aws.json
  prowler/compliance/aws/cis_3.0_aws.json
  prowler/compliance/aws/cis_4.0_aws.json
  prowler/compliance/azure/cis_2.0_azure.json
  prowler/compliance/azure/cis_2.1_azure.json
  prowler/compliance/azure/cis_3.0_azure.json
  prowler/compliance/gcp/cis_2.0_gcp.json
  prowler/compliance/gcp/cis_3.0_gcp.json
  prowler/compliance/kubernetes/cis_1.10_kubernetes.json
  prowler/compliance/kubernetes/cis_1.8_kubernetes.json
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/lib/outputs/compliance/cis/cis_m365.py
  prowler/lib/outputs/compliance/cis/models.py
  tests/lib/outputs/compliance/cis/cis_m365_test.py
  tests/lib/outputs/compliance/fixtures.py
Labels: compliance

#7746 chore(m365): accept all tenant domains in authentication
  api/src/backend/api/models.py
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/lib/service/service.py
  prowler/providers/m365/m365_provider.py
  prowler/providers/m365/models.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
  tests/providers/m365/m365_provider_test.py
Labels: component/api, backport-to-v5.6

#7773 docs: update changelog
  ui/CHANGELOG.md
Labels: component/ui

#7775 chore: update api changelog
  api/CHANGELOG.md
Labels: component/api

#7781 fix(providers): Fix m365 UID validation
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_views.py
Labels: component/api

#7794 chore: tweak some wording for consistency
  ui/components/findings/table/finding-detail.tsx
  ui/components/providers/table/column-providers.tsx
Labels: component/ui

#7793 fix: retrieve more than 10 providers
  ui/CHANGELOG.md
  ui/app/(prowler)/findings/page.tsx
  ui/app/(prowler)/manage-groups/page.tsx
  ui/app/(prowler)/scans/page.tsx
Labels: component/ui

#7732 feat(admincenter): add new check `admincenter_organization_customer_lockbox_enabled`
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/providers/m365/services/admincenter/admincenter_organization_customer_lockbox_enabled/__init__.py
  prowler/providers/m365/services/admincenter/admincenter_organization_customer_lockbox_enabled/admincenter_organization_customer_lockbox_enabled.metadata.json
  prowler/providers/m365/services/admincenter/admincenter_organization_customer_lockbox_enabled/admincenter_organization_customer_lockbox_enabled.py
  prowler/providers/m365/services/admincenter/admincenter_service.py
  tests/providers/m365/services/admincenter/admincenter_groups_not_public_visibility/admincenter_groups_not_public_visibility_test.py
  tests/providers/m365/services/admincenter/admincenter_organization_customer_lockbox_enabled/admincenter_organization_customer_lockbox_enabled_test.py
  tests/providers/m365/services/admincenter/admincenter_service_test.py
  tests/providers/m365/services/admincenter/admincenter_settings_password_never_expire/admincenter_settings_password_never_expire_test.py
  tests/providers/m365/services/admincenter/admincenter_users_admins_reduced_license_footprint/admincenter_users_admins_reduced_license_footprint_test.py
  tests/providers/m365/services/admincenter/admincenter_users_between_two_and_four_global_admins/admincenter_users_between_two_and_four_global_admins_test.py
Labels: compliance, provider/m365

#7761 fix(m365powershell): add `sanitize` to `test_credentials`
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
Labels: backport-to-v5.6

#7733 feat(admincenter): add new check `admincenter_external_calendar_sharing_disabled`
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/services/admincenter/admincenter_external_calendar_sharing_disabled/__init__.py
  prowler/providers/m365/services/admincenter/admincenter_external_calendar_sharing_disabled/admincenter_external_calendar_sharing_disabled.metadata.json
  prowler/providers/m365/services/admincenter/admincenter_external_calendar_sharing_disabled/admincenter_external_calendar_sharing_disabled.py
  prowler/providers/m365/services/admincenter/admincenter_service.py
  tests/providers/m365/services/admincenter/admincenter_external_calendar_sharing_disabled/admincenter_external_calendar_sharing_disabled_test.py
  tests/providers/m365/services/admincenter/admincenter_service_test.py
Labels: compliance, provider/m365

#7734 feat(entra): add new check `entra_users_mfa_capable`
  docs/getting-started/requirements.md
  prowler/CHANGELOG.md
  prowler/compliance/m365/cis_4.0_m365.json
  prowler/providers/m365/services/entra/entra_service.py
  prowler/providers/m365/services/entra/entra_users_mfa_capable/__init__.py
  prowler/providers/m365/services/entra/entra_users_mfa_capable/entra_users_mfa_capable.metadata.json
  prowler/providers/m365/services/entra/entra_users_mfa_capable/entra_users_mfa_capable.py
  tests/providers/m365/services/entra/entra_users_mfa_capable/entra_users_mfa_capable_test.py
  tests/providers/m365/services/entra/microsoft365_entra_service_test.py
Labels: documentation, compliance, provider/m365

#7780 feat: profile page
  ui/CHANGELOG.md
  ui/actions/roles/roles.ts
  ui/actions/users/tenants.ts
  ui/actions/users/users.ts
  ui/app/(prowler)/profile/page.tsx
  ui/components/findings/table/delta-indicator.tsx
  ui/components/ui/content-layout/content-layout.tsx
  ui/components/ui/user-nav/user-nav.tsx
  ui/components/users/profile/index.ts
  ui/components/users/profile/membership-item.tsx
  ui/components/users/profile/memberships-card.tsx
  ui/components/users/profile/role-item.tsx
  ui/components/users/profile/roles-card.tsx
  ui/components/users/profile/skeleton-user-info.tsx
  ui/components/users/profile/user-basic-info-card.tsx
  ui/components/users/profile/user-info.tsx
  ui/lib/permissions.ts
  ui/types/users/users.ts
Labels: component/ui

#7720 feat(kubernetes): support `HTTPS_PROXY` and `K8S_SKIP_TLS_VERIFY`
  docs/tutorials/kubernetes/misc.md
  prowler/providers/kubernetes/kubernetes_provider.py
  tests/providers/kubernetes/kubernetes_provider_test.py
Labels: documentation, provider/kubernetes

#7792 fix(dashboard): remove typo from subscribe cards
  dashboard/__main__.py
  dashboard/lib/layouts.py
  dashboard/pages/overview.py
Labels: backport-to-v5.7

#7790 feat(kubernetes): add CIS 1.11 compliance framework
  README.md
  dashboard/compliance/cis_1_11_kubernetes.py
  prowler/CHANGELOG.md
  prowler/compliance/kubernetes/cis_1.11_kubernetes.json
Labels: compliance

#7800 feat(findings): Add new index for finding UID lookup
  api/CHANGELOG.md
  api/pyproject.toml
  api/src/backend/api/migrations/0024_findings_uid_index_partitions.py
  api/src/backend/api/migrations/0025_findings_uid_index_parent.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Labels: component/api, review-django-migrations, backport-to-v5.7

#7785 feat(gcp): add CIS 4.0 compliance framework
  README.md
  dashboard/compliance/cis_4_0_gcp.py
  prowler/CHANGELOG.md
  prowler/compliance/gcp/cis_4.0_gcp.json
  util/generate_compliance_json_from_csv_for_cis15.py
Labels: compliance

#7808 docs: update changelog UI
  ui/CHANGELOG.md
Labels: component/ui, backport-to-v5.7

#7779 fix(admincenter): `admincenter_users_admins_reduced_license_footprint` logic
  prowler/CHANGELOG.md
  prowler/providers/m365/services/admincenter/admincenter_users_admins_reduced_license_footprint/admincenter_users_admins_reduced_license_footprint.py
  tests/providers/m365/services/admincenter/admincenter_users_admins_reduced_license_footprint/admincenter_users_admins_reduced_license_footprint_test.py
Labels: backport-to-v5.7

#7795 feat(prowler-threatscore): add Weight field inside req
  dashboard/pages/compliance.py
  prowler/CHANGELOG.md
  prowler/compliance/aws/prowler_threatscore_aws.json
  prowler/compliance/azure/prowler_threatscore_azure.json
  prowler/compliance/gcp/prowler_threatscore_gcp.json
  prowler/compliance/m365/prowler_threatscore_m365.json
  prowler/lib/check/compliance_models.py
  prowler/lib/outputs/compliance/prowler_threatscore/models.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_aws.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_azure.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_gcp.py
  prowler/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_m365.py
  prowler_threatscore_aws
  prowler_threatscore_azure
  prowler_threatscore_gcp
  prowler_threatscore_m365
  tests/lib/outputs/compliance/fixtures.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_aws_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_azure_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_gcp_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_m365_test.py
Labels: compliance

#7816 fix(m365): add `powershell.close()` to `msgraph` services
  prowler/CHANGELOG.md
  prowler/providers/m365/services/admincenter/admincenter_service.py
  prowler/providers/m365/services/entra/entra_service.py
  prowler/providers/m365/services/sharepoint/sharepoint_service.py
Labels: backport-to-v5.7

#7752 feat(repository): add new check `repository_has_codeowners_file`
  prowler/CHANGELOG.md
  prowler/providers/github/services/repository/repository_has_codeowners_file/__init__.py
  prowler/providers/github/services/repository/repository_has_codeowners_file/repository_has_codeowners_file.metadata.json
  prowler/providers/github/services/repository/repository_has_codeowners_file/repository_has_codeowners_file.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_has_codeowners_file/repository_has_codeowners_file_test.py
  tests/providers/github/services/repository/repository_service_test.py
Labels: provider/github

#7753 feat(repository): add new check `repository_default_branch_requires_codeowners_review`
  prowler/CHANGELOG.md
  prowler/providers/github/services/repository/repository_default_branch_requires_codeowners_review/__init__.py
  prowler/providers/github/services/repository/repository_default_branch_requires_codeowners_review/repository_default_branch_requires_codeowners_review.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_requires_codeowners_review/repository_default_branch_requires_codeowners_review.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_default_branch_requires_codeowners_review/repository_default_branch_requires_codeowners_review_test.py
  tests/providers/github/services/repository/repository_service_test.py
Labels: provider/github

#7813 feat: resources in finding tables
  ui/CHANGELOG.md
  ui/app/(prowler)/findings/page.tsx
  ui/components/findings/table/column-findings.tsx
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
  ui/components/providers/table/column-providers.tsx
  ui/components/ui/entities/entity-info-short.tsx
  ui/components/ui/entities/index.ts
  ui/components/ui/entities/snippet-chip.tsx
  ui/components/ui/entities/snippet-id.tsx
  ui/components/ui/entities/snippet-label.tsx
  ui/components/users/profile/user-basic-info-card.tsx
Labels: component/ui

#7759 feat(repository): add new check `repository_secret_scanning_enabled`
  prowler/CHANGELOG.md
  prowler/providers/github/services/repository/repository_secret_scanning_enabled/repository_secret_scanning_enabled.metadata.json
  prowler/providers/github/services/repository/repository_secret_scanning_enabled/repository_secret_scanning_enabled.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_secret_scanning_enabled/repository_secret_scanning_enabled_test.py
  tests/providers/github/services/repository/repository_service_test.py
Labels: provider/github

#7771 feat(repository): add new check `repository_dependency_scanning_enabled`
  prowler/CHANGELOG.md
  prowler/providers/github/services/repository/repository_dependency_scanning_enabled/__init__.py
  prowler/providers/github/services/repository/repository_dependency_scanning_enabled/repository_dependency_scanning_enabled.metadata.json
  prowler/providers/github/services/repository/repository_dependency_scanning_enabled/repository_dependency_scanning_enabled.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_dependency_scanning_enabled/repository_dependency_scanning_enabled_test.py
Labels: provider/github

#7777 feat(repository): add new check `repository_default_branch_requires_signed_commits`
  prowler/CHANGELOG.md
  prowler/providers/github/services/repository/repository_default_branch_requires_signed_commits/__init__.py
  prowler/providers/github/services/repository/repository_default_branch_requires_signed_commits/repository_default_branch_requires_signed_commits.metadata.json
  prowler/providers/github/services/repository/repository_default_branch_requires_signed_commits/repository_default_branch_requires_signed_commits.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/services/repository/repository_default_branch_requires_signed_commits/repository_default_branch_requires_signed_commits_test.py
Labels: provider/github

#7784 chore(m365powershell): manage encryption from plaintext password
  api/CHANGELOG.md
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/serializer_utils/providers.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  docs/getting-started/requirements.md
  docs/tutorials/microsoft365/getting-started-m365.md
  poetry.lock
  prowler/CHANGELOG.md
  prowler/providers/m365/lib/powershell/m365_powershell.py
  prowler/providers/m365/m365_provider.py
  prowler/providers/m365/models.py
  tests/providers/m365/lib/powershell/m365_powershell_test.py
  tests/providers/m365/m365_provider_test.py
  ui/actions/providers/providers.ts
  ui/components/providers/workflow/forms/update-via-credentials-form.tsx
  ui/components/providers/workflow/forms/via-credentials-form.tsx
  ui/components/providers/workflow/forms/via-credentials/m365-credentials-form.tsx
  ui/types/components.ts
  ui/types/formSchemas.ts
Labels: documentation, component/ui, component/api

#7825 fix(m365): remove last encrypted password appearances
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/serializer_utils/providers.py
  prowler/providers/m365/exceptions/exceptions.py
  prowler/providers/m365/m365_provider.py
  tests/providers/m365/m365_provider_test.py
Labels: component/api

#7828 fix(formSchemas): encrypted password typo
  ui/types/formSchemas.ts
Labels: component/ui

#7786 feat(repositoy): add new check `repository_inactive_not_archived`
  docs/tutorials/configuration_file.md
  prowler/CHANGELOG.md
  prowler/config/config.yaml
  prowler/providers/github/services/repository/repository_inactive_not_archived/__init__.py
  prowler/providers/github/services/repository/repository_inactive_not_archived/repository_inactive_not_archived.metadata.json
  prowler/providers/github/services/repository/repository_inactive_not_archived/repository_inactive_not_archived.py
  prowler/providers/github/services/repository/repository_service.py
  tests/providers/github/github_provider_test.py
  tests/providers/github/services/repository/repository_branch_delete_on_merge_enabled/repository_branch_delete_on_merge_enabled_test.py
  tests/providers/github/services/repository/repository_default_branch_deletion_disabled/repository_default_branch_deletion_disabled_test.py
  tests/providers/github/services/repository/repository_default_branch_disallows_force_push/repository_default_branch_disallows_force_push_test.py
  tests/providers/github/services/repository/repository_default_branch_protection_applies_to_admins/repository_default_branch_protection_applies_to_admins_test.py
  tests/providers/github/services/repository/repository_default_branch_protection_enabled/repository_default_branch_protection_enabled_test.py
  tests/providers/github/services/repository/repository_default_branch_requires_codeowners_review/repository_default_branch_requires_codeowners_review_test.py
  tests/providers/github/services/repository/repository_default_branch_requires_conversation_resolution/repository_default_branch_requires_conversation_resolution_test.py
  tests/providers/github/services/repository/repository_default_branch_requires_linear_history/repository_default_branch_requires_linear_history_test.py
  tests/providers/github/services/repository/repository_default_branch_requires_multiple_approvals/repository_default_branch_requires_multiple_approvals_test.py
  tests/providers/github/services/repository/repository_default_branch_requires_signed_commits/repository_default_branch_requires_signed_commits_test.py
  tests/providers/github/services/repository/repository_default_branch_status_checks_required/repository_default_branch_status_checks_required_test.py
  tests/providers/github/services/repository/repository_dependency_scanning_enabled/repository_dependency_scanning_enabled_test.py
  tests/providers/github/services/repository/repository_has_codeowners_file/repository_has_codeowners_file_test.py
  tests/providers/github/services/repository/repository_inactive_not_archived/repository_inactive_not_archived_test.py
  tests/providers/github/services/repository/repository_public_has_securitymd_file/repository_public_has_securitymd_file_test.py
  tests/providers/github/services/repository/repository_secret_scanning_enabled/repository_secret_scanning_enabled_test.py
  tests/providers/github/services/repository/repository_service_test.py
Labels: documentation, provider/github

#7758 fix(ui): updated to use the correct message when download report clicked
  ui/CHANGELOG.md
  ui/actions/scans/scans.ts
  ui/components/compliance/compliance-card.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/scans/table/scans/data-table-download-details.tsx
  ui/components/ui/download-icon-button/download-icon-button.tsx
  ui/lib/helper.ts
  ui/styles/globals.css
  ui/tailwind.config.js
  ui/types/formSchemas.ts
Labels: no-merge, component/ui

#7844 fix(m365): add compliantDevice grant control support
  prowler/providers/m365/services/entra/entra_service.py
  tests/providers/azure/services/entra/entra_service_test.py
  tests/providers/m365/services/entra/microsoft365_entra_service_test.py
Labels: provider/azure

#7859 fix(threatscore): remove compliance name in tests to remove dummy files
  tests/lib/outputs/compliance/fixtures.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_aws_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_azure_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_gcp_test.py
  tests/lib/outputs/compliance/prowler_threatscore/prowler_threatscore_m365_test.py
Labels: compliance

#7862 fix(defender): update `defender_ensure_notify_alerts_severity_is_high` logic
  prowler/CHANGELOG.md
  prowler/providers/azure/services/defender/defender_ensure_notify_alerts_severity_is_high/defender_ensure_notify_alerts_severity_is_high.metadata.json
  prowler/providers/azure/services/defender/defender_ensure_notify_alerts_severity_is_high/defender_ensure_notify_alerts_severity_is_high.py
  tests/providers/azure/services/defender/defender_ensure_notify_alerts_severity_is_high/defender_ensure_notify_alerts_severity_is_high_test.py
Labels: provider/azure, backport-to-v5.7

#7866 fix(tests): typo in m365 domain test
  api/src/backend/api/tests/test_views.py
  prowler/CHANGELOG.md
Labels: component/api

#7865 fix(ui): increase limit to retrieve more than 10 scan list
  ui/CHANGELOG.md
  ui/app/(prowler)/compliance/page.tsx
Labels: component/ui

#7869 fix(awslambda): aws service awslambda not working
  prowler/lib/check/models.py
  tests/lib/check/models_test.py
Labels: backport-to-v5.7

#7882 fix(gcp): test connection by verifying token
  prowler/providers/gcp/gcp_provider.py
Labels: provider/gcp, backport-to-v5.7

#7876 fix: add new get method to avoid race conditions when creating async tasks
  .env
  api/CHANGELOG.md
  api/src/backend/api/models.py
  api/src/backend/api/tests/test_models.py
  api/src/backend/api/v1/views.py
Labels: component/api, backport-to-v5.7

#7888 chore: replace `Directory.Read.All` permission to `Domain.Read.All`
  docs/getting-started/requirements.md
  docs/tutorials/azure/create-prowler-service-principal.md
  docs/tutorials/azure/getting-started-azure.md
  docs/tutorials/microsoft365/getting-started-m365.md
  prowler/CHANGELOG.md
Labels: documentation

#7889 chore: fix commit sha when a pr is merged
  .github/workflows/pull-request-merged.yml
Labels: github_actions
