Repository prowler-cloud/prowler, pull requests merged in 2025-01, with the labels that each got.

#6353 docs: add new format CloudFormation for ResourceType in check metadata
  docs/developer-guide/checks.md
Labels: documentation

#6384 fix(ci): move poetry deprecated command to new one
  .github/workflows/api-pull-request.yml
  .github/workflows/sdk-pull-request.yml
Labels: github_actions

#6323 feat(aws): add new check `cloudformation_stack_cdktoolkit_bootstrap_version`
  prowler/config/config.yaml
  prowler/providers/aws/services/cloudformation/cloudformation_stack_cdktoolkit_bootstrap_version/__init__.py
  prowler/providers/aws/services/cloudformation/cloudformation_stack_cdktoolkit_bootstrap_version/cloudformation_stack_cdktoolkit_bootstrap_version.metadata.json
  prowler/providers/aws/services/cloudformation/cloudformation_stack_cdktoolkit_bootstrap_version/cloudformation_stack_cdktoolkit_bootstrap_version.py
  prowler/providers/aws/services/cloudformation/cloudformation_stack_outputs_find_secrets/cloudformation_stack_outputs_find_secrets.py
  prowler/providers/aws/services/cloudformation/cloudformation_stacks_termination_protection_enabled/cloudformation_stacks_termination_protection_enabled.py
  tests/providers/aws/services/cloudformation/cloudformation_stack_cdktoolkit_bootstrap_version/cloudformation_stack_cdktoolkit_bootstrap_version_test.py
  tests/providers/aws/services/cloudformation/cloudformation_stack_outputs_find_secrets/cloudformation_stack_outputs_find_secrets_test.py
  tests/providers/aws/services/cloudformation/cloudformation_stacks_termination_protection_enabled/cloudformation_stacks_termination_protection_enabled_test.py
Labels: provider/aws

#6391 feat(scans): add new component - alert bar
  ui/app/(prowler)/compliance/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/components/filters/custom-region-selection.tsx
  ui/components/scans/index.ts
  ui/components/scans/scan-warning-bar.tsx
  ui/components/ui/custom/custom-radio.tsx
  ui/components/ui/custom/custom-textarea.tsx
  ui/package-lock.json
  ui/package.json
Labels: component/ui, backport-to-v5.0

#6398 fix(cloudformation): fix flaky tests
  tests/providers/aws/services/cloudformation/cloudformation_stack_cdktoolkit_bootstrap_version/cloudformation_stack_cdktoolkit_bootstrap_version_test.py
  tests/providers/aws/services/cloudformation/cloudformation_stack_outputs_find_secrets/cloudformation_stack_outputs_find_secrets_test.py
  tests/providers/aws/services/cloudformation/cloudformation_stacks_termination_protection_enabled/cloudformation_stacks_termination_protection_enabled_test.py
Labels: provider/aws

#6400 feat(update-credentials): add explanation text for the current behavior
  ui/app/(prowler)/providers/(set-up-provider)/update-credentials/page.tsx
  ui/components/findings/table/data-table-row-actions.tsx
  ui/components/invitations/table/data-table-row-actions.tsx
  ui/components/manage-groups/table/data-table-row-actions.tsx
  ui/components/providers/table/data-table-row-actions.tsx
  ui/components/roles/table/data-table-row-actions.tsx
  ui/components/scans/table/scans/data-table-row-actions.tsx
  ui/components/ui/sidebar/sidebar-wrap.tsx
  ui/components/ui/table/data-table-column-header.tsx
  ui/components/users/table/data-table-row-actions.tsx
Labels: component/ui, backport-to-v5.0

#6403 fix(api): change the inserted_at.lte unittest
  api/src/backend/api/tests/test_views.py
Labels: backport, component/api

#6396 fix(iam): handle non existing MFA devices
  prowler/providers/aws/services/iam/iam_service.py
Labels: provider/aws, backport-to-v3, backport-to-v4.6, backport-to-v5.0

#6395 chore(containers): Build stable for API and UI
  .env
  .github/workflows/api-build-lint-push-containers.yml
  .github/workflows/sdk-pull-request.yml
  .github/workflows/ui-build-lint-push-containers.yml
  docker-compose.yml
Labels: github_actions

#6404 fix(BC: NextUI): fix BC from NextUI, resolve ESLint warnings and optimize hooks dependencies
  ui/.eslintrc.cjs
  ui/actions/providers/providers.ts
  ui/actions/services/services.ts
  ui/actions/users/users.ts
  ui/app/(prowler)/compliance/page.tsx
  ui/app/(prowler)/error.tsx
  ui/app/(prowler)/providers/page.tsx
  ui/app/(prowler)/services/page.tsx
  ui/components/compliance/data-compliance/select-scan-compliance-data.tsx
  ui/components/filters/custom-account-selection.tsx
  ui/components/filters/custom-checkbox-muted-findings.tsx
  ui/components/filters/custom-region-selection.tsx
  ui/components/filters/custom-search-input.tsx
  ui/components/filters/custom-select-provider.tsx
  ui/components/findings/table/column-findings.tsx
  ui/components/invitations/forms/edit-form.tsx
  ui/components/invitations/workflow/forms/send-invitation-form.tsx
  ui/components/overview/findings-by-status-chart/findings-by-status-chart.tsx
  ui/components/overview/new-findings-table/table/column-new-findings-to-date.tsx
  ui/components/providers/workflow/forms/connect-account-form.tsx
  ui/components/roles/workflow/forms/add-role-form.tsx
  ui/components/roles/workflow/forms/edit-role-form.tsx
  ui/components/scans/launch-workflow/select-scan-provider.tsx
  ui/components/scans/no-providers-added.tsx
  ui/components/scans/table/scans/column-get-scans.tsx
  ui/components/scans/table/scans/data-table-row-details.tsx
  ui/components/ui/custom/custom-alert-modal.tsx
  ui/components/ui/custom/custom-dropdown-filter.tsx
  ui/components/ui/custom/custom-dropdown-selection.tsx
  ui/components/ui/sidebar/sidebar-wrap.tsx
  ui/components/ui/sidebar/sidebar.tsx
  ui/components/ui/table/data-table-pagination.tsx
  ui/components/users/forms/edit-form.tsx
  ui/hooks/useLocalStorage.ts
  ui/package-lock.json
  ui/package.json
  ui/styles/globals.css
Labels: component/ui

#6386 docs(outputs): add custom outputs formats documentation
  docs/developer-guide/outputs.md
Labels: documentation

#6269 docs(integrations): add integrations docs
  docs/developer-guide/integrations.md
Labels: documentation

#6449 fix(codeartifact): fix flaky tests
  tests/providers/aws/services/codeartifact/codeartifact_packages_external_public_publishing_disabled/codeartifact_packages_external_public_publishing_disabled_test.py
Labels: provider/aws

#6450 feat: New gen-ai category for all relevant checks.
  prowler/providers/aws/services/bedrock/bedrock_agent_guardrail_enabled/bedrock_agent_guardrail_enabled.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_guardrail_prompt_attack_filter_enabled/bedrock_guardrail_prompt_attack_filter_enabled.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_guardrail_sensitive_information_filter_enabled/bedrock_guardrail_sensitive_information_filter_enabled.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_model_invocation_logging_enabled/bedrock_model_invocation_logging_enabled.metadata.json
  prowler/providers/aws/services/bedrock/bedrock_model_invocation_logs_encryption_enabled/bedrock_model_invocation_logs_encryption_enabled.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_endpoint_config_prod_variant_instances/sagemaker_endpoint_config_prod_variant_instances.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_models_network_isolation_enabled/sagemaker_models_network_isolation_enabled.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_models_vpc_settings_configured/sagemaker_models_vpc_settings_configured.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_notebook_instance_encryption_enabled/sagemaker_notebook_instance_encryption_enabled.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_notebook_instance_root_access_disabled/sagemaker_notebook_instance_root_access_disabled.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_notebook_instance_vpc_settings_configured/sagemaker_notebook_instance_vpc_settings_configured.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_notebook_instance_without_direct_internet_access_configured/sagemaker_notebook_instance_without_direct_internet_access_configured.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_training_jobs_intercontainer_encryption_enabled/sagemaker_training_jobs_intercontainer_encryption_enabled.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_training_jobs_network_isolation_enabled/sagemaker_training_jobs_network_isolation_enabled.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_training_jobs_volume_and_output_encryption_enabled/sagemaker_training_jobs_volume_and_output_encryption_enabled.metadata.json
  prowler/providers/aws/services/sagemaker/sagemaker_training_jobs_vpc_settings_configured/sagemaker_training_jobs_vpc_settings_configured.metadata.json
  prowler/providers/azure/services/aisearch/aisearch_service_not_publicly_accessible/aisearch_service_not_publicly_accessible.metadata.json
  prowler/providers/gcp/services/dataproc/dataproc_encrypted_with_cmks_disabled/dataproc_encrypted_with_cmks_disabled.metadata.json
Labels: provider/aws, provider/azure, provider/gcp

#6264 refactor(mutelist): use jsonschema on mutelist
  prowler/lib/mutelist/models.py
  prowler/lib/mutelist/mutelist.py
Labels: mutelist

#6210 docs(azure): improve tutorials for Prowler App
  docs/getting-started/requirements.md
  docs/tutorials/azure/create-prowler-service-principal.md
  docs/tutorials/azure/subscriptions.md
  docs/tutorials/prowler-app.md
Labels: documentation, no-merge

#6211 chore(rls): Add tenant_id filters in views and improve querysets
  api/src/backend/api/models.py
  api/src/backend/api/rbac/permissions.py
  api/src/backend/api/tests/test_models.py
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
  api/src/backend/conftest.py
Labels: component/api

#6461 fix(vpc): add new principal wildcard verification
  prowler/providers/aws/services/vpc/vpc_endpoint_services_allowed_principals_trust_boundaries/vpc_endpoint_services_allowed_principals_trust_boundaries.py
  tests/providers/aws/services/vpc/vpc_endpoint_services_allowed_principals_trust_boundaries/vpc_endpoint_services_allowed_principals_trust_boundaries_test.py
Labels: provider/aws, backport-to-v3, backport-to-v4.6, backport-to-v5.0

#6468 chore(manage-groups): tweaks for provider manage groups
  ui/components/manage-groups/forms/add-group-form.tsx
  ui/components/manage-groups/forms/edit-group-form.tsx
  ui/components/ui/sidebar/sidebar-items.tsx
Labels: component/ui

#6475 styles(invitations): tweak styles for invitation details box
  ui/components/invitations/invitation-details.tsx
Labels: component/ui, backport-to-v5.0

#6405 fix(iso27001-2013): add ReqId and ReqDescription in output
  prowler/lib/outputs/compliance/iso27001/iso27001_aws.py
  prowler/lib/outputs/compliance/iso27001/models.py
  tests/lib/outputs/compliance/iso27001/iso27001_aws_test.py
Labels: backport-to-v4.6, backport-to-v5.0

#6471 ref(rbac): disable some checks
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
Labels: component/api

#6497 chore(roles): prevent capitalization of provider groups and roles
  ui/components/manage-groups/table/column-groups.tsx
  ui/components/roles/table/column-roles.tsx
Labels: component/ui

#6498 chore(groups): Enable updating groups without roles or providers
  ui/actions/manage-groups/manage-groups.ts
  ui/app/(prowler)/manage-groups/page.tsx
  ui/components/manage-groups/forms/add-group-form.tsx
  ui/components/manage-groups/forms/edit-group-form.tsx
Labels: component/ui

#6503 feat(findings): add /findings/metadata to retrieve dynamic filters information
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Labels: component/api

#6509 feat(aks): use Check_Report_Azure constructor properly in AKS checks
  prowler/lib/check/models.py
  prowler/providers/azure/services/aks/aks_cluster_rbac_enabled/aks_cluster_rbac_enabled.py
  prowler/providers/azure/services/aks/aks_clusters_created_with_private_nodes/aks_clusters_created_with_private_nodes.py
  prowler/providers/azure/services/aks/aks_clusters_public_access_disabled/aks_clusters_public_access_disabled.py
  prowler/providers/azure/services/aks/aks_network_policy_enabled/aks_network_policy_enabled.py
  prowler/providers/azure/services/aks/aks_service.py
  tests/providers/azure/services/aks/aks_cluster_rbac_enabled/aks_cluster_rbac_enabled_test.py
  tests/providers/azure/services/aks/aks_clusters_created_with_private_nodes/aks_clusters_created_with_private_nodes_test.py
  tests/providers/azure/services/aks/aks_clusters_public_access_disabled/aks_clusters_public_access_disabled_test.py
  tests/providers/azure/services/aks/aks_network_policy_enabled/aks_network_policy_enabled_test.py
  tests/providers/azure/services/aks/aks_service_test.py
Labels: provider/azure

#6524 feat(filters): add resource type filter for findings
  ui/actions/findings/findings.ts
  ui/app/(prowler)/findings/page.tsx
Labels: component/ui, backport-to-v5.1

#6510 feat(provider-secret): make existing external_id field mandatory
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/serializers.py
Labels: component/api

#6460 feat(finding): add first_seen attribute
  api/src/backend/api/fixtures/dev/5_dev_findings.json
  api/src/backend/api/migrations/0006_findings_first_seen.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/serializers.py
  api/src/backend/conftest.py
  api/src/backend/tasks/jobs/scan.py
Labels: component/api

#6529 feat(azure-app): extract Web App resource metadata in automated way
  docs/developer-guide/unit-testing.md
  prowler/providers/azure/services/app/app_client_certificates_on/app_client_certificates_on.py
  prowler/providers/azure/services/app/app_ensure_auth_is_set_up/app_ensure_auth_is_set_up.py
  prowler/providers/azure/services/app/app_ensure_http_is_redirected_to_https/app_ensure_http_is_redirected_to_https.py
  prowler/providers/azure/services/app/app_ensure_java_version_is_latest/app_ensure_java_version_is_latest.py
  prowler/providers/azure/services/app/app_ensure_php_version_is_latest/app_ensure_php_version_is_latest.py
  prowler/providers/azure/services/app/app_ensure_python_version_is_latest/app_ensure_python_version_is_latest.py
  prowler/providers/azure/services/app/app_ensure_using_http20/app_ensure_using_http20.py
  prowler/providers/azure/services/app/app_ftp_deployment_disabled/app_ftp_deployment_disabled.py
  prowler/providers/azure/services/app/app_function_access_keys_configured/app_function_access_keys_configured.py
  prowler/providers/azure/services/app/app_function_application_insights_enabled/app_function_application_insights_enabled.py
  prowler/providers/azure/services/app/app_function_ftps_deployment_disabled/app_function_ftps_deployment_disabled.py
  prowler/providers/azure/services/app/app_function_identity_is_configured/app_function_identity_is_configured.py
  prowler/providers/azure/services/app/app_function_identity_without_admin_privileges/app_function_identity_without_admin_privileges.py
  prowler/providers/azure/services/app/app_function_latest_runtime_version/app_function_latest_runtime_version.py
  prowler/providers/azure/services/app/app_function_not_publicly_accessible/app_function_not_publicly_accessible.py
  prowler/providers/azure/services/app/app_function_vnet_integration_enabled/app_function_vnet_integration_enabled.py
  prowler/providers/azure/services/app/app_http_logs_enabled/app_http_logs_enabled.py
  prowler/providers/azure/services/app/app_minimum_tls_version_12/app_minimum_tls_version_12.py
  prowler/providers/azure/services/app/app_register_with_identity/app_register_with_identity.py
  prowler/providers/azure/services/app/app_service.py
  tests/providers/azure/services/app/app_client_certificates_on/app_client_certificates_on_test.py
  tests/providers/azure/services/app/app_ensure_auth_is_set_up/app_ensure_auth_is_set_up_test.py
  tests/providers/azure/services/app/app_ensure_http_is_redirected_to_https/app_ensure_http_is_redirected_to_https_test.py
  tests/providers/azure/services/app/app_ensure_java_version_is_latest/app_ensure_java_version_is_latest_test.py
  tests/providers/azure/services/app/app_ensure_php_version_is_latest/app_ensure_php_version_is_latest_test.py
  tests/providers/azure/services/app/app_ensure_python_version_is_latest/app_ensure_python_version_is_latest_test.py
  tests/providers/azure/services/app/app_ensure_using_http20/app_ensure_using_http20_test.py
  tests/providers/azure/services/app/app_ftp_deployment_disabled/app_ftp_deployment_disabled_test.py
  tests/providers/azure/services/app/app_function_access_keys_configured/app_function_access_keys_configured_test.py
  tests/providers/azure/services/app/app_function_application_insights_enabled/app_function_application_insights_enabled_test.py
  tests/providers/azure/services/app/app_function_ftps_deployment_disabled/app_function_ftps_deployment_disabled_test.py
  tests/providers/azure/services/app/app_function_identity_is_configured/app_function_identity_is_configured_test.py
  tests/providers/azure/services/app/app_function_identity_without_admin_privileges/app_function_identity_without_admin_privileges_test.py
  tests/providers/azure/services/app/app_function_latest_runtime_version/app_function_latest_runtime_version_test.py
  tests/providers/azure/services/app/app_function_not_publicly_accessible/app_function_not_publicly_accessible_test.py
  tests/providers/azure/services/app/app_function_vnet_integration_enabled/app_function_vnet_integration_enabled_test.py
  tests/providers/azure/services/app/app_http_logs_enabled/app_http_logs_enabled_test.py
  tests/providers/azure/services/app/app_minimum_tls_version_12/app_minimum_tls_version_12_test.py
  tests/providers/azure/services/app/app_register_with_identity/app_register_with_identity_test.py
  tests/providers/azure/services/app/app_service_test.py
Labels: documentation, provider/azure

#6533 feat(cosmosdb): extract CosmosDB resource metadata in automated way
  prowler/providers/azure/services/cosmosdb/cosmosdb_account_firewall_use_selected_networks/cosmosdb_account_firewall_use_selected_networks.py
  prowler/providers/azure/services/cosmosdb/cosmosdb_account_use_aad_and_rbac/cosmosdb_account_use_aad_and_rbac.py
  prowler/providers/azure/services/cosmosdb/cosmosdb_account_use_private_endpoints/cosmosdb_account_use_private_endpoints.py
  prowler/providers/azure/services/cosmosdb/cosmosdb_service.py
Labels: provider/azure

#6539 feat: add resource metadata to `emr_cluster_account_public_block_enabled`
  prowler/providers/aws/services/emr/emr_cluster_account_public_block_enabled/emr_cluster_account_public_block_enabled.py
Labels: provider/aws

#6540 feat(appinsights): extract App Insights resource metadata in automated way
  prowler/lib/check/models.py
  prowler/providers/azure/services/appinsights/appinsights_ensure_is_configured/appinsights_ensure_is_configured.py
Labels: provider/azure

#6546 chore(aws): add resource metadata to services from `t` to `w`
  prowler/providers/aws/services/transfer/transfer_server_in_transit_encryption_enabled/transfer_server_in_transit_encryption_enabled.py
  prowler/providers/aws/services/trustedadvisor/trustedadvisor_errors_and_warnings/trustedadvisor_errors_and_warnings.py
  prowler/providers/aws/services/trustedadvisor/trustedadvisor_premium_support_plan_subscribed/trustedadvisor_premium_support_plan_subscribed.py
  prowler/providers/aws/services/vpc/vpc_different_regions/vpc_different_regions.py
  prowler/providers/aws/services/vpc/vpc_endpoint_connections_trust_boundaries/vpc_endpoint_connections_trust_boundaries.py
  prowler/providers/aws/services/vpc/vpc_endpoint_for_ec2_enabled/vpc_endpoint_for_ec2_enabled.py
  prowler/providers/aws/services/vpc/vpc_endpoint_multi_az_enabled/vpc_endpoint_multi_az_enabled.py
  prowler/providers/aws/services/vpc/vpc_endpoint_services_allowed_principals_trust_boundaries/vpc_endpoint_services_allowed_principals_trust_boundaries.py
  prowler/providers/aws/services/vpc/vpc_flow_logs_enabled/vpc_flow_logs_enabled.py
  prowler/providers/aws/services/vpc/vpc_peering_routing_tables_with_least_privilege/vpc_peering_routing_tables_with_least_privilege.py
  prowler/providers/aws/services/vpc/vpc_service.py
  prowler/providers/aws/services/vpc/vpc_subnet_different_az/vpc_subnet_different_az.py
  prowler/providers/aws/services/vpc/vpc_subnet_no_public_ip_by_default/vpc_subnet_no_public_ip_by_default.py
  prowler/providers/aws/services/vpc/vpc_subnet_separate_private_public/vpc_subnet_separate_private_public.py
  prowler/providers/aws/services/vpc/vpc_vpn_connection_tunnels_up/vpc_vpn_connection_tunnels_up.py
  prowler/providers/aws/services/waf/waf_global_rule_with_conditions/waf_global_rule_with_conditions.py
  prowler/providers/aws/services/waf/waf_global_rulegroup_not_empty/waf_global_rulegroup_not_empty.py
  prowler/providers/aws/services/waf/waf_global_webacl_logging_enabled/waf_global_webacl_logging_enabled.py
  prowler/providers/aws/services/waf/waf_global_webacl_with_rules/waf_global_webacl_with_rules.py
  prowler/providers/aws/services/waf/waf_regional_rule_with_conditions/waf_regional_rule_with_conditions.py
  prowler/providers/aws/services/waf/waf_regional_rulegroup_not_empty/waf_regional_rulegroup_not_empty.py
  prowler/providers/aws/services/waf/waf_regional_webacl_with_rules/waf_regional_webacl_with_rules.py
  prowler/providers/aws/services/wafv2/wafv2_webacl_logging_enabled/wafv2_webacl_logging_enabled.py
  prowler/providers/aws/services/wafv2/wafv2_webacl_rule_logging_enabled/wafv2_webacl_rule_logging_enabled.py
  prowler/providers/aws/services/wafv2/wafv2_webacl_with_rules/wafv2_webacl_with_rules.py
  prowler/providers/aws/services/wellarchitected/wellarchitected_workload_no_high_or_medium_risks/wellarchitected_workload_no_high_or_medium_risks.py
  prowler/providers/aws/services/workspaces/workspaces_volume_encryption_enabled/workspaces_volume_encryption_enabled.py
  prowler/providers/aws/services/workspaces/workspaces_vpc_2private_1public_subnets_nat/workspaces_vpc_2private_1public_subnets_nat.py
  tests/providers/aws/services/vpc/vpc_service_test.py
Labels: provider/aws

#6504 feat(aws): include resource metadata in services from `a*` to `b*`
  prowler/lib/check/models.py
  prowler/providers/aws/services/accessanalyzer/accessanalyzer_enabled/accessanalyzer_enabled.py
  prowler/providers/aws/services/accessanalyzer/accessanalyzer_enabled_without_findings/accessanalyzer_enabled_without_findings.py
  prowler/providers/aws/services/account/account_maintain_current_contact_details/account_maintain_current_contact_details.py
  prowler/providers/aws/services/account/account_maintain_different_contact_details_to_security_billing_and_operations/account_maintain_different_contact_details_to_security_billing_and_operations.py
  prowler/providers/aws/services/account/account_security_contact_information_is_registered/account_security_contact_information_is_registered.py
  prowler/providers/aws/services/account/account_security_questions_are_registered_in_the_aws_account/account_security_questions_are_registered_in_the_aws_account.py
  prowler/providers/aws/services/acm/acm_certificates_expiration_check/acm_certificates_expiration_check.py
  prowler/providers/aws/services/acm/acm_certificates_transparency_logs_enabled/acm_certificates_transparency_logs_enabled.py
  prowler/providers/aws/services/acm/acm_certificates_with_secure_key_algorithms/acm_certificates_with_secure_key_algorithms.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_authorizers_enabled/apigateway_restapi_authorizers_enabled.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_cache_encrypted/apigateway_restapi_cache_encrypted.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_client_certificate_enabled/apigateway_restapi_client_certificate_enabled.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_logging_enabled/apigateway_restapi_logging_enabled.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_public/apigateway_restapi_public.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_public_with_authorizer/apigateway_restapi_public_with_authorizer.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_tracing_enabled/apigateway_restapi_tracing_enabled.py
  prowler/providers/aws/services/apigateway/apigateway_restapi_waf_acl_attached/apigateway_restapi_waf_acl_attached.py
  prowler/providers/aws/services/apigatewayv2/apigatewayv2_api_access_logging_enabled/apigatewayv2_api_access_logging_enabled.py
  prowler/providers/aws/services/apigatewayv2/apigatewayv2_api_authorizers_enabled/apigatewayv2_api_authorizers_enabled.py
  prowler/providers/aws/services/appstream/appstream_fleet_default_internet_access_disabled/appstream_fleet_default_internet_access_disabled.py
  prowler/providers/aws/services/appstream/appstream_fleet_maximum_session_duration/appstream_fleet_maximum_session_duration.py
  prowler/providers/aws/services/appstream/appstream_fleet_session_disconnect_timeout/appstream_fleet_session_disconnect_timeout.py
  prowler/providers/aws/services/appstream/appstream_fleet_session_idle_disconnect_timeout/appstream_fleet_session_idle_disconnect_timeout.py
  prowler/providers/aws/services/appsync/appsync_field_level_logging_enabled/appsync_field_level_logging_enabled.py
  prowler/providers/aws/services/appsync/appsync_graphql_api_no_api_key_authentication/appsync_graphql_api_no_api_key_authentication.py
  prowler/providers/aws/services/athena/athena_workgroup_encryption/athena_workgroup_encryption.py
  prowler/providers/aws/services/athena/athena_workgroup_enforce_configuration/athena_workgroup_enforce_configuration.py
  prowler/providers/aws/services/athena/athena_workgroup_logging_enabled/athena_workgroup_logging_enabled.py
  prowler/providers/aws/services/autoscaling/autoscaling_find_secrets_ec2_launch_configuration/autoscaling_find_secrets_ec2_launch_configuration.py
  prowler/providers/aws/services/autoscaling/autoscaling_group_capacity_rebalance_enabled/autoscaling_group_capacity_rebalance_enabled.py
  prowler/providers/aws/services/autoscaling/autoscaling_group_elb_health_check_enabled/autoscaling_group_elb_health_check_enabled.py
  prowler/providers/aws/services/autoscaling/autoscaling_group_launch_configuration_no_public_ip/autoscaling_group_launch_configuration_no_public_ip.py
  prowler/providers/aws/services/autoscaling/autoscaling_group_launch_configuration_requires_imdsv2/autoscaling_group_launch_configuration_requires_imdsv2.py
  prowler/providers/aws/services/autoscaling/autoscaling_group_multiple_az/autoscaling_group_multiple_az.py
  prowler/providers/aws/services/autoscaling/autoscaling_group_multiple_instance_types/autoscaling_group_multiple_instance_types.py
  prowler/providers/aws/services/autoscaling/autoscaling_group_using_ec2_launch_template/autoscaling_group_using_ec2_launch_template.py
  prowler/providers/aws/services/awslambda/awslambda_function_inside_vpc/awslambda_function_inside_vpc.py
  prowler/providers/aws/services/awslambda/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled/awslambda_function_invoke_api_operations_cloudtrail_logging_enabled.py
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code.py
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_variables/awslambda_function_no_secrets_in_variables.py
  prowler/providers/aws/services/awslambda/awslambda_function_not_publicly_accessible/awslambda_function_not_publicly_accessible.py
  prowler/providers/aws/services/awslambda/awslambda_function_url_cors_policy/awslambda_function_url_cors_policy.py
  prowler/providers/aws/services/awslambda/awslambda_function_url_public/awslambda_function_url_public.py
  prowler/providers/aws/services/awslambda/awslambda_function_using_supported_runtimes/awslambda_function_using_supported_runtimes.py
  prowler/providers/aws/services/awslambda/awslambda_function_vpc_multi_az/awslambda_function_vpc_multi_az.py
  prowler/providers/aws/services/backup/backup_plans_exist/backup_plans_exist.py
  prowler/providers/aws/services/backup/backup_recovery_point_encrypted/backup_recovery_point_encrypted.py
  prowler/providers/aws/services/backup/backup_reportplans_exist/backup_reportplans_exist.py
  prowler/providers/aws/services/backup/backup_vaults_encrypted/backup_vaults_encrypted.py
  prowler/providers/aws/services/backup/backup_vaults_exist/backup_vaults_exist.py
  prowler/providers/aws/services/bedrock/bedrock_agent_guardrail_enabled/bedrock_agent_guardrail_enabled.py
  prowler/providers/aws/services/bedrock/bedrock_guardrail_prompt_attack_filter_enabled/bedrock_guardrail_prompt_attack_filter_enabled.py
  prowler/providers/aws/services/bedrock/bedrock_guardrail_sensitive_information_filter_enabled/bedrock_guardrail_sensitive_information_filter_enabled.py
  prowler/providers/aws/services/bedrock/bedrock_model_invocation_logging_enabled/bedrock_model_invocation_logging_enabled.py
  prowler/providers/aws/services/bedrock/bedrock_model_invocation_logs_encryption_enabled/bedrock_model_invocation_logs_encryption_enabled.py
  tests/providers/aws/services/account/account_maintain_different_contact_details_to_security_billing_and_operations/account_maintain_different_contact_details_to_security_billing_and_operations_test.py
  tests/providers/aws/services/backup/backup_plans_exist/backup_plans_exist_test.py
  tests/providers/aws/services/backup/backup_reportplans_exist/backup_reportplans_exist_test.py
  tests/providers/aws/services/backup/backup_vaults_exist/backup_vaults_exist_test.py
Labels: provider/aws

#6543 fix(dep): address compatibility issues
  ui/actions/roles/roles.ts
  ui/app/(prowler)/providers/(set-up-provider)/update-credentials/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/components/roles/workflow/forms/add-role-form.tsx
  ui/components/roles/workflow/forms/edit-role-form.tsx
  ui/components/scans/scan-warning-bar.tsx
  ui/package-lock.json
  ui/package.json
  ui/types/formSchemas.ts
Labels: component/ui

#6549 fix(gcp): iterate through service projects
  prowler/providers/gcp/services/compute/compute_project_os_login_enabled/compute_project_os_login_enabled.py
  prowler/providers/gcp/services/iam/iam_audit_logs_enabled/iam_audit_logs_enabled.py
  tests/providers/gcp/services/compute/compute_project_os_login_enabled/compute_project_os_login_enabled_test.py
  tests/providers/gcp/services/iam/iam_audit_logs_enabled/iam_audit_logs_enabled_test.py
Labels: provider/gcp

#6552 feat(iam): extract IAM resource metadata automated
  prowler/providers/azure/services/iam/iam_custom_role_has_permissions_to_administer_resource_locks/iam_custom_role_has_permissions_to_administer_resource_locks.py
  prowler/providers/azure/services/iam/iam_service.py
  prowler/providers/azure/services/iam/iam_subscription_roles_owner_custom_not_created/iam_subscription_roles_owner_custom_not_created.py
Labels: provider/azure

#6553 feat(keyvault): extract KeyVault resource metadata automated
  prowler/providers/azure/services/keyvault/keyvault_key_expiration_set_in_non_rbac/keyvault_key_expiration_set_in_non_rbac.py
  prowler/providers/azure/services/keyvault/keyvault_key_rotation_enabled/keyvault_key_rotation_enabled.py
  prowler/providers/azure/services/keyvault/keyvault_logging_enabled/keyvault_logging_enabled.py
  prowler/providers/azure/services/keyvault/keyvault_non_rbac_secret_expiration_set/keyvault_non_rbac_secret_expiration_set.py
  prowler/providers/azure/services/keyvault/keyvault_private_endpoints/keyvault_private_endpoints.py
  prowler/providers/azure/services/keyvault/keyvault_rbac_enabled/keyvault_rbac_enabled.py
  prowler/providers/azure/services/keyvault/keyvault_rbac_key_expiration_set/keyvault_rbac_key_expiration_set.py
  prowler/providers/azure/services/keyvault/keyvault_rbac_secret_expiration_set/keyvault_rbac_secret_expiration_set.py
  prowler/providers/azure/services/keyvault/keyvault_recoverable/keyvault_recoverable.py
  prowler/providers/azure/services/keyvault/keyvault_service.py
Labels: provider/azure

#6556 feat(mysql): extract MySQL resource metadata automated
  prowler/providers/azure/services/mysql/mysql_flexible_server_audit_log_connection_activated/mysql_flexible_server_audit_log_connection_activated.py
  prowler/providers/azure/services/mysql/mysql_flexible_server_audit_log_enabled/mysql_flexible_server_audit_log_enabled.py
  prowler/providers/azure/services/mysql/mysql_flexible_server_minimum_tls_version_12/mysql_flexible_server_minimum_tls_version_12.py
  prowler/providers/azure/services/mysql/mysql_flexible_server_ssl_connection_enabled/mysql_flexible_server_ssl_connection_enabled.py
  prowler/providers/azure/services/mysql/mysql_service.py
  tests/providers/azure/services/mysql/mysql_flexible_server_audit_log_connection_activated/mysql_flexible_server_audit_log_connection_activated_test.py
  tests/providers/azure/services/mysql/mysql_flexible_server_audit_log_enabled/mysql_flexible_server_audit_log_enabled_test.py
  tests/providers/azure/services/mysql/mysql_flexible_server_minimum_tls_version_12/mysql_flexible_server_minimum_tls_version_12_test.py
  tests/providers/azure/services/mysql/mysql_flexible_server_ssl_connection_enabled/mysql_flexible_server_ssl_connection_enabled_test.py
  tests/providers/azure/services/mysql/mysql_service_test.py
Labels: provider/azure

#6541 feat(db): Update Django DB manager to use psycopg3 and connection pooling
  .env
  api/.env.example
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/api/db_utils.py
  api/src/backend/config/django/base.py
  api/src/backend/config/django/devel.py
  api/src/backend/config/django/production.py
  api/src/backend/config/django/testing.py
  poetry.lock
Labels: component/api

#6554 feat(monitor): extract monitor resource metadata automated
  prowler/providers/azure/services/monitor/monitor_alert_create_policy_assignment/monitor_alert_create_policy_assignment.py
  prowler/providers/azure/services/monitor/monitor_alert_create_update_nsg/monitor_alert_create_update_nsg.py
  prowler/providers/azure/services/monitor/monitor_alert_create_update_public_ip_address_rule/monitor_alert_create_update_public_ip_address_rule.py
  prowler/providers/azure/services/monitor/monitor_alert_create_update_security_solution/monitor_alert_create_update_security_solution.py
  prowler/providers/azure/services/monitor/monitor_alert_create_update_sqlserver_fr/monitor_alert_create_update_sqlserver_fr.py
  prowler/providers/azure/services/monitor/monitor_alert_delete_nsg/monitor_alert_delete_nsg.py
  prowler/providers/azure/services/monitor/monitor_alert_delete_policy_assignment/monitor_alert_delete_policy_assignment.py
  prowler/providers/azure/services/monitor/monitor_alert_delete_public_ip_address_rule/monitor_alert_delete_public_ip_address_rule.py
  prowler/providers/azure/services/monitor/monitor_alert_delete_security_solution/monitor_alert_delete_security_solution.py
  prowler/providers/azure/services/monitor/monitor_alert_delete_sqlserver_fr/monitor_alert_delete_sqlserver_fr.py
  prowler/providers/azure/services/monitor/monitor_diagnostic_setting_with_appropriate_categories/monitor_diagnostic_setting_with_appropriate_categories.py
  prowler/providers/azure/services/monitor/monitor_diagnostic_settings_exists/monitor_diagnostic_settings_exists.py
  prowler/providers/azure/services/monitor/monitor_service.py
  prowler/providers/azure/services/monitor/monitor_storage_account_with_activity_logs_cmk_encrypted/monitor_storage_account_with_activity_logs_cmk_encrypted.py
  prowler/providers/azure/services/monitor/monitor_storage_account_with_activity_logs_is_private/monitor_storage_account_with_activity_logs_is_private.py
Labels: provider/azure

#6542 feat(entra): extract Entra resource metadata automated
  prowler/providers/azure/services/entra/entra_conditional_access_policy_require_mfa_for_management_api/entra_conditional_access_policy_require_mfa_for_management_api.py
  prowler/providers/azure/services/entra/entra_global_admin_in_less_than_five_users/entra_global_admin_in_less_than_five_users.py
  prowler/providers/azure/services/entra/entra_non_privileged_user_has_mfa/entra_non_privileged_user_has_mfa.py
  prowler/providers/azure/services/entra/entra_policy_default_users_cannot_create_security_groups/entra_policy_default_users_cannot_create_security_groups.py
  prowler/providers/azure/services/entra/entra_policy_ensure_default_user_cannot_create_apps/entra_policy_ensure_default_user_cannot_create_apps.py
  prowler/providers/azure/services/entra/entra_policy_ensure_default_user_cannot_create_tenants/entra_policy_ensure_default_user_cannot_create_tenants.py
  prowler/providers/azure/services/entra/entra_policy_guest_invite_only_for_admin_roles/entra_policy_guest_invite_only_for_admin_roles.py
  prowler/providers/azure/services/entra/entra_policy_guest_users_access_restrictions/entra_policy_guest_users_access_restrictions.py
  prowler/providers/azure/services/entra/entra_policy_restricts_user_consent_for_apps/entra_policy_restricts_user_consent_for_apps.py
  prowler/providers/azure/services/entra/entra_policy_user_consent_for_verified_apps/entra_policy_user_consent_for_verified_apps.py
  prowler/providers/azure/services/entra/entra_privileged_user_has_mfa/entra_privileged_user_has_mfa.py
  prowler/providers/azure/services/entra/entra_security_defaults_enabled/entra_security_defaults_enabled.py
  prowler/providers/azure/services/entra/entra_service.py
  prowler/providers/azure/services/entra/entra_trusted_named_locations_exists/entra_trusted_named_locations_exists.py
  prowler/providers/azure/services/entra/entra_user_with_vm_access_has_mfa/entra_user_with_vm_access_has_mfa.py
  prowler/providers/azure/services/entra/entra_users_cannot_create_microsoft_365_groups/entra_users_cannot_create_microsoft_365_groups.py
  tests/providers/azure/services/entra/entra_conditional_access_policy_require_mfa_for_management_api/entra_conditional_access_policy_require_mfa_for_management_api_test.py
  tests/providers/azure/services/entra/entra_global_admin_in_less_than_five_users/entra_global_admin_in_less_than_five_users_test.py
  tests/providers/azure/services/entra/entra_non_privileged_user_has_mfa/entra_non_privileged_user_has_mfa_test.py
  tests/providers/azure/services/entra/entra_privileged_user_has_mfa/entra_privileged_user_has_mfa_test.py
  tests/providers/azure/services/entra/entra_security_defaults_enabled/entra_security_defaults_enabled_test.py
  tests/providers/azure/services/entra/entra_service_test.py
  tests/providers/azure/services/entra/entra_trusted_named_locations_exists/entra_trusted_named_locations_exists_test.py
  tests/providers/azure/services/entra/entra_user_with_vm_access_has_mfa/entra_user_with_vm_access_has_mfa_test.py
Labels: provider/azure

#6558 feat(policy): extract Policy resource metadata automated
  prowler/providers/azure/services/policy/policy_ensure_asc_enforcement_enabled/policy_ensure_asc_enforcement_enabled.py
  prowler/providers/azure/services/policy/policy_service.py
  tests/providers/azure/services/policy/policy_ensure_asc_enforcement_enabled/policy_ensure_asc_enforcement_enabled_test.py
  tests/providers/azure/services/policy/policy_service_test.py
Labels: provider/azure

#6537 fix(detect_secrets): refactor logic for detect-secrets
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_variables/awslambda_function_no_secrets_in_variables.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_no_environment_secrets/ecs_task_definitions_no_environment_secrets.py
  tests/providers/aws/services/ecs/ecs_task_definitions_no_environment_secrets/ecs_task_definitions_no_environment_secrets_test.py
Labels: provider/aws, backport-to-v4.6, backport-to-v5.1

#6560 feat(postgresql): extract PostgreSQL resource metadata automated
  prowler/providers/azure/services/postgresql/postgresql_flexible_server_allow_access_services_disabled/postgresql_flexible_server_allow_access_services_disabled.py
  prowler/providers/azure/services/postgresql/postgresql_flexible_server_connection_throttling_on/postgresql_flexible_server_connection_throttling_on.py
  prowler/providers/azure/services/postgresql/postgresql_flexible_server_enforce_ssl_enabled/postgresql_flexible_server_enforce_ssl_enabled.py
  prowler/providers/azure/services/postgresql/postgresql_flexible_server_log_checkpoints_on/postgresql_flexible_server_log_checkpoints_on.py
  prowler/providers/azure/services/postgresql/postgresql_flexible_server_log_connections_on/postgresql_flexible_server_log_connections_on.py
  prowler/providers/azure/services/postgresql/postgresql_flexible_server_log_disconnections_on/postgresql_flexible_server_log_disconnections_on.py
  prowler/providers/azure/services/postgresql/postgresql_flexible_server_log_retention_days_greater_3/postgresql_flexible_server_log_retention_days_greater_3.py
Labels: provider/azure

#6551 feat(aws): include resource metadata to remaining checks
  prowler/providers/aws/services/backup/backup_plans_exist/backup_plans_exist.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_cross_account_sharing_disabled/cloudwatch_cross_account_sharing_disabled.py
  prowler/providers/aws/services/directconnect/directconnect_virtual_interface_redundancy/directconnect_virtual_interface_redundancy.py
  prowler/providers/aws/services/efs/efs_mount_target_not_publicly_accessible/efs_mount_target_not_publicly_accessible.py
  prowler/providers/aws/services/elbv2/elbv2_insecure_ssl_ciphers/elbv2_insecure_ssl_ciphers.py
  prowler/providers/aws/services/eventbridge/eventbridge_bus_cross_account_access/eventbridge_bus_cross_account_access.py
  prowler/providers/aws/services/iam/iam_user_accesskey_unused/iam_user_accesskey_unused.py
  prowler/providers/aws/services/route53/route53_dangling_ip_subdomain_takeover/route53_dangling_ip_subdomain_takeover.py
  prowler/providers/aws/services/sagemaker/sagemaker_models_vpc_settings_configured/sagemaker_models_vpc_settings_configured.py
  prowler/providers/aws/services/shield/shield_advanced_protection_in_internet_facing_load_balancers/shield_advanced_protection_in_internet_facing_load_balancers.py
  prowler/providers/aws/services/sns/sns_subscription_not_using_http_endpoints/sns_subscription_not_using_http_endpoints.py
  prowler/providers/aws/services/ssm/ssm_document_secrets/ssm_document_secrets.py
Labels: provider/aws

#6559 fix(cis): add subsections if needed
  prowler/compliance/aws/cis_1.4_aws.json
  prowler/compliance/aws/cis_1.5_aws.json
  prowler/compliance/aws/cis_2.0_aws.json
  prowler/compliance/aws/cis_3.0_aws.json
  prowler/compliance/azure/cis_2.0_azure.json
  prowler/compliance/azure/cis_2.1_azure.json
  prowler/compliance/azure/cis_3.0_azure.json
  prowler/compliance/gcp/cis_2.0_gcp.json
  prowler/compliance/gcp/cis_3.0_gcp.json
  prowler/compliance/kubernetes/cis_1.10_kubernetes.json
  prowler/compliance/kubernetes/cis_1.8_kubernetes.json
  prowler/lib/check/compliance_models.py
  prowler/lib/outputs/compliance/cis/cis_aws.py
  prowler/lib/outputs/compliance/cis/cis_azure.py
  prowler/lib/outputs/compliance/cis/cis_gcp.py
  prowler/lib/outputs/compliance/cis/cis_kubernetes.py
  prowler/lib/outputs/compliance/cis/models.py
  tests/lib/outputs/compliance/cis/cis_aws_test.py
  tests/lib/outputs/compliance/cis/cis_azure_test.py
  tests/lib/outputs/compliance/cis/cis_gcp_test.py
  tests/lib/outputs/compliance/cis/cis_kubernetes_test.py
  tests/lib/outputs/compliance/fixtures.py
Labels: backport-to-v4.6, backport-to-v5.1

#6564 feat(vm): extract VM resource metadata automated
  prowler/providers/azure/services/vm/vm_ensure_attached_disks_encrypted_with_cmk/vm_ensure_attached_disks_encrypted_with_cmk.py
  prowler/providers/azure/services/vm/vm_ensure_unattached_disks_encrypted_with_cmk/vm_ensure_unattached_disks_encrypted_with_cmk.py
  prowler/providers/azure/services/vm/vm_ensure_using_managed_disks/vm_ensure_using_managed_disks.py
  prowler/providers/azure/services/vm/vm_service.py
  prowler/providers/azure/services/vm/vm_trusted_launch_enabled/vm_trusted_launch_enabled.py
  tests/providers/azure/services/vm/vm_ensure_using_managed_disks/vm_ensure_using_managed_disks_test.py
  tests/providers/azure/services/vm/vm_trusted_launch_enabled/vm_trusted_launch_enabled_test.py
Labels: provider/azure

#6563 feat(storage): extract Storage resource metadata automated
  prowler/providers/azure/services/storage/storage_blob_public_access_level_is_disabled/storage_blob_public_access_level_is_disabled.py
  prowler/providers/azure/services/storage/storage_default_network_access_rule_is_denied/storage_default_network_access_rule_is_denied.py
  prowler/providers/azure/services/storage/storage_ensure_azure_services_are_trusted_to_access_is_enabled/storage_ensure_azure_services_are_trusted_to_access_is_enabled.py
  prowler/providers/azure/services/storage/storage_ensure_encryption_with_customer_managed_keys/storage_ensure_encryption_with_customer_managed_keys.py
  prowler/providers/azure/services/storage/storage_ensure_minimum_tls_version_12/storage_ensure_minimum_tls_version_12.py
  prowler/providers/azure/services/storage/storage_ensure_private_endpoints_in_storage_accounts/storage_ensure_private_endpoints_in_storage_accounts.py
  prowler/providers/azure/services/storage/storage_ensure_soft_delete_is_enabled/storage_ensure_soft_delete_is_enabled.py
  prowler/providers/azure/services/storage/storage_infrastructure_encryption_is_enabled/storage_infrastructure_encryption_is_enabled.py
  prowler/providers/azure/services/storage/storage_key_rotation_90_days/storage_key_rotation_90_days.py
  prowler/providers/azure/services/storage/storage_secure_transfer_required_is_enabled/storage_secure_transfer_required_is_enabled.py
Labels: provider/azure

#6555 feat(network): extract Network resource metadata automated
  prowler/providers/azure/services/network/network_bastion_host_exists/network_bastion_host_exists.py
  prowler/providers/azure/services/network/network_flow_log_captured_sent/network_flow_log_captured_sent.py
  prowler/providers/azure/services/network/network_flow_log_more_than_90_days/network_flow_log_more_than_90_days.py
  prowler/providers/azure/services/network/network_http_internet_access_restricted/network_http_internet_access_restricted.py
  prowler/providers/azure/services/network/network_public_ip_shodan/network_public_ip_shodan.py
  prowler/providers/azure/services/network/network_rdp_internet_access_restricted/network_rdp_internet_access_restricted.py
  prowler/providers/azure/services/network/network_ssh_internet_access_restricted/network_ssh_internet_access_restricted.py
  prowler/providers/azure/services/network/network_udp_internet_access_restricted/network_udp_internet_access_restricted.py
  prowler/providers/azure/services/network/network_watcher_enabled/network_watcher_enabled.py
Labels: provider/azure

#6569 fix(gcp): fix flaky tests from dns service
  tests/providers/gcp/services/dns/dns_dnssec_disabled/dns_dnssec_disabled_test.py
  tests/providers/gcp/services/dns/dns_rsasha1_in_use_to_key_sign_in_dnssec/dns_rsasha1_in_use_to_key_sign_in_dnssec_test.py
  tests/providers/gcp/services/dns/dns_rsasha1_in_use_to_zone_sign_in_dnssec/dns_rsasha1_in_use_to_zone_sign_in_dnssec_test.py
Labels: provider/gcp

#6575 feat(findings): add first seen in findings details
  ui/components/findings/table/finding-detail.tsx
  ui/components/ui/entities/index.ts
  ui/components/ui/entities/info-field.tsx
  ui/types/components.ts
Labels: component/ui

#6578 fix(findings): remove filter delta_in applied by default
  ui/app/(prowler)/findings/page.tsx
Labels: component/ui, backport-to-v5.1

#6581 fix(providers): update the label and placeholder based on the cloud provider
  ui/components/providers/workflow/forms/connect-account-form.tsx
Labels: component/ui, backport-to-v5.1

#6583 fix: add missing Check_Report_Azure parameters
  prowler/providers/azure/services/entra/entra_conditional_access_policy_require_mfa_for_management_api/entra_conditional_access_policy_require_mfa_for_management_api.py
  prowler/providers/azure/services/entra/entra_non_privileged_user_has_mfa/entra_non_privileged_user_has_mfa.py
  prowler/providers/azure/services/monitor/monitor_diagnostic_settings_exists/monitor_diagnostic_settings_exists.py
Labels: provider/azure

#6576 fix(apigatewayv2): managed exception `NotFoundException`
  prowler/providers/aws/services/apigatewayv2/apigatewayv2_service.py
  tests/providers/aws/services/apigatewayv2/apigatewayv2_service_test.py
Labels: provider/aws, backport-to-v4.6, backport-to-v5.1

#6602 fix(RBAC): restore manage_account permission for roles
  ui/actions/roles/roles.ts
  ui/components/roles/workflow/forms/add-role-form.tsx
  ui/components/roles/workflow/forms/edit-role-form.tsx
Labels: component/ui, backport-to-v5.1

#6607 feat(api): restrict the deletion of users, only the user of the request can be deleted
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/views.py
Labels: component/api

#6609 fix(RBAC): tweaks for edit role form
  ui/actions/manage-groups/manage-groups.ts
  ui/components/manage-groups/forms/edit-group-form.tsx
  ui/components/ui/custom/custom-dropdown-selection.tsx
Labels: component/ui, backport-to-v5.1

#6608 fix(rbac): remove invalid required permission
  api/src/backend/api/v1/views.py
Labels: component/api

#6612 chore(RBAC): add permission's info
  ui/actions/manage-groups/manage-groups.ts
  ui/components/roles/workflow/forms/add-role-form.tsx
  ui/components/roles/workflow/forms/edit-role-form.tsx
  ui/lib/helper.ts
  ui/tailwind.config.js
  ui/types/components.ts
Labels: component/ui

#6605 fix(aws): list tags for DocumentDB clusters
  prowler/providers/aws/services/documentdb/documentdb_service.py
  tests/providers/aws/services/documentdb/documentdb_service_test.py
Labels: provider/aws, backport-to-v3, backport-to-v4.6, backport-to-v5.1

#6611 fix: update Azure CIS with existing App checks
  prowler/compliance/azure/cis_2.1_azure.json
  prowler/compliance/azure/cis_3.0_azure.json
Labels: backport-to-v3, backport-to-v4.6, backport-to-v5.1

#6656 feat(providers): make external id field mandatory in the aws role secret form
  ui/actions/providers/providers.ts
  ui/app/(prowler)/providers/(set-up-provider)/launch-scan/page.tsx
  ui/app/(prowler)/providers/(set-up-provider)/test-connection/page.tsx
  ui/components/providers/workflow/forms/launch-scan-form.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/providers/workflow/forms/update-via-role-form.tsx
  ui/components/providers/workflow/forms/via-credentials/aws-credentials-form.tsx
  ui/components/providers/workflow/forms/via-role-form.tsx
  ui/components/providers/workflow/forms/via-role/aws-role-form.tsx
  ui/components/providers/workflow/index.ts
  ui/components/providers/workflow/skeleton-provider-workflow.tsx
  ui/components/providers/workflow/workflow-add-provider.tsx
  ui/types/components.ts
  ui/types/formSchemas.ts
Labels: component/ui

#6660 feat(providers): show the cloud formation and terraform template links on the form
  ui/app/(prowler)/providers/(set-up-provider)/layout.tsx
  ui/components/providers/workflow/credentials-role-helper.tsx
  ui/components/providers/workflow/forms/via-role/aws-role-form.tsx
  ui/components/providers/workflow/index.ts
  ui/components/providers/workflow/workflow-add-provider.tsx
  ui/components/ui/custom/custom-input.tsx
Labels: component/ui

#6657 chore(api): Use prowler from master
  api/poetry.lock
  api/pyproject.toml
Labels: component/api

#6654 fix: add detector and line number of potential secret
  prowler/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets.py
  tests/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets_test.py
Labels: provider/aws, backport-to-v4.6, backport-to-v5.0, backport-to-v5.1

#6544 feat(detect-secrets): get secrets plugins from config.yaml
  prowler/config/config.yaml
  prowler/lib/utils/utils.py
  prowler/providers/aws/services/autoscaling/autoscaling_find_secrets_ec2_launch_configuration/autoscaling_find_secrets_ec2_launch_configuration.py
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_code/awslambda_function_no_secrets_in_code.py
  prowler/providers/aws/services/awslambda/awslambda_function_no_secrets_in_variables/awslambda_function_no_secrets_in_variables.py
  prowler/providers/aws/services/cloudformation/cloudformation_stack_outputs_find_secrets/cloudformation_stack_outputs_find_secrets.py
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_no_secrets_in_logs/cloudwatch_log_group_no_secrets_in_logs.py
  prowler/providers/aws/services/codebuild/codebuild_project_no_secrets_in_variables/codebuild_project_no_secrets_in_variables.py
  prowler/providers/aws/services/ec2/ec2_instance_secrets_user_data/ec2_instance_secrets_user_data.py
  prowler/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets.py
  prowler/providers/aws/services/ecs/ecs_task_definitions_no_environment_secrets/ecs_task_definitions_no_environment_secrets.py
  prowler/providers/aws/services/ssm/ssm_document_secrets/ssm_document_secrets.py
  tests/lib/utils/utils_test.py
  tests/providers/aws/services/ec2/ec2_launch_template_no_secrets/ec2_launch_template_no_secrets_test.py
  tests/providers/aws/services/ssm/ssm_document_secrets/ssm_document_secrets_test.py
Labels: provider/aws

#6665 chore(scans): improve scan details
  ui/app/(prowler)/providers/(set-up-provider)/layout.tsx
  ui/app/(prowler)/providers/page.tsx
  ui/app/(prowler)/scans/page.tsx
  ui/components/providers/add-provider-button.tsx
  ui/components/providers/workflow/forms/test-connection-form.tsx
  ui/components/providers/workflow/workflow-add-provider.tsx
  ui/components/scans/no-providers-added.tsx
  ui/components/scans/no-providers-connected.tsx
  ui/components/scans/table/scan-detail.tsx
  ui/components/scans/table/scans/data-table-row-details.tsx
  ui/components/ui/custom/custom-alert-modal.tsx
  ui/components/ui/entities/info-field.tsx
Labels: component/ui

#6669 chore: adjust DateWithTime component height when used with InfoField
  ui/components/ui/entities/date-with-time.tsx
Labels: component/ui

#6670 chore(api): Bump to v1.3.0
  api/pyproject.toml
Labels: component/api

#6671 fix(cloudwatch): NoneType object is not iterable
  prowler/providers/aws/services/cloudwatch/cloudwatch_log_group_not_publicly_accessible/cloudwatch_log_group_not_publicly_accessible.py
Labels: provider/aws, backport-to-v4.6, backport-to-v5.0, backport-to-v5.1, backport-to-v5.2

#5902 feat(m365): add Microsoft 365 provider
  prowler/__main__.py
  prowler/compliance/microsoft365/__init__.py
  prowler/compliance/microsoft365/cis_4.0_microsoft365.json
  prowler/config/config.py
  prowler/config/microsoft365_mutelist_example.yaml
  prowler/lib/check/models.py
  prowler/lib/cli/parser.py
  prowler/lib/outputs/compliance/cis/cis_microsoft365.py
  prowler/lib/outputs/compliance/cis/models.py
  prowler/lib/outputs/finding.py
  prowler/lib/outputs/html/html.py
  prowler/lib/outputs/outputs.py
  prowler/lib/outputs/summary_table.py
  prowler/providers/common/provider.py
  prowler/providers/microsoft365/__init__.py
  prowler/providers/microsoft365/exceptions/exceptions.py
  prowler/providers/microsoft365/lib/__init__.py
  prowler/providers/microsoft365/lib/arguments/__init__.py
  prowler/providers/microsoft365/lib/arguments/arguments.py
  prowler/providers/microsoft365/lib/mutelist/__init__.py
  prowler/providers/microsoft365/lib/mutelist/mutelist.py
  prowler/providers/microsoft365/lib/regions/__init__.py
  prowler/providers/microsoft365/lib/regions/microsoft365_regions.py
  prowler/providers/microsoft365/lib/service/__init__.py
  prowler/providers/microsoft365/lib/service/service.py
  prowler/providers/microsoft365/microsoft365_provider.py
  prowler/providers/microsoft365/models.py
  prowler/providers/microsoft365/services/admincenter/__init__.py
  prowler/providers/microsoft365/services/admincenter/admincenter_client.py
  prowler/providers/microsoft365/services/admincenter/admincenter_groups_not_public_visibility/__init__.py
  prowler/providers/microsoft365/services/admincenter/admincenter_groups_not_public_visibility/admincenter_groups_not_public_visibility.metadata.json
  prowler/providers/microsoft365/services/admincenter/admincenter_groups_not_public_visibility/admincenter_groups_not_public_visibility.py
  prowler/providers/microsoft365/services/admincenter/admincenter_service.py
  prowler/providers/microsoft365/services/admincenter/admincenter_users_admins_reduced_license_footprint/__init__.py
  prowler/providers/microsoft365/services/admincenter/admincenter_users_admins_reduced_license_footprint/admincenter_users_admins_reduced_license_footprint.metadata.json
  prowler/providers/microsoft365/services/admincenter/admincenter_users_admins_reduced_license_footprint/admincenter_users_admins_reduced_license_footprint.py
  prowler/providers/microsoft365/services/admincenter/admincenter_users_between_two_and_four_global_admins/__init__.py
  prowler/providers/microsoft365/services/admincenter/admincenter_users_between_two_and_four_global_admins/admincenter_users_between_two_and_four_global_admins.metadata.json
  prowler/providers/microsoft365/services/admincenter/admincenter_users_between_two_and_four_global_admins/admincenter_users_between_two_and_four_global_admins.py
  tests/lib/cli/parser_test.py
  tests/providers/azure/azure_provider_test.py
  tests/providers/microsoft365/lib/mutelist/fixtures/microsoft365_mutelist.yaml
  tests/providers/microsoft365/lib/mutelist/microsoft365_mutelist_test.py
  tests/providers/microsoft365/lib/regions/microsoft365_regions_test.py
  tests/providers/microsoft365/microsoft365_fixtures.py
  tests/providers/microsoft365/microsoft365_provider_test.py
  tests/providers/microsoft365/services/admincenter/admincenter_groups_not_public_visibility/admincenter_groups_not_public_visibility_test.py
  tests/providers/microsoft365/services/admincenter/admincenter_service_test.py
  tests/providers/microsoft365/services/admincenter/admincenter_users_admins_reduced_license_footprint/admincenter_users_admins_reduced_license_footprint_test.py
  tests/providers/microsoft365/services/admincenter/admincenter_users_between_two_and_four_global_admins/admincenter_users_between_two_and_four_global_admins_test.py
Labels: provider/azure, output/html

#6708 fix: fixed bug when opening finding details while a scan is in progress
  ui/components/ui/entities/date-with-time.tsx
Labels: component/ui, backport-to-v5.2

#6711 fix(scans, findings): Improve API performance ordering by inserted_at instead of id
  api/pyproject.toml
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/v1/views.py
Labels: component/api, backport-to-v5.2

#6713 fix(scans): filters and sorting for scan table
  ui/app/(prowler)/scans/page.tsx
  ui/components/filters/data-filters.ts
  ui/components/scans/table/scans/column-get-scans.tsx
Labels: component/ui, backport-to-v5.2

#6716 fix(scan-summaries): Improve efficiency on providers overview
  api/src/backend/api/migrations/0007_scan_and_scan_summaries_indexes.py
  api/src/backend/api/models.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/views.py
Labels: component/api, backport-to-v5.2

#6717 revert: Update Django DB manager to use psycopg3 and connection pooling
  .env
  api/.env.example
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/api/db_utils.py
  api/src/backend/config/django/base.py
  api/src/backend/config/django/devel.py
  api/src/backend/config/django/production.py
  api/src/backend/config/django/testing.py
  poetry.lock
Labels: component/api, backport-to-v5.2

#6722 fix(migrations): Use indexes instead of constraints to define an index
  api/src/backend/api/migrations/0007_scan_and_scan_summaries_indexes.py
  api/src/backend/api/models.py
Labels: component/api, backport-to-v5.2

#6731 fix(sns): Add region to subscriptions
  prowler/providers/aws/services/sns/sns_service.py
  tests/providers/aws/services/sns/sns_subscription_not_using_http_endpoints/sns_subscription_not_using_http_endpoints_test.py
Labels: provider/aws, backport-to-v5.2

#6697 fix(aws): iam_user_with_temporary_credentials resource in OCSF
  prowler/providers/aws/services/iam/iam_user_with_temporary_credentials/iam_user_with_temporary_credentials.py
Labels: provider/aws, backport-to-v5.2

#6739 fix(acm): Key Error DomainName
  prowler/providers/aws/services/acm/acm_service.py
Labels: provider/aws, backport-to-v5.2

#6738 fix(finding): raise when generating invalid findings
  prowler/__main__.py
  prowler/lib/outputs/finding.py
  prowler/lib/scan/scan.py
  tests/lib/outputs/finding_test.py
Labels: backport-to-v5.2

#6743 fix(neptune): correct service name
  prowler/providers/aws/services/neptune/neptune_cluster_iam_authentication_enabled/neptune_cluster_iam_authentication_enabled.metadata.json
Labels: provider/aws, backport-to-v5.2

#6748 feat(findings): Improve /findings/metadata performance
  api/poetry.lock
  api/pyproject.toml
  api/src/backend/api/db_router.py
  api/src/backend/api/filters.py
  api/src/backend/api/specs/v1.yaml
  api/src/backend/api/tests/test_views.py
  api/src/backend/api/v1/serializers.py
  api/src/backend/api/v1/urls.py
  api/src/backend/api/v1/views.py
  api/src/backend/config/django/devel.py
  api/src/backend/tasks/jobs/scan.py
Labels: component/api, backport-to-v5.2

#6751 fix(set_report_color): Add more details to error
  prowler/lib/outputs/outputs.py
  tests/lib/outputs/outputs_test.py
Labels: backport-to-v5.2

#6753 feat(scans): Optimize read queries during scans
  api/src/backend/tasks/jobs/scan.py
Labels: component/api, backport-to-v5.2

#6754 fix(db_event): Handle other events
  prowler/providers/aws/services/rds/rds_instance_critical_event_subscription/rds_instance_critical_event_subscription.py
  tests/providers/aws/services/rds/rds_instance_critical_event_subscription/rds_instance_critical_event_subscription_test.py
Labels: provider/aws, backport-to-v5.2

#6761 fix(celery): Kill celery worker process after every task to release memory
  api/docker-entrypoint.sh
Labels: component/api, backport-to-v5.2
